.mod-nav-content {
	width: 100%;
	padding-right: 20px;
	margin-left: 20px;
	min-height:1px; // important: prevents collapsing of gu-4 if nav is empty

	#border .border-std(0, 0, 0, 0px);

	// put margins on ul to not have it if module is empty
	.content-nav-ul{
		margin-top: 10px; // general distance (margin on breadcrumb) on content page is too small
		margin-bottom: 30px; // to have distance to possible link-list below nav content
	}


	.accordion-item {
		position: relative;
		#border .border-std(0, 0, 1px, 0);

		&:first-child{
			#border .border-std(1px, 0, 1px, 0);
		}

		&.is-expanded {
			background-color: @c-greyC;
			.spring .badge {
				display: inline-block;
			}
			& > .badge {
				display:none;
			}
		}
	}

	.icon-indicator {
		position: absolute;
		left: 10px;
		top: 12px;

		.s-polygon-down-lightblue();

		&:hover {
			.s-polygon-down-blue();
		}
	}

	.is-expanded .icon-indicator {
		.s-polygon-up-lightblue();

		&:hover {
			.s-polygon-up-blue();
		}
	}

	.badge {
		.s-polygon-red-bg();
		#typo > .size-xs();

		margin-left: 10px;
		color: @c-white;
		text-align: center;
		padding-top: 5px;
		vertical-align: middle;
		position: relative;
	}

}
