@import 'global-utilities';

.button {
  @include font-size(15px);
  @include line-height(18px);

  border: 1px solid transparent;
  border-radius: 2px;
  color: $colour-white;
  font-weight: $font-weight-semiBold;
  height: 41px;
  padding: ($spacing-unit * 2);
  position: relative;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include transition(background-color 0.2s ease);
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &--red {
    background-color: $colour-red;
    border: 1px solid $colour-red;

    &:hover {
      background-color: $colour-dark-red;
      border-color: $colour-dark-red;
    }
  }

  &--white {
    background-color: $colour-white;
  }

  &--green {
    background-color: $colour-green;
    border: 1px solid $colour-green;

    &:hover {
      background-color: $colour-dark-green;
      border-color: $colour-dark-green;
    }
  }

  &--grey {
    background-color: $colour-pale-grey;
    border: 1px solid $colour-mid-grey;
    color: $colour-black;

    &:hover {
      @include transition(background-color 0.2s ease);
      background-color: $colour-light-grey;
    }
  }

  &--orange {
    color: $colour-black;
    background-color: $colour-orange;
    border: 1px solid $colour-orange;

    &:hover {
      background-color: $colour-dark-orange;
    }
  }

  &--outline-orange {
    color: $colour-black;
    background-color: $colour-white;
    border: 1px solid $colour-orange;
  }

  &--fixed-width {
    width: 150px;
  }

  &--sm {
    height: 30px;
    padding: $spacing-unit ($spacing-unit * 2);
  }

  &--sm-text {
    @include font-size(12px);
    font-weight: $font-weight-normal;
  }

  &[disabled] {
    cursor: not-allowed;
    background: $colour-light-grey;
    border-color: $colour-light-grey;
    color: $colour-mid-grey;
    opacity: $disabled-opacity;
  }
}
