@import 'global-utilities';

.accessories {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit * 5 - 1;
  margin-top: $spacing-unit * 5 - 1;

  @include tabletPlusDown {
    margin-top: 0;
  }

  @include desktop {
    gap: $spacing-unit * 4;
  }

  .header-title {
    margin: 0;
    margin-bottom: -($spacing-unit * 5 - 1);
    @include typography-display-xl();
  }

  &-item {
    padding-top: ($spacing-unit * 3 + 1);

    @include mobileOnly {
      flex-basis: 50%;
    }

    @include tablet {
      min-width: 33%;
    }

    @include desktop {
      min-width: 25%;
    }

    &.mw-50 {
      max-width: 50%;
    }
  }
}
.view-button {
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-unit * 5 - 1;

  @include desktop {
    margin-bottom: $spacing-unit * 4;
  }
}

.no-view-button {
  margin-bottom: $spacing-unit * 8;
}

.d-none-ipad {
  @include tabletOnly {
    display: none;
  }
}

.d-none-ipad {
  @include tabletPlusOnly {
    display: none;
  }
}

.hideIfMobile {
  @include mobilePlusDown {
    display: none !important;
  }
}
