.skin-login-checkout-reset-password {
  background-color: $colour-white;
  box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) rgba(0, 0, 0, .15);
  padding: $spacing-unit * 6;

  .resetPassword {

    small {
      @include font-size(14px);
    }

    &__title {

      h2, p {
        color: $colour-black;
        font-weight: 500;
      }

      h2 {
        @include font-size(24px);
        @include line-height(40px);
        margin-top: 0;
        margin-bottom: $spacing-unit * 3;
      }

      p {
        @include font-size(14px);
        margin-bottom: $spacing-unit * 4;
      }


    }

    &__form {

      &__label {
        @include font-size(14px);
        margin-bottom: $spacing-unit;
        color: $colour-black;
        font-weight: 500;
      }

      &__field {
        margin-bottom: $spacing-unit * 4;

        input {
          width: 100%;
          height: $ux-form-el-height;
          border: 1px solid $ux-input-border-color;
          border-radius: $ux-form-el-border-radius;

          &.error {
            border: 2px solid lighten($colour-dist-red, 20%);
          }

        }

        .pwd-reveal {
          cursor: pointer;
          position: absolute;
          right: 15px;
          top: 8px;
        }

        .field-msgs {

          .error {
            @include font-size(14px);
            color: $colour-dist-red;
            margin-top: $spacing-unit * 2;
          }

        }

      }

      &__remember {
        @include font-size(14px);
        margin-bottom: $spacing-unit * 5;

        input {

          &[type="checkbox"] {
            clip: auto;
            height: auto;
            margin: -($spacing-unit - 1) ($spacing-unit) 0 0;
            position: inherit;
            width: auto;
          }

        }

        label {

          &::before {
            display: none;
          }

        }

      }

      &__backToLogin {
        @include font-size(14px);
        margin-top: $spacing-unit * 5;
        text-align: center;

        span {
          color: $link-blue;

          &:hover {
            color: $link-dark-blue;
            text-decoration: underline;
          }

        }

      }
    }
  }
}
