.mod-user-channel-toggle {
    .active {
        cursor: pointer !important;
    }

    .container {
        background-color: $colour-dist-red;
        border-width: 2px;
        border-radius: 5px;
        cursor: default;
        display: inline-flex;
        padding: $spacing-unit;
    }

    .indicator {
        background-color: $colour-dist-mid-grey;
        border-width: 2px;
        border-radius: 5px;
        height: 25px;
        width: 25px;

        &__left {
            padding-right: $spacing-unit;
        }

        &__right {
            padding-left: $spacing-unit;
        }
    }

    .label {
        color: $colour-white;
        @include font-size(14px);
        font-weight: 500;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }

    .personal {
        background-color: $colour-checkout-blue;
    }
}