.skin-facets-plp-filter-view {
  background-color: $colour-white;
  border: 1px solid $plp-facet-mid-grey;
  border-top: 5px solid $colour-dist-carmine;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  padding: ($spacing-unit*2) ($spacing-unit*2) ($spacing-unit*6) ($spacing-unit*2);
  display: block;

  .xmod-facets {
    height: 235px;
    overflow-y: auto;
  }

  .facet-group {

    &.type-slider {
      display: none;
    }

  }

  .xmod-filter {

    &__matched-products-count {
      display: inline-block;
      font-weight: 700;
      margin-right: $spacing-unit;
    }

  }

  .facet-view {

    &__more-scroll-wrapper {
      background: linear-gradient(to bottom, transparent 0%, $colour-white 60%);
      bottom: $spacing-unit*3;
      filter: progid:DXImageTransform.Microsoft.gradient(
                      gradientType=0, startColor=0, endColorStr=#FFFFFF
      );
      left: $spacing-unit*3;
      position: absolute;
      right: $spacing-unit*3;
      height: 80px;
      z-index: 9;
    }

    &__more-scroll-link {
      bottom: $spacing-unit*2;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      text-align: center;

      .fa-chevron-circle-down {
        @include font-size(30px);
        background-color: $colour-white;
        border-radius: 50%;
        color: $colour-dist-carmine;
        display: block;
      }

      .title {
        @include font-size(12px);
        color: $colour-dist-carmine;
      }

    }

    &__link {
      @include font-size(14px);
      border-bottom: 1px solid $plp-facet-mid-grey;
      display: block;
      padding: ($spacing-unit) ($spacing-unit*2);

      .fa-angle-right {
        float: right;
      }

      &:hover {
        background-color: $colour-light-grey;
      }

    }

  }

}