.skin-facets-plp-filter-controllbar {

  .plp-filter-controllbar {

    &__apply-filter {
      @include font-size(14px);
      @include line-height(20px);
      font-family: $font-montserrat;
      font-weight: bold;
      height: auto;
      padding: ($spacing-unit * 2);
      width: 100%;
    }

    &__toggle-filter {
      @include font-size(14px);
      display: none;
      font-weight: bold;
      height: auto;
      padding: $spacing-unit*2;
      width: 100%;
    }

    &__applied-filter-item {
      background-color: $colour-dist-blue;
      border-radius: $spacing-unit - 3;
      display: block;
      font-family: $font-montserrat;
      font-weight: bold;
      padding: ($spacing-unit) ($spacing-unit * 2);
    }

    &__applied-filter-icon {
      color: $colour-white;
      padding: 0 ($spacing-unit);
    }

    &__applied-filter {
      @include font-size(13px);
      color: $colour-white;
      display: inline-block;
    }

    &__applied-filter-block {

      &.col {
        float: left;
        margin-top: $spacing-unit;
        width: 70%;
      }

    }

    &__reset-all-filter {
      @include font-size(13px);
      @include line-height(20px);
      border: 0;
      color: $plp-facet-mid-blue;
      display: inline-block;
      font-family: $font-montserrat;
      font-weight: bold;
      margin: $spacing-unit;
      padding: 0;
      text-align: left;
      vertical-align: top;
      width: auto;
    }

    &__onoffswitch {
      @include font-size(12px);
      color: $plp-facet-mid-black;
      display: inline-block;
      float: right;
      line-height: 30px;
      margin-top: $spacing-unit*2;
      padding-right: ($spacing-unit*2);
      position: relative;
      user-select: none;
    }

    &__onoffswitch-checkbox {
      display: none;
    }

    &__onoffswitch-text {
      display: inline-block;
      margin: 0 ($spacing-unit*2);
      vertical-align: text-bottom;
    }

    &__onoffswitch-label {
      background-color: $colour-dist-green;
      border-radius: 20px;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      margin: 0 ($spacing-unit*2);
      position: relative;
      width: 55px;

      &:before {
        background: none !important;
      }

    }

    &__onoffswitch-switch {
      background-color: $colour-white;
      border: 1px solid $colour-light-grey;
      border-radius: 50%;
      bottom: 0;
      display: block;
      margin: $spacing-unit - 2 ;
      position: absolute;
      top: 0;
      transition: all 0.3s ease-in 0s;
      width: 25px;

      &.showdetailview {
        right: 0;
      }

    }

    .empty-filter-msg {
      display: inline-block;
      margin-right: ($spacing-unit * 2);
    }

  }

}

.productlistpage {

  &__filter-action-bar {
    background-image: linear-gradient($colour-white,$plp-facet-grey 60%);
    display: block;
    padding: ($spacing-unit * 2) ($spacing-unit * 4);

    &.mobile {
      border-top: 1px solid $plp-facet-border-grey;
      bottom: 0;
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      width: 100%;
      z-index: 1000;
    }

    &.sticky {
      left: 0;
      position: fixed;
      top: 80px;
      transition: top .2s ease;
      width: 100%;
      z-index: 10;

      .plp-filter-controllbar {

        &__apply-filter {
          display: none;
        }

        &__toggle-filter {
          display: block;
        }

      }

    }

    .xmod-filter {

      .facet-item {
        float: left;
        margin: 0 ($spacing-unit * 2) ($spacing-unit * 2) 0;

        i {
          background-image: none;
        }

      }

    }

  }

}

.plp-helpprompts-open {

  &:before {
    background: $colour-black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.4;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }

}

.isie7,
.isie8 {

  .skin-facets-plp-filter-controllbar {

    .plp-filter-controllbar {

      .col-lg-2 {
        width: 16.7%;
      }

      .col-lg-10 {
        padding-left: $spacing-unit*4;
        width: 75%;
      }

      &__onoffswitch-label {
        margin: 0;
      }

      &__onoffswitch-checkbox {
        height: 0;
        width: 0;
      }

    }

  }

  .productlistpage {

    &__filter-action-bar {
      background-color: $colour-light-grey;
    }

  }

}

