.mod-carpet-new {

	h2 {
		margin-left: 10px;
		margin-bottom: 32px;
	}
	.carpet-items {
		.cf();
		margin-left: 0px;
	}

	/**
	 * Variant 2: Manual Selection Columns (Teasers and Products, small and large)
	 */
	.items-colum-1,
	.items-colum-2,
	.items-colum-3 {
		float: left;
		margin-right: 20px;
		width: 225px;
	}
	.items-colum-4 {
		float: left;
		width: 220px;
	}
}
