.mod-banner {

  .bannner-hero {
    margin-bottom: $spacing-unit * 4;

    @media #{$ipad} {
      margin: ($spacing-unit * 10) 0 ($spacing-unit * 15);
    }

    &__img-wrapper {
      margin-bottom: $spacing-unit * 4;

      img {
        @include img-fluid();
      }

    }

    &__heading {
      @include font-size(20px);
      @include line-height(24px);
      color: $colour-dark-grey;
      font-weight: 500;
    }

    &__description {
      @include font-size(15px);
      @include line-height(28px);
      color: $colour-dark-grey;
      font-weight: 500;
      margin-top: $spacing-unit * 2;
      overflow: hidden;

      @media #{$ipad} {
        @include font-size(15px);
        @include line-height(24px);
      }

    }

    &__cta {
      display: inline-block;
      font-weight: bold;
      margin-top: $spacing-unit * 4;
      min-width: 157px;
      padding: $spacing-unit * 2 ;
      text-align: center;

      .fa-angle-right {
        margin-left: 10px;
      }

    }

    a {
      display: inherit;
    }

  }

}