.mod-banner {

  .bannner-article {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    font-weight: 500;
    float: left;
    margin-bottom: $spacing-unit * 4;
    overflow: hidden;
    width: 100%;

    @media #{$ipad} {
      margin-bottom: 0;
    }

    &.row {
      margin-left: 0;
      margin-right: 0;
    }

    &__info,
    &__img-wrapper {
      float: left;
      padding: 0;
      width: 100%;

      @media #{$ipad-landscape} {
        width: 50%;
      }

    }

    &__img-wrapper {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      min-height: 245px;
      overflow: hidden;

      img {
        width: 100%;

        @media #{$ipad-landscape} {
          width: inherit;
        }

      }

    }

    &__info {
      border: 1px solid $colour-light-grey;
      background-color: $colour-white;
      order: 2;
      padding: ($spacing-unit * 10) ($spacing-unit * 4) ($spacing-unit * 8) ($spacing-unit * 4);

      @media #{$ipad-landscape} {
        order: 0;
      }

      &__heading {
        @include font-size(16px);
        @include line-height(22px);
        color: $colour-dark-grey;
        display: block;
        font-weight: bold;
        letter-spacing: -0.3px;

        &:link,
        &:visited {
          color: $colour-dark-grey;
        }

      }

      &__description {
        @include font-size(12px);
        @include line-height(20px);
        color: $colour-dark-grey;
        display: block;
        letter-spacing: -0.2px;
        margin-top: $spacing-unit * 2;

        &:link,
        &:visited {
          color: $colour-dark-grey;
        }

      }

      &__cta {
        @include font-size(12px);
        @include line-height(14px);
        display: inline-block;
        font-weight: bold;
        margin-top: $spacing-unit * 4;
        min-width: 97px;
        padding: $spacing-unit ;
        text-align: center;

        .fa-angle-right {
          margin-left: 10px;
        }

      }

    }

    &__content {
      background-color: $colour-white;
    }

  }

}