
.bannner-component {
  position: relative;

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: initial;
  }

  ol,
  ul {
    padding-left: $spacing-unit*4;

    li {
      list-style-type: inherit;
    }

  }


  strong {
    font-style: inherit;
  }

  img {
    width: 100%;
  }

  .bannner {

    &__content {

      &--heading {
        @include font-size(20px);
        @include line-height(24px);
        color: $colour-dark-grey;
        font-weight: 500;
        margin-bottom: $spacing-unit*4;
      }

      &--description {
        @include font-size(15px);
        @include line-height(28px);
        color: $colour-dark-grey;
        overflow: hidden;

        @media #{$ipad} {
          @include font-size(15px);
          @include line-height(24px);
        }

      }

      &--video {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;

        iframe,
        object,
        embed {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

      }

      &--cta {
        display: inline-block;

        @media #{$ipad-landscape} {
          margin-top: $spacing-unit * 8;
        }

        .fa-angle-right {
          margin-left: $spacing-unit*2;
        }

      }

    }

    &__img-wrapper {
      padding: 0;

      &--img {
        background-size: cover;
        background-position: center;
      }

    }

  }

  &--spacer {
    height: 40px;
  }

  &--one,
  &--fifteen {

    &.row {
      margin: 0;
    }

  }

  &--one {
    background-color: $colour-white;
    border: 1px solid $colour-light-grey;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

    @media #{$ipad-landscape} {
      min-height: 300px;
      overflow: hidden;
    }

    &.component-1-mirror-image {
      flex-direction: row-reverse;
    }

    .bannner {

      &__content {
        padding: $spacing-unit*8;
        order: 1;

        @media #{$ipad-landscape} {
          order: 0;
        }

        &--description {

          @media #{$ipad-landscape} {
            min-height: 150px;
          }

        }

        &--cta {
          margin-top: $spacing-unit*8;
        }

      }

      &__img-wrapper {

        &--img {
          min-height: 300px;
          overflow: hidden;

          @media #{$ipad-landscape} {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }

        }

      }

    }

  }

  &--sixteen {
    margin-top: $spacing-unit*4;

    .bannner {

      &__content {
        order: 1;

        @media #{$mobile-landscape} {
          order: 0;
        }

        &--heading {

          margin-top: $spacing-unit*4;

          @media #{$mobile-landscape} {
            margin:0 0 $spacing-unit*4 0;
          }

        }

        &--description {
          margin-top: $spacing-unit*4;
        }

        &--right {

          > div {
            margin-bottom: $spacing-unit*4;

            &:last-child {
              margin-bottom: 0;
            }

          }

        }

      }

    }

    .border-bottom {
      margin: $spacing-unit*4 0;
    }

  }

  &--fifteen {
    min-height: 300px;

    .bannner {

      &__content {
        background-color: $colour-light-grey;
        background-size: cover;
        background-position: center;
        margin: $spacing-unit*4 0;
        padding: $spacing-unit*8;

        &--description {
          min-height: 165px;

          @media #{$ipad-landscape} {
            min-height: 145px;
          }

        }

        &--cta {
          background-color: $colour-white;
          margin-top: $spacing-unit * 4;
        }

      }

    }

  }

  &--four {
    background-size: cover;
    min-height: 300px;

    .bannner {

      &__content {
        background: linear-gradient(to right, rgba(0, 108, 129,0.3), rgba(255, 255, 255, 0.5));
        order: 1;
        padding: $spacing-unit*8;

        @media #{$ipad-landscape} {
          order: 0;
        }

      }

      &__img-wrapper {

        &--img {
          min-height: 300px;
        }

      }

    }
  }

  &--fourteen {
    margin: $spacing-unit*4 0;

    .bannner {

      &__content {
        background-size: cover;
        background-position: center;
        padding: 0;
        width: 100%;

        &--image,
        &--video {
          margin-bottom: $spacing-unit*4;
        }

      }

    }

  }

  &--ten {
    padding: $spacing-unit*4 0;

    &.border-bottom {
      border-bottom: 1px solid $colour-dark-grey;
      padding: $spacing-unit*2 0;
    }

    .bannner {

      &__content {

        &--description {

          p {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }

          }

        }
      }

    }


  }

  &--ten-col2 {

    .bannner {

      &__content {
        padding: 0;

        &:first-child {

          @media #{$ipad} {
            padding-right: $spacing-unit*2;
          }

        }

        &:last-child {

          @media #{$ipad} {
            padding-left: $spacing-unit*2;
          }

        }

      }

    }

  }

  &--eleven {

    .bannner {

      &__content {
        margin: $spacing-unit*4 0;
        padding: 0;
        position: relative;
        width: 100%;

        &--logo {
          position: absolute;
          right: $spacing-unit*4;
          top: $spacing-unit*4;
          width: 32%;
        }

        &--description {
          margin-top: $spacing-unit*4;

          @media #{$ipad-landscape} {
            min-height: 145px;
          }

        }

        &--cta {
          margin-top: $spacing-unit * 4;
        }

      }

    }

  }

  &--thirteen {
    padding: $spacing-unit*4 0;

    .border-bottom {
      border-bottom: 1px solid $border-dist-grey;
      padding: $spacing-unit 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

    }

  }


}

.dist-cmspage {

  .container {
    clear: both;
  }

  .page-wrapper {
    clear: both;
    padding-top: $spacing-unit * 25;

    @media #{$ipad-landscape} {
      padding-top: $spacing-unit * 7;
    }

  }

  .divider {
    display: none;
  }

  .footer {
    margin-top: $spacing-unit*4;

    @media #{$ipad-landscape} {
      margin-top: $spacing-unit*8;
    }

  }

  &--cms-three {

    .left-content,
    .right-content {

      .container {
        padding-left: 0;
        padding-right: 0;
      }

    }


    .right-content {
      border-top: 1px solid $colour-light-grey;
      margin-top: $spacing-unit*4;

      @media #{$ipad-landscape} {
        border: 0;
        margin-top: 0;
      }

    }

  }

}

.parallax {

  .container {

    .row {

      > div {

        &:last-child {

          .bannner {

            &.bannner-component {

              &--ten {
                border-bottom: 0;
              }

            }

          }

        }

      }

    }

  }

}

.simple-banner {

  img {
    height: auto;
    width: 100%;
  }

}


