.mod-banner-ux {
  .ux-banner {
    display: flex;
    padding: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 3;
    border: 1px solid;
    border-radius: 4px;
    font-weight: 400;

    @media #{$ipad} {
      padding: ($spacing-unit * 2) ($spacing-unit * 4) ($spacing-unit * 2) ($spacing-unit * 3);
    }

    &.is-alert-banner {
      padding-top: $spacing-unit * 3 + 3;
      padding-bottom: $spacing-unit * 3 + 3;
      border: none;

      .ux-banner__text {
        position: relative;
        width: 100%;
        padding-right: $spacing-unit * 6;
        padding-left: $spacing-unit * 6;
      }

      button {
        &.is-close {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          height: auto;
          color: inherit;

          i {
            margin-top: 0;
          }
        }
      }
    }

    &.is-center {
      justify-content: center;
      text-align: center;
    }

    &.is-info,
    &.is-information {
      border-color: $ux-banner-info-border;
      background-color: $ux-banner-info-bg;
      color: $ux-banner-info-color;

      .ux-banner__icon {
        color: $ux-banner-info-icon-color;
      }
    }

    &.is-success {
      border-color: $ux-banner-success-border;
      background-color: $ux-banner-success-bg;
      color: $ux-banner-success-color;

      .ux-banner__icon {
        color: $ux-banner-success-icon-color;
      }
    }

    &.is-warning {
      border-color: $ux-banner-warning-border;
      background-color: $ux-banner-warning-bg;
      color: $ux-banner-warning-color;

      .ux-banner__icon {
        color: $ux-banner-warning-icon-color;
      }
    }

    &.is-error,
    &.is-danger {
      border-color: $ux-banner-danger-border;
      background-color: $ux-banner-danger-bg;
      color: $ux-banner-danger-color;

      .ux-banner__icon {
        color: $ux-banner-danger-icon-color;
      }
    }

    &__icon {
      @include font-size(18px);
      padding-right: $spacing-unit * 2;

      @media #{$ipad} {
        @include font-size(24px);
        padding-right: $spacing-unit * 3;
      }
    }

    &__text {
      @include font-size(14px);
      @include line-height(22px);
      padding-top: 3px; // Fixing vertical alignment due to line-height issue
    }

    &__check {
      display: flex;
      align-items: center;
      padding-left: $spacing-unit * 5;

      .ux-checkbox {
        &__label {
          height: 18px; // Size of checkbox icon
          padding-left: 18px; // Size of checkbox icon
        }
      }
    }
  }
}