@import 'global-utilities';

.prices {
  &__discounted {
    display: flex;
    flex-direction: row;
  }

  &__priceholder-per-q {
    .saving-percent {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include line-height(14px);

      @include tabletPlusOnly {
        font-size: 10px;
      }
      @include tabletOnly {
        font-size: 10px;
      }

      &-title {
        font-weight: $font-weight-normal;
      }
    }

    .was-price {
      color: $colour-redesign-light-grey;
      text-decoration: line-through;
    }

    .saving-percent {
      font-weight: $font-weight-semiBold;
      @include line-height(14px);
      color: $colour-dist-grey;
      text-transform: uppercase;
      white-space: pre;
    }
  }
}
.has-discounts {
  @include tabletPlusOnly {
    gap: 0px;
  }
  @include tabletOnly {
    gap: 0px;
  }
}
