$colour-var-border: #D8D8D8;
$colour-error: #fde7e7;
$colour-error-text: #cb5557;
$colour-reg-label: #ababab;
$colour-toogle-blue: #25a0d6;
$colour-green-tick: #82ca67;
$colour-green-btn: #67c042;
$colour-green-btn-hover: #358e10;