.skin-nextprevproductdetail-compare{

	margin-left:30px;

    .btn {
        position: relative;
        display:none;
        z-index: 900; // keep it on top, even on ipad
    }
    .active {
        .btn {
            display:block;
        }
    }


    .arrow_prev-compare {
    
    	float: left;
    	margin-top: -1071px;
    
        .btn {
            .s-flaps-compare-prev-blue();
            left:-40px;
            &:hover {
                .s-flaps-compare-prev-grey();
            }
        }
    }

    .arrow_next-compare {
    	
    	float: right;
    	margin-top: -1071px;
    	    
        .btn {
            .s-flaps-compare-next-blue();
            right:-30px;
            &:hover {
                .s-flaps-compare-next-grey();
            }

        }
    }
}
