.skin-loading-state-loading-state {

  .ajax-product-loader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;

    &--high-priority {
      z-index: 9999;
    }

    .background-overlay {
      background: none repeat scroll 0 0 $colour-loading-state-bg;
      bottom: 0;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
    }

    .message-wrapper {

      .loading-message {
        background: $colour-white;
        border-radius: ($spacing-unit * 3);
        bottom: initial;
        left: 50%;
        margin: 0;
        padding: ($spacing-unit * 3) 0;
        position: fixed;
        text-align: center;
        transform: translate(-50%,-50%);
        top: 50%;
        width: 500px;
        z-index: 1060;

        &__icon {
          display: inline-block;
          height: 60px;
          width: 60px;
        }

      }

    }

  }

}
