.mod-energy-efficiency-label{

	z-index: 300;

	.ico-energy {
	
		cursor: pointer;
	
		&.A\+\+\+ {
			i {
				.s-label_APlusPlusPlus();
			}
		}
		&.A\+\+ {
			i {
				.s-label_APlusPlus();
			}
		}
		&.A\+ {
			i {
				.s-label_APlus();
			}
		}
		&.A {
			i {
				.s-label_A();
			}
		}
		&.B {
			i {
				.s-label_B();
			}
		}
		&.C {
			i {
				.s-label_C();
			}
		}
		&.D {
			i {
				.s-label_D();
			}
		}
		&.E {
			i {
				.s-label_E();
			}				
		}
		&.F {
			i {
				.s-label_F();
			}				
		}
		&.L {
			i {
				.s-label_L();
			}				
		}
	}
	
	.energy-label-popover {
		position: absolute;
		left: auto;
		top: auto;
		z-index: 3050;

		.energy-label-big {
			position: absolute;
			background-image: url(/_ui/all/media/img/EEL-bg.png) ;
			background-repeat: no-repeat;
			height: 486px;
			width: 232px;
			font-size: 18px;
			text-align: left;
			line-height: 20px;
			z-index: 3050;
			
			&.lamp {
				background-image: url(/_ui/all/media/img/EEL-lamp-bg.png) ;
				background-size: contain;
				
				.ico-energy {
					cursor: default;
				}

				.energy-label-manufacturer {
					top: 32px;
				}

				.energy-label-type {
					top: 32px;
				}
			}
		}



		.energy-label-led, .energy-label-bulb {
			left: 140px;
		}

		.energy-label-led {
			width: 30px;
		}

		.energy-label-bulb {
			width: 30px;

			&.max-left {
				left: 195px;
			}

			.bulb-img {
				background: url(/_ui/all/media/img/EEL-lamps-bulb.png);
				width: 25px;
				height: 25px;
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translate(0,-50%);
			}
		}

		.energy-label-cross {
			width: 100%;
			left: 10px;

			.cross-icon {
				background: url(/_ui/all/media/img/cross.svg);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}

		}

		.bracket-wrapper {
			position: relative;
			width: 40px;
			height: 100%;
		}

		.bracket {
			background: url(/_ui/all/media/img/curly_bracket_right.png);
			background-position: 100%;
			background-repeat: no-repeat;
			background-size: contain;

			bottom: 0;
			position: absolute;
			right: 40px;
			top: 0;
			width: 100%;

		}

		.bracket-wrapper-text {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			width: 15px;
			line-height: 1;
			> span {
				font-size: 13px;
				font-weight: bold;
			}
		}

		.energy-label-efficiency {
			position: absolute;
			right: 17px;
		
			&.a\+\+\+, &.A\+\+\+ {
				top: 111px;
			}
			&.a\+\+, &.A\+\+ {
				top: 149px;
			}
			&.a\+, &.A\+ {
				top: 187px;
			}
			&.a, &.A {
				top: 224px;
			}
			&.b, &.B {
				top: 262px;
			}
			&.c, &.C {
				top: 300px;
			}
			&.d, &.D {
				top: 337px;
			}
			&.e, &.E {		
				top: 375px;
			}
			&.f, &.F {		
				top: 412px;
			}

			i {
				.s-EEL-arrow();
				color: #FFF;
				font-size: 22px;
				font-weight: bold;
				padding-left: 18px;
				padding-top: 6px;
			}
		}
		
		.energy-label-led, .energy-label-bulb, .energy-label-cross {
			position: absolute;
			height: 23px;

			&.a\+\+ {
				top: 170px;

				&--a\+ {
					height: 50px;
				}
				&--a {
					height: 73px;
				}
				&--b {
					height: 100px;
				}
				&--c {
					height: 125px;
				}
				&--d {
					height: 155px;
				}
				&--e {
					height: 180px;
				}
			}

			&.a\+ {
				top: 195px;
				&--a {
					height: 50px;
				}
				&--b {
					height: 73px;
				}
				&--c {
					height: 100px;
				}
				&--d {
					height: 125px;
				}
				&--e {
					height: 155px;
				}
			}

			&.a {
				top: 220px;
				&--b {
					height: 50px;
				}
				&--c {
					height: 73px;
				}
				&--d {
					height: 100px;
				}
				&--e {
					height: 125px;
				}
			}

			&.b {
				top: 245px;
				&--c {
					height: 50px;
				}
				&--d {
					height: 73px;
				}
				&--e {
					height: 100px;
				}
			}

			&.c {
				top: 272px;
				&--d {
					height: 50px;
				}
				&--e {
					height: 73px;
				}
			}

			&.d {
				top: 298px;
				&--e {
					height: 50px;
				}
			}
		}



		
		.energy-label-text-top, .energy-label-text-bottom {
			position: absolute;
			font-size: 13px;
			line-height: 1.3;
			margin-right: 7px;
			font-weight: 200;
		}

		.energy-label-text-top {
			height: 80px;
			overflow: auto;
			top: 77px;
			left: 80px;
		}
		
		.energy-label-text-bottom {
			top: 370px;
			left: 12px;

			&.border {
				border: 1px solid #379BD1;
				margin-right: 13px;
				padding: 5px;
			}

			.energy-class-arrow {
				float: right;
				display: inline-block;
				position: relative;
				right: 15px;
			}

			.svg-text {
				fill: #fff;
				font-weight: bold;
				font-size: 16px;
			}
		}

		.energy-label-manufacturer, .energy-label-type {
			position: absolute;
			max-width: 110px;
			line-height: 95%;
			top: 95px;
			height: 30px;
			overflow: hidden;
		}

		.energy-label-manufacturer {
			font-size: 14px;
			left: 16px;
			max-width: 88px;
		}

		.energy-label-type {
			font-size: 14px;
			height: 25px;
			right: 7px;
			overflow: hidden;
			width: 105px;
			word-wrap: break-word;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.energy-label-power {
			position: absolute;
			right: 18px;
			bottom: 18px;
			
			span {
				font-size: 32px;
				font-weight: 700;
			}			
		}
	}
}	
