@mod-detailpage-toolbar_spaceLeft: 15px; // Review: KR: Vertical align
@mod-detailpage-toolbar_height: 48px;

.mod-detailpage-toolbar {

	.mod-toolsitem {
		height: @mod-detailpage-toolbar_height;
		line-height: @mod-detailpage-toolbar_height;
	}

    .gu-6 {
        height: @mod-detailpage-toolbar_height;
        margin-top: -1px;

		&.left {
        	ul {
        		margin-left: 10px; // Review: KR: Left align
        	}
        }

        &.right {
        	ul {
        		margin-left: 15px; // Review: KR: Left align
        	}
        		.mod-toolsitem {
					width: 144px;  // Review: KR: Make most use of space
				}
        }

	    .lt-ie8 & {
		    width: 479px;
	    }
    }

    .tools-bar {
        margin-top: 2px;
    }

    .right .lists {
        margin-left: @mod-detailpage-toolbar_spaceLeft; // Review: KR: Vertical align;
    }


	.ico {						// Review: KR: Vertically center buttons
        overflow: hidden;

        i {
        	margin: 6px;
        	vertical-align: inherit;
        	float: left;
        }

        div {				  // Review: KR: div required for .ellipsis() to work
        	width: 105px;
        	margin: 21px 0px; // Review: KR: Vertically center button
        	.ellipsis();
        	float: left;
	        .lt-ie8 & {
				.ib();
		        width: 85px;
	        }
        }
    }

    .ico-compare, .ico-fav, .ico-list {
		i {
			margin: 6px 0;
		}
	}
	
	.social-buttons{
		margin-left: -43px;
	}

    @media print {

		.tools-bar.lists {
			.hidden();
		}
		.border-left {
			border-left-width: 0px;
		}
		.right {
			.hidden();
		}
	}
}
