.breadcrumb {
  .skin-breadcrumb-product {
    &__main {
      background: $colour-pale-grey;
    }
  }

  .ct {
    width: 100%;
  }

  .bd {
    margin: 0;
  }

  ul.bc-list {
    display: none;
    max-width: 1180px; // Container max-width - gutters/2
    margin: ($spacing-unit * 3) auto;
    opacity: .7;

    @media #{$ipad} {
      display: block;
    }

    @media #{$ipad-landscape} {
      margin: ($spacing-unit * 4) auto ($spacing-unit * 3);

      .skin-layout-product .md-content & {
        margin-top: $spacing-unit * 2;
      }
    }

    .bc {
      &-item,
      &-link {
        display: inline-block !important;
      }

      &-item {
        .breadcrumb-text {
          &.special-h1 {
            margin: 0;
          }
        }
      }

      &-link {
        span {
          vertical-align: middle;
        }
      }
    }

    .breadcrumb-separator {
      padding: 0 ($spacing-unit * 2) 0 ($spacing-unit * 3);
    }
  }
}
