.numeric {
	& {
		position: relative;
		float: left;
		margin: 0 45px;
	}

	.ipt {
		text-align: center;
	}

	&.numeric-error, &.numeric-warning {
		.ipt {
			border: 2px solid @c-redC;
			padding: 5px; // compensate for the additional border-width
			outline: 0;
		}

		.numeric-popover {
			display: block;
		}
	}

	.popover-variation(@c-white, @c-red, 'top');

	.popover {
		width: 300px;
		top: -50px;

		.popover-content {
			padding: 9px;
			line-height: 1.2;
		}
	}

	.numeric-btn {
		position: absolute;
		top: 2px;
		left: -30px;
	}

	.numeric-btn-up {

		i {
			.s-polygon-plus-grey-bg();
		}

		&:hover i,
		&:focus i {
			.s-polygon-plus-blue();
		}

		&:active i, &.active i {
			.s-polygon-plus-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-plus-grey-bg();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-plus-grey-bg();
			}
		}

		left: auto;
		right: -30px;
	}

	.numeric-btn-down {
		i {
			.s-polygon-minus-grey-bg();
		}

		&:hover i,
		&:focus i {
			.s-polygon-minus-blue();
		}

		&:active i, &.active i {
			.s-polygon-minus-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-minus-grey-bg();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-minus-grey-bg();
			}
		}
	}

	//
	// Smaller Input Field

	&.numeric-small {
		& {
			margin: 0 30px;
		}

		.numeric-btn {
			position: absolute;
			top: 4px;
		}

		.ipt {
			width: 40px;
			margin: 5px 0;
		}

		.popover {
			top: -60px;
			left: -120px;
		}
	}
}

.isie7 {

	.numeric {

		.numeric-btn-up {
			left: auto;
			right: -37px;
		}

	}

}
