$mod-cart-directorder-dropdown-image-width: 82px;
$mod-cart-directorder-dropdown-image-height: 82px;
$mod-suggest-grey: $colour-dist-grey;
$mod-suggest-font-grey: #d8d8d8;

$border-mod-suggest-not-found-grey: #cccccc;
$border-mod-suggest-not-found-grey-secondary: #333333;
