.mod-cart-recalculatelayer {

  .bd-cart-recalculate-layer {
    top: 0;
    width: 100%;

    .back-cart-recalculate-layer {
      width: 100%;
    }

    .btn-recalculate-wrap {
      left: 50%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 240px;

      .btn-recalculate {
        bottom: 0;
        position: relative;
        margin: 0 auto;
        top: auto;
        width: 90%;
      }

    }

  }

}
