@import 'global-utilities';

$border-product-bom-reference: $colour-mid-grey;
$colour-product-bom-reference: $colour-mid-grey;
$colour-product-bom-text: $colour-redesign-dark-black;
$colour-shoppinglist-border: $border-dist-grey;
$colour-shoppinglist-data-label: #ababab;
$colour-shoppinglist-data-value: #191919;
$colour-shoppinglist-item-border: $colour-light-grey;
$bom-product-info-label: #a8a8a8;
$bom-product-info-value: #191919;
$bom-product--mid-black: #474747;
$colour-product-tile-quick-view: #ebecef;
$colour-quick-view-border: #c4c2c2;

.main {
  height: auto;

  @media #{$ipad-landscape} {
    display: table;
  }

  &__item {
    @include font-size(13px);
    @include line-height(18px);
    color: $colour-product-bom-text;
    min-height: 53px;
    padding: ($spacing-unit * 2);
    position: relative;

    @media #{$ipad-landscape} {
      @include font-size(12px);
      @include line-height(23px);
      display: table-cell;
      padding: ($spacing-unit * 3) ($spacing-unit * 2);
      vertical-align: top;
      width: 12.5%;
    }

    @media #{$desktop} {
      width: 10.3%;
    }
  }

  .product-name {
    @media #{$desktop} {
      width: 24.9%;
    }

    a {
      display: block;
      max-width: 100px;

      @media #{$desktop} {
        max-width: 300px;
      }
    }

    h3 {
      @include font-size(13px);
      @include line-height(18px);
      height: auto;

      @media #{$ipad-landscape} {
        @include font-size(12px);
        @include line-height(18px);
      }
    }
  }

  .article-number {
    @media #{$desktop} {
      width: 8%;
    }
  }

  .price {
    @media #{$ipad-landscape} {
      padding-top: ($spacing-unit * 5 - 1);
    }

    @media #{$desktop} {
      width: 12.825%;
    }
  }

  .mod-scaled-prices {
    min-height: auto;
    top: 0;
    width: 100%;

    .table-row {
      color: $colour-product-bom-text;
    }

    .label {
      font-weight: $font-weight-bold;
    }
  }

  .price-per {
    position: relative;
    top: 0;
    width: 100%;
  }

  .stock {
    @media #{$ipad-landscape} {
      padding-top: ($spacing-unit * 5 + 3);
    }

    @media #{$desktop} {
      width: 12.81%;
    }
  }

  .manufacturer {
    @media #{$ipad-landscape} {
      text-align: center;
    }
  }

  .type-name {
    @media #{$ipad-landscape} {
      text-align: center;
    }
  }

  .numeric {
    .popover {
      left: -80px;
      top: -65px;
    }

    .ipt {
      border: 0;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      display: inline-block;
      height: 30px;
      margin: 0;

      @media #{$ipad-landscape} {
        width: 50px;
      }
    }

    .btn-wrapper {
      border: 1px solid #cccccc;
      height: auto;
      left: 0;
      margin: 0;
      max-width: 132px;
      position: relative;

      .numeric-btn {
        @include font-size(26px);
        border: 0;
        display: inline-block;
        height: 30px;
        outline: none;
        position: relative;
        width: 30px;

        @media #{$ipad-landscape} {
          @include font-size(14px);
          width: 20px;
        }

        @media #{$desktop} {
          @include font-size(26px);
          width: 30px;
        }
      }
    }
  }

  .article-number,
  .product-name,
  .type-name,
  .manufacturer {
    @media #{$ipad-landscape} {
      padding-top: ($spacing-unit * 5);
    }
  }

  .quantity {
    @media #{$ipad-landscape} {
      padding-top: ($spacing-unit * 4);
    }
  }
}

.bom-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: ($spacing-unit * 4) 10px ($spacing-unit * 2);
  position: relative;

  &__image {
    float: right;
    padding: 0 ($spacing-unit * 2);
    width: 75%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__title {
    @include font-size(15px);
    font-weight: $font-weight-bold;
  }

  &__information-item {
    display: inline-block;

    .label {
      @include font-size(12px);
      color: $bom-product-info-label;
    }

    .value {
      @include font-size(12px);
      color: $bom-product-info-value;
      margin-right: $spacing-unit * 2;
    }
  }

  &__information {
    .teaser-link {
      width: auto;

      h3 {
        margin: 0;
        padding-right: ($spacing-unit);
      }
    }
  }

  &__price {
    @include font-size(16px);
    display: none;
    font-weight: $font-weight-bold;
    float: right;

    @media #{$ipad-landscape} {
      display: block;
      text-align: right;
    }

    .vat-text {
      @include font-size(14px);
    }
  }

  &__detail-view {
    margin-top: $spacing-unit;

    .bom-product {
      &__price {
        &__second {
          display: inline-block;

          .skin-scaled-prices-single {
            padding-top: 0;

            &__holder {
              float: right;
              min-width: auto;

              div {
                @include font-size(12px);
                text-align: right;
              }

              .price-each,
              .price,
              .vat-text {
                display: none;
              }
            }

            .product-family-holder {
              display: none;
            }
          }
        }
      }
    }
  }

  &__shipping-info {
    margin-right: $spacing-unit * 2;
    width: auto;
  }

  &__reference {
    @include font-size(12px);
    border: 1px solid $colour-mid-grey;
    bottom: 0;
    border-radius: 2px;
    color: $colour-dark-grey;
    display: inline-block;
    height: 30px;
    padding: ($spacing-unit) ($spacing-unit + 3);
    vertical-align: text-top;
    width: 280px;
  }

  &__numeric-stepper,
  &__shipping-info {
    display: block;
    margin-top: $spacing-unit * 2;

    @media #{$ipad-landscape} {
      display: inline-block;
      float: none;
      margin-top: 0;
    }
  }

  &__actions {
    margin-top: $spacing-unit * 3;
    margin-bottom: $spacing-unit * 5;
  }

  &__actions-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-unit * 2;
  }

  &__actions-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;

    @media #{$ipad-landscape} {
      line-height: 40px;
    }
  }

  &__information-item {
    display: inline-block;

    .label {
      @include font-size(12px);
      color: $bom-product-info-label;
    }

    .value {
      @include font-size(12px);
      color: $bom-product-info-value;
      margin-right: $spacing-unit * 2;
    }
  }

  .erp-sales-status {
    &__furtherstock {
      display: none;
    }
  }
}

.error {
  background-color: #ffcccc;
}

.attributes {
  display: flex;
  flex-wrap: wrap;

  &:nth-of-type(even) {
    padding-right: 0;
  }

  &__row {
    width: 50%;

    .label,
    .value {
      @include font-size(12px);
      display: inline-block;
      float: left;
      width: 50%;
    }

    .label {
      color: $bom-product-info-label;
    }

    .value {
      margin-right: 0;
      text-align: left;
    }
  }
}

.addtocart-message {
  @include font-size(12px);

  margin-left: auto;
  margin-right: $grid-gutter-half;
  padding: 0 $spacing-unit;
  background-color: $colour-green;
  color: $colour-white;
}
