.skin-checkout-order-summary-cost-center-box-my-account {
  border-bottom: 1px $border-checkout-order-summary-grey solid;
  margin-bottom: ($spacing-unit * 6);
  padding-bottom: ($spacing-unit * 2);
}