.skin-checkout-order-summary-cost-center-box-new-review {
  @include font-size(14px);
  font-family: $font-stack-alt;
  margin-bottom: 0;

  .title {

    h4 {
      @include font-size(14px);
      font-family: $font-stack-alt;
      margin-bottom: $spacing-unit * 2;
    }

  }

  .field {

    input {
      @include font-size(14px);
      background-color: transparent;
      border: 1px solid $colour-light-grey;
      border-radius: $spacing-unit;
      margin-bottom: $spacing-unit * 2;
      margin-left: 0;
      padding: $spacing-unit * 2;
      width: 100%;

      &:focus {
        background-color: transparent;
        border: 1px solid $colour-mid-grey;
      }

    }

  }

  .info {
    @include font-size(12px);
    color: $colour-mid-grey;
  }

}
