.mod-global-messages {

  .width-oneThird {
    width: 33%;
  }

  .width-twoThird {
    width: 66%;
  }

  .width-fullWidth {
    width: 100%;
  }

  .bd {
    margin: ($spacing-unit * 4) 0;

    .ct {
      padding: ($spacing-unit * 3) 0;
      width: 100%;
    }

    .c-center {
      text-align: center;

      .c-center-content {
        display: table;
        margin-right: auto;
        margin-left: auto;
      }

    }

    .col-i,
    .col-c {
      display: table-cell;
      vertical-align: middle;
    }

    .col-c {
      padding: 0 ($spacing-unit * 6);
    }

    h3 {
      @include line-height(22px);
      white-space: nowrap;
    }

    p {
      @include font-size(14px);
      font-weight: bold;
    }

    &.information {
      border: 1px solid $colour-light-grey;
      background-color: $colour-pale-grey;
      color: $colour-mid-grey;

      a {

        &:focus,
        &:active,
        &:hover {
          color: $colour-mid-grey;
          text-decoration: underline;
        }

      }

    }

    &.promotion {
      border: 1px solid $colour-dist-red;
      background-color: lighten($colour-dist-red, 30%);
      color: $colour-dist-red;

      a {

        &:focus,
        &:active,
        &:hover {
          color: $colour-dist-red;
          text-decoration: underline;
        }

      }

    }

    &.error {
      border: 1px solid $colour-warning-red-border;
      background-color: $colour-warning-red-bg;
      color: $colour-warning-red-text;

     a {

       &:focus,
       &:active,
       &:hover {
         color: $colour-warning-red-text;
         text-decoration: underline;
       }

     }

    }

    &.warning {
      background-color: $colour-warning-amber-bg;
      border: 1px solid $colour-warning-amber-border;
      color: $colour-warning-amber-text;

      a {

        &:focus,
        &:active,
        &:hover {
          color: $colour-warning-amber-text;
          text-decoration: underline;
        }

      }

    }

    &.success {
      border: 1px solid $colour-dist-green;
      background-color: $colour-pale-green;
      color: $colour-dist-green;

      a {

        &:focus,
        &:active,
        &:hover {
          color: $colour-dist-green;
          text-decoration: underline;
        }

      }

    }

    .skin-layout-search & {
      margin-bottom: $spacing-unit * 8;
    }

  }

  @media print {
    display: none;
  }

}
