.mod-address-form {

	h2 {
		#typo > .heading-content();
		padding-bottom: 10px;
	}

	.head {
		#typo > .section-title();
	}

	form{
		padding-left: 10px;
	}

	.form-box {
		padding: 15px 0;

		.btn {
			float: left;
		}

		// BUTTON cancel
		.btn-secondary {
			&:focus,
			&:hover {
				color: @c-red;
			}
		}
		.btn-cancel,
		.btn-delete {
			min-width: 120px;
			margin-right: 10px;
		}

		.btn-cancel {
			i {
				float: left;
				margin-top: 4px;
				.s-arrow-left-black();
			}

			&:focus i,
			&:hover i {
				.s-arrow-left-blue();
			}
		}

		.btn-back {
			display: none;
			i {
				margin-top: 6px;
				.s-arrow-left-small-grey();
			}

			&:focus i,
			&:hover i {
				.s-arrow-left-small-blue();
			}
		}
		
		.button-save{
			width: 200px;
    		/*float: right;*/
    		margin-right: 20px;		
		}
		
		.latin-info-message-inline{
			font-size: 15px;
			color: #888;
			font-style: italic;
		}

		// BUTTON save
		.btn-save {
			text-align: left;
			width: 100%;

			i {
				float: right;
				margin: 3px 0 0 0;
				.s-arrow-right-white();
			}
			&:hover i,
			&:active i,
			&:focus i {
				.s-arrow-right-red();
			}
		}

	}
	.buttons{
		margin-top: 40px;
	}

	.popover-variation(@c-white, @c-red, 'top');
	.popover {
		&.top {
			margin-top: -11px;// overwrite popover in order to move it down a bit
		}
	}

	.readonly {
		.btn-save {display: none;}
		.btn-cancel {display: none;}
		.btn-back {display: inline-block;}
	}
}