.skin-address-form-checkout {

	.form-box {

		.btn-cancel{
			width: 140px;
			text-align: right;
			i {
				margin-top: 6px;
				.s-arrow-left-small-grey();
			}

			&:focus i,
			&:hover i {
				.s-arrow-left-small-blue();
			}
		}
	}
}