RewriteCond %{QUERY_STRING} (?:^|&)productNr=([0-9]{6})
RewriteRule ^/ishopWebFront\/catalog\/product\.do.*$ https://%{HTTP_HOST}/p/%1? [R=301,L]

RewriteCond %{QUERY_STRING} (?:^|&)dispatch=find
RewriteRule ^/ishopWebFront\/search\/luceneSearch\.do.*$ https://%{HTTP_HOST}/? [R=301,L]

RewriteCond %{HTTP_USER_AGENT} ^.*ooglebot.*$
RewriteRule ^/compare\/metaCompareProducts.*$ https://%{HTTP_HOST}/? [R=301,L]

RewriteCond %{HTTP_USER_AGENT} ^.*ooglebot.*$
RewriteCond %{QUERY_STRING} (?:^|&)productCodes=.*
RewriteRule ^/availability.*$ https://%{HTTP_HOST}/? [R=301,L]

RewriteCond %{QUERY_STRING} (?:^|&)dispatch=show
RewriteCond %{QUERY_STRING} (?:^|&)filterHierarchyNodeId=([0-9]*)
RewriteRule ^/ishopWebFront\/search\/luceneSearch\.do.*$ https://%{HTTP_HOST}/c/cat-%1? [R=301,L]

RewriteCond %{REQUEST_URI} !^/current/
RewriteRule ^/.*/(en|de|fr|it)$ https://%{HTTP_HOST}/? [R=301,L]

RewriteCond %{QUERY_STRING} (?:^|&)nr=([0-9]{6})
RewriteRule ^/ishopWebFront\/product\/direct\.do.*$ https://%{HTTP_HOST}/p/%1? [R=301,L]

RewriteCond %{REQUEST_METHOD} ^(OPTIONS)$
RewriteCond %{REQUEST_URI} !^/events$
RewriteRule .* - [R=405,L]

RewriteCond %{HTTP_USER_AGENT} baidu [NC]
RewriteCond %{REQUEST_URI} !^robots\.txt$
RewriteRule .* - [F]

RewriteCond %{HTTP_USER_AGENT} semrush [NC]
RewriteCond %{REQUEST_URI} !^robots\.txt$
RewriteRule .* - [F]

RewriteCond %{QUERY_STRING} lang=([a-z]{2})
RewriteRule ^/$ https://%{HTTP_HOST}/%1? [R=301,L]

RewriteCond %{REQUEST_URI} !^.*/redeemVoucher/.*$
RewriteCond %{REQUEST_URI} !^.*/p/.*$
RewriteCond %{REQUEST_URI} !^.*/pf/.*$
RewriteRule ^/.*\/([0-9]{6})$ https://%{HTTP_HOST}/p/$1 [R=301,L]

RewriteCond %{QUERY_STRING} lang=de [NC]
RewriteCond %{QUERY_STRING} utm_campaign=NL1409_weblaunch_CH [NC]
RewriteRule ^/$ /de//cms/newsletter_voucher_sales_ch_1410 [R,L]

RewriteCond %{QUERY_STRING} lang=fr [NC]
RewriteCond %{QUERY_STRING} utm_campaign=NL1409_weblaunch_CH [NC]
RewriteRule ^/$ /fr//cms/newsletter_voucher_sales_ch_1410 [R,L]

RewriteCond %{HTTP_HOST} !distrelec\.hu$
RewriteRule ^(.*)/cms/widerrufsbelehrung $1/cms/disclaimer  [R=301,L]

RewriteCond %{HTTP_HOST} distrelec\.biz$
RewriteRule ^/register/b2[bc]$ https://%{HTTP_HOST}/registration?registerFrom=header [R=301,L]

RewriteCond %{HTTP_HOST} !distrelec\.biz$
RewriteRule ^/register/existing$ https://%{HTTP_HOST}/registration?registerFrom=header [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.de$
RewriteRule ^/roboticshub(/.*)?$ https://%{HTTP_HOST}/en/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.de$
RewriteRule ^/robotik-hub(/.*)?$ https://%{HTTP_HOST}/de/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.cz$
RewriteRule ^/robotiky-centrum(/.*)?$ https://%{HTTP_HOST}/cz/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.ch$
RewriteRule ^/roboticshub(/.*)?$ https://%{HTTP_HOST}/en/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.ch$
RewriteRule ^/centrederobotique(/.*)?$ https://%{HTTP_HOST}/fr/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.ch$
RewriteRule ^/robotik-hub(/.*)?$ https://%{HTTP_HOST}/de/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.it$
RewriteRule ^/robotica(/.*)?$ https://%{HTTP_HOST}/it/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.nl$
RewriteRule ^/roboticshub(/.*)?$ https://%{HTTP_HOST}/en/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.nl$
RewriteRule ^/robotica-hub(/.*)?$ https://%{HTTP_HOST}/nl/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.biz$
RewriteRule ^/roboticshub(/.*)?$ https://%{HTTP_HOST}/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]

RewriteCond %{HTTP_HOST} ^.*\.distrelec\.fr$
RewriteRule ^/roboticshub(/.*)?$ https://%{HTTP_HOST}/en/search?q=*&filter_CuratedProducts=1_Robotics [R=301,L]
