<div class="c-prices {{ modifierClass }}">
  <div class="c-prices__main">
    <app-dist-single-price
      class="is-main-price"
      [price]="isB2B ? formattedBasePrice : formattedPriceWithVat"
      [basePrice]="formattedBasePrice"
      [currency]="currency"
      [currentChannel]="currentChannel"
      [componentId]="componentId"
      [priceLabel]="isB2B ? excVatText : incVatText"
      [toDecimalPlaces]="toDecimalPlaces"
      [modifierClass]="modifierClass + '__main'"
    ></app-dist-single-price>
  </div>

  <div class="c-prices__alt">
    <app-dist-single-price
      class="is-alt-price"
      [price]="isB2B ? formattedPriceWithVat : formattedBasePrice"
      [basePrice]="formattedBasePrice"
      [currency]="currency"
      [currentChannel]="currentChannel"
      [componentId]="componentId"
      [priceLabel]="isB2B ? incVatText : excVatText"
      [toDecimalPlaces]="toDecimalPlaces"
      [modifierClass]="modifierClass + '__alt'"
    ></app-dist-single-price>
  </div>
</div>
