@import 'global-utilities';

.c-prices {
  > * {
    &:nth-child(1) {
      margin-bottom: $spacing-unit + 1;
    }
  }

  &.is-shopping-list {
    display: flex;
    flex-direction: column-reverse;

    > * {
      &:nth-child(1) {
        margin-bottom: $spacing-unit + 3;
      }

      &:nth-child(2) {
        margin: ($spacing-unit + 4) 0;
      }
    }
  }
}
