.mod-productlist-order {

    .orderlist-select-holder {

        &--PL,
        &--SK {
            margin-left: 60px;
        }

    }

    .selectboxit {

        .selectboxit-arrow-container {
            top: 1px;
            right: 0;
            #border .border-std(0, 1px, 0, 1px);
            background: @c-greyB;

            i {
                .s-arrow-down-big-black();
            }

            .selectboxit-arrow {
                top:43%;
            }
        }

        .selectboxit-text {
            padding-left: 36px;
            color:@c-grey20;
            font-weight: bold;
        }

        .selectboxit-pretext {
            position: absolute;
	        left: 0;
	        top: 9px;
	        padding: 0 0 0 10px;
            color:@c-grey20;
        }

        &:hover {
            .selectboxit-arrow-container {
                background: @c-red;

                i {
                    .s-arrow-down-big-white();
                }
            }
            .selectboxit-text,
            .selectboxit-pretext {
                color: @c-red;
            }
        }

	    &.selectboxit-open{
		    .selectboxit-pretext{
			    pointer-events: none;
		    }
	    }


    }

    .selectboxit-selected {
        a {
            color:@c-black;
            font-weight: bold;
        }
    }

}