.mod-related-pages {
  @include font-size(12px);
  @include line-height(20px);
  border: 0;
  color: $colour-mid-grey;
  float: left;
  font-weight: 500;
  margin: ($spacing-unit * 4) 0;
  width: 100%;

  a {
    @include font-size(12px);
    @include line-height(20px);
    color: $colour-mid-grey;

    transition: none;

    &:hover {
      color: $colour-dist-mid-grey;
      text-decoration: underline;
    }
  }

  .related-page-link {
    color: $color-meshlinking-dark-grey;
    margin-bottom: $spacing-unit*3;

    &__title {
      @include font-size(13px);
    }

    &__link {
      @include font-size(13px);
    }

  }

}
