.mod-cookie-notice {
  background: $colour-cookie-notice-bright;
  border: 1px solid $colour-cookie-notice-dark;
  bottom: 0;
  left: 49.5%;
  position: fixed;
  transform: translate(-49.5%,0);
  width: 95%;
  z-index: 1050;

  @media #{$ipad} {
    width: 80%;
  }

  @media #{$desktop} {
    width: 55%;
  }

  .info {
    @include font-size(12px);
    @include line-height(16px);
    padding: 0 $spacing-unit * 3;
    position: relative;

    &.warning {
      float: left;
      margin: $spacing-unit - 1 $spacing-unit*2 0 0;

      @media #{$ipad} {
        margin: $spacing-unit + 3 $spacing-unit*2 0 0;
      }

    }

    .btn-ok {
      bottom: 20px;
      text-align: center;
      height: 20px;
      color: $colour-white;
      background: $colour-cookie-notice-dark;
      padding: 2px 5px;
      position: absolute;
      right: 40px;
    }

    .cookie-info {
      @include line-height(15px);
      display: inline-block;
      margin-bottom: $spacing-unit * 3 + 1;
      padding: $spacing-unit * 3;
      width: 100%;

      a {
        color: $link-blue;

        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

    }

  }

}

.isie7, .isie8 {

  .mod-cookie-notice {
    left: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%
  }

}
