<h1 class="page-title" id="page-title">{{ 'bomdataimport.review.title' | cxTranslate }}</h1>

<button *ngIf="!isNewFile && !renaming" class="rename-button" (click)="fileRename()">
  <fa-icon class="icon-white" [icon]="faPencilAlt"></fa-icon>
</button>

<div *ngIf="renaming" class="rename">
  <input class="form-control rename__input" [(ngModel)]="inputValue" [placeholder]="file.fileName" type="text" />

  <app-button [modifiers]="['sm']" (click)="fileRenameSave()" colour="green">
    {{ 'lightboxshopsettings.save' | cxTranslate }}
  </app-button>
  <app-button [modifiers]="['sm']" (click)="fileRenameClose()" colour="red">
    {{ 'base.close' | cxTranslate }}
  </app-button>
</div>
