.mod-compare-list {

	z-index: 800;

	.compare-empty {
		height: 200px;
	}

	.show-scroll {
		position: relative;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	table.grid {
		tr {
			#border .border-std(1px, 0px, 0px, 0px);

			td {
				#border .border-std(0, 1px, 0, 1px);
				padding: 0;
				vertical-align: top;

				&:first-child {
					border-left: none;
				}
			}
		}
	}
	
	.container-topscroll {
	    overflow-x: auto;
	    overflow-y: hidden;
	    width: 767px;
	    height: 18px; 
	    margin-left: 192px;
	}
	
	
	.scroll-top{
		overflow-x: scroll;
	}
	
	
	.compare-list-scroll{
		overflow-x: hidden;  
        overflow-y: hidden;
        padding-bottom:1px;	
        margin-left: 192px;
        width: 767px !important;
        border-bottom: 1px solid #ccc;
	}
	
    .headcol {
        position:absolute; 
        left:0;
        top:auto;
        margin-top: 0;
        border-right: 0px none black; 
        border-top-width:3px; /*only relevant for first row*/
    }	
    
}
