.home-register {
  font-family: $font-arial;
  margin-bottom: $spacing-unit * 4;
  order: 2;

  @media #{$desktop} {
    margin-bottom: 0;
    order: 0;
  }

  &__content {

    background: linear-gradient(180deg, #F9F9F9 0%, $colour-pale-grey 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    padding: ($spacing-unit * 4) ($spacing-unit * 2);

    @media #{$ipad} {
      margin: 0 !important;
    }

    @media #{$desktop} {
      height: 320px;
    }

  }

  &__input {
    @include font-size(15px);
    margin-top: $spacing-unit * 4;
  }

  &__title {
    @include font-size(28px);
    @include line-height(34px);
    font-family: $font-montserrat;
    letter-spacing: -0.6px;
  }

  &__description {
    @include font-size(15px);
    @include line-height(24px);
    margin-top: $spacing-unit + 1;
    letter-spacing: -0.28px;
  }

  &__cta {
    @include font-size(12px);
    @include line-height(14px);
    display: inline-block;
    font-weight: bold;
    height: 27px;
    margin-top: $spacing-unit * 4;

    i,
    svg {
      margin-left: $spacing-unit * 2;
    }
  }

  &__options {
    @include font-size(13px);
    margin-top: $spacing-unit * 4;

    .fa-check {
      display: none;
      margin: ($spacing-unit - 2) ($spacing-unit + 3) 0 0;
      min-width: 13px;
    }

    li {
      float: left;
      width: 100%;
    }

    &--proposition {
      display: inline-block;
      width: 90%;
    }

  }

  &__account-overview {
    @include font-size(14px);
    @include line-height(20px);

    &__item {
      margin-top: $spacing-unit * 3;

      &__count {
        @include font-size(18px);
        color: $colour-dist-red;
        font-weight: bold;

      }

      &__title {
        font-weight: bold;
        padding-left: $spacing-unit;

        &:after {
          content: " - ";
        }

      }

      &__link {
        color: $link-blue;

        &:hover,
        &:focus {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

    }

  }


  .state {

    &__login {

      .home-register {

        &__description {
          border-bottom: 2px solid $colour-light-grey;
          padding-bottom: $spacing-unit * 4;
        }

      }

    }

  }

}
