<section class="newsletter-welcome">
  <h1 class="newsletter-welcome__heading" id="success-page-title">
    {{ 'text.preferences.welcome.thanks' | cxTranslate }}
  </h1>
  <div class="newsletter-welcome__sections" id="welcome-section">
    <div class="newsletter-welcome__box">
      <h2 id="existingQuestion">{{ 'text.preferences.existing.question' | cxTranslate }}</h2>
      <p id="existingMessage1">{{ 'text.preferences.updated.existing.message.1' | cxTranslate }}</p>
      <p id="existingMessage2">{{ 'text.preferences.updated.existing.message.2' | cxTranslate }}</p>
      <p id="existingMessage3">{{ 'text.preferences.updated.existing.message.3' | cxTranslate }}</p>
      <div class="newsletter-welcome__footer">
        <a class="btn btn-primary" id="communication-preference" routerLink="/my-account/preference-center">
          {{ 'text.preferences.updated.comm.button' | cxTranslate }}
        </a>
      </div>
    </div>

    <div class="newsletter-welcome__box" id="welcome-box">
      <h2 id="newQuestion">{{ 'text.preferences.new.question' | cxTranslate }}</h2>
      <p id="newMessage1">{{ 'text.preferences.updated.new.message.1' | cxTranslate }}</p>
      <p id="newMessage2">{{ 'text.preferences.updated.new.message.2' | cxTranslate }}</p>
      <div class="newsletter-welcome__footer">
        <a class="btn btn-primary" id="register" routerLink="/register">
          {{ 'text.preferences.updated.new.button' | cxTranslate }}
        </a>
      </div>
    </div>
  </div>
</section>
