@import '../../global/global.scss';

.newsletter-welcome {
  @include mobileOnly {
    margin-left: ($spacing-unit * 2);
    margin-right: ($spacing-unit * 2);
  }

  &__heading {
    color: $colour-red;
    margin-bottom: ($spacing-unit * 3);
    font-size: $font-size-display-lg;
    font-weight: $font-weight-bold;

    @include tablet {
      margin-bottom: ($spacing-unit * 6);
      @include typography-display-xxl();
      text-align: center;
    }
  }

  &__sections {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: ($spacing-unit * 10);

    h2 {
      font-size: $font-size-display-md;
      font-weight: $font-weight-bold;
      margin: ($spacing-unit * 3) 0;
    }

    p {
      margin-bottom: ($spacing-unit * 4);
    }
  }

  &__footer {
    margin-top: auto;
    text-align: center;
  }

  .btn-primary {
    color: $colour-white;
    background-color: $colour-btn-red-background;
    border-color: $colour-btn-red-background;
    border-radius: unset;
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;

    & + & {
      margin-top: ($spacing-unit * 4);

      @include tablet {
        margin-top: 0;
      }
    }

    @include tablet {
      width: 30%;
    }
  }
}
