.mod-manufacturer-store-detail-topbar {

  h1.base {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .innerBox {
    padding: 10px 0 10px 1px;

    .btn-primary {
      margin-right: @spacing-unit * 4;
    }

  }

  .logo {
    margin-top: 8px;

  }

  .manufacturerDetails, .manufacturerLinks {

    tr > th {
      #typo > .size-s();
      font-weight: @font-base-bold;
      text-align: left;
    }

  }

  .manufacturerDetails {
    margin-top: 6px;
    margin-left: 64px;
    float: left;
  }

  .manufacturerLinks {
    margin-left: 64px;
    margin-top: 6px;
    float: left;
  }

  .filler {
    padding-top: 9px;
    padding-left: 64px;
  }

  td {
    vertical-align: top;
  }

  table td > a,
  table li > a {

    i {
      margin-left: 5px;
      .s-arrow-right-small-blue();
    }

    .chevron:hover {
      .s-arrow-right-small-lightblue();
    }

  }

  .logo.hideLogo {
    display: none;
  }

  .manufacturerDetails.hideLogo {
    margin-left: 0;
  }

  .manufacturerDetails.hideManufacturerDetails {
    display: none;
  }

  .manufacturerDetails .hideProductGroups,
  .manufacturerDetails .hidePhoneNumbers,
  .manufacturerDetails .hideLanguages,
  .manufacturerDetails .hideWebsites {
    display: none;
  }

  .manufacturerLinks.hideManufacturerDetails {
    margin-left: 0;
  }

  .manufacturerLinks.hideManufacturerLinks {
    display: none;
  }

  .innerBox.hideInnerBox {
    display: none;
  }

  .outerBox .hideManufacturerRepairs {
    display: none;
  }

  .outerBox.hideOuterBox {
    display: none;
  }

  a {
    color: #0254EB;

    &:visited {
      color: #0254EB
    }

  }

  #header h2 {
    color: white;
    background-color: #00A1E6;
    margin: 0;
    padding: 5px;
  }

  .btn-primary {
    color: @c-white !important;
    float: right;

    .icon-arrow {
      float: right;
      margin-top: 7px;
      margin-left: 20px;
      .s-arrow-down-white();

      .lt-ie8 & {
        margin-top: -14px;
      }

    }

    &:hover {
      color: @c-red !important;

      .icon-arrow {
        .s-arrow-down-red();
      }

    }

  }

}