.skin-standalone-register-b2c {

  .form-b2c {

    .validCounts2 {
      .wrapper {

        &.row {
          width: 100%;
        }

      }

    }

    &__form {

      &__field {

        &--email {
          margin-bottom: $spacing-unit * 2;

          input.field {
            margin-bottom: $spacing-unit;
          }
        }

        &--create {
          padding-left: 0;
        }

        &--vat4,
        &--legalmail {
          clear: both;
        }

        h4 {
          font-weight: 300;
          @include font-size(24px);
          @include line-height(32px);
        }

        &--email {
          margin-bottom: $spacing-unit * 2;

          input.field {
            margin-bottom: $spacing-unit;
          }
        }
      }

    }

  }
}