.mod-order-detail-section {
  float: left;
  width: 100%;

  &__item {
    float: left;
    width: 100%;

    @media #{$ipad} {
      display: inline-block;
      width: 25%;
    }

    @media print {
      width: 25%;
    }

    .head {
      @include font-size(18px);
      @include line-height(21px);
      background: transparent;
      border: 0;
      color: $colour-dist-red;
      float: left;
      height: auto;
      margin-bottom: ($spacing-unit * 3);
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        @include font-size(14px);
        color: $colour-dist-mid-grey;
        font-weight: normal;

        &:hover,
        &:focus {
          color: $colour-dist-grey;
          text-decoration: underline;
        }
      }
    }

    .skin-checkout-order-summary-info-box-readonly,
    .skin-checkout-order-summary-cost-center-box-my-account {

      .box {
        border: 0;
        float: left;
        padding: 0;
        width: 100%;
      }

    }

    .skin-checkout-order-summary-cost-center-box-my-account {
      float: left;
      padding-bottom: ($spacing-unit * 6);
      width: 100%;

      .value {
        @include font-size(14px);
        @include line-height(24px);
        color: $colour-paragraph-grey;
        .error {
          color: $colour-dist-red;
        }
        .refInputContainer {
          form {
            display: inline;
          }
        }
        .refText {
          @include line-height(41px);
          vertical-align: middle;
        }
      }

    }

    .data-list {

      .data {

        .entry {
          @include font-size(14px);
          @include line-height(24px);
          color: $colour-paragraph-grey;
          float: left;
          height: auto;
          padding: 0;
          text-align: left;
          width: 100%;
        }

      }

    }

    .row {
      display: block;
      margin: 0;
    }

    .mod-address {
      float: left;
      width: 100%;

      .box-address {

        &__preview {
          padding: 0;
        }

      }

      .box {
        border: 0;
        float: left;
        padding: 0;
        width: 100%;
      }

      .company-name {
        @include font-size(14px);
        @include line-height(24px);
        color: $colour-paragraph-grey;
        font-weight: normal;
        margin-bottom: 0;
      }

      .address-key {
        @include font-size(14px);
        @include line-height(24px);
        color: $colour-paragraph-grey;
        font-weight: normal;
      }

      .address-value {
        @include font-size(14px);
        @include line-height(24px);
        color: $colour-paragraph-grey;
        font-weight: normal;
      }

      .row {
        display: block;
        float: left;
        margin: 0;
        width: 100%;

        .gu-2 {
          float: left;
          width: 100%;
        }

      }

    }

    &--track,
    &--summary-note,
    &--cost-center {

      @media #{$ipad} {
        width: 100%;
      }

      @media print {
        width: 100%;
      }

    }

  }

}
