@import 'global-utilities';

.category-index-holder {
  &__item {
    border: 1px solid $colour-pale-grey;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: ($spacing-unit * 4);
    padding: ($spacing-unit * 4);
  }
}

.main-holder {
  border-bottom: 1px solid #ccc;
  margin-bottom: ($spacing-unit * 3);
  padding-bottom: ($spacing-unit * 3);
}

a {
  @include line-height(24px);
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease-in-out 0.1s;
  text-decoration: none;
}

.category-title {
  @include font-size(18px);
  color: $colour-red;
  font-weight: 300;

  &:hover {
    color: $colour-dark-red;
  }
}

.subcategory-title {
  @include font-size(13px);
  color: $colour-dark-grey;
  font-weight: bold;

  &:hover {
    color: $link-dark-blue;
  }
}
