
.skin-layout-error-not-authorise {

  &.skin-layout-wide {

    .ct {
      width: 100%;
    }

  }

  header {
    float: left;
    width: 100%;
  }

  .md-content {
    float: left;
    padding-top: ($spacing-unit * 2 - 1);
    width: 100%;
  }

  .error-not-authorise {

    &__content {
      float: left;
      margin: ($spacing-unit * 20) 0;
      width: 100%;

      @media #{$ipad-landscape} {
        margin: ($spacing-unit * 6) 0 ($spacing-unit * 40);
      }

    }

    &__message {
      color: $color-error-not-authorise-red;
      line-height: normal;
      text-align: center;

      a {
        color: $color-error-not-authorise-red;
        text-decoration: underline;
      }

    }

  }

  .footer {
    margin-top: ($spacing-unit*20);
  }

}