.mod-verify-address {

	.form-box, .box {
		position: relative;
		overflow: hidden;
		padding-top: 17px;
		padding-bottom: 4px;
		
		.field-required{
			
			visibility: hidden;
			margin-left: 1px;
		
			span{
			    margin-left: 6px;
			    margin-top: 5px;
			    color: #de1417;
				#typo > .size-x-c();
			}
			
			i{
				margin-left: -68px;
				.s-elements-base-error();
			}
		}
		
		
	}
	.head {
		#typo > .section-title();
		border-top: 0px;
	}
	.label-box{
		padding-left: 17px;
		
		#checkbox{
			width: 16px;
			height: 16px;
			position: relative;
		}
	}
	
	.verify-text{
		margin-left: -20px;
	}

	label, input{
		#typo > .size-x-c();
	}



}
