@import 'global-utilities';

.reference-input {
  min-width: 260px;
  margin-top: $spacing-unit * 2;
}

.input {
  @include font-size(12px);
  @include line-height(18px);

  width: 100%;
  height: 40px;
  padding: $spacing-unit ($spacing-unit + 3);
  border: 1px solid $border-global-grey;
  border-radius: 4px;

  .is-payment & {
    @include font-size(14px);
    @include line-height(22px);
    @include transition(border 0.3s ease, background-color 0.3s ease);

    width: 100%;
    height: 40px;
    padding: 0 ($spacing-unit * 6) 0 ($spacing-unit * 2);
    margin: $spacing-unit 0;
    font-weight: $font-weight-medium;
    border: 1px solid $ux-input-border-color-light;
    border-radius: 2px;
    outline: none;

    &:hover {
      background-color: $colour-pale-grey;
      border: 1px solid $colour-black;
    }
  }
}

.info {
  @include typography-ui-sm;

  display: flex;
  justify-content: space-between;
  margin: ($spacing-unit + 1) 0 ($spacing-unit + 3);

  .is-payment & {
    margin: 0;
  }
}

.info-text {
  font-weight: $font-weight-medium;

  .is-payment & {
    align-self: center;
    font-weight: $font-weight-semiBold;
  }
}

.count {
  @include typography-ui-sm;

  margin: ($spacing-unit + 3) 0 ($spacing-unit + 1);

  .is-payment & {
    @include font-size(12px);
    @include line-height(18px);

    display: block;
    color: $ux-grey;
  }
}

.bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bottom-info {
  max-width: 80%;

  .is-payment & {
    @include font-size(12px);
    @include line-height(18px);

    color: $ux-grey;
  }
}
