<div class="reference-input" [ngClass]="{ 'is-payment': isPayment }">
  <div class="info">
    <div class="info-text">
      {{ labelText }}
    </div>
    <span>{{ labelInfoText }}</span>
  </div>
  <input
    #refInput
    class="input"
    [id]="id"
    [value]="value"
    [formControl]="control"
    (paste)="onPasteQuoteRef($event)"
    type="text"
    maxlength="{{ maxLength }}"
  />
  <div class="bottom">
    <small class="bottom-info" id="checkoutReference__info-txt">
      {{ bottomInfoText }}
    </small>
    <div class="count">{{ referenceLength$ | async }}/{{ maxLength }}</div>
  </div>
</div>
