@import 'global-utilities';

.breadcrumb-wrapper {
  .back-button {
    @include typography-ui-xs;

    display: flex;
    align-items: center;
    padding-top: ($ux-spacing-unit * 4);
    font-weight: $font-weight-medium;
    color: $ux-text-default;
  }
}

.breadcrumbs-spacing {
  padding: ($ux-spacing-unit * 4) ($ux-spacing-unit * 3) ($ux-spacing-unit * 4);
  margin-bottom: ($ux-spacing-unit * 2);
}
