@import 'global-utilities';

:host {
  // Overriding the values from the register.component.scss radio button
  .register__select {
    &--options {
      &__radio {
        position: relative;
        width: auto;
        min-width: 150px;
        border: none;
        padding: 0;
        margin: $spacing-unit 0 ($spacing-unit * 3) ($spacing-unit * 4);

        &,
        &:hover {
          color: $colour-mid-black;
        }
      }
    }
  }

  input[type='radio'] {
    & + label {
      position: relative;
      float: none;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0;

      &:before {
        content: '';
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        display: inline-block;
        width: 21px;
        height: 21px;
        margin-right: $spacing-unit * 2;
        background-color: $colour-white;
        border-radius: 50%;
        border: 2px solid $colour-redesign-light-grey;
      }
    }

    &:checked {
      & + label {
        &:after {
          top: 7px;
          left: 5px !important;
        }
      }
    }
  }
}
