.dcard {
  background-color: $colour-white;
  border: 1px solid $colour-pale-grey;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  display: block;
  margin-bottom: $spacing-unit * 6;
  overflow: hidden;
  position: relative;
  transition: all .2s ease;

  h3 {
    margin-bottom: $spacing-unit * 2;
  }

  p {
    @include font-size(12px);
  }

  &__img {
    max-height: 230px;
    overflow: hidden;
    transition: all .2s ease;

    img {
      width: 100%;
    }

  }

  &__body {
    padding: $spacing-unit * 4;

    a {
      color: $colour-dist-carmine;
    }

  }

  &--dcard-hero {
    background-position: center center;
    background-size: cover;
    color: $colour-white;
    padding: ($spacing-unit * 20) ($spacing-unit * 6);
    margin-bottom: 30px;

    h1,
    h4 {
      color: $colour-white;
      position: relative;
      z-index: 20;
    }

    &:after {
      box-shadow: rgba(0, 0, 0, .4) 0 0 0 5000px inset;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
    }

  }

}
