@import 'global-utilities';

.prices {
  float: left;
  padding: ($spacing-unit * 4) 0 0 0;
  text-align: left;

  @media #{$ipad-landscape} {
    float: right;
    padding: 0 0 ($spacing-unit * 4) 0;
    text-align: right;
    width: 48%;
  }

  @media #{$desktop} {
    width: auto;
  }

  &.hasVat {
    margin-left: 0;

    @media #{$ipad-landscape} {
      margin-left: 0;
    }

    @media #{$desktop} {
      margin-left: (-$spacing-unit * 10);
    }
  }

  &__price-each {
    @include font-size(12px);
    @include line-height(24px);
    font-weight: $font-weight-medium;
  }

  &__priceholder-per-q {
    display: flex;
    float: left;
    font-weight: $font-weight-semiBold;
    text-align: left;
    gap: 0 !important;

    @media #{$ipad-landscape} {
      float: right;
      text-align: right;
    }

    .quantity,
    .price-per-q {
      @include font-size(14px);
      @include line-height(26px);
      display: flex;
      flex-direction: column;
      gap: 0 !important;
    }

    .quantity {
      @include font-size(11px);
      @include line-height(21px);
      padding: 0 ($spacing-unit) 0 ($spacing-unit);
    }

    .quantity > span {
      white-space: pre;
    }

    .price-per-q {
      @include font-size(11px);
      @include line-height(21px);
      font-weight: $font-weight-bold;
      padding: 0 ($spacing-unit) 0 ($spacing-unit);
    }

    .was-price {
      color: $colour-mid-grey;
      text-decoration: line-through;
    }

    .saving-percent {
      @include font-size(10px);
      @include line-height(21px);
      color: $colour-black;
      display: flex;
      flex-direction: column;
      float: left;
      font-weight: $font-weight-normal;
    }
  }
}
