.skin-productlist-pagination-plp {

  @media #{$ipad-landscape} {
    display: flex;
  }

  label {
    @include font-size(14px);
    cursor: default;
    font-weight: 700;
  }

  .gu-3 {
    display: none;

    @media #{$ipad-landscape} {
      display: inherit;
    }

  }

  .plp-pagination-wrapper {
    width: 100%;

    &__content {
      margin-bottom: $spacing-unit*2;

      &__title {
        @include font-size(18px);
        display: none;
        font-family: $font-montserrat;
        font-weight: bold;
        margin: ($spacing-unit * 2) 0 ($spacing-unit * 4) 0;

        @media #{$ipad-landscape} {
          display: inline-block;
        }

      }

    }

    &__product-action-bar {
      background-color: $colour-white;
      border: 1px solid $colour-pale-grey;
      border-radius: $spacing-unit $spacing-unit 0 0;
      display: none;
      font-family: $font-montserrat;
      float: left;
      padding: $spacing-unit * 4;
      width: 100%;

      label {
        margin-left: $spacing-unit * 4;
        padding-right: $spacing-unit * 2;
        padding-top: $spacing-unit * 2;
      }

      @media #{$ipad-landscape} {
        display: inline-block;
      }

      .selectboxit-container {

        .selectboxit {

          .selectboxit-text {
            height: 40px;
            padding: ($spacing-unit) ($spacing-unit * 2);
          }

          .selectboxit-arrow-container {
            background-color: transparent;
            border-left: none;
            height: 40px;

            .selectboxit-arrow {
              background-position: -706px -135px;
              height: 8px;
              top: 40%;
              width: 12px;
            }

          }

        }

      }

      &__product-per-page {
        float: right;
        margin-right: $spacing-unit*2;

        .selectboxit-container {

          .selectboxit {
            width: 80px;
          }

        }

      }

      &__view-toggle {
        display: inline-block;
        float: right;
        margin-left: $spacing-unit*2;

        .plp-viewlist-dropdown {
          display: inline-block;
          position: relative;
          z-index: 10;

          &__dropbtn {
            border: 1px solid $border-dist-grey;
            @include font-size(13px);
            color: $colour-dist-grey;
            cursor: pointer;
            height: 40px;
            width: 200px;
            outline: none;
            padding: 0 ($spacing-unit*2);
            white-space: nowrap;

            &__arrow {
              margin-left: $spacing-unit*2;
            }

            i {
              @include font-size(18px);
              margin-top: -2px;
              float: right;
            }

          }

          &__content {
            background-color: $colour-white;
            border: 1px solid $border-dist-grey;
            display: none;
            position: absolute;
            right: 0;
            top: $spacing-unit*8;
            z-index: 9;
            padding: 0 $spacing-unit*4 0 $spacing-unit*4;

            button {
              outline: none;
              white-space: nowrap;
              height: 33px;

              label {
                @include font-size(13px);
                margin-left: $spacing-unit * 2;
                font-weight: 400;
              }

            }

            &.active {

              .plp-viewlist-dropdown {

                &__content {
                  display: block;

                }

                &__dropbtn {
                  border-color: $colour-dist-carmine;

                  &__arrow {
                    transform: rotate(-180deg);
                  }

                }

              }

            }

            .plp-productview-content {
              border-top: 1px solid $border-dist-grey;
              width: 158px;
            }

            .plp-filterview-content, .plp-productview-content{
              padding: $spacing-unit*2 0 $spacing-unit*2 0;
            }

            .view-label {
              @include font-size(13px);
              display: block;
              text-align: left;
              font-weight: 100;
              margin-left: 0px;
            }

          }

          &.active {

            .plp-viewlist-dropdown {

              &__content {
                display: block;
              }

            }

          }
          &__filterview, &__productview {
            @include font-size(13px);
            font-weight: 600;
          }

        }

      }

      .skin-productlist-order-plp {
        top: inherit;
        left: 370px;
      }

    }

    .pagination-wrapper {
      @include font-size(15px);
      font-weight: bold;
      display: inline-block;
      float: right;
      padding: ($spacing-unit * 2) 0;

      .col {
        width: 100%;

        @media #{$ipad-landscape} {
          width: inherit;
        }

      }

      .pagination {
        font-family: $font-montserrat;

        li {
          margin: 0;

          &.dots {
            padding: $spacing-unit $spacing-unit $spacing-unit 0;
            margin: 0;
          }


          a, span {
            @include font-size(14px);
            background-color: $colour-white;
            border-radius: $spacing-unit;
            color: $colour-dist-grey;
            height: 30px;
            margin-right: $spacing-unit;
            padding: $spacing-unit;

            &.active {
              border: 1px solid $colour-dist-marigold;
              background-color: $colour-white;
              color: $colour-black;
              pointer-events: none;
            }

            &:hover {
              background-color: $colour-white;
              border-color: $colour-dist-marigold;
              color: $colour-dist-marigold;
            }

          }

        }

      }

      .btn {
        background-color: $colour-white !important;
        border: 1px solid $colour-dist-marigold;
        border-radius: $spacing-unit;
        font-family: $font-montserrat;
        font-weight: 400;
        height: 30px;
        padding: $spacing-unit ($spacing-unit * 2);

        &.btn-left {
          margin-right: $spacing-unit;
        }

        &:hover,
        &:focus,
        &:visited {
          background: none;

          i {
            background-image: none;
            height: auto;
            width: $spacing-unit*6;
          }

        }

        &:hover {
          background-color: $colour-white;
          border-color: $colour-dist-marigold;
          color: $colour-dist-marigold;
        }

        i {
          background: none;
          height: auto;
          margin-top: - ($spacing-unit);
          text-align: center;
          width: $spacing-unit*6;

          &:hover {
            background: none;
          }

        }

        &.btn-right {
          font-weight: 500;
          line-height: 18px;

          i {
            margin-left: $spacing-unit;
            width: $spacing-unit*3;
            margin-top: 0px;
            margin-bottom: ($spacing-unit - 2);
          }

          &:hover {

            i {
              width: $spacing-unit*3;
            }

          }

        }

      }

    }

  }
  &.sidebar-filters-pagination {
    display: none;
  }

}
