.skin-productlist-pagination-plp {

  @media #{$ipad-landscape} {
    display: flex;
  }

  label {
    @include font-size(14px);
    font-weight: 700;
  }

  &.plp-pagination-bottom {
    margin-bottom: $spacing-unit * 4;

    .gu-3 {
      display: none;
    }

    + div {
      display: none;
    }

    .plp-pagination-wrapper {

      &__product-action-bar {
        display: none;
      }

      &__content {

        &__title {
          display: none;
        }

      }

    }

  }

}
