.skin-cart-toolbar-cart-page {

	min-height:  1px; // used to keep its place even if its content is pos absolute

	.bd {
		border: none;
		bottom: 64px;
		position: absolute;
		.mod-toolsitem{
			height: 77px;
			line-height: 77px;
			font-size: 0;
		}

		._left{
			width: 217px;

			.lt-ie8 & {
				width: 196px; // -21px
			}
		}
		._right{
			width: 413px;

			.lt-ie8 & {
				width: 393px; // -20px
			}
		}
	}

	.lt-ie8 & {
		.mod-toolsitem{
			a{
				height: 77px;
				i{
					margin-top: 19px;
				}
				span{
					width: 135px;
					margin-top: 10px;
				}
			}
		}
	}

	.border-container{
		#border > .border-std(1px, 0, 1px, 0);
		margin-right: 10px;
	}

	&.empty-cart{
		.bd{
			bottom: 0;
		}
		.skin-toolsitem-shopping-bulk{
			.hidden();
		}
	}
}
