@mod-cart-toolbar-width:  640px;
@mod-cart-toolbar-width-left:  410px;
@mod-cart-toolbar-width-right: @mod-cart-toolbar-width - @mod-cart-toolbar-width-left;

.mod-cart-toolbar {

    .bd {
        #border > .border-std(0, 0, 1px, 0);
        position:relative;
        display: inline-block;
        width:@mod-cart-toolbar-width;
    }

		._left, ._right {
			float:left;
		}

		._left {
			width:@mod-cart-toolbar-width-left;
			padding-left: 20px;
			border-right:1px solid @c-border;
		}

		._right {
			width:@mod-cart-toolbar-width-right;
			padding-left: 20px;

			li {
				float: left; // Was right
			}
		}

	@media print {

		.invisible();
	}
}