.skin-cart-toolbar-quote-detail {
	
	.bd {
		width: 670px;
	}
	
	._left, ._right {
		height: 50px;
	}

	._left {
		border-right: none;
		width: 80px;
	}

	._right {
		width: 590px;
		padding-top: 14px;
		padding-left: 12px;
		font-size: 14px;
	}
}