.skin-cart-toolbar-order-detail {
	._left, ._right {
		height: 50px;
	}

	._left {
		border-right: none;
		width: 130px;
	}

	._right {
		width: 490px;
		float: right;
		.mod-toolsitem{
			a{
				span{
					width: 115px;
				}
			}
		}
	}
}