@import 'global-utilities';

.login {
  z-index: $zindex-modal;
  top: 20%;
  left: 0;
  width: 100%;
  position: fixed;
  background: $colour-white;

  @media #{$ipad-landscape} {
    left: 30%;
    width: 35%;
  }

  &__head {
    @include font-size(20px);
    @include line-height(26px);

    display: flex;
    align-items: center;
    padding: ($spacing-unit * 4);
    border-bottom: 1px solid $border-dist-grey;
    background: $colour-dark-grey;
    color: $colour-white;
    text-align: center;

    &--title {
      width: 100%;
      margin-right: $spacing-unit * 2;
    }

    &--btn {
      padding: 0;
      color: $colour-white;
    }
  }

  &__body {
    padding: $spacing-unit * 4;

    &--title {
      @include font-size(14px);
      @include line-height(20px);
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-unit * 5;
    }
    &--form {
      display: flex;
      flex-direction: column;

      .label_and_input {
        display: flex;
        margin: ($spacing-unit * 2) 0;

        &__label {
          margin: 0 ($spacing-unit * 6) 0 0;
          flex: 1.5;
        }

        &__input {
          display: flex;
          flex-direction: column;
          flex: 5;
        }
      }

      &-input {
        @include font-size(13px);
        @include line-height(20px);
        flex-grow: 1;
        max-width: 100%;
        max-width: 300px;
        border-radius: 0%;
      }
    }

    &--privacy-info {
      @include font-size(11px);
      @include line-height(17px);

      margin-top: 10px;
    }
  }

  &__remember_me {
    .remember_me {
      margin: 0 ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit * 2);
      @include font-size(15px);
    }
  }

  &__ft {
    display: flex;
    flex-direction: row;

    &--links {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-decoration: underline;
      @include font-size(13px);
      font-weight: $font-weight-bold;

      a {
        color: $colour-link;
      }
    }

    &--submit {
      &-btn {
        width: 220px;
        margin-top: 0;
        margin-left: 5px;
        @include font-size(13px);
        font-weight: $font-weight-semiBold;
        line-height: 16px;
        padding: 5px 10px;
        height: 41px;
        background-color: $colour-green;
        color: white;
        border-radius: 0%;
      }
    }
  }
}
