@import 'global-utilities';

:host {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mobilePlusDown {
    gap: ($ux-spacing-unit * 4);

    app-header-login {
      margin: 0;
    }
  }
}
