<ng-container *ngIf="(isMobileBreakpoint$ | async) === false">
  <app-header-list></app-header-list>
</ng-container>

<app-dist-slide-drawer [title]="'login.login_register' | cxTranslate" direction="RIGHT" uid="add-list-drawer-login">
  <div class="alert-banner">
    <app-alert-banner bannerType="general" alertType="regular-alert">
      {{ 'form.signin_use_feature' | cxTranslate }}
    </app-alert-banner>
  </div>
  <app-header-login-form *ngIf="(userId$ | async) === 'anonymous'" onAction="true"></app-header-login-form>
</app-dist-slide-drawer>
<app-add-to-shopping-list></app-add-to-shopping-list>

<app-header-login></app-header-login>
<app-header-cart></app-header-cart>
