.mod-newslettersubscribe {

  .newsletter-content {
    display: table;
    height: 250px;
    margin: 0 auto;
    padding: ($spacing-unit * 4) 0;
    text-align: center;
    width: 100%;

    &__holder {
      display: table-cell;
      vertical-align: middle;
    }

  }

  .newsletter-teaser {
    @include font-size(28px);
    @include line-height(34px);
    color: $colour-white;
    font-family: $font-montserrat;
    font-weight: 500;
    letter-spacing: -0.6px;
    margin-bottom: ($spacing-unit * 4);
  }

  .input-newsletter {
    @include font-size(15px);
    border: 1px solid $colour-mid-grey;
    border-radius: 2px;
    color: $colour-dark-grey;
    display: inline-block;
    float: left;
    height: 38px;
    padding: ($spacing-unit + 1) ($spacing-unit + 3);
    vertical-align: middle;
    margin-bottom: ($spacing-unit * 4);

    @media #{$ipad} {
      float: none;
      height: 41px;
    }

    @media #{$ipad-landscape} {
      float: left;
      margin-bottom: 0;
    }

    &:focus {
      background: $colour-white;
      border-color: $border-newslettersubscribe-focus-grey;
    }

  }

  .btn-signup {
    @include font-size(15px);
    @include line-height(17px);
    background-color: $colour-dist-marigold;
    border-color: $colour-dist-marigold;
    border-radius: 2px;
    color: $colour-black;
    font-weight: bold;
    height: 38px;
    outline: none;
    text-align: center;

    .fa-user {
      @include font-size(18px);
      margin: ($spacing-unit - 7) ($spacing-unit * 2) 0 0;
      vertical-align: text-top;
    }

    @media #{$ipad} {
      height: 41px;
      margin: 0 auto;
    }

    @media #{$ipad-landscape} {
      margin: 0;
    }

    &:hover {
      background: $colour-dist-marigold;
      border-color: $colour-dist-marigold;
      color: $colour-black;
    }

  }

  .success-message {
    color: white;
    @include font-size(20px);
    text-shadow: 1px 1px #000;
    padding: 0 ($spacing-unit * 2);
  }

  .info-message {
    color: white;
    @include font-size(14px);
    text-align: left;
    padding: 0 ($spacing-unit * 2);
  }

}
