/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-id-pattern, selector-max-id, selector-class-pattern, selector-no-qualifying-type */
@import 'global-utilities';

app-content-manufacturer {
  .manu-title {
    float: left;
    width: 100%;
    margin: ($spacing-unit * 2) 0 0 0;
  }

  .manufacturer-link {
    @include font-size(14px);
    @include line-height(24px);

    font-weight: $font-weight-normal;
    color: $colour-black;

    @media #{$ipad-landscape} {
      @include font-size(16px);
    }

    span {
      display: inline-block;
      width: 214px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  #alphabetNumeric {
    margin-top: ($spacing-unit * 5);

    ul {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;

      li {
        display: table-cell;
        width: 36px;
        height: 34px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ccc;

        a {
          @include line-height(34px);

          display: block;
          height: 100%;
        }

        .alphaNumLink {
          font-weight: $font-weight-normal;
          color: #525252;

          span {
            padding: ($spacing-unit * 2);
          }
        }

        &.activeCell {
          a {
            &:hover {
              color: $colour-strong-light-grey;
              text-decoration: none;
              background-color: $colour-dist-carmine;
            }
          }
        }
      }
    }
  }

  .manufacturerCategoryId {
    // height of the floating header
    scroll-margin-top: 130px;
  }

  .listBlockHeader {
    padding: ($spacing-unit + 2) 0;
    margin-bottom: ($spacing-unit + 2);
    border-color: #ccc;
    border-style: solid;
    border-width: 0;
    border-width: 0 0 1px;

    .manufacturerCategoryTitle {
      margin: 0;
    }
  }

  h3::after {
    display: none;
  }

  .listBlockDetail {
    column-count: 4;
    column-gap: 20px;

    @media #{$ipad-only} {
      column-count: 3;
      column-gap: 10px;
    }

    @media #{$mobile-only} {
      column-count: 1;
    }

    .manufacturer-item {
      display: inline-block;
      float: left;
      width: 100%;
    }
  }
}
