<div class="container content-page">
  <h1 class="manu-title">{{ title$ | async }}</h1>
  <article>
    <div id="alphabetNumeric">
      <ul class="row1">
        <li class="activeCell" (click)="scrollTo('#alphaNum#')">
          <a class="alphaNumLink">
            <span>#</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumA')">
          <a class="alphaNumLink">
            <span>A</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumB')">
          <a class="alphaNumLink">
            <span>B</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumC')">
          <a class="alphaNumLink">
            <span>C</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumD')">
          <a class="alphaNumLink">
            <span>D</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumE')">
          <a class="alphaNumLink">
            <span>E</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumF')">
          <a class="alphaNumLink">
            <span>F</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumG')">
          <a class="alphaNumLink">
            <span>G</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumH')">
          <a class="alphaNumLink">
            <span>H</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumI')">
          <a class="alphaNumLink">
            <span>I</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumJ')">
          <a class="alphaNumLink">
            <span>J</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumK')">
          <a class="alphaNumLink">
            <span>K</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumL')">
          <a class="alphaNumLink">
            <span>L</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumM')">
          <a class="alphaNumLink">
            <span>M</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumN')">
          <a class="alphaNumLink">
            <span>N</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumO')">
          <a class="alphaNumLink">
            <span>O</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumP')">
          <a class="alphaNumLink">
            <span>P</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumQ')">
          <a class="alphaNumLink">
            <span>Q</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumR')">
          <a class="alphaNumLink">
            <span>R</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumS')">
          <a class="alphaNumLink">
            <span>S</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumT')">
          <a class="alphaNumLink">
            <span>T</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumU')">
          <a class="alphaNumLink">
            <span>U</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumV')">
          <a class="alphaNumLink">
            <span>V</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumW')">
          <a class="alphaNumLink">
            <span>W</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumX')">
          <a class="alphaNumLink">
            <span>X</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumY')">
          <a class="alphaNumLink">
            <span>Y</span>
          </a>
        </li>
        <li class="activeCell" (click)="scrollTo('#alphaNumZ')">
          <a class="alphaNumLink">
            <span>Z</span>
          </a>
        </li>
      </ul>
    </div>
  </article>

  <cx-page-slot position="Content"></cx-page-slot>

  <div *ngIf="manufacturers$ | async as manufacturers" class="row">
    <div *ngFor="let item of manufacturers?.response" class="block col-12">
      <div class="manufacturerCategoryId" [id]="'#alphaNum' + item?.key"></div>
      <div class="listBlockHeader">
        <h3 class="manufacturerCategoryTitle">{{ item?.key }}</h3>
      </div>
      <div class="listBlockDetail">
        <div *ngFor="let manufacturers of item?.manufacturerList" class="manufacturer-item">
          <a class="manufacturer-link" [routerLink]="manufacturers?.url" [title]="manufacturers?.nameSeo">
            <span>{{ manufacturers?.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
