<div class="checkbox d-flex">
  <input
    class="checkbox-input mr-2"
    [class]="[size]"
    [class.disabled]="disabled"
    [attr.id]="checkboxID"
    [checked]="checked"
    [value]="checkboxValue"
    [name]="checkboxName"
    type="checkbox"
  />
  <div class="labels d-flex flex-row flex-wrap">
    <label
      *ngIf="primaryLabel"
      class="primary-label"
      [class.primary-label-disabled]="disabled"
      [attr.id]="primaryLabelID"
      [for]="checkboxID"
      [innerHTML]="primaryLabel"
    ></label>
    <label
      *ngIf="secondaryLabel"
      class="secondary-label"
      [class.secondary-label-disabled]="disabled"
      [attr.id]="secondaryLabelID"
      [for]="checkboxID"
      [innerHTML]="secondaryLabel"
    ></label>
  </div>
</div>
