@import 'global-utilities';

$colour-link-hover: $colour-dist-mid-grey;

.category-thumbs {
  &__categories {
    margin: 0;
  }

  &__category {
    @include font-size(14px);

    position: relative;
    display: flex;
    align-items: center;

    height: 70px;
    padding: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 4;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    background-color: $colour-white;
    color: $colour-text-dark;

    &:hover {
      color: $colour-link-hover;
      text-decoration: none;
    }
  }

  &__category-image {
    position: absolute;
    top: 0;
    left: $spacing-unit * 2;
    width: 30px;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__category-title {
    margin-left: $spacing-unit * 8;
    hyphens: auto;
    word-break: break-word;
  }
}
