.skin-request-invoice-checkout {
  background-color: $colour-request-invoice-banner;
  float: left;
  margin: (-$spacing-unit * 6) 0 ($spacing-unit * 3) 0;
  width: 100%;

  @media #{$ipad} {
    background-color: transparent;
    background-image: url('../../../media/request-invoice-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pay-invoice {
    border: ($spacing-unit - 3) solid $colour-light-grey;
    border-radius: ($spacing-unit - 1);
    box-sizing: border-box;
    float: left;
    padding: ($spacing-unit * 5);
    width: 100%;

    &__item {
      float: left;
      width: 100%;

      @media #{$ipad} {
        width: 70%;
      }

      strong {
        @include font-size(22px);
        float: left;
        font-weight: 600;
        margin-bottom: ($spacing-unit);
        width: 100%;
      }

      p {
        @include font-size(15px);
        float: left;
        width: 100%;
      }

      .button {
        background: $colour-dist-green;
        border: 0;
        border-radius: ($spacing-unit - 1);
        box-sizing: border-box;
        float: left;
        margin-top: ($spacing-unit * 2 + 2);
        padding: ($spacing-unit * 2 - 2) ($spacing-unit * 4);
        width: auto;

        span {
          color: $colour-white;
          font-weight: 600;
        }

      }

      &__message {
        background: $colour-pale-orange;
        border: 1px solid $colour-dist-orange;
        border-radius: ($spacing-unit - 3);
        box-sizing: border-box;
        float: left;
        margin: ($spacing-unit * 3) 0 0 0;
        padding: ($spacing-unit * 2 + 2) ($spacing-unit * 2);
        width: 100%;

        @media #{$ipad} {
          width: 70%;
        }

        p {
          @include font-size(15px);
        }

      }

      &.requestedActive {

        &.disabled {
          opacity: 1;
          pointer-events: none;
        }

      }

    }

    &__grouped {
      align-items: center;
      display: flex;
      float: left;
      width: 100%;

      i {
        @include font-size(40px);
        color: $colour-dist-green;
        float: left;
        padding-bottom: ($spacing-unit);
        padding-right: ($spacing-unit * 2);
      }

      .title {

        strong {
          @include font-size(22px);
          float: left;
          font-weight: 600;
          margin-bottom: ($spacing-unit);
          width: 100%;
        }

        p {
          @include font-size(15px);
          float: left;
          width: 100%;
        }

      }

    }

  }

}