.mod-request-invoice {

  &.invoice-request-myaccount {
    padding: 0;
  }

  .request-pay-message {
    background: $colour-pale-orange;
    border: 1px solid $colour-dist-orange;
    border-radius: ($spacing-unit - 3);
    box-sizing: border-box;
    float: left;
    margin-bottom: ($spacing-unit * 3);
    padding: ($spacing-unit * 2 + 2) ($spacing-unit * 2);
    width: 100%;

    p {
      @include font-size(14px);
    }

  }

  .request-pending {
    align-items: center;
    display: flex;
    float: left;
    width: 100%;

    i {
      @include font-size(32px);
      color: $colour-dist-green;
      float: left;
      padding-right: ($spacing-unit * 2);
    }

    &__title {

      .title {
        margin: 0;
      }

      p {
        @include font-size(15px);
        margin-bottom: 0;
        padding-top: ($spacing-unit - 1);
      }

    }

  }

  .request-pay-invoice {

    &__btn {
      background: $colour-dist-green;
      border-radius: ($spacing-unit - 2);
      color: $colour-white;
      font-weight: 600;
      height: auto;
      margin-top: ($spacing-unit * 4);
      padding: ($spacing-unit * 2 - 2) ($spacing-unit * 4) ($spacing-unit) ($spacing-unit * 4);

      &:focus {
        outline: none;
      }

    }

    &__txt {
      @include font-size(14px);
    }

  }

}