<ng-template
  *ngIf="templateName$ | async as layoutName"
  [cxPageTemplateStyle]="layoutName"
  [cxOutlet]="layoutName"
  [cxOutletContext]="{ templateName$: templateName$, slots$: slots$ }"
>
  <cx-page-slot position="Content"></cx-page-slot>
  <cx-page-slot position="ProductFamilyDetailTopBar"></cx-page-slot>

  <div class="container showing-results-labels">
    <cx-page-slot position="ProductListTitle"></cx-page-slot>
    <cx-page-slot position="ProductListPagination"></cx-page-slot>
  </div>

  <cx-page-slot position="ProductListFilters"></cx-page-slot>
  <cx-page-slot position="ProductListMain"></cx-page-slot>
</ng-template>
