.skin-checkout-order-summary-info-box-open-order-myaccount {

  .box {
    position: relative;

    .btn-change {
      bottom: 17px;
      position: absolute;
      right: 12px;
    }

  }

  .data-list {

    .entry{
      height: auto;
    }

  }

}
