.skin-checkout-order-summary-info-box-shipping-method-new {
  border-top: 1px solid $colour-light-grey;
  margin-bottom: 0;
  padding: ($spacing-unit * 3) 0 ($spacing-unit * 4);

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-unit;

    h4 {
      @include font-size(14px);
      font-family: $font-stack-alt;
      font-weight: 700;
    }

    &__edit {

      a {
        @include font-size(14px);
        color: $colour-dist-mid-grey;

        &:hover,
        &:focus {
          color: $colour-dist-grey;
          text-decoration: underline;
        }
      }

    }

  }

  .method {
    @include font-size(12px);
    font-family: $font-stack-alt;
    font-weight: 400;
  }

}
