.skin-freight-cost-pdp {
  padding: ($spacing-unit * 4) 0;
  position: relative;
  text-align: left;

  &__title {
    color: $colour-dist-green;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: ($spacing-unit);
    text-transform: capitalize;

    i,
    svg {
      @include font-size(11px);
      font-weight: 800;
      margin-right: ($spacing-unit);
    }

  }

  &__text {
    display: inline-block;
    padding-right: $spacing-unit*4 + 1;
  }

  &__options {
    display: inline-block;
    position: relative;

    p {
      @include font-size(14px);
      @include line-height(24px);
      color: $colour-dist-grey;
      display: inline-block;
      position: relative;

      i,
      svg {
        margin-right: 5px;
      }

      a {
        color: $colour-dist-grey;
        text-decoration: none;
      }

    }

    i,
    svg {
      margin-left: ($spacing-unit);
    }

    &--IT {
      font-size: 14px;
    }

    .freight-popover {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  &__pricing {
    background-color: $colour-white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    bottom: 35px;
    color: $colour-white;
    font-size: 13px;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    right: -10px;
    text-align: left;
    visibility: hidden;
    width: 100%;
    z-index: 910;

    @media #{$mobile-landscape} {
      width: 500px;
      left: 50%;
      transform: translateX(-52%);
    }

    @media #{$ipad-landscape} {
      left: initial;
      transform: none;
    }

    .pricing-close {
      position: absolute;
      right: 10px;
      top: 10px;

      @media #{$desktop} {
        display: none;
      }

      .close {
        @include font-size(18px);
        color: $colour-dist-grey;
      }

    }

    .pricing-border {
      border-top: 4px solid $colour-dist-marigold;
      height: 4px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      &:after {
        border-top: 4px solid $colour-dist-carmine;
        content: '';
        height: 0;
        left: 33%;
        position: absolute;
        top: -4px;
        width: 33.33%;
        z-index: 1;
      }

      &:before {
        border-top: 4px solid $colour-dist-red;
        content: '';
        height: 0;
        position: absolute;
        top: -4px;
        right: 0;
        width: 34%;
        z-index: 1;
      }

    }


    &::after {
      border: 10px solid $colour-white;
      border-color: transparent transparent $colour-white $colour-white;
      box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.05);
      box-sizing: border-box;
      content: "";
      left: inherit;
      position: absolute;
      right: 14px;
      width: 0;
      height: 0;
      bottom: -19px;
      transform-origin: 0 0;
      transform: rotate(-45deg);
    }

    thead {

      td {
        @include font-size(14px);
        @include line-height(26px);
        color: $colour-dist-carmine;
        font-weight: bold;
      }

    }

    .shipping-cost-table-two {

      tbody {

        td {

          &:nth-of-type(2) {
            width: 126px;
          }

          &:last-of-type {
            width: 99px;
          }

        }

      }

    }

    th {

      &.tdline {
        color: $colour-dist-carmine;
      }

    }

    .tdline {
      @include font-size(12px);
      @include line-height(26px);
      color: $colour-black;
    }

    .shipping-content {

      table {

        td {

          &.tdline {
            text-align: left !important;
          }

        }

      }

    }

    &--NO {
      right: -160px;
      width: 400px;
    }

    &--IT {
      right: -146px;
    }

    &--AT {
      bottom: 65px;
    }

  }

}
