@import 'global-utilities';

.app-featured-products {
  display: block;
  margin: ($spacing-unit * 3) 0;
  width: 100%;
}

.product {
  flex: none;
  max-width: 100%;
  padding: 0 10px;
  width: 50%;
  margin: 0 auto 20px auto;
  position: relative;

  @media #{$ipad} {
    flex: 0 0 50%;
    flex-basis: 0;
    flex-grow: 1;
  }

  @media #{$ipad-landscape} {
    flex: 0 0 20%;
    margin-bottom: ($spacing-unit * 8);
  }

  &__item {
    background-color: $colour-white;
    border: ($spacing-unit - 4) solid $colour-light-grey;
    border-radius: ($spacing-unit - 3);
    box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) 0 rgb(0 0 0 / 15%);
    min-height: 288px;
    overflow: hidden;
  }
}

.manufacturer {
  pointer-events: none;
  position: absolute;
  right: 27px;
  top: -10px;
  z-index: 1;

  a {
    display: inline-block;
    text-align: right;
    width: 100%;

    img {
      height: auto;
      margin: ($spacing-unit * 4) 0 0;
      padding: ($spacing-unit * 2);
      width: 70px;
    }
  }
}

.title {
  @include font-size(13px);
  @include line-height(16px);
  color: $colour-mid-black;
  display: inline-block;
  font-weight: $font-weight-bold;
  height: 35px;
  letter-spacing: -0.3px;
  padding: 0 16px;
  margin: 16px 0 0 0;

  &__link {
    color: $colour-black;
    display: inherit;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
  }
}

.product-img-link {
  display: flex;
  position: relative;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: ($spacing-unit * 8);
  }
}

.price {
  @include font-size(14px);
  @include line-height(18px);
  color: $colour-dark-grey;
  display: inline-block;
  padding: 0 ($spacing-unit * 3 + 1);
}

.cta-wrapper {
  padding: 0 ($spacing-unit * 3 + 1);

  a {
    @include font-size(12px);
    @include line-height(30px);
    @include transition(all 0.2s ease-in-out);
    background-color: $colour-green;
    border-radius: ($spacing-unit - 3);
    color: $colour-white;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight-bold;
    margin: ($spacing-unit * 3 + 1) 0 ($spacing-unit * 3 + 1) 0;
    min-width: 94px;
    outline: none;
    overflow: hidden;
    padding: ($spacing-unit) ($spacing-unit * 2);
    text-align: center;
    width: 100%;

    fa-icon {
      left: 2px;
      position: relative;
      vertical-align: middle;
    }
  }
}
