@import 'global-utilities';

.modal {
  &__button {
    align-self: end;
    position: relative;
    top: (-$spacing-unit * 8);
  }

  &__body {
    max-height: 500px;
    overflow: scroll;
    width: 100%;
    padding: 0 ($spacing-unit * 13);

    &__title {
      @include font-size(24px);
      @include line-height(34px);
      margin-bottom: ($spacing-unit * 3);
      text-align: center;
    }

    &__attribute {
      @include font-size(14px);
      color: $colour-mid-grey;
      text-align: center;
    }

    &__image {
      display: flex;
      justify-content: center;
      margin-top: ($spacing-unit * 4);
    }

    &__illustrate-text {
      @include font-size(11px);
      color: $border-dist-grey;
      padding-top: ($spacing-unit * 7);
      text-align: center;
    }

    hr {
      border: none;
      height: 2px;
      background-color: $colour-black;
    }

    .product-details {
      &__title {
        @include font-size(23px);
        color: $colour-black;
        font-weight: $font-weight-normal;
      }

      .entry {
        .subtitle {
          @include font-size(18px);
          color: $colour-black;
          margin: ($spacing-unit * 3) 0;
        }

        .content {
          @include font-size(12px);

          &__bold {
            font-weight: $font-weight-bold;
          }

          .link {
            color: $link-blue;
            display: inline-block;
            max-width: 65%;
            overflow: hidden;
            padding-left: ($spacing-unit - 1);
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}
