@import 'global-utilities';

$color-social-facebook: #3b5898;
$color-social-linkedin: #1886b0;
$color-social-twitter: #000000;
$color-social-youtube: #cd1e1f;

.main-footer {
  background-color: $colour-dark-grey;
  color: $colour-light-grey;
  float: left;
  width: 100%;

  &__main-content {
    float: left;
    width: 100%;
    background-color: $colour-dark-grey;
  }

  .footer-wrapper {
    display: inline-block;
    flex-basis: auto;
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      flex-basis: 0;
    }

    &__links {
      flex-basis: auto;
      margin: ($spacing-unit * 6) 0 ($spacing-unit * 4) 0;
      order: 4;
      text-align: center;

      .footer-links span.footer-link:last-child .item-link:after {
        content: ' ';
        padding: 0;
      }

      .item {
        display: inline-block;

        .item-link {
          @include font-size(12px);
          @include line-height(20px);
          color: $colour-light-grey;
          cursor: pointer;
          font-weight: $font-weight-medium;

          &:after {
            content: ' | ';
            padding: 0 ($spacing-unit * 2);
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .copyright {
        display: block;
        margin-top: ($spacing-unit * 4);
        font-weight: $font-weight-medium;

        .text {
          @include font-size(12px);
          @include line-height(20px);
          color: $colour-light-grey;
          display: block;
          margin-top: ($spacing-unit);
          width: 100%;
        }
      }

      .countries {
        margin: ($spacing-unit * 4) 0 ($spacing-unit * 4) 0;

        .item:last-child .item-link:after {
          content: ' ';
          padding: 0;
        }
      }
    }

    &__images {
      margin-bottom: ($spacing-unit * 6);
      padding: 0;

      @media #{$ipad-landscape} {
        margin-bottom: 0;
      }

      &.social {
        order: 2;
        text-align: center;

        .footer-icon {
          font-size: 50px;
        }


      }

      &.trademark {
        order: 1;
        text-align: center;

        @media #{$ipad-landscape} {
          text-align: left;
        }
      }

      &.payment {
        order: 3;
        text-align: center;

        @media #{$ipad-landscape} {
          text-align: right;
        }

        .footer-icon {
          img {
            margin: 0 $spacing-unit-small * 2;
          }
          @include tabletPlus {
            &:last-of-type {
              img {
                margin-right: 0;
              }
            }
          }
        }
      }

      .footer-icon {
        display: inline-block;
        width: auto;

        img {
          height: auto;
          max-width: 100%;
        }
      }
    }
  }

  &__nav-row {
    margin-bottom: ($spacing-unit * 8);
    margin-top: ($spacing-unit * 4);
    text-align: center;

    @media #{$ipad-landscape} {
      text-align: left;
    }

    .nav-footer-section {
      width: 100%;

      @media #{$ipad-landscape} {
        width: 20%;
      }

      .nav-title {
        @include font-size(24px);
        @include line-height(30px);
        color: $colour-light-grey;
        display: block;
        font-weight: $font-weight-semiBold;
        letter-spacing: -0.2px;
        margin: ($spacing-unit * 2) 0 ($spacing-unit * 4);
      }

      .nav-list {
        margin-top: ($spacing-unit * 3 + 2);

        .nav-list-item {
          @include font-size(14px);
          @include line-height(24px);
          cursor: pointer;
          font-weight: $font-weight-medium;
          letter-spacing: -0.28px;
          padding-left: ($spacing-unit * 2);

          @media #{$ipad-landscape} {
            padding-left: 0;
          }

          &:hover {
            text-decoration: underline;
          }

          a {
            color: $colour-light-grey;
          }
        }
      }
    }
  }

  .mobile-site-settings {
    margin: ($spacing-unit * 4) 0;

    @media #{$ipad-landscape} {
      display: none;
    }

    app-site-settings {
      .servicenav {
        border-left: 0;
        padding-left: 0;

        .flyout-settings {
          padding-top: 0;
          width: 100%;

          .bd__item {
            .inline-labels {
              width: 33.3% !important;

              .text-value {
                width: 70% !important;
              }

              .dist-radio__custom {
                margin-left: 0 !important;
              }
            }
          }
        }

        &__container {
          @include font-size(14px);

          fa-icon {
            @include font-size(16px);
            padding-right: ($spacing-unit + 3);
          }

          .item {
            @include font-size(14px);
          }
        }
      }
    }
  }

  button:disabled {
    opacity: 0.4;
  }
}

.media-wrapper {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 55px;
}

.media-icon {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.media-icon svg {
  color: #fff;
}

.footer-wrapper .media-wrapper-0:hover .media-icon svg {
  color: $color-social-linkedin;
}

.footer-wrapper .media-wrapper-1:hover .media-icon svg {
  color: $color-social-facebook;
}

.footer-wrapper .media-wrapper-2:hover .media-icon svg {
  color: $color-social-twitter;
}

.footer-wrapper .media-wrapper-3:hover .media-icon svg {
  color: $color-social-youtube;
}



.fab-facebook {
  background-color: $color-social-facebook;
  color: $colour-white;

  &:hover {
    background-color: $colour-white;
    color: $color-social-facebook;
  }
}

.fab-linkedin {
  background-color: $color-social-linkedin;
  color: $colour-white;

  &:hover {
    background-color: $colour-white;
    color: $color-social-linkedin;
  }
}

.fab-twitter {
  background-color: #000;
  color: $colour-white;

  &:hover {
    background-color: $colour-white;
    color: $color-social-twitter;
  }
}

.fab-youtube {
  background-color: $color-social-youtube;
  color: $colour-white;

  &:hover {
    background-color: $colour-white;
    color: $color-social-youtube;
  }
}
