@import 'global-utilities';

.register__form {
  &__additional {
    margin-top: $spacing-unit * 2;
  }

  &__holder {
    .btn {
      min-width: 20%;
      font-weight: $font-weight-normal;
    }
  }

  &__additional {
    small {
      margin-top: $spacing-unit;
      @include line-height(18px);
    }
  }

  &__vatholder {
    display: flex;

    &--input {
      width: 90%;
      margin: 0 !important;
      border-left: none;
      border-radius: 0px;

      &--full-length {
        width: 100%;
        border-left: 1px solid $colour-light-grey;
      }
    }

    &.no-vat-prefilled {
      input {
        border: 1px solid $colour-light-grey;
      }
    }

    .is-invalid {
      border-color: $colour-red;
      color: $colour-red;
    }

    .is-valid {
      border-color: $colour-green;
    }

    .ng-fa-icon {
      top: 11px;
    }

    + .error {
      + .vat-help {
        display: none;
      }
    }
  }
}

.prefilled {
  border: 1px solid $colour-light-grey;
  height: 42px;
  color: $colour-black;
  text-align: center;
  width: 10%;

  .vatPrevalue {
    @include line-height(42px);
  }
}
