@import 'global-utilities';

.label {
  @include typography-ui-sm();
  font-weight: $font-weight-normal;

  display: inline-flex;
  border-radius: ($spacing-unit - 1);

  &-text {
    white-space: nowrap;
    text-align: center;
  }

  &.small {
    padding: $spacing-unit - 1;
  }

  &.medium {
    padding: $spacing-unit + 3;
  }

  &.large {
    padding: $spacing-unit * 2 + 2;
  }

  &.fill {
    &.dark {
      background-color: $colour-dist-grey;
      color: $colour-white;
    }

    &.neutral {
      background-color: $ux-alerts-info-bg-color;
      color: $colour-info-label;
    }

    &.error {
      background-color: $ux-alerts-error-bg-color;
      color: $ux-alerts-error-color;
    }

    &.success {
      background-color: $ux-alerts-success-bg-color;
      color: $ux-alerts-success-color;
    }

    &.warning {
      background-color: $ux-alerts-warning-bg-color;
      color: $ux-alerts-warning-color;
    }
  }

  &.line {
    background-color: inherit;
    border: 1px solid;
  }

  &.bullet {
    background-color: inherit;
    font-weight: $font-weight-medium;

    &__icon {
      margin: ($spacing-unit - 6) $spacing-unit + 1 0;
    }
  }

  &.line,
  &.bullet {
    &.neutral {
      color: $colour-info-label;
    }

    &.error {
      color: $ux-alerts-error-color;
    }

    &.success {
      color: $ux-alerts-success-color;
    }

    &.warning {
      color: $ux-alerts-warning-color;
    }
  }
}
