.skin-shipping-information-comparelist-new {
	border-width: 0;
	height: 125px;
	padding: 5px;
	position: relative;

	.row {
		margin-left: -2px;
	}

	.btn-info {
		margin-top: 2px;
	}

	.tooltip-hover {
		padding-right: 20px;
		.arrow{
			margin-left: 64px;
		}
	}

	.aligned-vertical{
		margin-left: 10px;
		width: 115px;
		font-size: 13px;
	}

	.available-bar-container{
		width: 110px;
	}



	.availability{
		width: 148px;
		float: left;
		padding-left: 8px;
	}

	.b-list-tools{
		.availability{
			z-index: 2000;
		}
	}


	.availability .availability-compare .row {
		width: 135px;
		font-size: 13px;
		line-height: 16px;
		padding-top: 8px;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-top: 5px;
		}

		h2{
			font-size: 13px;
			line-height: 12px;
		}

		.nth1{

		}

		&.pickup {
			line-height: 16px;
			position: relative;
			bottom: 5px;
			width: 179px;

			.stock-pickup {
				padding-top: 6px;
			}
		}

		.pickupQuantity {
			position: absolute;
			margin-left: 67px;
			text-align: right;
		}

		.avail-date {
			font-size: 10px;
			padding-left: 1ex;
			line-height: 0;
		}

		.left {
			text-indent: -25px;
			padding-left: 25px;
		}

	}

	.cell-availability .availability-compare .row {
		padding-left: 10px;
		line-height: 13px;
		margin-bottom: 6px;

		b {
			display: inline-block;
			text-indent: 0;
		}

		.mod-cart-list-item & {
			.left {
				width: 100px;
			}
		}

	}



	.info-pickup{

		font-size: 12px;
		margin-top: 12px !important;
		position: relative;

		.head{
			font-weight: bold;
			width: 160px;
			font-size: 12px;
			margin-left: -15px;
			border-bottom: 0px solid #cccccc;
		}

		.pickup{
			width: 221px;
			margin-left: -15px;
			margin-top: 0px;
		}

		.left{
			float: left;
		}

		.right{
			margin-left: 45px;
		}

	}



	.info-stock{
		.leadTime{
			font-size: 13px !important;
			padding-left: 14px !important;
		}

		.availabilityHeader{
			width: 200px;
			float: left;
		}
		.leadTimeHeader{
			float: left;

			a{
				color: #009fb4 !important;
				font-size: 13px;
				font-weight: 400;
				width: 136px;
				position: absolute;
				bottom: 5px;
				margin-left: -2px;
				outline: none;
			}
		}
	}


	.leadtime{
		height: 18px;
	}


	.leadTimeField{
		width: 150px !important;
		margin-left: -14px;
	}

	.leadTimeFlyout{
		margin-left: -164px;
		top: -34px;
		min-height: 136px;

		.mod-compare-list-item & {
			margin-left: 4px;
			.lead-arrow-down {
				margin-left: 56px;
				margin-top: 15px !important;
			}
		}

		.tabular-search-table & {
			margin-left: 460px;
		}

		.tabular-search-table .tabularViewExpanded & {
			margin-left: 335px;
		}
	}


	.skin-layout-compare &{
		.row{
			width: 180px;
		}

		.leadTimeFlyout{
			top: -50px;
			min-height: 147px;
		}

		.lead-arrow-down{
			top: 128px;
		}
	}

	.moreStockAvailable{
		margin-top: 2px;
	}

}
