.skin-shipping-information-category {
  border: 0;
  float: left;
  height: auto;
  width: 100%;

  .compare-list {

    .row {
      color: #333;
      font-size: 12px;
      line-height: 20px;
    }

  }

}
