.skin-shipping-information-comparelist {

	.row {
		margin-left: -2px;
		width: 144px;
	}

	.btn-info {
		margin-top: 2px;
	}

	.tooltip-hover {
		padding-right: 20px;

		.arrow {
			margin-left: 64px;
		}
	}
	
	.aligned-vertical {
		font-size: 13px;
		margin-left: 10px;
		width: 115px;
	}
	
	.available-bar-container {
		width: 110px;
	}

	
	
	.availability {
	    float: left;
	    padding-left: 8px;
		width: 148px;
	}
	
	.b-list-tools {

		.availability {
			z-index: 2000;
		}
	}


	.availability .availability-compare .row {
		font-size: 13px;
    	line-height: 16px;
    	padding-top: 8px;
		width: 135px;

    	&:first-child {
    		padding-top: 0;
    	}
    	
    	&:last-child {
    		padding-top: 5px;
    	}
    	
    	h2 {
    		font-size: 13px;
    		line-height: 12px;
    	}
    	
    	&.pickup {
			bottom: 5px;
		    line-height: 16px;
		    position: relative;
		    width: 179px;
		    
		    .stock-pickup {
		    	padding-top: 6px;
		    }
		}
		
		.pickupQuantity {
		    margin-left: 67px;
			position: absolute;
		    text-align: right;
		}

	    .avail-date {
			font-size: 10px;
			line-height: 0;
			padding-left: 1ex;
	    }
	    
	    .left {
			padding-left: 25px;
			text-indent: -25px;
	    }
	    
    }
    
 	.cell-availability .availability-compare .row {
		.font-size(12px);
 		text-indent: -34px;
		padding-left: 34px;
		line-height: 15px;
		margin-bottom: 15px;
		
        b {
			display: inline-block;
			text-indent: 0;
		}
		
		.mod-cart-list-item & {

			.left {
				width: 100px;
			}
		}

		.further-text {
			margin-bottom: 5px;
		}
		
	}

	.info-pickup {
		font-size: 12px;
	    margin-top: 12px !important;
	    position: relative;
	
		.head {
			border-bottom: 0 solid #cccccc;
			font-size: 12px;
			font-weight: bold;
		    margin-left: -15px;
			width: 160px;
		}
		
		.pickup {
   	 		margin-left: -15px;
   	 		margin-top: 0;
			width: 221px;
		}
		
		.left {
			float: left;
		}
		
		.right {
			margin-left: 45px;
		}

	}	
	
	
	
	.info-stock {

		.leadTime {
			font-size: 13px !important;
    		padding-left: 14px !important;
		}
		
		.availabilityHeader {
		    float: left;
			width: 200px;
		}

		.leadTimeHeader {
			float: left;	
			
			a {
				bottom: 5px;
				color: #009fb4;
			    font-size: 13px;
			    font-weight: 400;
			    margin-left: -2px;		
			    outline: none;
				position: relative;
				width: 136px;
			}
		}
	}


	.leadtime {
		margin: 0;
	}


	.leadTimeField {
		width: 150px !important;
   	 	margin-left: -14px;
	}

	.leadTimeFlyout {
	    margin-left: -164px;
	    min-height: 136px;
		top: -34px;
	    
	    .mod-compare-list-item & {
	    	margin-left: 4px;

	    	.lead-arrow-down {
	    		margin-left: 56px;
	    		margin-top: 15px !important;
	    	}

	    }
	    
	    .tabular-search-table & {
			margin-left: -166px;
			top: -162px;
	    }
	    
	    .tabular-search-table .tabularViewExpanded & {
			margin-left: -160px;
			top: -164px;
	    }
	}

	.leadtimeholder {
		z-index: 9;

		&__content {
			display: block;
			float: left;
			position: relative;
			width: 100%;
		}

	}
	
	.skin-layout-compare &{
		.row{
			width: 180px;
		}	
		
		.leadTimeFlyout{
		    top: -10px;
		    min-height: 147px;
			position: relative;
		}
		
		.lead-arrow-down{
			top: 128px;
		}
	} 
	
	.moreStockAvailable{
    	text-indent: 0px !important;
		padding-left: 0px !important;
		font-size: 12px;
		width: 158px;
    }

}
