@mod-shipping-information_height: 48px;
@borders-height: 2px;
@mod-shipping-information_spaceLeft: 15px; // Review: KR: Vertical align


.mod-shipping-information {

    .popover-variation(@c-white, #AA1936, 'top');

    height:@mod-shipping-information_height;
    #border > .border-std(1px, 0, 0px, 1px);

    .gu-3 {
        #typo .size-s();
        height:@mod-shipping-information_height - @borders-height; // Review: KR: Vertical align
        line-height: @mod-shipping-information_height - @borders-height; // Review: KR:
        padding:0 10px 0 @mod-shipping-information_spaceLeft; // Review: KR:

	    .lt-ie8 & {
		    width: 214px;
	    }

        span {
            font-weight: @font-base-bold;
            float:left;

            .availability-title {
            	max-width: 80px;
            }
        }
    }

    .available-bar {
        line-height: 1;
        #obj > .available-bar();
    }

    .btn-info {
        float: right;
        margin-top: 7px;

		i {
			.s-polygon-info-grey();
		}

		&:hover i,
		&:focus i {
			.s-polygon-info-blue();
		}

		&:active i, &.active i {
			.s-polygon-info-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-info-grey();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-info-grey();
			}
		}
    }


    .popover {
        .popover-content {
            padding-bottom: 7px;
        }
        font-weight: @font-base-light;
        .row {
            padding:0 3px;
            width:180px;
        }
        h2 {
            font-weight: @font-base-light;
            padding: 5px 3px 9px 3px;
        }
        .left, .right {
            padding: 0 3px 0 3px;
            line-height: 1;
            float:left;
            margin-bottom: 10px;
        }
        .left {
            width:135px;

        }
        .right {
            float: right;
        }
    }

    .tooltip-hover {
        .popover {
            visibility: visible;
        }

        &:hover {
            .popover {
                visibility: visible;
            }
        }
    }

    .load-complete {
        display: none;
    }
    .load-in-process {
        display:none;
    }

    .loading {
        .load-complete {
            display: none;
        }
        .load-in-process {
            display:block;
			font-size: 14px;
			margin-left: 8px;
			padding-top: 10px;         
        }
    }
    
    .load-error {
    	display: none;
    }
    
    .error {

    	.load-error {
			display: block;
    	}

    	.load-complete {
			display: block;
    	}
	}

	.leadTime{
		font-size: 13px !important;
		padding-left: 14px !important;
	}

	.availabilityHeader{
		width: 200px;
		float: left;
	}

	.leadTimeHeader {
		float: right;

		a {
			color: #009fb4 !important;
			font-size: 13px;
			font-weight: 400;
			width: 136px;
			outline: none;
		}
	}


	@media print {
    	.btn-info {
    		.hidden();
    	}
    }
    
    .tableinfo{
    	
    	line-height: 25px;
    	
    	.head{
    		font-weight: @font-base-bold;
    		font-size: 15px;
		    width: 200px;
		    border-bottom: 1px solid #cccccc;    		
    	}
    	
    	.left{
    		float: left;
    	}
    	
    	 .right{
    		float: right;
    		width: 70px;
    	}
    }
    
	.leadTimeFlyout{ 
	    border: 1px solid #ddd;
	    position: absolute;
	    width: 464px;
	    margin-left: 194px;
	    font-size: 13px;
	    background: #ddd;
	    padding: 0px 5px 5px 8px;
	    z-index: 2000;
	    margin-top: 0px; 
	    
	    .leadTimeLine{
		    line-height: 15px;
		    margin-top: 8px;
		    
		    
		    h3{
		    	margin: 0;
			    width: 6%;
			    float: right;
			    margin-top: -3px;
		    }
	    }
	}
	
	
	h3.base {
		margin: 0;
		width: 100%;
		
		i {
			float:right;
			.s-remove-black();

			&:hover {
				.s-remove-blue();
				cursor: pointer;
			}
		}

	}	

	.lead-arrow-down {
	    width: 0;
	    height: 0;
	    border-left: 8px solid transparent;
	    border-right: 8px solid transparent;
	    border-top: 11px solid #ddd;
		margin-left: 214px;
    	margin-top: 4px;
	    position: absolute;
	}
	
	&.skin-shipping-information-comparelist,
	&.skin-shipping-information-comparelist-new {

		.lead-arrow-down{
			top: 115px;
			margin-top: 17px;
		}
	}


}
