@import 'global-utilities';

.checkout-delivery {
  .selections-disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  .laterDelivery {
    &__btn {
      &:disabled {
        background-color: unset;
      }
    }
  }
}
