<div class="modal" id="modalShoppingList">
  <div class="hd">
    <div class="left">
      <h3 class="title" id="shoppingList_modal_title">{{ 'shoppingList.modalTitle' | cxTranslate }}</h3>
    </div>
    <div class="right">
      <a class="btn btn-close" id="shoppingList_modal_btn_close" (click)="closeModal(false)">
        <fa-icon [icon]="faTimes"></fa-icon>
      </a>
    </div>
  </div>
  <form [formGroup]="shoppingListForm">
    <div class="bd">
      <div class="start-box">
        <div class="form-row">
          <ul *ngIf="shoppingListsAll$ | async as shoppingListsAll" class="box checkbox-group">
            <li *ngFor="let item of shoppingListsAll; let i = index">
              <input
                [id]="'shoppingList_modal_item_checkbox_' + i"
                [name]="item?.uniqueId"
                [value]="item?.uniqueId"
                [checked]="shoppingListForm.get('checkbox-modal-' + item?.uniqueId)?.value === item?.uniqueId"
                (change)="onCheck(item?.uniqueId, $event)"
                type="checkbox"
              />
              <label [id]="'shoppingList_modal_item_label_' + i" [for]="'shoppingList_modal_item_checkbox_' + i">
                <fa-icon [icon]="faFileAlt"></fa-icon>
                {{ item?.name }}
                <span [id]="'shoppingList_list_product_count' + i">{{ item?.totalUnitCount }}</span>
              </label>
            </li>
          </ul>

          <div *ngIf="hasError" class="text-danger data-js-product-code">
            <fa-icon [icon]="faExclamationTriange"></fa-icon>
            <small class="text-danger" id="shoppingList_modal_error_label">
              {{ 'shoppingList.error_invalid' | cxTranslate }}
            </small>
          </div>
        </div>
        <div class="form-row row-new-shopping-list">
          <label class="newShoppingList" id="shoppingList_modal_new_list_label">
            {{ 'shoppingList.newShoppingList' | cxTranslate }}
          </label>
          <input
            class="new-shopping-list-input"
            id="shoppingList_modal_new_list_input"
            [placeholder]="'shoppingList.nameNewList' | cxTranslate"
            name="newShoppingListName"
            formControlName="name"
            maxlength="40"
            type="text"
          />
        </div>
      </div>
    </div>
    <div class="ft">
      <button
        class="mat-button btn-cancel"
        id="shoppingList_modal_btn_cancel"
        [disabled]="isInProgress"
        (click)="closeModal(false)"
        type="submit"
      >
        {{ 'shoppingList.cancel' | cxTranslate }}
      </button>
      <button
        class="mat-button mat-button--red btn-primary"
        id="shoppingList_modal_btn_save"
        [disabled]="isInProgress"
        (click)="save()"
        type="submit"
      >
        {{ 'shoppingList.ok' | cxTranslate }}
      </button>
    </div>
  </form>
</div>
