.mod-lightbox-quotation-confirmation {

  .modal {
      left: 50%;
      margin: 0;
      max-width: 480px;
      outline: none;
      transform: translateX(-50%);
      width: calc(100% - 20px);

      @media #{$ipad} {
        width: 480px;
      }

     &.error {

       .hd {
         background-color: $colour-dist-red;

         .-left {

           h3 {
             font-weight: 600;
           }

         }

       }

     }

  }

  .error-quote-message {

    a {
      text-decoration: underline;
    }

  }

}
