.mod-rma-success-return {

  .print-holder {

    .mod-rma-button {
      float: left;
      width: 100%;

      .mat-button {

        &--action-red {
          display: inline-block;
          padding: 0 ($spacing-unit * 2);
          width: auto;
        }

      }

    }

  }

}
