.skin-productlist-tools-shopping {
  margin-bottom: ($spacing-unit * 2);
  margin-top: ($spacing-unit * 4);

  @media #{$ipad} {
    margin-bottom: 0;
    margin-top: ($spacing-unit * 5);
  }

  .tools-bar {
    float: left;

    @media #{$ipad} {
      float: right;
    }

  }

}