.skin-layout-account {
	.page-title {
		padding-left: 0;
	}
	
	.quotation-table{ 
	
		th{
			background: #ccc;
			font-weight: bold;
		}
	
		td{
			text-align: center;
	    	padding: 6px 23px 6px 23px;
	    }
	    
	    /*
		tr:nth-child(odd) {
		   background-color: red;
		}	
		*/   
		
		tbody:tr:nth-child(odd) {
 			background: #eee;
		}
	    
	}
	
	.special{
		background: #eee;
	}

	
	
}
