.skin-layout-full-width {
	width: 100%;
	
	.body-container {
		width: 100% !important;
		
		.main-content-right {
			float: left;
			padding: 0 (@spacing-unit * 4);
			width: 100% !important;
		}
		
		.ct-nonavigation {
			width: 100% !important;
		}
		
		.mod-productlist-controllbar {
		 	
		 	.row {
				width: 100% !important; 
			}

		}


	}
	
	.gu-full {
		width: 100%;
	}
	
	.gu-70 {
		margin-left: 300px;
		position: absolute;
		width: 82.3%;
	}	


}
