.skin-layout-search {

	&--standard {

		.body-container {

			.main-content-right {


				.mod-global-messages {
					float: none;
					margin: 0 auto;
				}

				.mod-manufacturer-store-detail-topbar {
					margin: 0 auto;
					width: 1280px;
				}

				.ct-nonavigation {
					float: none;
					margin: 0 auto;
					width: 1280px !important;
				}

				.mod-related-pages {
					width: 960px;
				}

			}

		}

	}

	.page-title {
		color: #000;
		width: 100%;
	}
	
	.tip{
		color: #000;
		float: left;
		margin: 0 0 25px;
		width: 100%;
	}
	
	.empty-search-box{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:500px;
		margin-top:10px;
		margin-bottom: 20px;
	}

	.lt-ie8 & {
		.gu-3.padding-right{
			width: 230px;
		}
	}

	.specific-prices {
		width: 1280px;

		.customer-specific-prices {
			margin-bottom: 20px;
		}

	}
	
}
