
.skin-layout-dev {

	//
	// DEV Badge
	&:after {
		content: 'DEV';
		position: fixed;
		top: 0;
		left: 0;
		padding: 2px 8px;
		color: white;
		background: #E21206;
		font-size: smaller;
	}

	//
	// Grid Overlay
	#grid-overlay {

		font-size: smaller;

		.grid-overlay-ctrl {
			position: fixed;
			top: 80px;
			left: 8px;

			a {
				display: block;
				width: 2.0em;
				white-space: nowrap;
			}
		}

		.grid-overlay-ct-h {
			position: absolute;
			width: 100%;
			height: 1000em;
			top: 0;
			left: 0;
			background: url('@{path-assets}/media/img-test/test-baseline-6px.png') repeat;

			&.off {
				display: none;
			}
		}
	}
	.v-grid .ct {
		background-image: url('@{path-assets}/media/img-test/test-grid_960px-12col-80w-0gut.png'); // Grid Background
	}

}