.skin-layout-manufacturer {

  .lt-ie8 & {

    .gu-3.padding-right {
      width: 230px;
    }

  }

  &--standard {

    .body-container {

      .main-content-right {

        .mod-global-messages {
          float: none;
          margin: 0 auto;
        }

        .mod-manufacturer-store-detail-topbar {
          margin: 0 auto;
          width: 1280px;
        }

        .ct-nonavigation {
          float: none;
          margin: 0 auto;
          width: 1280px !important;
        }

        .mod-related-pages {
          width: 960px;
        }

      }

    }

  }


  .manufacturerBottomContainer {
    margin-top: 20px;
    margin-left: -297px;
  }

  .specific-prices {

    .customer-specific-prices {
      margin-bottom: 20px;
    }

  }

  .morecontent {
    font-style: normal;

    .morelink {
      font-style: italic;
    }

  }

}
