.skin-layout-full-width-content-without-navigation{

	.category-nav{
		display: none;
	}

	.ct{
		width: 1290px !important;
	}

	.mod-headline {
		padding-left: 10px;
	}
	
	.parent{
		width:100%; 
		display:table; 
		margin-top:20px
	}
	
	.left{
		display:table-cell; 
		width:1280px; 
		padding-right: 20px;
	}
	 
	.right{
		position: absolute;
	}
	
	.bottom{ 
		margin-top:50px; 
		width:660px;
	}
	
}
