.skin-layout-category {

  @media print {

    -webkit-transform: scale(0.71);  // Saf3.1+, Chrome
    -moz-transform: scale(0.71);  // FF3.5+
    -ms-transform: scale(0.71);  // IE9
    -o-transform: scale(0.71);  // Opera 10.5+
    transform: scale(0.71);
    margin: -50px 0 0;  // big hack to reposition the page top the top and left of the viewer control
  }

}
