.mod-layout {

  &.no-scroll {
    overflow: hidden !important;
  }

  &.no-scroll-x {
    overflow-x: hidden !important;
  }

  .eproc {
    overflow: initial !important;
  }

  .no-scroll-checkout {
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  &.skin-layout-checkout .ct {
    margin: 0 auto;
    width: 100%;

    .mod-logo {
      margin: 0 auto;
      width: 1280px;

      .img-ct {
        padding-left: 0;
        padding-top: @spacing-unit * 3;
      }

    }

  }

  &.skin-layout-checkout #main {
    padding-top: 80px;
    width: 1280px;
  }

  .footer {
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    margin-left: 3px;

    &.checkout {
      padding-top: 0;
    }

  }

  .footer-row-social {
    margin-bottom: 58px;
  }

  @media screen {
    .mod-print-footer {
      display: none;
    }
  }

  .display-block {
    display: block;
    position: absolute;
  }

  // this container is below the footer and contains lightbox modules
  .global {
    height: 0;
    overflow: hidden;
  }

  .page-title {
    margin-bottom: 25px;
  }

  @media print {

    // General styling across all pages
    &.skin-layout-product,
    &.skin-layout-shopping-list,
    &.skin-layout-compare,
    &.skin-layout-cart,
    &.skin-layout-category,
    &.skin-layout-account,
    &.skin-layout-search,
    &.skin-layout-checkout {
      margin-left: -310px;
      .commonElements();

    }

    &.skin-layout-cart {

      .ct-nonavigation {
        margin-left: 320px;
      }

      .right-recommendations {
        display: none;
      }

      .mod-footer {
        margin-top: 300px;
      }

    }

    .skin-layout-cart {

      .mod-footer {
        margin-top: 300px;
      }

    }

    &.skin-layout-checkout {
      margin-left: 0;
    }

    &.skin-layout-account-detail {
      margin-left: -310px;
      .commonElements();
    }

    &.skin-layout-search,
    &.skin-layout-category {
      margin-left: 0;

      .mod-metahd {
        display: none;
      }

      .body-container {

        .sticky-wrapper {
          display: block;
        }

      }

    }

    // Print Product
    &.skin-layout-product {

      .print-product-name {
        width: 75%;
      }
      .print-rating {
        width: 25%;
      }
      .social-media-row {
        border-bottom-width: 0;
        width: 480px;
      }

      .fact-finder-campaign {
        padding: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
      }

      .right-recommendations {
        display: none;
      }

      .ct-nonavigation {
        margin-left: 300px;
      }

    }

    // Print Checkout pages e.g. order details
    &.skin-layout-checkout {

      .sticky-wrapper { // Summary calc price box
        display: block;
      }

    }

  }

}

@page {
  margin: 2cm 1cm;
}

@media print {

  body {
    -webkit-print-color-adjust: exact;
  }

  .body-container {
    padding: 0 !important;
  }

  .main-content-right {
    margin: 20px 0 0 0 !important;
    padding: 0 !important;
    page-break-before: avoid;
  }

  .sticky-level-1 {
    position: relative !important;

    &--stuck {
      box-shadow: none !important;
    }

  }

  .mod-logo {
    margin: 10px 0 !important;
  }

  .width300,
  .expand-all,
  .categories-wrapper,
  .sticky-level-2,
  .sticky-level-3,
  .mod-metahd,
  .mod-facets,
  .mod-categorynav,
  footer,
  .mod-cookie-notice,
  .mod-manufacturer-store-detail-topbar {
    display: none !important;
  }

  .mod-productlist {
    margin: 0 !important;
  }

  .skin-product-search,
  .skin-productlist-pagination-product-list-pag,
  .ImInTabularViewSimple,
  .image-and-description {
    page-break-inside : avoid;
  }

  .availability {
    position: relative;
  }

  .skin-product-technical {

    .main__image {
      width: 10% !important;
    }

    .main__content {
      width: 38% !important;
    }

  }

  .gu-70,
  .skin-productlist-search-tabular {
    margin: 20px 0 0 0 !important;
    overflow: visible !important;
    position: relative !important;
    width: 100% !important;
    page-break-after: avoid;

    .image-cell-l {
      width: 70px !important;
      overflow: hidden;
    }

    .image-and-description {
      padding: 15px 5px !important;
    }

    .product-image-header {
      width: 75px !important;
    }

    .image-container {
      img {
        max-width: 100% !important;
      }
    }

  }

  .skin-productlist-search-tabular {

    .divScrollTable {
      float: left !important;
      margin: 0 !important;
    }

    .headcol {
      float: left !important;
      position: relative !important;
      vertical-align: top !important;

      > div {
        float: left;
        height: 100%;
        page-break-inside: avoid;
        position: relative !important;
      }

    }

    .tabular-search-table {
      float: left !important;
      margin: 0 !important;
      width: 100% !important;

      td {
        break-inside: avoid;
      }

    }

    .tr_header {

      td {
        left: auto !important;
        position: relative !important;
        top: 0 !important;
      }

      &.-stuck {
        td {
          left: auto !important;
          position: relative !important;
          top: 0 !important;
        }
      }
    }

  }

}
