.skin-layout-category {

  .lt-ie8 & {

    .gu-3.padding-right {
      width: 230px;
    }

  }

  &--standard {

    .body-container {

      .main-content-right {

        .mod-global-messages {
          float: none;
          margin: 0 auto;
        }

        .ct-nonavigation {
          float: none;
          margin: 0 auto;
          width: 1280px !important;
        }

        .mod-related-pages {
          width: 960px;
        }

      }

    }

  }

  .l1_category {
    font-weight: bold;
    margin-left: -5px;
  }

  .l2_category {
    margin-bottom: 10px;
    margin-left: -5px;
  }

  .l3_category {
    margin-left: 5px;
    margin-top: 5px;

    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }

  }

  .fontsize13px {
    font-size: 13px;
  }

  .specific-prices {

    .customer-specific-prices {
      margin-bottom: 20px;
    }

  }

}
