.skin-layout-roche {
	
	.mod-servicenav{ 
		.telephone-servicenav{ 
			display: none;
		}
		.newsletter-servicenav{
			display: none;
		} 
	}

	.mod-newslettersubscribe{
		display: none;
	}
	
	.mod-cookie-notice{
		display: none;
	}
	
	.mod-give-us-feedback{
		display: none;
	}
	
	

}