.skin-layout-content-without-navigation {
	.mod-headline {
		padding-left: 10px;
	}
	
	.parent{
		width:100%; 
		display:table; 
		margin-top:20px
	}
	
	.left{
		display:table-cell; 
	}
	
	.bottom{
		margin-top:50px; 
		width:660px;
	}
}
