.skin-layout-page-not-found {

  &.search-404-overflow {
    overflow: auto !important;
  }

  &.skin-layout-wide {

    .body-container {
      margin: 0 auto;
    }

    .category-nav {
      height: auto;
      width: 100%;

      .mod-maincategorynav {
        background: transparent;
        display: block;
        float: left;
        margin-top: 30px;
        text-align: center;
        width: 100%;

        &:before,
        &:after {
          content: none;
        }

        .wrapper {
          float: none;
          margin: 0 auto;
          width: 578px;
        }

        .level_1 {
          background: transparent;
          width: auto;
        }

        .content-l1 {
          display: none;
        }

        #menu {
          width: 100%;

          .main_li {

            .activator {
              display: inline-block;
              height: auto;
              vertical-align: middle;

              .level_1 {

                .link_l1 {
                  background: transparent;
                }

              }

            }

            &:hover {

              .activator {

                .level_1 {

                  .link_l1 {

                    .level1titleClass {
                      color: @c-red;

                      span {
                        color: @c-red;
                      }

                    }

                  }

                }

              }

            }

          }

          ul {
            background: transparent;
            border: 0;
          }

          li {
            background: transparent;
            border: 0;
            display: inline-block;
            float: left;
            padding: 0;
            text-align: left;
            width: 50%;

            &:before {
              content: "•";
              color: #393E41;
              display: inline-block;
              width: 15px;
              vertical-align: middle;
            }

            &:hover {

              &:before {
                color: #df1417;
              }


            }

            .link_l1 {
              padding: 0;
            }

            .level1titleClass {
              background: transparent;
              color: #393E41;
              font-size: 14px;
              font-weight: normal;
              line-height: 24px;
              padding: 0;

              span {
                display: block;
                line-height: 28px;
                width: auto;
              }

              i,
              svg {
                display: none;
              }

            }

          }

        }

      }

    }

    .footer {
      margin: 0;
      padding: 50px 0;
      text-align: center;

      .ct {
        margin: 0 auto;
        width: auto;

        .crossWebsiteLinks {
          padding-bottom: 0;

          a {
            color: #979797;
            font-size: 14px;
            line-height: 39px;
          }

        }

      }

    }

  }

  header {

    .logo-holder {
      border-bottom: 1px solid #D8D8D8;
      float: left;
      margin-bottom: 50px;
      text-align: center;
      width: 100%;
    }

  }

  .error-holder {
    float: left;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;

    h1 {
      font-size: 35px;
      font-weight: 600;
      line-height: 36px;
      padding-bottom: 5px;
    }

    p {
      color: #333;
      font-size: 14px;
      line-height: 39px;
    }

  }

  #main {
    float: left;
    margin: 0;
    width: 100%;
  }

}
