.skin-layout-nonavigation {

	@_width: 1280px;
	@_g1: @_width/12;

	.body-container{
		display: block;
		margin: 0 auto;
		width: @_width;
	}


	.width300{
		width: 300px;
		float: left;
		height: 1600px;
	}

	.category-nav{
		display: none;
	}

	.home-left-banner{
		width: 300px;
		margin-top: 30px;
		margin-left: 4px;
	}

	.float-right{
		float: right;
	}


	.main-content-right{
		width: @_width !important;
		float:right;
	}

	.content-wrapper{
		width: @_width;
		margin-left: 0;
	}

	.gu-14{
		width: @_width;
	}

	.advisorBox{
	    width: 1280px;
	}

	.carousel-teaser-container{
		width: 1280px !important;
	}

	.cat-page-banner{

		padding-right: 0px;

		.img-ct{
			float:right;

			.img{
				max-width: 300px;
			}
		}
	}

	.social-media-row {
		border-bottom-width: 1px;
		width: 480px;
	}

	.ct-nonavigation{
		float: left;
	}

	.mod-breadcrumb{
		.ct{
			margin: 0;
		}
	}


	.right-recommendations{
		width: 300px;
		/*height: 926px;*/
		float: right;
		margin-top: -40px;
	}

	.cart-page-recommendations{
		margin-top: 0px !important;
	}

	.bottom-alsobought, .bottom-consistentWith{
		float: left;
		margin-top: 20px;
	}

	.display-block{
		display: block;
		position: absolute;
	}

	.nav-align-right {
		float:right;
		margin-right: 0px;
	}

	.mod-global-messages {
    	max-width: @_width;
		float: left;

		.skin-layout-product& {
		    width: 960px;



		}
	}

	.margin-bottom-400{
		margin-bottom: 400px;
	}


}
