.skin-checkout-order-summary-cost-center-box-open-order {
	.form-box, .box {
		padding: 20px 0 20px 10px;
	}

	.btn-change {
		position: absolute;
		right: 12px;
		bottom: 11px;
		width: 150px;
		margin-right: 10px;
		text-align: left;

		i {
			float: right;
			margin: 3px 0 0 0;
			.s-arrow-right-black();
		}
		&:hover i,
		&:active i,
		&:focus i {
			.s-arrow-right-blue();
		}
	}

}
