.mod-checkout-order-summary-cost-center-box {

	margin-bottom: -50px;

	.message {
		color: #AAAAAA;
		padding-bottom: 10px;
		padding-left: 17px;
	}

	.form-box, .box {
		position: relative;
		overflow: hidden;
		padding-top: 17px;
		padding-bottom: 7px;
		#border .border-std(0, 0, 0, 0);
	}
	.head {
		#typo > .section-title();
	}
	.label-box{
		padding-left: 17px;
	}

	label, input{
		#typo > .size-x-c();
	}

	dl {
		margin: 0;
		#typo > .size-x-c();
	}
	dl dt, dl dd {
		float: left;
		line-height: 24px;
	}
	dl dt {
		clear: both;
		width: 30%;
	}
	dl dd {
		width: 70%;
		margin-left: 0;
	}

	.cost-center, #costcenter{
		margin-left: 10px;
	}

	.reference-required{

		display: none;
		color: red;
		padding: 0 10px;

		span{
		    margin-left: 6px;
		    margin-top: 5px;
		    color: #de1417;
			#typo > .size-x-c();
		}

		i{
			margin-left: 0;
			.s-elements-base-error();
		}
	}
}
