.skin-facets-plp-filter-search {
  bottom: 0;
  background: $colour-white;
  display: block;
  right: -100%;
  overflow: scroll;
  padding-bottom: $spacing-unit*30;
  position: fixed;
  transition: right 1s ease;
  top: 0;
  width: 100%;
  z-index: 1000;

  @media #{$ipad} {
    height: 95%;
  }

  @media #{$ipad-landscape} {
    display: block;
    height: auto;
    overflow: inherit;
    padding-bottom: 0;
    position: relative;
    right: 0;
    width: auto;
    z-index: 10;
  }

  &--mobile {
    right: 0;

    @media #{$ipad-landscape} {
      background: transparent;
      padding: 0;
      position: relative;
      z-index: 0;
    }

  }

  &__more-scroll-link {
    bottom: 25px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;

    .fa-chevron-circle-down {
      @include font-size(30px);
      background-color: $colour-white;
      border-radius: 50%;
      color: $colour-dist-carmine;
      display: block;
    }

    .title {
      @include font-size(12px);
      color: $colour-dark-grey;
    }

  }

  &__more-scroll-link-left {
    bottom: 25px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;

    .fa-chevron-circle-down {
      @include font-size(30px);
      background-color: $colour-white;
      border-radius: 50%;
      color: $colour-dist-carmine;
      display: block;
    }

    .title {
      @include font-size(12px);
      color: $colour-dark-grey;
    }

  }

  .mobile-header {
    background-color: $colour-white;
    border-bottom: 1px solid $plp-facet-border-grey;
    float: left;
    padding: ($spacing-unit * 3);
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2000;
    width: 100%;

    &__text {

      span {
        @include font-size(12px);
        @include line-height(17px);
      }

      .matched-products-count {

        &__text {
          padding-left: ($spacing-unit);
        }

      }

    }

    &__close {
      position: absolute;
      right: ($spacing-unit * 3);
      top: ($spacing-unit * 3);
      z-index: 10;

      span {
        @include font-size(14px);
        @include line-height(19px);
      }

    }

    @media #{$ipad-landscape} {
      display: none;
    }

  }

  .xmod-facets {

    &__more-scroll-wrapper {
      display: none;
      height: 32px;
      position: absolute;
      right: 0;
      top: 45%;
      z-index: 9;
      cursor: pointer;

      @media #{$ipad-landscape} {
        display: block;
      }

    }

    &__more-scroll-wrapper-left {
      display: none;
      height: 32px;
      position: absolute;
      left: 0;
      top: 45%;
      z-index: 9;
      cursor: pointer;
      @media #{$ipad-landscape} {
        display: block;
      }

    }

    &__more-scroll-link {
      position: relative;
      top: 8px;
      text-align: center;
      z-index: 1;

      .fa-chevron-circle-right {
        @include font-size(32px);
        background: radial-gradient($colour-dark-grey 50%,transparent 50%);
        border-radius: 50%;
        color: $colour-white;
        display: block;
        border: solid 1px $colour-dark-grey;
      }

      .title {
        @include font-size(12px);
        color: $colour-dark-grey;
        float: left;
        text-align: center;
        width: 100%;
      }

    }

    &__more-scroll-link-left {
      position: relative;
      top: 8px;
      text-align: center;
      z-index: 1;

      .fa-chevron-circle-left {
        @include font-size(32px);
        background: radial-gradient($colour-dark-grey 50%,transparent 50%);
        border-radius: 50%;
        color: $colour-white;
        display: block;
        border: solid 1px $colour-dark-grey;
      }

      .title {
        @include font-size(12px);
        color: $colour-dark-grey;
        float: left;
        text-align: center;
        width: 100%;
      }

    }

    &__title {
      @include font-size(14px);
      display: block;
      font-weight: 700;
      margin-bottom: $spacing-unit*2;
    }

    .other-facets {

      @media #{$ipad-landscape} {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
      }

      .facet-group {
        border-bottom: 1px solid $plp-facet-border-grey;
        float: left;
        padding: ($spacing-unit * 2) ($spacing-unit * 3);
        width: 100%;

        @media #{$ipad-landscape} {
          border-bottom: 0;
          min-width: 270px;
          width: auto;
        }

        &__title {
          @include font-size(13px);
          @include line-height(17px);
          color: $colour-black;
          font-family: $font-montserrat;

          @media #{$ipad-landscape} {
            display: block;
            font-weight: 700;
            margin: ($spacing-unit * 2) 0;
          }

          .toggle {
            @include font-size(12px);
            color: $colour-dist-carmine;
            display: inline-block;
            float: right;
            padding-top: ($spacing-unit);

            @media #{$ipad-landscape} {
              display: none;
            }

            i {
              @include font-size(14px);
              color: $colour-black;
              padding-left: ($spacing-unit);
              vertical-align: middle;

              &.fa-chevron-up {
                display: none;
              }

            }

          }

          &--active {
            background: rgba(242, 242, 242, 1);
            left: 0;
            padding: ($spacing-unit * 3) ($spacing-unit * 2);
            position: fixed;
            top: 70px;
            width: 100%;

            @media #{$ipad-landscape} {
              background: transparent;
              padding: 0;
              position: relative;
              top: 0;
            }

            .toggle {

              i {

                &.fa-chevron-up {
                  display: inline-block;
                }

                &.fa-chevron-down {
                  display: none;
                }

              }

            }

          }

        }

        &__list {
          display: none;
          width: 100%;

          @media #{$ipad-landscape} {
            display: block;
          }

          &--active {
            background: $colour-white;
            display: block;
            height: 78%;
            left: 0;
            overflow: scroll;
            padding: ($spacing-unit * 3);
            position: fixed;
            top: 120px;

            @media #{$ipad-landscape} {
              background: transparent;
              display: block;
              height: auto;
              left: 0;
              overflow: hidden;
              padding: 0;
              position: relative;
              top: 0;
            }

          }

        }

        &.type-slider {
          display: none;
        }

      }

    }

  }

  .plp-filter-search-facets {
    padding: 0 ($spacing-unit * 2);
    position: relative;
    top: 70px;

    @media #{$ipad-landscape} {
      padding: 0;
      position: initial;
      top: 0;
    }

    .other-facets {

      &::-webkit-scrollbar {
        background-color: $colour-pale-grey;
        border: 1px solid $colour-pale-grey;
        border-radius: $spacing-unit*2;
        height: $spacing-unit * 5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $plp-facet-sidebar-grey;
        border-radius: $spacing-unit * 2;
        background-image: url('/_ui/desktop/common/images/scrollbar-bg.png');
        background-position: center center;
        background-repeat: no-repeat;
      }

    }

    .plp-scrollbar {

      &__wrapper {
        background-color: $plp-facet-light-grey;
        border: 1px solid $plp-facet-mid-grey;
        border-radius: $spacing-unit;
        height: $spacing-unit*4;
      }

      &__handle {
        color: $colour-white;
        background-color: $colour-dist-carmine;
        border-radius: $spacing-unit;
        text-align: center;
        user-select: none;

        i {
          @include font-size(13px);
          margin: 0 ($spacing-unit*2);
        }

      }

    }

    &__filter-all-label {
      display: block;
      padding: ($spacing-unit * 3) 0 ($spacing-unit);

      @media #{$ipad-landscape} {
        @include font-size(13px);
        padding: ($spacing-unit * 2) ($spacing-unit - 3);
      }

      input {
        display: none;
      }

      .label {
        @include font-size(13px);
        display: inline-block;
        font-family: $font-montserrat;
        font-weight: 500;

        @media #{$ipad-landscape} {
          padding-left: ($spacing-unit);
        }

      }

      &.active {

        .label {
          color: $colour-dist-carmine;

          @media #{$ipad-landscape} {
            color: $colour-black;
          }

        }

      }

    }

    &__filter-facet-list {
      padding: 0;

      @media #{$ipad-landscape} {
        height: 150px;
        overflow-y: auto;
      }

      .facet-item {
        @include font-size(13px);
        font-family: $font-montserrat;
        font-weight: 500;
        padding: ($spacing-unit * 2) 0;

        @media #{$ipad-landscape} {
          border-left: 2px solid transparent;
          margin: ($spacing-unit - 4) 0;
          padding: ($spacing-unit) 0;
        }

        &__anchor {
          @include font-size(13px);
          @include line-height(20px);
          cursor: pointer;
          outline: none;

          b {
            display: none;

            @media #{$ipad-landscape} {
              display: inline-block;
              font-weight: normal;
            }

          }

          &__name {
            display: inline-block;
            width: 85%;

            @media #{$ipad-landscape} {
              padding-left: 0;
            }

          }

        }

        .product-count {
          @include font-size(13px);
          @include line-height(20px);
          display: none;

          @media #{$ipad-landscape} {
            display: inline-block;
          }

        }

      }

    }

    .facet-list {
      overflow: hidden;
      position: relative;
    }

    .min-max-wrapper {
      display: none;
      float: right;
      margin: $spacing-unit * 2 !important;

      @media #{$ipad-landscape} {
        display: block;
      }

      .selectpicker {
        @include font-size(13px);
        margin-right: $spacing-unit*2 !important;
        padding: ($spacing-unit - 3);
        width: 60px;
      }

    }

    .button-wrapper {
      clear: both;
    }

    .button-container {
      display: none;
      height: 40px;
      position: relative;

      @media #{$ipad-landscape} {
        display: block;
      }

      .facet-reset {
        @include font-size(13px);
        color: $colour-dark-red;
        font-family: $font-montserrat;
        height: auto;
        padding: ($spacing-unit * 2 + 3) 0;

        &:hover,
        &:active,
        &:focus {
          outline: none;
        }

      }


    }

    .show-more {
      display: none;
    }

    &__filter-selection {
      @include font-size(13px);
      display: none;
      line-height: normal;


      @media #{$ipad-landscape} {
        background-color: $colour-dist-green;
        border-radius: ($spacing-unit - 3);
        color: $colour-white;
        display: inline-block;
        padding: ($spacing-unit) ($spacing-unit*2);
        margin-top: $spacing-unit;
        position: absolute;
        right: -100%;
        transition: right 0.5s;
      }

      &.open {
        display: inline-block;
        right: ($spacing-unit*4);

        @media #{$ipad-landscape} {
          right: 0;
        }
      }

      &.for-desktop {
        display: none;

        @media #{$ipad-landscape} {
          display: inline-block;
        }

      }

    }

    &__content {
      position: relative;

      .facet-item {
        padding: 3px 0;

        &__checkbox {
          border-color: $colour-light-grey;
          border-radius: 2px;
          display: inline-block;
          height: 20px;
          vertical-align: top;
          width: 20px;

          @media #{$ipad-landscape} {
            margin: ($spacing-unit - 2) ($spacing-unit) 0 0;
          }

          &::after {
            bottom: 3px;
            height: 14px;
            left: 6px;
            width: 6px;
          }

        }

      }

    }

    &__search-wrapper {
      position: relative;
      margin-bottom: ($spacing-unit * 2);

      &__icon {
        @include font-size(20px);
        position: absolute;
        right: ($spacing-unit * 2);
        top: ($spacing-unit * 2);

        @media #{$ipad-landscape} {
          @include font-size(16px);
          opacity: 0.2;
          right: ($spacing-unit * 2);
          top: 50%;
          transform: translateY(-50%);
        }

        &.active {
          opacity: 0.8;
        }

        i {
          color: $colour-dist-grey;
        }

      }

      &__clear-icon {
        cursor: pointer;

        @media #{$ipad-landscape} {
          right: $spacing-unit*2;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

      }

      &__input {
        @include font-size(13px);
        border-radius: 2px;
        font-family: $font-montserrat;
        height: 44px;
        width: 100%;

        @media #{$ipad-landscape} {
          border: 1px solid $colour-pale-grey;
          border-radius: 0;
          height: 34px;
          padding-left: ($spacing-unit * 2);
        }

      }

    }

  }

}
