.productlistpage {

  &__filter-action-bar {
    background-image: linear-gradient(#FFF,#eee 60%);
    display: none;
    margin-top: ($spacing-unit * 2);
    padding: 10px 20px;

    @media #{$ipad-landscape} {
      background-image: none;
      border-top: 1px solid $plp-facet-border;
      box-sizing: border-box;
      display: block;
      margin: 0 (-$spacing-unit * 3);
      padding: ($spacing-unit * 2) ($spacing-unit * 3) 0 ($spacing-unit * 3);
    }

    &.mobile {
      border-top: 1px solid $plp-facet-border-grey;
      bottom: 0;
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      width: 100%;
      z-index: 1050;
    }

    .xmod-filter {

      .facet-item {
        float: left;
        margin: 0 ($spacing-unit * 2) ($spacing-unit * 2) 0;

        i {
          background-image: none;
        }

      }

    }

    .plp-filter-controllbar {

      .align-right {
        text-align: right;
      }

      &__matched-products {
        @include font-size(15px);
        border-radius: 16px;
        display: none;
        font-family: $font-montserrat;
        font-weight: bold;
        margin: ($spacing-unit * 2 - 2) ($spacing-unit * 2) ($spacing-unit * 2 - 2) 0;
        padding-top: $spacing-unit*2;
        text-align: center;

        @media #{$ipad-landscape} {
          display: inline-block;
        }

        &.success {
          color: $colour-dist-grey;
        }

        &.error {
          color: $colour-dist-red;
        }

      }

      &__apply-filter {
        @include font-size(15px);
        @include line-height(14px);
        background-color: $colour-dist-green;
        border-radius: 18px;
        display: inline-block;
        font-family: $font-montserrat;
        font-weight: bold;
        height: auto;
        min-width: 130px;
        padding: ($spacing-unit * 2) ($spacing-unit * 6);
        width: 100%;

        @media #{$ipad-landscape} {
          @include line-height(20px);
          width: auto;
        }

      }



      &__toggle-filter {
        @include font-size(14px);
        display: none;
        font-weight: bold;
        height: auto;
        padding: $spacing-unit*2;
        width: 100%;
      }

      &__applied-filter-item {
        @include font-size(13px);
        border: 1px solid $plp-facet-sidebar-grey;
        border-radius: $spacing-unit * 4;
        display: none;
        font-family: $font-montserrat;
        font-weight: bold;
        padding: $spacing-unit * 2;
        margin: ($spacing-unit * 2 - 2) ($spacing-unit * 2) ($spacing-unit * 2 - 2) 0 !important;

        @media #{$ipad-landscape} {
          display: block;
        }

      }

      &__applied-filter-icon {
        @include font-size(15px);
        padding: 0 ($spacing-unit);
      }

      &__applied-filter {
        @include font-size(13px);
        color: $colour-dist-grey;
        display: none;

        @media #{$ipad-landscape} {
          display: block;
        }

        &__title {
          @include font-size(13px);
          color: $colour-dist-grey;
          font-family: $font-montserrat;
          font-weight: bold;
          float: left;
          margin: ($spacing-unit * 4) ($spacing-unit * 2) ($spacing-unit * 4) 0;
          text-transform: uppercase;
        }

      }

      .mb-o2 {
        order: 2;

        @media #{$ipad-landscape} {
          order: 0;
        }

      }

      &__reset-all-filter {
        @include font-size(14px);
        @include line-height(14px);
        border: 1px solid $colour-dist-red;
        border-radius: 3px;
        color: $colour-dist-red;
        display: inline-block;
        font-family: $font-montserrat;
        font-weight: bold;
        padding: ($spacing-unit * 3) ($spacing-unit * 2);
        text-align: center;
        vertical-align: top;
        width: 100%;

        @media #{$ipad-landscape} {
          @include font-size(13px);
          @include line-height(20px);
          border-radius: $spacing-unit * 5;
          margin: $spacing-unit + 2;
          padding: $spacing-unit * 2;
          text-align: left;
          width: auto;
        }

      }

      &__onoffswitch {
        @include font-size(12px);
        color: $plp-facet-mid-black;
        display: none;
        line-height: 30px;
        position: relative;
        user-select: none;

        @media #{$ipad-landscape} {
          display: inline-block;
          padding-right: ($spacing-unit*2);
        }

      }

      &__onoffswitch-checkbox {
        display: none;
      }

      &__onoffswitch-text {
        display: inline-block;
        vertical-align: text-bottom;
      }


      &__onoffswitch-label {
        background-color: $colour-dist-green;
        border-radius: 20px;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        margin: 0 ($spacing-unit*2);
        position: relative;
        width: 55px;
        vertical-align: sub;

        &:before {
          background: none !important;
        }

      }

      &__onoffswitch-switch {
        background-color: $colour-white;
        border: 1px solid $colour-light-grey;
        border-radius: 50%;
        bottom: 0;
        display: block;
        margin: $spacing-unit - 2 ;
        position: absolute;
        top: 0;
        transition: all 0.3s ease-in 0s;
        width: 25px;

        &.showdetailview {
          right: 0;
        }

      }

      .empty-filter-msg {
        display: none;
        margin-right: ($spacing-unit * 2);

        @media #{$ipad-landscape} {
          display: inline-block;
        }

      }

    }

    &.sticky {
      left: 0;
      position: fixed;
      top: 80px;
      transition: top .2s ease;
      width: 100%;
      z-index: 10;

      .plp-filter-controllbar {

        &__apply-filter {
          display: none;
        }

        &__toggle-filter {
          display: block;
        }

      }

    }


  }
}

.sidebar-applied-filters {
  display: none;
}

.plp-helpprompts-open {

  &:before {
    background: $colour-black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.4;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
  }

}