.skin-facets-plp-filter-view {
  padding: ($spacing-unit*2) 0;
  display: none;

  @media #{$ipad-landscape} {
    display: block;
  }

  .xmod-facets {
    height: 305px;
    overflow-y: auto;

    &.scrollable-fixed {
      overflow-y: hidden;
    }

  }

  .facet-group {
    padding-right: $spacing-unit * 2;

    &.type-slider {
      display: none;
    }

  }

  .facet-view {

    &__title {
      @include font-size(13px);
      display: inline-block;
      font-family: $font-montserrat;
      font-weight: bold;
      margin-bottom: $spacing-unit * 2;
      text-transform: uppercase;
    }

    &__more-scroll-wrapper {
      background: $colour-white;
      border: 1px solid $colour-pale-grey;
      border-radius: 2px;
      bottom: $spacing-unit * 4;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
      display: none;
      font-family: $font-montserrat;
      height: 50px;
      position: absolute;
      right: $spacing-unit * 16;
      width: 70px;
      z-index: 9;

      @media #{$ipad-landscape} {
        display: block;
      }

    }

    &__more-scroll-link {
      float: left;
      position: relative;
      top: 3px;
      text-align: center;
      width: 100%;
      z-index: 1;

      i {
        width: 100%;
      }

      .fa-chevron-circle-right {
        @include font-size(15px);
        background-color: $colour-white;
        border-radius: 50%;
        color: $colour-dark-grey;
        display: block;
      }

      .title {
        @include font-size(12px);
        color: $colour-dark-grey;
      }

    }

    &__link {
      @include font-size(13px);
      align-items: center;
      display: flex;
      font-family: $font-montserrat;
      font-weight: 500;
      justify-content: left;
      padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 2);
      position: relative;

      span {
        display: flex;
        flex: 0 0 88%;
      }

      .fa-angle-right {
        opacity: .5;
        text-align: right;
        width: 100%;
      }

      &:hover {
        background-color: $colour-light-grey;
      }

    }

  }

}
