.mod-address {
  margin-top: $spacing-unit * 6;

  .box-address {
    padding: ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit - 4) ($spacing-unit * 2);
    position: relative;

    h3 {
      margin-bottom: $spacing-unit * 2;
    }

    .form_field_error {
      display: block;
      margin: ($spacing-unit * 2) 0 0;
      width: 100%;

      &.mt-0,
      &:first-child {
        margin-top: 0;
      }

      .field-msgs {
        margin-top: $spacing-unit;
      }

    }

    &__input {
      
      input[type=radio] {
        height: auto;
        position: relative;
        width: auto;
      }

      label {

        &:before {
          display: none;
        }

      }

    }

    &__preview {

      p {
        @include font-size(14px);
        font-family: Arial, Helvetica, sans-serif;
      }

    }


    &__edit {
      margin-top: $spacing-unit * 3;

      a {
        @include font-size(12px);
        color: $link-blue;

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

    }

    &__form {
      padding-top: $spacing-unit * 4;

      &__field {
        margin-bottom: $spacing-unit * 3;

        input {
          @include font-size(16px);
          @include line-height(24px);
          border: 1px solid $colour-light-grey;
          color: $colour-dark-grey;
          padding: $spacing-unit ($spacing-unit * 2);
          width: 100%;
          
          &.disabled {
            background-color: $colour-mid-grey;
            color: $colour-dark-grey;
          }

          &.error {
            border: 2px solid $border-input-warning;
            margin-top: 0;
          }
          
        }

        label {
          display: none;
        }

        .error {
          color: $colour-dist-red;
          margin: 0;
        }

      }

      &__select {
        clear: both;
        position: relative;
        margin-bottom: $spacing-unit * 3;

        &::after {
          border-left: $spacing-unit solid transparent;
          border-right: $spacing-unit solid transparent;
          border-top: $spacing-unit solid $colour-black;
          content: '';
          height: 0;
          margin: ($spacing-unit * 3) ($spacing-unit * 2) ($spacing-unit * 3);
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0;
          width: 0;
        }

        select {
          @include font-size(16px);
          @include line-height(24px);
          -webkit-appearance: none;
          background-color: transparent;
          border: 1px solid $colour-light-grey;
          border-radius: 0;
          color: $colour-dark-grey;
          height: 36px;
          padding: ($spacing-unit + 1) ($spacing-unit * 2);
          width: 100%;

          &.error {
            border: 2px solid $border-input-warning;
            color: $colour-dark-grey;
          }

          &.disable-select {
            opacity: 0.4;
            pointer-events: none;
          }

        }

        .error {
          color: $colour-dist-red;
        }

      }

      &__submit {
        display: flex;
        justify-content: flex-start;

        button {
          height: auto;
          min-width: 50%;
          padding: $spacing-unit*2;
          width: auto;
        }

        a {
          color: $colour-dist-mid-grey;
          margin-left: $spacing-unit;
          padding: $spacing-unit + 3;

          &:hover {
            color: $colour-dist-grey;
            text-decoration: underline;
          }

        }

      }

      &--submit {
        opacity: .5;
        transition: .5s ease;
      }


      &--error {
        background-color: $colour-dist-red;
        opacity: .5;
        transition: .5s ease;
      }

    }

  }

  .address-key {
    @include line-height(18px);
    font-weight: 600;
  }

  .address-value {
    @include line-height(20px);
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .btn-select {
    display: block;
    position: absolute;
    text-align: left;
    top: $spacing-unit * 3;
    right: $spacing-unit * 2;
  }

  .btn-edit {
    display: block;
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit * 2;
  }

  .btn-edit-shipping {
    margin-top: 0;
  }

  .filter-match {
    background-color: $colour-dist-carmine;
    color: $colour-white;
  }

  .change-address {
    float: right;
    margin-right: -300px;
    margin-top: $spacing-unit * 4;
    position: relative;


    .change-billing-address-button,
    .change-shipping-address-button {
      @include font-size-important(14px);
      background: #ddd;
      border: 1px solid #ccc;
      height: $spacing-unit * 6;
      padding: $spacing-unit;
      width: 170px;
    }

  }

  .select-address {
    float: right;
    height: $spacing-unit * 6;
    margin-right: $spacing-unit * 4;
    margin-top: -$spacing-unit * 4;
    position: relative;
    top: $spacing-unit * 2 - 2;
    width: 182px;

    .select-address-button {
      @include font-size-important(13px);
      background: #ddd;
      border: 1px solid #ccc;
      padding: $spacing-unit - 2;
      height: $spacing-unit * 5;
      float: right;
      width: 170px;
    }

  }

  .set-as-default {
    float: right;
    height: $spacing-unit * 5;
    margin-left: $spacing-unit * 20;
    margin-top: $spacing-unit * 4 - 2;
    position: absolute;
    text-align: right;
    width: 200px;

    .set-as-default-button {
      @include font-size-important(13px);
      background: #ddd;
      border: 1px solid #ccc;
      padding: $spacing-unit - 2;
      height: $spacing-unit * 5;
      width: 170px;
    }

  }

  .load-more-billing-addresses-container,
  .load-more-shipping-addresses-container {
    display: none;
  }

  .action {
    text-align: center;
    width: 10%;

    .more {
      display: inline-block;
      height: $spacing-unit * 7 + 1;
      margin-top: $spacing-unit * 5;
      width: $spacing-unit * 7 + 1;
    }

  }

  .address-list {
    margin-bottom: $spacing-unit * 6;

    &__title {
      margin-bottom: $spacing-unit * 2;
    }

  }

}
