.skin-address-address-shipping-select {

  .box-address {

    .row {
      border-bottom: 1px solid $colour-light-grey;
      justify-content: space-between;
    }

    &__select {
      display: block;
      clip: auto;
      height: auto;
      margin-top: $spacing-unit;
      position: relative;
      width: auto;
    }

    &__preview {
      padding: 0 0 ($spacing-unit*6) 0;

      p {
        word-break: break-all;
      }

    }

    &__remove {
      text-align: right;

      &__links {
        @include font-size(12px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
          color: $link-blue;

          &:hover {
            color: $link-dark-blue;
            text-decoration: underline;
          }

          &:last-of-type {
            color: $colour-dist-red;
          }

          &:last-of-type:hover {
            color: $colour-dist-red;
          }

        }

      }

    }

  }

}
