.skin-cart-list-item-order-detail {
  border-bottom: 1px solid $border-cart-list-item-order-detail-grey;
  border-top: 0;
  padding-bottom: ($spacing-unit * 2);

  @media #{$ipad} {
    border-right: 1px solid $border-cart-list-item-order-detail-grey;
    display: table;
    padding-bottom: 0;
  }

  &:after {
    content: none;
  }

  .cell-price-first {

    @media #{$ipad} {
      border-left: 1px solid $border-cart-list-item-order-detail-grey;
    }

  }

  .cell {
    float: left;
    height: auto;
    padding: ($spacing-unit * 2) 0;
    width: 100%;

    @media #{$ipad} {
      display: table-cell;
      float: none;
      padding: ($spacing-unit * 3) 0;
      width: 10%;
      vertical-align: top;
    }

    @media print {
      width: 10%;
    }

    .price-box {

      &.right {
        border: 0;
        padding: 0;
      }

      &.left {
        border: 0;
        padding: 0;
      }

    }

    .productName {
      width: 298px !important;

      @media #{$ipad} {
        width: 218px !important;
      }

      @media #{$ipad-landscape} {
        width: 208px !important;
      }

      @media #{$desktop} {
        width: 298px !important;
      }

    }

    .image-wrap {

      img {
        max-width: 100%;
        width: auto;
      }

    }

    .cell-info-cell {

      &.reference {
        width: 100%;
      }

    }

    p {
      @include font-size(14px);
      @include line-height(24px);
      color: $colour-paragraph-grey;

      &.date,
      &.qty {
        @include font-size(14px);
        @include line-height(21px);
        padding: 0;

        @media #{$ipad} {
          @include font-size(12px);
        }

        @media #{$desktop} {
          @include font-size(14px);
        }

      }

    }

    &:nth-of-type(2) {

      @media #{$ipad} {
        padding-left: ($spacing-unit * 3);
        width: 35%;
      }

      @media print {
        width: 35%;
      }

    }

    &:nth-of-type(3) {

      @media #{$ipad} {
        width: 10%;
      }

      @media print {
        width: 10%;
      }

    }

    &:nth-of-type(5) {

      @media #{$ipad} {
        width: 17.5%;
      }

      @media print {
        width: 17.5%;
      }

    }

    &:last-of-type {

      @media #{$ipad} {
        width: 17.5%;
      }

      @media print {
        width: 17.5%;
      }

    }

    &.cell-numeric {
      text-align: left;

      @media #{$ipad} {
        text-align: center;
      }

      @media print {
        text-align: center;
      }

      .cell-date {
        @include font-size(14px);
        @include line-height(20px);
        color: $colour-paragraph-grey;
        display: inline-block;
        float: left;
        padding-right: ($spacing-unit * 2);

        @media #{$ipad} {
          display: none;
        }

        @media print {
          display: none;
        }

      }

      .cell-qty {
        @include font-size(14px);
        @include line-height(20px);
        color: $colour-paragraph-grey;
        padding-right: ($spacing-unit * 2);

        @media #{$ipad} {
          display: none;
        }

        @media print {
          display: none;
        }

      }

    }

    &.cell-price {

      @media #{$ipad} {
        padding-left: ($spacing-unit * 3);
      }

      @media print {
        padding-left: ($spacing-unit * 3);
      }

      .price-currency {
        @include line-height(22px);
      }

      .price {
        @include font-size(14px);
        @include line-height(20px);
        color: $colour-paragraph-grey;
        float: unset;
        font-weight: 600;
        padding-right: ($spacing-unit * 3);

        @media #{$ipad} {
          @include font-size(12px);
          float: right;
        }

        @media #{$desktop} {
          @include font-size(14px);
        }

      }

    }

  }

}
