.skin-cart-list-item-cart {
  border: 0;
  float: left;
  min-height: auto;
  margin-bottom: ($spacing-unit * 4);
  width: 100%;

  @media #{$ipad-landscape} {
    margin-bottom: ($spacing-unit * 3);
  }

  &__holder {
    border: 1px solid $cart-list-item-cart-border-grey;
    background: $colour-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.149019607843137);
    display: flex;
    flex-wrap: wrap;
    padding: ($spacing-unit * 3) ($spacing-unit * 3);
    position: relative;

    @media #{$ipad-landscape} {
      padding: 0;
    }

    &__image {
      order: 2;
      position: relative;
      width: 20%;

      img {
        display: inline-block;
        height: 65px;
        max-width: 100%;

        @media print {
          height: 50px;
        }

      }

      @media #{$ipad-landscape} {
        order: 1;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 10%;
      }

    }

    &__content {
      order: 3;
      padding-left: ($spacing-unit * 2);
      width: 80%;

      @media #{$ipad-landscape} {
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 35%;
      }

      &--quote {
        min-height: 160px;

        @media #{$ipad-landscape} {
          min-height: 50px;
          padding-right: ($spacing-unit * 3);
          width: 90%;
        }

        .quote-title {
          @include font-size(15px);
          @include line-height(20px);
          float: left;
          width: 100%;
        }

        .cell-info-table {
          max-width: 400px;
        }

        .quote-includes {
          @include font-size(15px);
          @include line-height(20px);
          color: $colour-dist-red;
          float: left;
          margin-top: ($spacing-unit * 2);
          width: 100%;
        }

      }

      .desktop-title {
        display: none;

        @media #{$ipad-landscape} {
          display: block;
        }

        span {
          @include font-size(14px);
          @include line-height(18px);
          color: $colour-black;
          font-weight: 500;
          white-space: unset;
          width: 100%;
        }

      }

      .cell-info-table {
        float: left;
        width: 100%;

        .cell-info-cell {
          float: left;
          padding: ($spacing-unit - 2) 0;
          width: 100%;

          .hd,
          .bd {
            @include font-size(12px);
            @include line-height(16px);
            float: left;
            width: 50%;

            @media #{$ipad-landscape} {
              width: 32%;
            }

          }

          .bd {
            font-weight: 500;

            @media #{$ipad-landscape} {
              width: 68%;
            }

          }

          .hd {
            font-weight: bold;

            @media #{$ipad-landscape} {
              padding-right: ($spacing-unit * 2);
            }

          }

        }

      }

    }

    &__title {
      order: 1;
      width: 100%;

      @media #{$ipad-landscape} {
        display: none;
        width: 40%;
      }

      h3 {
        @include font-size(16px);
        margin-bottom: ($spacing-unit * 2);
        white-space: unset;

        @media #{$ipad-landscape} {
          white-space: nowrap;
        }

      }

    }

    &__price {
      border-top: 1px solid rgba(219, 219, 216, 1);
      margin-top: ($spacing-unit * 2);
      order: 4;
      padding: ($spacing-unit * 2) 0;
      width: 50%;

      @media print {
        height: 40px;
      }

      .price-light {
        text-decoration: line-through;
      }

      @media #{$ipad-landscape} {
        border: 0;
        margin: 0;
        order: 5;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) $spacing-unit;
        width: 13%;
      }

      &--second {

        @media #{$ipad-landscape} {
          padding-right: ($spacing-unit * 3);
        }

      }

      span {
        @include font-size(17px);
        @include line-height(14px);
        font-weight: 500;

        @media #{$ipad-landscape} {
          @include font-size(12px);
        }

        @media #{$desktop} {
          @include font-size(14px);
        }

      }

      p {
        @include font-size(12px);
        @include line-height(18px);
        display: block;
        font-weight: bold;

        @media #{$ipad-landscape} {
          display: none;
        }

      }

      .price-box {

        &.right {
          text-align: right;
        }

      }

    }

    &__availability {
      order: 5;
      width: 50%;

      @media #{$ipad-landscape} {
        margin-left: ($spacing-unit * 2);
        order: 4;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 25%;
      }

      @media print {
        padding-left: ($spacing-unit * 3 + 3);
      }

      label {
        display: none;
      }

      .mod-shipping-information {

        &.skin-shipping-information-comparelist-new {
          border: 0;
          height: auto;
          margin: 0;
          padding: 0;

          @media #{$ipad-landscape} {
            height: 100%;
          }

          .leadTimeFlyout {
            bottom: $spacing-unit*2;
            margin: 0;
            top: inherit;
            width: 200%;
            z-index: 300;

            @media #{$ipad} {
              width: 365px;
            }

            @media #{$desktop} {
              width: 464px;
            }

            .lead-arrow-down {
              margin-left: 0;
            }

          }

        }

        .cell-availability {
          height: auto;
          padding: 0;
          width: 100%;

          @media #{$ipad-landscape} {
            height: 100%;
            min-height: 90px;
          }

          @media #{$desktop} {
            min-height: 80px;
          }

          .availability {
            height: 100%;
            padding: 0;
            position: relative;
            top: 14px;
            width: 100%;

            @media #{$ipad-landscape} {
              top: unset;
            }

            .row {
              display: block;
              font-weight: 500;
              margin: 0;
              width: 100%;

              b {
                min-width: 15px;
              }

              .left {

                @media #{$ipad-landscape} {
                  width: 100%;
                }

              }

              @media #{$ipad-landscape} {
                @include line-height(16px);
              }

              @media #{$desktop} {
                text-indent: -22px;
                min-height: 15px;
              }

              @media print {
                @include line-height(16px);
              }

            }

            .pickup,
            .further,
            .additional,
            .moreStockAvailable {
              display: none;
              @include font-size(12px);
              @include line-height(16px);
              padding-top: $spacing-unit;

              @media #{$ipad-landscape} {
                display: block;
              }

              @media print {
                display: block;
              }

            }

            .inStockText,
            .comingSoonText {
              @include font-size(13px);
              font-weight: 500;
              @include line-height(21px);
            }

            .comingsoon {
              .table-icon {
                margin-top: -($spacing-unit - 3);
                padding-top: 0 !important;
              }
            }

            .instock, .comingsoon {
              position: relative;
              text-indent: -15px;

              .table-icon {
                display: inline-block;
                float: left;
                padding-top: 2px;
                @media #{$ipad-landscape} {
                  margin-left: -($spacing-unit * 3);
                }

                .icon {
                  line-height: 14px;

                  &--inStock {
                    @include font-size(8px);

                    background-color: $bg-dist-green;
                    color: $colour-white;
                    border-radius: 50%;
                    display: block;
                    padding: 0 ($spacing-unit - 1) !important;
                    text-align: right;
                    height: 16px;
                    width: 16px;
                    margin: -($spacing-unit - 4) $spacing-unit 0 0;

                    @media #{$ipad-landscape} {
                      padding: ($spacing-unit - 3) ($spacing-unit - 1) !important
                    }
                  }

                  &--comingSoon {
                    @include font-size(16px);
                    width: auto;
                    height: auto;
                    color: $colour-dist-orange;
                    background-color: transparent;
                    padding: 0 $spacing-unit 0 ($spacing-unit * 6) !important;

                    @media #{$ipad-landscape} {
                      padding: $spacing-unit 0 0 ($spacing-unit * 9) !important;
                    }

                    .fa-times-circle {
                      color: $icon-dark-grey;
                    }
                  }
                }
              }

              @media #{$ipad-landscape} {
                text-indent: -34px;
              }

              @media #{$desktop} {
                text-indent: -22px;
              }

              .inStockText {
                @include font-size(15px);

                @media #{$ipad-landscape} {
                  @include font-size(12px);
                }

              }

              .left {
                width: 100%;
              }

              @media #{$ipad-landscape} {
                color: $colour-dist-green;
              }

            }

            .outofstock {
              @include font-size(13px);
            }

            .leadTimeHeader {
              width: 100%;

              @media print {
                display: none;
              }

              a {
                @include font-size(11px);
                bottom: ($spacing-unit - 22);
                margin-left: ($spacing-unit - 8);
                width: 100%;

                @media #{$ipad-landscape} {
                  @include font-size(12px);
                  @include line-height(16px);
                  bottom: ($spacing-unit - 33);
                  margin-left: 0;
                }

                @media #{$desktop} {
                  @include line-height(12px);
                  bottom: ($spacing-unit - 16);
                }

                &.moreAboutLeadLink {

                  &--CZ,
                  &--IT {
                    @include line-height(13px);
                    bottom: ($spacing-unit - 26);

                    @media #{$ipad-landscape} {
                      @include line-height(16px);
                      bottom: ($spacing-unit - 33);
                    }

                    @media #{$desktop} {
                      @include line-height(12px);
                      bottom: ($spacing-unit - 16);
                    }


                  }

                }

              }

            }

          }

        }

      }

    }

    &__calibration {
      order: 4;
      width: 100%;

      @media #{$ipad-landscape} {
        border-top: 1px solid $cart-list-item-cart-border-grey;
        order: 5;
        padding: ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit * 2) 11.8%;
      }

      @media print {
        padding-top: ($spacing-unit);
      }

      &.calibration {

        .calibration-service {

          h4 {
            @include font-size(14px);
          }

          a {
            color: $link-blue;

            &:hover,
            &:focus {
              color: $link-dark-blue;
              text-decoration: underline;
            }
          }

        }

        .calibration-selection {
          padding: ($spacing-unit) 0 0;
        }

      }

    }

    &__numeric {
      order: 8;
      width: 50%;
      padding-bottom: ($spacing-unit * 15);

      @media #{$ipad-landscape} {
        background: #f8f8f8;
        border-top: 1px solid $cart-list-item-cart-border-grey;
        padding: ($spacing-unit * 2) ($spacing-unit * 3);
        width: 100%;
      }

      .numeric {
        margin: 0;
        width: 100%;

        @media #{$ipad-landscape} {
          float: right;
          padding-bottom: 0;
          width: auto;
        }

        .numeric-popover {
          left: unset;
          right: -15px;
          top: -57px;
          width: 240px;

          .arrow {
            left: unset;
            right: 80px;
          }

        }

        .btn-wrapper {
          border: 1px solid $cart-list-item-cart-border-grey;
          border-radius: 2px;
          float: right;
          max-width: 153px;
          width: 100%;

          &__btn,
          &__input {
            display: inline-block;
            float: left;
            left: auto;
            margin: 0;
            position: relative;
            right: auto;
            top: auto;
            width: 33.33%;

            @media #{$ipad-landscape} {
              width: 25%;
            }

            @media print {
              width: 25%;
            }

          }

          &__btn {
            @include line-height(49px);
            background: $cart-list-item-cart-bg-grey;
            height: auto;
            text-align: center;

            @media #{$ipad-landscape} {
              @include line-height(34px);
            }

            @media print {
              @include line-height(34px);
            }

          }

          &__input {
            border-bottom: 0;
            border-top: 0;
            height: 49px;
            padding: 0;

            &:focus {
              background: transparent;
              border-width: 1px;
            }

            @media #{$ipad-landscape} {
              height: 34px;
              width: 50%;
            }

            @media print {
              height: 34px;
              width: 50%;
            }

          }

        }

        .numeric-popover {

          &.active_moq {
            display: block !important; //js
            top: -125px;
          }

        }

      }

      .toolbar {
        border-top: 1px solid $cart-list-item-cart-border-grey;
        bottom: 0;
        left: 0;
        padding: ($spacing-unit * 3) ($spacing-unit * 2);
        position: absolute;
        width: 100%;

        @media #{$ipad-landscape} {
          border: 0;
          float: left;
          padding: 0;
          position: relative;
          width: auto;
        }

        @media print {
          display: none;
        }

        .btn-numeric-remove,
        .btn-numeric-remove-quote,
        .btn-quote-remove {
          @include font-size(15px);
          @include line-height(24px);
          color: $colour-dist-red;
          font-weight: 500;
          height: auto;
        }

        &__add-reference {
          @include font-size(15px);
          @include line-height(24px);
          color: $link-blue;
          cursor: pointer;
          float: right;
          font-weight: 500;

          &:hover,
          &:focus {
            color: $link-dark-blue;
            text-decoration: underline;
          }

          @media #{$ipad-landscape} {
            display: none;
          }

        }

        &__edit {
          display: none;

          &--active {
            display: inline-block;
            float: right;
          }

          &__reference,
          &__text {
            @include font-size(15px);
            @include line-height(24px);
          }

          &__text {
            color: $link-blue;
            font-weight: bold;
            padding-left: ($spacing-unit);

            &:hover,
            &:focus {
              color: $link-dark-blue;
              text-decoration: underline;
            }
          }

        }

        &__input {
          display: none;

          @media #{$ipad-landscape} {
            display: inline-block;
            margin-left: ($spacing-unit * 6);
          }

          @media print {
            display: inline-block;
            margin-left: ($spacing-unit * 6);
          }

          &--active {
            background: $cart-list-item-cart-bg-toolbar;
            display: flex;
            justify-content: space-between;
            left: 0;
            padding: ($spacing-unit + 2) ($spacing-unit * 2);
            position: absolute;
            top: 0;
            width: 100%;
          }

          .ipt-reference {
            border-radius: 2px;
            flex-grow: 1;
            height: 40px;
            padding: 0 0 0 ($spacing-unit * 2);
            margin-right: ($spacing-unit * 3);
            width: 100%;

            @include placeholder {
              @include font-size(12px);
            }

            @media #{$ipad-landscape} {
              height: 34px;
            }

            &:focus {
              background: transparent;
              border-width: 1px;
            }

          }

          &__btn {
            @include font-size(15px);
            @include line-height(40px);
            color: $link-blue;
            cursor: pointer;
            display: block;
            flex-shrink: 0;
            font-weight: 500;
            min-width: 38px;

            &:hover,
            &:focus {
              color: $link-dark-blue;
            }

            @media #{$ipad-landscape} {
              display: none;
            }

            @media print {
              display: none;
            }

          }

        }

      }

    }

  }

  &.quote-item-checkout-row-true {
    margin-bottom: 0;

    @media #{$ipad-landscape} {
      border-top: ($spacing-unit * 4) solid $colour-white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }

    .skin-cart-list-item-cart {

      &__holder {
        border: 0;
        box-shadow: none;

        &__price {

            .quantity-item {
              @include font-size(16px);
              float: right;
              text-align: right;
              width: 100%;

              @media #{$ipad-landscape} {
                @include font-size(12px);
                margin-top: ($spacing-unit * 2);
              }

              @media #{$desktop} {
                @include font-size(14px);
              }

            }

          }

        }

    }

  }

  &.quote-item-checkout-row-false {
    margin: ($spacing-unit * 3) 0 0 0;
  }

  &__backorder-label {
    max-height: 0;
    overflow: hidden;
    border: 1px solid $cart-list-item-cart-border-grey;
    border-bottom: none;
    background-color: $colour-white;
    transition: .7s ease max-height;

    &__inner {
      @include font-size(12px);
      padding: $spacing-unit ($spacing-unit * 2);
      border: 1px solid $cart-list-item-backorder-label-border;
      margin: ($spacing-unit * 2) ($spacing-unit * 3) 0;
      background-color: $cart-list-item-backorder-label-bg;
      color: $cart-list-item-backorder-label-text;
      font-weight: 500;

      .is-value {
        margin-right: $spacing-unit;
      }
    }

    + .skin-cart-list-item-cart__holder {
      border-top: none;
    }

    &.is-visible {
      max-height: 170px;

      @media #{$ipad-landscape} {
        max-height: 100px;
      }
    }
  }

  // List of messages
  &__delivery-messages {
    overflow: hidden;
    border: 1px solid $cart-list-item-cart-border-grey;
    border-bottom: none;
    background-color: $colour-white;

    + .skin-cart-list-item-cart__holder {
      border-top: none;
    }
  }

  // Message list item
  &__delivery-message {
    @include font-size(14px);
    display: flex;
    align-items: center;
    padding: ($spacing-unit + 3) ($spacing-unit * 2);
    margin: ($spacing-unit * 3);
    font-weight: 600;

    &:last-child {
      margin-bottom: $spacing-unit;
    }

    &:not(.is-backorder) {
      color: $colour-black;

      .fa-info-circle {
        display: none;
      }
    }

    &.is-backorder {
      border: 1px solid $cart-list-item-backorder-label-border;
      background-color: $cart-list-item-backorder-label-bg;
      color: $cart-list-item-backorder-label-text;
      font-weight: 500;

      .fa-truck {
        display: none;
      }
    }

    .fa {
      margin-right: $spacing-unit * 3;

      &-info-circle {
        @include font-size(24px);
        color: $colour-dist-marigold;
      }

      &-truck {
        @include font-size(18px);
        color: $ux-txt-grey;
      }
    }

    &__icon {}

    &__text {}
  }
}
