.skin-cart-list-item-cart {

  &.quote-head {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    order: 7;

    &:not(:first-child) {
      margin-top: ($spacing-unit * 3);
    }

    .skin-cart-list-item-cart {

      &__holder {
        border: 0;
        padding-bottom: ($spacing-unit * 4);
      }

    }

  }

}
