.skin-cart-list-item-review {
  @include font-size(11px);
  @include line-height(20px);
  font-family: $font-stack-alt;
  min-height: auto;
  padding: ($spacing-unit * 2) 0;

  @media #{$ipad} {
    padding: 0;
  }

  &:last-of-type {
    border-bottom: 1px solid $colour-light-grey;
    margin-bottom: $spacing-unit * 4;
  }

  > div {
    display: flex;
    justify-content: space-between;

    @media #{$ipad-landscape} {
      flex-direction: column;
      justify-content: space-around;
    }

    &.product {
      flex-direction: column;
      justify-content: space-around;
    }

    .label {
      font-weight: 700;

      @media #{$ipad-landscape} {
        display: none;
      }

    }

  }

  .image-wrap {

    img {
      height: auto;
      width: 100%;
    }

  }

  .product {

    h3 {
      @include font-size(11px);
    }

  }

  &.quote-item {
    padding-left: $spacing-unit * 6;
  }

  .cell-numeric {
    text-align: center;

    .qty {
      margin-top: 0;
      padding: ($spacing-unit) ($spacing-unit * 2);
    }

  }

  .reference-text {
    margin-top: $spacing-unit * 4;
  }

  .date {
    display: block;

    @media #{$ipad-landscape} {
      display: flex;
    }

    &__green {
      color: $colour-dist-green;
    }

    &__orange {
      color: $colour-dist-orange;
    }

    &__red {
      color: $colour-dist-red;
    }

    > div {
      clear: right;
    }

    .label {
      float: left;
    }

    .qty-on-date {
      float: right;

      @media #{$ipad-landscape} {
        float: none;
      }

    }

  }

  .cell-availability {
    @include font-size(13px);

    .quantity {
      padding-right: $spacing-unit * 8;
      text-align: right;
    }

  }

  .bundle-product {

    h4 {
      font-weight: 700;
    }

  }

  &.sub-item {
    border-bottom: 0;
    margin-bottom: 0;
  }

}
