@import 'global-utilities';

.x-tra-h {
  @include desktop {
    height: 455px;
  }
}

.medium-h {
  height: 275px;
}

.manufacturer-featured-products {
  height: auto;
}

.heading-row {
  margin: 0;

  @media #{$ipad-landscape} {
    margin: 0 (-$spacing-unit * 3);
  }
}

.heading {
  h2 {
    display: inline-block;
    @include font-size(20px);
    @include line-height(40px);
    color: $colour-dark-grey;
    font-weight: $font-weight-bold;
    margin: ($spacing-unit * 3) 0 ($spacing-unit * 2);

    @media #{$ipad} {
      @include font-size(28px);
      @include line-height(34px);
      margin: ($spacing-unit * 5) 0;
    }
  }

  .productOutletPage {
    display: none;
  }
}

.product {
  flex: none;
  padding: 0 ($spacing-unit * 2 + 2);
  width: 50%;
  margin: 0 auto ($spacing-unit * 4) auto;
  position: relative;

  @media #{$mobile-landscape} {
    display: block;
    margin: ($spacing-unit * 2) 0;
    width: 33%;
  }

  @media #{$desktop} {
    padding: 0 ($spacing-unit * 2);
    margin-bottom: ($spacing-unit * 8);
    width: 20%;
  }

  &__item {
    background-color: $colour-white;
    border: ($spacing-unit - 4) solid $colour-light-grey;
    border-radius: ($spacing-unit - 3);
    box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) 0 rgb(0 0 0 / 15%);
    min-height: 318px;
    overflow: hidden;
    @include tabletPlus {
      min-width: 242px;
    }
  }
}

.productOutletPage {
  width: 33%;

  @include mobileOnly {
    width: auto;
  }
}

app-promo-label {
  position: absolute;
  top: 20px;
  z-index: 99;
}

.manufacturer {
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 1;

  a {
    display: block;
    width: 100%;
    margin: ($spacing-unit * 4) 0 0;
    padding: ($spacing-unit * 2);
    text-align: right;

    img {
      width: 90px;
      height: auto;
    }
  }
}

.title {
  @include font-size(13px);
  @include line-height(16px);
  color: $colour-black;
  display: inline-block;
  font-weight: $font-weight-bold;
  height: 45px;
  letter-spacing: -0.5px;
  padding: 0 ($spacing-unit * 3);
  margin: (($spacing-unit * 3) + 1) 0 0 0;

  &__link {
    color: $colour-black;
    display: inherit;
    position: relative;
    height: 35px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{$mobile-landscape} {
      max-width: 125px;
    }

    @media #{$ipad} {
      max-width: 275px;
    }
  }
}

.product-img-link {
  display: flex;
  position: relative;
  height: 160px;

  > img,
  picture {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: ($spacing-unit * 8);
  }
}

.price {
  @include font-size(14px);
  @include line-height(18px);
  color: $colour-dark-grey;
  display: inline-block;
  padding: 0 ($spacing-unit * 3 + 1);
}

.cta-wrapper {
  padding: 0 ($spacing-unit * 3 + 1);

  a {
    @include font-size(12px);
    @include line-height(30px);
    @include transition(all 0.2s ease-in-out);
    background-color: $colour-green;
    border-radius: ($spacing-unit - 3);
    color: $colour-white;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight-bold;
    margin: ($spacing-unit * 3 + 1) 0 ($spacing-unit * 3 + 1) 0;
    min-width: 94px;
    outline: none;
    overflow: hidden;
    padding: ($spacing-unit) ($spacing-unit * 2);
    text-align: center;
    width: 100%;

    fa-icon {
      left: 2px;
      position: relative;
      vertical-align: middle;
    }

    &:hover {
      background-color: $colour-dark-green;
      text-decoration: none;
    }
  }
}
