/**
	 * Layout
	 */

* {
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: Helvetica,Arial,sans-serif !important;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.maintenance-img {
	margin-bottom: 40px;
}

/**
 * Elements
 */

.ct {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	overflow-x: visible;
	overflow-y: visible;
	width: 960px;
}

img {
	border: 0;
}

p {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	line-height: 24px;
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

a {
	color: #333333;
	line-height: 18px;
}

a:link, a:visited {
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: underline;
	-moz-text-decoration-style: solid;
}

a:focus, a:active, a:hover {
	color: #000000;
}




/**
 * Mod Servicenav
 */

.mod-servicenav {
	border-top-color: #333333;
	border-top-style: solid;
	border-top-width: 5px;
	height: 32px;
	margin-left: 10px;
}

.mod-servicenav .border {
	width: 621px;
	border-top-color: #333333;
	border-top-style: solid;
	border-top-width: 5px;
}

.mod-servicenav .border.blue {
	width: 116px;
	border-top-color: #009FB4;
}

.mod-servicenav .border.red {
	width: 213px;
	border-top-color: #DE1417;
}

.mod-servicenav ul {
	float: right;
	margin-left: 1px;
	margin-top: -5px;
}

.mod-servicenav ul > li {
	display: inline;
	float: left;
}

/**
 * Mod Logo
 */

.mod-logo {
	height: 70px;
	margin-left: 10px;
}
.mod-logo a {
	display: inline-block;
	margin-left: -72px;
	position: relative;
}
.mod-logo img {
	width: 265px;
}

h1{
	color: #DE1417;
	font-size: 32px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 10px;
	margin-top: 30px;
}

h2{
	color: #DE1417;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 10px;
	margin-top: 30px;
}

.content {
	padding: 0 10px;
}

.content ul {
	padding-left:20px;
}