<ng-container *ngIf="showComingSoon && mview === 'BTO'">
  <div class="stock__no-stock--headline" id="outOfStockHeadline">
    <fa-icon class="fa-check-icon" [icon]="faCheckCircle"></fa-icon>
    {{ 'salesStatus.no_stock.available_to_back_order' | cxTranslate }}
  </div>
</ng-container>

<ng-container *ngIf="showComingSoon && mview !== 'BTO'">
  <div class="stock__no-stock--headline" id="outOfStockHeadline">
    <fa-icon class="fa-check-icon" [icon]="faCheckCircle"></fa-icon>
    {{ 'salesStatus.no_stock.available_to_order' | cxTranslate }}
  </div>
</ng-container>

<ng-container *ngIf="showInStock">
  <div class="stock__with-stock--headline" id="stockWithHeadlineMessage">
    <fa-icon class="fa-check-icon" [icon]="faCheckCircle"></fa-icon>
    {{ 'salesStatus.cart.in_stock' | cxTranslate: { stock: showInStockValue } }}
  </div>
</ng-container>

<ng-container *ngIf="showPickup">
  <div class="stock__with-stock--pickup" id="stockPickupText">
    {{ 'salesStatus.pdp.pickUp' | cxTranslate: { stockLevel: showPickupValue } }}
  </div>
</ng-container>

<ng-container *ngIf="showAdditional">
  <div class="stock__with-stock--additional" id="stockAdditionalText">
    {{ 'salesStatus.cart.additional_stock_CH' | cxTranslate: { stock: showAdditionalValue } }}
  </div>
</ng-container>
