@import 'global-utilities';

.stock__with-stock,
.stock__no-stock {
  &--headline {
    @include font-size-important(13px);
    @include line-height-important(21px);
    font-weight: $font-weight-medium !important;

    .fa-check-icon {
      color: $colour-green;
      @include font-size(16px);
    }

    .fa-check-times {
      color: $colour-red;
      @include font-size(16px);
    }

    .fa-clock-icon {
      color: $colour-orange;
      @include font-size(16px);
    }
  }

  &--additional,
  &--pickup {
    @include font-size-important(12px);
    @include line-height-important(21px);
    font-weight: $font-weight-medium !important;
  }
}
