@import 'global-utilities';

h1 {
  @include font-size(28px);
  @include line-height(34px);
  color: $colour-red;
  float: left;
  font-weight: $font-weight-light;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

h2 {
  @include font-size(18px);
  @include line-height(22px);
  color: $colour-red;
  float: left;
  font-weight: $font-weight-bold;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

label,
input,
select {
  @include font-size(14px);
  border-radius: 0%;
}

small {
  display: block;
  @include font-size(12px);
  font-weight: $font-weight-medium;
  color: #6c757d;

  &.error {
    color: $colour-red;
  }

  &.correct {
    color: $colour-green;
  }
}

.text-eplipsis {
  @include tabletPlusDown {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.disabled-button {
  pointer-events: none;
}
