@import 'global-utilities';

.header-title {
  @include font-size(24px);
  color: $colour-dark-grey;
  display: inline-block;
  font-weight: $font-weight-semiBold;
  margin: ($spacing-unit * 4) 0 ($spacing-unit * 3) 0;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  padding-bottom: ($spacing-unit * 4 + 4);
}

.content-title-wrap {
  border-top: ($spacing-unit - 3) solid $colour-dark-grey;
  float: left;
  padding-bottom: ($spacing-unit);
  padding-top: ($spacing-unit * 3);
  width: 100%;
}

.product-details-row {
  .no-first-column {
    max-width: 100%;

    @media #{$ipad} {
      max-width: 50%;
    }
  }

  @include mobilePlusDown {
    flex-direction: column;
  }
}

.list-title {
  @include typography-display-sm();
  color: $colour-dark-grey;
  font-weight: $font-weight-medium;
  margin: 0;
  padding-bottom: ($ux-spacing-unit * 2);

  fa-icon {
    padding-left: ($spacing-unit);
  }

  &__sub {
    padding-bottom: 0;
    @include typography-text-sm();
  }
}

.delivery-text {
  @include typography-text-sm();
}

.list-holder {
  float: left;
  width: 100%;
  @include font-size(14px);

  &__notes {
    margin-bottom: 24px;

    ul {
      padding-bottom: ($spacing-unit);
    }
  }

  &__article,
  &__family {
    .holder-content {
      p {
        display: inline;
        white-space: pre-line;
      }

      ul {
        margin-left: ($spacing-unit * 3);

        li {
          list-style-type: disc;
          padding: 0 0 ($spacing-unit) 0;
        }
      }
    }
  }

  &__environment {
    .holder-content-title {
      font-weight: $font-weight-bold;
      flex-shrink: 0;
      width: 50%;

      @include tablet {
        display: inline-block;
        min-width: 123px;
        padding-right: ($spacing-unit * 3);
      }

      @include tabletPlus {
        min-width: 168px;
      }

      @include desktop {
        min-width: 210px;
      }
    }

    .dangerous-icon {
      background-image: url('/app/spartacus/assets/media/sprites_00a7b3d765.png');
      background-repeat: no-repeat;
      -webkit-background-size: 792px 642px;
      -moz-background-size: 792px 642px;
      background-size: 792px 642px;
      background-position: -724px -542px;
      width: 22px;
      height: 22px;
      display: inline-block;
    }
  }

  &__additional {
    margin-top: ($spacing-unit * 2);
  }

}

.weee-category {
  padding-top: ($spacing-unit * 2 + 2);
  display: flex;
  flex-direction: row;

  @include mobileOnly {
    flex-direction: column;
  }
}

.holder-content {
  @include font-size(14px);
  @include line-height(21px);
  color: $colour-dark-grey;
  float: left;
  width: 100%;

  .warntext {
    color: $colour-red;
    display: block;
    padding-top: ($spacing-unit * 3);

    @include tabletPlus {
      width: 95%;
    }
  }

  &.article-information {
    margin-bottom: ($spacing-unit * 3);

    .title {
      height: auto;
      margin-top: 0;
      padding-left: 0;
      width: auto;

      @media #{$ipad} {
        min-width: 170px;
        padding-right: ($spacing-unit * 3);
      }
    }

    .list-title {
      padding-top: ($spacing-unit * 2);
    }


  }

  &.codice {
    clear: both;
    min-width: 300px;
    width: auto;

    @include tabletPlus {
      @include font-size(13px);
    }

    @include desktop {
      @include font-size(14px);
      @include line-height(22px);
    }

    .title {
      height: auto;
      padding: 0;
      padding-right: ($spacing-unit * 2);
    }
  }

  &.ghs-images {
    margin: ($spacing-unit * 3) 0;
  }

  &.is-hazard {
    margin-bottom: ($spacing-unit * 3);

    .title {
      @include font-size(14px);
      height: auto;
      margin: 0;
      padding: 0;
      width: 100%;

      @include tabletPlus {
        min-width: 210px;
      }
    }

    ul {
      padding-left: ($spacing-unit * 3);

      li {
        @include font-size(13px);
        list-style-type: disc;

        .hazardous-content {
          @include font-size(13px);

          &__title {
            display: inline-block;
          }

          &__description {
            display: inline-block;
            padding-left: ($spacing-unit);
          }
        }
      }
    }
  }

  &.is-battery {
    margin-bottom: ($spacing-unit * 3);

    .title {
      @include font-size(14px);
      height: auto;
      margin-bottom: 0;
      padding: 0;
      width: 100%;

      @include tabletPlus {
        min-width: 210px;
      }
    }

    .link {
      padding-left: 0;
    }
  }

  &.flex-holder {
    display: flex;
    flex-direction: column;
    margin-bottom: ($spacing-unit * 3);

    @include tablet {
      flex-direction: row;
      margin-bottom: 0;
    }

    @include tablet {
      .additional-data {
        width: 50%;
        overflow-wrap: break-word;
      }

      .scip-code {
        width: 30%;
        overflow-wrap: break-word;
      }
    }
  }

  &.empty {
    .link {
      padding-left: 0;
    }
  }

  .holder-content-title {
    display: inline-block;
    font-weight: $font-weight-medium;
    width: 50%;
  }

  .svhc-additional-data {
    @include tablet {
      width: 50%;
    }
  }

  .title {
    font-weight: $font-weight-medium;

    @include tablet {
      display: inline-block;
      width: 50%;
    }

    &__empty {
      display: none;

      @include tablet {
        display: inline-block;
        flex-shrink: 0;
        height: auto;
        margin: 0;
        width: 50%;
      }
    }

    &.no-space {
      height: auto;
      margin: 0;
      padding: 0;
      padding-right: ($spacing-unit);
      width: auto;
    }
  }

  .link {
    color: $link-blue;

    &__rohs {
      max-width: 100%;
      padding-left: 0;
    }
  }
  .reach-container {
    width: 100%;

    @include tablet {
      width: 50%;
    }

    .reach-title {
      font-weight: $font-weight-medium;
    }
  }
}

.content-holder {
  float: left;
  margin-bottom: 0;
  width: 100%;

  .list-holder {
    &__family {
      float: left;
      margin-bottom: 0;
      width: 100%;

      .holder-content {
        .text {
          display: inline-block;
          margin: 0;
        }

        .family-list {
          float: left;
          padding: 0;
          width: 100%;

          li {
            list-style: disc inside;
            padding-left: ($spacing-unit * 3);
          }
        }
      }
    }
  }
}

.better-world-link {
  @include typography-text-sm();
    font-weight: $font-weight-medium;
    text-decoration: underline;
    color: $link-blue;
    letter-spacing: -0.28px;
    align-self: center;
}
