@import 'global-utilities';

.order-info {
  &__banner {
    @include typography-display-sm();
    display: flex;
    align-items: center;
    padding: $spacing-unit * 3 + 1;
    border-radius: 4px;
    margin: 0 0 ($spacing-unit * 4);
    font-weight: $font-weight-semiBold;

    img {
      margin-right: $spacing-unit * 2;
    }

    &.is-success {
      background: $colour-success-green;
    }

    &.is-info {
      background: $colour-info-blue;
    }
  }
}
