$border-product-bom-reference: #979797;
$colour-product-bom-reference: #979797;
$colour-product-bom-text: #333333;
$colour-shoppinglist-border: #ccc;
$colour-shoppinglist-data-label: #ababab;
$colour-shoppinglist-data-value: #191919;
$colour-shoppinglist-item-border: #D8D8D8;
$bom-product-info-label                     : #A8A8A8;
$bom-product-info-value                     : #191919;
$bom-product--mid-black                     : #474747;
$colour-product-tile-quick-view: #ebecef;
$colour-quick-view-border: #c4c2c2;