.mod-detail-tabs {
  float: left;
  padding-top: ($spacing-unit * 8);
  width: 100%;

  .tab-content {
    float: left;
    width: 100%;

    &__header {
      float: left;
      padding-bottom: ($spacing-unit * 3);
      width: 100%;

      h2 {
        @include font-size(22px);
        @include line-height(30px);
        color: $colour-dist-grey;
        font-weight: normal;
        letter-spacing: -.6px;

        @media #{$desktop} {
          @include font-size(28px);
          @include line-height(34px);
        }

      }

    }

    &__holder {
      float: left;
      width: 100%;

      &--downloads {
        border-top: 2px solid $colour-dist-grey;
        padding: ($spacing-unit * 4) 0;
      }

      &.technical {

        .content-title {
          padding-bottom: ($spacing-unit);
        }

      }

      .content-holder {
        float: left;
        width: 100%;
      }

      .specification-holder {
        border-top: 2px solid $colour-dist-grey;
        float: left;
        padding: ($spacing-unit * 3) 0;
        width: 100%;

        h2 {
          @include font-size(22px);
          @include line-height(30px);
          color: $colour-dist-grey;
          font-weight: normal;
          letter-spacing: -.6px;
          padding-bottom: ($spacing-unit * 2);

          @media #{$desktop} {
            @include font-size(28px);
            @include line-height(34px);
          }

        }

        .spec-title {
          display: block;
          float: left;
          width: 100%;
        }

        .content-holder {
          padding-top: ($spacing-unit * 2);

          .mod-error-feedback {
            display: none;

            @media #{$ipad} {
              display: block;
            }

          }

        }

        .item {
          float: left;
          width: 100%;

          &:nth-of-type(odd) {
            background: $colour-pale-grey;
          }

          &__element {
            color: $colour-dist-grey;
            display: inline-block;
            float: left;
            padding: ($spacing-unit - 3) 0;

            br {
              display: none;
            }

            label {
              @include font-size(12px);
              @include line-height(20px);
              width: 100%;
              vertical-align: middle;

              @media #{$ipad} {
                @include font-size(13px);
                @include line-height(26px);
              }

            }

            span {
              @include font-size(12px);
              @include line-height(20px);
              display: inline-block;

              @media #{$ipad} {
                @include font-size(13px);
                @include line-height(26px);
              }

            }

            &:first-of-type {
              padding-left: ($spacing-unit * 3);
              padding-right: ($spacing-unit * 3);
              width: 40%;

              @media #{$ipad} {
                width: 30%;
              }

            }

            &:last-of-type {
              font-weight: normal;
              padding-right: ($spacing-unit * 2);
              text-align: right;
              width: 60%;

              @media #{$ipad} {
                width: 70%;
              }

            }

          }

        }

      }

      .email-share,
      .print-page {
        @include font-size(12px);
        @include line-height(20px);
        color: $link-blue;
        display: block;
        letter-spacing: -.28px;
        transition: all 0.3s ease-in-out 0.1s;

        @media #{$mobile-landscape} {
          display: inline-block;
        }

        @media #{$ipad-landscape} {
          @include font-size(14px);
          @include line-height(16px);
        }

        i,
        svg {
          margin-right: ($spacing-unit);
          vertical-align: baseline;
        }

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

      .sep {
        @include font-size(12px);
        @include line-height(20px);
        color: $colour-mid-grey;
        display: none;
        letter-spacing: -.28px;
        padding: 0 ($spacing-unit);
        transition: all 0.3s ease-in-out 0.1s;

        @media #{$mobile-landscape} {
            display: inline-block;
        }

        @media #{$ipad-landscape} {
          @include font-size(14px);
          @include line-height(16px);
        }

      }

      .content-title {
        border-top: 2px solid $colour-dist-grey;
        float: left;
        padding-top: ($spacing-unit * 3);
        width: 100%;

        h2 {
          display: inline-block;
        }

        .product-family {
          @include font-size(12px);
          @include line-height(20px);
          color: $link-blue;
          display: block;
          letter-spacing: -.28px;
          transition: all 0.3s ease-in-out 0.1s;

          &:hover {
            color: $link-dark-blue;
            text-decoration: underline;
          }

          @media #{$ipad} {
            display: inline-block;
            padding-left: ($spacing-unit * 2);
          }

          @media #{$desktop} {
            @include font-size(15px);
            @include line-height(24px);
            vertical-align: bottom;
          }

        }

      }

    }

  }

}
