.skin-product-bom {
  border-left: 0;
  float: left;
  width: 100%;

  .main {
    float: left;
    height: auto;
    width: 100%;

    @media #{$ipad-landscape} {
      display: table;
    }

    &__item {
      @include font-size(13px);
      @include line-height(18px);
      color: $colour-product-bom-text;
      float: left;
      min-height: 53px;
      padding: ($spacing-unit * 2);
      position: relative;
      width: 100%;

      @media #{$ipad-landscape} {
        @include font-size(12px);
        @include line-height(23px);
        display: table-cell;
        float: none;
        padding: ($spacing-unit * 3) ($spacing-unit * 2);
        vertical-align: top;
        width: 12.5%;
      }

      @media #{$desktop} {
        width: 10.3%;
      }

    }

    .product-name {

      @media #{$desktop} {
        width: 24.9%;
      }

      a {
        display: block;
        max-width: 100px;

        @media #{$desktop} {
          max-width: 300px;
        }

      }

      h3 {
        @include font-size(13px);
        @include line-height(18px);
        height: auto;

        @media #{$ipad-landscape} {
          @include font-size(12px);
          @include line-height(18px);
        }

      }

    }

    .article-number {

      @media #{$desktop} {
        width: 8%;
      }

    }

    .price {

      @media #{$ipad-landscape} {
        padding-top: ($spacing-unit * 5 - 1);
      }

      @media #{$desktop} {
        width: 12.825%;
      }

    }

    .mod-scaled-prices {
      min-height: auto;
      top: 0;
      width: 100%;

      .table-row {
        color: $colour-product-bom-text;
      }

      .label {
        font-weight: bold;
      }

    }

    .price-per {
      position: relative;
      top: 0;
      width: 100%;
    }

    .mod-shipping-information {
      float: left;
      position: relative;
      width: 100%;
    }

    .stock {

      @media #{$ipad-landscape} {
        padding-top: ($spacing-unit * 5 + 3);
      }

      @media #{$desktop} {
        width: 12.81%;
      }

    }

    .manufacturer {

      @media #{$ipad-landscape} {
        text-align: center;
      }

    }

    .type-name {

      @media #{$ipad-landscape} {
        text-align: center;
      }

    }

    .numeric {
      float: left;
      width: 100%;

      .popover {
        left: -80px;
        top: -65px;
      }

      .ipt {
        border: 0;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        display: inline-block;
        height: 30px;
        margin: 0;

        @media #{$ipad-landscape} {
          width: 50px;
        }

      }

      .btn-wrapper {
        border: 1px solid #CCCCCC;
        float: left;
        height: auto;
        left: 0;
        margin: 0;
        max-width: 132px;
        position: relative;
        width: 100%;

        .numeric-btn {
          @include font-size(26px);
          border: 0;
          display: inline-block;
          float: left;
          height: 30px;
          outline: none;
          position: relative;
          width: 30px;

          @media #{$ipad-landscape} {
            @include font-size(14px);
            width: 20px;
          }

          @media #{$desktop} {
            @include font-size(26px);
            width: 30px;
          }

        }

      }

    }

    .article-number,
    .product-name,
    .type-name,
    .manufacturer {

      @media #{$ipad-landscape} {
        padding-top: ($spacing-unit * 5);
      }

    }

    .quantity {

      @media #{$ipad-landscape} {
        padding-top: ($spacing-unit * 4);
      }

    }

  }

  .bom-product {
    padding: ($spacing-unit*4) 0 ($spacing-unit*2) 0;
    position: relative;

    .addtocart-message {
      @include font-size(12px);
      background-color: $colour-dist-green;
      bottom: 0;
      color: $colour-white;
      display: none;
      padding: 0 $spacing-unit;
      position: absolute;
      right: $spacing-unit*2;

      i {
        margin-left: $spacing-unit;
      }

    }

    &.added-to-cart {

      .addtocart-message {
        display: inline-block;
        margin-bottom: 7px;
      }

    }

    &.added-to-shopping {

      .addtocart-message {
        display: inline-block;
      }

    }

    &__image {
      float: right;
      padding: 0 ($spacing-unit*2);
      width: 75%;

      img {
        width: 100%;
      }

    }

    &__title {
      @include font-size(15px);
      font-weight: 700;
    }

    &__information-item {
      display: inline-block;

      .label {
        @include font-size(12px);
        color: $bom-product-info-label;
      }

      .value {
        @include font-size(12px);
        color: $bom-product-info-value;
        margin-right: $spacing-unit*2;
      }


    }

    &__information {

      .teaser-link {
        float: left;
        width: auto;

        h3 {
          margin: 0;
          padding-right: ($spacing-unit);
        }

      }

      &.articleNumber {
        float: left;
        width: 100%;
      }

    }

    &__price {
      @include font-size(16px);
      display: none;
      font-weight: 700;
      float: right;

      @media #{$ipad-landscape} {
        display: block;
        text-align: right;
      }

      .vat-text {
        @include font-size(14px);
      }


    }

    &__actions {
      display: block;
    }

    &__detail-view {
      display: none;
      margin-top: $spacing-unit;

      &.showdetailview {
        display: block;
        float: left;
        width: 100%;
      }

      .bom-product {

        &__price {

          &__second {
            display: inline-block;

            .skin-scaled-prices-single {
              padding-top: 0;

              &__holder {
                float: right;
                min-width: auto;

                div {
                  @include font-size(12px);
                  text-align: right;
                }

                .price-each,
                .price,
                .vat-text {
                  display: none;
                }

              }

              .product-family-holder {
                display: none;
              }

            }

          }

        }

      }

      .attributes {
        display: inline-block;
        float: left;
        width: 50%;

        &:nth-of-type(even) {
          padding-right: 0;
        }

        &__row {

          .label,
          .value {
            @include font-size(12px);
            display: inline-block;
            float: left;
            width: 50%;
          }

          .label {
            color: $bom-product-info-label;
          }

          .value {
            margin-right: 0;
            text-align: left;
          }

        }

      }

    }

    &__shipping-info {
      margin-right: $spacing-unit*2;
      width: auto;

      .mod-shipping-information {
        width: auto;
      }

      .info-stock {
        text-align: left;

        @media #{$ipad-landscape} {
          text-align: right;
        }

      }

      .moreStockAvailable {
        display: none;
      }

    }

    &__reference {
      @include font-size(12px);
      border: 1px solid $colour-mid-grey;
      bottom: 0;
      border-radius: 2px;
      color: $colour-dark-grey;
      display: inline-block;
      height: 30px;
      padding: ($spacing-unit) ($spacing-unit + 3);
      vertical-align: text-top;
      vertical-align: -moz-middle-with-baseline;
      width: 280px;
    }

    &__numeric-stepper,
    &__shipping-info {
      display: block;
      float: left;
      margin-top: $spacing-unit*2;

      @media #{$ipad-landscape} {
        display: inline-block;
        float: none;
        margin-top: 0;
      }

      .numeric-popover {
        left: auto !important;
        right: 0;

        .arrow {
          left: auto !important;
          right: 45px;
        }

      }

    }

    .skin-toolsitem-bom-remove,
    .skin-toolsitem-shopping {
      display: inline-block;
    }

    &__actions-left {
      float: left;
      text-align: left;

      .mod-toolsitem {
        float: none;
        height: auto;
        line-height: normal;
        margin-bottom: $spacing-unit*2;

        @media #{$ipad} {
          line-height: 40px;
          margin-bottom: 0;
        }

      }

      .skin-toolsitem-bom-remove {
        margin-right: $spacing-unit*3;
        width: auto;
      }

      .ico-list-rm,
      .ico-list {
        display: inline-block;
        height: 30px;
        vertical-align: bottom;
      }

      .btn-save-to-shopping {
        margin-right: $spacing-unit*4;
      }

    }

    &__actions-right {
      float: right;
      margin-top: $spacing-unit*2;
      text-align: right;
      width: auto;
      margin-bottom: 30px;

      @media #{$ipad-landscape} {
        line-height: 40px;
        margin-top: 0;
      }

    }

  }

  .skin-scaled-prices-single-tabular {

    .price-table {

      &.price-table-overlay {
        background: none;
      }

    }

  }

}


.bom-product {

  &__information-item {
    display: inline-block;

    .label {
      @include font-size(12px);
      color: $bom-product-info-label;
    }

    .value {
      @include font-size(12px);
      color: $bom-product-info-value;
      margin-right: $spacing-unit*2;
    }


  }

  .erp-sales-status {

    &__furtherstock {
      display: none;
    }

  }

}

