.skin-product-bom-controllbar {
  margin-top: $spacing-unit*4;

  .bom-product-controllbar {
    border-bottom: 1px solid $colour-light-grey;
    float: left;
    width: 100%;

    &__select-all {
      display: inline-block;
      margin-top: $spacing-unit*3;
    }

    &__onoffswitch {
      @include font-size(12px);
      color: $bom-product--mid-black;
      display: inline-block;
      float: right;
      line-height: 30px;
      margin-top: $spacing-unit*2;
      padding-right: ($spacing-unit*2);
      position: relative;
      user-select: none;
    }

    &__onoffswitch-checkbox {
      display: none;
    }

    &__onoffswitch-text {
      display: inline-block;
      margin: 0 ($spacing-unit*2);
      vertical-align: text-bottom;
    }

    &__onoffswitch-label {
      background-color: $colour-dist-green;
      border-radius: 20px;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      margin: 0 ($spacing-unit*2);
      position: relative;
      width: 55px;

      &:before {
        background: none !important;
      }

    }

    &__onoffswitch-switch {
      background-color: $colour-white;
      border: 1px solid $colour-light-grey;
      border-radius: 50%;
      bottom: 0;
      display: block;
      margin: $spacing-unit - 2 ;
      position: absolute;
      top: 0;
      transition: all 0.3s ease-in 0s;
      width: 25px;

      &.showdetailview {
        right: 0;
      }

    }

  }

}

