.skin-product-shopping {
  border-bottom: 1px solid $colour-shoppinglist-item-border;
  margin-top: ($spacing-unit * 3);
  padding: ($spacing-unit) 0 ($spacing-unit * 3) 0;
  position: relative;

  .shopping-list {

    &__form-checkbox {
      width: 50px;

      form {
        display: block;
        left: auto;
        position: relative;
        top: auto;
      }

    }

    &__image-container {

      img {
        display: inline-block;
        height: auto;
        width: 100%;
      }

      .select-product-form {
        display: block;
        left: auto;
        position: relative;
        text-align: center;
        top: auto;
      }

    }

    &__top-header {
      position: relative;
      float: left;
      padding-bottom: $spacing-unit * 14;
      margin-top: ($spacing-unit * 2);
      width: 100%;

      @media #{$ipad} {
        padding-bottom: 0;
      }

      @media #{$ipad-landscape} {
        margin-top: 0;
      }

      a {
        float: left;
        width: 100%;
        visibility: visible;
      }

      .ctrls {
        float: right;
        margin-top: ($spacing-unit * 3);
        position: relative;
        right: auto;
        top: auto;
        width: 100%;

        @media #{$ipad} {
          margin-top: 0;
          width: 40%;
        }

      }

      .list-attribs {
        border-top: 0;
        float: left;
        margin: ($spacing-unit * 2) 0 0 0;
        width: 100%;

        @media #{$ipad} {
          margin: 0;
          width: 60%;
        }

        .productlist-container {
          float: left;
          width: 100%;

          &__data {
            float: left;
            width: 100%;

            @media #{$ipad-landscape} {
              display: inline-block;
              float: none;
              width: auto;
            }

            .label {
              @include font-size(12px);
              color: $colour-shoppinglist-data-label;
              font-weight: bold;
              padding-right: ($spacing-unit - 1);
            }

            .value {
              @include font-size(12px);
              color: $colour-shoppinglist-data-value;
              font-weight: 500;
              margin-right: ($spacing-unit * 2);
            }

          }

        }

        .num-stepper {
          position: absolute;
          left: -50%;
          bottom: 0;
          float: left;
          margin-top: $spacing-unit * 6;

          @media #{$ipad} {
            position: relative;
            left: 0;
          }
        }
      }

    }

    &__title {
      @include font-size(15px);
      color: $colour-black;
      float: left;
      font-weight: 700;
      white-space: normal;
      width: auto;
    }

  }

  .skin-numeric-stepper-product-list-technical {
    float: right;
    width: auto;
  }

  .skin-toolsitem-shopping-remove {
    @media #{$ipad} {
      float: right;
      text-align: center;
      width: auto;
    }
  }
}

@media print {

  .skin-product-shopping {
    float: left;

    .shopping-list {

      .list-attribs {
        width: 60%;
      }

      .ctrls {
        width: 40%;
      }

    }

  }

  .empty-list,
  .mod-print-footer {
    display: none;
  }

  .mod-shoppinglist-meta-actions {

    .favorite-list,
    .shopping-list {
      padding: ($spacing-unit*2) $spacing-unit;
    }

  }

}