.skin-product-compare {
  height: 280px;

  .title {
    border-bottom: none;
    margin-left: 0;
  }

  .c-center{
    padding-top: 50px;
  }

  .c-center-vertical {
    height: 118px;
    display: table-cell;
    vertical-align: middle;

    img {
      display: block;
      max-width: 300px;
      max-height: 168px;
      z-index: -1;

    }

  }

  .tools-bar {

    li {

      .ico{
        visibility: visible;
      }

    }

  }


  .txt {
    padding: 0 20px 10px 20px;

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  .product-tools{
    margin-left: 45px;
  }

  .price-type-wrapper {
    width: auto;
    clear: left;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-top: 10px;
  }

  .first {
    width: 50%;
    float:left;
    text-align: center;
  }

  .second {
    overflow: hidden;
    text-align: center;
  }

}
