.product-right-info {
  padding: $spacing-unit * 5 - 1;
  background-color: $colour-white;
  border: 1px solid $colour-light-grey;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

  &,
  & > * {
    float: left;
    width: 100%;
  }

  &__bottom {
    width: 100%;
    margin-top: $spacing-unit * 3;

    > *:first-child {
      padding-top: $spacing-unit * 4 !important;
      border-top: 1px solid $border-global-grey-light !important;
    }
  }

  .price {
    .odometer-price {
      @include font-size(18px);
      color: $colour-black;

      @media #{$desktop} {
        @include font-size(26px);
      }
    }

    &-each {
      @include font-size(12px);
      text-transform: uppercase;
      font-weight: normal;
      color: $colour-redesign-dark-black;
    }
  }

  .vat-text {
    @include font-size(12px);
    color: $colour-redesign-mid-black;
    font-weight: 500;
  }

  .mod-buying-section {
    .numeric .btn-wrapper {
      border-radius: 4px;
      max-width: 132px;

      input,
      .btn {
        height: 38px;
      }

      input {
        width: 48px;
        border-right: none;
      }

      .btn {
        @include font-size(12px);
        width: 40px;
        background: $bg-redesign-numeric-btn;
        transition: background .3s ease;

        &:hover {
          background: darken($bg-redesign-numeric-btn, 5%);
        }
      }

      .numeric-btn-down {
        border-radius: 4px 0 0 4px;
      }

      .numeric-btn-up {
        float: right;
        border-radius: 0 4px 4px 0;
        border-left: 1px solid $border-global-grey;
      }
    }

    .mat-button--action-green {
      @include font-size(14px);
      width: auto;
      height: 40px;
      padding-right: $spacing-unit * 3;
      padding-left: $spacing-unit * 3;

      .fa-cart-plus {
        display: none;
      }
    }
  }
}
