.mod-shipping-information {

  &.plp {

    &.skin-shipping-information-comparelist-new {

      @include font-size(13px);
      border: none;
      height: auto;
      min-height: auto;

      .instock,
      .further,
      .pickup,
      .leadtime {
        height: auto;
        margin: 0 0 ($spacing-unit) 0;

        .fa-check-circle {
          color: $colour-dist-green;
        }

      }

      .inStockText,
      .furtherStockText,
      .pickupInStoreText,
      .moreAboutLeadLink,
      .leadTimeField {
        position: relative;
        text-align: right;
        width: 100%;
      }

      .out-of-stock {

        i {
          color: $colour-dist-green;
        }

      }

      .info-stock {

        .leadTimeHeader {

          a {
            max-width: 214px;
            width: 100%;
          }

        }

      }

      .instock {
        display: block;
      }

      .inStockText {
        width: auto;
      }

      .price {
        display: none;
      }

      .availability {
        @include font-size(12px);
        font-weight: 700;
        line-height: 17px;
        padding: 0;
        width: auto;

        .leadtimeholder {
          display: inline-block;
          position: relative;
        }

      }

      .leadTimeFlyout {
        background-color: $colour-white;
        border: 1px solid #d8d8d8;
        border-radius: 2px;
        border-top: 4px solid $colour-black;
        bottom: $spacing-unit*6;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
        margin-left: 0;
        left: 50%;
        padding: ($spacing-unit * 4);
        text-align: left;
        top: inherit;
        transform: translateX(-50%);
        width: 400px;
        z-index: 800;

        .lead-arrow-down {
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 11px solid $colour-white;
          margin-left: 45%;
          margin-top: $spacing-unit*4;
          text-align: right;
          top: auto;
        }

        .leadTimeLine {
          @include font-size(14px);
          @include line-height(20px);
          color: $colour-dist-grey;

          .inStockLong {
            padding-bottom: ($spacing-unit * 2);
          }

        }

        &:after {
          border-top: 4px solid $colour-dist-carmine;
          content: '';
          height: 0;
          left: 33%;
          position: absolute;
          top: -4px;
          width: 33.33%;
          z-index: 1;
        }

        &:before {
          border-top: 4px solid $colour-dist-red;
          content: '';
          height: 0;
          position: absolute;
          top: -4px;
          right: 0;
          width: 34%;
          z-index: 1;
        }

      }

    }

  }

}

.isie7,
.isie8 {

  .mod-shipping-information {

    &.plp {

      &.skin-shipping-information-comparelist-new {

        .shipping-info {
          display: none;
        }

      }

    }

  }

}
