.skin-shipping-information-single,
.skin-shipping-information-pdp {
  border: 0;
  display: table;
  float: left;
  height: auto;
  min-height: 90px;
  width: 100%;

  .leadTimeFlyout {
    background-color: $colour-white;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    border-top: 4px solid $colour-black;
    bottom: $spacing-unit;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    margin-left: 0;
    padding: ($spacing-unit * 4);
    width: 100%;

    .lead-arrow-down {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 11px solid $colour-white;
      margin-top: ($spacing-unit * 4);
      margin-left: 0;
    }

    .leadTimeLine {
      @include font-size(14px);
      @include line-height(20px);
      color: $colour-dist-grey;

      .inStockLong {
        padding-bottom: ($spacing-unit * 2);
      }

    }

    &:after {
      border-top: 4px solid $colour-dist-carmine;
      content: '';
      height: 0;
      left: 33%;
      position: absolute;
      top: -4px;
      width: 33.33%;
      z-index: 1;
    }

    &:before {
      border-top: 4px solid $colour-dist-red;
      content: '';
      height: 0;
      position: absolute;
      top: -4px;
      right: 0;
      width: 34%;
      z-index: 1;
    }

  }

  .loading {
    border-radius: 2px;
    display: table-cell;
    margin-top: 0;
    padding: ($spacing-unit * 3) ($spacing-unit * 9);
    width: auto;
    vertical-align: middle;

    .leadtime-holder {
      position: relative;
      width: 100%;

      .leadTimeHeader {
        float: left;
      }

    }

    .further {

      .furtherText {
        display: inline-block;
      }

      i,
      svg {
        @include font-size(14px);
        margin-left: ($spacing-unit);
      }

    }

    .table-icon {
      display: inline-block;
      left: ($spacing-unit*5);
      position: absolute;
      vertical-align: top;

      .icon {

        &--inStock {
          color: $bg-dist-green;
        }

        &--notStock {
          color: $colour-dark-red;
        }

        &--comingSoon {
          color: $colour-dist-orange;
        }

      }

    }

    .tableinfo {
      display: inline-block;
    }

    .inStockText,
    .sales-status {
      @include font-size(18px);
      @include line-height(21px);
      font-weight: bold;
      padding-bottom: ($spacing-unit * 2);
    }

    .pickupInStoreText,
    .furtherText,
    .further-text,
    .moreStockAvailableText {
      @include font-size(14px);
      @include line-height(14px);
      padding-bottom: ($spacing-unit);
      padding-top: ($spacing-unit);
    }

    &--inStock {
      background-color: rgba(104,193,67,0.1);
      border: 1px solid $bg-dist-green;

      .inStockText,
      .sales-status,
      .moreStockAvailableText {
        color: $bg-dist-green;
      }
      .furtherAriba{
        .furtherText,
        .further-text{
          color: $colour-mid-black;
        }
      }
      .further {

        i,
        svg {
          color: $bg-dist-green;
        }

      }

    }

    &--notStock {
      background-color: rgba(223,20,23,0.1);
      border: 1px solid $colour-dark-red;

      .inStockText,
      .pickupInStoreText,
      .furtherText,
      .sales-status,
      .moreStockAvailableText {
        color: $colour-dark-red;
      }

      .further {

        i,
        svg {
          color: $colour-dark-red;
        }

      }

    }

    .pickupInStoreText,
    .furtherText,
    .further-text,
    .moreStockAvailableText,
    .item-category-message {
      @include font-size(14px);
      @include line-height(14px);
      padding-bottom: ($spacing-unit);
      padding-top: ($spacing-unit);

    }

    .deliveryTimeText{
      @include font-size(14px);
      @include line-height(16px);
      font-weight: 500;
      padding-bottom: ($spacing-unit);
    }

    .item-category-message {
      display: inline-block;
      line-height: normal;
      margin-bottom: $spacing-unit;
    }

    &--amber {
      background-color: $colour-white;
      border: 1px solid $amber-border;

      .inStockText,
      .pickupInStoreText,
      .furtherText,
      .further-text,
      .sales-status,
      .moreStockAvailableText,
      .noStockButAvailable,
      .item-category-message {
        color: $colour-mid-black;
      }

      .fa-amber {
        background-color: $amber-background;
        color: $amber-border;
      }

    }

  }

  .stock-notification {
    clear: both;

    &__form-content {
      margin: 0;
      padding: ($spacing-unit*4) 0 0 0;
    }

    &__form {
      margin: 0;

      &--emailinput {
        border-radius: 2px;
        border-width: 1px !important;
        border-color: $colour-mid-grey;
        height: 41px;
        float: left;
        margin-right: $spacing-unit*2;

        &.error {
          border-color: $bg-button-red;
        }

      }

      &--instruction {
        @include font-size(16px);
        color: $colour-dist-grey;
        font-family: Arial;
        font-weight: bold;
        line-height: 23px;
        margin-bottom: $spacing-unit*2;
        max-width: 400px;
      }

      &--assurance-text {
        @include font-size(12px);
        font-family: Arial;
        line-height: 15px;
        margin-top: $spacing-unit*3;
        max-width: 430px;

        &--privacy-policy {
          color: $link-blue;
          margin-left: $spacing-unit;

          &:hover,
          &:focus {
            color: $link-dark-blue;
            text-decoration: underline;
          }
        }

      }

      &--cta {
        @media #{$ipad-landscape} {
          max-width: 230px;
        }

      }

    }

    .icon-wrapper {
      background-color: $bg-dist-green;
      border-radius: 50%;
      color: $colour-white;
      display: inline-block;
      height: 48px;

      text-align: center;

      width: 48px;


      .fa-check {
        margin-top: 50%;
        transform: translatey(-50%);
      }
    }

    .fa-check-circle {
      color: $bg-dist-green;
    }

    &--message {
      color: $colour-dist-grey;
      display: inline-block;
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      line-height: 23px;
      float: right;
      padding-left: $spacing-unit*3;
      width: calc(100% - 50px);
    }



    &--error {
      color: $bg-button-red;
      font-family: Arial;
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
      width: 100%;
    }

    .col-md-6 {
      width: 50%;
    }

  }


}
