.mod-cal-plus-banner {
  float: left;
  margin-bottom: ($spacing-unit * 4);
  width: 100%;

  .uncalibrated {
    border: 1px solid $colour-mid-grey;
    border-radius: 2px;
    float: left;
    padding: ($spacing-unit * 5 - 1) ($spacing-unit * 4);
    text-align: center;
    width: 100%;

    &__title {
      @include font-size(14px);
      @include line-height(14px);
      color: $colour-dist-grey;
      display: inline-block;
      font-weight: 600;

      i,
      svg {
        margin-right: ($spacing-unit);
      }

    }

    &__text {
      @include font-size(14px);
      @include line-height(14px);
      color: $colour-dist-grey;
      display: inline-block;

      a {
        color: $link-blue;
        display: inline-block;
        padding-right: ($spacing-unit);
        transition: all 0.3s ease-in-out 0.1s;

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

    }

    &__view {
      display: inline-block;

      a {
        @include font-size(14px);
        @include line-height(14px);
        color: $link-blue;
        transition: all 0.3s ease-in-out 0.1s;

        i,
        svg {
          margin-left: ($spacing-unit);
        }

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

    }

  }

}