.mod-lightbox-login-required-add-favorite {

    .modal {

        #obj > .modal();

        .ft {
            .-left {
                width: auto;
                float: left;

                .link {
                    text-decoration: underline;
                    #typo > .size-s;
                    float: left;
                    line-height: 1;
                    font-weight: bold;
                }
            }
        }
    }

    .form-row {
    	.cf();
    }

		.field {
			float: right;
		}

    .error-box {
        display:none;
        #obj > .errorBox;
    }

    .required-text {
        width:100%;
        text-align: right;
    }

    //
	// Popover

	.popover-variation(@c-white, @c-red, 'top');
}
