.categoryseo {

  &__descrpition,
  &__content {
    @include font-size(16px);
    @include line-height(24px);
  }

  &__content-title {
    color: $colour-dist-red;
    margin: ($spacing-unit*4) 0;
  }

  &__show-more {
    border-bottom: 2px solid transparent;
    color: $link-blue;
    height: auto;
    margin: ($spacing-unit*4) 0;
    outline: none;

    &:hover,
    &:focus {
      border-color: $link-dark-blue;
      color: $link-dark-blue;
    }
  }


}
