.skin-shipping-information-single,
.skin-shipping-information-pdp {
  border: 0;
  float: left;
  height: auto;
  position: relative;
  width: 100%;

  @media #{$ipad-landscape} {
    display: table;
  }

  .leadTimeFlyout {
    background-color: $colour-white;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    border-top: 4px solid $colour-black;
    bottom: $spacing-unit;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    margin-left: 0;
    padding: ($spacing-unit * 4);
    width: 100%;
    z-index: 800;

    .lead-arrow-down {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 11px solid $colour-white;
      margin-top: ($spacing-unit * 4);
      margin-left: 0;
    }

    .leadTimeLine {
      @include font-size(14px);
      @include line-height(20px);
      color: $colour-dist-grey;

      .inStockLong {
        padding-bottom: ($spacing-unit * 2);
      }

    }

    &:after {
      border-top: 4px solid $colour-dist-carmine;
      content: '';
      height: 0;
      left: 33%;
      position: absolute;
      top: -4px;
      width: 33.33%;
      z-index: 1;
    }

    &:before {
      border-top: 4px solid $colour-dist-red;
      content: '';
      height: 0;
      position: absolute;
      top: -4px;
      right: 0;
      width: 34%;
      z-index: 1;
    }

  }

  .loading {
    display: table-cell;
    float: left;
    margin-top: ($spacing-unit * 4);
    position: relative;
    width: 100%;
    max-width: 580px;
    vertical-align: middle;

    @media #{$ipad-landscape} {
      margin-top: 0;
    }

    &__normal {
      position: relative;

      &--comingsoon {
        .table-icon {
          .icon.icon--comingSoon {
            @include font-size(16px);
            width: auto;
            height: auto;
            color: $colour-dist-orange;
            background-color: transparent;

            .fa-check-circle {
              color: $bg-dist-green;
            }

            .fa-times-circle {
              color: $icon-dark-grey;
            }
          }
        }
      }

      &.no-heading > .table-icon {
        margin-top: -2px;
      }
    }

    .leadtime-holder {
      position: relative;
      width: 100%;

      .leadTimeHeader {
        float: left;
      }

    }

    .further {

      .furtherText {
        display: inline-block;
      }

      .further-text {
        @include font-size(14px);
        @include line-height(16px);
        padding-top: $spacing-unit;
      }

      i,
      svg {
        @include font-size(14px);
        margin-left: ($spacing-unit);
      }

    }

    .table-icon {
      display: inline-block;
      float: left;
      margin-top: 2px;
      margin-right: $spacing-unit + 3;

      .icon {
        line-height: 14px;

        &--inStock {
          @include font-size(8px);

          background-color: $bg-dist-green;
          color: $colour-white;
          border-radius: 50%;
          display: block;
          padding: 1px 0 !important;
          text-align: center;
          height: 16px;
          width: 16px;
        }

        &--notStock {
          @include font-size(8px);
          color: $icon-dark-grey;
          border-radius: 50%;
          display: block;
          padding: 1px 0 !important;
          text-align: center;
          height: 16px;
          width: 16px;
          line-height: 10px;

          .fa-times-circle {
            @include font-size(16px);
          }
        }

        &--comingSoon {
          @include font-size(8px);
          background-color: $colour-dist-orange;
          color: $colour-white;
          border-radius: 50%;
          display: block;
          padding: 1px 0 !important;
          text-align: center;
          height: 16px;
          width: 16px;
        }

      }

      &__red {

        .icon {

          &--inStock, &--notStock {
            @include font-size(8px);
            background-color: $colour-dark-red;
            border-radius: 50%;
            color: $colour-white;
            display: block;
            padding: 1px 0 !important;
            text-align: center;
            height: 16px;
            width: 16px;
          }

        }

      }

    }

    .tableinfo {
      display: block;

      b {
        font-weight: inherit;
      }
    }

    .inStockText,
    .sales-status,
    .noStockButAvailable {
      @include font-size(16px);
      @include line-height(21px);
      font-weight: 600;
      padding-bottom: $spacing-unit;
    }

    .pickupInStoreText,
    .furtherText,
    .further-text,
    .moreStockAvailableText,
    .item-category-message {
      @include font-size(14px);
      @include line-height(14px);
      font-weight: 500;
      padding-bottom: ($spacing-unit);
      padding-top: ($spacing-unit);
    }

    .deliveryTimeText{
      @include font-size(14px);
      @include line-height(16px);
      font-weight: 500;
      padding-bottom: ($spacing-unit);
    }

    .item-category-message {
      display: inline-block;
      line-height: normal;
      margin-bottom: $spacing-unit;
    }

    &--inStock {
      .sales-status,
      .inStockText {
          color: $colour-black;

      }

      .further {

        i,
        svg {
          color: $bg-dist-green;

        }

      }

    }

    &--notStock {
      .sales-status,
      .inStockText {
        color: $colour-black;
      }

      .further {

        i,
        svg {
          color: $colour-dark-red;
        }

      }

    }

    &--amber {
      .sales-status,
      .inStockText {
        color: $colour-black;
      }

      .fa-amber {
        color: $amber-border;
      }

    }
  }

  .notify-link {
    display: flex;
    align-items: center;
    color: $link-blue;
    margin-top: $spacing-unit*2;
    font-weight: bold;

    &:hover {
      color: $link-dark-blue;
      text-decoration: underline;
    }

    i {
      margin-right: $spacing-unit;
    }
  }

}
