.skin-shipping-information-comparelist {
  border-width: 0;
  box-sizing: border-box;
  height: auto;
  float: left;
  padding: ($spacing-unit * 2);
  width: 100%;

  @media #{$ipad-landscape} {
    border-right: 1px solid $leadTime-border;
    min-height: 110px;
    padding: ($spacing-unit * 3) ($spacing-unit * 5) 0 ($spacing-unit * 5);
  }

  @media print {
    border-right: 1px solid $leadTime-border;
    min-height: 160px;
    padding: ($spacing-unit * 3) ($spacing-unit * 5) 0 ($spacing-unit * 5);
  }

  .compare-list {

    &__title {
      @include font-size(14px);
      display: inline-block;
      float: left;
      width: 85%;

      @media print {
        margin-bottom: ($spacing-unit * 2);
        width: 100%;
      }

      @media #{$ipad-landscape} {
        display: none;
      }

    }

    &__main {
      display: inline-block;
      float: left;
      width: 15%;

      @media #{$ipad-landscape} {
        float: right;
        width: 100%;
      }

      @media print {
        width: 100%;
      }

      .availability-compare {

        .info-stock {
          @include font-size-important(13px);
          font-family: $font-montserrat;
          font-weight: bold;
          float: right;
          padding-left: ($spacing-unit + 3);
          position: relative;
          width: auto;

          @media #{$ipad-landscape} {
            width: 100%;
          }

          @media print {
            padding-left: 0;
            width: 100%;
          }

          i {
            @include font-size(15px);
            @include line-height(16px);
          }

          .leadtime {
            margin: 0;
          }

          .leadtimeholder {
            float: right;
            padding-right: ($spacing-unit * 6 + 4);
            width: 100%;

            @media #{$ipad-landscape} {
              float: left;
              margin-top: (-$spacing-unit);
              padding-left: ($spacing-unit * 4 + 4);
              padding-right: 0;
            }

            &__content {
              position: absolute;
              top: -10px;
              width: 100%;

              .leadTimeFlyout {
                min-height: auto;
                top: -109px;
                width: auto;

                @media #{$ipad} {
                  top: -5px;
                }

                .leadTimeLine {

                  .ellipsis {
                    width: 10%;
                  }

                }

                .lead-arrow-down {
                  display: none;
                }

              }

            }

            .leadTimeHeader {
              float: right;

              @media #{$ipad-landscape} {
                float: left;
                width: 100%;
              }

              .moreAboutLeadLink {
                color: $leadTime-link;
                bottom: auto;
                float: right;
                margin-left: 0;
                position: static;
                text-align: right;
                width: 100%;
              }

            }

          }

          .row {
            margin-bottom: ($spacing-unit);
          }

        }

      }

    }

  }

  &.quote-detail {

    .leadTimeFlyout {
      bottom: $spacing-unit*3;
      top: auto;
    }

  }

}