.mod-shipping-information {

  &.plp {

    &.skin-shipping-information-comparelist-new {
      @include font-size(13px);
      border: none;
      float: left;
      font-family: $font-montserrat;
      font-weight: bold;
      height: auto;
      line-height: 19px !important;
      min-height: auto;
      padding: 0 0 0 $spacing-unit;
      width: 100%;

      @media #{$ipad-landscape} {
        min-width: 180px;
      }

      .compare-list {
        float: left;
        margin: ($spacing-unit + 2) 0 0 ($spacing-unit * 14 + 4);
        max-width: 100%;
        text-align: left;
        width: auto;

        @media #{$ipad} {
          max-width: 100%;
          width: 100%;
        }

        @media #{$ipad-landscape} {
          margin: 0;
          text-align: inherit;
        }

      }

      .instock,
      .further,
      .pickup,
      .leadtime {
        height: auto;
        margin: 0;

        .fa-check-circle {
          @include font-size(15px);
          @include line-height(16px);
          color: $colour-dist-green;
          padding-right: $spacing-unit;
        }

      }

      .info-stock {
        position: relative;
        padding-left: ($spacing-unit * 4) !important;

        i[class*="fa-"] {
          position: absolute;
          top: 1px;
          left: 0;
        }

        .fa-clock {
          color: $colour-rnd-yellow;
        }
      }

      .sales-status {

        .fa-clock,
        .fa-check-circle {
          @include font-size(15px);
          @include line-height(16px);
          color: $colour-rnd-yellow;
        }

        .fa-times-circle {
          @include font-size(15px);
          @include line-height(16px);
          color: $icon-dark-grey;
        }

        .outofstock-41-45 {
          @include font-size(13px);
          @include line-height(16px);
        }

      }

      .inStockText,
      .furtherStockText,
      .pickupInStoreText,
      .moreAboutLeadLink,
      .leadTimeField {
        position: relative;
        width: 100%;

        @media #{$ipad-landscape} {
          text-align: right;
        }

      }

      .out-of-stock {

        .fa-clock,
        .fa-check-circle {
          @include font-size(15px);
          @include line-height(16px);
          color: $colour-dist-green;
        }

        .fa-times-circle {
          @include font-size(15px);
          @include line-height(16px);
          color: $icon-dark-grey;
        }

      }

      .info-stock {

        .leadTimeHeader {
          width: 100%;

          a {
            bottom: 0;

            @media #{$ipad-landscape} {
              max-width: 214px;
              width: 100%;
            }

          }

        }

      }

      .instock {
        display: block;
      }

      .inStockText {
        width: auto;
      }

      .price {

        &__sale-price {
          @include font-size(16px);
          line-height: 1.2;
          font-weight: 700;
          margin-left: $spacing-unit;
        }

        @media #{$ipad-landscape} {
          display: none;
        }

      }

      .availability {
        @include font-size(12px);
        @include line-height(12px);
        font-weight: 600;
        padding: 0;
        width: 100%;

        @media #{$desktop} {
          @include font-size(13px);
          @include line-height(16px);
        }

        .instock {
          @include font-size(13px);
        }

        .leadtimeholder {
          display: none;
          float: none;
          width: 100%;

          @media #{$ipad-landscape} {
            display: inline-block;
            margin-top: ($spacing-unit - 3);
            position: relative;
          }

        }

      }

      .leadTimeFlyout {
        background-color: $colour-white;
        border: 1px solid #d8d8d8;
        border-radius: 2px;
        border-top: 4px solid $colour-black;
        bottom: $spacing-unit*5;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
        margin-left: 0;
        left: 50%;
        padding: ($spacing-unit * 4);
        text-align: left;
        top: initial;
        transform: translateX(-50%);
        width: 100%;
        z-index: 800;

        @media #{$ipad-landscape} {
          width: 400px;
        }

        .lead-arrow-down {
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-top: 11px solid $colour-white;
          margin-top: ($spacing-unit * 4);
          margin-left: 0;
          top: initial;

          @media #{$ipad-landscape} {
            margin-left: 50%;
            text-align: right;
          }

        }

        .leadTimeLine {
          @include font-size(14px);
          @include line-height(20px);
          color: $colour-dist-grey;

          .inStockLong {
            padding-bottom: ($spacing-unit * 2);
          }

        }

        &:after {
          border-top: 4px solid $colour-dist-carmine;
          content: '';
          height: 0;
          left: 33%;
          position: absolute;
          top: -4px;
          width: 33.33%;
          z-index: 1;
        }

        &:before {
          border-top: 4px solid $colour-dist-red;
          content: '';
          height: 0;
          position: absolute;
          top: -4px;
          right: 0;
          width: 34%;
          z-index: 1;
        }

      }

    }

  }

}