.mod-back-order-item-save {

  .btn-checkout {
    @include font-size(15px);
    @include line-height(14px);
    height: 43px;
    text-transform: capitalize;
  }

  &__notify {
    border-top: 1px solid $back-order-item-notify-border-grey;
    box-shadow: 0 0 6px rgba(54, 54, 54, 0.08);
    float: left;
    margin-bottom: ($spacing-unit * 2);
    width: 100%;

    @media #{$ipad-landscape} {
      display: none;
    }

    .notify-me-toggle {
      @include font-size(15px);
      color: $colour-dist-grey;
      float: right;
    }

  }

  .return-cart-btn {
    @include font-size(12px);
    @include line-height(16px);
    border: 1px solid $colour-dist-marigold;
    border-radius: 2px;
    color: $colour-mid-black;
    display: block;
    font-weight: 600;
    margin-top: ($spacing-unit * 2);
    padding: $spacing-unit*2;

    &:hover,
    &:focus {
      background: $colour-dist-marigold;
      color: $colour-black;
    }
  }

}

.isie7,
.isie8 {

  .mod-back-order-item-save {

    .return-cart-btn {
      @include line-height(16px);
      border: 0;
      height: auto;
    }

    .btn-checkout {
      height: 43px;
    }

    &__notify {
      display: none;
    }

  }

}
