.mod-lightbox-delete-card {

  .modal {
    display: block !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 500px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    outline: 0;

    @media screen\0 {
      left: 34%;
    }

    @media screen\9 {
      left: 34%;
    }

    &.hidden {
      display: none !important;
    }

  }

  .title {
    @include font-size(24px);
    margin-top: 0;
  }

  .ft {

    input {
      float: left;
      width: 48%;

      &:last-of-type {
        float: right;
      }

    }

  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: $spacing-unit * 4;
    pointer-events: none;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $spacing-unit * 4;
    pointer-events: auto;
    background-color: $colour-white;
    background-clip: padding-box;
    outline: 0;
    top: 40%;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
  }

}
