.mod-numeric-stepper {

	.cell-numeric-tabular {
		position: relative;

		.lt-ie8 & {
			width: 134px;
			height: 125px;
		}

		.numeric {
			margin: -66px 0px 0px 129px;

			.isie7 &,
			.isie8 & {
				margin: -66px 0 0 -117px;
			}

			.ipt {
				font-size: 13px;
				line-height: 22px; 
				float: left;
				width: 40px;
				height: 35px;
				line-height: 30px;
				padding: 0 1px;
				margin: 5px -6px 0 0;
				outline: none;
				text-align: center;
			}
			.numeric-btn {
				left: 0;
			    height: 16px;
			    width: 16px;
				margin: 0;
				background-color: #f0f0f0;
				font-family: Arial, sans-serif;
				font-size: 16px;
				line-height: 0;
				text-align: center;
				top: auto;

				&.numeric-btn-up {
					top: 0;
					padding-top: 1px;
				}

				&.numeric-btn-down {
					bottom: 0;
					border-top: 2px solid #ccc;
				}

				&:hover {
					color: #ffffff;
					background-color: #AA1936;
    			}	
			}

			.numeric-popover {
				&.popover {
					bottom: 50px;
					top: inherit;
					left: -93px;
					width: 230px;
				}
			}
			
			.noEditCart{
				margin-left: 20px;
			}
		}

		.btn-numeric-remove {
			#modListItem > .button-link();

			& {
				display: inline;
				margin-top: 7px;
				position: relative;
				&:hover {
					color: @c-white;
					background-color: @c-red;
					text-decoration: none !important;
				}
			}
		}

		p.qty {
			margin-top: 10px; // quantity
		}
	}
    

}

