$colour-account-list-order-history-green: #68C143;
$colour-account-list-order-history-orange: #D3AC1C;
$colour-account-list-order-history-red: #DF1417;
$colour-account-list-order-history-grey: #979797;
$colour-account-quotes-blue: #005E80;
$colour-account-quotes-blue-hover: #00435C;