.skin-cart-pricecalcbox-shopping {
  @media #{$ipad} {
    min-width: 280px;
  }

  .calc-box {
    max-width: 100%;
    padding: ($spacing-unit * 2) ($spacing-unit * 3);
    border: 1px solid $colour-light-grey;
    box-shadow: 0 2px 2px 0 rgba($colour-black, 0.18);

    @media #{$ipad} {
      padding: ($spacing-unit * 3) ($spacing-unit * 4);
    }

    &__table {
      width: 100%;

      td {
        @include font-size(14px);
        padding-right: $spacing-unit * 6;
        font-weight: 500;
        text-align: right;

        @media #{$ipad} {
          white-space: nowrap;
        }

        &:first-child {
          text-align: left;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
