.mod-cart-pricecalcbox {
  .table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: ($spacing-unit * 5) 0;
    width: 100%;

    &__line {
      @include font-size(13px);
      border-top: 1px solid $colour-light-grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: $spacing-unit 0;

      &__heading,
      &__value {
        display: flex;
        margin-left: 0;
      }

      &--total {
        @include font-size(14px);
        font-weight: 700;

        @media #{$desktop} {
          @include font-size(15px);
        }

        &--CZ {
          @include font-size(13px);
        }
      }
    }
  }
}
