.mod-shoppinglist-select-all {
  float: left;
  padding-left: ($spacing-unit + 2);
  width: auto;

  form {

    .select-all-label {
      height: auto;
      line-height: normal;
      position: relative;
      top: 9px;

      &:before {
        vertical-align: baseline;
      }

    }

  }

}