@mod-cart-recalculatelayer-shopping-width: 266px;

.wrap-cart-recalculate-layer-shopping {
	position: relative;
}

.skin-cart-recalculatelayer-shopping {

	#mod-cart-recalculatelayer-shopping > .base();
	#mod-cart-recalculatelayer-shopping > .sticky();
	#mod-cart-recalculatelayer-shopping > .loader();

}


#mod-cart-recalculatelayer-shopping {
	// BASE
	.base() {
		.bd-cart-recalculate-layer-shopping, .back-cart-recalculate-layer-shopping {
			min-height: 99px;
		}
		.back-cart-recalculate-layer-shopping {
			background: #AA1936;
			opacity: 0.5;
			top: 0;

			.lt-ie9 & {
				filter: alpha(opacity=50);        // IE6, IE7
				-ms-filter: "alpha(opacity=50)"; // IE8
			}
		}
	}

	// STICKY
	.sticky() {

		.btn-recalculate-shopping {

			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);

			display: block;
			visibility: hidden;
			background: #AA1936;
			border-color: #AA1936;
			color: @c-white;
			width: 240px;
			cursor: pointer;
			text-align: center;

			.lt-ie8 & {
				height: 19px;
			}

			img {
				display: none;
			}
			span {
				display: block;
			}

			&:hover {
				background: @c-white;
				color: #AA1936;
			}

		}
	}

	// LOADER
	.loader() {
		.btn-recalculate-loading-shopping, .btn-recalculate-loading-shopping:hover {
			background: @c-white;
			color: #AA1936;

			img {
				display: inline;
				margin-top: -2px;
			}
			span {
				display: none;
			}
		}
	}
}
	