.skin-checkout-delivery-options-list-myaccount {
	margin-bottom: 30px;

	.btn-save {
		float: right;
		width: 200px;
		text-align: left;
		margin-top: @spc-h;
		right: 0;

		i {
			.s-arrow-right-white();
			margin-top: 3px;
			margin-right: 5px;
			float: right;
		}

		&:hover i,
		&:focus i {
			.s-arrow-right-red();
		}

		&:active i, &.active i {
			.s-arrow-right-red();
		}

		&[disabled], &.disabled {
			i {
				.s-arrow-right-white();
			}
		}
		&:disabled {
			// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-arrow-right-white();
			}
		}
	}

}
