.mod-footer-payment-methods {

  .card {

    &__title {
      display: none;
    }

    &__list {
      display: inline-block;
      margin-top: $spacing-unit * 4;

      @media #{$ipad} {
        margin-top: $spacing-unit * 6;
      }

    }

    &__list__item {
      display: inline-block;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

    }

    &__list__wrapper__value {
      display: none;
    }

  }

  &.trade-marks {
    text-align: center;

    @media #{$desktop} {
      text-align: left;
    }

    .card {

      &__list__item {
        margin: 0 $spacing-unit * 2 $spacing-unit * 4 0;

        &:last-child {
          margin-right: 0;
        }

        @media #{$ipad} {
          margin: 0 $spacing-unit * 4 $spacing-unit * 4 0;
          width: 39%;
        }

        @media #{$desktop} {
          margin-bottom: 0;
          width: auto;
        }

      }

    }

  }

  &.social-medias {
    text-align: center;

    @media #{$ipad} {
      @include font-size(28px);
      @include line-height(34px);
    }

  }

  &.payment-methods {
    text-align: center;

    @media #{$ipad} {
      text-align: right;
    }

    .card {

      &__list__item {
        margin: 0 0 $spacing-unit * 2 $spacing-unit * 4;

        &:first-child {
          padding: 0;
          margin-left: 0;
        }

        @media #{$ipad} {
          margin: 0 0 $spacing-unit * 4 $spacing-unit * 4;
        }

        @media #{$desktop} {
          width: auto;
        }

      }

    }

  }

}
