.mod-shoppinglist-add-to-cart {
	text-align: right;
	padding-top: 3px;

	.btn-cart {
		font-size: 13px;
		padding-left: 50px;
		padding-top: 0; // remove padding top & bottom for long text that wraps on multiple lines
		padding-bottom: 0;

		&.disabled{
			border: 1px solid @c-grey80;
			i{
				.s-add-to-cart-red();
			}
		}
		span{
			display: none;
			&.active{
				display: inline;
			}
		}

		i {
			.s-add-to-cart-white();
			position: absolute;
			left: 12px;
			top: 9px;
			margin-top: 0;
		}

		&:focus i,
		&:hover i {
			.s-add-to-cart-red();
		}
	}

	@media print {
		.btn-cart {
			.hidden();
		}
	}
}
