.skin-cart-list-item-cart {
  border: 0;
  float: left;
  min-height: unset;
  margin-bottom: ($spacing-unit * 4);
  width: 100%;

  @media print {
    margin-bottom: ($spacing-unit * 5);
  }

  @media #{$ipad-landscape} {
    margin-bottom: ($spacing-unit * 3);
  }

  &__holder {
    border: 1px solid rgba(219, 219, 216, 1);
    background: $colour-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.149019607843137);
    display: flex;
    flex-wrap: wrap;
    padding: ($spacing-unit * 3) ($spacing-unit * 3);
    position: relative;

    @media #{$ipad-landscape} {
      padding: 0;
    }

    &__image {
      order: 2;
      position: relative;
      width: 20%;

      img {
        display: inline-block;
        height: 65px;
        max-width: 100%;

        @media print {
          height: 50px;
        }

      }

      @media #{$ipad-landscape} {
        order: 1;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 10%;
      }

    }

    &__content {
      order: 3;
      padding-left: ($spacing-unit * 2);
      width: 80%;

      @media #{$ipad-landscape} {
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 40%;
      }

      .desktop-title {
        display: none;

        @media #{$ipad-landscape} {
          display: block;
        }

        span {
          @include font-size(15px);
          @include line-height(20px);
          color: $colour-black;
          white-space: unset;
          width: 100%;
        }

      }

      .cell-info-table {
        float: left;
        width: 100%;

        .cell-info-cell {
          float: left;
          padding: ($spacing-unit - 2) 0;
          width: 100%;

          @media #{$ipad-landscape} {
            width: 33.333%;
          }

          .hd,
          .bd {
            @include font-size(12px);
            @include line-height(16px);
            float: left;
            width: 50%;

            @media #{$ipad-landscape} {
              width: 100%;
            }

          }

          .hd {
            font-weight: bold;
          }

        }

      }

    }

    &__title {
      order: 1;
      width: 100%;

      @media #{$ipad-landscape} {
        display: none;
        width: 40%;
      }

      h3 {
        @include font-size(16px);
        margin-bottom: ($spacing-unit * 2);
        white-space: unset;

        @media #{$ipad-landscape} {
          white-space: nowrap;
        }

      }

    }

    &__price {
      border-top: 1px solid rgba(219, 219, 216, 1);
      margin-top: ($spacing-unit * 2);
      order: 4;
      padding: ($spacing-unit * 2) 0;
      width: 50%;

      @media print {
        height: 40px;
      }

      .price-light {
        text-decoration: line-through;
      }

      @media #{$ipad-landscape} {
        border: 0;
        margin: 0;
        order: 5;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 15%;
      }

      &--second {

        @media #{$ipad-landscape} {
          padding-right: ($spacing-unit * 3);
        }

      }

      span {
        @include font-size(17px);
        @include line-height(14px);

        @media #{$ipad-landscape} {
          @include font-size(12px);
        }

        @media #{$desktop} {
          @include font-size(15px);
        }

      }

      p {
        @include font-size(12px);
        @include line-height(18px);
        display: block;
        font-weight: bold;

        @media #{$ipad-landscape} {
          display: none;
        }

      }

      .price-box {

        &.right {
          text-align: right;
        }

      }

    }

    &__availability {
      order: 5;
      width: 50%;

      @media #{$ipad-landscape} {
        order: 4;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 20%;
      }

      label {
        display: none;
      }

      .mod-shipping-information {

        &.skin-shipping-information-comparelist-new {
          height: auto;
          margin: 0;
          padding: 0;

          @media #{$ipad-landscape} {
            height: 100%;
          }

          .leadTimeFlyout {
            top: -72px;
          }

        }

        .cell-availability {
          height: auto;
          padding: 0;
          width: 100%;

          @media #{$ipad-landscape} {
            height: 100%;
            min-height: 90px;
          }

          @media #{$desktop} {
            min-height: 80px;
          }

          .availability {
            height: 100%;
            padding: 0;
            position: relative;
            top: 14px;
            width: 100%;

            @media #{$ipad-landscape} {
              top: unset;
            }

            .row {
              display: block;
              margin: 0;
              width: 100%;

              b {
                min-width: 15px;
              }

              @media #{$ipad-landscape} {
                @include line-height(16px);
              }

              @media print {
                @include line-height(16px);
              }

            }

            .pickup,
            .further,
            .moreStockAvailable {
              display: none;

              @media #{$ipad-landscape} {
                display: block;
              }

              @media print {
                display: block;
              }

            }

            .instock {
              position: relative;
              text-indent: -15px;

              @media #{$ipad-landscape} {
                text-indent: -34px;
              }

              .inStockText {
                @include font-size(15px);

                @media #{$ipad-landscape} {
                  @include font-size(12px);
                }

              }

              .left {
                width: 100%;
              }

              &:before {
                @include font-size(8px);
                @include line-height(16px);
                background: $colour-dist-green;
                border-radius: 50%;
                color: $colour-white;
                content: '\f00c';
                font-family: $fontAwesome;
                height: 16px;
                left: -3px;
                position: absolute;
                top: -2px;
                text-align: center;
                text-indent: 0;
                width: 16px;

                @media #{$ipad-landscape} {
                  content: none;
                }

              }

              @media #{$ipad-landscape} {
                color: $colour-dist-green;
              }

            }

            .leadTimeHeader {
              width: 100%;

              @media print {
                display: none;
              }

              a {
                @include font-size(11px);
                bottom: ($spacing-unit - 22);
                margin-left: ($spacing-unit - 8);
                width: 100%;

                @media #{$ipad-landscape} {
                  @include font-size(12px);
                  @include line-height(16px);
                  bottom: ($spacing-unit - 33);
                  margin-left: 0;
                }

                @media #{$desktop} {
                  bottom: ($spacing-unit - 16);
                }

              }

            }

          }

        }

      }

    }

    &__calibration {
      order: 4;
      width: 100%;

      @media #{$ipad-landscape} {
        border-top: 1px solid $cart-list-item-cart-border-grey;
        order: 5;
        padding: ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit * 2) 11.8%;
      }

      &.calibration {

        .calibration-service {

          h4 {
            @include font-size(14px);
          }

          a {
            color: $link-blue;

            &:hover,
            &:focus {
              color: $link-dark-blue;
            }
          }

        }

        .calibration-selection {
          padding: ($spacing-unit) 0 0;
        }

      }

    }

    &__numeric {
      order: 6;
      width: 50%;

      @media #{$ipad-landscape} {
        background: #f8f8f8;
        border-top: 1px solid $cart-list-item-cart-border-grey;
        padding: ($spacing-unit * 2) ($spacing-unit * 3);
        width: 100%;
      }

      @media print {
        display: none;
      }

      .numeric {
        margin: 0;
        padding-bottom: ($spacing-unit * 10);
        width: 100%;

        @media #{$ipad-landscape} {
          float: right;
          padding-bottom: 0;
          width: auto;
        }

        .numeric-popover {
          left: unset;
          right: -15px;
          top: -57px;
          width: 240px;

          .arrow {
            left: unset;
            right: 80px;
          }

        }

        .btn-wrapper {
          border: 1px solid $cart-list-item-cart-border-grey;
          border-radius: 2px;
          float: right;
          max-width: 153px;
          width: 100%;

          &__btn,
          &__input {
            display: inline-block;
            float: left;
            left: auto;
            margin: 0;
            position: relative;
            right: auto;
            top: auto;
            width: 33.33%;

            @media #{$ipad-landscape} {
              width: 25%;
            }

            @media print {
              width: 25%;
            }

          }

          &__btn {
            @include line-height(49px);
            background: $cart-list-item-cart-bg-grey;
            height: auto;
            text-align: center;

            @media #{$ipad-landscape} {
              @include line-height(34px);
            }

            @media print {
              @include line-height(34px);
            }

          }

          &__input {
            border-bottom: 0;
            border-top: 0;
            height: 49px;
            padding: 0;

            &:focus {
              background: transparent;
              border-width: 1px;
            }

            @media #{$ipad-landscape} {
              height: 34px;
              width: 50%;
            }

            @media print {
              height: 34px;
              width: 50%;
            }

          }

        }

      }

      .toolbar {
        border-top: 1px solid $cart-list-item-cart-border-grey;
        bottom: 0;
        left: 0;
        padding: ($spacing-unit * 3) ($spacing-unit * 2);
        position: absolute;
        width: 100%;

        @media #{$ipad-landscape} {
          border: 0;
          float: left;
          padding: 0;
          position: relative;
          width: auto;
        }

        @media print {
          border: 0;
          float: left;
          padding: 0;
          position: relative;
          width: auto;
        }

        .btn-numeric-remove {
          @include font-size(15px);
          @include line-height(24px);
          color: $colour-dist-red;
          height: auto;
        }

        &__add-reference {
          @include font-size(15px);
          @include line-height(24px);
          color: $link-blue;
          cursor: pointer;
          float: right;

          &:hover,
          &:focus {
            color: $link-dark-blue;
            text-decoration: underline;
          }

          @media #{$ipad-landscape} {
            display: none;
          }

        }

        &__edit {
          display: none;

          &--active {
            display: inline-block;
            float: right;
          }

          &__reference,
          &__text {
            @include font-size(15px);
            @include line-height(24px);
          }

          &__text {
            font-weight: bold;
            padding-left: ($spacing-unit);
            color: $link-blue;

            &:hover,
            &:focus {
              color: $link-dark-blue;
              text-decoration: underline;
            }
          }

        }

        &__input {
          display: none;

          @media #{$ipad-landscape} {
            display: inline-block;
            margin-left: ($spacing-unit * 6);
          }

          @media print {
            display: inline-block;
            margin-left: ($spacing-unit * 6);
          }

          &--active {
            background: $cart-list-item-cart-bg-toolbar;
            display: flex;
            justify-content: space-between;
            left: 0;
            padding: ($spacing-unit + 2) ($spacing-unit * 2);
            position: absolute;
            top: 0;
            width: 100%;
          }

          .ipt-reference {
            border-radius: 2px;
            flex-grow: 1;
            height: 40px;
            padding: 0 0 0 ($spacing-unit * 2);
            margin-right: ($spacing-unit * 3);
            width: 100%;

            @include placeholder {
              @include font-size(12px);
            }

            @media #{$ipad-landscape} {
              height: 34px;
            }

            &:focus {
              background: transparent;
              border-width: 1px;
            }

          }

          &__btn {
            @include font-size(15px);
            @include line-height(40px);
            color: $link-blue;
            cursor: pointer;
            display: block;
            flex-shrink: 0;
            min-width: 38px;

            &:hover,
            &:focus {
              color: $link-dark-blue;
            }

            @media #{$ipad-landscape} {
              display: none;
            }

            @media print {
              display: none;
            }

          }

        }

      }

    }

  }

}

.isie7,
.isie8 {

  .skin-cart-list-item-cart {

    &__holder {

      &__numeric {

        .numeric {

          &.numeric-warning {

            .ipt {
              border-width: 1px;
            }

          }

          .numeric-popover {
            left: 5px;
          }

        }

      }

    }

  }

}

.isie7,
.isie8,
.ie9 {

  .skin-cart-list-item-cart {
    margin-bottom: ($spacing-unit * 3);

    &__holder {
      float: left;
      padding: 0;
      width: 100%;

      &__image {
        display: inline-block;
        float: left;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 10%;
      }

      &__content {
        display: inline-block;
        float: left;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 54%;

        .desktop-title {
          display: block;
        }

        .cell-info-table {

          .cell-info-cell {
            width: 100%;
          }

        }

      }

      &__title {
        display: none;
      }

      &__price {
        border: 0;
        display: inline-block;
        float: left;
        margin: 0;
        width: 50%;

        .price-box {
          padding: ($spacing-unit) ($spacing-unit * 2);
        }

      }

      &__availability {
        display: inline-block;
        float: left;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 3);
        width: 30%;

        .mod-shipping-information {

          &.skin-shipping-information-comparelist-new {
            height: 100%;
          }

          .cell-availability {
            height: 100%;
            min-height: 80px;

            .pickup,
            .further,
            .moreStockAvailable {
              display: block;
            }

            .availability {

              .row {
                padding-left: 0;

                .left {
                  width: 200px;
                }

              }

            }

            .instock {
              color: $colour-dist-green;
              position: relative;
              text-indent: -34px;

              .inStockText {
                @include font-size(12px);
              }

              .left {
                width: 100%;
              }

              &:before {
                content: none;
              }


            }

            .leadTimeHeader {
              width: 100%;

              @media print {
                display: none;
              }

              a {
                @include font-size(12px);
                @include line-height(16px);
                bottom: ($spacing-unit - 10);
                margin-left: 0;
              }

            }

          }

        }

      }

      &__numeric {
        background: #f8f8f8;
        border-bottom: 1px solid $cart-list-item-cart-border-grey;
        border-top: 1px solid $cart-list-item-cart-border-grey;
        float: left;
        padding: ($spacing-unit * 2) 0;
        width: 100%;

        .numeric {
          float: right;
          padding-bottom: 0;
          padding-right: ($spacing-unit * 2);
          width: 25%;
        }

        .btn-wrapper {

          &__btn,
          &__input {
            display: inline-block;
            float: left;
            width: 25%;
          }

          &__btn {
            @include line-height(34px);
          }

          &__input {
            @include line-height(40px);
            height: 39px;
            width: 49%;
          }

        }

        .toolbar {
          border: 0;
          float: left;
          padding: 0 0 0 ($spacing-unit * 2);
          position: relative;
          width: 70%;

          .btn-numeric-remove {
            @include line-height(32px);
            float: left;
          }

          &__add-reference {
            display: none;
          }

          &__input {
            display: inline-block;
            float: left;
            margin-left: ($spacing-unit * 6);
            width: 203px;

            .ipt-reference {
              @include line-height(34px);
              height: 34px;
              margin: 0;
            }

            &__btn {
              display: none;
            }

          }

        }

      }

    }

  }

}

.isie8,
.ie9 {

  .skin-cart-list-item-cart {

    &__holder {

      &__availability {

        .mod-shipping-information {

          .cell-availability {

            .availability {

              .row {
                padding-left: 34px;
              }

            }

            .leadTimeHeader {

              a {
                bottom: ($spacing-unit - 15);
              }

            }

          }

        }

      }

    }

  }

}