.skin-checkout-payment-options-list-myaccount {
  background-color: $colour-white;
  box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) rgba(0, 0, 0, .15);
  margin-bottom: $spacing-unit * 8;
  padding: $spacing-unit * 6;

  .title {
    margin-bottom: $spacing-unit * 5;

    h2 {
      @include font-size(24px);
      @include line-height(28px);
      border-bottom: 1px solid $colour-mid-grey;
      color: $colour-dark-grey;
      margin-bottom: $spacing-unit * 2;
      padding-bottom: $spacing-unit * 2;
    }

  }

  .list {

    .requestedActive {

      &.disabled {
        pointer-events: none;
      }

    }

    &__item {
      @include font-size(18px);
      @include line-height(22px);
      border: solid 2px lighten($colour-mid-black, 30%);
      border-radius: $spacing-unit;
      color: $colour-dist-mid-grey;
      margin-bottom: $spacing-unit * 5;

      &:hover,
      &:active {
        background: mix($colour-dist-green, $colour-white, 10%);
        border: solid 2px $colour-dist-green;
        color: $colour-black;
        transition: .5s ease;
      }

      input {
        display: none;
      }

      .tick {
        @include font-size(22px);
        color: $colour-dist-green;
        display: none;
        float: right;
        padding: $spacing-unit * 2;
      }

      label {
        display: flex;
        flex-direction: column;
        padding: ($spacing-unit * 4) ($spacing-unit * 3);

        &::before {
          display: none;
        }

        .small {
          @include font-size(18px);
          @include line-height(22px);
          margin-bottom: $spacing-unit;
        }

        .big {
          @include font-size(22px);
          @include line-height(22px);
          font-weight: 800;

          i {
            @include font-size(22px);
            margin-left: $spacing-unit * 2;
            vertical-align: baseline;
          }

        }

      }

      &--active {
        background: $colour-white;
        border: solid 2px $colour-dist-green;
        color: $colour-black;
        transition: .2s ease;

        &:hover {
          background: $colour-white;
        }

        .tick {
          display: block;
        }

      }

    }

    &__saved {
      background: transparent;
      border: none;
      border-radius: 0;

      &:hover {
        background: transparent;
        border: none;
        color: $colour-black;
      }

      .list__item__option {
        background: transparent;
        border: none;
        border-radius: 0;
        border-top: 1px solid $colour-light-grey;
        display: flex;
        font-family: $font-stack-alt;
        justify-content: space-between;

        &:hover {
          background: transparent;
          border: none;
          border-top: 1px solid $colour-light-grey;
          color: $colour-black;
        }

        &:last-of-type {
          border-bottom: 1px solid $colour-light-grey;
        }

        &.list__item--active {
          color: $colour-black;
        }

        &--expired {

          .list__item__option__content {
            margin-left: $spacing-unit * 5;
          }

        }

        input[type=radio] {
          display: block;
          clip: auto;
          height: auto;
          margin: auto 0;
          position: relative;
          width: auto;
        }

        &__content {
          width: 70%;

          &__title {
            @include font-size(14px);
            display: block;
            padding: ($spacing-unit * 4) 0 0;
            text-transform: capitalize;
          }

          dl {
            @include font-size(12px);
            padding-bottom: $spacing-unit * 2;
          }

        }

        &__remove {
          @include font-size(12px);
          margin: auto 0;
          min-width: 20%;

          a {
            color: $colour-dist-mid-grey;
            display: block;

            &:last-of-type {
              color: $colour-dist-grey;
              text-decoration: underline;
            }

          }

        }

        &--new {

          label {
            justify-content: space-around;
            padding: ($spacing-unit * 4) 0 ($spacing-unit * 3);
            width: 90%;

            &::before {
              display: none;
            }

          }

        }

      }

    }

  }

}
