@import 'global-utilities';
.divider-line {
  border: none;
  margin: 0;
}

.thin {
  height: 1px;
}

.thick {
  height: 2px;
}

.light {
  background-color: $ux-light-grey;
}

.dark {
  background-color: $ux-grey;
}

.margin {
  margin: 20px 0;
}
