@import 'global-utilities';

.home-container {
  &__row {
    background: transparent;
    border-radius: ($spacing-unit - 1);
    margin: ($spacing-unit * 2) 0 0 0;
    min-height: 515px;

    @media #{$ipad} {
      padding: ($spacing-unit * 4) 0;
      margin: 0;
    }

    @media #{$desktop} {
      background: $colour-white;
      box-shadow: 0 0 ($spacing-unit * 2) $border-dist-grey;
      margin-bottom: ($spacing-unit * 6);
    }

    .banner-container {
      display: block;
      padding: 0;

      @media #{$desktop} {
        display: flex;
        padding: 0 ($spacing-unit * 2);
      }

      .other-banner {
        margin-bottom: ($spacing-unit * 2);

        &:last-child {
          margin-bottom: 0;
        }
      }

      .child-banner-wrap {
        margin-left: 0;
        max-width: 100%;
        width: 100%;

        @media #{$desktop} {
          margin-left: ($spacing-unit * 2);
          max-width: 43.2%;
        }
      }

      .banner-main {
        margin-bottom: ($spacing-unit * 2);
        max-width: 100%;
        width: 100%;
        min-height: 368px;

        @media #{$desktop} {
          margin-bottom: 0;
          max-width: 57%;
        }

        img {
          border-radius: 7px;

          @media #{$desktop} {
            border-radius: 0;
          }
        }
      }

      .banner {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  &__banner {
    order: 2;
    padding: 0;

    @media #{$desktop} {
      order: 1;
      padding: 0 ($spacing-unit * 2);
    }

    .banner-normal {
      background-color: rgba(0, 0, 0, 0.015);
      border: ($spacing-unit - 4) solid rgba(0, 0, 0, 0.015);
      border-radius: ($spacing-unit - 3);
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 2%);
      margin-bottom: 0;
      overflow: hidden;
      position: relative;

      &__link {
        img {
          border-radius: ($spacing-unit + 2);
          height: auto;
          width: 100%;

          @media #{$desktop} {
            border-radius: 0;
          }
        }
      }
    }
  }

  &__rnl {
    order: 1;
    padding: 0;

    @media #{$desktop} {
      order: 2;
      padding-right: ($spacing-unit * 4);
    }
  }
}
