@import 'global-utilities';

.checkout-calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: $spacing-unit * 4;
  border-top: 2px solid $ux-light-grey;
  margin-top: $spacing-unit * 2;

  .calendar {
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      @include tabletPlus {
        width: 95%;
      }

      &--month {
        @include font-size(14px);
        @include line-height(24px);
        font-weight: $font-weight-semiBold;

        @include tabletPlus {
          margin-left: $spacing-unit * 12;
        }
      }

      &--selector {
        .btn {
          @include font-size(18px);
          @include line-height(18px);
          margin-right: $spacing-unit * 2;
          color: $ux-input-border-color-light;
          font-weight: 900;

          .ng-fa-icon {
            margin-right: 0 !important;
          }

          &.disabled {
            background: unset;
          }
        }
      }
    }

    &__body {
      @include tabletPlus {
        margin: 0 ($spacing-unit * 4);
      }

      &--day-names {
        @include font-size(14px);
        @include line-height(16px);
        font-weight: $font-weight-medium;
        color: #6a6d72;
        display: flex;
        align-items: center;
        text-align: center;

        @include tabletPlus {
          margin-left: $spacing-unit * 4;
          margin-right: $spacing-unit * 5;
        }

        .holder {
          @include tabletPlus {
            padding: ($spacing-unit * 2) ($spacing-unit * 3) ($spacing-unit * 2) $spacing-unit;
          }
        }
      }

      .holder {
        width: 100%;
        padding: ($spacing-unit * 2) 0;
        margin-right: auto;
        margin-left: auto;

        @include tabletPlus {
          padding-right: $spacing-unit * 2;
          padding-left: $spacing-unit * 2;
        }

        .row {
          .col {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-basis: 14%;
            padding: 0;
          }
        }
      }

      &__days {
        @include tabletPlus {
          margin-left: $spacing-unit * 4;
          margin-right: $spacing-unit * 5;
        }

        .btn {
          @include font-size(11px);
          @include line-height(16px);
          background: $ux-input-default-bg;
          border-radius: 30px;
          width: 35px;
          height: 35px;
          padding: 0;
          margin-bottom: $spacing-unit * 2;
          text-align: center;
          color: $ux-light-grey;
          opacity: 1;
          font-weight: $font-weight-semiBold;

          @include mobilePlus {
            @include font-size(14px);
            width: 40px;
            height: 40px;
            margin-bottom: $spacing-unit * 4;
          }

          &.past {
            text-decoration: line-through;
            cursor: not-allowed;
          }

          &.today {
            background: $colour-white;
            border: 2px solid $colour-black;
            color: $colour-black;
            cursor: not-allowed;
          }

          &.future {
            background: $colour-white;
            border: 2px solid $ux-light-grey;
            color: $colour-black;

            &:hover {
              border-color: $ux-input-border-color;
            }
          }

          &.available {
            background: $colour-dark-grey;
            color: $colour-white;
          }
        }
      }

      &__info {
        @include font-size(12px);
      }
    }
  }
}
