@import 'global-utilities';

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-unit * 4;

  &__left,
  &__right {
    display: flex;
    align-items: center;

    > * + * {
      margin-left: $spacing-unit * 2;
    }
  }

  &__right {
    justify-content: flex-end;
  }
}
