.skin-numeric-stepper-productlist-shopping {
  display: inline-block;
  float: left;
  margin-top: ($spacing-unit * 2);
  width: auto;

  @media #{$ipad-landscape} {
    float: right;
    margin-top: 0;
  }

  .cell-numeric-tabular {

    .numeric {
      border: 1px solid $numeric-technical-border;
      margin: 0;
      max-width: 112px;
      width: 100%;

      .numeric-popover {

        &.popover {
          bottom: 50px;
          left: -13px;
        }

      }

      .popover {

        &.top {

          .arrow {
            bottom: -10px;
            left: 30%;
          }

        }

      }

      .ipt {
        @include font-size(14px);
        border-bottom: 0;
        border-top: 0;
        color: $numeric-technical-ipt-text;
        display: inline-block;
        float: left;
        font-weight: bold;
        height: 30px;
        margin: 0;
        outline: none;
        width: 50px;
      }

      .numeric-btn {
        @include font-size(13px);
        display: inline-block;
        float: left;
        height: 30px;
        outline: none;
        position: relative;
        width: 30px;

        &.numeric-btn-down {
          border: 0;
          color: $numeric-technical-font-grey;
        }

      }

    }

  }

}