:host {
  position: relative;
  display: block;

  &.isDisabled:hover {
    .disabled-add-to-cart-tooltip {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  .disabled-add-to-cart-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    min-width: 130px;
    width: 100%;
    margin-bottom: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: normal;
  }
}

.progress-spinner-icon {
  position: absolute;
  animation: spin 2s linear infinite;
}

.added-label {
  align-items: center;
  display: flex;
  gap: 8px;
  position: absolute;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
