.skin-account-list-quotation-history {
	.action-box {
		border-top: none;
		.title {
		}
		.mod-account-order {
			margin-bottom: -45px;
		}
	}

	.data-list {
		// 4 cols
		.entry {
			width: 22.5%;
		}

		.entry {

			&.e3 {
				width: 45%;
			}

		}
		
		.status-02 {
			color: @c-green;
		}
		.status-04 {
			color: @c-red;
		}
		.status-20 { // Available for re-ordering
			color: @c-green;
		}

		.action .more {
			margin-top: 0;
		}

		.no-quotations {
			padding-top: 10px;
			padding-bottom: 10px;
			display: inline-block;
		}

	}

	.ajax-action-overlay {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 1200;

		.background-overlay {
			background: #AA1936F;
			opacity: 0.5;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			.lt-ie9 & {
				filter: alpha(opacity=50);        // IE6, IE7
				-ms-filter: "alpha(opacity=50)"; // IE8
			}
		}
		.loading-cart {
			background-color: @c-white;
			padding: 20px;
			min-width: 200px;
			text-align: center;
			position: absolute;
			top: 40%;
			left: 50%;
			margin-left: -100px;
			border-radius: 32px;
			font-size: 20px;
			i {
				background-image: url("@{path-imgs}/throbber_small_grey_white_matte.gif");
				background-position:0 0;
				width:24px;
				height:24px;
				margin-right: @spc-h;
				margin-top: -3px;
			}
		}
	}

	@media print {

		.action, .show-more-link {
			.hidden();
		}
	}
}
