.skin-account-list-invoice-history {
	.action-box {
		border-top: none;
		.title {
		}
		.mod-account-order {
			margin-bottom: -45px;
		}
	}

	.data-list {
		// 4 cols
		.entry {
			width: 22.5%;
		}

		.invoice-manager {
			float: left;
			width: 100%;

			dl {
				float: left;
				width: 100%;

				dt {
					float: left;
					font-size: 14px;
					font-weight: bold;
					padding-bottom: 2px;
					width: 100%;
				}

				dd {
					float: left;
					font-size: 14px;
					line-height: 15px;
					margin: 0 0 15px;
					width: 100%;
				}

			}

			h2 {
				color: @c-black;
				float: left;
				font-size: 14px;
				font-weight: bold;
				margin-top: 15px;
				width: 100%;
			}

			&__content {
				float: left;
				width: 70%;
			}

			&__item {
				display: inline-block;
				float: left;
				text-align: left;
				width: 27%;

				&:first-of-type {
					padding-right: 10px;
					width: 33%;
				}

				&:nth-of-type(2){
					padding-right: 10px;
				}

				&:last-of-type {
					width: 40%;

					.holder {
						float: left;
						width: 100%;

						dl {
							margin: 0;

							dt,
							dd {
								display: inline-block;
								font-weight: normal;
								line-height: 20px;
								margin: 0;
								min-height: 22px;
								width: auto;
							}

							dt {
								width: 67px;
							}

							dd {
								float: right;
								min-width: 108px;
							}

							.currency {
								float: right;
								padding-left: 5px;
							}

							&:last-of-type {

								dt,
								dd {
									font-weight: 600;
								}

							}

						}

					}

				}


			}

			&__actions {
				float: left;
				margin: 15px 0;
				padding-left: 30px;
				width: 30%;

				a {
					color: #de1417;
					cursor: pointer;
					float: left;
					font-size: 14px;
					line-height: 26px;
					margin-bottom: 2px;
					outline: none;
					width: 100%;

					i {
						background-image: url(/_ui/all/media/sprites_00a7b3d765.png);
						background-repeat: no-repeat;
						-webkit-background-size: 792px 642px;
						-moz-background-size: 792px 642px;
						background-size: 792px 642px;
						background-position: -563px -273px;
						display: inline-block;
						float: left;
						width: 30px;
						height: 27px;
						margin-right: 5px;
					}

					span {
						display: inline-block;
						float: left;
						width: 127px;
					}

					&:hover {

						i {
							background-image: url(/_ui/all/media/sprites_00a7b3d765.png);
					    background-repeat: no-repeat;
					    -webkit-background-size: 792px 642px;
					    -moz-background-size: 792px 642px;
					    background-size: 792px 642px;
					    background-position: -591px -273px;
					    width: 30px;
					    height: 27px;
						}

					}

				}

			}

		}

		.no-invoices {
			padding-top: 10px;
			padding-bottom: 10px;
			display: inline-block;
		}

		// Download Links
		.download a {
			font-weight: bold;
			display: inline-block;
			clear: both;
			i {
				.s-arrow-right-small-blue();
			}
		}
	}

	@media print {

		.action, .show-more-link {
			.hidden();
		}
	}
}
