.skin-account-list-approval-request {
	.action-box {
		border-top: none;
	}
	
	.action-box .mod-account-order {
		margin-bottom: -45px;
	}

	.no-approval-requests {
		padding-top: 10px;
		padding-bottom: 10px;
		display: inline-block;
	}

	@media print {
		.action {
			.hidden();
		}
	}
}
