.skin-account-list-order-history {
	.action-box {
		border-top: none;
		
		.title {
		
		}
		
		.mod-account-order {
			margin-bottom: -45px;
		}
	}

	.data-list {
		// 4 cols
		.entry {
			width: 22.5%;
		}

		.value {
			display: block;
		}
		
		.no-orders {
			padding-top: 10px;
			padding-bottom: 10px;
			display: inline-block;
		}

		// Download Links
		.download a {
			font-weight: bold;
			display: inline-block;
			clear: both;
			i {
				.s-arrow-right-small-blue();
			}
		}
	}

	@media print {
		.action, .show-more-link {
			.hidden();
		}
	}
}
