@import 'global-utilities';

.featured-brands {
  @include mobilePlusDown {
    display: none;
  }

  @include mobileLandscape {
    display: none;
  }

  .banner-normal {
    &--NORMAL {
      width: 185px;
      height: 57px;
    }
  }
}

.welcome-mat {
  @include mobilePlus {
    min-height: 87px;
  }

  .app-dist-component-group {
    @include tabletDown {
      margin-top: 0;
    }
  }
}

.app-dist-component-group {
  display: block;
  margin-top: ($spacing-unit * 4);

  @media #{$ipad-landscape} {
    margin-top: 0;
  }

  .parallax {
    &__bgr-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &--wrapper {
        padding: ($spacing-unit * 12) 0 ($spacing-unit * 8) 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.top-brands {
      display: none;

      @media #{$ipad} {
        display: block;
      }
    }

    &.we-make-it-happen {
      display: none;
    }
  }

  .heading {
    display: flex;
    justify-content: flex-start;
    @include font-size(20px);
    @include line-height(40px);
    color: $colour-dark-grey;
    font-weight: $font-weight-medium;
    margin-bottom: ($spacing-unit * 4);

    @media #{$ipad} {
      @include typography-display-xl();
      margin-bottom: ($spacing-unit * 5);
      margin-top: ($spacing-unit * 5);
    }

    &__link {
      @include font-size(14px);
      @include line-height(24px);
      @include transition(all 0.2s ease);
      border-bottom: solid ($spacing-unit - 3) transparent;
      color: $colour-black;
      font-weight: $font-weight-medium;
      letter-spacing: -0.28px;
      margin-left: ($spacing-unit * 3);
      padding-top: ($spacing-unit - 3);
      vertical-align: bottom;
    }

    a {
      color: $link-blue;
      @include font-size(17px);
      font-weight: $font-weight-medium;
    }
  }

  .robotics-hub__heading .heading {
    justify-content: space-between;
  }

  .bottom-link-container {
    text-align: left;

    @media #{$ipad} {
      text-align: center;
    }

    a {
      @include font-size(12px);
      @include line-height(24px);
      @include transition(all 0.2s ease);
      color: $link-blue;
      border-bottom: ($spacing-unit - 3) solid transparent;
      cursor: pointer;
      display: inline-block;
      font-weight: $font-weight-medium;
      padding-top: ($spacing-unit - 3);
      text-align: center;

      @media #{$ipad} {
        @include font-size(15px);
      }

      &:hover {
        text-decoration: underline;
      }

      &.current-by-distrelec {
        color: $colour-white;
      }
    }
  }

  .top-brands-container {
    padding: ($spacing-unit * 2);
    min-height: auto;
    display: flex;

    @media #{$ipad-landscape} {
      padding: ($spacing-unit * 2) ($spacing-unit * 2 + 3);
    }

    &__row {
      background: 0 0;
      border-radius: 0;
      box-shadow: 0 0 0;
      box-sizing: border-box;
      padding: 0;

      @include desktop {
        min-width: 1255px;
      }

      @media #{$ipad-landscape} {
        background: $colour-white;
        border-radius: ($spacing-unit - 1);
        box-shadow: 0 0 ($spacing-unit * 2) $border-dist-grey;
        margin: 0;
        padding: ($spacing-unit * 4) ($spacing-unit * 4) 0;
      }
    }
  }

  .offers-and-promotions-container__col {
    @include mobileOnly {
      margin-bottom: $spacing-unit * 4;
    }
  }

  .dist-component__col {
    display: flex;
    width: 100%;

    > * {
      width: 100%;
    }

    .banner-normal--ARTICLE {
      border: 1px solid $colour-light-grey;
      box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) 0 rgba(0, 0, 0, 0.15);
    }

    // Reset child container padding when nested inside component group
    .container {
      padding-left: 0;
      padding-right: 0;

      @include mobileOnly {
        padding: 0 ($spacing-unit * 2 + 2) 0 ($spacing-unit * 2 + 2);
      }
    }
    &.sbc-projects-components {
      margin-bottom: 0 !important;
    }

    .dow-titlerow {
      img {
        width: 100%;
      }
    }
  }

  .dist-component-heading {
    &__row {
      margin: 0;
    }
  }
}
