@import 'global-utilities';

.register {
  background-color: $colour-pale-grey;

  .container {
    @include mobilePlusOnly {
      max-width: $container-width-sm + $grid-gutter-width;
    }
  }

  &__title {
    @include font-size(24px);
    @include line-height(24px);
    font-weight: $font-weight-bold;
    padding: ($spacing-unit * 4) 0 ($spacing-unit * 2) 0;
  }

  &__submit {
    background-color: $colour-green;
    width: auto;
    color: $colour-white;
    @include font-size(16px);
    line-height: 27px;
    border-radius: 3%;
    font-weight: $font-weight-bold;

    &:hover {
      color: $colour-white;

      &:not([disabled]) {
        background-color: $colour-dark-green;
        color: $colour-white;
        border-radius: 3%;
      }
    }
  }

  &__steps {
    display: inherit;
    position: relative;

    &__items {
      display: flex;
      flex-direction: column;
      padding: $spacing-unit * 2;
      position: fixed;

      &--item {
        display: flex;
        margin-bottom: $spacing-unit * 2 !important;

        .number {
          background-color: $colour-white;
          font-weight: $font-weight-semiBold;
          color: #616567;
          border: 1px solid $colour-light-grey;
          border-radius: 50%;
          box-shadow: 0 3px 4px rgb(0 0 0 / 15%);
          height: 40px;
          padding: 8px 15px;
          width: 40px;

          &--active {
            background-color: $colour-green;
            box-shadow: none;
            color: $colour-white;
          }
        }

        .text {
          @include font-size(18px);
          @include line-height(20px);
          font-weight: $font-weight-medium;
          padding: $spacing-unit * 2 + 1;
        }
      }
    }
  }

  &__form,
  &__select {
    background-color: $colour-white;
    box-shadow: 0 3px 4px rgb(0 0 0 / 15%);
    padding-bottom: $spacing-unit * 6;
    width: 100%;

    @include mobileOnly {
      margin-right: -$grid-gutter-half;
      margin-left: -$grid-gutter-half;
      width: auto;
    }

    &--title,
    &--secondary-title {
      @include font-size(24px);
      @include line-height(32px);
      font-weight: $font-weight-medium;
      padding: ($spacing-unit * 4) ($spacing-unit * 4) 0;
      margin: ($spacing-unit * 5) 0;
    }

    &--secondary-title {
      font-weight: $font-weight-light !important;
    }

    &__holder {
      margin: ($spacing-unit * 3) ($spacing-unit * 4) 0;
      display: flex;
      flex-direction: column;
      position: relative;

      @include tabletPlus {
        flex-direction: row;
      }

      &.is-company-name {
        margin-top: 0;
      }

      &.is-country-code-other {
        margin-bottom: $spacing-unit * 4;
      }

      &-btn {
        .btn {
          font-weight: $font-weight-medium;
        }
      }

      &.names {
        .first-name {
          margin-bottom: $spacing-unit * 4;
        }
      }

      &.is-title-error {
        margin-top: -$spacing-unit;
      }

      &__have-account {
        margin: 0 ($spacing-unit * 4) ($spacing-unit * 2) ($spacing-unit * 4) !important;
        display: flex;
        position: relative;

        &--custNo {
          display: flex;
          padding: ($spacing-unit * 4) 0;
          flex-direction: column;
          width: 70%;
        }
      }

      &-btn {
        border: 1px solid #616567;
        margin: ($spacing-unit * 2) ($spacing-unit * 4) 0 0;
        width: 49%;
        text-align: center;

        @media #{$ipad-landscape} {
          width: 13%;
        }

        &.is-checked {
          border: 2px solid black;
        }

        .btn {
          @include font-size(14px);
          @include line-height(22px);
          padding: ($spacing-unit * 2) 0;
          width: 100%;
        }
      }

      &--title {
        @include font-size(14px);
        @include line-height(16px);
        font-weight: $font-weight-bold;
      }

      &--title-customer-number {
        @include font-size(14px);
        @include line-height(16px);
        font-weight: $font-weight-bold;
      }

      &--terms-title {
        margin-left: 31px;
      }

      &--half {
        flex: 0.5;
      }

      @include tabletPlus {
        &--half:first-of-type {
          margin-right: $spacing-unit * 4;
        }
      }

      &--full {
        flex: 1;
      }

      &--half,
      &--full {
        display: flex;
        flex-direction: column;
      }

      &--input {
        @include font-size(14px);
        border: 1px solid $colour-light-grey;
        border-radius: 2px;
        height: 42px;
        margin: $spacing-unit 0 $spacing-unit;
        outline: none;
        padding: 0 10px;
        width: 100%;
        background-color: white;
      }

      input[type='password'] {
        font-family: Verdana;
        font-size: 2rem !important;

        &.is-invalid {
          border: 1.5px solid $colour-red;
          padding: 0 10px;
          color: $colour-red;
        }

        &::-ms-reveal {
          display: none;
        }
      }

      p {
        @include font-size(14px);
        @include line-height(21px);
      }

      a {
        color: $colour-black;
        text-decoration: underline;
      }

      &--invoice {
        &-label {
          @include font-size(14px);
          color: $link-blue !important;
          padding-bottom: $spacing-unit * 2;
          text-decoration: underline;
        }
      }
    }

    &__company-exist {
      margin: ($spacing-unit * 3) ($spacing-unit * 8) 0 0;

      .register__form__holder {
        &__form {
          &__holder {
            margin: ($spacing-unit * 3) 0;
          }

          &__submit {
            margin-left: $spacing-unit * 4;
          }
        }

        &--title {
          margin-left: 31px;
        }
      }

      .message-success {
        margin-left: $spacing-unit * 4;
        width: 100%;
      }
    }
  }

  &__select {
    margin-bottom: $spacing-unit;

    @include tabletDown {
      padding: 0 ($spacing-unit * 4) ($spacing-unit * 4);
    }

    &--options {
      display: flex;
      flex-direction: column;

      @media #{$ipad-landscape} {
        flex-direction: row;
      }

      &.reg-title {
        flex-direction: row;
        flex-wrap: wrap;

        button {
          margin-top: 0;
          padding-bottom: 0;
        }
      }

      &__radio {
        @include font-size(14px);
        @include line-height(24px);
        font-weight: $font-weight-medium;
        border: 1px solid $colour-light-grey;
        border-radius: 2px;
        color: #4d4d4d;
        display: block;
        margin-left: ($spacing-unit * 2);
        padding: ($spacing-unit * 3) ($spacing-unit * 6) ($spacing-unit * 2) ($spacing-unit * 10);
        position: relative;

        @include tabletDown {
          margin: 0 0 ($spacing-unit * 3) 0;
        }

        @media #{$ipad-landscape} {
          width: 90%;
          margin: 0 ($spacing-unit * 4);
        }

        &.b2c {
          @media #{$ipad-landscape} {
            margin-left: 0;
          }
        }

        &.is-checked {
          border: 2px solid $colour-dark-grey;
        }

        > * {
          pointer-events: none; // To make sure that cursor pointer is shown all the time while hovering
        }

        input[type='radio'] {
          & + label {
            &:before {
              top: 17px;
              left: 15px;
            }
          }
        }
      }
    }

    &--title {
      @include tabletDown {
        padding-left: 0;
      }
    }
  }

  &__form {
    margin-bottom: $spacing-unit * 6;
  }

  input[type='radio'] {
    & + label {
      float: left;

      &:before {
        position: absolute;
        height: 21px;
        width: 21px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid #81858a;
        content: ' ';
        background-image: none !important;
      }
    }

    &:checked {
      & + label {
        float: left;

        &:before {
          position: absolute;
          height: 21px;
          width: 21px;
          background-color: white;
          border-radius: 50%;
          border: 2px solid $colour-dark-grey;
          content: ' ';
          background-image: none !important;
        }

        &:after {
          top: 22px;
          padding: ($spacing-unit - 4) ($spacing-unit - 2) ($spacing-unit * 2) ($spacing-unit + 3);
          left: 20px !important;
          height: 10px;
          border-radius: 50%;
          background: $colour-dark-grey;
          content: ' ';
          position: absolute;
        }
      }
    }
  }

  button {
    &.pwd-icon-btn {
      right: 16px;
      top: 14px;
      height: 25px;
      position: absolute;

      .ng-fa-icon {
        top: 0;
        right: 0;
      }

      &.left {
        right: 40px;

        .ng-fa-icon {
          top: 0;
        }
      }
    }
  }

  .ng-fa-icon {
    @include font-size(14px);
    right: 15px;
    top: 16px;
    position: absolute;

    &.left {
      right: 40px;
    }

    &.icon-title {
      top: 5px;
      left: 10px;
      position: relative;
    }

    .fa-xmark {
      color: $colour-red;
    }

    .fa-check {
      color: $colour-green;
    }

    .fa-eye,
    .fa-eye-slash {
      color: $colour-icon-grey;
    }
  }

  small {
    display: block;
    @include font-size(12px);
    font-weight: $font-weight-medium;
    color: #6c757d;

    &.error {
      color: $colour-red;
    }

    &.correct {
      color: $colour-green;
    }
  }

  .is-invalid {
    border-color: $colour-red;
    color: $colour-red;
  }

  .is-correct {
    border-color: $colour-green;
  }

  .text-danger {
    font-weight: $font-weight-medium;
  }

  .error-message {
    margin: $spacing-unit 0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  .global-error {
    border: 1px solid #f7a9a9;
    background-color: #fdf3f3;
    color: $colour-error-text;
    float: left;
    margin: ($spacing-unit * 4) 0;
    width: 100%;

    .inner {
      margin: 0 auto;
      overflow: visible;
      padding: ($spacing-unit * 3) 0;
      width: 100%;

      @media #{$ipad-landscape} {
        width: 960px;
      }

      .center {
        text-align: center;

        .text {
          @include font-size(14px);
          color: #f74747;
          font-weight: $font-weight-bold;
          margin-bottom: 0;
        }
      }
    }
  }

  .container {
    &.go-back__holder {
      padding: 0;

      .go-back {
        @include font-size(14px);
        @include line-height(21px);
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 150px;
        color: $colour-mid-black;

        .ng-fa-icon {
          top: 0;
          right: 0;
          position: relative;
        }
      }
    }
  }
}
