.skin-summary-terms-inter {
  .summary {
    &__terms {
      margin-top: $spacing-unit * 4;

      .ux-checkbox__label {
        padding-left: $spacing-unit * 6;
      }

      .ux-form-group .ux-checkbox__state {
        width: 18px;
        height: 18px;

        .fa-check {
          @include font-size(10px);
        }
      }
    }
  }
}
