.mod-summary-terms {
  .summary {
    &__terms {
      @include font-size(12px);
      margin-top: $spacing-unit * 5;

      p,
      label {
        @include font-size(12px);
        @include line-height(20px);
        font-weight: 500;

        a {
          color: $link-blue;
          text-decoration: underline;

          &:hover,
          &:focus {
            color: $link-dark-blue;
          }
        }
      }
    }

    &__label {
      display: inline-block;
      vertical-align: top;
    }
  }
}
