.mod-bom-mpn-duplicate {
  float: left;
  width: 100%;

  .no-match-holder {
    float: left;
    width: 100%;

    .head {
      border: 0;
      float: left;
      margin-bottom: ($spacing-unit * 4);
      padding: 0;
      width: 100%;

      h2 {
        @include font-size(28px);
        @include line-height(32px);
        color: $colour-bom-no-available-grey;
      }

      p {
        @include font-size(15px);
        @include line-height(24px);
        color: $colour-bom-no-available-red;
        width: 100%;
      }

    }

    .table {
      float: left;
      width: 100%;

      .table-header {
        background: $bg-bom-no-available-header;
        border: 1px solid $border-bom-no-available-header;
        display: none;
        float: left;
        width: 100%;

        @media #{$ipad} {
          display: table;
        }

        &__item {
          @include font-size(13px);
          @include line-height(18px);
          float: left;
          font-weight: bold;
          padding: ($spacing-unit * 2);
          width: 100%;

          @media #{$ipad} {
            @include font-size(13px);
            @include line-height(17px);
            border-right: 1px solid $border-bom-no-available-header;
            display: table-cell;
            padding: ($spacing-unit * 3) ($spacing-unit * 2);
            text-align: center;
            vertical-align: middle;
            width: 16.25%;
          }

          @media #{$ipad-landscape} {
            @include font-size(14px);
          }

          &:first-of-type {

            @media #{$ipad} {
              width: 10%;
            }

          }

          &:nth-of-type(2) {

            @media #{$ipad} {
              width: 25%;
            }

          }

        }

        .manu {

          @media #{$ipad} {
            border: 0;
          }

        }

      }

      .mobile-header {
        background: $bg-bom-no-available-header;
        float: left;
        width: 40%;

        @media #{$ipad} {
          display: none;
        }

        &__item {
          @include font-size(12px);
          @include line-height(23px);
          float: left;
          padding: ($spacing-unit * 2);
          width: 100%;
        }

      }

      .table-body {
        float: left;
        width: 100%;

        .item-holder {
          float: left;
          width: 60%;

          @media #{$ipad} {
            border-bottom: 1px solid $border-bom-no-available-header;
            display: table;
            width: 100%;
          }

        }

        &__item {
          @include font-size(12px);
          @include line-height(23px);
          border-bottom: 1px solid $border-bom-no-available-header;
          float: left;
          min-height: 40px;
          padding: ($spacing-unit * 2);
          width: 100%;

          @media #{$ipad} {
            border: 0;
            display: table-cell;
            min-height: auto;
            padding: ($spacing-unit) ($spacing-unit * 2);
            text-align: center;
            width: 16.25%;
          }

          &:first-of-type {

            @media #{$ipad} {
              width: 10%;
            }

          }

          &:nth-of-type(2) {
            text-align: left;

            @media #{$ipad} {
              width: 25%;
            }

          }

        }

      }

    }

  }

  .bom-mpn-product {
    background-color: $bom-mpn-bg-color;
    border-bottom: 1px solid $colour-light-grey;
    float: left;
    padding: ($spacing-unit*2);
    width: 100%;

    .skin-global-messages-component {
      margin-bottom: $spacing-unit*2;
    }

    .skin-product-bom {
      border: 0;
    }

    &__info {
      margin-bottom: - ($spacing-unit*2);
      float: left;
      width: 100%;

    }

    &__info-box {
      border-radius: $spacing-unit - 3;
      float: left;
      margin-bottom: $spacing-unit*2;
      padding: $spacing-unit ($spacing-unit*2);
    }

    &__title {
      @include font-size(15px);
      margin-top: $spacing-unit*2;
      font-weight: 700;
    }

    &__original-request {
      display: none;
    }

    &__show-alternative {
      height: 30px;
      float: right;
      margin-bottom: $spacing-unit*2;
      width: auto;
    }

    &__alternatives {
      background-color: $colour-white;
      float: left;
      max-height: 325px;
      margin: ($spacing-unit*2) 0;
      overflow: auto;
      width: 100%;

      .erp-sales-status {

        .leadtime-holder {
          display: none;
        }

      }

    }

    &__alternatives-selection {
      display: none;

      &.selected {
        display: block;
      }

    }

    &__view-detail {
      @include font-size(12px);
      float: left;
      height: 30px;
      margin-left: $spacing-unit*2;
    }

    &__item {

      .selected-text {
        display: none;
      }

      &.selected {

        .select-text {
          display: none;
        }

        .selected-text {
          display: block;
        }

      }

    }

    &__information-item {
      display: inline-block;

      .label {
        @include font-size(12px);
        color: $bom-product-info-label;
      }

      .value {
        @include font-size(12px);
        color: $bom-product-info-value;
        margin-right: $spacing-unit*2;
      }


    }

    .modal {
      background-color: $colour-white;
      border: 1px solid $border-dist-grey;
      border-radius: ($spacing-unit - 3);
      cursor: pointer;
      float: left;
      left: 50%;
      margin-left: ($spacing-unit * 3);
      margin-top: ($spacing-unit * 2 + 2);
      transform: translate(-50%,-50%);
      top: 50%;
      width: auto;

      &__close {
        @include font-size(13.5px);
        background: $colour-dist-red;
        border-radius: ($spacing-unit - 3);
        box-sizing: border-box;
        color: $colour-white;
        height: auto;
        padding: ($spacing-unit - 2) ($spacing-unit * 2);
        position: absolute;
        right: 0;
        top: -35px;

        span {
          font-weight: 600;
        }

      }

      &__title {
        @include font-size(24px);
        @include line-height(34px);
        float: left;
        margin-bottom: ($spacing-unit * 3);
        text-align: center;
        width: 100%;
      }

      &__product-brand {
        float: left;
        margin-top: ($spacing-unit * 6);
        width: 100%;

        img {
          display: block;
          float: none;
          margin: 0 auto;
        }

      }

      &__product-image {
        float: left;
        margin-top: ($spacing-unit * 4);
        width: 100%;

        img {
          display: block;
          float: none;
          margin: 0 auto;
        }

      }

      &__illustrate-text {
        @include font-size(11px);
        //color: $colour-backorder-modal-illustrative;
        float: left;
        padding-top: ($spacing-unit * 7);
        text-align: center;
        width: 100%;
      }

      &__download-title {
        @include font-size(23px);
        color: $colour-black;
        float: left;
        font-weight: 400;
        text-align: left;
        width: 100%;
      }

      &__download {
        border-top: ($spacing-unit - 3) solid $colour-black;
        float: left;
        margin-top: ($spacing-unit * 8);
        padding-top: ($spacing-unit * 4);
        width: 100%;

        &__subtitle {
          @include font-size(15px);
          border-bottom: ($spacing-unit - 4) solid $bom-modal-border;
          float: left;
          margin-bottom: ($spacing-unit * 2 + 2);
          margin-top: ($spacing-unit * 4);
          padding-bottom: ($spacing-unit * 2);
          width: 100%;
        }

        .downloads-body {
          float: left;
          width: 100%;

          &__title {
            @include font-size(15px);
            border-bottom: ($spacing-unit - 4) solid $bom-modal-border;
            float: left;
            margin-bottom: ($spacing-unit * 2 + 2);
            margin-top: ($spacing-unit * 4);
            padding-bottom: ($spacing-unit * 2);
            width: 100%;
          }

          &__content {
            float: left;
            margin-top: ($spacing-unit * 2);
            width: 100%;
          }

          .downloadlink {
            display: block;
            float: left;
            color: $colour-black;
            padding: 0;
            width: 100%;
          }

          .content-holder {
            float: left;
            width: 100%;

            &__image {
              @include font-size(24px);
              float: left;
              padding-right: ($spacing-unit * 2 + 2);
              vertical-align: top;
            }

            &__content {
              @include font-size(13px);
              @include line-height(14px);
              float: left;
              width: auto;

              .downloadName {
                display: block;
                text-align: left;
              }

              .downloadwrap {
                display: block;
                font-weight: normal;
                padding-top: ($spacing-unit - 2);
                text-align: left;

                &__type,
                &__lang {
                  display: inline-block;
                  font-weight: normal;
                }

                &__lang {
                  padding-left: ($spacing-unit - 2);

                  &:first-of-type {
                    padding-left: 0;
                  }

                }

              }

            }

          }

        }

      }

      &__product-information {
        float: left;
        width: 100%;

        p {
          @include font-size(14px);
          //color: $colour-back-order-modal-informtion;
          float: left;
          text-align: center;
          width: 100%;

          a {
            @include font-size(14px);
            padding: 0;
            vertical-align: baseline;
          }

        }

      }

      &__body {
        box-sizing: border-box;
        float: left;
        height: 500px;
        overflow: auto;
        padding: ($spacing-unit * 6) ($spacing-unit * 13);
        width: 100%;
      }

      a {
        @include font-size(12px);
        box-sizing: border-box;
        color: $colour-dist-mid-grey;
        display: inline-block;
        font-weight: 600;
        padding: ($spacing-unit - 4) ($spacing-unit + 3);
        text-align: center;
        vertical-align: text-top;

        &:hover,
        &:focus {
          color: $colour-dist-grey;
          text-decoration: underline;
        }
      }

    }

    .modal-content {

      &__classifications {

        &__title {
          margin-bottom: ($spacing-unit * 3);
        }

        &__item {
          border-left: 4px solid $colour-dist-carmine;
          float: left;
          padding: ($spacing-unit - 3) ($spacing-unit * 3);
          width: 100%;

          &:nth-of-type(odd) {
            //background: $backorder-modal-odd-grey;
          }

          .title,
          .value {
            @include font-size(13px);
            @include line-height(26px);
            display: inline-block;
          }

          .title {
            font-weight: bold;
          }

          .value {
            float: right;
          }

        }

      }

    }

  }

  .selected {

    .bom-mpn-product {

      &__info-box {
        border: 1px solid $colour-dist-grey;
      }

      &__original-request {
        display: inline-block;
      }

    }

  }

  .messages-component {

    &__icon {

      i {
        @include font-size(20px);
        padding: 0;
      }

    }

  }

  .card-item {

    &__items {
      border: 1px solid $bom-modal-border;
      border-radius: $spacing-unit - 3;
      float: left;
      min-height: 300px;
      margin: ($spacing-unit*2) 0;
      padding: $spacing-unit*3;
      width: 100%;

      &__image {
        float: left;
        width: auto;

        img {
          overflow: hidden;
        }

      }

      &__content {
        float: left;
        width: 100%;

        h3 {
          @include font-size(14px);
          font-weight: 600;
          margin-bottom: ($spacing-unit);
          margin-top: ($spacing-unit + 2);
          min-height: 40px;
        }

        &__stock {
          float: left;
          margin-bottom: ($spacing-unit);
          width: 100%;

          .instock {
            color: $colour-dist-green;
          }

        }

        &__product-info {
          float: left;
          margin-bottom: ($spacing-unit);
          width: 100%;

          &__item {
            @include font-size(12px);
          }

        }

        &__price {
          float: left;
          margin-bottom: ($spacing-unit * 2);
          width: 100%;

          &__item {
            @include font-size(18px);
            font-weight: 600;

            &--small {
              @include font-size(11px);
              font-weight: 600;
            }

          }

        }

      }

      .modalDownload {

        &__title {
          @include font-size(23px);
          color: $colour-black;
          float: left;
          font-weight: 400;
          text-align: left;
          width: 100%;
        }

        &__subtitle {
          @include font-size(18px);
          color: $colour-black;
          float: left;
          font-weight: normal;
          margin: ($spacing-unit * 3) 0;
          width: 100%;
        }

        &__lists {
          float: left;
          list-style-position: inside;
          list-style-type: disc;
          width: 100%;

          &__item {
            @include font-size(13.5px);
            list-style-type: disc;
          }

          &__paper {
            @include font-size(13.5px);

            .type {
              padding-left: ($spacing-unit);
            }

          }

        }

        &__para {
          float: left;
          width: 100%;

          &__item {
            @include font-size(13.5px);
            color: $colour-black;
            margin-bottom: ($spacing-unit * 2);
            text-align: left;
          }

        }

        &__list {
          box-sizing: border-box;
          float: left;
          list-style-type: disc;
          margin-bottom: ($spacing-unit * 7);
          padding-left: ($spacing-unit * 6);
          width: 100%;

          li {
            @include font-size(13.5px);
            float: left;
            list-style-type: disc;
            width: 100%;
          }

          &__title {
            @include font-size(13.5px);
            float: left;
            font-weight: 600;
            margin-bottom: ($spacing-unit * 3);
            width: 100%;
          }

          &__subTitle {
            @include font-size(12px);
            display: block;
            font-weight: bold;
            padding-bottom: ($spacing-unit);
          }

        }

        &__unlist {
          float: left;
          margin-bottom: ($spacing-unit * 5);
          width: 100%;

          li {
            @include font-size(13.5px);
            @include line-height(21px);
            float: left;
            width: 100%;
          }

        }

      }

      .downloadWrapper {
        display: inline-block;
        margin-top: ($spacing-unit - 3);
        font-weight: 400;

        span {
          @include font-size(13px);
          display: inline-block;
          font-weight: 400;
          width: auto;
        }

        .downloadLanguage {

          .comma-0 {
            display: none;
          }

        }

      }

    }

  }


  .skin-shipping-information-bom-tool {
    @include font-size(13px);
    border: none;

    .leadtime-holder {
      display: none;
    }

    .gu-1 {
      width: 100%;

      .row {
        margin: 0;
        width: 100%;
      }

    }

  }

  .erp-sales-status {

    &__furtherstock {
      display: none;
    }

  }

}

