.mod-link-list {
	@modLinkListItemPadding: 13px 39px 15px 12px;
	padding-right: 20px; // to have space between link-list and content


	// keep margin and padding on list title and ul exactly like this to support all combinations of with and without title!!!
	.list-title {
		padding: 5px 39px 4px 12px;
		color: @c-red;
		font-size: 18px;
	}

	ul {
		margin-top: 10px; // to be correct aligned with the main title, if there is no content nav above
		border-top: 1px solid @c-grey80;

		li {
			a {
				display: block;
				position: relative;
				border-bottom: 1px solid @c-grey80;
				padding: @modLinkListItemPadding;

				i {
					display: block;
					position: absolute;
					right: 15px;
					top: 12px;
					.s-polygon-right-small-lightblue();
				}

				&:hover i, .hover i {
					.s-polygon-right-small-blue();
				}
			}
		}
	}
}