@import 'global-utilities';

$border-bom-data-grey: #d3d2d3;

.introduction-text {
  margin-bottom: ($spacing-unit * 4);

  p {
    @include font-size(15px);
    @include line-height(24px);

    b {
      display: block;
    }
  }
}

.row-holder {
  border: 2px solid $colour-mid-grey;
  border-radius: 5px;
  margin: 0;
  padding: ($spacing-unit * 4) ($spacing-unit * 3);
  position: relative;

  &__item-partition {
    background-color: $colour-mid-grey;
    display: none;
    height: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 2px;

    @media #{$ipad} {
      display: block;
    }

    span {
      @include font-size(25px);
      background-color: $colour-white;
      left: 50%;
      padding: ($spacing-unit * 6) 0;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }

  &__item {
    float: left;
    margin-bottom: ($spacing-unit * 3);
    width: 100%;

    &:first-child {
      padding-right: $spacing-unit * 6;
    }

    &:last-child {
      padding-left: $spacing-unit * 6;
    }

    &:last-of-type {
      display: none;

      @media #{$ipad} {
        display: block;
      }
    }
  }
}

.head {
  @include font-size(18px);
  @include line-height(26px);
  border: 0;
  height: auto;
  margin-bottom: $spacing-unit * 2;
  padding: 0;

  @media #{$ipad-landscape} {
    @include font-size(25px);
    @include line-height(32px);
  }
}

.content {
  &__item {
    &:first-of-type {
      height: 185px;

      @media #{$desktop} {
        min-height: 120px;
      }
    }

    &--CZ {
      &:first-of-type {
        height: 185px;

        @media #{$desktop} {
          min-height: 140px;
        }
      }
    }

    textarea {
      @include font-size(14px);
      @include line-height(21px);
      border: 1px solid $colour-black;
      border-radius: 2px;
      color: $colour-redesign-dark-black;
      height: 170px;
      overflow-y: auto;
      width: 100%;

      &:focus {
        background-color: $colour-strong-light-grey;
        outline: none;

        &::placeholder {
          color: transparent;
        }
      }
    }

    p {
      @include font-size(14px);
      margin: 0 0 ($spacing-unit * 2);
      min-height: auto;

      &.filename {
        border: 0;
      }
    }
  }
}

.download-example {
  @include font-size(14px);
  @include line-height(22px);

  color: $link-blue;

  &:hover {
    color: $link-dark-blue;
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }
}

.upload-file {
  background: transparent;
  border: 3px dashed $colour-mid-grey;
  border-radius: 10px;
  display: table;
  height: 170px;
  padding: 0 ($spacing-unit * 4);
  text-align: center;
  width: 100%;

  &__item {
    @include font-size(13px);
    display: table-cell;
    vertical-align: middle;

    .browser-ie {
      display: none;
    }
  }

  &--dragover {
    border: 3px solid $colour-dist-mid-grey;
  }

  i,
  span {
    color: $colour-mid-grey;
  }

  span {
    display: block;
    position: relative;
  }

  .filename {
    color: $colour-green;
  }

  &:hover {
    text-decoration: none;
  }
}

.btn-holder {
  margin-top: $spacing-unit * 4;
  @media #{$ipad} {
    display: flex;
    justify-content: flex-end;
  }
}

.file-upload-input {
  display: none;
}

.errors {
  border: 1px solid $colour-dark-red;
  background-color: $colour-error-bg;
  color: $colour-dark-red;
  padding: 10px;
  margin-top: $spacing-unit * 2;
  margin-bottom: 25px;

  p {
    margin: 0;
  }

  p + p {
    margin-top: $spacing-unit * 2;
  }
}
