@import 'global-utilities';

:host {
  background: transparent;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  min-height: 60px;
  display: block;
  z-index: 5;
}

.floating-toolbar {
  @include font-size(14px);
  position: fixed;
  bottom: 60px;
  width: 500px;
  margin-top: $spacing-unit * 4;
  transform: translateX(50%);
  color: $colour-white;

  @include tabletDown {
    display: none;
  }

  &.no-floating {
    position: relative;
    bottom: auto;
  }

  .toolbar {
    align-items: center;
    background-color: $colour-dark-grey;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 60px;
    padding: 5px 30px;
    pointer-events: all;

    span {
      font-size: 13px;
    }

    &-item-added {
      background-color: $colour-green;
    }

    &-item-removed {
      background-color: $colour-red;
    }
  }

  .link {
    color: $colour-white;
    text-decoration: none;

    &-icon {
      @include font-size(14px);
      line-height: normal;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      fa-icon {
        @include font-size(14px);
      }
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
