@import 'global-utilities';

.downloads-container {
  float: left;
  width: 100%;

  &__header {
    @include font-size(22px);
    @include line-height(30px);
    color: $colour-dark-grey;
    font-weight: $font-weight-normal;
    letter-spacing: -0.6px;
    margin: ($spacing-unit * 4) 0;

    @media #{$desktop} {
      @include font-size(28px);
      @include line-height(34px);
    }
  }

  .downloads-items {
    float: left;
    width: 100%;

    .downloads-item {
      float: left;
      margin-bottom: ($spacing-unit * 4);
      width: 100%;
      border-bottom: 1px solid $ux-light-grey;
      &.last {
        border: none;
        margin-bottom: 0;
      }
      .datasheet-title {
        @include typography-display-sm();
        color: $colour-dist-grey;
        font-weight: $font-weight-medium;
        margin: 0;
      }
      .datasheet-section {
        float: left;
        padding-bottom: ($spacing-unit);
        width: 100%;
        .download-element {
          & .show-more__alternative-downloads {
            & .holder:first-child {
              margin-top: 0;
            }
          }

          .holder {
            margin-top: ($spacing-unit * 2 + 2);
            margin-bottom: ($spacing-unit * 2 + 2);

            .pdp-pdf-btn {
              color: $colour-black;
              .icon-pdf {
                display: inline-block;
                color: $colour-dist-grey;
                height: 24px;
                width: 24px;
                margin-right: ($spacing-unit + 3);
                margin-top: ($spacing-unit - 7);
                vertical-align: top;
              }
              &:hover {
                fa-icon {
                  color: $colour-red;
                }
              }
              .pdf-text {
                @include typography-text-md();
                line-height: ($spacing-unit * 4);
                font-weight: $font-weight-medium;
                color: $colour-dark-grey;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 89%;

                .inline-pdf {
                  @include typography-ui-xs();
                  font-weight: $font-weight-normal;
                  margin-top: ($spacing-unit - 1);
                  color: $colour-redesign-light-grey;
                }
              }
            }
          }
          .show-more-downloads {
            display: flex;
            flex-direction: column-reverse;
            float: left;
            width: 100%;

            .show-more__holder {
              margin-top: ($spacing-unit * 2);
              margin-bottom: ($spacing-unit * 4);

              & .btn {
                @include typography-ui-sm();
                font-weight: $font-weight-medium;
                color: $link-blue;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $link-blue;

                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

app-icon svg {
  height: 24px;
  width: 24px;
  margin-right: ($spacing-unit + 3);
  vertical-align: top;
}
