.skin-login-newcheckout {
  margin-bottom: $spacing-unit * 10;

  .section-title {
    @include font-size(18px);
    @include line-height(22px);
    background-color: #f6f6f6;
    border: 1px solid #CCC;
    color: #333;
    display: inline-block;
    font-weight: 300;
    height: 50px;
    padding: 0 ($spacing-unit * 2) 0 ($spacing-unit * 3 + 2);
    width: 100%;
  }

  .form-box {

    &--newcheckout {
      border: 1px solid #ccc;
      border-top: 0;
      padding: $spacing-unit * 3;

      .base {

        .field {
          max-width: 260px;
        }

      }

      .gu-4 {
        max-width: 280px;
      }

      .resend-password {
        color: #009fb4;
        display: block;
        font-weight: 400;
        margin-top: $spacing-unit * 3;
      }

    }

  }

}
