.mod-login {

  .login-error-box {
    background: lighten($colour-dist-warning-red, 20%);
    border: 1px solid $colour-dist-warning-red;
    color: $colour-dist-warning-red;
    margin-bottom: $spacing-unit * 4;
    margin-left: $spacing-unit * 4;
    padding: ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit * 2 + 3) ($spacing-unit * 2);
    text-align: left;
    width: 300px;

    h4 {
      @include font-size(19px);
      text-align: center;
      padding: ($spacing-unit * 2) 0 ($spacing-unit - 4) 0;
    }

    p,
    span {
      @include font-size(14px);
      margin-bottom: 0;
      text-align: center;
    }

  }


  .gu-2 {

    &--CZ,
    &--HU,
    &--RO,
    &--LT,
    &--LV {
      width: 210px;
    }

  }

  .label-box {

    label {
      @include line-height(20px);
      display: inline-block;
      margin: ($spacing-unit) 0 ($spacing-unit*4) 0;
    }

  }

  .intro-title {
    color: $colour-black;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 4;
  }

  .form-box {
    *zoom: 1;
    padding: ($spacing-unit * 4) 0 ($spacing-unit * 6);

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

  }

  .row-login-options {
    margin: ($spacing-unit) 0 ($spacing-unit * 2);

    .remember {
      @include line-height(34px);
      position: relative;

      input[type="checkbox"] {

        &.checkbox-big + input + label {
          padding-top: 0;

          &:before {
            margin-right: $spacing-unit * 2;
          }

        }

      }

    }

  }

  .links {
    padding-top: ($spacing-unit * 2 - 3);
    text-align: right;

    a {
      color: $colour-dist-mid-grey;
      display: block;
      font-weight: 400;
      margin-top: $spacing-unit * 3;
      text-align: left;
      width: 100%;

      &:hover,
      &:focus {
        color: $colour-dist-grey;
        text-decoration: underline;
      }
    }

  }

  .btn-primary {
    margin-top: $spacing-unit * 3;
    text-align: left;
    width: 100%;

    i {
      float: right;
      margin-top: $spacing-unit - 2;
    }

  }

}
