.skin-login-checkout {
  .login {
    &__title {
      &-success-message {
        color: $colour-redesign-dark-green !important;
        background-color: $colour-pale-green;
        border: 1px solid $border-global-green;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 2);
      }

      &-error-message {
        color: $colour-dist-red !important;
        background-color: $colour-redesign-pale-red;
        border: 1px solid $colour-redesign-border-red;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 2);
      }
    }

    &__form {

      &__label {
        @include font-size(14px);
        margin-bottom: $spacing-unit;
        color: $colour-black;
        font-weight: 600;
      }

      &__field {
        //margin-bottom: $spacing-unit * 4;

        input {
          width: 100%;
          height: $ux-form-el-height;
          border: 1px solid $ux-input-border-color;
          border-radius: $ux-form-el-border-radius;

          &.error {
            border: 2px solid lighten($colour-dist-red, 20%);
          }

        }

        .field-msgs {

          .error {
            @include font-size(14px);
            color: $colour-dist-red;
            margin-top: $spacing-unit * 2;
          }

        }

      }

      &__remember {
        @include font-size(14px);
        margin-bottom: $spacing-unit * 5;
        font-weight: 500;

        input {

          &[type="checkbox"]:not(.ux-checkbox__input) {
            clip: auto;
            height: auto;
            margin: -($spacing-unit - 1) ($spacing-unit) 0 0;
            position: inherit;
            width: auto;
          }

        }

        label {

          &::before {
            display: none;
          }

        }

      }

      &__forgotten {
        margin-top: $spacing-unit * 5;

        &__var2 {
          text-align: right;
        }
      }

      &__separator {
        @include font-size(14px);
        position: relative;
        padding: ($spacing-unit * 4);
        color: $ux-txt-grey;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          right: $spacing-unit * 3;
          left: $spacing-unit * 3;
          transform: translateY(-50%);
          border-top: 1px solid $ux-input-border-color-light;
        }

        > * {
          position: relative;
          display: inline-block;
          padding: 0 ($spacing-unit * 2);
          background-color: $colour-white;
        }
      }
    }
  }
}
