.skin-login-checkout-forgotten-password-success {
  .forgottenPasswordSuccess {

    &__title {

      h2 {
        @include font-size(24px);
        @include line-height(40px);
        margin-top: 0;
        margin-bottom: $spacing-unit * 3;
        color: $colour-black;
        font-weight: 500;
      }
    }

    &__subtext {
      @include font-size(14px);
    }

    &__successMessage {
      @include line-height(24px);
      color: $colour-redesign-dark-green;
      padding: 16px;
      background: $colour-pale-green;
      border: 1px solid $border-global-green;
      border-radius: 2px;
    }

    &__instructions {
      @include line-height(20px);
      font-weight: bold;
      padding: 25px 0 15px 0;

      &__list {
        width: 100%;
        font-weight: 500;

        ol {
          margin: 0;
          padding-left: 16px !important;
        }

        li {
          list-style-type: decimal !important;
        }
      }
    }

    &__backToLogin {
      margin-top: $spacing-unit * 5;
      text-align: center;

      span {
        color: $link-blue;
        cursor: pointer;

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

    }
  }
}
