.skin-login-resend-password {

  .form-box {
    border: 0;
    padding-bottom: 0;
    padding-top: 0;

    &__text {
      margin-bottom: ($spacing-unit * 2);
      padding-left: 0;
      padding-right: 0;

      @media #{$ipad-landscape} {
        box-sizing: border-box;
      }

    }

    &__form {

      @media #{$ipad-landscape} {
        padding-left: 0;
        padding-right: 0;
      }

      &__row {
        margin-left: 0;
        margin-right: 0;

        &__label {
          padding-left: 0;
          padding-right: 0;

          label {
            @include font-size(14px);
            margin-bottom: 7px;
          }

          button, input {
            width: 100%;
          }

          input {
            @include font-size(14px);
            padding: ($spacing-unit * 2) ($spacing-unit * 3);

            @include placeholder {
              color: $forgot-pw-placeholder;
            }

          }

          button {
            @include font-size(13px);
            letter-spacing: 0.75px;
            margin-top: 0;
            text-align: center;
          }

        }

      }

    }

  }

  p {

    &.small {
      @include font-size(12px);
      @include line-height(24px);
      color: $colour-mid-grey;
      padding-top: $spacing-unit * 4;
      text-align: justify;
    }

  }

}
