<div class="backdrop">
  <div class="container">
    <ng-container *ngIf="requestSubmitted">
      <div class="row">
        <div class="col-12">
          <div class="info-message">
            <div class="inner">
              <div class="center">
                <p class="text" id="password_change_message_text">
                  {{ 'login.forgot_pwd_success_msg' | cxTranslate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="requestError">
      <div class="row">
        <div class="col-12">
          <div class="info-message">
            <div class="inner">
              <div class="center">
                <p class="text" id="password_change_message_text">
                  {{ 'account.confirmation.forgotten.password.link.sent.onfail' | cxTranslate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="passwordResetTokenInvalid">
      <div class="row">
        <div class="col-12">
          <div class="error info-message">
            <div class="inner">
              <div class="center">
                <p class="text" id="passwordResetTokenExpiredMessage" id="password_change_message_text">
                  {{ 'account.confirmation.forgotten.password.link.expired' | cxTranslate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="box-wrapper">
    <ng-container>
      <h1 class="page-title" id="log_in_page_forgot_pwd_title">{{ 'login.forgot_pwd_title' | cxTranslate }}</h1>
      <div class="login-content">
        <div class="form-box">
          <form #formDir="ngForm" id="loginForm" [formGroup]="userLoginForm">
            <div class="row login-form-row">
              <small class="col-12 login-form-col" id="login.forgot_pwd_helptext">
                {{ 'login.forgot_pwd_helptext' | cxTranslate }}
              </small>

              <div class="col-12 login-form-col">
                <label id="forgottenPwdEmail_label">{{ 'form.your_email' | cxTranslate }}</label>
              </div>

              <div class="col-12 login-form-col forgotten-pwd-login">
                <input
                  class="form-control"
                  id="forgottenPwdEmail_input"
                  [class.is-invalid]="
                    userLoginForm.get('forgottenPwdEmail').touched && userLoginForm.get('forgottenPwdEmail').invalid
                  "
                  formControlName="forgottenPwdEmail"
                  type="text"
                />

                <div
                  *ngIf="
                    (userLoginForm.get('forgottenPwdEmail').invalid &&
                      userLoginForm.get('forgottenPwdEmail').touched) ||
                    userLoginForm.get('forgottenPwdEmail').dirty
                  "
                  class="forgotten-pwd-error-text"
                >
                  <small
                    *ngIf="userLoginForm.get('forgottenPwdEmail').errors?.email"
                    class="text-danger"
                    id="forgottenPwdInputEmailError"
                  >
                    {{ 'validations.forgotten_password_email_invalid_error' | cxTranslate }}
                  </small>
                </div>
              </div>

              <div *ngIf="!(isCaptchaDisabled_ | async)" class="col-12 login-form-col">
                <button
                  class="mat-button mat-button--red"
                  id="login.send.forgotten"
                  [disabled]="
                    !userLoginForm.get('forgottenPwdEmail').value || userLoginForm.get('forgottenPwdEmail').errors
                  "
                  (click)="captchaRef.execute()"
                >
                  {{ 'login.send' | cxTranslate }}
                </button>
              </div>

              <div *ngIf="isCaptchaDisabled_ | async" class="col-12 login-form-col disabled-captcha">
                <button
                  class="mat-button mat-button--red"
                  id="login.send.forgotten"
                  [disabled]="
                    !userLoginForm.get('forgottenPwdEmail').value || userLoginForm.get('forgottenPwdEmail').errors
                  "
                  (click)="submitForgottenPwd()"
                >
                  {{ 'login.send' | cxTranslate }}
                </button>
              </div>

              <re-captcha
                #captchaRef="reCaptcha"
                (resolved)="$event && submitForgottenPwd()"
                size="invisible"
              ></re-captcha>
            </div>
          </form>

          <p *ngIf="isHelpText" class="padding small" id="restPwdHelpText">
            {{ 'login.reset_pwd_help_text' | cxTranslate }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
