$colour-cart-list-item-return-items-grey: #333333;

$border-cart-list-item-return-items-grey: #D8D8D8;
$border-cart-list-item-return-items-radio: #777777;
$border-cart-list-item-order-detail-grey: #cccccc;

$cart-list-item-cart-bg-grey: #eeeeee;
$cart-list-item-cart-border-grey: rgba(219, 219, 216, 1);
$cart-list-item-cart-bg-toolbar: rgba(242, 242, 242, 1);

$cart-list-item-backorder-label-bg: $ux-banner-warning-bg;
$cart-list-item-backorder-label-text: $ux-banner-warning-color;
$cart-list-item-backorder-label-border: $ux-banner-warning-border;
