html {
  // we need !important to override the rule from dynamically injected CSS in the content system
  scroll-behavior: auto !important;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 24px;
  color: $ux-text-default;
  background-color: $colour-white;

  &.is-locked {
    overflow: hidden;
    width: 100%;
  }

  @media (min-width: 992px) {
    &.overflow-hidden {
      overflow: unset !important;
    }
  }

  app-dist-component-group {
    .base {
      h3 {
        font-weight: 700;
      }
    }

    .dow-last {
      margin-bottom: unset;
      padding: ($spacing-unit * 4) 0;
    }
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

cx-paragraph {
  ul,
  li {
    margin: revert;
    padding: revert;
    list-style-type: inherit;
  }
}

input {
  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.4;
  }
}

textarea {
  padding: 6px 8px;
}

a {
  cursor: pointer;
  color: $colour-black;

  &:hover {
    @include transition(color 0.2s ease);
  }
}

p {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: $font-weight-bold;

  &.is-sb {
    font-weight: $font-weight-semiBold;
  }
}

cx-paragraph {
  h2.welcome-title,
  h3.panels-title {
    color: $colour-red;
  }

  h2.welcome-title {
    @include mobileOnly {
      hyphens: auto;
    }
  }

  h3.panels-title {
    margin-top: $spacing-unit * 4 + 3;
    margin-bottom: $spacing-unit * 4;
    font-weight: $font-weight-bold;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    @include font-size(16px);
  }
}

.mw-760 {
  max-width: 760px;
}

.rotate-90 {
  @include rotate(90);
}

.rotate-180 {
  @include rotate(180);
}

.rotate-270 {
  @include rotate(270);
}

.rotate-360 {
  @include rotate(360);
}
