// Import Paths
$path-fonts: '/app/spartacus/assets/fonts/';

@font-face {
  font-family: 'Myriad Pro';
  src: url($path-fonts + 'myriadpro-regular.otf') format('opentype');
  src: url($path-fonts + 'myriadpro-regular.ttf') format('truetype');
  src: url($path-fonts + 'myriadpro-regular.eot') format('eot');
  src: url($path-fonts + 'myriadpro-regular.woff') format('woff');
  src: url($path-fonts + 'myriadpro-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro Semi';
  src: url($path-fonts + 'myriadpro-semibold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url($path-fonts + 'Montserrat-Regular-Optimized.woff2') format('woff2'),
    url($path-fonts + 'Montserrat-Regular.woff') format('woff');
  font-weight: $font-weight-normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url($path-fonts + 'Montserrat-Medium-Optimized.woff2') format('woff2'),
    url($path-fonts + 'Montserrat-Medium.woff') format('woff');
  font-weight: $font-weight-medium;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url($path-fonts + 'Montserrat-SemiBold-Optimized.woff2') format('woff2'),
    url($path-fonts + 'Montserrat-SemiBold.woff') format('woff');
  font-weight: $font-weight-semiBold;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url($path-fonts + 'Montserrat-Bold-Optimized.woff2') format('woff2'),
    url($path-fonts + 'Montserrat-Bold.woff') format('woff');
  font-weight: $font-weight-bold;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url($path-fonts + 'Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}
