// @deprecated: This file's import path is provided for backwards compatibility, please use the following line in your component:
@import 'global-utilities';

.cursor {
  cursor: pointer;
}

@media print {
  .notForPrint {
    display: none;
  }
}

.min-width {
  width: 35px;
  height: 35px;
}

// Tooltip classes
::ng-deep .tooltip-inner {
  background-color: $colour-dark-red;
}

.bs-tooltip-top .arrow::before {
  border-top-color: $colour-dark-red;
}

.bs-tooltip-end .arrow::before {
  border-right-color: $colour-dark-red;
}

.bs-tooltip-start .arrow::before {
  border-left-color: $colour-dark-red;
}

.bs-tooltip-top .arrow::before {
  border-top-color: $colour-dark-red;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $colour-dark-red;
}

.text-underline {
  text-decoration: underline;
}

.ul.pagination {
  float: right;
}

.page-item.active .page-link {
  background-color: $colour-red !important;
  border-color: $colour-red !important;
  color: white !important;
}

.page-link {
  color: $colour-dark-red !important;
}

.primary {
  color: $colour-red;
}

.distrelecLink {
  color: $colour-red;

  :hover {
    text-decoration: underline;
  }
  :active {
    color: $colour-red;
  }
}

.d-inherit {
  display: inherit;
}

.mobile-only {
  display: none;
  @media #{$mobile-only} {
    display: block;
  }
}

.desktop-only {
  display: none;
  @media #{$ipad} {
    display: block;
  }
}

.view {
  width: 44px;
  height: 44px;
  background-image: url('/app/spartacus/assets/media/circle-btn.png');
  display: inline-block;
}

.view:hover {
  background-image: url('/app/spartacus/assets/media/circle-btn-hover.png');
}

.tooltipDiv {
  width: 38px;
  height: 38px;
  background-image: url('/app/spartacus/assets/media/tooltip.svg');
  display: inline-block;
}

.tooltipDiv:hover {
  background-image: url('/app/spartacus/assets/media/tooltip-hover.svg');
}

.addToCart {
  width: 44px;
  height: 44px;
  background-image: url('/app/spartacus/assets/media/add-to-cart.png');
  display: inline-block;
}

.addToCart:hover {
  background-image: url('/app/spartacus/assets/media/add-to-cart-hover.png');
}
