.mod-metahd {
  background: $colour-white;
  display: block;
  float: left;
  height: auto;
  margin-top: ($spacing-unit * 3 + 1);
  position: relative;
  width: 100%;


  @media #{$ipad-landscape} {
    display: flex;
    float: none;
    width: 82%;
  }

  .item-list {
    border-top: 1px solid $colour-pale-grey;
    display: block;
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      border: 0;
      display: flex;
      justify-content: space-between;
    }

  }

}
