@import 'global-utilities';

#modalDoubleOptIn {
  &.modal {
    position: fixed;
    top: 30%;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    height: auto;
    max-width: 400px;
    padding: $spacing-unit * 4;
    outline: none;
    margin: auto;
    background-color: $colour-white;

    .modal {
      &__header {
      }

      &__title {
        @include font-size(22px);
        @include line-height(22px);
        display: flex;
        align-items: center;
        margin: 0 0 ($spacing-unit * 4);
        font-weight: $font-weight-bold;

        .ng-fa-icon {
          @include font-size(30px);
          color: $colour-red;
        }
      }

      &__body {
        @include font-size(14px);
        margin-bottom: $spacing-unit * 3;
      }

      &__footer {
        .btn {
          min-width: 100px;
          background-color: $colour-red;
          color: $colour-white;
        }
      }
    }
  }
}
