<div class="modal" id="modalDoubleOptIn">
  <div class="modal__header">
    <h3 class="modal__title" id="doubleOptIn_modal_title">
      <fa-icon id="doubleOptIn_modal_title_icon" [icon]="faCircleInfo"></fa-icon>
      &nbsp;
      <span id="doubleOptIn_modal_title_value">{{ 'text.preferences.updated.dont.forget' | cxTranslate }}</span>
    </h3>
  </div>

  <div class="modal__body">
    <p class="mb-2" id="checkout.confirmation.consent.double.opt.in">
      {{ 'text.preferences.updated.below' | cxTranslate }}
    </p>

    <p id="checkout.confirmation.consent.email.sent">
      {{ 'text.preferences.updated.email.sent' | cxTranslate: { email: email } }}
    </p>
  </div>

  <div class="modal__footer">
    <button class="btn" id="doubleOptIn_modal_cancel_btn" (click)="closeModal()" type="submit">
      {{ 'text.preferences.updated.ok' | cxTranslate }}
    </button>
  </div>
</div>
