.mod-product-image-gallery {
  border: 0;
  float: left;
  position: relative;
  width: 100%;

  .promo-label-illustrative-image-wrap {
    float: left;
    width: 100%;
  }

  .image-reference {
    float: left;
    padding: ($spacing-unit * 3);
    text-align: center;
    width: 100%;

    p {
      @include font-size(11px);
      @include line-height(24px);
      color: $colour-mid-grey;
    }

  }

  .gallery-side {
    float: left;
    height: 320px;
    width: 15%;


    .item {
      background: $colour-white;
      display: block;
      height: 70px;
      margin-bottom: ($spacing-unit);
      outline: none;
      text-align: center;
      width: 80px;


      &.active {
        border: 1px solid $colour-mid-grey;
      }

      &.magic-360,
      &.video {
        text-align: center;

        i {
          background-image: url('/_ui/all/media/sprites_00a7b3d765.png');
          background-repeat: no-repeat;
          background-size: 792px 642px;
          height: 26px;
          margin: 0 auto;
          width: 46px;
        }

      }

      &.magic-360 {

        i {
          background-position: -715px -109px;
        }

      }

      &.video {

        i {
          background-position: -481px -274px;
          width: 30px;
        }

      }

      img {
        background: $colour-white;
        display: inline-block;
        height: 100%;
        margin: 0 auto;
        max-width: 100%;
      }

    }

  }

  .mod-video {

    iframe {
      height: 100%;
      width: 100%;
    }

  }

  .zoom-gallery {

    .zoom-gallery-slide {
      display: none;
      text-align: center;

      &.active {
        display: block;
      }

    }

  }

  .imagery-holder {
    float: right;
    overflow: hidden;
    width: 100%;

    &--full {
      margin-left: ($spacing-unit * 3);
      width: 82%;
    }

    .gallery-item {
      text-align: center;
      width: 100%;

      img {
        display: inline-block;
        height: auto;
        max-width: 100%;
      }

      a {
        display: table-cell;
        padding: 0;
        text-align: center;
        vertical-align: middle;
      }

      .images-in-lightbox {
        margin: 0 auto;
        max-height: unset;
        max-width: 100%;
      }

    }

    .magic-360 {
      display: none;

      &.active {
        display: block !important;
      }

    }

  }


  .gallery_image {
    display: inline;

    a {
      float: left;
      width: 90%;
    }
  }

  .ghs_image {
    padding-top: ($spacing-unit * 3);
    width: 10%;
    float: right;
  }
}
