.skin-toolsitem-empty-cart {

  a {
    @include font-size(12px);
    color: $colour-dist-mid-grey;
    display: block;
    font-weight: 500;
    transition: background-color .2s ease;

    &:hover {
      color: $colour-dist-grey;

      span {
        text-decoration: underline;
      }
    }

  }

}