.tools-bar {

  &__product-compare {

    .skin-toolsitem-favorite {
      margin-bottom: ($spacing-unit * 2);
    }

    .skin-toolsitem-favorite, .skin-toolsitem-shopping {
      float: left;
      width: 100%;

      @media #{$ipad-landscape} {
        float: right;
        margin-right: 0;
        padding-left: ($spacing-unit * 6)
      }

      @media #{$desktop} {
        padding-left: 0;
        width: 66%;
      }

      a {
        @include font-size(13px);
        color: $colour-tools-item-actions;
        float: left;
        margin-bottom: ($spacing-unit + 2);
        text-align: left;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }

      }

    }

    .skin-toolsitem-cart {
      float: left;
      width: 100%;

      @media #{$ipad-landscape} {
        float: right;
        margin-right: 0;
        padding-left: ($spacing-unit * 6);
      }

      @media #{$desktop} {
        padding-left: 0;
        width: 66%;
      }

      a {
        @include font-size(13px);
        background: $colour-tools-item-cart;
        border-radius: ($spacing-unit - 3);
        box-sizing: border-box;
        color: $colour-white;
        font-weight: 500;
        margin-bottom: ($spacing-unit * 2 + 2);
        margin-top: ($spacing-unit * 2);
        padding: ($spacing-unit) ($spacing-unit * 2);

        &.teaser-link {
          display: none;
        }

        &.disabled {
          pointer-events: none;
        }

      }

    }

  }

}
