.skin-toolsitem-shopping-remove {
  @include font-size(13px);
  color: $colour-dist-red;
  float: left;
  font-weight: 500;
  height: auto;
  line-height: normal;
  margin-top: ($spacing-unit);
  padding: ($spacing-unit - 1) ($spacing-unit * 4) 0 0;
  text-align: left;
  width: 100%;

  @media #{$ipad-landscape} {
    float: right;
    text-align: center;
    width: auto;
  }

}