.skin-toolsitem-shopping-plp {

  .ico {
    @include font-size(12px);
    @include line-height(18px);
    color: $link-blue;
    display: block;
    font-weight: 500;
    visibility: visible;

    i {
      display: none;
    }

    &.disabled,
    &.active,
    &.focus,
    &.visited,
    &:hover {
      color: $link-dark-blue;
      text-decoration: underline;

      i {
        background: none;
        height: auto;
        width: auto;
      }

    }

  }

}
