.skin-toolsitem-shopping {

  .ico-list {
    &:hover {
      i {
        color: $colour-dist-marigold;
      }
    }

    &.active {
      .fa-list  {
        color: $colour-dist-marigold !important;
      }
    }

    i {
      @include font-size(12px);
      background-image: none !important;
      color: $toolsitem-shopping-grey;
      text-align: center;
      margin-right: 5px;
      transition: color .2s ease;

      &:before {
        @include font-size(24px);
        @include line-height(24px);
        font-weight: 600;
        margin-left: 0;
        text-align: center;

        @media #{$desktop} {
          margin-left: 0;
        }

      }

    }

  }

}
