.skin-toolsitem-lbl-shopping-bulk-cart {

  a {
    @include font-size(12px);
    color: $link-blue;
    display: block;
    font-weight: 500;
    transition: background-color .2s ease;

    &:hover {
      color: $link-dark-blue;

      span {
        text-decoration: underline;
      }
    }

  }

}
