.skin-toolsitem-compare-remove {
  float: right;
  height: auto;
  margin-right: 0;
  width: auto;

  a {

    &.ico-remove {
      bottom: auto;
      display: none;
      position: static;
      right: auto;
      top: auto;
      visibility: visible;

      &:hover {
        background-image: none;
      }

      @media #{$ipad-landscape} {
        display: inline-block;
      }

      i {
        background: $colour-dist-red;
        display: block;
        height: 30px;
        width: 30px;

        &:after {
          @include font-size(16px);
          color: $colour-white;
          content: '\f00d';
          display: block;
          float: left;
          font-family: FontAwesome;
          line-height: 30px;
          text-align: center;
          width: 100%;
        }

        &:hover {
          background-image: none;
        }

      }

    }

  }

}