.skin-toolsitem-share-email-only-cart {

  a {
    @include font-size(12px);
    @include line-height(20px);
    color: $link-blue;
    display: block;
    transition: background-color .2s ease;

    &:hover {
      color: $link-dark-blue;
    }

  }

  .popover-content {

    .social-bar {
      padding-top: 0;
    }

    .ico-share-mail {

      i {
        @include font-size(14px);
        background: transparent;
        color: $colour-white;
        height: auto;
        width: auto;
      }

    }

  }

}
