.mod-toolsitem {

  &.skin-toolsitem-favourite-compare {
    width: 66%;

    @media #{$ipad-landscape} {
      padding-left: 0;
    }

    a {
      @include font-size(13px);
      color: $colour-tools-item-actions;
      float: left;
      margin-bottom: ($spacing-unit + 2);
      text-align: left;
      text-transform: capitalize;
      width: 100%;
    }

  }

}