.skin-toolsitem-compare-popup-plp {
  background-color: $colour-dist-grey;
  border-radius: $spacing-unit*10;
  bottom: 30px;
  box-shadow: 1px 1px 8px rgba(100, 100, 100, 0.3);
  font-family: $font-montserrat;
  display: none;
  height: auto;
  min-width: 100%;
  overflow: hidden;
  left: 50%;
  padding: 3px ($spacing-unit * 3) 3px ($spacing-unit * 7);
  transition: all 0.2s ease-out;
  transform: translateX(-50%);
  z-index: 999;

  @media #{$ipad} {
    min-width: 450px;
    padding: 3px ($spacing-unit * 6);
  }

  @media #{$ipad-landscape} {
    display: block;
    min-width: 230px;
  }

  &.active {

    &.sticky {
      position: fixed;
      bottom: $spacing-unit*2;
    }

  }

  .plp-compare {
    color: $colour-white;

    li {
      @include font-size(10px);
      display: inline-block;
      float: left;
      line-height: normal;
      padding: ($spacing-unit * 2) 0;
      text-align: center;

      @media #{$ipad} {
        @include font-size(14px);
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        @include font-size(10px);

        @media #{$ipad} {
          @include font-size(12px);
        }

      }

    }

    a {
      color: $colour-white;

      &:hover {
        text-decoration: underline;
      }

    }

    &__content {

      &__selected-text {
        display: inline-block;
        padding-top: $spacing-unit*2;
      }

    }

    &__header {
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 0;
    }

    &__title,
    &__item-added {
      @include font-size(16px);
      color: $colour-white;
      display: inline-block;

    }

    &__item-added {
      background-color: $toolsitem-compare-added-item-bg;
      bottom: 0;
      display: none;
      left: 0;
      padding: 0 $spacing-unit*4;
      position: absolute;
      right: 0;
      top: 0;

      &.showhide {
        animation: item-added-show 2s 0s;
        bottom: -40px;
        display: block;
        text-align: center;
        z-index: 9;
      }

    }

    @keyframes item-added-show {

      0% {
        bottom: 0;
      }
      90% {
        bottom: 0;
      }
      100% {
        bottom: -40px;
      }

    }

    &__compare-link {
      @include font-size(10px);
      border-radius: $spacing-unit - 3;
      color: $colour-white;
      line-height: normal;
      text-align: center;
      min-width: 120px;

      @media #{$ipad} {
        @include font-size(13px);
      }

      &:hover {
        text-decoration: underline;
      }

    }

    .skin-toolsitem-compare-remove-all-plp {
      height: auto;
      margin: ($spacing-unit - 2) 0 0 ($spacing-unit * 2);
      min-width: 90px;

      .ico-remove {
        color: $colour-white;
        display: block;
        padding-top: $spacing-unit*2;
        position: relative;
        text-align: center;
        visibility: visible;

        &:hover {
          text-decoration: underline;
        }

      }

    }

  }


}