.skin-toolsitem-cart-bulk {

  .hook-cart-add {
    float: left;
    height: 30px;
    margin-left: ($spacing-unit * 2);
    width: auto;

    i {
      @include font-size(13px);
      @include line-height(32px);
      background: $colour-dist-green;
      border-radius: 100%;
      display: block;
      float: left;
      height: 30px;
      margin: 0;
      text-align: center;
      width: 30px;

      &:before {
        color: $colour-white;
        margin-right: ($spacing-unit - 4);
      }

    }

    &:hover {

      i {
        background: $colour-dark-green;
      }

    }

    &:focus {
      border: 0;
      outline: 0;
    }

    span {
      @include line-height(30px);
      display: inline-block;
      float: right;
      text-align: right;
      width: auto;
    }

  }

}
