.skin-toolsitem-shopping-bom {

  .ico {
    @include font-size(13px);
    @include line-height(18px);
    margin-top: $spacing-unit * 2;
    border-radius: 2px;
    display: block;
    padding: 0 ($spacing-unit * 3);
    text-align: center;
    visibility: visible;

    i {
     padding: ($spacing-unit - 2) 0;
    }
  }

  .ico-shopping {
    position: relative;

    .addto {
      @include font-size(12px);
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      width: 130px;
      color: $colour-dist-mid-grey;
    }

    &.active {

      &.ico-shopping {

        .addto {
          color: $colour-dark-grey;
        }

      }

    }

  }

}
