.skin-toolsitem-availability {
  width: 100%;

  button {
    float: left;
    margin-top: $spacing-unit * 4;
    width: 50%;
  }

  svg,
  i {
    @include font-size(25px);
    float: left;
    margin: ($spacing-unit * 5 + 2) 0 0 ($spacing-unit * 3);
  }

}