.skin-toolsitem-print {
  float: right;
  height: auto;

  .mat-button {

    &.ico {
      text-decoration: none;
    }

    &--action-red {
      @include line-height(33px);
      @include font-size(15px);
      border-radius: 0;
      color: $colour-white;
      display: block;
      height: 35px;
      min-width: 104px;
      width: min-content;

      svg {
        @include font-size(18px);
        padding-right: ($spacing-unit);
      }

    }

  }

}
