.skin-toolsitem-download-cart {

  b,
  span {
    @include font-size(12px);
    color: $colour-dist-mid-grey;
    display: inline-block;
    font-weight: 500;
  }

  a {
    @include font-size(12px);
    color: $link-blue;
    display: inline-block;
    font-weight: 500;
    text-decoration: underline;
    transition: background-color .2s ease;

    &:hover {
      color: $link-dark-blue;
      text-decoration: underline;
    }

  }

}