.skin-toolsitem-bom-remove {
  float: right;
  text-align: center;
  width: 50%;

  @media #{$ipad-landscape} {
    float: left;
    width: 100%;
  }

  &.mod-toolsitem {
    margin: ($spacing-unit) 0 0;
  }

  .ico {
    @include font-size(12px);
    @include line-height(23px);
    color: $colour-dist-red;
    visibility: visible;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

  }

}
