.skin-toolsitem-compare-plp {
  margin-left: $spacing-unit*2;
  height: auto;
  line-height: 17px;

  &:hover {
    .ico-compare {
      i {
        color: $colour-dist-marigold;
      }
    }
  }

  label {
    background: $toolsitem-compare-bg-blue;
    border-radius: 2px;
    display: block;
    padding: ($spacing-unit) ($spacing-unit * 3);
    z-index: 9;

    input {
      clip: inherit;
      height: 12px;
      margin: 0;
      position: relative;
      width: 12px;

      &:checked {

        & + label {
          border: 1px solid $colour-light-grey;
        }

      }

    }

    span {
      @include font-size(12px);
      padding-left: ($spacing-unit);
    }

  }

    .ico-compare {

      &.active {
        .fa-exchange-alt {
          color: $colour-dist-marigold !important;
        }
      }

      i {
        background-image: none !important;
        padding: ($spacing-unit - 2) 0;
        color: $colour-light-grey;
        transition: color .2s ease;

        &:before {
          @include font-size(24px);
          @include line-height(24px);
        }
      }


    &--plp-compare {
      height: 30px;
      line-height: normal;
      position: relative;
      text-align: center;

      .label {
        @include font-size(13px);
        left: $spacing-unit * 5;
        padding: $spacing-unit $spacing-unit * 2 $spacing-unit;
        position: absolute;
        top: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 85px;
        color: $colour-dark-grey;

      }

      &:hover {

        .label {
          display: inline-block;
        }

      }

      .mat-checkbox {
        border: 2px solid $colour-light-grey;
        border-radius: 2px;
        height: 27px;
        width: 27px;

        &:hover {
          border-color: $colour-dist-marigold;
        }

        &:after {
          bottom: 5px;
          height: 15px;
          left: 8px;
          width: 7px;
        }

      }

    }

  }

}
