// Components for this module imports
.mod-checkout-rebuild {
  @import '../components/cr-editable-form';
  @import '../components/cr-inline-datepicker';
  @import '../components/cr-order-summary';
  @import '../components/cr-product-list-item';
  @import '../components/cr-radio-list-item';
}

.mod-checkout-rebuild {
  color: $colour-black;

  @media #{$ipad-landscape} {
    background-color: $ux-page-bg;
  }

  &__content {
    @media #{$ipad-landscape} {
      padding-bottom: 200px;
    }
  }
}
