
.mod-global-messages {

  &.skin-global-messages-component {
    margin: 0 0 ($spacing-unit*2);
    width: 100%;

    &:after {
      clear: both;
      content: "";
      display: table;
    }

    .messages-component {
      align-items: center;
      display: flex;

      &__icon {
        padding-top: 0;
      }
    }

    .messages-component {
      align-items: center;
      border: 1px solid $colour-dist-carmine;
      border-radius: $spacing-unit;
      display: flex;
      box-shadow: 0px 0px 4px 0px rgba(0,159,180,0.5);
      float: left;
      padding: $spacing-unit*2;
      width: 100%;

      &__icon {
        display: inline-block;
        float: left;
        width: 40px;

        i {
          font-size: 25px;
        }

        .fa-info-circle {
          color: $colour-dist-red;
        }

        .fa-check-circle {
          color: $colour-dist-green;
        }

        .fa-times-circle {
          color: $colour-dist-red;
        }

      }

      &__body {
        float: right;
        padding-left: $spacing-unit*2;
        width: calc(100% - 40px);
      }

      &__label,
      &__description {
        display: block;
        text-align: left;
      }

      &__label {
        @include font-size(14px);
        font-weight: 700;
      }

      &__description {
        @include font-size(14px);
      }

      a {
        @include font-size(15px);
        font-weight: 600;
        text-decoration: underline;
      }


      &.error {
        border-color: $colour-dark-red;
        box-shadow: 0px 0px 4px 0px rgba(172,0,0,0.5)
      }

      &.error-full {
        background: $colour-warning-red-bg;
        border-color: $colour-warning-red-border;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: $spacing-unit*4;
        padding: $spacing-unit*3;


        .messages-component {

          &__body {
            color: $colour-warning-red-text ;
            padding: 0;
            width: 100%;
          }

          &__description {
            font-weight: bold;
            text-align: center;
          }

        }

      }

      &.success {
        border-color: $colour-dist-dark-green;
        box-shadow: 0px 0px 4px 0px rgba(104,193,67,0.5)
      }

    }

    &.bom-product {

      .messages-component {
        padding: $spacing-unit ($spacing-unit*2);

        &__icon {

          i {
            @include font-size(20px);
            padding: 0;
          }

        }

      }

    }

    &.bom {
      margin-bottom: $spacing-unit*2;

      i {
        @include font-size(20px);
        padding: 0;
      }

      .messages-component {

        &__label {

          i {
            display: none;
          }

        }

      }

    }

  }

}

