<div class="mod-loading-spinner">
  <div class="ux-loading-spinner">
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
    <div class="ux-loading-spinner__item"></div>
  </div>
</div>
