@import 'global-utilities';

.stock {
  color: $ux-text-default;

  &__with-stock,
  &__no-stock {
    gap: 4px;
    display: flex;
    flex-direction: column;

    &--headline {
      display: flex;
      gap: 8px;
      align-items: flex-start;

      @include typography-display-sm();
      font-weight: $font-weight-semiBold;

      app-icon {
        display: flex;
      }
    }

    &--pickup {
      @include typography-text-sm();
      font-weight: $font-weight-medium;
    }

    &--info {
      @include typography-text-xs();
      font-weight: $font-weight-normal;
    }

    &--sameday {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      border-radius: 5px;
      border: 1px solid $ux-light-grey;

      padding: $spacing-unit * 3;
      margin-top: $ux-spacing-unit * 6;

      color: $colour-black;
      @include typography-display-xs();
      font-weight: $font-weight-semiBold;

      > div {
        width: 100%;
      }

      @include tabletOnly {
        max-width: 276px;
      }
    }

    &--with-notify {
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }

  &__notify {
    display: flex;
    align-items: center;
    gap: 8px;

    @include typography-ui-sm();
    font-weight: $font-weight-medium;
    align-items: center;

    .notify-text {
      display: flex;
      padding: 4px 0px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-bottom: 1px solid $link-blue;
      color: $link-blue;

      app-icon {
        align-self: flex-start;
      }
    }

    .notify-text:hover {
      text-decoration: none;
    }
  }

  &--small {
    padding: 0;
    border: 0;

    .deliveryTimeText {
      display: none;
    }
  }

  &--small &__notify {
    display: none;
  }

  &--small &__with-stock,
  &--small &__no-stock {
    &--headline {
      @include font-size(12px);
    }
  }
}
.tick-cancel-circle-grey {
  color: $ux-outline;
}
//style for telephone number in content-popup
.lc-dis126-pdp-modal-text--bold:nth-child(2) {
  font-weight: $font-weight-semiBold;
}
