.mod-rma-button {

  .mat-button {

    &--action-red {
      @include font-size(15px);
      @include line-height(33px);
      color: $colour-white;
      display: block;
      height: 35px;
      margin-bottom: ($spacing-unit * 4);
      min-width: 210px;
      text-align: center;
      width: min-content;

      @-moz-document url-prefix() {
        width: -moz-min-content;
      }

      &:hover {
        color: $colour-dist-red;
      }

      span {
        padding-left: ($spacing-unit * 2);
      }

    }

  }

}
