@import 'global-utilities';

.ch {
  &__component {
    &__error-message {
      @include font-size(14px);
      background-color: $colour-error-bg;
      border: 1px solid $colour-error-bg;
      color: $colour-error-text;
      font-weight: $font-weight-medium;
      margin-top: 0;
      margin-bottom: $spacing-unit * 4;
      padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit * 2);
    }
  }
}
