.skin-carousel-teaser-product-lazy-load {
	&.loading{
		display: none;
	}

	.carousel-teaser-container {
		border-bottom: 1px solid @c-grey80;
		position: relative;
		&.twoThird{
			width: 640px !important;
		}
		&.fullWidth{
			width: 960px !important;
		}
		
	}
	
	.caroufredsel_wrapper{
		height: 150px !important;
		width: 961px !important; 
	}	
	
	.carousel-header{
		width: 960px;
	}
	
	.carousel-nav {
	    height: 18px;
	    margin-left: 97px;
	    float: left;
	    position: absolute;
	    z-index: 100;
	    width: 859px;
	    margin-top: 32px;
		
		.btn-next{
			width: 36px;
		    height: 36px;
		    display: block;
		    float: right;
		    margin-right: -11px;
		    outline: 0;
			
			i {
				.s-flaps-teaser-next-white();
			}
	
			&:hover i{
				.s-flaps-teaser-next-black();
			}
			
			
		}	
		
		.btn-prev{
			width: 36px;
			height: 36px;
			margin-left: -97px;
			display: block;	
			outline: 0;			

			i {
				.s-flaps-teaser-prev-white();
			}
	
			&:hover i{
				.s-flaps-teaser-prev-black();
			}

			
			
		}	
		
		
	}	
	
}
