.skin-carousel-teaser-product-box-horizontal{
	
	
	&.loading{
		display: none;
	}
	
	.ft-description{
		font-size: 12px;
		font-weight: 600;
		margin-top: 5px;
		
		h3{
		    width: 300px;
		    text-align: left;
		    
		    a{
		    	 font-weight: bold;
		    }	
		}
	}

	

	.carousel-teaser-container {
		position: relative;
		
		&.twoThird{
			width: 640px !important;
			border-bottom: none;
		}
		&.fullWidth{
			width: 960px !important;
			border-bottom: none;
		}
		
		.carousel-teaser{
			width: 1660px !important;
		}
		
	}
	
	.caroufredsel_wrapper{
		width: 960px !important;
	}	
	
	.carousel-header{
		width: 640px;
		border-bottom: 0px;
	}

	.bd {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	    padding-right: 1px;
    		
		.item-image {
			display: inline-block;
		    margin-top: -2px;
		    width: 130px;
		    height: 107px;
		    margin-left: 20px;
		    margin-right: 3px;
		}
	}

	
	.carousel-nav {
	    height: 18px;
	    margin-left: 97px;
	    float: left;
	    position: absolute;
	    z-index: 100;
	    width: 557px;
	    margin-top: -42px;
		
		.btn-next{
			width: 36px;
		    height: 36px;
		    display: block;
		    float: left;
		    margin-left: 833px;
		    margin-top: -35px;
		    outline: 0;
		    opacity: 0.6;
			
			i {
				.s-flaps-teaser-next-white();
			}
	
			&:hover i{
				.s-flaps-teaser-next-black();
				opacity: 3;
			}
			
			
		}	
		
		.btn-prev{
			width: 36px;
			height: 36px;
			margin-left: -97px;
			display: block;	
			margin-top: 50px;
			outline: 0;		
			opacity: 0.6;	

			i {
				.s-flaps-teaser-prev-white();
			}
	
			&:hover i{
				.s-flaps-teaser-prev-black();
				opacity: 3;
			}

			
			
		}	
		
		
	}	
	
}