.skin-carousel-teaser-feedback {
	float: left;
	margin-bottom: 50px;
	width: 100%;

	.carousel-header {
		margin-top: 18px;
		width: 100%;
	}

	.no-nav-buttons {
		height: 0;

		&.carousel-header {
			margin-top: 0;
		}
	}

	.carousel-teaser-container {
		border-bottom: 0;
	}

	.carousel-teaser {
		max-height: 151px;
		overflow: hidden;
	}

	.carousel-nav {
		height: auto;
		margin: 0;
		position: absolute;
		width: 100%;

		a {
			position: absolute;
			top: -15px;
			z-index: 9;
		}

		.btn-prev {
			left: 0;
			margin-left: 0;

			i {
				.s-flaps-teaser-prev-white();
				transform: rotate(0deg);
			}

			&:hover i {
				.s-flaps-teaser-prev-black();
			}

		}

		.btn-next {
			margin-right: 0;
			right: -6px;

			i {
				.s-flaps-teaser-next-white();
				transform: rotate(0deg);
			}

			&:hover i{
				.s-flaps-teaser-next-black();
			}

		}

	}
}
