.mod-carousel-teaser {
	.carousel-teaser-container {
		border-bottom: 1px solid @c-grey80;
		position: relative;
		&.twoThird{
			width: 640px;
		}
		&.fullWidth{
			width: 960px;
		}
		&.specialVerticalWidth{
			width: 300px;
			border-bottom: none;
			z-index: 100;
			width: 0px !important; 
		}
		
	}

	.carousel-header {
		height: 46px;
		margin-top: 0px;
		width: 300px;
		&.twoThird{
			width: 640px;
			h2{
				width: 500px;
			}
		}
    	border-bottom: 1px solid @c-grey80;

		&.no-nav-buttons{
			h2{
				width: 100%;
			}
		}

		h2 {
			float: left;
			margin-top: 0px;
			margin-bottom: 0px;
			width: 80%;
		}
	}

	.carousel-nav {
		margin-right: 20px;
		height: 36px;
		float: right;
	}

	.btn-next, .btn-prev {
		width: 36px;
		height: 36px;
		margin-left: 5px;
		display: inline-block;
		outline: 0;
	}
	.btn-next {
		i {
			.s-polygon-right-big-lightblue();
		}

		&:hover i,
		&:focus i {
			.s-polygon-right-big-blue(); 
		}

		&:active i, &.active i {
			.s-polygon-right-big-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-right-big-lightblue();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-right-big-lightblue();
			}
		}
	}

	.btn-prev {
		i {
			.s-polygon-left-big-lightblue();
		}

		&:hover i,
		&:focus i {
			.s-polygon-left-big-blue();
		}

		&:active i, &.active i {
			.s-polygon-left-big-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-left-big-lightblue();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-left-big-lightblue();
			}
		}
	}
}
