.skin-carousel-teaser-product-box-vertical{
	
 	&.loading{
		display: none;
	}

	.caroufredsel_wrapper{
		height: 600px; 
		width: 300px;
		
	}	

	.carousel-teaser-container {
		border-bottom: 1px solid @c-grey80;
		position: relative;
		&.twoThird{
			width: 300px !important;
		}
		&.fullWidth{
			width: 960px !important;
		}
		
	}

	
	.carousel-header{
		width: 300px;
	}
	
	.carousel-nav {
	    height: 18px;
	    margin-left: 95px;
	    float: left;
	    position: absolute;
	    margin-top: 37px;
	    z-index: 100;

		
		.btn-next{
			width: 36px;
		    height: 36px;
		    display: block;
		    float: right;
		    margin-right: -11px;
		    outline: 0;
		    margin-top: -67px;
		    margin-left: 10px;
			-webkit-transform: rotate(-90deg); // safari/chrome
			-moz-transform: rotate(-90deg); // ff
			-ms-transform: rotate(-90deg); // ie
			-o-transform: rotate(-90deg); // opera						
			
			
			i {
				.s-flaps-teaser-next-white();
			}
	
			&:hover i{
				.s-flaps-teaser-next-black();
			}
			
			
		}	
		
		.btn-prev{
		    width: 36px;
		    height: 36px;
		    margin-left: 12px;
		    position: absolute;
		    margin-top: 504px; 
		    outline: 0;
			-webkit-transform: rotate(-90deg); // safari/chrome
			-moz-transform: rotate(-270deg); // ff
			-ms-transform: rotate(-270deg); // ie
			-o-transform: rotate(-270deg); // opera									

			i {
				.s-flaps-teaser-prev-white();
			}
	
			&:hover i{
				.s-flaps-teaser-prev-black();
			}
			
		}	
		
		
	}	
	
	.specialSeparator{
		width: 300px;
	    border-left: 1px solid #ccc;
	    border-right: 1px solid #ccc;
	    height: 23px;
	    position: absolute;
	    margin-top: -23px;
	    background: transparent;
	}
	
}