.skin-carousel-teaser-product-box-horizontal-checkout{
	
	margin-bottom: 40px;
	
	&.loading{
		display: none;
	}
	
	.carousel-teaser-container {
	
		border-bottom: 0px solid #cccccc !important;

		position: relative;
		&.twoThird{
			width: 640px !important;
		}
		&.fullWidth{
			width: 960px !important;
		}
		
		.carousel-teaser{
			width: 1660px !important;
		}
		
	}
	
	.caroufredsel_wrapper{
		width: 1280px !important;
		border-bottom: 1px solid #ccc;
	}	
	
	.carousel-header{
		width: 640px;
		border-bottom: 0px;
	}
	
	.close-link, .never-again{
		font-size: 14px;
		text-decoration: underline !important;
		
		&:hover{
			color: #0fa5b8;
		}
	}	
	
	.carousel-nav {
	    height: 18px;
	    margin-left: 97px;
	    float: left;
	    position: absolute;
	    z-index: 100;
	    width: 557px;
		
		.btn-next{
			width: 36px;
		    height: 36px;
		    display: block;
		    float: right;
		    margin-right: -632px;
		    margin-top: -35px;
		    outline: 0;
			
			i {
				.s-flaps-teaser-next-white();
			}
	
			&:hover i{
				.s-flaps-teaser-next-black();
			}
			
			
		}	
		
		.btn-prev{
			width: 36px;
			height: 36px;
			margin-left: -97px;
			display: block;	 
			margin-top: 10px;
			outline: 0;			

			i {
				.s-flaps-teaser-prev-white();
			}
	
			&:hover i{
				.s-flaps-teaser-prev-black();
			}

			
			
		}	
		
		
	}	
	
}