.skin-carousel-teaser-product-lazy-load-vertical {
	&.loading{
		display: none;
	}
	.carousel-teaser-container {
		width: 300px !important;
	}
    
	.caroufredsel_wrapper{
		height: 600px !important;
		width: 300px !important;
	}
	
	
	.carousel-header{
		height: 26px;

		h3{
			width: 310px;
			margin: 0 0 4px -10px;
		}
	}
	
	.carousel-nav {
		margin-right: 20px;
		margin-top: -4px;
		margin-left: 97px;
		height: 18px;
		float: right;
		position: absolute;
		z-index: 3000;
		
		.btn-next{
			width: 36px;
			height: 36px;
			margin-left: 25px;
			display: block;
			margin-top: -3px;
			outline: 0;
			-webkit-transform: rotate(-90deg); // safari/chrome
			-moz-transform: rotate(-90deg); // ff
			-ms-transform: rotate(-90deg); // ie
			-o-transform: rotate(-90deg); // opera					
			
			i {
				.s-flaps-teaser-next-white();
				margin-top: -15px;
		
			}
	
			&:hover i{
				.s-flaps-teaser-next-black();
			}
			
			
		}	
		
		.btn-prev{
			width: 36px;
			height: 36px;
			margin-left: 45px;
			display: block;	
			outline: 0;			

			i {
				.s-flaps-teaser-prev-white();
				margin-top: 510px;
				margin-left: -5px;
				-webkit-transform: rotate(-90deg); // safari/chrome
				-moz-transform: rotate(-90deg); // ff
				-ms-transform: rotate(-90deg); // ie
				-o-transform: rotate(-90deg); // opera					
			}
	
			&:hover i{
				.s-flaps-teaser-prev-black();
			}

			
			
		}	
		
		
	}


	
}
