.categoryseo {

  float: left;
  width: 100%;
  margin-bottom: ($spacing-unit*4);
  
  &__description,
  &__content {
    @include font-size(16px);
    @include line-height(24px);
    float: left;

  }

  .lessText {
    width: 89%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{$ipad-landscape, $ipad} {
      width: 95%;
    }
    @media #{$desktop} {
      width: 97%;
    }

  }

  &__content-title {
    color: $colour-dist-red;
    margin: ($spacing-unit*4) 0;
  }

  &__show-more {
    cursor: pointer;
    @include font-size(20px);
    float: right;
    margin-top: ($spacing-unit);
    margin-right: ($spacing-unit*2);

    &:hover,
    &:focus {
      border-color: $link-dark-blue;
      color: $link-dark-blue;
    }
  }


}
