.mod-lightbox-checkout-shipping-edit {

  .modal {
    display: block !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 500px;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    outline: 0;

    @media screen\0 {
      left: 34%;
    }

    @media screen\9 {
      left: 34%;
    }

    &.hidden {
      display: none !important;
    }

  }

  .modal-title {
    @include font-size(24px);
    padding: ($spacing-unit * 6) ($spacing-unit * 4) 0;
    text-align: left;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    margin: $spacing-unit * 4;
    pointer-events: none;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $colour-white;
    background-clip: padding-box;
    outline: 0;

    .box-address {
      padding: ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit - 4) ($spacing-unit * 2);
      position: relative;

      h3 {
        margin-bottom: $spacing-unit * 2;
      }

      &__preview {

        p {
          @include font-size(14px);
          font-family: Arial, Helvetica, sans-serif;
        }

      }


      &__edit {
        margin-top: $spacing-unit * 3;

        a {
          @include font-size(12px);
          color: $colour-dist-mid-grey;

          &:hover {
            color: $colour-dist-grey;
            text-decoration: underline;
          }

        }

      }

      &__form {
        padding: $spacing-unit * 4;

        &__field {

          input {
            @include font-size(16px);
            @include line-height(24px);
            border: 1px solid $colour-light-grey;
            color: $colour-dark-grey;
            margin-bottom: $spacing-unit * 3;
            padding: $spacing-unit ($spacing-unit * 2);
            width: 100%;

            &.disabled {
              background-color: $colour-mid-grey;
              color: $colour-dark-grey;
            }

            &.error {
              border: 2px solid $border-input-warning;
              margin-bottom: 0;
            }

          }

          label {
            display: none;
          }

          .field-msgs {

            .error {
              color: $colour-dist-red;
              margin-bottom: $spacing-unit * 2;
              margin-top: 0;
              text-align: left;
            }

          }

        }

        &__select {
          position: relative;

          &::after {
            border-left: $spacing-unit solid transparent;
            border-right: $spacing-unit solid transparent;
            border-top: $spacing-unit solid $colour-black;
            content: '';
            height: 0;
            margin: ($spacing-unit * 3) ($spacing-unit * 2) ($spacing-unit * 3);
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
          }

          select {
            @include font-size(16px);
            @include line-height(24px);
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid $colour-light-grey;
            border-radius: 0;
            color: $colour-dark-grey;
            height: 36px;
            margin-bottom: $spacing-unit * 3;
            padding: ($spacing-unit + 1) ($spacing-unit * 2);
            width: 100%;
          }

        }

        &__submit {
          display: flex;
          justify-content: flex-start;

          button {
            height: auto;
            min-height: 31px;
            width: 50%;
          }

          a {
            color: $colour-dist-mid-grey;
            margin-left: $spacing-unit;
            padding: $spacing-unit + 1;

            &:hover {
              color: $colour-dist-grey;
              text-decoration: underline;
            }

          }

        }

        &--submit {
          opacity: .5;
          transition: .5s ease;
        }


        &--error {
          background-color: $colour-dist-red;
          opacity: .5;
          transition: .5s ease;
        }

      }

    }

  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
  }

}
