@import 'global-utilities';

.related-pages {
  @include font-size(12px);
  @include line-height(20px);

  font-weight: $font-weight-medium;
  margin: 30px 0;

  &__section {
    color: #8c8c8c;
    margin-bottom: $spacing-unit * 3;
  }

  a {
    @include font-size(12px);
    @include line-height(20px);
    color: $colour-mid-grey;
    transition: none;

    &:hover {
      color: #545a5f;
    }
  }
}
