@import 'global-utilities';

:host {
  margin-bottom: ($spacing-unit * 4);
  overflow: hidden;
  position: relative;
  display: block;

  @media #{$ipad} {
    display: flex;
  }

  @include tabletPlus {
    margin-bottom: ($spacing-unit * 6);
  }
}

.banner-normal {
  &--HERO {
    img {
      height: auto;
      width: 100%;
    }
  }
  &--NORMAL {
    .item {
      &__links {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  &--CARD {
    .card__item {
      background-color: $colour-white;
      border-radius: ($spacing-unit - 3);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-unit * 4;
      overflow: hidden;

      @media #{$ipad} {
        margin-bottom: $spacing-unit * 8;
      }

      &__img {
        img {
          width: 100%;
          @include img-fluid;
          max-height: 90px;
        }
      }

      &__info {
        padding: $spacing-unit * 4;
      }

      &__title {
        @include font-size(16px);
        @include line-height(19px);
        color: $colour-black;
        font-weight: $font-weight-bold;
        letter-spacing: -0.3px;
      }

      &__description {
        @include font-size(12px);
        @include line-height(20px);
        color: $colour-dark-grey;
        letter-spacing: -0.2px;
        margin-top: $spacing-unit * 4;
      }

      &__cta {
        @include font-size(12px);
        @include line-height(20px);
        border: none;
        display: inline-block;
        margin-top: $spacing-unit * 2;
        padding: 0;
      }
    }
  }

  &--ARTICLE {
    display: flex;
    flex-direction: column;

    @media #{$ipad-landscape} {
      flex-direction: row-reverse;
    }

    &__bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      order: 2;
      overflow: hidden;
      width: 50%;
    }

    .bannner-article {
      box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) 0 rgb(0 0 0 / 15%);
      font-weight: $font-weight-medium;
      float: left;
      margin-bottom: ($spacing-unit * 4);
      overflow: hidden;
      width: 100%;

      @media #{$ipad} {
        margin: 0;
      }

      &__info {
        background-color: $colour-white;
        order: 1;
        width: 100%;

        @media #{$ipad} {
          width: 100%;
        }

        .article-link {
          img {
            height: 100%;
            width: 100%;
          }
        }

        .heading {
          @include font-size(19.2px);
          @include line-height(22px);
          color: $colour-dark-grey;
          display: block;
          font-weight: $font-weight-bold;
          letter-spacing: -0.3px;
          margin: 0 0 ($spacing-unit * 2) 0;
          &:hover {
            text-decoration: none;
          }
        }

        .description {
          @include font-size(12px);
          @include line-height(24px);
          color: $colour-dark-grey;
          display: block;
          font-weight: $font-weight-medium;
          letter-spacing: -0.2px;
          margin-top: ($spacing-unit * 2);
          &:hover {
            text-decoration: none;
          }
        }

        .cta {
          @include font-size(12px);
          @include line-height(14px);
          border: ($spacing-unit - 4) solid #f69f1d;
          color: $colour-mid-black;
          display: inline-block;
          font-weight: $font-weight-bold;
          margin-top: ($spacing-unit * 4);
          min-width: 97px;
          padding: ($spacing-unit);
          text-align: center;

          fa-icon {
            margin-left: ($spacing-unit * 2);
          }
        }

        &--left {
          .article-link {
            img {
              align-items: center;
              justify-content: center;
              overflow: hidden;
            }
          }
        }

        &--right {
          padding: ($spacing-unit * 4) ($spacing-unit * 4);
          @media #{$desktop-max} {
            padding: ($spacing-unit * 4);
            height: 100%;
            justify-content: space-evenly;
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    p:first-child {
      margin-bottom: 0;
    }
    &.sbc-project {
      flex-direction: column;
      width: 90%;
      border: 1px solid $colour-light-grey;
      .bannner-article__info {
        &--left {
          border-bottom: 1px solid $colour-light-grey;
        }
        &--right {
          padding-bottom: ($spacing-unit * 4);
          .cta {
            max-width: 50%;
            margin-top: 0;
          }
          @media #{$mobile-only} {
            .heading {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  &--HERO {
    .banner {
      .banner-hero {
        &__img-wrapper {
          margin-bottom: 20px;
        }

        &__text {
          .heading {
            @include font-size(20px);
            @include line-height(20px);
            color: $colour-dark-grey;
            font-weight: $font-weight-medium;
            margin: ($spacing-unit * 2) 0;

            @media #{$ipad-landscape} {
              margin: 0;
            }
            &:hover {
              text-decoration: none;
            }
          }

          .description {
            @include font-size(15px);
            @include line-height(24px);
            color: $colour-dark-grey;
            font-weight: $font-weight-medium;
            margin-top: ($spacing-unit * 4);
            overflow: hidden;
          }

          .cta {
            @include font-size(16px);
            @include transition(all 0.2s ease-in-out);
            background-color: $colour-green;
            color: $colour-white;
            display: inline-block;
            font-weight: $font-weight-bold;
            margin-top: 20px;
            min-width: 157px;
            padding: ($spacing-unit * 2);
            text-align: center;
            outline: 0;
            overflow: hidden;
            width: 100%;

            fa-icon {
              margin-left: ($spacing-unit * 2);
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
