<div class="row">
  <div class="col-lg-12">
    <hr />
  </div>
  <div class="col-lg-12">
    <h2 id="accountInformation_change_password">
      {{ 'form.change_password' | cxTranslate }}
      <br />
      <br />
    </h2>
  </div>
</div>
<form [formGroup]="userPasswordChangeForm">
  <app-action-message id="userChangeId" [type]="responseType" [message]="responseMessage"></app-action-message>

  <div class="form-group row">
    <label class="col-sm-5 col-form-label" id="lblaccountUserChangePassword" for="accountUserChange.password">
      {{ 'form.current_password' | cxTranslate }} *
    </label>
    <div class="col-sm-7 col-lg-6">
      <input
        class="form-control"
        id="accountUserChange.password"
        [(ngModel)]="currentPassword"
        [class.is-correct]="userPasswordChangeForm.get('currentPassword').valid"
        [class.is-invalid]="
          userPasswordChangeForm.get('currentPassword').errors && userPasswordChangeForm.get('currentPassword').touched
        "
        type="password"
        formControlName="currentPassword"
      />
      <small
        *ngIf="
          userPasswordChangeForm.get('currentPassword').errors && userPasswordChangeForm.get('currentPassword').touched
        "
        class="error"
      >
        {{ 'validations.enter_pwd' | cxTranslate }}
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-5 col-form-label" id="accountUserChange-newPassword" for="accountUserChange.newPassword">
      {{ 'form.new_password' | cxTranslate }} *
    </label>
    <div class="col-sm-7 col-lg-6">
      <input
        class="form-control"
        id="accountUserChange.newPassword"
        [(ngModel)]="newPassword"
        [class.is-correct]="userPasswordChangeForm.get('newPassword').valid"
        [class.is-invalid]="
          userPasswordChangeForm.get('newPassword').errors && userPasswordChangeForm.get('newPassword').touched
        "
        type="password"
        formControlName="newPassword"
      />
      <small
        *ngIf="
          userPasswordChangeForm.get('newPassword').hasError('required') &&
          userPasswordChangeForm.get('newPassword').touched
        "
        class="error"
      >
        {{ 'validations.pwd_error_required' | cxTranslate }}
      </small>
      <small
        *ngIf="
          userPasswordChangeForm.get('newPassword').hasError('minlength') &&
          userPasswordChangeForm.get('newPassword').touched
        "
        class="error"
      >
        {{ 'validations.pwd_error_required' | cxTranslate }}
      </small>
      <small
        *ngIf="
          userPasswordChangeForm.get('newPassword').hasError('pattern') &&
          userPasswordChangeForm.get('newPassword').touched
        "
        class="error"
      >
        {{ 'validations.pwd_pattern_error' | cxTranslate }}
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label
      class="col-sm-5 col-form-label"
      id="accountUserChange-confirmPassword"
      for="accountUserChange.confirmPassword"
    >
      {{ 'form.confirm_new_password' | cxTranslate }} *
    </label>
    <div class="col-sm-7 col-lg-6">
      <input
        class="form-control"
        id="accountUserChange.confirmPassword"
        [(ngModel)]="confirmPassword"
        [class.is-correct]="userPasswordChangeForm.get('confirmPassword')?.valid"
        [class.is-invalid]="
          userPasswordChangeForm.get('confirmPassword').errors && userPasswordChangeForm.get('confirmPassword').touched
        "
        type="password"
        formControlName="confirmPassword"
      />
      <small
        *ngIf="
          userPasswordChangeForm.get('confirmPassword').hasError('required') &&
          userPasswordChangeForm.get('confirmPassword').touched
        "
        class="error"
      >
        {{ 'validations.pwd_error_required' | cxTranslate }}
      </small>
      <small
        *ngIf="
          userPasswordChangeForm.get('confirmPassword').hasError('minlength') &&
          userPasswordChangeForm.get('confirmPassword').touched
        "
        class="error"
      >
        {{ 'validations.pwd_error_required' | cxTranslate }}
      </small>
      <small
        *ngIf="
          userPasswordChangeForm.get('confirmPassword').hasError('noMatch') &&
          userPasswordChangeForm.get('confirmPassword').touched
        "
        class="error"
      >
        {{ 'validations.pwd_no_match_error' | cxTranslate }}
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-5 col-form-label" id="accountUserChange-buttonChange" for="buttonChange"></label>
    <div class="col-sm-7 col-lg-6">
      <button
        class="btn btn-secondary btn-distrelec float-right ellipsis"
        id="btnChangeUserPassword"
        [disabled]="buttonDisabled"
        [class.disabled-button]="!userPasswordChangeForm.valid"
        (click)="changeUserPassword()"
      >
        {{ (updating ? 'form.please_wait' : 'form.change') | cxTranslate }}
        <div class="float-right mr-2">
          <fa-icon *ngIf="!buttonDisabled" [icon]="faAngleRight"></fa-icon>
        </div>
      </button>
    </div>
  </div>
</form>
