.skin-toolsitem-compare-popup-plp {
  line-height: normal;
  background-color: $colour-white;
  border-radius: $spacing-unit;
  bottom: -120px;
  box-shadow: 1px 1px 8px rgba(100, 100, 100, 0.3);
  font-family: $font-montserrat;
  display: none;
  height: auto;
  overflow: hidden;
  position: fixed;
  right: 20px;
  transition: all 0.2s ease-out;
  width: 231px;
  z-index: 10;

  &.active {

    @media #{$ipad-landscape} {
      bottom: 20px;
    }

  }

  .plp-compare {

    &__header {
      background-color: $toolsitem-compare-header-bg;
      height: 36px;
      overflow: hidden;
      position: relative;
    }

    &__title,
    &__item-added {
      @include font-size(16px);
      color: $colour-white;
      display: inline-block;
      padding: ($spacing-unit*2) ($spacing-unit*3);

    }

    &__item-added {
      background-color: $toolsitem-compare-added-item-bg;
      bottom: 0;
      display: none;
      left: 0;
      position: absolute;
      right: 0;

      &.showhide {
        animation: item-added-show 2s 0s;
        bottom: -40px;
        display: block;
      }

    }

    @keyframes item-added-show {

      0% {
        bottom: 0;
      }
      90% {
        bottom: 0;
      }
      100% {
        bottom: -40px;
      }

    }

    &__compare-link {
      @include font-size(13px);
      border-radius: $spacing-unit - 3;
      margin: ($spacing-unit*2);
      padding: ($spacing-unit+3);
      text-align: center;
      float: left;
      width: 55%;

    }

    .skin-toolsitem-compare-remove-all-plp {

      float: left;
      width: 32%;

      .ico-remove {
        @include font-size(13px);
        border: 1px solid $toolsitem-compare-reset-border;
        border-radius: $spacing-unit - 3;
        color: $toolsitem-compare-reset-bg;
        display: block;
        line-height: normal;
        margin: $spacing-unit*2 0;
        padding: ($spacing-unit+2);
        position: relative;
        text-align: center;
        top: initial;

        &:hover {
          background-color: $toolsitem-compare-bg
        }

      }

    }

  }

}

.isie7,
.isie8 {

  .skin-toolsitem-compare-popup-plp {
    display: none;
  }

}