.skin-toolsitem-shopping-plp {

  .ico {
    @include font-size(13px);
    @include line-height(18px);
    background: $toolsitem-shopping-bg-grey;
    border-radius: 2px;
    display: block;
    padding: ($spacing-unit + 1) ($spacing-unit * 3);
    text-align: center;

    i {
      background: none;
      height: auto;
      padding-right: ($spacing-unit);
      width: auto;
    }

    &:hover {

      i {
        background: none;
        height: auto;
        width: auto;
      }

    }

  }

}
