.skin-toolsitem-print-cart {
  float: left;

  a {
    @include font-size(12px);
    @include line-height(20px);
    color: $link-blue;
    display: block;
    transition: background-color .2s ease;

    &:hover {
      color: $link-dark-blue;
    }

  }

}