.mod-categorynav {

	@modCategorynavItemPadding: 14px 39px 16px 12px;

	.list-title {
		padding: 14px 39px 16px 12px;
		color:@c-red;
		#typo > .size-m();
	}

	ul {
		border-top: 1px solid @c-grey80;
		margin-bottom: 50px;

		li {
			a {
				display:block;
				position: relative;
				border-bottom: 1px solid @c-grey80;
				padding: @modCategorynavItemPadding;
				#typo > .size-x-c();

				i {
					display: block;
					position: absolute;
					right: 15px;
					top: 12px;
					.s-polygon-right-small-lightblue();
				}

				&:hover i, .hover i {
					.s-polygon-right-small-blue();
				}
			}
		}
	}
}