@import 'global-utilities';

.add-delivery-address {
  display: flex;
  align-items: center;
  padding-left: 0;

  span {
    @include font-size(14px);
    @include line-height(24px);
    font-weight: $font-weight-semiBold;
    margin-left: $spacing-unit * 3;
  }
}
