.mod-maincategorynav {
  background-color: $colour-pale-grey;
  display: none;
  left: 0;
  margin-top: $spacing-unit * 10 - 1;
  position: relative;
  width: 300px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);

  &:before {

    @media #{$ipad-landscape}{
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 10px solid $colour-black;
      content: '';
      height: 0;
      left: 80px;
      position: absolute;
      top: -10px;
      width: 0;
    }

  }

  &:after {

    @media #{$ipad-landscape} {
      border-top: 4px solid $colour-black;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  }

  &.mobile-active {
    display: block;
    height: calc(100% - 182px);
    left: 0;
    margin-top: 0;
    overflow: scroll;
    padding-bottom: $spacing-unit * 10;
    position: fixed;
    top: 168px;
    width: 100%;
    z-index: 900;
  }


  .level-1-wrapper {

    @media #{$desktop} {
      height: 607px;
      overflow: auto;
      padding-left: ($spacing-unit * 4);
      margin-left: ($spacing-unit * -4);
    }

    &.autoscroll {
      overflow: auto;

      .main_li {

        .content-l1, .content-l2, .content-l3 {
          left: 280px;
        }

      }

    }

  }

  .main_li {
    float: left;
    width: 100%;

      .level_1 {

        .level2-toggle {
          float: right;
          text-align: center;
          width: 15%;
          padding: ($spacing-unit) ($spacing-unit * 3);

          &.active {
            background: $colour-dist-red;
            color: $colour-white;
          }

          @media #{$ipad-landscape} {
            display: none;
          }

          .svg-inline--fa {
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
          }

        }

        .menu {
          display: none;
        }

        .link_l2 {
          width: 100% !important;

          .level1titleClass {
            color: $maincategorynav-c-grey;

            @media #{$desktop} {
              color: $maincategorynav-c-dark-grey;
            }
          }
        }


        .link_l1, .link_l2, .link_l3 , .link_l4{
          display: inline-block;
          padding: ($spacing-unit) ($spacing-unit * 3);
          float: left;
          width: 85%;

          @media #{$ipad-landscape} {
            display: block;
            padding: ($spacing-unit - 4) ($spacing-unit * 3);
            width: 100%;
          }

          i {
            display: none;
            float: right;
            font-size: 18px;
            font-weight: bold;
            margin-top: 3px;

            @media #{$ipad-landscape} {
              display: inline-block;
            }
          }

          .text {
            display: inline-block;
            float: left;
            font-weight: 500;
            max-width: 240px;
          }

          .level1titleClass {
            @include font-size(13px);
            -webkit-font-smoothing: antialiased;

            @media #{$ipad-landscape,$desktop} {
              color: $maincategorynav-c-dark-grey;
              display: block;

            }


          }

        }

    }

    .content-l1, .content-l2, .content-l3 {
      background-color: $maincategorynav-c-dark-grey;
      display: none;
      float: left;
      height: 100%;
      left: 0;
      position: relative;
      top: 0;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);

      &:after {

        @media #{$ipad-landscape} {
          border-top: 4px solid $colour-black;
          content: '';
          height: 0;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

      }

      @media #{$ipad-landscape} {
        background-color: $colour-pale-grey;
        background-position: 317px 451px;
        background-repeat: no-repeat;
        background-size: 100%;
        border-left: 1px solid $colour-black;
        border-radius: 0 2px 2px 0;
        left: 300px;
        position: absolute;
        width: 301px;
      }

      @media #{$desktop} {
        background-color: $colour-pale-grey;
        width: 301px;
      }

      &.active {
        display: block;
        width: 100%;

        @media #{$ipad-landscape} {
          display: none;
        }

      }

    }

    &:first-of-type {

      .level_1 {

        .link_l1 {

          @media #{$ipad-landscape} {
            padding-top: ($spacing-unit * 2);
          }

        }

      }
    }

    &:nth-last-of-type(2) {

      .level_1 {

        .link_l1 {

          .level1titleClass {
            color: $maincategorynav-c-gold;
            font-weight: bold;
          }

        }

      }


      &:hover {

        .level_1 {

          .link_l1 {
            .level1titleClass,
            i {
              color: $colour-white;
            }

          }

        }

      }

    }

    &:nth-last-of-type(3) {

      .level_1 {

        .link_l1 {

          .level1titleClass {
            color: $colour-dist-red;
            font-weight: bold;
          }

        }

      }


      &:hover {

        .level_1 {

          .link_l1 {
            background: $colour-dist-red;

            .level1titleClass,
            i {
              color: $colour-white;
            }

          }

        }

      }

    }

    &:hover {

      .content-l1 {

        @media #{$ipad-landscape} {
          display: block;
        }

      }
      .level_1 {

        .link_l1 {
          background: $colour-dist-red;

          span,
          i {
            color: $colour-white;
          }

        }

      }

    }

  }

  .level2  {

    &:first-of-type {
      .level_1 {

        .link_l2 {

          @media #{$ipad-landscape} {
            padding-top: ($spacing-unit * 2);
          }
        }
      }

    }

    &:hover {

      .content-l2{

        @media #{$ipad-landscape} {
          display: block;
        }

      }

      .level_1 {

        .link_l2 {
          background: $colour-dist-red;

          span,
          i {
            color: $colour-white;
          }

        }

      }

    }



  }

  .level3  {

    &:first-of-type {
      .level_1 {

        .link_l3 {

          @media #{$ipad-landscape} {
            padding-top: ($spacing-unit * 2);
          }
        }
      }

    }

    &:hover {

      .content-l3 {

        @media #{$ipad-landscape} {
          display: block;
        }

      }

      .level_1 {

        .link_l3 {
          background: $colour-dist-red;

          span,
          i {
            color: $colour-white;
          }

        }

      }

    }

  }

  .level4  {

    &:first-of-type {
      .level_1 {

        .link_l4 {

          @media #{$ipad-landscape} {
            padding-top: ($spacing-unit * 2);
          }
        }
      }

    }

    &:hover {

      .level_1 {

        .link_l4 {
          background: $colour-dist-red;

          span,
          i {
            color: $colour-white;
          }

        }

      }

    }

  }
}

