@import 'global-utilities';

.notify-me {
  z-index: $zindex-modal;
  top: 40%;
  left: 0%;
  width: 100%;
  position: fixed;
  background: $colour-white;

  @media #{$ipad-landscape} {
    left: 35%;
    max-width: 400px;
  }

  &__head {
    @include font-size(20px);
    @include line-height(26px);
    text-align: center;
    font-weight: $font-weight-bold;
    padding: ($spacing-unit * 4) ($spacing-unit * 4) 0 ($spacing-unit * 4);
    border-bottom: 1px solid $border-dist-grey;

    display: flex;

    &--title {
      width: 100%;
    }

    &--btn {
      padding: 0;
      margin-top: -($spacing-unit * 3);
    }
  }

  &__body {
    padding: $spacing-unit * 4;

    &--title,
    &--success,
    &--error {
      @include font-size(14px);
      @include line-height(20px);
      font-weight: $font-weight-medium;
      margin-bottom: $spacing-unit * 5;
    }
    &--form {
      display: flex;

      &-input {
        @include font-size(13px);
        @include line-height(20px);
        flex-grow: 1;
        max-width: 100%;
        height: 41px;
        width: 230px;
        border-radius: 0%;
      }

      &-btn {
        width: 140px;
        margin-top: 0;
        margin-left: 5px;
        @include font-size(13px);
        font-weight: $font-weight-semiBold;
        line-height: 16px;
        padding: 5px 10px;
        height: 41px;
        background-color: $colour-green;
        color: white;
        border-radius: 0%;
      }
    }

    &--success {
      &-text {
        text-align: center;
        margin: ($spacing-unit * 4) 0;
      }

      &-btn {
        width: 100%;
        @include font-size(13px);
        font-weight: $font-weight-semiBold;
        line-height: 16px;
        padding: ($spacing-unit) ($spacing-unit * 2);
        height: 41px;
        background-color: $colour-green;
        color: white;
        border-radius: 0%;
      }
    }

    &--privacy-info {
      @include font-size(11px);
      @include line-height(17px);

      margin-top: ($spacing-unit * 2);
    }
  }
}
