@import 'global-utilities';

:host {
  text-align: center;
  width: 100%;

  .logo-link {
    display: inline-block;
    line-height: 1;
    margin: 0 auto;
    max-height: 33px;
    max-width: 190px;
    padding-left: 0;
    position: relative;

    img {
      display: inline-block;
      max-width: 100%;
      width: 100%;
    }
  }
}
