.mod-address-list-filter {
	padding: 0 10px;
	margin: 20px 0;
	position: relative;

	.address-list-filter{
		width: 100%;
		height: 42px;
	}

	.filter-icon{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 11px;
		right: 25px;
		display: block;

		&.search{
			.s-loupe-black();
		}
		&.clear{
			.s-remove-black();
			top: 16px;
			right: 29px;
			cursor: pointer;
		}
	}

}