@_mod-manufacturer-thumbs_width: 96px;

.skin-carousel-teaser-item-manufacturer {
	width: 160px;
	height: 260px;
	display: table;

	.thumb-link {
		width: @_mod-category-thumbs_width;
		height: @_mod-category-thumbs_height;
		position: relative;
		display: block;
		margin: 43px 12px 12px 12px;
		overflow: hidden;

		i {
			.s-category-frame-white();
		}

		&:hover i,
		&:focus i {
			.s-category-frame-blue();
		}

		&:active i, &.active i {
			.s-category-frame-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-category-frame-white();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-category-frame-white();
			}
		}
	}

	.thumb-row {
		display: table-row;
	}

	.thumb {
		width: @_mod-category-thumbs_width;
		height: @_mod-category-thumbs_width;
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		img {
			max-height: @_mod-manufacturer-thumbs_width;
			max-width: @_mod-manufacturer-thumbs_width;
			position: relative;
			background: #000;
			display: inline;
		}

		i {
			position: absolute;
			left: 0;
			top: 0;
		}

	}

	.thumb-title {
		position: relative;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
		width: @_mod-category-thumbs_width;
		height: @_mod-category-thumbs_title_height;
		#typo > .size-s;
		color: @c-grey20;
	}
}
