.skin-carousel-teaser-item-product-vertical {
	position: relative !important;
	float: none !important;
	
	border-left: 1px solid @c-grey80;
	border-right: 1px solid @c-grey80;
	border-bottom: 1px solid @c-grey80;
	
	width: 300px;
	height: 250px;

	&:first-child {
		
	}

	& > a {
		color: inherit;
		display: table;
		padding: 20px 0 40px 0;  // Padding Bottom is slightly bigger to give the visual impression, that the image is slightly higher than vertical centered
		height: 100%;
		width: 100%;
	}

	.hd {
		position: absolute;
		left: 20px;
		top: 0;
		right: 20px;
		padding-top: 10px;
		.promo-label-wrap {
			float: right;
		}
	}

	.bd {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		.item-image {
			display: inline-block;
			margin-top: -20px;
			width: 208px;
			height: 117px;
		}
	}

	.ft {
		position: absolute;
		left: 20px;
		bottom: 0;
		right: 20px;
		padding-bottom: 20px;
		padding: 0px 0 5px 0;
		



		.item-name {
			margin-bottom: 0;
			width: 260px;
			color: @c-black;
			font-weight: bold;
			font-size: 14px;
		}
		.promotion-text {
			display: block;
			#typo > .size-s();
		}
		
		.ft-description{
			border-bottom: 1px solid @c-grey80;
			line-height: 0px;
		}
		
		
		.btn {
			#typo > .size-c-b();
			line-height: 19px;
			margin-top: 10px;
			margin-bottom: 10px;
			float: left;
			color: @c-white;
			width: 71px;
			height: 20px;
			text-align: center;
			vertical-align: middle;
			.lt-ie10 & {
				width: 69px;
			}

		}		
		
		
		.btn-buy {
			background: @c-redT;

			&:hover {
				background: #AA1936C;
			}
		}		
		
		
		.product-price {
			font-size: 29px;
			letter-spacing: 0;
			float: right;
			margin-top: 9px;

			.lt-ie10 & {
				font-size: 26px;
			}

			.currency {
				#typo > .size-c-b();
				float: left;
				margin-right: -4px;
				-webkit-transform: rotate(-90deg); // safari/chrome
				-moz-transform: rotate(-90deg); // ff
				-ms-transform: rotate(-90deg); // ie
				-o-transform: rotate(-90deg); // opera

				.lt-ie9 & {
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); // transform rotate for <ie9
				}
			}
		}
	}




		// Hover
		&:hover {
			background-color: @c-white;
			.item-name {
				color: #AA1936;
			}
			.ico {
				visibility: visible;
			}
		}

	
	
	
}
