.skin-carousel-teaser-item-product-horizontal-box-checkout {
	
	position: relative !important;
	float: left !important;
	
	border-left: 1px solid @c-grey80;

	
	width: 320px;
	height: 150px;
	 
	&:last-child {
		border-right: 1px solid @c-grey80;
	}

	& > a {
		color: inherit;
		display: table;
		padding: 20px 0 40px 0;  // Padding Bottom is slightly bigger to give the visual impression, that the image is slightly higher than vertical centered
		height: 100%;
		width: 100%;
	}

	.hd {
		position: absolute;
		left: 20px;
		top: 0;
		right: 20px;
		padding-top: 10px;
		.promo-label-wrap {
			float: right;
		}
	}

	.bd {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		.item-image {
			display: inline-block;
		    margin-top: 7px;
		    width: 129px;
		    height: 90px;
		    margin-left: 18px;
		    margin-right: 3px;
		}
	}

	.ft {
		position: absolute; 
		left: 236px; 
		bottom: 0;
		right: 20px;
		padding-bottom: 20px;
		padding: 0px 0 5px 0;
		



		.item-name {
			margin-bottom: 0;
			width: 260px;
			color: @c-black;
			font-weight: bold;
			font-size: 14px;
		}
		.promotion-text {
			display: block;
			#typo > .size-s();
		}
		
		.ft-description{
			border-bottom: 1px solid @c-grey80;
			line-height: 0px;
		}
		
		
		.btn {
			#typo > .size-c-b();
			line-height: 19px;
			margin-top: 10px;
			margin-bottom: 10px;
			float: left;
			color: @c-white;
			width: 71px;
			height: 20px;
			text-align: center;
			vertical-align: middle;
			.lt-ie10 & {
				width: 69px;
			}

		}		
		
		
		.btn-buy {
			background: @c-redT;

			&:hover {
				background: #AA1936C;
			}
		}		
		
		
		.product-price {
			font-size: 29px;
			letter-spacing: 0;
			float: right;
			margin-top: 9px;

			.lt-ie10 & {
				font-size: 26px;
			}

			.currency {
				#typo > .size-c-b();
				float: left;
				margin-right: -4px;
				-webkit-transform: rotate(-90deg); // safari/chrome
				-moz-transform: rotate(-90deg); // ff
				-ms-transform: rotate(-90deg); // ie
				-o-transform: rotate(-90deg); // opera

				.lt-ie9 & {
					filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); // transform rotate for <ie9
				}
			}
		}
	}




		// Hover
		&:hover {
			background-color: @c-white;
			.item-name {
				color: #AA1936;
			}
			.ico {
				visibility: visible;
			}
		}


	#wrapper {
	  margin-right: 200px;
	}
	
	#leftColumn {
	  float: left;
	  width: 45%;
	  margin-top: -5px;
	}
	
	#rightColumn {
	  float: right;
	  width: 149px;
	  margin-right: -190px; 
	  font-size: 13px;
	  
	  .manufacturerName{
	  	font-weight: 600;
	  	width: 140px;
	  	margin-bottom: -5px;
	  }
	}
	
	#cleared {
	  clear: both;
	}
	  
	
	
	
	#wrapper2 {
	  margin-right: 200px;
	  
	  .priceTeaserItem{
	    margin-top: 4px;
	    position: relative;
	    margin-left: 81px;
	  }
	}
	
	#leftColumn2 {
		float: left;
		width: 100px;
		font-weight: 600;
		font-size: 13px;
	}
	
	#leftColumn2long {
		float: left;
		width: 150px;
		font-weight: 600;
		font-size: 13px;
		white-space: pre-line;
	}		
	
	#leftColumn2Price {
		float: left;
		width: 50px;
		font-weight: 600;
		font-size: 13px;
	}	
	
	#rightColumn2 {
	    float: right;
	    margin-right: -141px;
	    font-size: 13px;
	}
	#cleared2 {
	  clear: both;
	}		
	
	
	.ft-description{
		font-size: 12px;
	    margin-left: 17px;
	    margin-top: 4px;
		
		h3{
			width: 278px;	
			font-weight: bold;	
		}
	}
		
	
	
}
