.skin-carousel-teaser-item-product {
	border-left: 1px solid @c-grey80;
	width: 320px;
	height: 310px;

	&:first-child {
		border-left: 1px solid @c-grey80;
	}
	
	& > a {
		color: inherit;
		display: table;
		padding: 20px 0 40px 0;  // Padding Bottom is slightly bigger to give the visual impression, that the image is slightly higher than vertical centered
		height: 100%;
		width: 100%;
	}

	.hd {
		position: absolute;
		left: 20px;
		top: 0;
		right: 20px;
		padding-top: 20px;
		.promo-label-wrap {
			float: right;
		}
	}

	.bd {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		.item-image {
			display: inline-block;
		}
	}

	.ft {
		position: absolute;
		left: 20px;
		bottom: 0;
		right: 20px;
		padding-bottom: 20px;

		.item-name {
			margin-bottom: 0;
			width: 280px;
			color: @c-red;
			#typo > .size-m();
		}
		.promotion-text {
			display: block;
			#typo > .size-s();
		}
		.product-price {
			display: block;
			#typo > .size-m();
			span {
				#typo > .size-xs();
			}
		}
	}

	.ctrls {
		width: 30px;
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 10;

		&.compensate-promo {
			top: 64px;
		}
	}

	.ico {
		visibility: hidden;
		&.active {
			visibility: visible;
		}
	}

	// Hover
	&:hover {
		background-color: @c-white;
		.item-name {
			color: #AA1936;
		}
		.ico {
			visibility: visible;
		}
	}
	
}
