@import 'global-utilities';

.alert-icon-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  .general {
    color: $colour-info-label;
  }

  .more-information {
    color: $colour-dist-grey;
  }

  .alert-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  app-icon {
    display: flex;
  }
}

.cross-icon-wrapper {
  margin-left: auto;
}

.system-alert {
  display: flex;
  padding: ($spacing-unit * 3+1);
  justify-content: center;
  align-items: center;
  gap: ($spacing-unit * 2);
  text-align: center;

  .alert-container {
    margin-left: auto;
  }

  .alert-title {
    @include typography-text-sm;
    font-weight: $font-weight-medium;
  }
}

.regular-alert {
  border-radius: 4px;
  display: flex;
  padding: ($spacing-unit * 2 + 2);
  gap: ($spacing-unit + 3);

  .alert-title {
    @include typography-text-sm;
    font-weight: $font-weight-medium;
  }
}

.alert-box {
  display: flex;
  max-width: 675px;
  padding: ($spacing-unit * 3+1);
  gap: ($spacing-unit * 2);

  .alert-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
  }

  .alert-title {
    @include typography-display-sm;
    font-weight: $font-weight-semiBold;
  }

  .alert-content {
    @include typography-text-sm;
    font-weight: $font-weight-normal;
  }
}

.general {
  background-color: $colour-info-blue;
}
.positive {
  background-color: $colour-success-green;
}
.warning {
  background-color: $ux-banner-warning-bg;
}
.negative {
  background-color: $colour-alert-red;
}
.more-information {
  background-color: $ux-hover-state;
}
