<div *ngIf="!alertHidden" [class]="[alertType, bannerType]" [id]="bannerType + '-' + alertType">
  <div *ngIf="alertType !== 'system-alert'" class="alert-icon-wrapper" [id]="bannerType + '-' + alertType + 'icon'">
    <app-icon [icon]="icon"></app-icon>
  </div>
  <div class="alert-container alert-title">
    <ng-content></ng-content>
  </div>
  <div *ngIf="alertType === 'system-alert'" class="cross-icon-wrapper" [id]="bannerType + '-' + alertType + icon">
    <app-icon [icon]="cross" (click)="crossClick()"></app-icon>
  </div>
</div>
