@import 'global-utilities';

@keyframes fadeIn {
  0% {
    background-color: rgba($colour-black, 0);
  }
  100% {
    background-color: rgba($colour-black, 0.8);
  }
}

.backdrop-module {
  background-color: rgba($colour-black, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;

  &.lightTheme {
    background-color: rgba($colour-white, 0.7) !important;
  }

  &.op_025 {
    opacity: 0.25;
  }

  &.fade-in {
    animation: fadeIn 0.2s;
    animation-fill-mode: forwards;
  }
}
