.skin-manufacture-store-overview-alphabet {

	ul.row1, ul.row2, ul.row3 {
		display: table;
		border-collapse: collapse;
		table-layout: fixed; /* fixed, for equal spacing */
	}

	ul.row2, ul.row3 {
		margin-top: -1px;
	}

	 ul > li {
	 	width: 36px;
		height: 34px;
		vertical-align: middle;
		border: 1px solid @c-grey80;
		text-align: center;
		display: table-cell;

		&.activeCell:hover, &.activeCell:focus {
			background-color: #AA1936;
			color: @c-greyE;
		}

		&.activeCell .alphaNumLink {
			color: @c-grey32;

			&:hover, &focus {
				color: @c-greyC;
			}
		}

		&.inactiveCell {
			background-color: @c-grey80;
			color: @c-greyC;
		}
	 }

			 .alphaNumLink > span {
				padding: 10px;
			 }

}
