.skin-manufacture-store-overview-list {

	.manufacturerCategoryTitle {
		margin-bottom: 0px;
	}

	.hashJumpPlaceholder {
		margin-bottom: 32px;
	}

	.listBlockHeader{
		padding: 7px 0px;
		#border > .border-std(0px, 0px, 1px, 0px, c-grey80);
		margin-bottom: 7px;
	}

	.listBlockDetail li > a > span {
		width: 214px;
	}

}
