.skin-metahd-suggest-notfound {

  .container-suggest {
    left: 210px;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 290px;
    z-index: 1100;

    &:before {
      border-color: transparent transparent $border-mod-suggest-not-found-grey-secondary transparent;
      left: 50%;
    }

    .content {
      border-bottom: 1px solid $border-mod-suggest-not-found-grey;
      border-left: 1px solid $border-mod-suggest-not-found-grey;
      border-right: 1px solid $border-mod-suggest-not-found-grey;
      border-top-color: $border-mod-suggest-not-found-grey-secondary;

      .suggest-section {

        .product-details {
          width: 100%;
        }

        .product-cart {
          display: none;
        }

      }

    }

  }

}
