.mod-checkout-success {

	.inner {
		border-top: 1px solid @c-grey80;
		border-bottom: 1px solid @c-grey80;
		padding: 20px 0 30px 10px;
		p {
			#typo > .size-x-c();
			line-height: 24px;
		}
	}

	.meta {
		#typo > .size-x-c();
		line-height: 24px;
		display: block;
		font-weight: bold;
	}

	.big {
		display: block;
		#typo > .size-c-d();
		margin-bottom: 30px;
	}

	.btn-checkout, .btn-update-profile {
		text-align: left;
		.icon-arrow {
			float: right;
			margin-top: 3px;
			.s-arrow-right-white();
		}

		&:hover .icon-arrow,
		&:focus .icon-arrow,
		&:active .icon-arrow, &.active .icon-arrow {
			.s-arrow-right-red();
		}

		&[disabled] .icon-arrow, &.disabled .icon-arrow {
			.s-arrow-right-white();
		}
		&:disabled .icon-arrow {
			.s-arrow-right-white();
		}
	}

	.amount {
		color: @c-red;
	}

	.loading{
		margin-bottom: 30px;
		display: block;
	}

	.loading-icon {
		background-image: url("@{path-imgs}/throbber_small_grey_white_matte.gif");
		background-position:0 0;
		width:24px;
		height:24px;
		margin-right: @spc-h;
	}

	.order-code{
		display: none;
		.voucher {
			display: none;
			font-size: 15px;
			margin-bottom: 20px;
			padding-top: 20px;
			.voucher-code {
				#typo > .size-c-d();
				margin: 20px 0;
			}
		}
	}
	
	.checkout-success-approval{
		
		// Default
		i {
			margin-left: 7px;
			margin-top: -2px;
			.s-arrow-right-small-blue();
		}
		// Hover
		&:hover {
			color: #AA1936;

			i {
				.s-arrow-right-small-lightblue();
			}
		}
	}
	
	.update-profile {
		margin-left: -10px;
		padding-left: 10px;
		h3 {
			color: @c-black;
		}
		.selectboxit-container {
			float: right;
			margin-bottom: 10px;
		}
	    .button-container {
	    	margin-top: 20px;
			.btn-update-profile {
				float: right;
				min-width: 150px;
				i {
					margin-left: 20px;
				}
			}
		}
		.error {
			color: @c-red;
		}
		.field-msgs {
	 		margin: 5px 10px 0;
		}
	}	
}
