.skin-checkout-success-nps {

	.feedback-textarea{
		width: 900px;
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 14px;
	}

	.dropdown-value{
		font-size: 20px;
		color: red;
		width: 125px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.btn-send{
		width: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		outline: none;
		transition: all 200ms ease;
	}

	.message-success{
		padding: 10px;
		border: 0;
		margin-bottom: 20px;
		background: transparent;
		text-align: left;

		p {
			color: #000;
			font-size: 14px;
			padding-bottom: 10px;
		}

		a {
			color: #66c5d2;
			display: block;
			font-size: 14px;
			text-decoration: underline;
		}

	}

	.message-error{
		padding: 10px;
		border: 1px solid red;
		margin-bottom: 20px;
		background: #F6CECE;
		text-align: center;
	}


	.nps-section{
		border-bottom: 0px solid;
	}

	.thankyou-section{

		.btn-checkout{
			width: 200px;
			margin-left: auto;
			display: block;
			margin-right: auto;
			margin-bottom: 50px;
			margin-top: 20px;
		}

	}

	.table-radio {
		border-collapse:collapse;
		padding:5px;
		margin-top: 20px;
	  	margin-bottom: 20px;
	}

	.table-radio td {
	  	padding-left: 27px;
	  	padding-right: 26px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.first-row{
		padding-left: 30px !important;
	}

	.first-row-special{
		padding-left: 25px !important;
	}

	.radio-not-selected{
		border: 1px solid red;
	}

	.scales{
		margin-top: 8px;
		color: #aaa;
		margin-bottom: 28px;

		.unlikely{
			float:left;
			margin-left: 22px;
		}

		.verylikely{
			float:right;
			margin-right: 90px;
		}

	}

	.reason-select{
		padding-top: 10px;
		padding-bottom: 20px;
		font-size: 14px;
		color:#333;

		#select-nps-reasons, #select-nps-sub-reasons{
			margin-top: 3px;
			font-size: 14px;
			color:#333;

			&:hover{
				cursor:pointer;

			}

		}


	}

	.selectboxit-container  {
		width: 100%;
		.selectboxit{
			width: 100%;
		}
		.selectboxit-text{
			width: 248px;
			max-width: 248px !important;
			padding-right: 34px;
		}
		.selectboxit-options{
			width: 100%;
		}

		.selectboxit-option-anchor{
			padding-right: 8px;
			width: 100%;

		}
	}
}

@mobile: ~'only screen and (min-width: 480px)';
@mobile-landscape: ~'only screen and (min-width: 568px)';

@mobile-iphone6: ~'only screen and (min-width: 375px)';
@mobile-iphone6-landscape: ~'only screen and (min-width: 667px)';

@ipad: ~'only screen and (min-width: 768px)';
@ipad-landscape: ~'only screen and (min-width: 992px)';

@desktop: ~'only screen and (min-width: 1200px)';

@spacing-unit: 5px;

@border-nps-sep: #ccc;
@colour-font-grey: #333;
@colour-font-black: #000;
@colour-font-blue: #66c5d2;

.skin-layout-wide {

	&.skin-layout-feedback-nps {

		.header-nps {
			float: left;
			width: 100%;

			&__border {
				background: #de1417;
				display: inline-block;
				float: left;
				height: 5px;
				width: 15%;

				&:first-of-type {
					background: #333333;
					width: 50%;
				}

				&:nth-of-type(2) {
					background: #009fb4;
					width: 35%;
				}

			}

			.mod-logo {
				display: block;
				text-align: center;
				width: 100%;

				a {
					display: block;

					img {
						margin: 0 auto;
                      	width: auto;
					}

				}

			}

		}

		.body-container {
			float: left;
			margin: 0;
			width: 100%;

			#main {
				width: 100%;
			}

			.main-content-right {

				&--nps {
					float: left;
					padding: 0 15px;

					.mod-global-messages,
					.message-error,
					.message-success {
						float: none;
						margin: 0 auto;
						width: 100%;

						@media @ipad-landscape {
							width: 970px;
						}

						@media @desktop {
							width: 1170px;
						}

					}

				}

				.skin-checkout-success-nps {
					float: left;
					text-align: center;
					width: 100%;
				}

				.nps-section {
					border: 0;
					float: left;
					padding: 0;
					width: 100%;

					&__item {
						border-top: 1px solid @border-nps-sep;
						margin: 0 auto;
						padding: (@spacing-unit * 8) 0;
						width: 100%;

						&:first-of-type {
							border: 0;
						}

						.gu-12 {
							float: left;
							width: 100%;
						}

						.reason-select {

							p {
								padding-bottom: (@spacing-unit * 2)
							}

						}

						.score-rating {
							display: none;

							&--visible {
								display: block;
							}

						}

						.feedback-textarea {
							height: 250px;
							margin-top: (@spacing-unit * 3);
							width: 100%;
						}

						.table-radio {

							@media @ipad {
								margin: (@spacing-unit * 4) auto;
								max-width: 730px;
							}

							@media @ipad-landscape {
								max-width: 770px;
							}

							.unlikely {
								font-weight: bold;
								color: #f65e56;
								font-size: 14px;
								padding-bottom: 10px;
								text-align: left;
							}

							.verylikely {
								font-weight: bold;
								color: #6aca2a;
								font-size: 14px;
								padding-top: (@spacing-unit);
								text-align: right;
							}

							.list-item {
								display: inline-block;
								float: none;
								margin: 0 5px 0 auto;
								max-width: 37px;
								position: relative;
								width: 100%;

								@media @ipad {
									max-width: 56px;
								}

								@media @ipad-landscape {
									max-width: 60px;
								}

								&:last-of-type {
									margin-right: 0;
								}

								label {
									background: #f37069;
									border: 0;
									border-radius: 2px;
    								box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
									color: #fff;
									display: block;
									font-size: 20px;
									height: 45px;
									line-height: 45px;
									margin: 0 0 (@spacing-unit * 2);
									text-align: center;
									text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
									transition: all 200ms ease;
									width: 100%;

									&[for='value4'] {
										background: #f28565;
									}

									&[for='value5'] {
										background: #e79b5a;
									}

									&[for='value6'] {
										background: #e4bc51;
									}

									&[for='value7'] {
										background: #ded647;
									}

									&[for='value8'] {
										background: #c0de47;
									}

									&[for='value9'] {
										background: #90ca2a;
									}

									&[for='value10'] {
										background: #6aca2a;
									}

								}

								input[type='radio'] {
									display: none;

									&:checked {

										+ label {
											background: #f7f9fc;
											color: @colour-font-black;
										}

									}

									+ label {

										&:before {
											background: transparent;
											content: none;
										}

									}

								}

							}

						}

						.base {
					    	color: @colour-font-grey;
					    	font-size: 20px;
							font-weight: bold;
					   		padding: (@spacing-unit * 6) 0 (@spacing-unit * 3);

							@media @ipad {
								 font-size: 31px;
							}

						}

						.sub-title {
							color: @colour-font-grey;
							font-size: 16px;
							font-weight: bold;
							padding: (@spacing-unit * 2) 0 (@spacing-unit * 6);

							@media @ipad {
								font-size: 24px;
							}

						}

						&__container {
							margin: 0 auto;
							width: 100%;

							@media @ipad-landscape {
								width: 970px;
							}

							@media @desktop {
								width: 1170px;
							}

						}

						.score-main-holder {

							&--invisible {
								display: none;
							}

							h3 {
								color: @colour-font-black;
								font-size: 25px;
								font-weight: bold;
							}

							.nps_score {
								color: @colour-font-black;
								font-size: 50px;
								line-height: 50px;
								padding-top: (@spacing-unit * 4);
							}

							.nps-score-toggle {
								color: @colour-font-blue;
								cursor: pointer;
								display: block;
								font-size: 12px;
								padding-top: (@spacing-unit * 2);
								text-decoration: underline;
							}

						}

					}

				}

			}

		}

		.footer {

			.ct {
				display: none;
			}

			.footer__background {
				background-color: transparent;
				display: none;

				&:nth-of-type(4) {
					border-top: 1px solid @border-nps-sep;
					display: block;
					width: 100%;

					.ct {
						display: block;
						margin: 0 auto;
						text-align: center;
					}

				}

			}

		}

	}

}
