.mod-product-status-box {
  float: left;
  width: 100%;

  .statusMessageContainer {
    background: $bg-dist-orange;
    border: 1px solid $colour-dist-orange;
    border-radius: 2px;
    float: left;
    height: auto;
    margin-bottom: ($spacing-unit * 3);
    padding: ($spacing-unit * 5 - 1) ($spacing-unit * 4);
    width: 100%;

    .eolText {
      @include font-size(14px);
      @include line-height(14px);
      color: $colour-dark-orange;
      float: left;
      text-align: center;
      margin: 0;
      width: 100%;

      &__btn {
        color: $link-blue;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease-in-out 0.1s;

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

        i,
        svg {
          margin-left: ($spacing-unit);
          vertical-align: middle;
        }

      }

      .eolLink {
        color: $link-blue;
        text-decoration: none;
        transition: all 0.3s ease-in-out 0.1s;

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

        i,
        svg {
          margin-left: ($spacing-unit);
          vertical-align: middle;
        }

      }

      .eolLink,
      &__btn {
        margin-left: $spacing-unit;
      }

    }

    &.status-21 {
      background-color: rgba(104, 193, 67, 0.1);
      border: ($spacing-unit - 4) solid $bg-dist-green;

      .eolText {
        color: $bg-dist-green;
      }

    }

  }

}