@import 'global-utilities';

.my-lists-holder {
  display: flex;
  justify-content: center;
}

.mylists-label {
  @include tabletDown {
    @include sr-only;
  }

  @include tabletPlus {
    @include typography-text-xs();
    color: $colour-white;
    display: table-header-group;
    font-weight: $font-weight-normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn {
  color: $colour-white;
  display: block;
  width: auto;
  height: $size-mobile-nav-height;
  padding: 0;

  &:focus {
    box-shadow: none;
  }
}

.alert-banner {
  display: flex;
  margin-top: 32px;
}
