.skin-productlist-controllbar-plp {
  float: left;
  width: 100%;

  &:nth-of-type(1) {
    display: none;

    @media #{$ipad-landscape} {
      display: inherit;
    }

  }

  label {
    @include font-size(14px);
    display: inline-block;
    font-weight: 700;
    padding-top: ($spacing-unit+1);
  }

  .selectboxit-container {

    .selectboxit {
      border-radius: ($spacing-unit - 3);

      .selectboxit-arrow-container {
        height: 28px;
      }

      .selectboxit-text {
        @include font-size(13px);
        @include line-height(29px);
        height: 28px;
      }

    }

  }

}