.ux-checkbox {
  &__input {
    &:checked {
      ~ label.ux-checkbox__label {
        .ux-checkbox__state {
          background-color: $ux-form-checkbox-bg;

          .fa-check {
            opacity: 1;
          }
        }
      }
    }
  }

  &__label {
    position: relative;
    display: inline-block;
    padding-left: $spacing-unit * 7;
    hyphens: auto;

    &:before {
      content: normal !important; // Overriding old styles
    }
  }

  &__state {
    position: absolute;
    top: 3px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 2px solid $ux-form-checkbox-bg;
    border-radius: 2px;
    background-color: $colour-white;
    transition: background-color .3s ease;

    .fa-check {
      @include font-size(11px);
      color: $colour-white;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }
}
