a.ux-link,
.ux-link {
  @include font-size(14px);
  display: inline-block;
  font-weight: 600;

  &,
  > span {
    color: $link-blue;
    cursor: pointer;
    text-decoration: underline !important; // Overriding accellerator styles

    &:hover {
      color: $link-dark-blue;
      text-decoration: none !important;
    }
  }

  &--grey {
    color: $ux-txt-grey;

    &:hover {
      color: darken($ux-txt-grey, 10%);
    }
  }

  &--clean {
    text-decoration: none !important;
  }

  &--raw {
    height: auto;
    color: inherit;
    font-weight: inherit;
  }

  .fa-angle-left {
    margin-right: $spacing-unit * 2;
    vertical-align: baseline;
  }
}
