.mod-content-list {

	a:hover, a:link, a:visited, a:active {
		text-decoration: none;
	}

	.content-list-box {
		#border > .border-std(1px, 0px, 0px, 0px);
		padding: 20px 0;
	}

		.content-list-title {
			margin-top: 0;
		}

		.content-list-link-icon {
			.s-polygon-right-small-blue();
			float: right;

			&:hover {
				.s-polygon-right-small-blue();
			}
		}
}
