$colour-progressbar-bg: #e9ecef;
$colour-progressbar-blue: #007bff;

// Checkout rebuild START
$cr-progressbar-default: #DDDFE3;
$cr-progressbar-active: $colour-dark-grey;
$cr-progressbar-done: $ux-green;
$cr-progressbar-circle-number-size: 32px;
// Checkout rebuild END
