<div>
  <form [formGroup]="generalRegForm">
    <div class="register__form">
      <h3 class="register__form--title" id="registration.general.your_details">
        2. {{ 'registration.general.your_details' | cxTranslate }}
      </h3>

      <app-about-you-form
        [generalRegForm]="generalRegForm"
        [onControlTouch]="onControlTouch"
        [activeSiteId]="activeSiteId"
        [isEmailExist$]="isEmailExist$"
        (inputClicked)="onControlTouch($event)"
        (countryChanged)="setCountryPref()"
      ></app-about-you-form>
    </div>

    <app-communication-pref
      [generalRegForm]="generalRegForm"
      [onControlTouch]="onControlTouch"
      [stepsList_]="stepsList_"
      [activeSiteId]="activeSiteId"
      [isEmailExist$]="isEmailExist$"
    ></app-communication-pref>
  </form>
</div>
