@import 'global-utilities';

.calendarIcon {
  position: absolute;
  margin-top: 7px;
  right: 10%;
  color: $colour-red;
}

.form-control {
  border-radius: 0px !important;
  @include font-size(14px);
}
