<div class="overlay">
  <div [class]="data.type + '-popup'">
    <div class="error-popup__text">
      <div class="error-popup__text--icon">
        <img src="app/spartacus/assets/media/errorIcon.svg" alt="errorIcon" />
      </div>
      <div class="error-popup__text--title" id="errorPopupTitle" [innerHTML]="data.title | cxTranslate"></div>
      <div
        class="error-popup__text--subtitle"
        id="errorPopupSubtitle"
        [innerHTML]="data.subtitle | cxTranslate: { '0': data.subtitleArgument }"
      ></div>
    </div>
    <div class="error-popup__close">
      <button class="btn" id="errorPopupCloseBtn" (click)="onCloseButton()">{{ 'form.ok' | cxTranslate }}</button>
    </div>
  </div>
</div>
