
.mod-footer-links {
  margin-top: $spacing-unit * 5;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .nav-footer-section {
    display: inline-block;
    float: left;
    padding: 0 ($spacing-unit * 2);
    width: 20%;
  }

  .nav-title {
    @include font-size(24px);
    @include line-height(34px);
    color: $colour-light-grey;
    display: block;
    font-family: $font-montserrat;
    letter-spacing: -0.2px;
    margin: ($spacing-unit * 2) 0 ($spacing-unit * 4) 0;

  }

  .nav-footer-list {
    margin-top: 17px;

    a {
      @include font-size(15px);
      @include line-height(24px);
      font-family: $font-montserrat;
      letter-spacing: -0.28px;
    }

  }

  .nav-title,  li {
    padding-left: 10px;
  }

  .link-showAll {
    text-decoration: underline;
  }

  .link-more {

    i {
      margin-right: 8px;
      display: inline-block;
    }

  }

}
