.product {

  &__tile {
    font-family: $font-arial;
    float: left;
    padding: 0 ($spacing-unit * 2);
    width: 20%;
    margin: 0 0 ($spacing-unit * 8) 0;
    position: relative;

    &__item {
      background-color: $colour-white;
      border: 1px solid $colour-light-grey;
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
      min-height: 288px;
      overflow: hidden;

      &__manufacturer,
      &__service {
        pointer-events: none;
        position: absolute;
        right: $spacing-unit*2;
        z-index: 1;

        .mod-product-manufacturer {
          text-align: right;
          width: 100%;
          
          a {
            display: inline-block;
          }

          .manufacturer-logo {
            height: auto;
            padding: 10px;
            width: 90px;
          }

        }

      }

      &__image {
        @include img-fluid();
        margin: 0 auto;
        padding-top: $spacing-unit*8;
      }

      &__promo-label {
        display: inline-block;
        position: absolute;
        bottom: 0;
      }

      &__title {
        @include font-size(14px);
        @include line-height(22px);
        color: $colour-mid-black;
        font-family: $font-montserrat;
        font-weight: 500;
        height: 45px;
        letter-spacing: -0.3px;
        margin-top: $spacing-unit * 2;
        overflow: hidden;
      }

      &__description {
        @include font-size(12px);
        @include line-height(20px);
        color: $colour-dark-grey;
        letter-spacing: -0.2px;
        margin-top: $spacing-unit * 2;
        height: 42px;
        overflow: hidden;
      }

      &__stock {
        @include font-size(14px);
        @include line-height(20px);
        color: $colour-dist-green;
        display: block;
        margin-top: $spacing-unit * 2;

        b {
          display: none;
        }

      }

      &__cta {
        @include font-size(12px);
        @include line-height(14px);
        color: $colour-white;
        display: inline-block;
        font-weight: bold;
        margin: ($spacing-unit * 2) 0 ($spacing-unit * 2) 0;
        min-width: 94px;

        .fa-angle-right {
          margin-left: 10px;
        }

      }

      &__price {
        @include font-size(16px);
        @include line-height(22px);
        color: $colour-dark-grey;
        display: inline-block;
        font-family: $font-montserrat;
        font-weight: 500;
        margin-top: $spacing-unit * 2;
      }

    }

    a {
      display: inherit;
      position: relative;
    }
  }

}
