<div class="card-item__txt" id="checkout.confirmation.voucher">
  {{ 'checkout.confirmation.voucher_codeText' | cxTranslate }}
</div>

<div class="card-item__txt is-voucher-code" id="checkout.confirmation.voucher.code">
  <strong>{{ erpVoucher.code }}</strong>
</div>

<div
  class="card-item__txt"
  id="checkout.confirmation.voucher.value"
  [innerHtml]="'checkout.confirmation.voucher_value' | cxTranslate: { voucherValue: erpVoucher.value.value }"
></div>

<div
  class="card-item__txt"
  id="checkout.confirmation.voucher.expiration"
  [innerHtml]="'checkout.confirmation.voucher_endDate' | cxTranslate: { voucherToDate: erpVoucher.validUntil }"
></div>

<div class="card-item__txt" id="checkout.confirmation.voucher.email">
  {{ 'checkout.confirmation.voucher_emailSent' | cxTranslate }}
</div>
