@import 'global-utilities';

#modalApprovalReject {
  background-color: $colour-strong-light-grey;
  display: block;
  height: auto;
  left: 50%;
  margin-left: -240px;
  outline: none;
  position: fixed;
  top: 10%;
  width: 480px;
  z-index: $zindex-modal;

  .hd,
  .bd,
  .ft {
    margin-bottom: ($spacing-unit * 4);
    padding: 0 ($spacing-unit * 6);
  }

  .hd,
  .bd,
  .left,
  .right {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
  }

  .hd {
    display: table;
    background-color: $colour-redesign-dark-black;
    width: 100%;

    .title {
      @include font-size(22px);
      @include line-height(26px);
      font-weight: $font-weight-light;
      display: inline-block;
      color: $colour-white;
      margin-top: 0;
      margin-bottom: 0;
    }

    .btn-close {
      color: $colour-white;
    }
  }

  .bd {
    display: table;
    overflow-y: auto;
    overflow-x: hidden;

    .start-box {
      .form-row {
        .box {
          border: ($spacing-unit - 4) solid #cccccc;
          padding: ($spacing-unit * 2);
          background: $colour-white;
          margin-bottom: ($spacing-unit * 2);
          max-height: 152px;
          overflow: auto;
          width: 100%;

          li {
            list-style: none;
            margin: 0;
            padding-bottom: ($spacing-unit - 2);

            input {
              &[type='checkbox'] {
                transform: scale(0.8);
              }
            }

            label {
              @include font-size(14px);
              @include line-height(18px);
              display: inline-block;
              max-width: 390px;
              overflow: hidden;
              padding-left: ($spacing-unit * 3);
              text-overflow: ellipsis;
              vertical-align: middle;
              white-space: nowrap;

              fa-icon {
                @include font-size(12px);
              }

              span {
                @include font-size(10px);
                @include line-height(12px);
                display: inline-block;
                padding-left: ($spacing-unit - 2);
              }
            }
          }
        }

        .text-danger {
          @include font-size(15px);
          display: flex;

          fa-icon {
            padding-right: ($spacing-unit * 2);
          }
        }

        .newShoppingList {
          @include font-size(15px);
          @include line-height(35px);
          cursor: pointer;
          margin-bottom: 0;
        }

        .new-shopping-list-input {
          @include font-size(14px);
          @include line-height(18px);
          border: ($spacing-unit - 4) solid #cccccc;
          display: inline-block;
          margin-bottom: ($spacing-unit * 2 + 2);
          padding: ($spacing-unit + 1) ($spacing-unit + 3);
          vertical-align: middle;
          width: 300px;
        }
      }
    }
  }

  .ft {
    margin-bottom: ($spacing-unit * 4);
    padding: 0 ($spacing-unit * 6);
    text-align: right;

    .btn-cancel {
      background-color: #cccccc;
      color: $colour-black;
    }

    .btn-primary,
    .btn-cancel {
      border: 0;
      font-weight: $font-weight-normal;
      width: 155px;
    }

    .btn-primary {
      box-shadow: 0 0 0 0;
      margin-left: ($spacing-unit * 3 + 1);
      text-align: center;

      &:active {
        background-color: $colour-red;
        border: ($spacing-unit - 4) solid $colour-red;
      }
    }
  }
}
