.mod-impressum {
  margin-bottom: $spacing-unit * 4;
  margin-top: $spacing-unit * 6;
  text-align: center;

  .footer__impressum {

    &-link {
      display: inline-block;

      a {
        @include font-size(12px);
        @include line-height(20px);

        &:after {
          content: " | ";
          padding: 0 10px;
        }

      }

      &:last-child {

        a {

          &:after {
            content: '';
            padding: 0;
          }

        }

      }

    }

    &-copyright {
      margin-top: $spacing-unit * 4;

      .text {
        @include font-size(12px);
        @include line-height(20px);
        color: $colour-light-grey;
      }

    }

  }

}
