@import 'global-utilities';

.promo-label {
  color: $colour-white;
  background-color: $colour-black;
  line-height: 18px;
  font-size: 12px;
  font-weight: $font-weight-semiBold;
  line-height: 24px;
  border-radius: 0 20px 20px 0;
  height: 30px;
  min-width: 80px;
  width: fit-content;
  padding: 4px 15px;
  text-align: center;
  text-transform: uppercase;
  &.new,
  &.bestseller {
    background-color: $colour-orange;
  }
  &.noMover {
    background-color: $colour-dist-dark-green;
  }
  &.offer {
    background-color: $colour-vivid-red;
  }
}
