/*
 * Configs
 */

// Paths
//   use: '@{path-assets}/media/img-test/myimage.png'
@path-assets:   "/_ui/all"; // no trailing slash
@path-fonts:    "@{path-assets}/fonts"; // no trailing slash
@path-imgs:     "@{path-assets}/media/img"; // no trailing slash

// Gaps, Spacing
@spc-h: 20px; // Horizontal Spacing
@spc-v: 20px; // Vertical Spacing
@spacing-unit: 5px;
