
// Color List
@c-black:       #000000;
@c-grey20:      #333333;
@c-grey32:      #525252;
@c-greyD:       #a4a4a4;
@c-lightgray:   #aaaaaa;
@c-grey80:      #cccccc;
@c-greyA:       #ececec;
@c-greyB:       #eeeeee;

@c-greyC:       #f6f6f6;
@c-greyE:       #f9f9f9;
@c-white:       #ffffff;

@c-red:         #de1417;
@c-redC:        #f9d0cd;
@c-redE:        #fdf3f3;
@c-redT:        #ff0c10;


@c-blue:        #009fb4;
@c-blueA:		#00a0b6;
@c-blueB:       #01b8cd;

@c-blueC:       #66c5d2;
@c-blueE:       #ccebef;
@c-blueF:       #cdecf0;

@c-green:       #00cb32;

@c-marigold:    #f69f1d;

@c-mid-grey:    #545a5e;
@c-dist-grey:   #393e41;

// Base Element Colors
@c-link: 		@c-black;
@c-link-hover: 	@c-black;
@c-base:        @c-grey20;

@c-productHover: @c-greyC;

@c-border: @c-grey80;
@c-border-onGrey: #e2e2e2;

// availability colors
@c-availability-green: #00cb32;
@c-availability-green-light: #77e292;
@c-availability-orange: #ff9326;
@c-availability-orange-light: #ffd24d;
@c-availability-grey: @c-grey80;

// success colors
@c-green60: #25d952;
@c-green10: #f2fdf5;



// warning colors
@c-yellow60: #d9d500;
@c-yellow10: #fdfbec;

// password indicator colors
@c-pw-indicator-low: #ff0000;
@c-pw-indicator-medium: #ffbf00;
@c-pw-indicator-high: #00d936;


// calibration service
@c-cal: #fb962e;
