/* glue: 0.11.1 hash: 00a7b3d765 */
.s-dotted-line,.truck-octagon,.s_category_grid_background,.s-category-frame-white,.s-category-frame-blue,.s-dotted-item,.s-flaps-prev-grey,.s-flaps-prev-blue,.s-flaps-next-grey,.s-flaps-next-blue,.s-flaps-compare-prev-grey,.s-flaps-compare-prev-blue,.s-flaps-compare-next-grey,.s-flaps-compare-next-blue,.s-flaps-teaser-prev-white,.s-flaps-teaser-prev-black,.s-flaps-teaser-next-white,.s-flaps-teaser-next-black,.s-polygon-background-red,.s-polygon-background-grey,.s-polygon-background-grey-bg,.s-EEL-arrow,.s-label_L,.s-label_F,.s-label_E,.s-label_D,.s-label_C,.s-label_B,.s-label_APlusPlusPlus,.s-label_APlusPlus,.s-label_APlus,.s-label_A,.label_F,.s-swyn-youtube,.s-swyn-twitter,.s-swyn-facebook,.s-swyn-google,.s-product-gallery-360,.s-EEL-led,.s-polygon-cart-big-white,.s-polygon-cart-big-red,.s-polygon-cart-big-lightred,.s-polygon-info-big-grey,.s-polygon-info-big-blue,.s_no-truck,.s-warning,.s-success,.s-polygon-upload-big-grey,.s-polygon-upload-big-blue,.s-polygon-share-big-lightblue,.s-polygon-share-big-grey,.s-polygon-share-big-blue,.s-polygon-search-big-grey,.s-polygon-search-big-blue,.s-polygon-return-items-white,.s-polygon-return-items-blue,.s-polygon-return-items-black,.s-polygon-quote-big-grey,.s-polygon-quote-big-blue,.s-polygon-print-big-grey,.s-polygon-print-big-blue,.s-polygon-pdf-big-grey-bg,.s-polygon-pdf-big-blue,.s-polygon-message-big-grey,.s-polygon-message-big-blue,.s-polygon-loupe-white,.s-polygon-loupe-blue,.s-polygon-list-big-grey,.s-polygon-list-big-blue,.s-polygon-list-big-black,.s-polygon-favorite-big-white,.s-polygon-favorite-big-blue,.s-polygon-favorite-big-black,.s-polygon-empty-big-white,.s-polygon-empty-big-light,.s-polygon-empty-big-blue,.s-polygon-empty-big-black,.s-polygon-download-grey,.s-polygon-download-blue,.s-polygon-compare-big-grey,.s-polygon-compare-big-blue,.s-polygon-compare-big-black,.s-error,.s-polygon-right-big-lightblue,.s-polygon-right-big-blue,.s-polygon-left-big-lightblue,.s-polygon-left-big-blue,.s-metahd-compare-header-white,.s-metahd-compare-header-black,.s-polygon-share-twitter-big-lightblue,.s-polygon-share-twitter-big-blue,.s-polygon-share-mail-big-lightblue,.s-polygon-share-mail-big-blue,.s-polygon-share-google-big-lightblue,.s-polygon-share-google-big-blue,.s-polygon-share-facebook-big-lightblue,.s-polygon-share-facebook-big-blue,.s-productlist-switch-technical-white,.s-productlist-switch-technical-black,.s-productlist-switch-regular-white,.s-productlist-switch-regular-black,.s-polygon-play-blue,.s-polygon-magic-360-blau,.s-metahd-account-header-white,.s-metahd-account-header-black,.arrow_eol,.s-polygon-pdf-grey-bg,.s-polygon-pdf-blue,.s-polygon-info-grey,.s-polygon-info-blue,.s-polygon-edit-lightblue,.s-polygon-edit-black,.s-plugin-pw-indicator-info-small-grey,.s-plugin-pw-indicator-info-small-blue,.s-metahd-list-header-white,.s-metahd-list-header-black,.s-add-to-cart-big-red,.s-add-to-cart-big-black,.s-quad-remove-white,.s-quad-remove-blue,.s-polygon-remove-big-white,.s-polygon-remove-big-red,.s-polygon-remove-big-blue,.s-polygon-remove-big-black,.s-polygon-list-grey,.s-polygon-list-blue,.s-polygon-list-black,.s-polygon-favorite-white,.s-polygon-favorite-blue,.s-polygon-favorite-black,.s-polygon-compare-grey,.s-polygon-compare-blue,.s-polygon-compare-black,.s-polygon-cart-white,.s-polygon-cart-red,.s-grab,.s-polygon-left-white,.s-polygon-right-white,.s-polygon-right-blue,.s-polygon-plus-grey,.s-polygon-plus-grey-bg,.s-polygon-plus-blue,.s-polygon-plus-black,.s-polygon-minus-grey,.s-polygon-minus-grey-bg,.s-polygon-minus-blue,.s-polygon-minus-black,.s-objects-close-button-white,.s-objects-close-button-blue,.s-currency-grey,.s-polygon-left-blue,.s-language-grey,.s-EEL-cross,.s-EEL-bulb,.phone_icon,.s-octogon-icon_white,.s-octogon-icon_black,.s-language-black,.s-currency-black,.s-country-grey,.s-country-black,.s-channel-black,.s-cart-white,.s-add-to-cart-white,.s-add-to-cart-red,.s-account-grey,.s-product-gallery-video,.s-polygon-up-lightblue,.s-polygon-up-blue,.s-polygon-right-small-lightblue,.s-polygon-right-small-blue,.s-polygon-plus-small-grey,.s-polygon-plus-small-blue,.s-polygon-minus-small-grey,.s-polygon-minus-small-blue,.s-polygon-left-small-lightblue,.s-polygon-left-small-blue,.s-polygon-down-lightblue,.s-polygon-down-blue,.s-objects-show-more-button-white,.s-objects-show-more-button-expanded-white,.s-objects-show-more-button-expanded-blue,.s-objects-show-more-button-blue,.s-metahd-account-unlock-blue,.s-metahd-account-unlock-black,.s-metahd-account-lock-blue,.s-metahd-account-lock-black,.s-libraries-slider-handler-white,.s-libraries-slider-handler-blue,.paper_plane,.s-productlist-switch-icon-white,.s-productlist-switch-icon-black,.s-warning-small,.s-polygon-remove-small-red,.s-polygon-remove-small-red-bg,.s-polygon-red-bg,.s-polygon-edit-small-lightblue,.s-polygon-edit-small-blue,.s-dangerous-goods,.s-bulky-goods,.s-elements-base-error,.s-compare-white,.s-back-to-top-white,.s-back-to-top-black,.s-loupe-white,.s-loupe-blue,.s-loupe-black,.s-go-to-cart-white,.s-go-to-cart-red,.s-go-to-cart-blue,.s-go-to-cart-black,.s-forms-radio-button-big-grey-std,.s-forms-radio-button-big-grey-act,.s-forms-radio-button-big-blue-std-hov,.s-forms-radio-button-big-blue-act-hov,.s-add-to-cart-small-white,.s-add-to-cart-small-red,.s-add-to-cart-small-blue,.s-add-to-cart-small-black,.s-forms-checkbox-big-red-error,.s-forms-checkbox-big-grey-std,.s-forms-checkbox-big-grey-act,.s-forms-checkbox-big-blue-std-hov,.s-forms-checkbox-big-blue-act-hov,.s-upload-lightblue,.s-upload-grey,.s-upload-blue,.s-upload-black,.s-settings-grey,.s-settings-blue,.s-settings-black,.danger_grey,.s-order-manager-grey,.s-order-manager-blue,.s-order-manager-black,.s-metahd-user-grey,.s-account-lightblue,.s-account-blue,.s-account-black,.s-question-lightblue,.s-question-blue,.s-question-black,.s-list-white,.s-list-red,.s-list-lightblue,.s-list-grey,.s-list-blue,.s-list-black,.s-closed-white,.s-closed-red,.s-closed-lightblue,.s-closed-blue,.s-closed-black,.s-calendar-black,.s-add-to-cart-mini-white,.s-add-to-cart-mini-red,.s-add-to-cart-mini-blue,.s-plus-red,.s-plus-big-white,.s-plus-big-red,.s-plus-big-black,.s-favorite-white,.s-favorite-red,.s-favorite-lightblue,.s-favorite-grey,.s-favorite-blue,.s-favorite-black,.s-triangle-up-black,.s-objects-available-bars-big-yellow,.s-objects-available-bars-big-orange,.s-objects-available-bars-big-lgreen,.s-objects-available-bars-big-grey,.s-objects-available-bars-big-green,.s-list-small-black,.s-home-grey,.s-forms-radio-button-grey-std,.s-forms-radio-button-blue-std-hov,.s-forms-radio-button-blue-act,.s-forms-radio-button-blue-act-hov,.s-compare-mini-grey,.s-compare-mini-blue,.s-compare-mini-black,.s-remove-blue,.s-remove-black,.s-arrow-down-big-white,.s-arrow-down-big-blue,.s-arrow-down-big-black,.s-forms-checkbox-grey-std,.s-forms-checkbox-blue-std,.s-forms-checkbox-blue-std-hov,.s-forms-checkbox-blue-hov,.s-forms-checkbox-blue-act,.s-forms-checkbox-blue-act-std,.s-forms-checkbox-blue-act-hov,.s-arrow-right-white,.s-arrow-right-red,.s-arrow-right-blue,.s-arrow-right-black,.s-arrow-left-white,.s-arrow-left-red,.s-arrow-left-blue,.s-arrow-left-black,.s-arrow-down-big-red,.s-yes,.s-plus-white,.s-plus-black,.s-no,.s-minus-white,.s-minus-black,.s-more-white,.s-more-lightblue,.s-more-blue,.s-more-black,.s-arrow-left-small-grey,.s-arrow-left-small-blue,.s-arrow-down-white,.s-arrow-down-red,.s-plus-small-white,.s-plus-small-red,.s-objects-available-bars-small-yellow,.s-objects-available-bars-small-white,.s-objects-available-bars-small-orange,.s-objects-available-bars-small-lgreen,.s-objects-available-bars-small-green,.s-arrow-right-small-lightblue,.s-arrow-right-small-blue{
	
	background-image:url('/_ui/all/media/sprites_00a7b3d765.png');
    background-repeat:no-repeat;
    -webkit-background-size: 792px 642px;
    -moz-background-size: 792px 642px;
    background-size: 792px 642px;


    @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0),screen and (-o-min-device-pixel-ratio: 100/100),screen and (min-device-pixel-ratio: 1.0),screen and (min-resolution: 1.0dppx){
        background-image:url('/_ui/all/media/sprites_00a7b3d765.png');
    }

}

.s-dotted-line{
    background-position:-2px -2px;
    width:788px;
    height:1px;
}

.truck-octagon{
    background-position:-2px -7px;
    width:300px;
    height:139px;
}

.s_category_grid_background{
    background-position:-2px -150px;
    width:161px;
    height:161px;
}

.s-category-frame-white{
    background-position:-306px -7px;
    width:136px;
    height:136px;
}

.s-category-frame-blue{
    background-position:-446px -7px;
    width:136px;
    height:136px;
}

.s-dotted-item{
    background-position:-586px -7px;
    width:133px;
    height:1px;
}

.s-flaps-prev-grey{
    background-position:-586px -12px;
    width:32px;
    height:93px;
}

.s-flaps-prev-blue{
    background-position:-622px -12px;
    width:32px;
    height:93px;
}

.s-flaps-next-grey{
    background-position:-658px -12px;
    width:32px;
    height:93px;
}

.s-flaps-next-blue{
    background-position:-694px -12px;
    width:32px;
    height:93px;
}

.s-flaps-compare-prev-grey{
    background-position:-730px -12px;
    width:32px;
    height:93px;
}

.s-flaps-compare-prev-blue{
    background-position:-167px -150px;
    width:32px;
    height:93px;
}

.s-flaps-compare-next-grey{
    background-position:-203px -150px;
    width:32px;
    height:93px;
}

.s-flaps-compare-next-blue{
    background-position:-239px -150px;
    width:32px;
    height:93px;
}

.s-flaps-teaser-prev-white{
    background-position:-275px -150px;
    width:30px;
    height:91px;
}

.s-flaps-teaser-prev-black{
    background-position:-309px -150px;
    width:30px;
    height:91px;
}

.s-flaps-teaser-next-white{
    background-position:-343px -150px;
    width:30px;
    height:91px;
}

.s-flaps-teaser-next-black{
    background-position:-377px -150px;
    width:30px;
    height:91px;
}

.s-polygon-background-red{
    background-position:-411px -150px;
    width:74px;
    height:73px;
}

.s-polygon-background-grey{
    background-position:-489px -150px;
    width:74px;
    height:73px;
}

.s-polygon-background-grey-bg{
    background-position:-567px -150px;
    width:74px;
    height:73px;
}

.s-EEL-arrow{
    background-position:-586px -109px;
    width:66px;
    height:34px;
}

.s-label_L{
    background-position:-656px -109px;
    width:55px;
    height:22px;
}

.s-label_F{
    background-position:-645px -150px;
    width:55px;
    height:23px;
}

.s-label_E{
    background-position:-704px -150px;
    width:55px;
    height:23px;
}

.s-label_D{
    background-position:-645px -177px;
    width:55px;
    height:23px;
}

.s-label_C{
    background-position:-704px -177px;
    width:55px;
    height:23px;
}

.s-label_B{
    background-position:-167px -247px;
    width:55px;
    height:23px;
}

.s-label_APlusPlusPlus{
    background-position:-226px -247px;
    width:55px;
    height:23px;
}

.s-label_APlusPlus{
    background-position:-285px -247px;
    width:55px;
    height:23px;
}

.s-label_APlus{
    background-position:-344px -247px;
    width:55px;
    height:23px;
}

.s-label_A{
    background-position:-403px -247px;
    width:55px;
    height:23px;
}

.label_F{
    background-position:-462px -247px;
    width:55px;
    height:23px;
}

.s-swyn-youtube{
    background-position:-2px -315px;
    width:52px;
    height:51px;
}

.s-swyn-twitter{
    background-position:-2px -370px;
    width:52px;
    height:52px;
}

.s-swyn-facebook{
    background-position:-58px -315px;
    width:52px;
    height:51px;
}

.s-swyn-google{
    background-position:-114px -315px;
    width:51px;
    height:51px;
}

.s-product-gallery-360{
    background-position:-715px -109px;
    width:46px;
    height:22px;
}

.s-EEL-led{
    background-position:-167px -274px;
    width:46px;
    height:26px;
}

.s-polygon-cart-big-white{
    background-position:-169px -315px;
    width:43px;
    height:43px;
}

.s-polygon-cart-big-red{
    background-position:-216px -315px;
    width:43px;
    height:43px;
}

.s-polygon-cart-big-lightred{
    background-position:-263px -315px;
    width:43px;
    height:43px;
}

.s-polygon-info-big-grey{
    background-position:-310px -315px;
    width:38px;
    height:39px;
}

.s-polygon-info-big-blue{
    background-position:-352px -315px;
    width:38px;
    height:39px;
}

.s_no-truck{
    background-position:-394px -315px;
    width:38px;
    height:38px;
}

.s-warning{
    background-position:-436px -315px;
    width:38px;
    height:38px;
}

.s-success{
    background-position:-478px -315px;
    width:38px;
    height:38px;
}

.s-polygon-upload-big-grey{
    background-position:-520px -315px;
    width:38px;
    height:38px;
}

.s-polygon-upload-big-blue{
    background-position:-562px -315px;
    width:38px;
    height:38px;
}

.s-polygon-share-big-lightblue{
    background-position:-604px -315px;
    width:38px;
    height:38px;
}

.s-polygon-share-big-grey{
    background-position:-646px -315px;
    width:38px;
    height:38px;
}

.s-polygon-share-big-blue{
    background-position:-688px -315px;
    width:38px;
    height:38px;
}

.s-polygon-search-big-grey{
    background-position:-730px -315px;
    width:38px;
    height:38px;
}

.s-polygon-search-big-blue{
    background-position:-58px -370px;
    width:38px;
    height:38px;
}

.s-polygon-return-items-white{
    background-position:-100px -370px;
    width:38px;
    height:38px;
}

.s-polygon-return-items-blue{
    background-position:-142px -370px;
    width:38px;
    height:38px;
}

.s-polygon-return-items-black{
    background-position:-184px -370px;
    width:38px;
    height:38px;
}

.s-polygon-quote-big-grey{
    background-position:-226px -370px;
    width:38px;
    height:38px;
}

.s-polygon-quote-big-blue{
    background-position:-268px -370px;
    width:38px;
    height:38px;
}

.s-polygon-print-big-grey{
    background-position:-310px -370px;
    width:38px;
    height:38px;
}

.s-polygon-print-big-blue{
    background-position:-352px -370px;
    width:38px;
    height:38px;
}

.s-polygon-pdf-big-grey-bg{
    background-position:-394px -370px;
    width:38px;
    height:38px;
}

.s-polygon-pdf-big-blue{
    background-position:-436px -370px;
    width:38px;
    height:38px;
}

.s-polygon-message-big-grey{
    background-position:-478px -370px;
    width:38px;
    height:38px;
}

.s-polygon-message-big-blue{
    background-position:-520px -370px;
    width:38px;
    height:38px;
}

.s-polygon-loupe-white{
    background-position:-562px -370px;
    width:38px;
    height:38px;
}

.s-polygon-loupe-blue{
    background-position:-604px -370px;
    width:38px;
    height:38px;
}

.s-polygon-list-big-grey{
    background-position:-646px -370px;
    width:38px;
    height:38px;
}

.s-polygon-list-big-blue{
    background-position:-688px -370px;
    width:38px;
    height:38px;
}

.s-polygon-list-big-black{
    background-position:-730px -370px;
    width:38px;
    height:38px;
}

.s-polygon-favorite-big-white{
    background-position:-2px -426px;
    width:38px;
    height:38px;
}

.s-polygon-favorite-big-blue{
    background-position:-44px -426px;
    width:38px;
    height:38px;
}

.s-polygon-favorite-big-black{
    background-position:-86px -426px;
    width:38px;
    height:38px;
}

.s-polygon-empty-big-white{
    background-position:-128px -426px;
    width:38px;
    height:38px;
}

.s-polygon-empty-big-light{
    background-position:-170px -426px;
    width:38px;
    height:38px;
}

.s-polygon-empty-big-blue{
    background-position:-212px -426px;
    width:38px;
    height:38px;
}

.s-polygon-empty-big-black{
    background-position:-254px -426px;
    width:38px;
    height:38px;
}

.s-polygon-download-grey{
    background-position:-296px -426px;
    width:38px;
    height:38px;
}

.s-polygon-download-blue{
    background-position:-338px -426px;
    width:38px;
    height:38px;
}

.s-polygon-compare-big-grey{
    background-position:-380px -426px;
    width:38px;
    height:38px;
}

.s-polygon-compare-big-blue{
    background-position:-422px -426px;
    width:38px;
    height:38px;
}

.s-polygon-compare-big-black{
    background-position:-464px -426px;
    width:38px;
    height:38px;
}

.s-error{
    background-position:-506px -426px;
    width:38px;
    height:38px;
}

.s-polygon-right-big-lightblue{
    background-position:-548px -426px;
    width:36px;
    height:36px;
}

.s-polygon-right-big-blue{
    background-position:-588px -426px;
    width:36px;
    height:36px;
}

.s-polygon-left-big-lightblue{
    background-position:-628px -426px;
    width:36px;
    height:36px;
}

.s-polygon-left-big-blue{
    background-position:-668px -426px;
    width:36px;
    height:36px;
}

.s-metahd-compare-header-white{
    background-position:-645px -204px;
    width:36px;
    height:15px;
}

.s-metahd-compare-header-black{
    background-position:-685px -204px;
    width:36px;
    height:15px;
}

.s-polygon-share-twitter-big-lightblue{
    background-position:-708px -426px;
    width:35px;
    height:35px;
}

.s-polygon-share-twitter-big-blue{
    background-position:-747px -426px;
    width:35px;
    height:35px;
}

.s-polygon-share-mail-big-lightblue{
    background-position:-2px -468px;
    width:35px;
    height:35px;
}

.s-polygon-share-mail-big-blue{
    background-position:-41px -468px;
    width:35px;
    height:35px;
}

.s-polygon-share-google-big-lightblue{
    background-position:-80px -468px;
    width:35px;
    height:35px;
}

.s-polygon-share-google-big-blue{
    background-position:-119px -468px;
    width:35px;
    height:35px;
}

.s-polygon-share-facebook-big-lightblue{
    background-position:-158px -468px;
    width:35px;
    height:35px;
}

.s-polygon-share-facebook-big-blue{
    background-position:-197px -468px;
    width:35px;
    height:35px;
}

.s-productlist-switch-technical-white{
    background-position:-236px -468px;
    width:34px;
    height:34px;
}

.s-productlist-switch-technical-black{
    background-position:-274px -468px;
    width:34px;
    height:34px;
}

.s-productlist-switch-regular-white{
    background-position:-312px -468px;
    width:34px;
    height:34px;
}

.s-productlist-switch-regular-black{
    background-position:-350px -468px;
    width:34px;
    height:34px;
}

.s-polygon-play-blue{
    background-position:-388px -468px;
    width:34px;
    height:34px;
}

.s-polygon-magic-360-blau{
    background-position:-426px -468px;
    width:34px;
    height:34px;
}

.s-metahd-account-header-white{
    background-position:-521px -247px;
    width:34px;
    height:23px;
}

.s-metahd-account-header-black{
    background-position:-559px -247px;
    width:34px;
    height:23px;
}

.arrow_eol{
    background-position:-766px -12px;
    width:22px;
    height:33px;
}

.s-polygon-pdf-grey-bg{
    background-position:-464px -468px;
    width:32px;
    height:32px;
}

.s-polygon-pdf-blue{
    background-position:-500px -468px;
    width:32px;
    height:32px;
}

.s-polygon-info-grey{
    background-position:-536px -468px;
    width:32px;
    height:32px;
}

.s-polygon-info-blue{
    background-position:-572px -468px;
    width:32px;
    height:32px;
}

.s-polygon-edit-lightblue{
    background-position:-608px -468px;
    width:32px;
    height:32px;
}

.s-polygon-edit-black{
    background-position:-644px -468px;
    width:32px;
    height:32px;
}

.s-plugin-pw-indicator-info-small-grey{
    background-position:-680px -468px;
    width:32px;
    height:32px;
}

.s-plugin-pw-indicator-info-small-blue{
    background-position:-716px -468px;
    width:32px;
    height:32px;
}

.s-metahd-list-header-white{
    background-position:-725px -204px;
    width:32px;
    height:13px;
}

.s-metahd-list-header-black{
    background-position:-411px -227px;
    width:32px;
    height:13px;
}

.s-add-to-cart-big-red{
    background-position:-752px -468px;
    width:32px;
    height:31px;
}

.s-add-to-cart-big-black{
    background-position:-2px -507px;
    width:32px;
    height:31px;
}

.s-quad-remove-white{
    background-position:-38px -507px;
    width:31px;
    height:29px;
}

.s-quad-remove-blue{
    background-position:-73px -507px;
    width:31px;
    height:29px;
}

.s-polygon-remove-big-white{
    background-position:-2px -542px;
    width:30px;
    height:30px;
}

.s-polygon-remove-big-red{
    background-position:-36px -542px;
    width:30px;
    height:30px;
}

.s-polygon-remove-big-blue{
    background-position:-70px -542px;
    width:30px;
    height:30px;
}

.s-polygon-remove-big-black{
    background-position:-104px -542px;
    width:30px;
    height:30px;
}

.s-polygon-list-grey{
    background-position:-138px -542px;
    width:30px;
    height:30px;
}

.s-polygon-list-blue{
    background-position:-172px -542px;
    width:30px;
    height:30px;
}

.s-polygon-list-black{
    background-position:-206px -542px;
    width:30px;
    height:30px;
}

.s-polygon-favorite-white{
    background-position:-240px -542px;
    width:30px;
    height:30px;
}

.s-polygon-favorite-blue{
    background-position:-274px -542px;
    width:30px;
    height:30px;
}

.s-polygon-favorite-black{
    background-position:-308px -542px;
    width:30px;
    height:30px;
}

.s-polygon-compare-grey{
    background-position:-342px -542px;
    width:30px;
    height:30px;
}

.s-polygon-compare-blue{
    background-position:-376px -542px;
    width:30px;
    height:30px;
}

.s-polygon-compare-black{
    background-position:-410px -542px;
    width:30px;
    height:30px;
}

.s-polygon-cart-white{
    background-position:-444px -542px;
    width:30px;
    height:30px;
}

.s-polygon-cart-red{
    background-position:-478px -542px;
    width:30px;
    height:30px;
}

.s-grab{
    background-position:-766px -49px;
    width:5px;
    height:30px;
}

.s-polygon-left-white{
    background-position:-108px -507px;
    width:26px;
    height:28px;
}

.s-polygon-right-white{
    background-position:-217px -274px;
    width:27px;
    height:26px;
}

.s-polygon-right-blue{
    background-position:-248px -274px;
    width:27px;
    height:26px;
}

.s-polygon-plus-grey{
    background-position:-138px -507px;
    width:27px;
    height:27px;
}

.s-polygon-plus-grey-bg{
    background-position:-169px -507px;
    width:27px;
    height:27px;
}

.s-polygon-plus-blue{
    background-position:-200px -507px;
    width:27px;
    height:27px;
}

.s-polygon-plus-black{
    background-position:-231px -507px;
    width:26px;
    height:27px;
}

.s-polygon-minus-grey{
    background-position:-261px -507px;
    width:27px;
    height:27px;
}

.s-polygon-minus-grey-bg{
    background-position:-292px -507px;
    width:27px;
    height:27px;
}

.s-polygon-minus-blue{
    background-position:-323px -507px;
    width:27px;
    height:27px;
}

.s-polygon-minus-black{
    background-position:-354px -507px;
    width:26px;
    height:27px;
}

.s-objects-close-button-white{
    background-position:-279px -274px;
    width:27px;
    height:26px;
}

.s-objects-close-button-blue{
    background-position:-310px -274px;
    width:27px;
    height:26px;
}

.s-currency-grey{
    background-position:-384px -507px;
    width:26px;
    height:27px;
}

.s-polygon-left-blue{
    background-position:-341px -274px;
    width:26px;
    height:26px;
}

.s-language-grey{
    background-position:-371px -274px;
    width:18px;
    height:26px;
}

.s-EEL-cross{
    background-position:-393px -274px;
    width:26px;
    height:26px;
}

.s-EEL-bulb{
    background-position:-423px -274px;
    width:26px;
    height:26px;
}

.phone_icon{
    background-position:-453px -274px;
    width:26px;
    height:24px;
}

.s-octogon-icon_white{
    background-position:-414px -507px;
    width:25px;
    height:25px;
}

.s-octogon-icon_black{
    background-position:-443px -507px;
    width:25px;
    height:25px;
}

.s-language-black{
    background-position:-472px -507px;
    width:19px;
    height:25px;
}

.s-currency-black{
    background-position:-495px -507px;
    width:19px;
    height:25px;
}

.s-country-grey{
    background-position:-518px -507px;
    width:24px;
    height:25px;
}

.s-country-black{
    background-position:-546px -507px;
    width:19px;
    height:25px;
}

.s-channel-black{
    background-position:-569px -507px;
    width:19px;
    height:25px;
}

.s-cart-white{
    background-position:-765px -109px;
    width:25px;
    height:22px;
}

.s-add-to-cart-white{
    background-position:-763px -150px;
    width:25px;
    height:22px;
}

.s-add-to-cart-red{
    background-position:-763px -177px;
    width:25px;
    height:22px;
}

.s-account-grey{
    background-position:-592px -507px;
    width:19px;
    height:25px;
}

.s-product-gallery-video{
    background-position:-483px -274px;
    width:24px;
    height:24px;
}

.s-polygon-up-lightblue{
    background-position:-511px -274px;
    width:24px;
    height:24px;
}

.s-polygon-up-blue{
    background-position:-539px -274px;
    width:24px;
    height:24px;
}

.s-polygon-right-small-lightblue{
    background-position:-567px -274px;
    width:24px;
    height:24px;
}

.s-polygon-right-small-blue{
    background-position:-595px -274px;
    width:24px;
    height:24px;
}

.s-polygon-plus-small-grey{
    background-position:-623px -274px;
    width:24px;
    height:24px;
}

.s-polygon-plus-small-blue{
    background-position:-651px -274px;
    width:24px;
    height:24px;
}

.s-polygon-minus-small-grey{
    background-position:-679px -274px;
    width:24px;
    height:24px;
}

.s-polygon-minus-small-blue{
    background-position:-707px -274px;
    width:24px;
    height:24px;
}

.s-polygon-left-small-lightblue{
    background-position:-735px -274px;
    width:24px;
    height:24px;
}

.s-polygon-left-small-blue{
    background-position:-763px -274px;
    width:24px;
    height:24px;
}

.s-polygon-down-lightblue{
    background-position:-615px -507px;
    width:24px;
    height:24px;
}

.s-polygon-down-blue{
    background-position:-643px -507px;
    width:24px;
    height:24px;
}

.s-objects-show-more-button-white{
    background-position:-671px -507px;
    width:24px;
    height:24px;
}

.s-objects-show-more-button-expanded-white{
    background-position:-699px -507px;
    width:24px;
    height:24px;
}

.s-objects-show-more-button-expanded-blue{
    background-position:-727px -507px;
    width:24px;
    height:24px;
}

.s-objects-show-more-button-blue{
    background-position:-755px -507px;
    width:24px;
    height:24px;
}

.s-metahd-account-unlock-blue{
    background-position:-597px -247px;
    width:24px;
    height:23px;
}

.s-metahd-account-unlock-black{
    background-position:-625px -247px;
    width:24px;
    height:23px;
}

.s-metahd-account-lock-blue{
    background-position:-653px -247px;
    width:24px;
    height:23px;
}

.s-metahd-account-lock-black{
    background-position:-681px -247px;
    width:24px;
    height:23px;
}

.s-libraries-slider-handler-white{
    background-position:-512px -542px;
    width:24px;
    height:24px;
}

.s-libraries-slider-handler-blue{
    background-position:-540px -542px;
    width:24px;
    height:24px;
}

.paper_plane{
    background-position:-766px -83px;
    width:24px;
    height:16px;
}

.s-productlist-switch-icon-white{
    background-position:-709px -247px;
    width:23px;
    height:17px;
}

.s-productlist-switch-icon-black{
    background-position:-736px -247px;
    width:23px;
    height:17px;
}

.s-warning-small{
    background-position:-568px -542px;
    width:22px;
    height:22px;
}

.s-polygon-remove-small-red{
    background-position:-594px -542px;
    width:22px;
    height:22px;
}

.s-polygon-remove-small-red-bg{
    background-position:-620px -542px;
    width:22px;
    height:22px;
}

.s-polygon-red-bg{
    background-position:-646px -542px;
    width:22px;
    height:22px;
}

.s-polygon-edit-small-lightblue{
    background-position:-672px -542px;
    width:22px;
    height:22px;
}

.s-polygon-edit-small-blue{
    background-position:-698px -542px;
    width:22px;
    height:22px;
}

.s-dangerous-goods{
    background-position:-724px -542px;
    width:22px;
    height:22px;
}

.s-bulky-goods{
    background-position:-750px -542px;
    width:22px;
    height:22px;
}

.s-elements-base-error{
    background-position:-763px -247px;
    width:21px;
    height:17px;
}

.s-compare-white{
    background-position:-2px -576px;
    width:21px;
    height:16px;
}

.s-back-to-top-white{
    background-position:-775px -49px;
    width:9px;
    height:21px;
}

.s-back-to-top-black{
    background-position:-772px -315px;
    width:9px;
    height:21px;
}

.s-loupe-white{
    background-position:-2px -596px;
    width:20px;
    height:20px;
}

.s-loupe-blue{
    background-position:-26px -596px;
    width:20px;
    height:20px;
}

.s-loupe-black{
    background-position:-50px -596px;
    width:20px;
    height:20px;
}

.s-go-to-cart-white{
    background-position:-74px -596px;
    width:20px;
    height:18px;
}

.s-go-to-cart-red{
    background-position:-98px -596px;
    width:20px;
    height:18px;
}

.s-go-to-cart-blue{
    background-position:-122px -596px;
    width:20px;
    height:18px;
}

.s-go-to-cart-black{
    background-position:-146px -596px;
    width:20px;
    height:18px;
}

.s-forms-radio-button-big-grey-std{
    background-position:-2px -620px;
    width:20px;
    height:20px;
}

.s-forms-radio-button-big-grey-act{
    background-position:-26px -620px;
    width:20px;
    height:20px;
}

.s-forms-radio-button-big-blue-std-hov{
    background-position:-50px -620px;
    width:20px;
    height:20px;
}

.s-forms-radio-button-big-blue-act-hov{
    background-position:-74px -620px;
    width:20px;
    height:20px;
}

.s-add-to-cart-small-white{
    background-position:-170px -596px;
    width:20px;
    height:18px;
}

.s-add-to-cart-small-red{
    background-position:-194px -596px;
    width:20px;
    height:18px;
}

.s-add-to-cart-small-blue{
    background-position:-218px -596px;
    width:20px;
    height:18px;
}

.s-add-to-cart-small-black{
    background-position:-242px -596px;
    width:20px;
    height:18px;
}

.s-forms-checkbox-big-red-error{
    background-position:-98px -620px;
    width:19px;
    height:19px;
}

.s-forms-checkbox-big-grey-std{
    background-position:-121px -620px;
    width:19px;
    height:19px;
}

.s-forms-checkbox-big-grey-act{
    background-position:-144px -620px;
    width:19px;
    height:19px;
}

.s-forms-checkbox-big-blue-std-hov{
    background-position:-167px -620px;
    width:19px;
    height:19px;
}

.s-forms-checkbox-big-blue-act-hov{
    background-position:-190px -620px;
    width:19px;
    height:19px;
}

.s-upload-lightblue{
    background-position:-772px -370px;
    width:18px;
    height:18px;
}

.s-upload-grey{
    background-position:-266px -596px;
    width:18px;
    height:18px;
}

.s-upload-blue{
    background-position:-288px -596px;
    width:18px;
    height:18px;
}

.s-upload-black{
    background-position:-310px -596px;
    width:18px;
    height:18px;
}

.s-settings-grey{
    background-position:-332px -596px;
    width:18px;
    height:18px;
}

.s-settings-blue{
    background-position:-354px -596px;
    width:18px;
    height:18px;
}

.s-settings-black{
    background-position:-376px -596px;
    width:18px;
    height:18px;
}

.danger_grey{
    background-position:-772px -392px;
    width:18px;
    height:15px;
}

.s-order-manager-grey{
    background-position:-398px -596px;
    width:17px;
    height:17px;
}

.s-order-manager-blue{
    background-position:-419px -596px;
    width:17px;
    height:17px;
}

.s-order-manager-black{
    background-position:-440px -596px;
    width:17px;
    height:17px;
}

.s-metahd-user-grey{
    background-position:-27px -576px;
    width:17px;
    height:16px;
}

.s-account-lightblue{
    background-position:-48px -576px;
    width:17px;
    height:16px;
}

.s-account-blue{
    background-position:-69px -576px;
    width:17px;
    height:16px;
}

.s-account-black{
    background-position:-90px -576px;
    width:17px;
    height:16px;
}

.s-question-lightblue{
    background-position:-776px -542px;
    width:9px;
    height:16px;
}

.s-question-blue{
    background-position:-111px -576px;
    width:9px;
    height:16px;
}

.s-question-black{
    background-position:-124px -576px;
    width:9px;
    height:16px;
}

.s-list-white{
    background-position:-137px -576px;
    width:14px;
    height:16px;
}

.s-list-red{
    background-position:-155px -576px;
    width:14px;
    height:16px;
}

.s-list-lightblue{
    background-position:-173px -576px;
    width:14px;
    height:16px;
}

.s-list-grey{
    background-position:-191px -576px;
    width:14px;
    height:16px;
}

.s-list-blue{
    background-position:-209px -576px;
    width:14px;
    height:16px;
}

.s-list-black{
    background-position:-227px -576px;
    width:14px;
    height:16px;
}

.s-closed-white{
    background-position:-245px -576px;
    width:12px;
    height:16px;
}

.s-closed-red{
    background-position:-261px -576px;
    width:12px;
    height:16px;
}

.s-closed-lightblue{
    background-position:-277px -576px;
    width:12px;
    height:16px;
}

.s-closed-blue{
    background-position:-293px -576px;
    width:12px;
    height:16px;
}

.s-closed-black{
    background-position:-309px -576px;
    width:12px;
    height:16px;
}

.s-calendar-black{
    background-position:-325px -576px;
    width:15px;
    height:16px;
}

.s-add-to-cart-mini-white{
    background-position:-344px -576px;
    width:16px;
    height:15px;
}

.s-add-to-cart-mini-red{
    background-position:-364px -576px;
    width:16px;
    height:15px;
}

.s-add-to-cart-mini-blue{
    background-position:-384px -576px;
    width:16px;
    height:15px;
}

.s-plus-red{
    background-position:-404px -576px;
    width:15px;
    height:15px;
}

.s-plus-big-white{
    background-position:-423px -576px;
    width:15px;
    height:15px;
}

.s-plus-big-red{
    background-position:-442px -576px;
    width:15px;
    height:15px;
}

.s-plus-big-black{
    background-position:-461px -576px;
    width:15px;
    height:15px;
}

.s-favorite-white{
    background-position:-480px -576px;
    width:15px;
    height:14px;
}

.s-favorite-red{
    background-position:-499px -576px;
    width:15px;
    height:14px;
}

.s-favorite-lightblue{
    background-position:-518px -576px;
    width:15px;
    height:14px;
}

.s-favorite-grey{
    background-position:-537px -576px;
    width:15px;
    height:14px;
}

.s-favorite-blue{
    background-position:-556px -576px;
    width:15px;
    height:14px;
}

.s-favorite-black{
    background-position:-575px -576px;
    width:15px;
    height:14px;
}

.s-triangle-up-black{
    background-position:-656px -135px;
    width:14px;
    height:8px;
}

.s-objects-available-bars-big-yellow{
    background-position:-594px -576px;
    width:14px;
    height:14px;
}

.s-objects-available-bars-big-orange{
    background-position:-612px -576px;
    width:14px;
    height:14px;
}

.s-objects-available-bars-big-lgreen{
    background-position:-630px -576px;
    width:14px;
    height:14px;
}

.s-objects-available-bars-big-grey{
    background-position:-648px -576px;
    width:14px;
    height:14px;
}

.s-objects-available-bars-big-green{
    background-position:-666px -576px;
    width:14px;
    height:14px;
}

.s-list-small-black{
    background-position:-684px -576px;
    width:12px;
    height:14px;
}

.s-home-grey{
    background-position:-761px -204px;
    width:14px;
    height:13px;
}

.s-forms-radio-button-grey-std{
    background-position:-700px -576px;
    width:14px;
    height:14px;
}

.s-forms-radio-button-blue-std-hov{
    background-position:-718px -576px;
    width:14px;
    height:14px;
}

.s-forms-radio-button-blue-act{
    background-position:-736px -576px;
    width:14px;
    height:14px;
}

.s-forms-radio-button-blue-act-hov{
    background-position:-754px -576px;
    width:14px;
    height:14px;
}

.s-compare-mini-grey{
    background-position:-447px -227px;
    width:14px;
    height:11px;
}

.s-compare-mini-blue{
    background-position:-465px -227px;
    width:14px;
    height:11px;
}

.s-compare-mini-black{
    background-position:-483px -227px;
    width:14px;
    height:11px;
}

.s-remove-blue{
    background-position:-772px -340px;
    width:12px;
    height:12px;
}

.s-remove-black{
    background-position:-772px -576px;
    width:12px;
    height:12px;
}

.s-arrow-down-big-white{
    background-position:-674px -135px;
    width:12px;
    height:8px;
}

.s-arrow-down-big-blue{
    background-position:-690px -135px;
    width:12px;
    height:8px;
}

.s-arrow-down-big-black{
    background-position:-706px -135px;
    width:12px;
    height:8px;
}

.s-forms-checkbox-grey-std{
    background-position:-779px -204px;
    width:11px;
    height:11px;
}

.s-forms-checkbox-blue-std{
    background-position:-501px -227px;
    width:11px;
    height:11px;
}

.s-forms-checkbox-blue-std-hov{
    background-position:-516px -227px;
    width:11px;
    height:11px;
}

.s-forms-checkbox-blue-hov{
    background-position:-531px -227px;
    width:11px;
    height:11px;
}

.s-forms-checkbox-blue-act{
    background-position:-546px -227px;
    width:11px;
    height:11px;
}

.s-forms-checkbox-blue-act-std{
    background-position:-561px -227px;
    width:11px;
    height:11px;
}

.s-forms-checkbox-blue-act-hov{
    background-position:-576px -227px;
    width:11px;
    height:11px;
}

.s-arrow-right-white{
    background-position:-591px -227px;
    width:7px;
    height:11px;
}

.s-arrow-right-red{
    background-position:-602px -227px;
    width:7px;
    height:11px;
}

.s-arrow-right-blue{
    background-position:-613px -227px;
    width:7px;
    height:11px;
}

.s-arrow-right-black{
    background-position:-624px -227px;
    width:7px;
    height:11px;
}

.s-arrow-left-white{
    background-position:-635px -227px;
    width:7px;
    height:11px;
}

.s-arrow-left-red{
    background-position:-646px -227px;
    width:7px;
    height:11px;
}

.s-arrow-left-blue{
    background-position:-657px -227px;
    width:7px;
    height:11px;
}

.s-arrow-left-black{
    background-position:-668px -227px;
    width:7px;
    height:11px;
}

.s-arrow-down-big-red{
    background-position:-722px -135px;
    width:11px;
    height:7px;
}

.s-yes{
    background-position:-679px -227px;
    width:10px;
    height:10px;
}

.s-plus-white{
    background-position:-693px -227px;
    width:10px;
    height:10px;
}

.s-plus-black{
    background-position:-707px -227px;
    width:10px;
    height:10px;
}

.s-no{
    background-position:-721px -227px;
    width:9px;
    height:10px;
}

.s-minus-white{
    background-position:-734px -227px;
    width:10px;
    height:10px;
}

.s-minus-black{
    background-position:-748px -227px;
    width:10px;
    height:10px;
}

.s-more-white{
    background-position:-737px -135px;
    width:9px;
    height:7px;
}

.s-more-lightblue{
    background-position:-750px -135px;
    width:9px;
    height:7px;
}

.s-more-blue{
    background-position:-763px -135px;
    width:9px;
    height:7px;
}

.s-more-black{
    background-position:-776px -135px;
    width:9px;
    height:7px;
}

.s-arrow-left-small-grey{
    background-position:-762px -227px;
    width:7px;
    height:9px;
}

.s-arrow-left-small-blue{
    background-position:-773px -227px;
    width:7px;
    height:9px;
}

.s-arrow-down-white{
    background-position:-167px -304px;
    width:9px;
    height:7px;
}

.s-arrow-down-red{
    background-position:-180px -304px;
    width:9px;
    height:7px;
}

.s-plus-small-white{
    background-position:-58px -412px;
    width:8px;
    height:8px;
}

.s-plus-small-red{
    background-position:-70px -412px;
    width:8px;
    height:8px;
}

.s-objects-available-bars-small-yellow{
    background-position:-82px -412px;
    width:8px;
    height:8px;
}

.s-objects-available-bars-small-white{
    background-position:-94px -412px;
    width:8px;
    height:8px;
}

.s-objects-available-bars-small-orange{
    background-position:-106px -412px;
    width:8px;
    height:8px;
}

.s-objects-available-bars-small-lgreen{
    background-position:-118px -412px;
    width:8px;
    height:8px;
}

.s-objects-available-bars-small-green{
    background-position:-130px -412px;
    width:8px;
    height:8px;
}

.s-arrow-right-small-lightblue{
    background-position:-784px -227px;
    width:5px;
    height:7px;
}

.s-arrow-right-small-blue{
    background-position:-193px -304px;
    width:5px;
    height:7px;
}
