ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

th {
	font-weight: normal;
}

button {
	padding: 0;
	border: none;
}

iframe{
	border: none;
	overflow: hidden;
	&::-webkit-scrollbar {
		display: none;
	}
}
