/*
 *
 * Print: General styling for every page to be printed
 *
*/

.commonElements() {

	.sticky-wrapper { // No stickiness on print version required thankyou :-)
		display: none;
	}

	#grid-overlay, // H-Grid, V-Grid markup on left hand side
	#footer {
		display: none;
	}

	.mod-print-footer { // Footer printed just once at the end of the printout.
		margin-top: 30px;
	}
}

