/*
 * Generic Typo Helpers
 *
 */


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Vars

@font-base:     Helvetica, Arial, sans-serif;
@font-base-light: 300; // -> light
@font-base-reg:   400; // -> regular
@font-base-bold:  600; // -> semibold
@font-heading:  Helvetica, Arial, sans-serif;
@base-lineHeight: 24px;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Namespace: Generic Typo Helpers

// use as #typo > .mixin()

#typo {

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	// Font Base

	.base() {
		font-family: @font-base;
		font-style: normal;
		font-weight: @font-base-reg;
		font-size: 16px;
		line-height: @base-lineHeight;
		color: @c-base;
	}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  	//
	// Default Font Sizes Styleguide
  	// -> Overwrite line-height in your modules if needed

  	.size-xs() {
		font-size: 10px;
		line-height: 12px;
  	}

  	.size-s() {
		font-size: 13px;
		line-height: 18px; // sic!
	}

    .size-m() {
		font-size: 14px;
		line-height: 18px;
	}

  	.size-l() {
		font-size: 18px;
		line-height: 22px;
	}

  	//

    .size-x-a() {
		font-size: 20px;
		line-height: 24px;
	}

    .size-x-b() { // mainnav
		font-size: 22px;
		line-height: 26px;
	}

  	.size-x-c() {
		font-size: 15px;
		line-height: 18px;  // sic!
	}


	//
  	// Custom Font Sizes
  	// -> Overwrite line-height in your modules if needed

	// Quotation Lightbox, CartPriceCalcBox, CheckoutReviewPage
    .size-c-a() {
    	font-size: 11px;
    	line-height: 22px;
    }

	// Quotation Lightbox, Address Keys
  	.size-c-b() {
		font-size: 12px;
		line-height: 22px;
  	}

	// CartPriceCalcBox
	.size-c-c() {
		font-size: 15px;
		line-height: 30px;
	}

	// Checkout Confirmationpage Order Id
	.size-c-d() {
		font-size: 28px;
		line-height: 24px;
	}

	// Product Detail Page
	.size-c-e() {
		font-size: 32px;
		line-height: 38px;
	}



	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	// Content Headings
	// -> use as mixin in your modules or just add a .base class to your markup

	// Heading h1

	.heading-page(@color: @c-red) {
		font-weight: @font-base-light;
		color: @color;
		font-size: 28px;
		line-height: 34px;
	}

	// Heading h2 (e-heading-a)

	.heading-section(@color: @c-red) {
		font-weight: @font-base-light;
		color: @color;
		font-size: 25px;
		line-height: 28px;
	}

	// Heading h3

	.heading-content(@color: @c-red) {
		.size-l();
		color: @color;
	}

	// Heading h2 (product detail page)

	.heading-pdp (@color: @c-black) {
		.size-c-e();
		color: @color;
	}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	//
	// Typo Definitions that can be reused in several modules


	// Title that is often used on checkout pages

	.section-title(@color: @c-grey20) {
		.size-l();
		color: @color;
		display: inline-block;
		width: 100%;
		height: 50px;
		line-height: 45px;
		border-top: 1px solid @c-border;
		border-bottom: 1px solid @c-border;
		background-color: @c-greyC;
		padding: 0 10px 0 17px;
	}

	// CMS and direct use for intro text above content

	.typo-leadtext(@color: @c-grey20) {
		.size-x-b();
		color: @color;
		font-weight: @font-base-light;
		line-height: 32px;
	}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

}



