
#obj {

	.modal() {

		& {
			width: 480px;
			margin-left: -240px;
			background-color: @c-greyC;
			outline: none // Remove Outline on lightboxes
		}

		.hd, .bd, .ft {
			padding: 0 30px;
			margin-bottom: 20px;
		}

		// modal window head
		.hd {
			.vertical-align-parent();
			background-color: @c-grey20;
            width:100%;

			.lt-ie8 & {
				width: 420px;
			}

			.-left,
			.-right {
				.vertical-align-child(80px);
				.lt-ie8 & {
					padding-top: 20px;
					height: 60px;
				}
			}

			.-left{
				.lt-ie8 & {
					width: 380px;
				}
			}

			.-right {
				text-align: right;
				.lt-ie8 & {
					width: 35px;
				}
			}

			.title {
				#typo > .size-x-b();
				font-weight: @font-base-light; // Review: KR: As per styleguide
				display: inline-block;
				color: @c-white;
				margin-top: 0px;	// Review: KR: Vertical alignment
				margin-bottom: 0px; // Review: KR:

				& small {
					#typo > .size-x-c();
					color: @c-grey80;
					padding-left: 8px;
					padding-right: 8px;
				}
			}

			.btn-close {
				#obj > .close-button();
			}
		}

        // modal window body
        .bd {
			overflow-y: auto; // to get the vertical scrollbar. Height is set via js
	        overflow-x: hidden;
        }

		// modal window footer
		.ft {
			margin-bottom: 20px; // Review: KR: As per styleguide
			text-align: right;

			.btn {
				width: 155px;
				margin-left: 16px;
				text-align: center;
			}
		}
	}

}