
#obj {

	.available-bar() {

		position:relative;
		padding:11px 2px; // Review: KR: Vertical alignment (Shipping-information)
		float:left;

		li {
			float:left;
			margin:5px 0 5px 5px;
			line-height: 1;
		}

		.mixin-availability-dot(@size: 6px) {
			border-radius: @size;
			width: @size;
			height: @size;
		}

		&.big {
			.green {
				.mixin-availability-dot(14px);
				background-color: @c-availability-green;
			}
			.lgreen {
				.mixin-availability-dot(14px);
				background-color: @c-availability-green-light;
			}
			.orange {
				.mixin-availability-dot(14px);
				background-color: @c-availability-orange;
			}
			.yellow {
				.mixin-availability-dot(14px);
				background-color: @c-availability-orange-light;
			}
			.white {
				.mixin-availability-dot(14px);
				border: 1px solid @c-availability-grey;
			}
		}
		&.medium {
			.green {
				.mixin-availability-dot(10px);
				background-color: @c-availability-green;
			}
			.lgreen {
				.mixin-availability-dot(10px);
				background-color: @c-availability-green-light;
			}
			.orange {
				.mixin-availability-dot(10px);
				background-color: @c-availability-orange;
			}
			.yellow {
				.mixin-availability-dot(10px);
				background-color: @c-availability-orange-light;
			}
			.white {
				.mixin-availability-dot(10px);
				border: 1px solid @c-availability-grey;
			}
		}
		&.small {
			padding:0;

			li {
				margin:0 1px 1px 1px;
			}

			.green {
				.mixin-availability-dot();
				background-color: @c-availability-green;
			}
			.lgreen {
				.mixin-availability-dot();
				background-color: @c-availability-green-light;
			}
			.orange {
				.mixin-availability-dot();
				background-color: @c-availability-orange;
			}
			.yellow {
				.mixin-availability-dot();
				background-color: @c-availability-orange-light;
			}
			.white {
				.mixin-availability-dot();
				border: 1px solid @c-availability-grey;
			}
		}
	}
}