
#obj {

	.successBox() {
        & {
            border: 1px solid @c-green60;
            background: @c-green10;
            color: @c-green60;
            padding-bottom: 13px;
            margin-bottom: 19px;
        }

        h4 {
            text-align: center;
            font-size: 19px;
            padding:10px 0 1px 0;
        }
        p {
            font-size: 14px;
            text-align: center;
        }
	}

    .errorBox() {
        & {
            border: 1px solid @c-red;
            background: @c-redC;
            color: @c-red;
            padding-bottom: 13px;
            margin-bottom: 19px;
        }

        h4 {
            text-align: center;
            font-size: 19px;
            padding:10px 0 1px 0;
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }

    .warningBox() {
        & {
            border: 1px solid @c-yellow60;
            background: @c-yellow10;
            color: @c-yellow60;
            padding-bottom: 13px;
            margin-bottom: 19px;
        }

        h4 {
            text-align: center;
            font-size: 19px;
            padding:10px 0 1px 0;
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }
    
    .infoBox() {
        & {
            border: 1px solid @c-grey32;
            background: @c-greyB;
            color: @c-grey32;
            padding-bottom: 13px;
            margin-bottom: 19px;
        }

        h4 {
            text-align: center;
            font-size: 19px;
            padding:10px 0 1px 0;
        }
        p {
            font-size: 14px;
            text-align: center;
        }
    }

}