<app-product-card
  *ngIf="productCardData$ | async as data"
  [productCode]="data[0].articleNumber"
  [priceData]="productPriceData"
  [orientation]="data[0].orientation"
  [customDescription]="data[0].customDescription ?? ''"
  [brandLogo]="data[0].brandLogo"
  [topDisplay]="data[0].topDisplay"
  [labelDisplay]="data[0].labelDisplay"
  [brandAlternateText]="data[0].brandAlternateText"
  [snippet]="data[0].snippet"
  [isTitle]="data[0].title"
  [isImage]="data[0].image"
  [isArticle]="data[0].articleToggle"
  [customTitle]="data[0].customTitle"
  [buttonType]="data[0].buttonType"
  [isPrice]="data[0].price"
  [productData]="data[1]"
  [addToCartText]="'product.product_info.add_to_cart_btn' | cxTranslate"
  [excVatText]="'product.exc_vat' | cxTranslate"
  [incVatText]="'product.inc_vat' | cxTranslate"
  [artNrText]="'homepage.artNr' | cxTranslate"
  [mpnText]="'homepage.mpn' | cxTranslate"
  [copiedText]="'product.product_intro.copied_text' | cxTranslate"
  [channelData]="channelData$ | async"
  [promotionParameter]="data[0].promotionParameter"
  (quantityChange)="quantityChange($event)"
></app-product-card>
