.mod-campaign {
  margin-bottom: $spacing-unit*4;

  .advisorBox {
    width: 100%;
  }

  &.loading {
    display: none;
  }

  .feedback-top {

    &.loading {
      display: none;
    }

  }

  .advisorBox {
    display: block;
    font-family: $font-montserrat;
    font-weight: 500;
    float: left;
    margin-bottom: ($spacing-unit * 6);
    padding: ($spacing-unit * 4) 0 ($spacing-unit * 2);
    
    h2 {
      @include font-size(18px);
      @include line-height(22px);
      margin-bottom: ($spacing-unit * 6);
    }

    h3 {
      @include font-size(15px);
      @include line-height(19px);
      font-weight: 700;
      margin-bottom: ($spacing-unit * 3);
    }

    ul {
      float: left;
      width: 100%;

      li {
        background-color: $colour-white;
        border: 1px solid $colour-advisor-list;
        border-radius: $spacing-unit;
        box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) 0 rgba(0, 0, 0, .1);
        display: inline-block;
        float: left;
        padding: ($spacing-unit) ($spacing-unit * 2);
        width: 48%;
        margin: 0;

        @media #{$ipad} {
          margin: ($spacing-unit * 4) ($spacing-unit * 4) 0 0;
          width: 31%;
        }

        @media #{$ipad-landscape} {
          width: 23.4%;
        }

        a {
          display: block;
          height: 61px;
          line-height: 61px;
        }

        @media #{$desktop} {
          width: 23.7%;
        }

        &:nth-of-type(even) {
          float: right;

          @media #{$ipad} {
            float: left;
          }

        }

        &:nth-of-type(3n) {
          margin-right: 0;

          @media #{$ipad-landscape} {
            margin-right: ($spacing-unit * 4);
          }

        }

        &:nth-of-type(4n) {

          @media #{$ipad-landscape} {
            margin-right: 0;
          }

        }

        .classImage {
          display: table;
          height: 100%;

          img {
            display: table-cell;
            height: 61px;
            vertical-align: middle;
          }

          .ff-advisor-campaign {
            @include font-size(12px);
            display: table-cell;
            padding-left: ($spacing-unit * 4);
            vertical-align: middle;

            @media #{$ipad} {
              @include font-size(16px);
            }

          }

        }

      }

    }

  }

  .feedback-top {

    img {
      max-width: 100%;
    }

  }

}

.campaign-top-product-detail-page {

  &.loaded {
    margin-bottom: ($spacing-unit * 3);
  }

}
