.skin-campaign-feedback {
  border-bottom: 1px solid $border-campaign-feed-back-grey;
  float: left;
  padding-bottom: ($spacing-unit * 8);
  width: 100%;

  h2 {
    font-weight: 300;
    margin-bottom: ($spacing-unit * 6);
  }

  ul {
    font-weight: 300;

    li {
      margin-bottom: ($spacing-unit * 2);
    }

  }

  p {

    a {
      @include font-size(14px);
      color: $link-blue;
      display: block;
      margin-top: ($spacing-unit * 6);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $link-dark-blue;
      }
    }

  }

}
