////////////////////////////////////////////////////////////
//
// Global Scope for all Meta HD Items
//

@mod-metahd-height: 51px;
@mod-metahd-searchWidth: 400px;
// Review: KR: To be aligned with product detail middle line

////////////////////////////////////////////////////////////
//
// The Meta HD

.mod-metahd {


		// Row
		> ul {

			.box-sizing(content-box);

			.lt-ie8 & {
				display: block;
				.cf()
			}
		}

		// IE7: Make Meta Hd less ugly for IE7 and below
		.lt-ie8 & .mod-metahd-item {
			float: left;
		}

}
