@import 'global-utilities';

.loading-holder {
  position: fixed;
  top: 40%;
  right: 50%;
  z-index: $zindex-popover;
  transform: translateX(50%);

  &__icon {
    @include font-size(54px);
    color: $colour-white;
  }
}
