.sm {
  height: 16px;
  width: 16px;
}

.md {
  height: 20px;
  width: 20px;
}

.lg {
  height: 24px;
  width: 24px;
}

.xl {
  height: 32px;
  width: 32px;
}

.xxl {
  height: 48px;
  width: 48px;
}
