.o-cr-product-list {
  max-height: 280px;
  min-height: 130px;

  &__item {
    padding-bottom: $spacing-unit * 3;

    &.is-bom-main,
    &.is-quote {
      padding-bottom: $spacing-unit * 2;
    }

    &.is-bom-main,
    &.is-bom,
    &.is-bom-sub,
    &.is-quote {
      &:not(:last-child) {
        border-bottom: none;
        margin-bottom: 0;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $ux-light-grey;
      margin-bottom: $spacing-unit * 3;
    }
  }
}

.o-cr-product-item {
  &.is-bom,
  &.is-quote {
    .o-cr-product-item {
      &__content {
        padding-left: 0;
      }

      &__title {
        margin-bottom: 0;
      }
    }
  }

  &__body {
    display: flex;
  }

  &__footer {}

  &__image {
    padding-bottom: $spacing-unit;

    &.is-quote {
      img {
        max-width: 100px;
      }
    }

    &-link {
      img {}
    }
  }

  &__content {
    padding-left: $spacing-unit * 3;
  }

  &__title {
    @include font-size(14px);
    @include line-height(20px);
    margin: 0 0 $spacing-unit;
    font-weight: 500;
  }

  &__attr-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      @include font-size(12px);
      @include line-height(16px);
      flex: 0 0 100%;
      margin-top: $spacing-unit;
      font-weight: 400;

      &:not(.is-half) {
        display: flex;
        justify-content: space-between;

        > * {
          flex: 0 0 50%;
        }
      }

      &.is-availability-message {
        > * {
          flex: 0 0 100%;
        }
      }

      &.is-half {
        flex: 0 0 50%;
      }

      &.is-text {
        @include font-size(14px);
        margin-top: $spacing-unit * 1;
      }

      strong {
        font-weight: 500;
      }
    }
  }
}
