.o-cr-editable-form {
  &.is-delivery {
    margin-top: $spacing-unit * 4;

    .o-cr-editable-form {
      &__edit {
        &,
        .ux-link {
          position: relative;
        }

        .ux-link {
          padding-left: $spacing-unit * 6;

          &:before {
            @include font-size(32px);
            @include line-height(20px);
            content: '+';
            position: absolute;
            left: 0;
            color: $colour-dark-grey;
            font-weight: normal;
          }
        }
      }
    }
  }

  &.is-info-mode {
    .o-cr-editable-form {
      &__form {
        display: none;
      }

      &__info {
        display: block;
      }
    }
  }

  &.is-cancellable {
    .ux-btn {
      &.is-cancel-btn {
        display: block;
      }
    }
  }

  &__billingAndDelivery {
    padding-bottom: $spacing-unit;
    margin-top: $spacing-unit * 3;
  }

  &__form {}

  &__info {
    display: none;

    &-list {
      @include font-size(14px);
      font-weight: 500;

      &.is-review-pay-delivery-options {
        > li {
          &:not(:first-child) {
            margin-top: $spacing-unit;
          }
        }
      }
    }
  }

  &__edit {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    > button.ux-link {
      height: auto;
    }

    .material-icons-round {
      @include font-size(20px);
      margin-top: 0;
      margin-left: $spacing-unit;
      color: $colour-black;
    }
  }

  &__ctas {
    display: flex;
    align-items: center;

    > * {
      margin-right: $spacing-unit * 4;
    }
  }

  .ux-btn {
    &.is-cancel-btn {
      display: none;
    }
  }
}
