.mod-shoppinglist-meta-actions {
	/* General Stuff ************************************************************************/
	li {
		border-bottom: 1px solid @c-grey80;
		color: @c-mid-grey;
		height: 50px;
		position: relative;
		#typo > .size-x-c();

		&:first-child {
			border-top: 1px solid @c-grey80;
		}

		&:hover {
			color: @c-dist-grey;
			.ctrls {
				visibility: visible;
			}
		}
	}

	.list-icon {
		padding-right: 12px;
		display: inline-block;
		i {
			vertical-align: -3px;
		}
	}

	.list-name{
		display: inline-block;
		max-width: 190px;
		vertical-align: top;
	}

	.list-item-count {
		padding-left: 5px;
		color: @c-dist-grey;
		#typo > .size-xs();
	}

	.input-label {
		.vh();
	}

	.ctrls {
		position: absolute;
		right: 0;
		top: 13px;
		display: inline;
		visibility: hidden;
		form {
			display: inline;
		}
		.btn {
			height: 22px;
		}
	}

	// button icons
	.btn-list-edit {
		i {
			.s-polygon-edit-small-lightblue();
		}

		&:hover i,
		&:focus i {
			.s-polygon-edit-small-blue();
		}

		&:active i, &.active i {
			.s-polygon-edit-small-lightblue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-edit-small-lightblue();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-edit-small-lightblue();
			}
		}
	}
	.btn-list-delete {
		i {
			.s-polygon-remove-small-red();
		}

		&:hover i,
		&:focus i {
			.s-polygon-remove-small-red-bg();
		}

		&:active i, &.active i {
			.s-polygon-remove-small-red();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-remove-small-red();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-remove-small-red();
			}
		}
	}

	/* Favorite List *************************************************************************************/

	.favorite-list {
		display: block;
		padding: 15px 0 12px 17px;

		.list-name {
			color: #005E80;
			border-bottom: solid 2px transparent;
		}

		&:hover {
			color: #00435C;
		}

		&.active {
			background-color: @c-greyC;

			.list-icon i {
				.s-favorite-red();
				display: inline-block;
			}
			.list-item-count {
				color: @c-red;
			}
			.list-name {
				color: @c-dist-grey;
				font-weight: bold;
			}
		}
		&.active:hover {
			.list-icon i {
				.s-favorite-blue();
				display: inline-block;
			}

			.list-item-count {
				color: @c-dist-grey;
			}
		}
	}

	// List icons
	.favorite-list {
		i {
			.s-favorite-black();
		}

		&:hover i,
		&:focus i {
			.s-favorite-blue();
		}

		&:active i, &.active i {
			.s-favorite-red();
		}

		&[disabled], &.disabled {
			i {
				.s-favorite-black();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-favorite-black();
			}
		}
	}

	/* Shopping Lists *********************************************************************************/
	.shopping-list {
		display: block;
		padding: 15px 0 12px 17px;

		.list-name {
			color: #005E80;
			border-bottom: solid 2px transparent;
		}

		&:hover {
			color: #00435C;
		}

		&.active {
			background-color: @c-greyC;


			.list-icon i {
				.s-list-red();
				display: inline-block;
			}
			.list-item-count {
				color: @c-red;
			}
			.list-name {
				color: @c-dist-grey;
				font-weight: bold;
			}
		}
		&.active:hover {
			.list-icon i {
				.s-list-blue();
				display: inline-block;
			}

			.list-name {
				border-color: @c-dist-grey;
			}

			.list-item-count {
				color: @c-dist-grey;
			}
		}
	}

	.shopping-list {
		i {
			.s-list-black();
		}

		&:hover i,
		&:focus i {
			.s-list-blue();
		}

		&:active i, &.active i {
			.s-list-red();
		}

		&[disabled], &.disabled {
			i {
				.s-list-black();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-list-black();
			}
		}
	}

	/* Add new List **********************************************************************************************/
	.add-new-list {
		padding: 10px 0 10px 6px;
		height: auto; // no fixed height because error triangle may be shown

		form {
			.input-field {
				#typo > .size-x-c();
				background: @c-greyC;
				height: 35px;
				width: 100%;
				&:focus {
					background: white;
				}
			}

			// Validation Errors
			.field-msgs {
				margin-top: 10px;
				margin-bottom: 0;
			}

			.input-wrapper{
				overflow: hidden;
				padding-right: 10px;
			}

			.btn {
				height: 35px;
				white-space: nowrap;
				float: right;
				padding: 7px 10px 8px 10px;
				background: @c-grey80;
				border: solid 2px @c-grey80;
				color: @c-grey20;
				#typo > .size-x-c();
				line-height: 14px;
				&:hover {
					background: @c-white;
					border-color: @c-marigold;
					color: @c-black;
				}

			}
		}
	}

	/* Inline Edit ***********************************************************************************************/
	.edit-in-progress {
		padding-left: 0;

		.shopping-list {
			padding: 7px 0 7px 6px;
		}

		.list-item-count {
			visibility: hidden;
			display: none;
		}

		.list-icon {
			visibility: hidden;
			display: none;
		}

		.list-name {
			max-width: 100%;
			width: 100%;
			display: block;
		}

		&:hover {
			.ctrls {
				visibility: hidden;
				display: none;
			}
		}

		.shopping-list {
			i {
				.s-list-blue();
				display: inline-block;
			}
		}

		.input-wrapper{
			overflow: hidden;
			padding-right: 10px;
		}

		.input-field {
			margin-bottom: 0;
			width: 100%;
			background: @c-greyC;
			#typo > .size-x-c();
			height: 35px;
			&:focus {
				background: white;
			}
		}
		.btn {
			height: 35px;
			white-space: nowrap;
			float: right;
			padding: 7px 10px 8px 10px;
			background: @c-marigold;
			border: solid 2px @c-marigold;
			color: @c-black;
			#typo > .size-x-c();
			line-height: 14px;
			&:hover {
				background: @c-white;
				border-color: @c-marigold;
				color: @c-black;
			}

		}
	}

	.popover-variation(@c-white, @c-red, 'top');

	@media print {
		.add-new-list {
			.hidden();
		}
	}
}
