.skin-product-not-buyable {
	@_list-height: 125px;

	background-color: @c-productHover;

	.title {
		&.no-checkbox{
			margin-left: 106px;
			width: 400px;
		}
	}

	.mod-product:hover& {
		.title {
			color: @c-red;
		}
	}

	.eol, .phase-out{
		clear: both;
		float: right;
		margin: 10px;

		#typo > .size-s();
		.btn-secondary{
			#typo > .size-s();
			visibility: hidden;
		}
		&.hasReplacement{
			.btn-secondary{
				visibility: visible;
			}
		}
		.eol-message, .phase-out-message{
			color: @c-red;
			margin-bottom: 10px;
		}
	}
	.ctrls {
		min-width: 100px;
	}
	.read-only-pieces {
		float: right;
		margin-top: 3px;
	}
	.mod-toolsitem{
		float: right;
		margin-top: 3px;
		margin-right: 10px;
	}

	@media print {
		.list-attribs {
			.table-cell.second {
				.hidden();
			}
		}
	}
}
