.skin-product-detail-page {
	@_list-height: 179px;

	.title {
		padding-left: 5px;
		span{
			width: 670px;
		}

		.lt-ie8 & {
			width: 849px;
		}
	}

	.main{
		height: @_list-height;
	}

	.list-attribs {
		.table {
			.table-row {
				.table-cell{
					&.first{
						width: 284px;
					}
					&.second, &.third{
						width: 284px;
						.label{
							.ellipsis();
							max-width: 142px !important;
						}
						.value{
							max-width: 142px !important;
						}
					}
				}
			}
		}
	}

	.image-container {
		height: @_list-height;
	}

	.eol, .phase-out{
		width: 391px !important;
	}
}