.skin-product-shopping {

	@_list-height: 125px;
	@productListRowSpaceRight: 20px;
	@productListRowHeight: 30px;

	border-left: none;

	.title {
		margin: 0;
		margin-left: 134px;
		width: 350px;
		border-bottom: 0;
		a {
			line-height: 35px;
		}
	}

	.list-attribs {
		border-top: 1px solid @c-grey80;
	}

	.select-product-form {
		position: absolute;
		top: 8px;
		left: 113px;
		display: block;
		label {
			display: block;
		}
	}

	.eol, .phase-out {
		height: @_list-height - 35px;
	}

	@media print {

		.select-product-form {
			.hidden();
		}
	}
}
