.skin-product-technical-old {

  @_list-height: 179px;

  .main{
    height: @_list-height;
  }

  .title-link{
    display: block;
  }

  .list-attribs {

    .table {

      .table-row {

        .table-cell {

          &.first {
            width: 178px;

            .value {

              &.type-name{
                max-width: 120px;
              }

              &.manufacturer  {
                max-width: 120px;
              }

            }

          }

          &.second,
          &.third{
            width: 177px;

            .label {
              .ellipsis();
              max-width: 118px !important;
              width: 118px !important;

              .lt-ie8 & {
                max-width: 108px !important;
                width: 108px !important;
              }

            }

            .value {
              max-width: 128px !important;
              width: 128px !important;
              display: inline-block;
              max-height: 20px;
            }

          }

        }

      }

    }

    .product-family {
      margin-left: 12px;
    }

    .mod-scaled-prices {
      bottom: 28px;
      left: 106px;
      position: absolute;
    }

  }

  .image-container {
    height: @_list-height;
  }

}