.skin-product-expired {

	.c-center {
		padding-top: 0;
	}

	.c-center-vertical {
		padding-top: 75px;
		p {
			color: @c-red;
		}
	}

	.title {
		width: 185px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
