@product-skin-technical-font-grey: #333;
@product-skin-technical-font-blue: #009fb4;
@product-skin-technical-border-right: #d8d8d8;

.skin-product-technical {
  border-left: 0;
  float: left;
  width: 100%;

  &:hover {

    .main {
      background: transparent;
    }

  }

  .main {
    height: 210px;
    padding: 10px 0;

    &__image {
      display: inline-block;
      float: left;
      padding-right: 15px;
      width: 15%;

      .ico {
        visibility: visible;
      }

      .ctrls {
        float: left;
        position: relative;
        right: 0;
        text-align: center;
        top: 30px;
        width: 100%;
      }

      .image-container {
        position: relative;
        width: 100%;
      }

    }

    &__content {
      border-right: 1px solid @product-skin-technical-border-right;
      display: inline-block;
      float: left;
      padding-right: 15px;
      width: 61%;

      .title-holder {
        float: left;
        padding: 10px 0;
        width: 100%;

        .title-link {
          display: block;
        }

        .ellipsis {
          width: 100%;
        }

        .title {
          border: 0;
          color: @product-skin-technical-font-grey;
          font-size: 16px;
          font-weight: bold;
          height: 23px;
          line-height: 23px;
          margin: 0;
          padding: 0;
          width: 100%;
        }

      }

      .list-attribs {
        float: left;
        margin: 0;
        width: 100%;

        .table {

          .table-row {

            .table-cell {
              border: 0;
              width: auto;

              &.first {
                width: auto;
              }

              .label,
              .value {
                color: @product-skin-technical-font-grey;
                font-size: 12px;
                line-height: 26px;
                padding: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 50px;
              }

              .value {
                padding-left: 5px;
                width: 135px;
              }

              .product-family {
                color: @product-skin-technical-font-blue;
                margin: 0;
                text-decoration: underline;
              }

            }

          }

        }

      }

    }

    &__actions {
      display: inline-block;
      float: left;
      padding-left: 15px;
      width: 24%;

      .action-detail {
        float: left;
        padding: 20px 0;
        text-align: right;
        width: 100%;

        span {
          color: @product-skin-technical-font-grey;
          font-size: 12px;
          line-height: 23px;

          &.value {
            font-weight: bold;
          }

        }

      }

      .button-holder {
        display: inline-block;
        float: right;
        padding-left: 15px;
        width: 45%;

        .btn-primary {
          float: right;
          font-size: 14px !important;
          height: 32px;
          max-width: 70px;
          outline: none;
          padding: 0;
          width: 100%;

          &.disabled {
            border: 1px solid @c-grey80;

            i {
              .s-add-to-cart-red();
            }

          }

          span {
            display: none;

            &.active {
              display: inline;
            }

          }

          &.item-added {
            background-color: @c-white;
            border: 1px solid @c-grey80;
            color: #de1417;

            i {
              .s-add-to-cart-red();
            }

          }


          i {
            .s-add-to-cart-white();
            left: 14px;
            margin-left: 5px;
            margin-top: 0;
            position: absolute;
            top: 4px;
          }

          &:focus i,
          &:hover i {
            .s-add-to-cart-red();
          }

        }

      }

    }

  }

  .energy-label-popover {
    margin-left: 140px;
    margin-top: -152px;
  }

}

