#ensNotifyBanner {
  background-color: #ffffff;
  color: #393e41;
  border-radius: 8px 8px 0 0;
  bottom: 0;
  display: none;
  float: left;
  left: 0 !important;
  opacity: 1;
  padding: 32px 72px;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
#ensBannerDescription {
  float: left;
  width: 100%;
  position: relative;
}

#ensBannerDescription h1 {
  color: #393e41;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

#ensTitle,
#ensDescription {
  display: none;
}

#ensBannerDescription .close-banner-container {
  text-align: right;
  margin-bottom: 16px;
}

#ensBannerDescription .close-banner-container #close-banner {
  cursor: pointer;
}

#ensBannerDescription .ensContent {
  display: flex;
}
#ensBannerDescription .text-box {
  font-size: 16px;
  line-height: 24px;
  flex: 2;
  margin-bottom: 12px;
}

#ensBannerDescription .text-box a {
  color: #393e41;
  text-decoration: underline;
}

#ensBannerDescription .text-box:last-child {
  margin-bottom: 0;
}

#ensNotifyBanner .ensButtons {
  display: none;
}

#ensCloseBannerBtn {
  background-color: #16891f;
  border-radius: 4px;
  display: inline-block;
  height: 48px;
  line-height: 30px;
  margin: 0;
  outline: 0;
  border: none;
  width: auto;
  cursor: pointer;
}

#ensCloseBannerBtn .accept-btn-container {
  border: none;
}

#ensCloseBannerBtn .accept-btn-container strong {
  color: #fff;
}

.consentWidget__text {
  padding: 8px 12px !important;
  font-size: 14px !important;
  outline: 0 !important;
  cursor: pointer !important;
}

.accept-btn-container {
  text-align: center;
  display: inline-block;
  height: 48px;
  line-height: 44px;
  padding: 0 20px;
}

.accept-btn-container strong {
  color: #616567;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

.accept-btn-container span {
  color: #fff;
  font-size: 11px;
  text-align: center;
  width: 100%;
  float: left;
  line-height: 0;
  font-weight: 400;
}

.ensButtons .accept-btn-container strong {
  color: #fff;
}

.view-modal {
  display: flex;
  align-items: end;
  justify-content: end;
}

.view-modal.cs {
  right: 150px;
}

.view-modal.fr {
  right: 160px;
}

.view-modal.it {
  right: 170px;
}

.view-modal.de {
  right: 180px;
}

.view-modal.hu {
  right: 190px;
}

.view-modal.pl {
  right: 200px;
}

.view-modal #btn-accept-essential-cookies {
  border: none;
  background: none;
  padding: 0;
  margin-right: 16px;
}

.view-modal .accept-btn-container {
  border: 1px solid #c0c3c7;
  border-radius: 4px;
}

#ensModalLink {
  box-sizing: border-box;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  padding: 0 16px;
  text-decoration: underline;
  display: inline-block;
  text-align: center;
  outline: 0;
}

.cookie-modal {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.cookie-modal.hidden,
.ensNotifyBanner.hidden {
  display: none;
  visibility: hidden;
}

#ensModalWrapper {
  background-color: #fff !important;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
  left: 50% !important;
  max-width: 95% !important;
  padding: 48px 0 0 !important;
  position: absolute;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 650px;
  height: 650px;
  z-index: 99999 !important;
  border-radius: 8px;
}

#ensModalWrapper .ensModal .ensTitle {
  color: #000;
  font-weight: 600;
}

#ensModalWrapper .ensModal .consentDescription {
  color: #000;
  font-size: 13px;
  margin-top: 15px;
  line-height: 17px;
  margin-bottom: 15px;
}

#ensModalWrapper .ensModal .ensToggleRowWrapper {
  max-height: 474px;
  padding: 0 48px 20px;
}

#ensModalWrapper .ensModal .ensToggleRowWrapper .ensToggleRow {
  color: #393e41;
  opacity: 1 !important;
  position: relative;
}

#ensModalWrapper .ensModal .ensToggleRowWrapper .ensToggleRow .description {
  max-width: 600px;
  font-size: 14px;
  clear: both;
  line-height: 24px;
  margin: 12px 0 8px;
}

#ensModalWrapper .ensModal .ensToggleRowWrapper .ensToggleRow .description .description-subtext {
  font-weight: 500;
  margin-top: 8px;
  font-size: 14px;
  line-height: 150%;
}

#ensModalWrapper .ensButtons {
  position: relative;
  margin: 0;
  margin-top: 0;
  width: 100%;
  padding: 32px 48px 48px;
  text-align: right;
}

#ensModalWrapper .ensButtons:before {
  background: linear-gradient(180deg, rgba(57, 62, 65, 0) 16.41%, rgba(148, 150, 152, 0.46) 80.52%, #fff 100%);
  content: '';
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0;
  top: -28px;
}

#ensModalWrapper .ensButtons button {
  border-radius: 4px;
  box-shadow: 0 0 0 0;
  display: inline-block;
  height: 48px;
  margin: 0;
  width: auto;
  padding: 0 20px;
  font-weight: 600;
}

#ensModalWrapper .ensButtons button .accept-btn-container {
  padding: 0;
}

#ensModalWrapper .ensButtons #ensCancel {
  background: transparent;
  font-size: 14px;
  outline: 0;
  border: 1px solid #c0c3c7;
  float: none;
  width: auto;
  margin-right: 16px;
  color: #393e41;
}

#ensModalWrapper .ensButtons #ensSave {
  background-color: #16891f;
  font-size: 14px;
  border: none;
  font-weight: 600;
}

#ensModalWrapper .ensToggleLabel {
  color: #393e41;
  margin-right: 0;
  font-size: 20px;
  font-weight: 600;
}

#ensModalWrapper .ensToggleLabel:before {
  height: 5px;
  width: 5px;
}

#ensModalWrapper .ensModal .card {
  background: none;
  border: none;
  height: 18px;
}

#ensModalWrapper .ensModal .tagContainer {
  border-bottom: 1px solid #dddfe3;
  padding: 20px 0 20px;
}

#ensModalWrapper .ensModal .tagContainer:last-of-type {
  border-bottom: none;
}

#ensModalWrapper .ensModal .ensTagsContent {
  padding: 0;
  opacity: 1 !important;
}

#ensModalWrapper .ensModal hr {
  border-color: #dddfe3;
  margin: 32px 0;
}

#ensModalWrapper .ensModal hr:last-of-type {
  display: none;
}

#ensModalWrapper .ensModal input[type='checkbox']:checked ~ .switch {
  background: #16891f;
}

#ensModalWrapper .ensModal .switch {
  background: #81858a;
  height: 24px;
  width: 50px;
  right: 0;
  border-radius: 100px;
}

#ensModalWrapper .ensModal input[type='checkbox']:checked ~ .toggle {
  left: 29px;
}

.ensModal .toggle:before {
  content: '';
  background-image: url('data:image/svg+xml,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8958 3.80665C12.6358 3.54665 12.2158 3.54665 11.9558 3.80665L8.6958 7.05998L5.4358 3.79998C5.1758 3.53998 4.7558 3.53998 4.4958 3.79998C4.2358 4.05998 4.2358 4.47998 4.4958 4.73998L7.7558 7.99998L4.4958 11.26C4.2358 11.52 4.2358 11.94 4.4958 12.2C4.7558 12.46 5.1758 12.46 5.4358 12.2L8.6958 8.93998L11.9558 12.2C12.2158 12.46 12.6358 12.46 12.8958 12.2C13.1558 11.94 13.1558 11.52 12.8958 11.26L9.6358 7.99998L12.8958 4.73998C13.1491 4.48665 13.1491 4.05998 12.8958 3.80665Z" fill="white"/></svg>');
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding: 3px;
  width: 16px;
  height: 16px;
  left: 23px;
  position: absolute;
  top: 1px;
}

.ensModal input[type='checkbox']:checked ~ .toggle:before {
  background-image: url('data:image/svg+xml,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.17102 10.6033L3.83768 8.26999C3.57768 8.00999 3.16435 8.00999 2.90435 8.26999C2.64435 8.52999 2.64435 8.94332 2.90435 9.20332L5.69768 11.9967C5.95768 12.2567 6.37768 12.2567 6.63768 11.9967L13.7043 4.93665C13.9643 4.67665 13.9643 4.26332 13.7043 4.00332C13.4444 3.74332 13.031 3.74332 12.771 4.00332L6.17102 10.6033Z" fill="white"/></svg>');
  left: -21px;
}

#ensModalWrapper .ensModal .toggle {
  width: 18px;
  height: 18px;
  left: 3px;
  top: 3px;
}

#ensModalWrapper .ensModal input[type='checkbox']:disabled ~ .switch {
  background: #e5e5e5;
  width: 41px;
}

#ensModalWrapper .ensModal input[type='checkbox']:disabled ~ .toggle {
  height: 0;
  width: 0;
}

#ensModalWrapper .ensModal input[type='checkbox']:disabled ~ .toggle:before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5.66667H11.3333V4.33333C11.3333 2.49333 9.83999 1 7.99999 1C6.15999 1 4.66666 2.49333 4.66666 4.33333V5.66667H3.99999C3.26666 5.66667 2.66666 6.26667 2.66666 7L2.66666 13.6667C2.66666 14.4 3.26666 15 3.99999 15H12C12.7333 15 13.3333 14.4 13.3333 13.6667V7C13.3333 6.26667 12.7333 5.66667 12 5.66667ZM7.99999 11.6667C7.26666 11.6667 6.66666 11.0667 6.66666 10.3333C6.66666 9.6 7.26666 9 7.99999 9C8.73332 9 9.33332 9.6 9.33332 10.3333C9.33332 11.0667 8.73332 11.6667 7.99999 11.6667ZM5.99999 5.66667V4.33333C5.99999 3.22667 6.89332 2.33333 7.99999 2.33333C9.10666 2.33333 9.99999 3.22667 9.99999 4.33333V5.66667H5.99999Z' fill='%23393E41'/%3E%3C/svg%3E%0A");
  left: -8px;
}

.cookie-logo-img {
  position: absolute;
  right: 0;
  top: 50px;
}

#ensModalWrapper .ensToggleLabel:before {
  height: 5px;
  width: 5px;
}

#ensModalWrapper .tagContainer .ensToggleLabel {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.cookie-modal-lock {
  overflow: hidden !important;
}

@media (max-width: 768px) {
  #ensNotifyBanner {
    padding: 32px 24px 16px;
  }

  #ensBannerDescription .close-banner-container {
    display: none;
  }

  #ensCloseBanner .accept-btn-container {
    width: 100%;
  }

  #ensBannerDescription h1 {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 120%;
  }

  .action-btn {
    border-radius: 4px;
    box-shadow: 0 0 0 0;
    display: inline-block;
    height: 45px;
    line-height: 30px;
    margin: 0;
    outline: 0;
    width: auto;
    background: #fff;
    padding: 0 10px;
  }

  #ensBannerDescription .text-box {
    margin-bottom: 20px;
  }

  .ensButtons #ensCloseBanner {
    width: 100%;
  }

  #ensBannerDescription .ensContent {
    flex-direction: column;
  }

  .view-modal {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .view-modal #btn-accept-essential-cookies {
    margin: 0;
  }

  .view-modal button,
  .view-modal .accept-btn-container,
  .view-modal #ensCloseBannerBtn {
    width: 100%;
  }

  .view-modal button {
    margin-bottom: 8px !important;
  }

  #ensModalLink {
    text-decoration: none;
    margin-bottom: 0;
    width: 100%;
  }

  #ensModalWrapper .ensModal .ensTitle {
    font-size: 13px;
    left: -20px;
    top: -12px;
  }

  #ensModalWrapper .ensToggleLabel {
    font-size: 18px;
    display: inline-block;
  }

  #ensModalWrapper .ensModal .ensToggleRowWrapper {
    padding: 0;
    height: calc(90vh - 170px);
    max-height: calc(90vh - 170px);
  }

  #ensModalWrapper .ensModal .consentDescription {
    font-size: 11px;
    margin: 0 10px;
    padding-top: 5px;
  }

  #ensModalWrapper {
    max-width: 100% !important;
    transform: translateY(0);
    left: 0 !important;
    width: 100% !important;
    border-radius: 8px 8px 0 0;
    bottom: 0;
    height: 90vh;
    top: auto !important;
    padding: 32px 20px 16px !important;
  }

  #ensModalWrapper .ensButtons {
    padding: 16px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  #ensModalWrapper .ensButtons:before {
    display: none;
  }

  #ensModalWrapper .ensModal .ensToggleRowWrapper .ensToggleRow .description {
    font-size: 14px;
    margin: 14px 0 12px;
    position: relative;
    max-width: 100%;
  }

  #ensModalWrapper .ensButtons #ensCancel {
    width: 100%;
    margin: 8px 0 0;
  }

  #ensModalWrapper .ensButtons #ensSave {
    width: 100%;
  }

  #ensModalWrapper .ensModal .ensTagsContent {
    margin-top: 0;
  }

  #ensModalWrapper .tagContainer .ensToggleLabel {
    font-size: 13px;
  }

  /* #ensModalWrapper .ensModal {
    padding: 20px 8px !important;
  } */

  #ensModalWrapper .ensModal .card {
    margin-left: 0;
    margin-right: 0;
  }

  #ensModalWrapper .ensButtons button .accept-btn-container {
    float: none;
  }

  .closing-banner-message {
    padding: 16px 32px;
  }

  .closing-banner-message:after {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 360px) {
  .alwaysAllowedText {
    display: none;
  }
}

@media (max-width: 992px) {
  .cookie-logo-img {
    display: none;
  }
}

#ensModalWrapper .ensModal {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
  padding: 0;
}

#ensNotifyBanner {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

.view-modal.long-text {
  left: 450px;
}

.view-modal.long-text-xl {
  left: 485px;
}

.accept-btn-container.long-text {
  width: 285px;
}

.accept-btn-container.long-text-xl {
  width: 320px;
}

.mod-cookie-notice {
  display: none;
}

.ensToggleRowWrapper hr:first-of-type {
  display: block !important;
}
#ensModalWrapper .ensModal hr:first-of-type {
  display: none;
}
.cookie-logo-img.d4 {
  position: absolute;
  right: 10%;
  bottom: 15px;
  width: 60px;
}

.consentWidget {
  opacity: 0 !important;
  pointer-events: none !important;
}

.closing-banner-message {
  position: relative;
  text-align: center;
  padding: 16px;
  background: #fce8e8;
  color: #393e41;
  margin: 10px auto 20px;
  font-size: 14px;
  line-height: 20px;
  width: 90%;
}
.closing-banner-message:after {
  content: '';
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.2 3.80665C11.94 3.54665 11.52 3.54665 11.26 3.80665L7.99998 7.05998L4.73998 3.79998C4.47998 3.53998 4.05998 3.53998 3.79998 3.79998C3.53998 4.05998 3.53998 4.47998 3.79998 4.73998L7.05998 7.99998L3.79998 11.26C3.53998 11.52 3.53998 11.94 3.79998 12.2C4.05998 12.46 4.47998 12.46 4.73998 12.2L7.99998 8.93998L11.26 12.2C11.52 12.46 11.94 12.46 12.2 12.2C12.46 11.94 12.46 11.52 12.2 11.26L8.93998 7.99998L12.2 4.73998C12.4533 4.48665 12.4533 4.05998 12.2 3.80665Z" fill="%23393E41"/></svg>');
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 16px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

/*
* SOW CSS starts here to bottom
*/

.alwaysAllowedText {
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 56px;
}

#ensModalWrapper .ensModal .ensToggleRowWrapper .ensToggleRow .description.services-description {
  margin: 4px 0 0;
}

#ensModalWrapper .ensModal .ensToggleRowWrapper .ensToggleRow .description.data-share-description,
#ensModalWrapper .ensModal .ensToggleRowWrapper .ensToggleRow .description.header-descripion {
  margin-top: 8px;
  font-weight: 600;
  line-height: 150%;
}

.ensToggleRow .btn-expand-hide {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  background: none;
  border: none;
  padding: 0;
}

.btn-expand-hide .chevron {
  margin: 0 0 0 4px;
}

.btn-expand-hide i:before {
  content: '';
  background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.95386 6.97206L10.0046 11.0228L14.0553 6.97206C14.4624 6.5649 15.1202 6.5649 15.5273 6.97206C15.9345 7.37921 15.9345 8.03693 15.5273 8.44409L10.7354 13.236C10.3282 13.6432 9.67049 13.6432 9.26333 13.236L4.47138 8.44409C4.06423 8.03693 4.06423 7.37921 4.47138 6.97206C4.87854 6.57534 5.5467 6.5649 5.95386 6.97206Z" fill="%23393E41"/></svg>');
  width: 20px;
  height: 14px;
  display: inline-block;
}

.btn-expand-hide .btn-expand-hide-text {
  color: #005e80;
}

#ensModalWrapper .ensToggleRow.active .ensTagsContent {
  display: block;
}

#ensModalWrapper .ens-toggle-row-item ~ .ensTagsContent {
  display: none;
  opacity: 1 !important;
}

.fadeable {
  opacity: 1;
  transition: opacity 1s;
}

.fade {
  opacity: 0 !important;
}
