.skin-categorynav-facets {
  float: left;
  width: 100%;
}

.mod-categorynav {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__item {
      border: 1px solid $colour-pale-grey;
      box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) 0 rgba(0, 0, 0, .3);
      display: flex;
      flex-direction: column;
      float: left;
      margin: 0 ($spacing-unit * 4) ($spacing-unit * 4) 0;
      padding: ($spacing-unit * 2);
      width: 46.5%;

      @media #{$ipad-landscape} {
        margin: 0 ($spacing-unit * 4) ($spacing-unit * 4) 0;
        width: 23.6%;
      }

      &:nth-of-type(even) {
        margin-right: 0;

        @media #{$ipad-landscape} {
          margin-right: ($spacing-unit * 4);
        }

      }

      &:nth-of-type(4n) {

        @media #{$ipad-landscape} {
          margin-right: 0;
        }

      }

      &__header {

        a {
          align-items: center;
          display: block;
          justify-content: end;

          @media #{$ipad-landscape} {
            display: flex;
          }

          &:hover {
            text-decoration: underline;
          }

          img {
            max-height: 80px;
          }

          h3 {
            @include font-size(13px);
            padding: ($spacing-unit) 0;

            @media #{$ipad-landscape} {
              @include font-size(16px);
              margin-left: ($spacing-unit * 2);
              padding: 0;
            }

          }

          span {
            @include font-size(16px);
            margin-left: ($spacing-unit * 2);
          }

        }

      }

      &__list {

        ul {

          li {

            a {
              @include font-size(12px);
              border: 0;
              display: flex;
              justify-content: end;
              padding: $spacing-unit 0 0;

              &:first-of-type {
                padding-top: ($spacing-unit * 2);
              }

              span {
                margin-left: ($spacing-unit * 2);
              }

            }

          }

        }

      }

    }

  }

}
