
.skin-categorynav-plp {

  .mod-categorynav {

    &__wrapper {
      clear: both;
      width: auto;

      @media #{$ipad-landscape} {
        clear: none;
      }

      &__item {
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: auto;

        &__header {

          a {
            margin-bottom: $spacing-unit;
            @media #{$ipad-landscape} {
              display: flex;
            }

            &:hover {
              color: $colour-dist-carmine;
            }

            img {
              max-height: 80px;
            }

            h3 {
              @include font-size(14px);
              font-family: $font-montserrat;
              font-weight: 500;
              margin: 0 ($spacing-unit * 2) 0 0;
              padding: 0;

              @media #{$ipad-landscape} {
                margin: 0 0 0 ($spacing-unit * 2);
              }

            }

            span {
              @include font-size(16px);
              margin-left: ($spacing-unit * 2);
            }

          }

        }

      }

      &__title {
        @include font-size(12px);
        font-family: $font-montserrat;
        font-weight: bold;
        padding-top: ($spacing-unit - 4);
        text-transform: uppercase;
      }

    }
  }

}
