.mod-mobile-filter-switch {
  float: left;
  margin-top: $spacing-unit * 3;
  width: 100%;

  @media #{$ipad-landscape} {
    display: none;
  }

  &__holder {

    span {
      @include font-size(13px);
      color: $colour-dist-grey;
      font-weight: bold;
      display: inline-block;
    }

    &__sort,
    &__filter {
      border: 1px solid $colour-pale-grey;
      border-radius: $spacing-unit - 2;
      padding: ($spacing-unit*2) ($spacing-unit*3);
      text-align: center;
      width: 100%;
    }

  }

}
