@import 'global-utilities';

#plp-chips-container {
  align-items: baseline;

  .title-group {
    .applied-filters-title {
      @include typography-ui-sm();
      color: $ux-text-default;
      font-weight: $font-weight-semiBold;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .clear-all {
    @include typography-ui-sm();
    font-weight: $font-weight-medium;
    color: $link-blue;
    cursor: pointer;
  }

  &-top {
    @extend #plp-chips-container;
    gap: 12px;

    .chip-group {
      display: flex;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
    }
  }

  &-sidebar {
    @extend #plp-chips-container;
    flex-direction: column;

    .title-group {
      align-items: center;
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .chip-group {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      gap: 4px;
      align-self: stretch;
      flex-wrap: wrap;
      margin: 16px 0;
    }
  }

  &-mobile {
    .clear-all {
      border: 1px solid $colour-red;
      color: $colour-red;
    }
  }
}
