$mod-metahd-searchWidth: 400px;

.mod-stickyheader {
  background: $colour-white;
  float: left;
  position: relative;
  transition: all 0.3s ease-in-out 0.1s;
  width: 100%;

  @media #{$ipad-landscape} {
    padding-bottom: 70px;
  }

  .sticky-level-1 {
    background-color: $colour-white;
    border-top: 4px solid $colour-dist-orange;
    float: none;
    left: 0;
    margin-left: 0;
    transition: top .5s;
    top: -170px;
    width: 100%;
    z-index: 930;


    @media #{$ipad-landscape} {
      display: flex;
      justify-content: space-between;
      padding: 0 20px 15px;
      position: fixed;
      top: 0;
    }

    &:before,
    &:after {
      content: '';
      height: 0;
      position: absolute;
      top: -4px;
      z-index: 1;
    }

    &:before {
      border-top: 4px solid $colour-dist-red;
      right: 0;
      width: 34%;
    }

    &:after {
      border-top: 4px solid $colour-dark-red;
      left: 33%;
      width: 33.33%;
    }

    &__container {
      display: block;
      width: 100%;

      @media #{$ipad-landscape} {
        display: flex;
        justify-content: space-between;
        margin: ($spacing-unit * 2 + 2) auto 0 auto;
        max-width: 1015px;
      }

      @media #{$desktop} {
        max-width: 1180px;
      }

    }

    &--stuck {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      z-index: 930;
    }

  }

  .sticky-level-2 {
    background: transparent;
    float: left;
    position: relative;
    top: 80px;
    width: 100%;

    @media #{$ipad} {
      background: $colour-dark-grey;
    }

    @media #{$ipad-landscape} {
      margin-top: ($spacing-unit * 3);
    }

    &__container {
      margin: 0 auto;
      max-width: 1290px;
      width: 100%;

      @media #{$ipad-landscape} {
        max-width: 1015px;
      }

      @media #{$desktop} {
        max-width: 1180px;
      }

    }

  }

  .stickyheader-number {
    display: none;

    @media #{$ipad-landscape} {
      display: block;
      float: left;
      min-width: 167.5px;
      margin-top: 25px;
      padding: 0 15px;
      flex-shrink: 0;
    }

    a {
      color: rgb(170, 170, 170);
      font-family: Arial, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;

      i {
        font-size: 21px;
        padding-right: 5px;
        vertical-align: bottom;
      }

    }

  }

  @keyframes smoothScroll {
    0% {
      background: $colour-white;
      padding-left: 21px;
      transform:translateY(-40px)
    }

    100% {
      background: $colour-white;
      padding-left: 21px;
      transform:translateY(0px)
    }

  }

  .overlay {
    background-color: rgb(0, 0, 0);
    display: none;
    opacity: 0.6;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1000;

    &--active {
      display: block;
    }

  }

  .sticky-button-holder {
    display: none;
    padding-left: 15px;
    max-width: 191px;
    width: 100%;

    .sticky-button {
      display: block;
      background: #df1417;
      border-radius: 2px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      line-height: 37px;
      text-align: center;
      transition: all 0.2s ease;
      width: 100%;
      float: left;
      margin-top: 15px;
      height: 38px;
    }

  }

  // Sticky
  &.-stuck {
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 5px 0;
    position: fixed;
    left: 20px;
    top: 0;
    float: none;
    max-width: 1280px;
    width: 100%;
    z-index: 1200;
    background-color: $colour-white;
    margin-left: 0;

    .sticky-level-1 {
      padding-bottom: 10px;
    }

    .sticky-button-holder {
      display: block;
    }

    .sticky-level-2 {
      margin-top: 0;
    }

    .mod-maincategorynav {

      &--active {
        top: 0;
      }

    }

    .mod-logo,
    .mod-servicenav,
    .mod-mainnav {
      display: none;
    }

    .ct__menu {
      background: transparent;
    }

    .mod-metahd {
      margin: 14px 0 0 0;
      width: 76.5%;
    }

    .mod-metahd-suggest {
      position: fixed;
      margin-top: 53px;
      left: 20px;
    }

  }

  .overlay-second {
    background-color: rgb(0, 0, 0);
    display: none;
    opacity: 0.6;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;

    &--active {
      display: block;
    }

  }

}

@media print {

  .mod-stickyheader {

    .sticky-level-1 {
      top: 0;
    }

  }

}

.e1 {
  border-right: 0;
  display: none;
  float: left;
  height: auto;
  padding: 10.4px ($spacing-unit * 3);
  position: relative;
  width: 100%;

  @media #{$ipad-landscape} {
    display: block;
    width: auto;
  }
}

.products-dropdown {
  @media #{$ipad-landscape} {
    padding-left: 0;
    position: absolute;
    top: 0;
    transition: top 0.2s ease;
    width: 180px;
    z-index: 930;
  }

  @media #{$desktop} {
    width: 213px;
  }

  &.mobile-active {
    display: block;
  }

  &.search-active {
    z-index: 10;
  }

  &.fixed {
    @media #{$ipad-landscape} {
      position: fixed;
      top: 25px;
      transition: top 0.2s ease;
    }
  }

  .e1-button {
    @include font-size(15px);
    @include line-height(38px);
    background: $colour-dist-red;
    border-radius: 2px;
    color: $colour-white !important;
    cursor: pointer;
    display: inline;
    float: left;
    font-weight: 500;
    outline: none;
    padding-left: 0;
    position: relative;
    text-align: center;
    transition: all 0.2s ease;
    width: 100%;
    z-index: 1;

    i {
      font-size: 18px;
      margin-right: $spacing-unit;
      vertical-align: text-bottom;
    }

    &.no-click {
      pointer-events: none;
    }
  }
}