@import 'global-utilities';

.error {
  border: 1px solid #f7a9a9;
  background-color: #fdf3f3;
  color: $colour-error-text;
  float: left;
  margin: ($spacing-unit * 4) 0;
  width: 100%;

  .inner {
    margin: 0 auto;
    overflow: visible;
    padding: ($spacing-unit * 3) 0;
    width: 100%;

    @media #{$ipad-landscape} {
      width: 960px;
    }

    .center {
      text-align: center;

      .text {
        @include font-size(14px);
        color: $colour-error-text;
        font-weight: $font-weight-bold;
        margin-bottom: 0;

        a {
          color: $colour-black;

          &:hover {
            color: $colour-error-text;
          }
        }
      }
    }
  }
}

.info-message {
  border: 1px solid $colour-light-grey;
  background-color: $colour-pale-grey;
  color: $colour-mid-grey;
  float: left;
  margin: ($spacing-unit * 4) 0;
  width: 100%;

  .inner {
    margin: 0 auto;
    overflow: visible;
    padding: ($spacing-unit * 3) 0;
    width: 100%;

    @media #{$ipad-landscape} {
      width: 960px;
    }

    .center {
      text-align: center;

      .text {
        @include font-size(14px);
        font-weight: $font-weight-bold;
        margin-bottom: 0;
      }
    }
  }
}

p {
  &.small {
    @include font-size(12px);
    @include line-height(24px);
    color: $colour-mid-grey;
    padding: ($spacing-unit * 4) ($spacing-unit * 2) 0;
    text-align: justify;
  }
}

.forgotten-pwd-error-text {
  margin-bottom: $spacing-unit * 4;
}

.backdrop {
  background: $colour-pale-grey;
  float: left;
  width: 100%;

  .box-wrapper {
    -moz-box-shadow: 0 0 8px 0 #c8c8c8;
    -webkit-box-shadow: 0 0 8px #c8c8c8;
    background: $colour-white;
    box-shadow: 0 0 ($spacing-unit + 3) 0 #c8c8c8;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    float: none;
    margin: ($spacing-unit * 6) auto;
    max-width: 300px;
    padding: ($spacing-unit * 7) ($spacing-unit * 7) ($spacing-unit * 9);
    width: auto;

    @media #{$ipad-landscape} {
      margin-bottom: 300px;
      margin-top: 75px;
      max-width: 375px;
    }

    .page-title {
      @include font-size(24px);
      color: $colour-dark-grey;
      font-weight: $font-weight-light;
      margin-bottom: ($spacing-unit * 3);
      padding-left: 0;
      padding-right: 0;
    }

    .login-content {
      border: 0;
      padding-bottom: 0;
      padding-top: 0;

      #loginForm {
        @media #{$ipad-landscape} {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }

        .login-form-row {
          margin-left: 0;
          margin-right: 0;

          .login-form-col {
            padding-left: 0;
            padding-right: 0;

            label {
              @include font-size(14px);
              @include line-height(20px);
              display: inline-block;
              margin: ($spacing-unit) 0 ($spacing-unit * 4);
              margin-bottom: ($spacing-unit + 2);
            }

            input {
              @include font-size(14px);
              @include line-height(18px);
              border: ($spacing-unit - 4) solid $border-dist-grey;
              display: inline-block;
              height: 40px;
              margin-bottom: ($spacing-unit * 2 + 2);
              padding: ($spacing-unit * 2) ($spacing-unit * 3);
              vertical-align: middle;
              width: 100%;

              &.error-border,
              &.is-invalid {
                border-color: $colour-red !important;
              }
            }

            button {
              @include font-size(13px);
              letter-spacing: 0.75px;
              margin-top: 0;
              text-align: center;
              width: 100%;

              fa-icon {
                display: inline-block;
                margin-left: ($spacing-unit);
                margin-top: 0;
              }
            }

            .links {
              padding-top: ($spacing-unit + 2);
              text-align: right;

              a {
                color: $colour-dist-mid-grey;
                display: block;
                font-weight: $font-weight-normal;
                margin-top: ($spacing-unit * 3);
                text-align: left;
                text-decoration: underline;
                width: 100%;
              }
            }
          }

          .remember {
            label {
              &.remember {
                @include font-size(14px);
                padding-left: ($spacing-unit);
                padding-top: ($spacing-unit - 2);
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}
