.mod-lightbox-availability-popup {

  .modal {
    @include font-size(14px);
    background: white;
    top: 50%;
    left: 50%;
    margin: 0;
    max-width: 400px;
    outline: none;
    width: calc(100% - 20px);
    max-height: 95%;
    transform: translateX(-50%) translateY(-50%);
    overflow: auto;

    .padded-content {
      padding: 20px;

      &.-header {
        position: relative;
        border-bottom: 1px solid $border-global-grey;

        i {
          position: absolute;
          right: 24px;
          font-size: 24px;
          top: 50%;
          transform: translateY(-50%);
        }

        h3 {
          line-height: 26px;
        }
      }

      &.-text-center {
        text-align: center;
      }
    }


    .stock-notification {

      &__form {
        margin: 0;

        .button-input {
          display: flex;
          flex-direction: column;

          @media #{$ipad} {
            flex-direction: row;
          }
        }

        &--emailinput {
          flex-grow: 1;
          max-width: 100%;
          font-size: 13px;
          line-height: 20px;

          &.error {
            border-color: $bg-button-red;
          }

        }

        &--instruction {
          font-weight: 500;
          line-height: 20px;
          font-size: 14px;
          margin-bottom: $spacing-unit*5;
        }

        &--assurance-text {
          font-size: 11px;
          line-height: 17px;
          margin-top: $spacing-unit*2;

          a {
            text-decoration: underline;
            color: $link-blue;

            &:hover,
            &:focus {
              color: $link-dark-blue;
              text-decoration: underline;
            }
          }

        }

        &--cta {
          margin-top: $spacing-unit;
          width: 135px;
          font-weight: 600;
          line-height: 16px;

          @media #{$ipad} {
            margin-top: 0;
            margin-left: $spacing-unit;
          }
        }
      }

      .icon-wrapper {
        background-color: $bg-dist-green;
        border-radius: 50%;
        color: $colour-white;
        height: 20px;
        text-align: center;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        flex-shrink: 0;
      }

      .fa-check-circle {
        color: $bg-dist-green;
      }

      &--message {
        color: $colour-dist-grey;
        font-size: 16px;
        padding-left: $spacing-unit*3;
        margin-bottom: $spacing-unit*6;
      }

      &--error {
        color: $bg-button-red;
        font-size: 14px;
        margin-top: 10px;
      }

      &__message-container {
        display: flex;
      }

      &__failure,
      &__success {
        button {
          width: 100%;
        }
      }

    }


    a {
      text-decoration: underline;
    }

    h3,
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }

    h3 {
      @include font-size(20px);
    }

    h4 {
      @include font-size(14px);
    }

    p {
      margin-bottom: $spacing-unit * 2;
    }
  }

}
