@import 'global-utilities';

$colour-bom-no-available-red: $colour-dark-red;
$colour-bom-no-available-grey: $colour-redesign-dark-black;

$bg-bom-no-available-header: $colour-pale-grey;

$border-bom-no-available-header: $colour-light-grey;
$bom-modal-border: #e2e2e2;

$bom-product-info-label: #a8a8a8;
$bom-product-info-value: #191919;
$bom-mpn-bg-color: #e2edeb;

.bom-mpn-product {
  background-color: $bom-mpn-bg-color;
  border-bottom: 1px solid $colour-light-grey;
  padding: ($spacing-unit * 2);

  .skin-global-messages-component {
    margin-bottom: $spacing-unit * 2;
  }

  .skin-product-bom {
    border: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: -($spacing-unit * 2);

    @media #{$mobile-only} {
      flex-wrap: wrap;
    }
  }

  &__info-box {
    border-radius: $spacing-unit - 3;
    margin-bottom: $spacing-unit * 2;
    padding: $spacing-unit ($spacing-unit * 2);

    @media #{$mobile-only} {
      width: 100%;
    }
  }

  &__title {
    @include font-size(15px);
    margin-top: $spacing-unit * 2;
    font-weight: $font-weight-bold;
  }

  &__show-alternative {
    margin-bottom: $spacing-unit * 2;
    margin-left: auto;
    width: auto;
  }

  &__alternatives {
    background-color: $colour-white;
    max-height: 325px;
    margin: ($spacing-unit * 2) 0;
    overflow: auto;
  }

  &__view-detail {
    @include font-size(12px);
    height: 30px;
    margin-left: $spacing-unit * 2;
  }

  &__information-item {
    display: inline-block;

    .label {
      @include font-size(12px);
      color: $bom-product-info-label;
    }

    .value {
      @include font-size(12px);
      color: $bom-product-info-value;
      margin-right: $spacing-unit * 2;
    }
  }
}

.bordered {
  border: 1px solid $colour-dark-grey;
}

.alternative-product {
  display: block;
  margin-left: -10px;
  margin-right: -10px;
}
