/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-class-pattern */
@import 'global-utilities';

app-responsive-with-nav {
  .nav-content {
    width: 100%;
    min-height: 1px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0;

    @media #{$ipad} {
      padding-right: ($spacing-unit * 4);
      margin-left: ($spacing-unit * 4);
    }

    .sidebar-title {
      @include font-size(16px);

      color: $colour-red;
    }

    .nav {
      display: block;
      width: 100%;
      margin-top: ($spacing-unit * 2);
      margin-bottom: ($spacing-unit * 6);

      .nav-item {
        position: relative;

        &.is-expanded {
          background-color: $colour-strong-light-grey;
        }

        &:first-child {
          border-color: #ccc;
          border-style: solid;
          border-width: 1px 0;
        }

        .item-link {
          @include font-size(16px);
          @include line-height(47px);

          display: inline-block;
          width: 100%;
          font-weight: $font-weight-medium;
          outline: none;

          fa-icon {
            @include font-size(15px);

            position: absolute;
            top: 0;
            left: 10px;
          }

          &:hover {
            color: $colour-black;
            text-decoration: none;
          }
        }

        .subnodes {
          display: none;
          padding-bottom: ($spacing-unit * 2);

          .item-link {
            @include font-size(14px);
            @include line-height(18px);

            position: relative;
            display: inline-block;
            width: 100%;
            margin-bottom: ($spacing-unit + 3);
            margin-left: ($spacing-unit * 10);
            font-weight: $font-weight-medium;

            &.active {
              color: $colour-red;
            }
          }

          .nav {
            margin: 0;

            .nav-item {
              border: 0;
            }
          }
        }
      }
    }

    ul,
    li {
      list-style: none;
    }
  }

  .skin-layout-return-or-repair {
    float: left;
    width: 100%;
    padding-bottom: ($spacing-unit * 12);

    .row {
      width: auto;
    }

    .md-system {
      float: left;
      width: 100%;

      .category-nav {
        width: 100%;

        .home-left-banner {
          width: 100%;
          margin-top: ($spacing-unit * 4);

          img {
            display: inline-block;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }

    .data-response-holder {
      float: left;
      width: 100%;
      text-align: center;

      &__success {
        @include font-size(14px);
        @include line-height(16px);

        padding: ($spacing-unit * 4);
        margin-bottom: ($spacing-unit * 4);
        color: $colour-green;
        background-color: rgb(104 193 67 / 10%);
        border: 1px solid $colour-green;
        border-radius: 2px;
      }

      &__fail {
        @include font-size(14px);
        @include line-height(16px);

        padding: ($spacing-unit * 4);
        margin-bottom: ($spacing-unit * 4);
        color: $colour-red;
        background-color: $colour-pale-red;
        border: 1px solid $colour-red;
        border-radius: 2px;
      }
    }

    .md-content {
      float: left;
      width: 100%;
      padding-top: ($spacing-unit * 2 - 1);
      margin-bottom: ($spacing-unit * 8);

      &__holder {
        float: left;
        width: 100%;

        h2 {
          @include font-size(18px);
          @include line-height(22px);

          margin: ($spacing-unit * 4 + 3) 0 ($spacing-unit * 4);
          color: $colour-red;
        }

        p {
          @include font-size(16px);
          @include line-height(24px);

          margin-bottom: ($spacing-unit * 4);
          color: $colour-dark-grey;
        }

        .list-items {
          list-style-position: inside;
          list-style-type: disc;

          li {
            @include font-size(16px);
            @include line-height(24px);

            color: $colour-dark-grey;
            list-style-type: decimal;
          }
        }
      }
    }
  }

  .left-content {
    order: 2;

    @media #{$ipad-landscape} {
      order: 1;
    }
  }

  .right-content {
    order: 1;
    margin-top: ($spacing-unit * 3);

    @media #{$ipad-landscape} {
      order: 2;
      margin-top: 0;
    }
  }

  .mod-guest-returns-form {
    float: left;
    width: 100%;
    padding-bottom: ($spacing-unit * 10);

    form {
      float: left;
      width: 100%;
      padding-bottom: $spacing-unit * 10;

      .input-holder {
        float: left;
        width: 100%;
        margin-bottom: ($spacing-unit * 2);

        label {
          @include font-size(14px);
          @include line-height(17px);

          display: inline-block;
          width: 100%;
          margin-bottom: ($spacing-unit * 2);
          color: $colour-dark-grey;
          vertical-align: middle;

          @media #{$ipad} {
            width: 100%;
            max-width: 180px;
            margin-bottom: 0;
          }
        }

        textarea {
          width: 100%;
          border: 1px solid $colour-light-grey;
          outline: none;

          @media #{$ipad} {
            width: 70%;
          }
        }

        input {
          display: inline-block;
          width: 100%;
          height: 32px;
          border: 1px solid $colour-light-grey;
          outline: none;

          @media #{$ipad} {
            width: 70%;
          }
        }

        &__error-msg {
          @include font-size(15px);
          @include line-height(18px);

          display: none;
          float: right;
          width: 100%;
          padding: ($spacing-unit * 2) 0 0;
          color: $colour-red;

          @media #{$ipad} {
            width: 70%;
          }
        }

        &.input-holder--subreason {
          > label {
            display: none;

            @media #{$ipad} {
              display: inline-block;
            }
          }
        }

        &--has-counter {
          position: relative;
          margin-bottom: $spacing-unit * 3;
        }

        &__counter {
          @include font-size(12px);

          position: absolute;
          top: 100%;
          right: 0;
        }

        &.has-error {
          .input-holder__error-msg {
            display: block;
          }

          input,
          textarea,
          .selectboxit.selectpicker.selectboxit-btn {
            border: 2px solid $colour-orange;
          }
        }

        .selectboxit-container {
          width: 100%;

          @media #{$ipad} {
            width: 70%;
          }

          .selectboxit {
            width: 100%;

            .selectboxit-text {
              max-width: 100% !important; // Overriding selectboxit plugin inline styles which were added through JS
              padding-right: $spacing-unit * 7;
            }

            &-options {
              max-height: 300px !important;

              .selectboxit-option {
                height: auto;
                line-height: 1;
              }

              .selectboxit-option-anchor {
                @include line-height(20px);

                display: inline-block;
                padding: $spacing-unit ($spacing-unit + 3);
                white-space: normal;

                .selectboxit-option-icon-container {
                  display: none;
                }
              }
            }
          }
        }

        .warning {
          border: 2px solid $colour-orange;
        }
      }

      .btn-holder {
        float: left;
        width: 100%;
        margin-top: ($spacing-unit * 4);

        button {
          @include font-size(15px);
          @include line-height(18px);
          @include transition(all 0.2s ease-in-out);

          float: right;
          width: auto;
          min-width: 134px;
          height: 35px;
          padding: 0 ($spacing-unit * 2);
          font-weight: $font-weight-medium;
          color: $colour-white;
          background: $colour-red;
          border: 0;
          border-radius: 0;

          &:hover {
            color: $colour-white;
            background: $colour-dark-red;
            border-color: $colour-dark-red;
          }
        }
      }
    }
  }
}
