.skin-register-success {

  .form-box {
    padding-top: $spacing-unit * 5;
    padding-bottom: $spacing-unit * 4;
  }

  .image-center {
    padding-top: $spacing-unit * 2;
    text-align: center;
  }

  .image-left {
    padding: ($spacing-unit) 0 0 ($spacing-unit * 2);
  }

  .small {
    line-height: $spacing-unit * 5;
  }

}
