
.mod-register {

  .home-register {
    margin-bottom: $spacing-unit * 4;
    order: 2;

    @media #{$desktop} {
      margin-bottom: 0;
      order: 0;
    }

    &__content {
      background: $colour-white;
      padding-top: ($spacing-unit * 3);

      @media #{$ipad-landscape} {
        background: transparent;
        margin: 0 !important;
        padding-top: 0;
      }

      @media #{$desktop} {
        display: block;
        overflow: hidden;
      }

      &__headings {
        padding: 0 ($spacing-unit * 3);

        @media #{$ipad-landscape} {
          padding: 0;
        }

      }

      &--FR-fr, &--FR-en {

        .home-register {
          &__info {

            input {
              border: ($spacing-unit - 3) solid $colour-light-grey;
              border-radius: ($spacing-unit + 2);
            }

            button {
              border: ($spacing-unit - 3) solid $colour-dist-red;
              border-radius: ($spacing-unit);
            }

            &__description {
              color: $colour-dark-grey;
              font-weight: 600;
            }

          }

          &__title {
            @include font-size(20px);
            letter-spacing: 0.5px;
          }

          &__options {

            li {

              span {
                @include font-size(12px);
                color: $colour-dark-grey;
              }

            }

          }

        }

      }

      &--AT-de,
      &--DE-de,
      &--HU-hu,
      &--LI-de,
      &--CH-de {

        .home-register__title {
          @include font-size(25px);
        }

        .home-register__description {
          @include font-size(11px);
        }

        .home-register__options {

          li {
            @include font-size(11px);
          }

        }

      }

      &--BE-fr,
      &--CH-fr {

        .home-register__description {
          @include font-size(13px);
        }

        .home-register__options {

          li {
            @include font-size(11px);
          }

        }

      }

      &--EE-et {

        .home-register__options {

          li {
            @include font-size(12px);
          }

        }

      }

      &--IT-it,
      &--SK-sk {

        .home-register__options {

          li {
            @include font-size(11px);
          }

        }

      }

      &--LI-fr {

        .home-register__title {
          @include font-size(25px);
        }

        .home-register__description {
          @include font-size(13px);
        }

        .home-register__options {

          li {
            @include font-size(11px);
          }

        }

      }

      &--PL-pl {

        .home-register__description {
          @include font-size(12px);
        }

      }

    }

    &__input {
      @include font-size(14px);
      margin-top: $spacing-unit * 4;
    }

    &__title {
      @include font-size(20px);
      @include line-height(34px);
      font-weight: bold;
      letter-spacing: -0.6px;
      margin: 0;
    }

    &__description {
      @include font-size(13px);
      @include line-height(12px);
      font-weight: 500;
      margin-top: 0;
      letter-spacing: -0.28px;
    }

    &__cta {
      @include font-size(12px);
      @include line-height(14px);
      display: inline-block;
      font-weight: bold;
      height: 27px;
      margin-top: $spacing-unit * 4;

      i,
      svg {
        margin: ($spacing-unit - 7) 0 0 ($spacing-unit * 2);
      }
    }

    &__options {
      @include font-size(13px);
      margin-top: $spacing-unit * 4;

      .fa-check {
        float: left;
        margin: ($spacing-unit - 2) ($spacing-unit + 3) 0 0;
        min-width: 13px;
      }

      &--proposition {
        display: inline-block;
        width: 90%;
      }

    }

    &__account-overview {
      @include font-size(14px);
      @include line-height(20px);
      box-sizing: border-box;
      display: flex;
      flex-flow: row wrap;
      padding: 0 ($spacing-unit * 3);

      @media #{$ipad-landscape} {
        margin-bottom: ($spacing-unit);
        padding: 0;
      }

      &__item {
        background: $colour-home-register-boxes;
        border-radius: ($spacing-unit - 2);
        box-sizing: border-box;
        display: inline-block;
        margin-top: ($spacing-unit * 2 + 3);
        padding: 0 ($spacing-unit * 2) ($spacing-unit + 2) ($spacing-unit * 2);
        width: 49%;

        @media #{$ipad} {
          margin-top: ($spacing-unit * 2);
        }

        @media #{$homepage-container} {
          margin-top: ($spacing-unit * 2 + 3);
        }

        a {
          @include line-height(16px);
          display: block;
          margin-top: 0;
        }

        &__count {
          @include font-size(30px);
          color: $colour-dark-grey;
          display: inline-block;
          margin-top: ($spacing-unit * 2);
          width: 100%;

		  
          @media #{$ipad} {
            @include font-size(28px);
          }

          @media #{$homepage-container} {
            @include font-size(30px);
          }

        }

        &__title {
          @include font-size(13px);
          @include line-height(14px);
          color: $colour-dark-grey;
          display: block;
          font-weight: 500;
          padding-left: 0;

          &.active {
            color: $colour-home-register-boxed-active;
          }

        }

        &__link {
          color: $link-blue;

          &:hover,
          &:focus {
            color: $link-dark-blue;
            text-decoration: underline;
          }

        }

        &:nth-child(odd) {
          margin-right: 1%;
        }

        &:nth-child(even) {
          margin-left: 1%;
        }

        &.active {
          background: $colour-white;
          border: ($spacing-unit - 3) solid $colour-home-register-boxes;
        }

      }

    }


    .state {

      &__login {

        .home-register {

          &__description {
            border-bottom: 2px solid $colour-light-grey;
            padding-bottom: $spacing-unit * 4;
          }

        }

      }

    }

  }

  .register-text {
    padding: ($spacing-unit * 2) 0;
  }

}


.locale__BE {



}

.locale {

  &__CH,
  &__AT,
  &__BE,
  &__EE,
  &__DE,
  &__HU,
  &__IT,
  &__LI,
  &__SK,
  &__SM,
  &__VA {

    &__de,
    &__fr,
    &__et,
    &__hu,
    &__it,
    &__sk {

      .home-register {

        &__input,
        &__cta,
        &__options {
          margin-top: $spacing-unit * 3;
        }

      }

      .state {

        &__logout {
          padding: 0;

          @media #{$ipad-landscape} {
            padding: ($spacing-unit * 2) 0;
          }

        }

      }

    }

  }

}