.mod-register {

  .form-box {
    padding-bottom: $spacing-unit * 6;
    padding-top: $spacing-unit * 4;
  }

  .form-box-equal {
    padding: $spacing-unit * 4 0;
  }

  .btn-primary {
    text-align: left;
    width: 100%;
  }

}
