$numeric-technical-border: #ccc;
$numeric-technical-ipt-text: #333;
$numeric-technical-font-grey: #979797;


$numeric-productlist-search-tabular-border: #ccc;
$numeric-productlist-search-tabular-ipt-text: #333;
$numeric-productlist-search-tabular-font-grey: #979797;
$colour-numeric-btn-grey: #F0F0F0;