.mod-back-order-item-save {

  .continue-checkout {
    box-shadow: 0 0 6px rgba(54, 54, 54, 0.0784314);
    border-top: 1px solid $back-order-item-save-border-grey;
    float: left;
    padding: ($spacing-unit * 3);
    width: 100%;

    @media #{$ipad-landscape} {
      border: 0;
      box-shadow: none;
      padding: 0;
    }

  }

  &__notify {
    border-top: 1px solid $back-order-item-notify-border-grey;
    box-shadow: 0 0 6px rgba(54, 54, 54, 0.08);
    float: left;
    padding: ($spacing-unit * 2) ($spacing-unit * 3);
    width: 100%;

    @media #{$ipad} {
      padding: ($spacing-unit * 3);
    }

    @media #{$ipad-landscape} {
      display: none;
    }

    .notify-me-toggle {
      @include font-size(15px);
      color: $colour-dist-grey;
      float: right;
    }

  }

  .btn-checkout {
    @include font-size(15px);
    @include line-height(14px);
    height: 40px;
    text-transform: capitalize;

    @media #{$ipad} {
      height: 60px;
    }

    @media #{$ipad-landscape} {
      height: 43px;
    }

  }

  .return-cart-btn {
    @include font-size(12px);
    @include line-height(33px);
    border: 1px solid $colour-dist-marigold;
    border-radius: 2px;
    color: $colour-mid-black;
    display: block;
    font-weight: 600;
    height: 35px;
    margin-top: ($spacing-unit * 2);

    &:hover,
    &:focus {
      background: $colour-dist-marigold;
      color: $colour-black;
    }

    @media #{$ipad} {
      @include line-height(45px);
      height: 50px;
      margin-top: ($spacing-unit * 3);
    }

    @media #{$ipad-landscape} {
      @include line-height(16px);
      margin-top: ($spacing-unit * 2);
      padding: $spacing-unit*2;
      height: auto;
    }

  }

}
