.skin-energy-efficiency-label-suggestion {
  float: left;
  position: relative;
  width: 100%;

  .energy-label {

    .ico-energy {
      bottom: 10px;
      left: 0;
      position: absolute;
    }

    .energy-label-popover {
      left: 0;
      margin-left: 0;
      top: 100px;
    }

  }

}
