
.mod-energy-efficiency-label {
  position: absolute;

  // style for cart page 'cart-list-item.jsp'
  &.skin-energy-efficiency-label-cart {
    bottom: $spacing-unit*2;

    .energy-label-popover {
      margin-left: $spacing-unit*18;
      margin-top: - $spacing-unit*27;
    }

  }

  // style for direct order 'cart-directorder.jsp' and 'cart-directorder-component.jsp'
  &.skin-energy-efficiency-label-cart-directorder {
    bottom: $spacing-unit*2;
    left: $spacing-unit*2;

    .energy-label-popover {
      margin-left: $spacing-unit*13;
      margin-top: - $spacing-unit*11;
    }

  }

  // style for shopping lis 'product-shopping.jsp'
  &.skin-energy-efficiency-label-shopping {
    bottom: $spacing-unit;

    .energy-label-popover {
      margin-left: $spacing-unit*21;
      margin-top: - $spacing-unit*21;
    }

  }

  // style for compare page 'product-compare-list.jsp'
  &.skin-energy-efficiency-label-compare {
    bottom: $spacing-unit;

    .energy-label-popover {
      margin-left: 0;
      margin-top: 0;
    }

  }

  // style for favorite products list 'product-favorite.jsp'
  &.skin-energy-efficiency-label-favorite {
    bottom: $spacing-unit*2;

    .energy-label-popover {
      margin-left: $spacing-unit*21;
      margin-top: - $spacing-unit*21;
    }

  }

}
