.skin-cart-toolbar-cart {
  float: left;
  width: 100%;

  &__holder {
    float: left;
    padding: 0 ($spacing-unit * 3);
    width: 100%;

    &__left {
      float: left;
    }

    &__right {
      float: right;
      text-align: right;
    }

  }

  .mod-toolsitem {
    @include line-height(17px);
    height: auto;
    float: none;
    margin-right: ($spacing-unit * 3);

    &:last-of-type {
      margin-right: 0;
    }

    span {
      max-width: unset;
      padding: 0;
      width: auto;
    }

  }

}
