.skin-cart-toolbar-order-detail {
  float: left;
  padding-top: ($spacing-unit * 3);
  width: 100%;

  @media #{$desktop} {
    float: right;
    padding-top: 0;
    width: 85%;
  }

  .bd {
    border: 0;
    float: left;
    width: 100%;

    &__left {
      float: left;
      width: 100%;

      @media #{$ipad} {
        width: 45%;
      }

      .skin-toolsitem-print {
        float: left;
      }

    }

    &__right {
      float: left;
      width: 100%;

      @media #{$ipad} {
        float: right;
        width: 55%;
      }

      .skin-toolsitem-return-items {

        @media #{$ipad} {
          float: right;
        }

        span {
          min-width: 97px;
          width: min-content;

        }

      }

      .skin-toolsitem-cart-bulk {
        margin-right: 0;
        display: flex;
        align-items: center;

        @media #{$ipad} {
          float: right;
        }

        span {
          min-width: 70px;
          width: min-content;

        }

      }

    }

  }

}