.skin-cart-toolbar-order-history {

  .btns {

    &__left {
      float: left;
      width: 100%;

      .skin-toolsitem-print {
        float: left;
      }

      .skin-toolsitem-return-items {

        span {
          width: auto;
        }

      }

    }

  }

}
