.banner-wrapper {

  &__noresult {
    background-color: $noresult-banner;
    box-sizing: border-box;
    clear: both;
    color: $colour-white;
    margin: 0 auto ($spacing-unit * 2) auto;
    max-width: 1180px;
    padding: ($spacing-unit * 2);
    text-align: center;
    width: 100%;
  }

}