.sidebar-filters {
  @media #{$ipad-landscape} {

    background-color: $colour-home-background;

    .plp-content {
      max-width: 960px;
      float: none;
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      &__nav-filters {
        width: 345px;
      }

      &__categorynav-facets {
        margin-bottom: ($spacing-unit * 4);
        border-radius: 5px;
      }

      &__filters {
        padding: 0;

        .skin-productlist-filters {
          padding-bottom: 0;

          .productlistpage {
            &__filter-view-search {
              display: inline-block;
              .xmod-facets {
                .other-facets {
                  flex-wrap: wrap;
                  overflow: unset;

                  li {
                    &:first-of-type {
                      border-top: none;
                    }

                    &:last-of-type {
                      border-bottom: 0;
                    }
                  }

                  .facet-group {
                    min-width: auto;
                    background-color: $colour-white;
                    position: relative;
                    cursor: pointer;
                    border-top: 1px solid $border-productlist-bom;
                    width: 100%;
                    margin: 0;
                    padding: ($spacing-unit - 2);

                    &__title {
                      margin: 0;
                      font-weight: 500;
                      position: relative;
                      line-height: 21px;
                      padding: ($spacing-unit * 2-2) ($spacing-unit * 5) ($spacing-unit * 2-2) ($spacing-unit * 3);

                      &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 13px;
                        border: solid #393e41;
                        border-width: 0 2px 2px 0;
                        padding: ($spacing-unit - 2);
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transition: all .2s ease;
                      }

                      &--active {

                        &:before {
                          transform: rotate(-135deg);
                          -webkit-transform: rotate(-135deg);
                          top: 16px;
                        }
                      }
                    }

                    &__list {
                      display: none;

                      &--active {
                        display: block;
                        width: 100%;
                        border: 0;

                        .facet-value-list {
                          overflow: hidden;
                        }

                        .button-container {
                          position: relative;
                          border: 0;
                          left: -10px;
                          padding-left: ($spacing-unit * 2);
                          height: 25px !important;
                        }
                      }
                    }

                    .type-slider {
                      display: none !important;
                    }
                  }
                }

                .filter-view {
                  display: none;
                }

                &__more-scroll-wrapper {
                  display: none;
                }

                &__more-scroll-wrapper-left {
                  display: none;
                }
              }

              .plp-filter-search-facets {
                &__search-wrapper {
                  &__input {
                    border: 1px solid $border-productlist-bom;
                  }
                }

                &__filter-facet-list {
                  &--active {
                    height: 247px;
                  }
                }

                &__content {
                  padding: ($spacing-unit * 2);
                }

                .show-more {
                  display: block !important;
                }

                .facet-show-more {
                  @include font-size(13px);
                  color: $link-blue;
                  font-family: $font-montserrat;
                  height: auto;
                  padding: ($spacing-unit * 2 + 3) 0;
                  font-weight: 500;
                }
              }
            }

            &__show-hide-filter {
              display: none !important;
            }

            &__filter-search {
              padding-bottom: 0;
            }

            &__filter-action-bar {
              display: none;
            }
          }

        }
      }

      &__top {
        &__container {
          &.container {
            padding: 0px;
          }
        }
      }
    }

    .sidebar-applied-filters {
      display: block;
      margin-bottom: ($spacing-unit * 4);
      border-top: 0;
      padding-top: 0;

      .plp-filter-controllbar {
        background-color: $colour-white;

        &__reset-all-filter {
          border: none;
          margin: ($spacing-unit * 2-2);
          float: left;
          position: absolute;
          right: 0;
          top: 0;
        }

        &__applied-filter {
          &__title {
            display: block;
            position: absolute;
            top: -3px;
            left: 15px;

            + ul {
              padding-top: ($spacing-unit * 10);
            }


          }
        }

        .col-6 {
          &.col-lg-8 {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }

        div {
          &.align-right {
            text-align: center;
            flex: 0 0 100%;
            max-width: calc(100% - 20px);
            margin: ($spacing-unit * 2) auto 0;
            padding-bottom: ($spacing-unit * 4);

          }
        }
      }

      .xmod-filter {
        .facet-item {
          line-height: 20px;
          display: block;

          .filterBoxElement {
            position: relative;
          }
        }
      }

    }

    .facet-item__anchor__name {
      width: 85% !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }


    .skin-productlist-pagination-plp {
      .plp-pagination-wrapper {
       &__product-action-bar {
          padding: ($spacing-unit * 3);

          &__product-per-page {
            .selectboxit-container {
              .selectboxit {
                width: 70px;
              }
            }
          } 

          .label {
            margin-left: ($spacing-unit * 3);
          }

          &__product-per-page {
            label {
              margin-left: 0px !important;
              padding-right: 0px;
            }
            &.gu-3{
              &--PL,&--SK {
                margin-right: 0px;
                width: 300px;
              }
            }
          }

          &__view-toggle {
            .plp-viewlist-dropdown {
              &__dropbtn {
                width: 185px;
              }
              &__content {
                .plp-productview-content {
                  width: 143px;
                }
              }
            }
          }
        }

        &__content {
          display: none;
        }
      }

      &.plp-pagination-bottom {
        .plp-pagination-wrapper {
          &__content {
            display: inline;
          }
        }
      }

      &.sidebar-filters-pagination {
        display: inline-block;
        .plp-pagination-wrapper {
          &__content {
            display: block;
              padding-right: ($spacing-unit * 4);
              padding-left: ($spacing-unit * 2);
          }

          &__product-action-bar {
            display: none;
          }
        }
      }
    }

    .orderlist-select-holder {
      &--PL, &--SK {
        margin-left: 0px;
      }
    }


    .skin-categorynav-plp {
      .mod-categorynav {
        &__wrapper {
          display: none;
          float: left;
          max-height: 0;
          visibility: hidden;
          opacity: 0;
          transition: all .5s ease;

          &__title {
              @include font-size(13px);
              width: 100% !important;
              position: relative;
              cursor: pointer;
              font-weight: bold;
              padding-top: ($spacing-unit - 4);
              text-transform: uppercase;

              &:before {
                content: "";
                display: block;
                position: absolute;
                right: -10px;
                top: 7px;
                border: solid #393e41;
                border-width: 0 2px 2px 0;
                padding: ($spacing-unit - 2);
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transition: all .2s ease;
              }

          }

          &__item {
            width: 100%;

            &__header {
              a {
                justify-content: flex-start;

                h3 {
                  margin: 0;
                }
              }
            }
          }
        }
      }
      &--active {
        .mod-categorynav {
          &__wrapper {
              display: block;
              max-height: 1500px;
              visibility: visible;
              opacity: 1;
              padding-top: ($spacing-unit * 2);

            &__title {
              &:before {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                top: 11px;
              }
            }

          }
        }
      }
    }

    .skin-productlist-structure {
      float: left;
      width: calc(100% - 365px);

      .productlistpage {
        margin-top: 0px;
      }
    }

    .skin-toolsitem-compare-popup-plp {
      min-width: 505px;
      bottom: 0;
    }
    .skin-toolsitem-compare-plp {
      .ico-compare {
        &--plp-compare {
          .label {
            padding: ($spacing-unit + 3) ($spacing-unit * 2);
          }
        }

        i {
          padding: ($spacing-unit + 1) 0;
        }
      }

    }


    .skin-productlist-products-plp {
      padding: 0 ($spacing-unit * 4) ($spacing-unit * 10);

      .plp-filter-products-heading {
        &__product {
          padding-left: ($spacing-unit * 14);
          width: 74%;
        }

        &__price {
          width: 5%;
          text-align: right;
        }

        &__quantity {
          display: none;
        }
      }

      .plp-filter-products {
        &__product {
          &__info {
            width: calc(100% - 3px);

            &__compact {
              padding-bottom: ($spacing-unit * 8);
              position: relative;

              &__product-info {
                flex: 0 0 60%;
                max-width: 60%;

                &__image-wrapper {
                  width: 70px;
                }

                &__data {
                  line-height: 15px;

                  &__item {
                    float: none;
                    display: block;
                    white-space: nowrap;

                  }
                }

                &__title {
                  font-weight: 600;
                }
              }

              &__product-price {
                flex: 0 0 20%;
                max-width: 20%;
                text-align: right;

                .price {
                  font-weight: 600;
                }
              }

              &__product-stock {
                flex: 0 0 20%;
                max-width: 20%;
              }

              &__product-quantity {
                position: absolute;
                bottom: 0;
                max-width: fit-content;
                display: flex;

                .num-stepper {
                  margin-left: ($spacing-unit * 24);
                }
              }
            }

            &__detailed {
              &__product-attributes {
                flex: 0 0 63%;
                max-width: calc(54% + 3px);
              }

              &__product-price {
                margin-left: 0px;
                max-width: calc(28% - 3px);
              
                .skin-scaled-prices-single-tabular {
                  .price-table {
                    &.price-table-overlay {
                      padding-top: ($spacing-unit - 2);
                    }

                    &__item {
                      padding-top: ($spacing-unit + 2);
                    }
                  }
                }
              }

              &__product-attachement {
                max-width: 17%;
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
              }
            }
          }

          &__right {
            display: none;

            &.sidebar-plp {
              display: block;
              width: 200px;
              height: 35px;
            }

            &__hide-details,
            &__show-details {
              @include font-size(13px);
              color: $link-blue;
              font-weight: 500;
              float: left;
              padding-top: ($spacing-unit);
              cursor: pointer;

              &.hide {
                display: none;
              }
            }

            &.showdetailview {
              height: 0px;
            }

            &__toggle {
              padding-top: ($spacing-unit);
              float: left;
            }
          }

          &__left {
            margin-top: auto;
            order: -1;
            width: auto;
          }
        }

        &__cart-cta {
          margin-left: ($spacing-unit * 3);
        }

      }
    }

    &.skin-layout-store {
      background-color: $colour-white;

      .plp-content {
        &__nav-filters {
          float: left;
          border: 1px solid $colour-pale-grey;
        }
        &__categorynav-facets {
          padding: ($spacing-unit * 5) ($spacing-unit * 6);
        }
      }

      .sidebar-applied-filters {
        .plp-filter-controllbar {
          padding-top: ($spacing-unit * 4);
        }
      }
    }
    &.skin-layout-product-family {
      background-color: $colour-white;

      .plp-content {
        &__nav-filters {
          border: 1px solid $colour-pale-grey;
          margin-right: ($spacing-unit * 3);
        }
        &__filters {
          border: none !important;
        }
      }
    }

    &.skin-layout-search {
      .plp-content {
        &__top {
          &__container {
            &.container{
              padding: 0 ($spacing-unit * 2);
            }
          }
        }
      }
    }

    &.skin-layout-category {
      .skin-productlist-pagination-plp {
        &.sidebar-filters-pagination {
          .plp-pagination-wrapper {
            &__content {
              display: block;
              padding-right: ($spacing-unit * 2);
              padding-left: 0px;
            }
          }
        }
      }

    }

  }

  @media #{$desktop} {
    .plp-content {
      max-width: 1200px;
    }

    .plp-pagination-wrapper {
      &__product-action-bar {
        padding: ($spacing-unit * 4);
      }

    }

    .skin-productlist-order-plp {
      label {
        margin-left: 0px !important;
        padding-right: 0px !important;
      }
    }

    .skin-productlist-products-plp {

      .plp-filter-products-heading {
        &__product {
          width: 57%;
          padding-left: ($spacing-unit * 16);
        }

        &__price {
          width: 22%;
        }
      }

      .plp-filter-products {
        &__product {
          &__info {
            width: calc(100% - 3px);

            &__detailed {
              &__product-attributes {
                flex: 0 0 63%;
                max-width: 60%;
              }

              &__product-price {
                margin-left: ($spacing-unit - 3);
                max-width: 20%;
              }

              &__product-attachement {
                max-width: 19%;
                margin-left: ($spacing-unit - 1);
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
              }
            }

            &__compact {
              &__product-info {
                flex: 0 0 55%;
                max-width: 55%;

                &__image-wrapper {
                  width: 80px;
                }

                &__data {
                  line-height: 15px;

                  &__item {
                    float: left;
                  }
                }
              }

              &__product-price {
                flex: 0 0 25%;
                max-width: 25%;
              }

              &__product-quantity {
                left: 85px;

                .num-stepper {
                  margin-left: ($spacing-unit * 31);
                }
              }
            }
          }
        }

        &__cart-cta {
          margin-left: ($spacing-unit * 5);
        }
      }
    }
  }

}


