.skin-productlist-bom {
  float: left;
  width: 100%;

  .header {
    background: $bg-productlist-bom-header;
    border: 1px solid $border-productlist-bom-header;
    display: none;
    width: 100%;

    @media #{$ipad-landscape} {
      display: table;
    }

    &__item {
      @include font-size(12px);
      @include line-height(17px);
      border-right: 1px solid $border-productlist-bom-header;
      display: table-cell;
      font-weight: bold;
      padding: ($spacing-unit * 2 + 2) 0;
      text-align: center;
      width: 10.33%;

      @media #{$ipad-landscape} {
        @include font-size(14px);
        @include line-height(16px);
        width: 12.5%;
      }

      @media #{$desktop} {
        width: 10.33%;
      }

      &--articleno {

        @media #{$desktop} {
          width: 8%;
        }

      }

      &--price {
        border: 0;

        @media #{$desktop} {
          width: 12.84%;
        }

      }

      &--stock {

        @media #{$desktop} {
          width: 12.84%;
        }

      }

      &--detail {

        @media #{$desktop} {
          width: 25%;
        }

      }

    }

    &.row {

      &:after {
        content: none;
      }

    }

  }

  .productlist {

    .mod-product {
      border: 0;
      background-color: transparent;
      padding: 0 10px;

      &:nth-child(even) {
        background-color: transparent;
      }

      &.error {
        background-color: $bom-product--error;
      }

      .main {

        &__item {
          border: 0;
          border-bottom: 1px solid $border-productlist-bom;

          @media #{$ipad-landscape} {
            border: 0;
          }

        }

        .article-number {
          text-align: left;

          @media #{$ipad-landscape} {
            text-align: center;
          }

        }

      }

    }

    .list {
      border: 0;
      float: left;
      width: 100%;

      &__item {
        border-bottom: 1px solid $colour-light-grey;
        float: left;
        margin-bottom: ($spacing-unit * 4);
        padding-bottom: ($spacing-unit * 4);
        width: 100%;

        @media #{$ipad-landscape} {
          margin-bottom: 0;
          padding-bottom: 0;
        }

      }

    }

  }

  .mobile-holder {
    background: $bg-productlist-bom-header;
    float: left;
    width: 40%;

    &__item {
      @include font-size(13px);
      @include line-height(18px);
      color: $colour-productlist-bom-header-title;
      float: left;
      font-weight: bold;
      min-height: 53px;
      padding: ($spacing-unit * 2);
      width: 100%;

      &--stock {
        min-height: 142px;

        @media #{$ipad} {
          min-height: 115px;
        }

      }

    }

    @media #{$ipad-landscape} {
      display: none;
    }

  }

}
