.skin-productlist-shopping {
  padding-left: 0;
  padding-right: 0;

  .productlist {
    float: left;
    width: 100%;

    .list {
      float: left;
      width: 100%;
    }

  }

  .empty-list {
    @include font-size(15px);
    float: left;
    display: none;
    font-weight: 500;
    line-height: normal;
    margin-top: ($spacing-unit * 3);
    width: 100%;

    &.active {
      display: block;
    }
  }

}