.skin-productlist-calculate {
  float: left;
  margin-bottom: ($spacing-unit * 6);
  margin-top: ($spacing-unit * 6);
  width: 100%;

  .productlist-price-recalc-wrapper {
    display: flex;
    justify-content: flex-end;

    &__inner {
      position: relative;
      width: 100%;

      @media #{$mobile-landscape} {
        width: auto;
      }

      .bd-cart-recalculate-layer-shopping,
      .back-cart-recalculate-layer-shopping {
        height: 100%;
      }
    }
  }
}