@import 'global-utilities';

.no_prices {
  margin-top: -($ux-spacing-unit * 6);
}

.promotion-alert {
  .alert {
    margin-bottom: 24px;
  }
}

.prices {
  color: $ux-text-default;

  display: flex;
  flex-direction: column;

  gap: 24px;

  @include tabletPlusDown {
    gap: 20px;
  }

  @include tabletDown {
    gap: 16px;
  }

  &.hasVat {
    margin-left: 0;
  }

  &__price-each {
    @include typography-ui-xs();

    text-transform: uppercase;
    font-weight: $font-weight-normal;
    padding-bottom: 8px;
  }

  &__priceholder {
    &--details {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include tabletOnly {
        gap: 10px;
      }
    }

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &__price {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__priceholder-per-q {
    .quantity-and-price-details {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    @include tabletOnly {
      gap: 10px;
    }
    @include typography-text-sm();

    display: flex;
    flex-direction: row;
    gap: 16px;

    @include desktop {
      gap: 20px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    .quantity,
    .price-per-q {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include line-height(14px);

      &-title {
        font-weight: $font-weight-normal;
      }
    }

    .quantity {
      color: $colour-dist-grey;

      &-item {
        white-space: pre;
      }
    }

    .price-per-q {
      font-weight: $font-weight-semiBold;
      color: $colour-dist-grey;
      white-space: pre;
    }
  }
}

.hasPromotion {
  margin-top: $ux-spacing-unit * 6;
}
