.skin-account-list-order-history {
  float: left;
  width: 100%;

  .data-list {
    float: left;
    width: 100%;

    .row-holder {
      border-bottom: 1px solid $border-global-grey;
      float: left;
      padding-bottom: ($spacing-unit * 3);
      width: 100%;

      @media #{$ipad} {
        padding-bottom: 0;
      }

      &__item {
        float: left;
        padding: ($spacing-unit * 3) 0 0;
        width: 100%;

        @media #{$ipad} {
          padding: ($spacing-unit * 3) 0;
        }

        @media #{$ipad-landscape} {
          display: table;
        }

        .row {
          border: 0;
        }

        .column {
          @include font-size(14px);
          @include line-height(21px);
          color: $colour-black;
          display: block;
          padding-right: ($spacing-unit);
          width: 100%;

          @media #{$ipad} {
            display: table-cell;
            min-width: 117px;
            width: 16.667%;
          }

          @media #{$ipad-landscape} {
            @include font-size(11px);
          }

          @media #{$desktop} {
            @include font-size(14px);
          }

          @media print {
            display: table-cell;
            width: 150px;
          }

          &:last-of-type {
            padding-right: 0;
          }

          &.status {

            .value {

              span {
                text-transform: capitalize;
              }

              &--ok {
                color: $colour-account-list-order-history-green;

                i {

                  &:before {
                    content: '\f00c';
                  }

                }

              }

              &--cancelled {
                color: $colour-account-list-order-history-red;

                i {

                  &:before {
                    content: '\f00d';
                  }

                }

              }

              &--partially-shipped {
                color: $colour-account-list-order-history-orange;

                i {

                  &:before {
                    content: '\f068';
                  }

                }

              }

              &--nok {

                i {

                  &:before {
                    content: '\f141';
                  }

                }

              }

              i {
                height: 22px;
                position: relative;
                width: 22px;

                &:before {
                  position: absolute;
                  font-family: 'FontAwesome';
                  top: 0;
                  left: 5px;
                }

              }

            }

            .return {
              color: $colour-account-list-order-history-grey;

              svg {
                width: 22px;
              }

            }

          }

        }

        .item {


          &.action {
            float: left;
            padding: 0;
            width: 100%;
          }

          .mat-button {

            &--action-red {
              @include font-size(15px);
              @include line-height(33px);
              border-radius: 2px;
              color: $colour-white;
              display: block;
              font-weight: normal;
              height: 35px;
              margin: 0;
              text-align: center;
              width: 100%;

              svg,
              i {
                margin-left: ($spacing-unit);
              }

              &:hover {
                color: $colour-dist-red;
              }

              @media #{$ipad-landscape} {
                float: right;
                margin-top: ($spacing-unit);
                min-width: 145px;
                padding: 0 ($spacing-unit * 2);
                width: auto;
              }

            }

          }

        }

      }

    }

  }

  .data-list-header {
    display: none;
    float: left;
    padding-bottom: ($spacing-unit * 3);
    width: 100%;

    @media #{$ipad-landscape} {
      display: table;
    }

    &__item {
      @include font-size(14px);
      @include line-height(21px);
      color: $colour-black;
      display: table-cell;
      width: 16.667%;
    }

  }

}
