.skin-account-list-addresses {
  .data {
    &:after,
    &:before {
      content: '';
      clear: both;
      display: table;
    }
  }

  .company-name-sub {
    .entry {
      margin: 0;
    }
  }

  .delivery-addresses {
    margin-top: ($spacing-unit * 2) ;
  }

  .set-as-default {
    height: 30px;

    .set-as-default-button {
      background: #ddd;
      border: 1px solid #ccc;
      padding: $spacing-unit;
      font-size: 13px;
      max-width: 150px;
    }
  }

  .countryInfo {
    margin-top: ($spacing-unit * 3);
  }

  .countryName {
    width: 100px;
  }

  .action {
    .more.more {
      margin-top: 0;
    }
  }

}
