.skin-account-list-quotation-history {

  .data-list {

    .entry {
      width: 25%;

      &.e3 {
        width: 25%;
      }

      &.e2 {
        width: 25%;
      }

      dl {

        .value {
          overflow-x: visible;
        }

      }

    }

    .action {
      width: 25%;

      .more {
        float: right;
        margin-right: ($spacing-unit - 1);
        text-align: right;
        width: 100%;
      }

      .btn-add-to-cart {
        display: block;
      }

      .pdf-quotes {
        padding-right: ($spacing-unit * 2 + 1);
      }

      .btn-add-to-cart, .pdf-quotes {
        float: right;
        text-align: right;
        width: 100%;
      }

      .resubmit {
        @include font-size(14px);
        color: $colour-account-quotes-blue;
        float: right;
        font-weight: 600;
        margin: ($spacing-unit) ($spacing-unit * 2) 0 0;
        text-align: right;

        &:hover {
          color: $colour-account-quotes-blue-hover;
          text-decoration: underline;
        }

        &.active {
          color: $colour-black;
          cursor: default;

          &:hover {
            color: $colour-black;
            text-decoration: none;
          }

        }

        &--label {
          @include font-size(13px);
          float: right;
          font-weight: 500;
          margin: 0 ($spacing-unit * 2) 0 0;
          width: auto;
        }

        &--childQuote {
          @include font-size(14px);
          color: $link-blue;
          float: right;
          font-weight: 500;
          margin: 0 ($spacing-unit * 2) 0 0;
          width: auto;

          &:hover {
            colour: $link-dark-blue;
          }

        }

      }

    }

  }

}

