@import 'global-utilities';

:host {
  @include line-height(18px);
  color: $colour-white;
  float: right;
  font-size: 0.73rem !important;
  letter-spacing: 0 !important;
  position: relative;
  text-align: center;
  vertical-align: top;
  z-index: 9; // below controls (see carpet-item)

  .bd {
    @include line-height(27px);
    background: $colour-dist-marigold;
    border-radius: 2px;
    display: inline-block;
    font-weight: $font-weight-semiBold;
    height: 27px;
    letter-spacing: 0.4px;
    padding: 0 ($spacing-unit * 4 - 2);
    text-transform: uppercase;
    white-space: nowrap;
  }

  .hotOffer {
    background: $colour-red;
  }

  .top {
    background: $colour-dark-grey;
  }

  .hit {
    background: $colour-dark-grey;
    padding: 0 8px !important;
  }

  .used {
    background: $colour-dist-dark-green;
  }

  .offer {
    background: $colour-red;
  }

  .bestseller {
    background: $colour-dist-marigold;
    color: $colour-black;
  }

  .new {
    background: $colour-dist-marigold;
    color: $colour-black;
  }

  .noMover {
    background: $colour-dist-dark-green;
  }
}
