.mod-order-overview-box {
  float: left;
  width: 100%;

  .data-list {

    .row-holder {
      border-bottom: 1px solid $border-global-grey;
      float: left;
      padding: ($spacing-unit * 4) 0;
      width: 100%;

      .data {

        .entry_admin {
          float: left;
          padding: 0 0 ($spacing-unit * 3);
          width: 100%;

          @media #{$ipad} {
            display: inline-block;
            padding-bottom: 0;
            padding-right: ($spacing-unit * 3);
            width: 20%;
          }

          @media print {
            width: 20%;
          }

          .label {
            @include font-size(14px);
            @include line-height(16px);
            color: $colour-paragraph-grey;
            font-weight: bold;
            padding-bottom: ($spacing-unit * 2);
          }

          .value {
            @include font-size(14px);
            @include line-height(16px);
            color: $colour-paragraph-grey;
          }

          .return {
            @include font-size(14px);
            @include line-height(16px);
            color: $colour-order-overview-box-grey;

            svg {
              width: 22px;
            }

          }

          .icon {
            @include font-size(14px);
            @include line-height(16px);

            span {
              text-transform: capitalize;
              vertical-align: top;
            }

            &--ok {
              color: $colour-order-overview-box-green;

              i {

                &:before {
                  content: '\f00c';
                }

              }

            }

            &--cancelled {
              color: $colour-order-overview-box-red;

              i {

                &:before {
                  content: '\f00d';
                }

              }

            }

            &--partially-shipped {
              color: $colour-order-overview-box-orange;

              i {

                &:before {
                  content: '\f068';
                }

              }

            }

            &--nok {

              i {

                &:before {
                  content: '\f141';
                }

              }

            }

            i {
              height: 22px;
              position: relative;
              width: 22px;

              &:before {
                position: absolute;
                font-family: 'FontAwesome';
                top: 0;
                left: 5px;
              }

            }

          }

          &:last-of-type {

            @media #{$ipad} {
              padding-right: 0;
            }

          }

        }

      }

    }

  }

}