.mod-stock-notification {
  bottom: 180px;
  display: none;
  float: left;
  left: 0;
  padding: ($spacing-unit * 4);
  position: fixed;
  text-align: left;
  width: 100%;

  &--active {
    display: block;
  }

  @media #{$ipad-landscape} {
    bottom: 0;
    border-top: 1px solid $stock-notification-border-grey;
    display: block;
    margin-top: ($spacing-unit * 4);
    padding: ($spacing-unit * 4) 0 0;
    position: relative;
  }

  .stock-notification {
    float: left;
    width: 100%;

    &--error {
      @include font-size(12px);
      color: $colour-dist-red;
      display: block;
      padding: ($spacing-unit * 3) 0 0;
    }

    &__form-content {
      float: left;
      width: 100%;

      &__emailinput {
        border-radius: $spacing-unit - 3;
        height: 40px;
        width: 100%;

        &:focus {
          background: transparent;
          border-width: 1px;
        }

        @include placeholder {
          @include font-size(12px);
        }

      }

      &__instruction-policy {
        @include font-size(12px);
        @include line-height(18px);
        padding: ($spacing-unit * 2) 0;

        a {
          color: $link-blue;

          &:hover,
          &:focus {
            color: $link-dark-blue;
            text-decoration: underline;
          }
        }

      }

      .mat-button {
        @include font-size(12px);
        @include line-height(15px);
        border-radius: $spacing-unit - 3;
        height: auto;
        margin-top: $spacing-unit*2;
        padding: ($spacing-unit*2) ($spacing-unit * 5);
        width: auto;
      }

      &__instruction {
        float: left;
        padding-bottom: ($spacing-unit * 2);
        width: 100%;

        p {
          @include font-size(14px);
          @include line-height(20px);
          font-weight: bold;
        }

      }

    }

    &__response {
      display: flex;
      justify-content: space-evenly;

      .icon-wrapper {
        background: $colour-dist-green;
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0;
        height: 23px;
        text-align: center;
        width: 24px;

        i {
          @include font-size(14px);
          color: $colour-white;
        }

      }

      &__message {
        @include font-size(12px);
        @include line-height(12px);
        display: inline-block;
        padding-left: ($spacing-unit);
      }

    }

    &__failure {

      .icon-wrapper {
        background: $colour-dist-green;

        i {
          @include font-size(14px);
          color: $colour-white;
        }

      }

    }

  }

}

.isie7 {

  .mod-stock-notification {

    .stock-notification {

      &__response {

        .icon-wrapper {
          background: transparent;

          i {
            background-color: $colour-white;
            background: url('/_ui/all/media//sprites_00a7b3d765.png') no-repeat -478px -315px;
            width: 37px;
            height: 38px;
            margin-top: ($spacing-unit - 7);
            zoom: 0.7;
          }

        }

      }

    }

  }

}

.isie7,
.isie8 {

  .mod-stock-notification {
    bottom: 0;
    border-top: 1px solid $stock-notification-border-grey;
    display: block;
    margin-top: 0;
    padding: ($spacing-unit * 3) 0 0;
    position: relative;

    .stock-notification {

      &__response {
        float: left;
        width: 100%;

        .icon-wrapper {
          float: left;
        }

        &__message {
          float: left;
          width: 89%;
        }

      }

      &__form-content {

        &__emailinput {
          @include line-height(30px);
          padding: 0;
        }

      }

    }

  }

}

.isie8 {

  .mod-stock-notification {
    margin-top: ($spacing-unit * 3);
  }

}
