.mod-manufacturer-linecard {
  border-top: 1px solid $border-manufacturer-linecard-grey;
  border-bottom: 1px solid $border-manufacturer-linecard-grey;
  margin-top: ($spacing-unit * 5);
  padding: ($spacing-unit * 2);

  img {
    height: 28px;
    width: 140px;
  }

  .table-manufacturers {
    display: table;
    margin: auto;
  }

  .manufacturers-row {
    display: table-row;
  }

  .manufacturers-cell{
    display: table-cell;
    padding: ($spacing-unit * 2) ($spacing-unit * 3 + 1) ($spacing-unit + 3) 0;
    float: left;
  }

}
