@import 'global-utilities';

.mov-popup {
  position: fixed;
  top: 33%;
  right: 0;
  left: 0;
  z-index: $zindex-popover;
  width: 95%;
  height: auto;
  padding: ($spacing-unit * 4) ($spacing-unit * 2);
  border: 2px solid $colour-dark-grey;
  margin: auto;
  background-color: $colour-white;
  text-align: center;

  @include mobilePlus {
    width: 50%;
    padding: $spacing-unit * 4;
  }

  @include tabletPlus {
    width: 35%;
  }

  @include desktop {
    width: 25%;
  }

  &__text {
    color: $colour-black;

    &__p {
      margin-bottom: $spacing-unit * 3;
    }
  }

  &__button {
    margin: 0 auto;
    text-transform: uppercase;
    width: 50%;

    .btn {
      @include font-size(15px);
      @include line-height(17px);
      color: $colour-white;
      background: $colour-red;
      border: 1px solid $colour-red;
      border-radius: 2px;
      text-align: center;
      width: 100%;
      font-weight: $font-weight-bold;
      height: 41px;
      cursor: pointer;
    }
  }
}
