<div class="mov-popup">
  <div class="mov-popup__text">
    <p class="mov-popup__text__p" id="cart.mov_popup_text">
      {{ 'cart.mov_popup_text' | cxTranslate: { value: data.movLimit, currency: data.currencyIso } }}
    </p>

    <p class="mov-popup__text__p" id="cart.mov_popup_cartValue">
      {{
        'cart.mov_popup_cartValue' | cxTranslate: { value: data.currentTotalValue | price, currency: data.currencyIso }
      }}
    </p>
  </div>

  <div class="mov-popup__button">
    <button class="btn" id="cart.mov_popup_btn" (click)="onOKClick()" type="button">
      {{ 'cart.mov_popup_ok' | cxTranslate }}
    </button>
  </div>
</div>
