<label
  class="radio d-flex"
  [ngClass]="['is-' + type, 'is-' + size, disabled ? 'is-disabled' : '', checked ? 'is-checked' : '']"
>
  <input
    class="radio-input mr-2"
    [class]="[size]"
    [class.is-disabled]="disabled"
    [attr.id]="radioID"
    [name]="radioName"
    [value]="radioValue"
    [checked]="checked"
    type="radio"
  />
  <div class="labels d-flex flex-row flex-wrap">
    <p
      *ngIf="primaryLabelText"
      class="primary-label"
      [class.primary-label-disabled]="disabled"
      [attr.id]="primaryLabelID"
    >
      <ng-content></ng-content>
      {{ primaryLabelText }}
    </p>
    <p
      *ngIf="secondaryLabelText"
      class="secondary-label"
      [class.secondary-label-disabled]="disabled"
      [attr.id]="secondaryLabelID"
    >
      {{ secondaryLabelText }}
    </p>
  </div>
</label>
