.mod-lightbox-return-shipping-label {
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 3000;
  left: 0;
  right: 0;
  top: 10%;
  margin: 0 auto;
  max-width: 960px;

  @media print {
    width: 900px;
  }


  .modal {
    left: 0;
    margin: 0 auto;
    position: relative;
    width: 100%;

    .hd {
      background: $bg-lightbox-return-shipping-header;
      display: table;
      float: left;
      height: 100%;
      padding: ($spacing-unit * 5);
      text-align: center;
      width: 100%;

      @media print {
        display: none;
      }

      &__left {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }

      &__right {
        display: table-cell;
        text-align: right;
        vertical-align: middle;

        .octagon {
          float: right;

          svg {
            display: block;
            height: 15px;
            margin-left: ($spacing-unit - 3);
            margin-top: ($spacing-unit - 1);
            width: 20px;
          }

        }

      }

      .title {
        @include font-size(20px);
        @include line-height(26px);
        color: $colour-white;
        font-weight: normal;
        margin: 0;
      }

    }

    .bd {

      &__body {
        border: 1px dashed $border-lightbox-return-grey;
        background: $colour-white;
        float: left;
        height: 100%;
        padding: ($spacing-unit * 4);
        position: relative;
        width: 100%;

        @media #{$ipad} {
          display: table;
          padding: ($spacing-unit * 8);
        }

        @media print {
          display: table;
          padding: ($spacing-unit * 8);
        }

        &__item {
          height: 100%;
          width: 100%;

          @media #{$ipad} {
            display: table-cell;
            width: 60%;
          }

          @media print {
            display: table-cell;
            width: 60%;
          }

          .returnText {
            @include font-size(19px);
            @include line-height(40px);
            background: $colour-black;
            color: $colour-white;
            display: inline-block;
            float: left;
            font-weight: bold;
            height: 41.87px;
            letter-spacing: 5px;
            margin-top: ($spacing-unit * 6);
            min-width: 191.94px;
            padding: 0 ($spacing-unit * 2);
            text-transform: uppercase;
            width: auto;

            @media #{$ipad} {
              @include font-size(28px);
              @include line-height(62px);
              height: 61.87px;
              margin-top: ($spacing-unit * 12);
            }

          }

          .rmaAddress {
            @include font-size(19px);
            @include line-height(40px);
            color: $colour-paragraph-grey;
            text-align: left;

            @media #{$ipad} {
              @include font-size(30px);
              @include line-height(60px);
            }

            @media #{$ipad-landscape} {
              @include font-size(38px);
            }

            b {
              font-weight: normal;
            }

            span {
              @include font-size(20px);
              @include line-height(20px);
              display: block;
              padding-bottom: ($spacing-unit * 2);
            }

          }

          .rmaID {
            @include font-size(13px);
            @include line-height(18px);
            color: $colour-paragraph-grey;
            display: table-cell;
            font-weight: bold;
            letter-spacing: 4.5px;
            margin: 0;
            padding-top: ($spacing-unit * 6);
            vertical-align: bottom;

            span {
              display: inline-block;
              padding-left: ($spacing-unit * 2);
            }

            @media #{$ipad} {
              @include font-size(13px);
              padding-left: ($spacing-unit * 4);
              padding-top: 0;
            }

            @media #{$ipad-landscape} {
              @include font-size(20px);
              padding-bottom: ($spacing-unit * 4);
            }

            @media #{$desktop} {
              @include font-size(24px);
            }

            @media print {
              @include font-size(13px);
              padding-left: ($spacing-unit * 4);
              padding-top: 0;
            }

          }

          &:last-of-type {
            background-image: url('/_ui/all/media/logo-dark.png');
            background-position: 40px 0;
            background-repeat: no-repeat;
            background-size: 280px;
            border-top: 1px solid $colour-black;
            margin-top: ($spacing-unit * 6);
            padding-bottom: ($spacing-unit * 4);
            vertical-align: bottom;

            @media #{$ipad} {
              border-left: 1px solid $colour-black;
              border-top: 0;
              margin-top: 0;
              padding-bottom: 0;
              width: 40%;
            }

            @media print {
              background-size: 260px;
              border-left: 1px solid $colour-black;
              border-top: 0;
              margin-top: 0;
              padding-bottom: 0;
              width: 40%;
            }

          }

        }

        &:after {
          @include font-size(20px);
          bottom: -10px;
          content: '\f0c4';
          font-family: FontAwesome;
          left: 30px;
          position: absolute;
        }

      }

    }

    .ft {

      @media print {
        display: none;
      }

      .cancel-btn {
        @include font-size(15px);
        @include line-height(35px);
        color: $colour-paragraph-grey;
        cursor: pointer;
        float: right;
        font-weight: normal;
        padding-right: ($spacing-unit * 6);
      }

    }

    .bd,
    .ft {
      background: $bg-lightbox-return-shipping-body;
      float: left;
      padding: ($spacing-unit * 3);
      width: 100%;
    }

    &.current {
      display: block;
    }

  }

}
