$colour-bom-data-grey: #979797;

$bg-bom-data-grey: #efefef;
$bg-bom-data-proceed: #68C143;
$bg-dom-data-btn-disabled: #D8D8D8;

$border-bom-data-grey: #d3d2d3;
$border-bom-data-upload: #979797;

$text-bom-data-textarea: #9f9f9f;
$text-boom-data-grey: #333;
$colour-warning-red-bg: #FDF3F3;

