.mod-newsletterunsubscribefeedback {

  .newsletter-unsubscribe-feedback {
    padding: $spacing-unit * 4;
    margin: ($spacing-unit * 4) 0 ($spacing-unit * 8);
    background-color: $colour-white;
    box-shadow: 0 0 10px 0 $nltrsbs-feedback-shadow;

    @media #{$ipad} {
      padding: $spacing-unit * 8;
    }

    &__title,
    &__inner {
      font-weight: 500;
    }

    &__title {
      @include font-size(32px);
      margin: 0 0 ($spacing-unit * 6);
      text-align: center;

      &,
      .fa-check-circle {
        @include line-height(48px);
      }

      .fa-check-circle {
        @include font-size(24px);
        margin-right: $spacing-unit * 3;
        color: $icon-green;
        vertical-align: bottom;
      }
    }

    &__inner {
      @include font-size(14px);
      @include line-height(24px);
      max-width: 320px;
      margin: auto;

      p {
        margin-bottom: $spacing-unit;
        hyphens: auto;
      }

      a {
        &:not(.ux-btn--submit) {
          color: $link-blue;

          &:hover {
            text-decoration: underline;
          }
        }

        &.ux-btn--submit {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 380px;
          cursor: pointer;

          &,
          &:hover {
            color: $colour-white;
          }
        }
      }

      .ux-checkbox {
        margin-bottom: $spacing-unit * 3;
      }

      .ux-btn--submit {
        margin-bottom: $spacing-unit * 6;
      }
    }

    &__success {
      padding: $spacing-unit * 3;
      color: #066547;
      background-color: #E9F2EF;
      border: 1px solid #C2DCD2;
      border-radius: 4px;
      text-align: center;
    }

    &__feedback {
      margin: ($spacing-unit * 6) 0 ($spacing-unit * 8);

      .field-msgs {
        .error {
          @include font-size(12px);
          color: $colour-dist-red;
        }
      }
    }

    &__new-email,
    &__other-msg {
      display: none;
      padding-left: $spacing-unit * 7;
      margin-top: $spacing-unit * 2 * (-1);

      input, textarea {
        width: 100%;
        border: 1px solid $colour-dark-grey;
        border-radius: 2px;

        &.error {
          border-color: $colour-dist-red;
        }
      }
    }

    &__new-email {
      margin-bottom: $spacing-unit * 3;

      p {

        .is-opt {
          color: $colour-redesign-mid-black;
        }
      }

      input {
        width: 100%;
        height: 40px;
      }
    }

    &__other-msg {
      textarea {
        min-height: 80px;
      }
    }
  }
}
