.mod-compare-list-item {
	height: 100%;
	.g-item {
		width: 190px;

		.gu-3 {
			width: 239px;
		}
		.gu-1 {
			width: 79px;
		}
	}


	.skin-product-compare{
	
		border-collapse: collapse !important;
	}

	.expired {
		background-color: @c-productHover;
	}
	
	table {
	    border-collapse: collapse !important;
	}	
	
	table, th, td {
	   border: 0px solid #cccccc !important;
	} 

	.hover {
		background-color: @c-productHover;

		.skin-product-compare{
			background-color: @c-white;
			&.skin-product-expired{
				background-color: @c-productHover;
			}
			.title {
				color: #AA1936; // cm: review
			}
		}

		.ico-remove {
			display: inline-block;
		}
	}

	.pos-btn {
		position: relative;
	}

	.c-center {
		text-align: center;

		.c-center-content {
			display: table;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.basket {
		padding: 15px 0;

		.btn-cart {
			i {
				.s-cart-white();
				margin-top: -2px;
			}

			&:hover i,
			&:focus i {
				.s-add-to-cart-red();
			}

			&:active i, &.active i {
				.s-add-to-cart-red();
			}

			&[disabled], &.disabled {
				i {
					.s-cart-white();
				}
			}
			&:disabled {// keep this selector separate (unsupported pseudo class ie8)
				i {
					.s-cart-white();
				}
			}
		}
	}

	.alternative-product{
		#border .border-std(0, 0, 1px, 0);
		padding: 12px 0;
	}

	.download-constrain {
		#border .border-std(1px, 0, 0, 0);
		min-height: 61px;// force basic alignment
	}
	.link-download-pdf {
		padding: 10px 20px;

		a {
			position: relative;
			width: 278px;
			float: left;
			padding: 5px 0 0 45px;
			#typo > .size-s();
			line-height: 1.2;

			i {
				.s-polygon-pdf-big-grey-bg();
				position: absolute;
				left: 0;
				top: 0;
			}

			&:hover {
				i {
					.s-polygon-pdf-big-blue();
				}
			}

			span {
				display: block;
				width: 120px;
				font-weight: normal;
				&.filename{
					font-weight: @font-base-bold;
				}
			}
		}
	}

	@media print {

		.btn {
			.invisible();
		}
	}
	
	table.item-number-and-type {
		border-collapse: separate;
		#border .border-std(1px, 0, 0, 0);
		padding-bottom: 6px;

		tr {
			td {
				border: none;
				border-style:none;
			}

			.td1 {
				border-style:none;
				width: 40%;
			}
			.td2 {
				border-style:none;
				width: 60%;
			}
		}

		.key {
			display: inline-block;
			padding-right: 10px;
			padding-left: 20px;
			width: 12px;
			#typo .size-s();
			font-weight: @font-base-bold;
		}

		.value {// align horizontally with bulk prices
			display: inline-block;
			padding-right: 10px;
			margin-left: 5px;
			width: 184px;
			#typo .size-s();
		}
	}
}
