.skin-compare-list-item-head{
	height: 100%;
	.g-item {
		width: 192px;

		.gu-3 {
			width: 239px;
			height: 125px;
		}
		.gu-1 {
			width: 79px;
		}
	}
	
	.availability{
		height: 48px;
		padding-left: 18px;
		padding-top: 10px;
		font-size: 13px;		
	}
	
	.download-constrain{
		font-size: 13px;
	}
	
	table.item-number-and-type-head {
		border-collapse: separate;
		#border .border-std(1px, 0, 0, 0);
		padding-bottom: 6px;
		width: 100%;
		margin-left: 2px;

		tr {
			border: none;
		
			td {
				border: none;
				border-style:none;
			}

			.td1 {
				border-style:none;
				width: 100%;
			}
			.td2 {
				border-style:none;
				width: 60%;
			}
		}

		.key-head {
			display: inline-block;
			padding-right: 10px;
			padding-left: 20px;
			width: 115px;
			#typo .size-s();
			font-weight: @font-base-bold;
		}

	}	
	

}