.mod-carpet-new-item {
	width: 225px;
	height: 300px;
	margin-bottom: 40px;
	position: relative;
	float: left; // needed for query carpet

	&.padding-top {
		padding-top: 30px;
	}

	.hd {
		position: absolute;
		width: 100%;
		top: 0;
		line-height: 0;

		a {
			display: inline-block;
		}
		.promo-label-wrap {
			float: right;
		}
		
		.discount-label{
			font-size: 13px;
			color: white;
			background: #333;
			padding: 4px 7px 3px 7px;
		}
		
		.discount-wrapper{
			margin-top: 12px;
		}
	}

	.bd, .ft {
		width: 100%;

		.item-link {
			width: 100%;
			height: 167px;
			color: inherit;
			display: block;
			line-height: 0;
		}

		.item-image {
			max-width: 225px;
			width: 225px;
			height: 123px;
			margin: 8px 0 10px 0;
		}
		.teaser-image{
			width: 225px;
			height: 300px;
		}
		
		.price-wrap {
			.cf();
			margin-top: 12px;
			padding: 10px 0 12px 0;
			border-top: 1px solid @c-grey80;
			border-bottom: 1px solid @c-grey80;

			.btn {
				#typo > .size-c-b();
				line-height: 19px;
				margin-top: 2px;
				float: left;
				color: @c-white;
				width: 71px;
				height: 20px;
				text-align: center;
				vertical-align: middle;
				.lt-ie10 & {
					width: 69px;
				}

			}
			.btn-buy {
				background: @c-redT;

				&:hover {
					background: #AA1936C;
				}
			}

			.product-price {
				font-size: 21px;
				letter-spacing: 0;
				float: right;

				.lt-ie10 & {
					font-size: 26px;
				}

				.currency {
					#typo > .size-c-b();
					float: left;
					margin-right: -4px;
					-webkit-transform: rotate(-90deg); // safari/chrome
					-moz-transform: rotate(-90deg); // ff
					-ms-transform: rotate(-90deg); // ie
					-o-transform: rotate(-90deg); // opera

					.lt-ie9 & {
						filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); // transform rotate for <ie9
					}
				}
			}
			


		}
		
		.wrap-original {
			border-top: 0px;
		    border-bottom: 0px;
		    padding: 0;
		    
		    .product-price{
		    	text-decoration: line-through;
		    }
		   
		}
	}

	// Toolsitems
	.ctrls {
		width: 30px;
		display: inline-block;
		position: absolute;
		z-index: 10;
		top: 20px;
		right: 0px;

		&.compensate-promo {
			top: 64px;
		}
	}

	.ico {
		visibility: hidden;
		&.active {
			visibility: visible;
		}
	}

	&:hover {
		.item-name {
			color: #AA1936;
		}
		.ico {
			visibility: visible;
		}
	}


	.ft {
		width: 100%;
		margin-top: 8px;
		#typo > .size-x-c();
		bottom: 0;

		.original-price {
			.price-change {
				font-size: 29px;
			
				float: right;
				.value {
					text-decoration: line-through;
				}
				.discount {
					color: @c-red;
				}
			}
		}
	}

	.item-name {
		display: block; // overwrites display: inline-block from ellipsis
						// needed so that item-name is on the same height as item-name of a teaser
						// which does not use ellipsis because it may be 2 lines
		margin-top: 0;
		margin-bottom: 0;
		color: @c-grey20;
		width: 100%;
		max-width: 100%;
		max-height: 36px;
		overflow: hidden;
		#typo > .size-x-c();
		font-weight: @font-base-bold;
	}

	.promotion-text {
		display: block;
		#typo > .size-x-c();
		line-height: 16px;
		font-weight: @font-base-light;
	}
	.additional-text {
		display: block;
		#typo > .size-x-c();
		font-weight: @font-base-light;
	}
}
