.mod-checkout-delivery-date {
	position: relative; // needed for save button

	// HEAD
	.head {
		#typo > .section-title();
	}

	.date-fields {

		& {
			margin: 32px 0 40px 0;
		}

		label {
			#typo > .heading-content();
			padding-left: 50px;
		}

		.gu-5 {
			padding-left: 35px;
		}

		.calendar {

			& {
				pointer-events: none;
				cursor: pointer;
				margin-left: -25px;
				margin-right: 0;
				width: 22px;
				min-width: 0;
				position: absolute;
				margin-top: 7px;
			}

			i {
				.s-calendar-black();
			}
		}
		
		.dispatch-date-text {
			margin-left: 275px;
			padding-bottom: 8px;
			font-size: 14px;
		}

	}
}
