.mod-lightbox-login-consent-form {

  .modal {

    @include font-size(14px);
    background: white;
    top: 10%;
    left: 50%;
    margin: 0;
    max-width: 760px;
    outline: none;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    max-height: 85%;
    overflow: scroll;

    .consent-form {
      margin: 0;
    }

    .section-form {
      border-top: 1px solid $border-dist-grey;
      border-bottom: 1px solid $border-dist-grey;
      padding: ($spacing-unit * 4);

      label {
        position: relative;
        display: block;
        padding-left: ($spacing-unit * 4);
        margin-bottom: ($spacing-unit);
      }

      input[type="checkbox"] + input + label:before {
        position: absolute;
        left: 0;
        top: 5px;
      }
    }

    .padded-content {
      padding: 20px;
    }

    .half-container {
      margin-bottom: $spacing-unit * 3;

      > div {
        float: left;
        width: 100%;

        @media #{$ipad} {
          width: 49%;
        }
      }

      > div + div {
        margin-top: $spacing-unit;

        @media #{$ipad} {
          margin-top: 0;
          margin-left: 2%;
        }
      }

      &::after {
        display: table;
        content: '';
        clear: both;
      }
    }

    .description-text {
      color: #595959;
    }

    a {
      text-decoration: underline;
    }

    h3,
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }

    h3 {
      @include font-size(20px);
      margin-bottom: $spacing-unit * 3;
    }

    h4 {
      @include font-size(14px);
    }

    p {
      margin-bottom: $spacing-unit * 2;
    }
  }

}
