<div *ngIf="data$ | async as data" class="col-md-12 welcome-mat-points">
  <div class="row welcome-mat-points__row" [id]="'welcome_mat_' + data.uid">
    <div class="col-2 col-md-4 welcome-mat-points__row__icon">
      <img
        [id]="'welcome_mat_img' + data.uid"
        [alt]="data.text"
        [src]="data.image?.url"
        loading="lazy"
        height="35"
        width="35"
      />
    </div>
    <div class="col-10 col-md-8 welcome-mat-points__row__text">
      <p [id]="'welcome_mat_text' + data.uid">{{ data.text }}</p>
    </div>
  </div>
</div>
