.mod-carpet-item {
	width: 320px;
	height: 320px;
	float: left;
	position: relative;

	&.fullsize{
		& > a {
			padding: 0; // there is no padding for fullsize teaser items
			line-height: 0;
			.bd{
				.item-image {
					max-height: 319px;
					max-width: 319px;
				}
			}
		}
	}

	& > a {
		color: inherit;
		display: table;
		padding: 20px 0 40px 0;  // Padding Bottom is slightly bigger to give the visual impression, that the image is slightly higher than vertical centered
		height: 100%;
		width: 100%;
	}

	.hd {
		position: absolute;
		left: 20px;
		top: 0;
		right: 20px;
		padding-top: 20px;
		.promo-label-wrap {
			float: right;
		}
	}

	.bd {
		display: table-cell;
		text-align: center;
		vertical-align: middle;

		.item-image {
			display: inline-block;
			max-width: 300px;
			max-height: 168px;
		}
	}

		// Toolsitems
		.ctrls {
			width: 30px;
			display: inline-block;
			position: absolute;
			z-index: 10;
			top: 20px;
			right: 20px;

			&.compensate-promo {
				top: 64px;
			}
		}

			.ico {
				visibility: hidden;
				&.active {
					visibility: visible;
				}
			}

			&:hover {
				.item-name {
					color: #AA1936;
				}
				.ico {
					visibility: visible;
				}
			}


	.ft {
		position: absolute;
		left: 20px;
		bottom: 0;
		right: 20px;
		padding-bottom: 20px;
	}

		.item-name {
			display: block; // overwrites display: inline-block from elipsis
							// needed so that item-name is on the same height as item-name of a teaser
							// which does not use ellipsis because it may be 2 lines
			margin-bottom: 0;
			color: @c-red;
			width: 100%;
			max-width: 100%;
			max-height: 36px;
			overflow: hidden;
			#typo > .size-m();
		}

		.promotion-text {
			display: block;
			#typo > .size-s();
		}

		.product-price,
		.subtext {
			display: block;
			#typo > .size-m();
			width: 100%;
			max-width: 100%;
			span {
				#typo > .size-xs();
			}
		}
}
