.skin-carpet-item-large {
	height: 640px;

	&.fullsize{
		& > a {
			padding: 0; // there is no padding for fullsize teaser items
			line-height: 0;
			.bd{
				.item-image {
					max-height: 639px;
					max-width: 319px;
				}
			}
		}
	}

	.bd{
		.item-image{
			max-width: 300px;
			max-height: 400px;
		}
	}
}
