@import 'global-utilities';

:host {
  content-visibility: auto;
  display: block;
  float: left;
  margin-bottom: ($spacing-unit * 2);
  width: 100%;

  .alternative {
    @include mobileOnly {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .header-title {
    @include font-size(24px);
    @include line-height(34px);
    border-top: ($spacing-unit - 3) solid $colour-black;
    color: $colour-dark-grey;
    font-weight: $font-weight-semiBold;
    letter-spacing: -0.6px;
    margin-bottom: ($spacing-unit * 4);
    padding-top: ($spacing-unit * 4);
  }

  ul {
    &.row {
      margin: 0 (-$spacing-unit * 2);
    }

    .card-list-item {
      padding: 0 ($spacing-unit * 2) ($spacing-unit * 3);

      &:nth-child(9),
      &:nth-child(10) {
        display: none;
      }
    }

    &.show-more {
      .card-list-item {
        &:nth-child(9),
        &:nth-child(10) {
          display: block;
        }
      }
    }
  }

  .mat-button {
    &--green {
      font-size: 13px !important;
      border-radius: 2px;
      display: block;
      margin: 0 auto;
      width: auto !important;

      @media #{$ipad-landscape} {
        width: 20%;
      }
    }
  }
}
