.mod-form-education-meets-experience {

	.base h3, h3.base {
		font-size: 32px;
		line-height: 35px;
	}

	.base ul {
		margin: 0;
	}

	.topspace {
		margin-top: 80px;
		margin-bottom: 40px;
	}

	.education-meets-experience-box{
		padding-bottom: 30px;
	}

	.row-button{
		margin-top: 30px;
	}

	.status{
		margin-bottom: 30px;
	}

	.btn-primary {
		width: 100%;
		height: auto;
		text-align: left;
		
	}
	
	.btn-select {
		min-height: 60px;
		text-align: center;
	}
	
	.btn-send {
		&:hover i,
		&:focus i {
			.s-arrow-right-red();
		}

		&:active i, &.active i {
			.s-arrow-right-red();
		}

		i {
			.s-arrow-right-white();
			margin-top: 3px;
			float: right;
		}
	}
	
	.award {
		float: left;
		width: 160px;
		margin-right: 40px;
		list-style: none;
		
		.content {
			text-align: center;
			
			.upload {
				color: #000;
				font-size: 22px;
				min-height: 50px;
			}
		}
	}
	
	.filename {
		text-align: center;	
		border: 1px solid #25d952;
		background-color: #f2fdf5;
		color: #00d835;
		padding: 10px;
		margin-top: 20px;
	}

	.errors {
		border: 1px solid @c-red;
		background-color: #fdf3f3;
		color: @c-red;
		padding: 10px;
		margin-top: 20px;
	}
	
	.radiocontainer {
		padding-left: 29px;
		padding-bottom: 50px;
	
		label {
			margin-left: -29px;
			
			&:last-child {
				line-height: normal;
				
				&:before {
					margin-top: 9px;
				}
			}
		}
	}
	
	.application-info {
		margin-top: 40px;
	}
}
