.mod-lightbox-share-invoice-query {


	p {
		line-height: 24px;
		width: 100%;
		word-wrap: break-word;
		small{
			margin-top: 10px;
		}
	}

	.base .field {
		width: 100%;
	}

	.modal {
		#obj > .modal;

		top: 5%; // Review: KR: As form a little tall

		.hd {
			margin-bottom: 10px; // Review: KR: As per style guide

		}
		.bd {
			margin-bottom: 0px;
		}
		.ft {
			margin-bottom: 20px;
			margin-top: 20px;
		}
	}
	.-left, .-right {
		height: 84px!important; // Review: KR: As per style guide
	}

	.-right {
		line-height: 0px; // Vertical alignment
	}

	.success-box {
		#obj > .successBox;
	}

	.error-box {
		#obj > .errorBox;
	}

 }
