@import 'global-utilities';

.learnMore-popup {
  top: 33%;

  @media #{$ipad-landscape} {
    left: 39%;
    width: 29%;
  }

  align-items: left;
  background-color: $colour-white;
  border-radius: 8px;
  border: 1px solid $colour-popup-border;
  box-shadow:
    0px 4px 6px -4px rgba(24, 39, 75, 0.12),
    0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: ($spacing-unit * 5) ($spacing-unit * 5) ($spacing-unit * 3);
  position: fixed;
  z-index: $zindex-modal;

  &__text {
    box-sizing: border-box;
    border-radius: 4px;
    padding: $spacing-unit * 3 0;
    text-align: left;

    &--title {
      @include font-size(20px);
      @include line-height(24px);
      font-weight: $font-weight-semiBold;
      letter-spacing: -0.01em;
      padding: $spacing-unit 0;
    }

    &--subtitle {
      @include font-size(14px);
      @include line-height(21px);
      font-weight: $font-weight-normal;
    }
  }

  &__close {
    margin: ($spacing-unit * 2) 0 auto;

    .btn {
      @include font-size(14px);
      @include line-height(14px);
      border: 1px solid $colour-popup-button-border;
      box-sizing: border-box;
      box-shadow: 0 0 0 0;
      border-radius: 2px;

      color: $colour-white;
      background-color: $colour-red;
      font-weight: $font-weight-semiBold;
      text-align: left;
      height: 40px;
      width: auto;

      &:hover {
        background-color: $colour-white;
        color: $colour-red;
      }
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: $zindex-modal-backdrop;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba($colour-black, 0.8);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */

  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
