<div class="overlay">
  <div class="learnMore-popup">
    <ng-container *ngIf="rohsCode === '99'">
      <div class="learnMore-popup__text--title" id="learnMorePopupTitle">
        {{ 'product.information.environmental.rohs_under_review' | cxTranslate }}
      </div>
      <div class="learnMore-popup__text">
        <div class="learnMore-popup__text--subtitle" id="learnMorePopupSubtitle">
          <p
            id="rohs.additionalInformation"
            [innerHTML]="'product.information.environmental.rohs_under_review_info' | cxTranslate"
          ></p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="rohsCode === '13'">
      <div class="learnMore-popup__text--title" id="learnMorePopupTitle">
        {{ 'product.information.environmental.rohs_not_compliant' | cxTranslate }}
      </div>
      <div class="learnMore-popup__text">
        <div class="learnMore-popup__text--subtitle" id="learnMorePopupSubtitle">
          <p
            id="rohs.notCompliantInformation"
            [innerHTML]="'product.information.environmental.rohs_not_compliant_info' | cxTranslate"
          ></p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="rohsCode === '11'">
      <div class="learnMore-popup__text--title" id="learnMorePopupTitle">
        {{ 'product.information.environmental.rohs_not_applicable' | cxTranslate }}
      </div>
      <div class="learnMore-popup__text">
        <div class="learnMore-popup__text--subtitle" id="learnMorePopupSubtitle">
          <p
            id="rohs.notApplicableInformation"
            [innerHTML]="'product.information.environmental.rohs_not_applicable_info' | cxTranslate"
          ></p>
        </div>
      </div>
    </ng-container>
    <div class="learnMore-popup__close">
      <button class="btn" id="learnMorePopupCloseBtn" (click)="onCloseButton()">
        {{ 'product.information.environmental.continue_shopping' | cxTranslate }}
      </button>
    </div>
  </div>
</div>
