.mod-product-title {
  float: left;
  width: 85%;


  h1 {
    @include font-size(22px);
    @include line-height(32px);
    color: $colour-dist-grey;
    font-weight: normal;
    letter-spacing: -.6px;
    text-align: left;
  }

}