.mod-lightbox-video {

	text-align: center;
    
    .modal {
        #obj > .modal;
        
		width: 960px !important;
		margin-left: -457px !important;
	    margin: auto;
	    background-color: #f6f6f6;
	    outline: none;
        

    }

}

