@import 'global-utilities';

$colour-bom-no-available-red: $colour-dark-red;
$colour-bom-no-available-grey: $colour-redesign-dark-black;

$bg-bom-no-available-header: $colour-pale-grey;

$border-bom-no-available-header: $colour-light-grey;
$bom-modal-border: #e2e2e2;

$bom-product-info-label: #a8a8a8;
$bom-product-info-value: #191919;

.card-item {
  &__items {
    border: 1px solid $bom-modal-border;
    border-radius: $spacing-unit - 3;
    float: left;
    margin: ($spacing-unit * 2) 0;
    padding: $spacing-unit * 3;
    width: 100%;

    &__image {
      float: left;
      width: auto;

      img {
        overflow: hidden;
      }
    }

    &__content {
      float: left;
      width: 100%;

      h3 {
        @include font-size(14px);
        font-weight: $font-weight-semiBold;
        margin-bottom: ($spacing-unit);
        margin-top: ($spacing-unit + 2);
        min-height: 40px;
      }

      &__stock {
        float: left;
        margin-bottom: ($spacing-unit);
        width: 100%;

        .instock {
          color: $colour-green;
        }
      }

      &__product-info {
        float: left;
        margin-bottom: ($spacing-unit);
        width: 100%;

        &__item {
          @include font-size(12px);
        }
      }

      &__price {
        float: left;
        margin-bottom: ($spacing-unit * 2);
        width: 100%;

        &__item {
          @include font-size(18px);
          font-weight: $font-weight-semiBold;

          &--small {
            @include font-size(11px);
            font-weight: $font-weight-semiBold;
          }
        }
      }
    }

    .downloadWrapper {
      display: inline-block;
      margin-top: ($spacing-unit - 3);
      font-weight: $font-weight-normal;

      span {
        @include font-size(13px);
        display: inline-block;
        font-weight: $font-weight-normal;
        width: auto;
      }

      .downloadLanguage {
        .comma-0 {
          display: none;
        }
      }
    }
  }
}
