@import 'global-utilities';

.product-card-group {
  .landscape {
    min-width: 100%;

    @include tabletPlus {
      min-width: 50%;
    }
  }

  &__item {
    padding: ($ux-spacing-unit * 4) 0;

    @include mobileOnly {
      flex-basis: 100%;
      padding: ($ux-spacing-unit * 5) 0;
    }

    @include tablet {
      min-width: 33%;
    }

    @include tabletPlus {
      min-width: 25%;
    }

    &.mw-50 {
      max-width: 50%;

      @include tabletPlusDown {
        max-width: 100%;
      }
    }
  }
}
