.mod-lightbox-rohs-additional-information {
  .modal {
    @include font-size(14px);
    background: white;
    top: 30%;
    left: 50%;
    margin: 0;
    max-width: 500px;
    padding: ($spacing-unit*5) ($spacing-unit*4);
    outline: none;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    max-height: 85%;

    h2 {
      margin: 0 0 ($spacing-unit*4);
    }

    p {
      margin-top: ($spacing-unit*2);
      word-break: break-word;
    }

    button {
      margin-top: ($spacing-unit*3);
      min-width: 100px;
    }

    a {
      color: $link-blue;

      &:hover {
        color: $link-dark-blue;
        text-decoration: underline;
        transition: .2s ease;
      }
    }
  }
}
