@import 'global-utilities';

:host {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: $colour-pale-grey;
}

.container-fluid {
  .border-bottom-gray {
    border-bottom: 1px solid #d2e1e5;
  }

  .border-top-gray {
    border-top: 1px solid #d2e1e5;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 249, 252);
  }

  .apply-filters {
    background-color: $colour-green;
    color: $colour-white;
  }

  .select {
    padding-block: ($spacing-unit * 3);

    span {
      line-height: 2rem;
    }

    .opacity {
      &-0 {
        opacity: 0;
      }

      &-100 {
        opacity: 1;
      }
    }
  }
}
.sort-list {
  height: 100%;
}
