@import 'global-utilities';

.list-header {
  @include typography-ui-sm();

  display: grid;
  grid-auto-columns: 120px 2fr 1fr 1fr;
  grid-auto-flow: column;
  grid-gap: 20px;
  margin: 20px 0;
  font-weight: $font-weight-semiBold;
  background-color: $colour-white;

  @include tabletPlusDown {
    grid-auto-columns: 92px 2fr 1fr 1fr;
    grid-gap: 8px;
  }

  @include mobilePlusDown {
    display: none;
  }
}
