.skin-scaled-prices-product-list-technical {
	border: 0;
	float: left;
	min-height: 0;
	padding-top: 10px;
	text-align: right;
	width: 100%;

	.lt-ie8 & {
		left: 102px;
		bottom: 23px;
	}

	// all other stylings are defined within the product module
	.list-attribs & {
		.table {
			.table-row{
				.table-cell{
					border-bottom: 1px solid transparent;
				}
			}
		}
		.table{
			.value{
				max-width: 80px !important;
			}
		}
	}

	.label {
		text-align: left;
		min-width: 40px;
		padding-right: 10px !important;

		.lt-ie9 & {
			min-width: 20px;
		}
	}

	.label,
	.value {
		color: @product-skin-technical-font-grey;
		font-size: 16px;
		font-weight: bold;
	}


}