@mod-scaled-prices_rowHeight: 25px;
@mod-scaled-prices_rowWidth: 480px;
@mod-scaled-prices_td2-3-width:100px;
@mod-scaled-prices_td1-4-width:(@mod-scaled-prices_rowWidth - @mod-scaled-prices_td2-3-width - @mod-scaled-prices_td2-3-width) / 2;
@mod-scaled-prices_headHeight: 28px;
@mod-scaled-prices_footerHeight: 39px;
@mod-scaled-prices_buttonHeight: 38px;
@mod-scaled-prices_spaceLeft: 15px;


.skin-scaled-prices-single {
	margin-bottom: -1px;
	min-height: 228px;
	clear: both;

	.row {
		border-bottom-width: 0;

		.td {
			#typo .size-c-c();
			font-size: 13px !important;
			line-height: @mod-scaled-prices_rowHeight - 1;
		}

		&.head {
			#border .border-std(0, 0, 1px, 0);

			.td {
				line-height: @mod-scaled-prices_headHeight;
			}

			&.overlay {
				background-color: @c-greyB;
			}

		}

		.nth1 {
			width: 70px;
		}

		.nth2 {
		   width: 114px;
		}

		.nth3 {
			width: 133px;
		}

		.savingsCell {
			margin-left: -19px;
		}

		&.expander {
			padding:0 0 0 @mod-scaled-prices_spaceLeft;
			#typo .size-x-c();
			position: absolute;
			bottom: 5px;

			a {
				color: #AA1936;
				display: block;

				&:hover {
					color: @c-red;

					i {
						.s-arrow-down-big-red();
						width: 12px;
						height: 8px;
					}

				}

			}

			i {
				.s-arrow-down-big-blue();
				margin-left: 8px;
			}

		}

	}

	.price-table-overlay {
		position: absolute;
		background-color: @c-greyB;
		z-index: 1;
		#border .border-std(0, 0, 1px, 0);
	}

	.footer {
		margin-left: 0 !important;
		position: relative;

		.btn {
			margin: 0 0 0 12px;
		}

	}

	.closer {
		position: absolute;
		right: 15px;
		bottom: 12px;
		#typo .size-x-c();

		a {
			color: @c-base;

			&:hover {
				color: #AA1936;

				i {
					.s-remove-blue();
				}

			}

		}

		i {
			.s-remove-black();
			margin-left: 8px;
		}

	}

	.list-price {
		color: grey;
		font-weight: bold;
		text-decoration:line-through;
	}

	.promotion-valid-until {
		position: absolute;
		top: 214px;
		width: 100%;
		font-size: 13px;
		text-align: right;
	}

}
