.skin-scaled-prices-product-list {
	height: auto;
	position: absolute;
	top: 35px;
	right: 0;
	border: none;
	width: 150px;

	// all other stylings are defined within the product module
	.list-attribs & {
		.table {
			.table-row{
				.table-cell{
					border-bottom: 1px solid transparent;
				}
			}
		}
		.table{
			.value{
				max-width: 80px !important;
			}
		}
	}

	.label {
		text-align: right;
		min-width: 40px;
		padding-right: 10px !important;

		.lt-ie9 & {
			min-width: 20px;
		}
	}


}