.compare-technical {
  border-bottom: 0;
  box-sizing: border-box;
  float: left;
  padding: ($spacing-unit * 2);
  width: 100%;

  @media #{$ipad-landscape} {
    border-top: 0;
    padding: 0;
  }

  @media print {
    border-top: 0;
    height: 100% !important;
    padding: 0;
  }

  .tableGrid {

    &__items {

      &__item {

        span {
          @include font-size(12px);

          @media #{$ipad} {
            @include font-size(14px);
          }

        }

      }

    }

  }

}