.skin-detail-accordion-content-technical-information-compare {

  .tableGrid {

    &__items {

      &__item {

        &__attr {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          @media print {
            display: block;
          }

        }

      }

      .constrain {
        @include line-height(16px);
        height: auto;
      }

      .item-single {
        float: left;
        width: 100%;
      }

      .item-multi {
        float: left;
        height: 33px;
        overflow-y: scroll;
        width: 100%;

        @media print {
          height: auto;
          overflow: hidden;
        }

        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;

          @media print {
            -webkit-appearance: unset;
          }

        }

        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0, 0, 0, .5);
          -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        .constrain {

          &--single {
            display: block;
          }

        }

      }

    }

  }

}