.skin-detail-tabs-content-technical-information-compare {
	#border .border-std(1px, 0, 0, 0);

	h3 {
		margin: 0;
		padding: 10px 20px;
		#typo > .size-m();

		&.border-top {
			padding-top: 20px;
		}
	}

	table.feature {
		border-collapse: separate;
		#border .border-std(1px, 0, 0, 0);
		padding-bottom: 6px;

		tr {
			td {
				border: none;
			}

			&:first-child {
				td {
					padding-top: 6px;
				}
			}

			.td1 {
				width: 40%;
			}
			.td2 {
				width: 60%;
			}
		}

		.constrain {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.notfound {
			display: block;
			padding: 0 0 10px 20px;
			#typo .size-s();
		}

		.feature {
			display: inline-block;
			padding-right: 10px;
			padding-left: 20px;
			width: 126px;
			#typo .size-s();
			font-weight: @font-base-bold;
		}

		.feature-value {// align horizontally with bulk prices
			display: inline-block;
			padding-right: 10px;
			width: 192px;
			#typo .size-s();
		}
	}

	.row {
		width: auto;
	}
	.row-hidden {
		display: none;
	}

	.show-more {
		padding: 12px 20px 12px;
		.show-more-link {
			.s-polygon-down-lightblue();

			&:hover {
				.s-polygon-down-blue();
			}

			display: block;
			padding: 0;
			width: 24px;
			height: 24px;
			#typo .size-s();
			line-height: 24px;
			background-repeat: no-repeat;

			span {
				padding: 0 34px;
				white-space: nowrap;
			}
		}
	}
}
