.mod-product-title {
  float: left;
  width: 100%;

  @media #{$ipad-landscape} {
    width: 85%;
  }

  h1 {
    @include font-size(22px);
    @include line-height(32px);
    color: $colour-dist-grey;
    font-weight: 500;
    letter-spacing: -.6px;
    text-align: center;

    @media #{$ipad-landscape} {
      @include font-size(28px);
      @include line-height(34px);
      text-align: left;
    }

  }

}