.mod-lightbox-shoppinglist {

  .modal {
    background: $bg-lightbox-modal;
    left: 50%;
    margin-left: 0;
    outline: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 320px;

    @media #{$ipad-landscape} {
      width: 480px;
    }

    .bd {

      .start-box {

        .form-row {

          input {
            width: 100%;
          }

        }

      }

    }

    .ft {

      .btn {
        width: 48%;
        margin-left: 1%;
        text-align: center;

        @media #{$ipad-landscape} {
          margin-left: ($spacing-unit * 3 + 1);
          width: 155px;
        }

      }

    }

  }

}
