$color-social-youtube:          #CD1F20;
$color-social-facebook:         #3A5898;
$color-social-googleplus:       #DD4A3A;
$color-social-linkedin:         #1686B0;
$color-social-twitter:          #1cb7eb
