@import 'global-utilities';

.category-description {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: ($spacing-unit * 4);
  font-weight: $font-weight-medium;

  &--expanded {
    flex-wrap: wrap;
  }

  &__description {
    @include typography-text-md();
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--expanded &__description {
    width: 100%;
    white-space: normal;
  }

  &__read-more {
    height: auto;
    margin-left: ($ux-spacing-unit * 4);
    padding: 0;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &--expanded &__read-more {
    margin-left: auto;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &__section-title {
    margin: ($spacing-unit * 4) 0;
    color: $colour-red;
  }
}
