@import 'global-utilities';

$bg-import-tool-matching-grey: $colour-pale-grey;
$bg-import-tool-matching-warning: rgba(223, 20, 23, 0.1);
$bg-import-tool-matching-btn-proceed: $colour-green;

$border-import-tool-matching-grey: $colour-light-grey;
$border-import-tool-matching-select: $colour-mid-grey;
$border-import-tool-matching-sep: $colour-mid-grey;

$colour-import-tool-background-green: #cef6ce;
$colour-import-tool-matching-green: $colour-dark-green;
$colour-import-tool-matching-grey: $colour-redesign-dark-black;
$colour-import-tool-matching-red: $colour-dark-red;

.matching-intro {
  @include font-size(15px);
  @include line-height(24px);
  margin: 0;
}

.warning-no-columns {
  @include font-size(14px);
  @include line-height(16px);

  margin-top: ($spacing-unit * 4);
  padding: ($spacing-unit * 5) ($spacing-unit * 4);
  border-radius: 2px;
  border: 2px solid $colour-red;
  background: $bg-import-tool-matching-warning;
  color: $colour-import-tool-matching-red;
  text-align: center;
}

.firstRowDataCheckBox {
  label {
    font-weight: $font-weight-normal;
  }
}

.matching-table {
  margin: ($spacing-unit * 4) 0 ($spacing-unit * 6);

  &__content {
    border: 2px solid $colour-mid-grey;
    border-radius: 5px;
    padding: ($spacing-unit * 3) ($spacing-unit * 3);

    .content-description {
      @include font-size(15px);
      @include line-height(24px);
      padding-bottom: ($spacing-unit * 2);
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-unit * 5;

    .btn-continue {
      @include font-size(15px);
      @include line-height(17px);
      background: $bg-import-tool-matching-btn-proceed;
      border: 1px solid $bg-import-tool-matching-btn-proceed;
      border-radius: 2px;
      color: $colour-white;
      font-weight: $font-weight-bold;
      height: 41px;
      margin-left: auto;
      min-width: 150px;
      text-align: center;
      width: auto;

      &:hover {
        background: $colour-white;
        border-color: $bg-import-tool-matching-btn-proceed;
        color: $bg-import-tool-matching-btn-proceed;
      }
    }
  }
}

.matching-table-main {
  max-height: 400px;
  overflow-x: auto;
}

.table-import-matching {
  border: 0;
  width: 100%;

  tr {
    border-bottom: 0;
    width: 100%;

    td:first-of-type {
      color: $colour-import-tool-matching-green;
      font-weight: $font-weight-bold;
    }

    &:nth-of-type(2) {
      td {
        border-top: 0;
      }
    }

    &.heading-row {
      td:first-of-type {
        color: $colour-import-tool-matching-grey;
        font-weight: $font-weight-normal;
      }
    }
  }

  th {
    border: 0;
    padding-right: ($spacing-unit * 2);

    &:last-of-type {
      padding-right: 0;
    }
  }

  td {
    @include font-size(15px);
    @include line-height(17px);
    border: 1px solid $border-import-tool-matching-sep;
    border-left: 0;
    border-right: 0;
    font-weight: $font-weight-normal;
    padding: ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit * 4);

    &:nth-of-type(3) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  td:empty,
  tr:empty {
    display: none;
  }
}

.first-row {
  border: 0;

  th {
    padding-bottom: ($spacing-unit);
    padding-top: ($spacing-unit * 4);
    position: relative;
    text-align: left;

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $colour-black;
      content: '';
      display: inline-block;
      height: 0;
      pointer-events: none;
      position: absolute;
      right: 25px;
      top: 35px;
      width: 0;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        content: none;
      }
    }
  }

  select {
    appearance: none;
    background: $colour-white;
    border: 1px solid $border-import-tool-matching-select;
    border-radius: 2px;
    height: 40px;
    padding: 0 0 0 ($spacing-unit * 4);
    width: 300px;

    @media #{$ipad} {
      width: 100%;
    }
  }
}

.colorSelectedColumn {
  background-color: $colour-import-tool-background-green;
}
