$color-category-thumps-grey   : #e4e4e4;
$color-category-light-grey    : #f2f2f2;
$color-category-dark-grey     : #363636;
$color-category-thumps-grey2  : #4a4a4a;
$color-category-thumps-shadow : rgba(0, 0, 0, 0.15);