.mod-productlist-tools {

  @media print {
    display: none;
  }

  .tools-bar {

    &__compare-list {
      display: none;
      margin-bottom: ($spacing-unit * 3);
      margin-top: ($spacing-unit * 3);

      li {
        line-height: normal;

        a {
          @include font-size(13px);
          color: $colour-compare-blue;

          i {
            background: none;
            height: auto;
            width: auto;

            &:after {
              @include font-size(16px);
              color: $colour-compare-blue;
              content: '\f02f';
              display: block;
              font-family: FontAwesome;
              padding-right: ($spacing-unit);
            }

          }

          &:hover, &:active, &:focus {

            i {
              background: none;
              height: auto;
              width: auto;
            }

          }

        }

      }

      @media #{$ipad-landscape} {
        display: block;
      }

    }

  }

}