.mod-product-tools {

  .mod-toolsitem {
    height:  auto;
    line-height: normal;
    margin: 0 ($spacing-unit - 2) 0 0;

    .ico {
      visibility: visible;
    }

  }

  .tabular{
    margin: 0 ($spacing-unit * 2 - 1) 0 0;
  }

  @media print {
    display: none;
  }

}
