$colour-back-order-alternative-items-border-grey: #d8d8d8;
$colour-back-order-green: #75c653;
$colour-back-order-btn: #eee;
$colour-back-order-qty-border: #aaa;
$colour-back-order-modal-informtion: #a8a8a8;
$colour-back-order-modal-downloads-border: #e2e2e2;
$colour-backorder-modal-illustrative: #ccc;
$backorder-modal-odd-grey: #f7f9fc;
$backorder-alertnative-item-grey: #d5d5d5;
