.mod-article-numbers {
  float: left;
  text-align: left;
  width: 100%;

  @media #{$ipad-landscape} {
    text-align: left;
    width: 85%;
  }

  .article-tooltip {
    background-color: $colour-dist-grey;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    display: none;
    left: -80px;
    position: absolute;
    top: -50px;
    width: 200px;
    z-index: 910;

    &__content {
      padding: ($spacing-unit * 2);
      position: relative;
      text-align: center;

      &:after {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 10px solid $colour-dist-grey;
        bottom: -10px;
        content: "";
        left: 40%;
        position: absolute;
      }
    }

    p {
      @include font-size(13px);
      @include line-height(18px);
      color: $colour-white;
    }

    &.active {
      display: block;
    }
  }

  .elem {
    display: inline-block;
    padding-left: ($spacing-unit * 4);
    position: relative;

    &__holder {
      display: inline-block;
      position: relative;
    }

    &--first {
      padding-left: 0;
    }

    &__alias-item {
      display: inline-block;
    }

    i,
    svg {
      color: $link-blue;
      margin-right: ($spacing-unit + 1);
      vertical-align: text-top;

      &:hover {
        color: $link-dark-blue;
      }
    }

    a {
      &.brand {
        @include font-size(14px);
        @include line-height(15px);
        color: $link-blue;
        padding-top: 2px;
        border-bottom: solid 2px transparent;
        display: inline-block;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        vertical-align: middle;

        &:hover {
          color: $link-dark-blue;
          border-color: $link-dark-blue;
        }
      }
    }

    span {
      @include font-size(14px);
      @include line-height(15px);
      color: $colour-mid-grey;
      display: inline-block;
      vertical-align: middle;

      &.copy-button,
      &.copy-button-1 {
        cursor: pointer;
      }

      &.brand {
        color: $link-blue;
      }

      &.a12 {
        font-weight: bold;
      }
    }
  }
}

.isie7 {

  .mod-article-numbers {

    .elem {
      float: left;
    }

  }

}