<div class="control-bar">
  <label class="control-bar__select-all">
    <input
      id="bom_review_controlbar_select_all"
      [checked]="areAllSelected$ | async"
      (change)="onSelectAllChange($event)"
      type="checkbox"
    />
    <span class="control-bar__select-all-label" id="bom_review_controlbar_select_all_label">
      {{ 'shoppingList.shoppinglist_products_selectall' | cxTranslate }}
    </span>
  </label>

  <div class="control-bar__onoffswitch" data-aainteraction="change view type">
    <input
      class="control-bar__onoffswitch-checkbox"
      id="myonoffswitch"
      [checked]="isDetailedView$ | async"
      (change)="onDetailViewChange($event)"
      type="checkbox"
      name="onoffswitch"
      data-aainteraction="change view type"
    />

    <span class="control-bar__onoffswitch-text" id="bom_review_controlbar_compact_view_label">
      {{ 'text.compact.view' | cxTranslate }}
    </span>
    <label class="control-bar__onoffswitch-label" for="myonoffswitch">
      <span
        class="control-bar__onoffswitch-switch"
        id="bom_review_controlbar_view_type_switch"
        [class.showdetailview]="isDetailedView$ | async"
      ></span>
    </label>
    <span class="control-bar__onoffswitch-text" id="bom_review_controlbar_detailed_view_label">
      {{ 'text.detailed.view' | cxTranslate }}
    </span>
  </div>
</div>
