@import 'global-utilities';

$border-product-bom-reference: $colour-mid-grey;
$colour-product-bom-reference: $colour-mid-grey;
$colour-product-bom-text: $colour-redesign-dark-black;
$colour-shoppinglist-border: $border-dist-grey;
$colour-shoppinglist-data-label: #ababab;
$colour-shoppinglist-data-value: #191919;
$colour-shoppinglist-item-border: $colour-light-grey;
$bom-product-info-label: #a8a8a8;
$bom-product-info-value: #191919;
$bom-product--mid-black: #474747;
$colour-product-tile-quick-view: #ebecef;
$colour-quick-view-border: #c4c;

.control-bar {
  display: flex;
  align-items: center;
  min-height: 52px;
  margin-top: $spacing-unit * 3;
  border-top: 1px solid $colour-light-grey;
  border-bottom: 1px solid $colour-light-grey;

  &__select-all {
    display: inline-block;
    margin-bottom: 0;
  }

  &__select-all-label {
    margin-left: $spacing-unit;
  }

  &__onoffswitch {
    @include font-size(12px);
    align-items: center;
    color: $bom-product--mid-black;
    display: flex;
    line-height: 30px;
    margin-left: auto;
    padding-right: ($spacing-unit * 2);
    position: relative;
    user-select: none;
  }

  &__onoffswitch-checkbox {
    display: none;
  }

  &__onoffswitch-text {
    display: inline-block;
    margin: 0 ($spacing-unit * 2);
    vertical-align: text-bottom;
  }

  &__onoffswitch-label {
    background-color: $colour-green;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 ($spacing-unit * 2);
    position: relative;
    width: 55px;

    &:before {
      background: none !important;
    }
  }

  &__onoffswitch-switch {
    @include transition(all 0.3s ease-in 0s);
    background-color: $colour-white;
    border: 1px solid $colour-light-grey;
    border-radius: 50%;
    bottom: 0;
    display: block;
    margin: $spacing-unit - 2;
    position: absolute;
    top: 0;
    width: 25px;

    &.showdetailview {
      right: 0;
    }
  }
}
