@import 'global-utilities';

:host {
  display: block;
}

app-pagination-label {
  display: block;
  margin-right: $ux-spacing-unit * 3;

  @include tabletDown {
    display: none;
  }
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  padding-left: ($ux-spacing-unit * 3);

  @include mobileOnly {
    padding-left: 0;
    padding-right: 0;
  }

  &--list {
    align-items: center;
    display: flex;
    gap: $ux-spacing-unit;

    &--item {
      align-items: center;
      border-radius: $ux-spacing-unit;
      cursor: default;
      display: flex;
      height: 32px;
      justify-content: center;
      -webkit-user-select: none;
      user-select: none;
      width: 32px;
      margin: 0;

      button {
        all: unset;
        align-items: center;
        display: flex;
        font-weight: $font-weight-medium;
        height: 100%;
        justify-content: center;
        margin: 1px 0 0 1px;
        width: 100%;
        @include typography-ui-sm;
      }

      &.arrow {
        background-color: $ux-hover-state;
      }

      &.page:not(.isHovered:hover) {
        background-color: $colour-white;
        border: 1px solid $ux-outline;
      }
    }
  }
}

.bottom-pagination {
  padding-right: 0;
}

.isHovered {
  cursor: pointer;

  &:hover {
    background-color: $ux-green;
    color: $colour-white;
  }
}

.isSelected {
  background-color: $ux-text-default !important;
  border: unset !important;
  color: $colour-white;
  cursor: default;
}

.icon {
  //app icon can't change color without this
  background-color: unset;
}
