.mod-order-overview-box {
	margin-bottom: 20px;

	.btn-back {
		text-align: right;
		min-width: 100px;

		i {
			.s-arrow-left-black();
			margin-top: 4px;
			float: left;
		}

		&:hover i {
			.s-arrow-left-blue();
		}
	}

	.data-list {
		#typo > .size-s();

		.row {
			#border .border-std(0, 0, 1px, 0);

			.title {
				#border .border-std(0, 0, 1px, 0);
				padding-left: 15px;
				margin-bottom: 0;
				padding-bottom: 5px;
			}
		}
		// Default: 4 cols
		.entry {
			width: 25%;
			float: left;
			padding: 10px 5px 10px 2px;
			word-wrap: break-word;

			&:first-child {
				padding-left: 15px;
			}

			// reset
			dl, dd {margin: 0;}

			.label {
				font-weight: bold;
			}
			.value + .label {
				margin-top: 10px;
			}

			.value.nok i {
				.s-no();
			}
			.value.ok i {
				.s-yes();
			}
			.value.neg {
				color: @c-red;
			}
		}
		
		.entry_admin {
			width: 20%;
			float: left;
			padding: 10px 5px 10px 2px;
			word-wrap: break-word;

			&:first-child {
				padding-left: 15px;
			}

			// reset
			dl, dd {margin: 0;}

			.label {
				font-weight: bold;
			}
			.value + .label {
				margin-top: 10px;
			}

			.value.nok i {
				.s-no();
			}
			.value.ok i {
				.s-yes();
			}
			.value.neg {
				color: @c-red;
			}
				
			.status-02 {
				color: @c-green;
			}
			.status-04 {
				color: @c-red;
			}
			.status-20 { // Available for re-ordering
				color: @c-green;
			}
			
			
		}
		
		.quotes-overview .entry_admin{
			width: 18%;
		    padding: 10px 0px 10px 15px;
		}
		
		.quotes-overview .button-cart{
			width: 8%;
		    padding: 15px 4px 16px 33px;
		}		
		
		.ico-cart {
			i {
				.s-polygon-cart-red();
				display: inline-block;
   	 			cursor: pointer;
			}
	
			&:hover i,
			&:focus i {
				.s-polygon-cart-white();
			}
	
			&:active i, &.active i {
				.s-polygon-cart-white(); // regarding to DISTRELEC-4483, active cart-icon should be white
			}
	
			&[disabled], &.disabled {
				i {
					.s-polygon-cart-red();
				}
			}
			&:disabled {// keep this selector separate (unsupported pseudo class ie8)
				i {
					.s-polygon-cart-red();
				}
			}
		}
	}
}
