.skin-cart-list-order-detail {
	.cell-numeric {
		text-align: center;
	}
	
	.cell-date {
		text-align: right;
	}
	
	.leadTimeFlyout{
	    margin-left: -339px !important;
	    top: -31px !important;	
	}
}

.select-all-checkbox-label{
	font-size:14px; 
}