.skin-cart-list-return-items {
	.cell-numeric {
		text-align: center;
	}
}

.select-all-label{
	font-size:14px; 
}

.return-items-buttons{
	margin-top: 16px;

}

.return-items-buttons-confirmation{
	float: right;
	text-align: right;
}

.btn-return-items{
	width: 250px;
	float: right;
}



.cart-list-item{
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.error-field{
	border: 1px solid red;
}
	
	
.error-message{
	font-size: 13px;
	color: red;
	text-align: right;
}

.border-bottom-grey{
	border-bottom: 1px solid #ccc;
	width: 959px;
}

.buttonCancel{
	width: 130px;
}