@mod-cart-list-header-height: 51px;

.mod-cart-list {

	.load-complete {
		display: block;
	}
	.load-in-process {
		display: none;
	}

	.loading {
		.load-complete {
			display: none;
		}
		.load-in-process {
			display: block;
		}
	}

	#mod-cart-list > .header();

	@media print {

		border-bottom: 1px solid @c-border;
	}

	.complete-delivery-box {

		.form-box, .box {
			position: relative;
			overflow: hidden;
			padding-top: 17px;
			padding-bottom: 7px;
			#border .border-std(0, 0, 1px, 0);
		}
		.head {
			#typo > .section-title();
			border-top: 0;
		}
		.label-box{
			padding-left: 17px;
		}

		label, input{
			#typo > .size-x-c();
		}

	}

	.ajax-action-overlay {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 1200;

		.background-overlay {
			background: #AA1936F;
			opacity: 0.5;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			.lt-ie9 & {
				filter: alpha(opacity=50);        // IE6, IE7
				-ms-filter: "alpha(opacity=50)"; // IE8
			}
		}
		.loading-cart {
			background-color: @c-white;
			padding: 20px;
			min-width: 200px;
			text-align: center;
			position: absolute;
			top: 40%;
			left: 50%;
			margin-left: -100px;
			border-radius: 32px;
			font-size: 20px;
			i {
				background-image: url("@{path-imgs}/throbber_small_grey_white_matte.gif");
				background-position:0 0;
				width:24px;
				height:24px;
				margin-right: @spc-h;
				margin-top: -3px;
			}
		}
	}
}

#mod-cart-list {

	.header() {

		.cart-list-header {

			.cell {
				height: @mod-cart-list-header-height;
				padding: 24px 0 0 0 !important;

				.lt-ie8 & {
					height: @mod-cart-list-header-height - 24px;
				}

			}

			.cell-availability {

				p {
					text-align: right;
				}

			}

			p {
				display: block;
				width: 100%;
				text-align: center;
				#typo > .size-x-c() !important;
			}

			.cell-price {
				border-left-color: transparent !important;
				&.two-prices{
					padding-top: 4px !important;
				}
			}

			.price-cell {
				&.price-light{
					color: @c-lightgray;
					padding-top: 2px;
				}
				p {
					text-align: right;
					padding-right: 17px;
				}
			}
		}

	}

	.head {

	}
}

.dangerous-goods-warning, .catalog-quantity-error {
	font-size: 14px;
	border: 1px solid rgb(234, 147, 62);
	background-color: rgba(253, 252, 109, 0.14);
	padding: 10px;

	&.hi-viz {
		background-color: @c-red;
		color: @c-white;
		border-color: @c-red;
	}

	ul li{
		margin-left:5px;
		padding: 5px;
	}
}
