.mod-cart-directorder {

  &__main {
    float: left;
    width: 100%;

    .holder {
      display: flex;
      justify-content: space-between;
      position: relative;

      &__input {
        @include font-size(14px);
        border: 1px solid $cart-directorder-border-grey;
        border-radius: 2px;
        display: unset;
        height: 37px;
        padding: 0 0 0 ($spacing-unit * 3);
        width: 100%;

        &:focus {
          background-color: transparent;
          border-width: 1px;
        }

        @include placeholder {
          @include font-size(12px);
        }

      }

      &__numeric {
        border: 1px solid $cart-directorder-border-grey;
        border-radius: 2px;
        display: unset;
        flex-shrink: 0;
        float: none;
        margin: 0 0 0 ($spacing-unit * 3);
        max-width: 105px;
        width: 100%;

        .btn-wrapper {

          &__btn,
          &__input {
            display: inline-block;
            float: left;
            left: auto;
            margin: 0;
            position: relative;
            right: auto;
            top: auto;
            width: 33.33%;
          }

          &__btn {
            @include line-height(35px);
            background: $cart-directorder-bg-grey;
            height: auto;
            text-align: center;
          }

          &__input {
            border-bottom: 0;
            border-top: 0;
            height: 35px;
            padding: 0;
          }

        }

      }

      .btn-add-product {
        @include font-size(13px);
        @include line-height(26px);
        color: $colour-white;
        display: unset;
        flex-shrink: 0;
        margin-left: ($spacing-unit * 3);
        min-width: 121px;
        width: auto;
      }

      &__relative {
        flex-grow: 1;
        max-width: 582px;
        position: relative;
        width: 100%;

        .direct-prods {
          background: $colour-white;
          border: 1px solid $cart-directorder-border-grey;
          display: none;
          left: 0;
          position: absolute;
          top: 35px;
          width: 100%;
          z-index: 10;

          .direct-prod {
            border-bottom: 1px solid $cart-directorder-border-grey;
            display: flex;
            float: left;
            justify-content: space-between;
            padding: ($spacing-unit * 3);
            width: 100%;

            &:last-of-type {
              border-bottom: 0;
            }

            &__content {
              flex-grow: 1;
              max-width: 384px;
              width: 100%;

              .direct-prod-image {
                display: block;
                float: left;
                height: 51px;
                width: 57px;

                img {
                  display: inline-block;
                  height: 51px;
                  max-width: 100%;
                }

              }

              .direct-prod-info {
                display: inline-block;
                float: none;
                height: auto;
                margin-left: ($spacing-unit * 3);
                width: 81%;

                h3 {
                  @include font-size(14px);
                  @include line-height(18px);
                  color: $colour-black;
                  margin: 0;
                  width: 100%;
                }

              }

              .direct-prod-art {
                float: left;
                margin-left: ($spacing-unit * 3);

                p {
                  @include font-size(12px);
                  @include line-height(24px);
                  color: $colour-black;
                  margin: 0;
                }

              }

              .direct-prod-price {
                @include font-size(12px);
                @include line-height(24px);
                float: right;
                height: auto;
                padding: 0 0 0 ($spacing-unit * 2);
                width: auto;
              }

              .direct-prod-currency {
                float: right;
                height: auto;
                margin: 0;
                padding: 0;

                p,
                sub {
                  @include font-size(12px);
                  display: inline-block;
                  margin-bottom: 0;
                  padding: 0;
                  top: 0;
                }

                sub {
                  padding-left: ($spacing-unit * 3);
                }

              }

            }

            &__btn {
              flex-shrink: 0;
              min-width: 72px;

              span {
                @include font-size(12px);
              }

            }

          }

        }

      }

    }

  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

}

.isie7,
.isie8,
.ie9 {
  
  .mod-cart-directorder {

    &__main {

      .holder {
        float: left;
        padding: ($spacing-unit * 2) 0;
        width: 100%;

        &__input {
          @include line-height(33px);
        }

        &__relative {
          float: left;
          margin-left: ($spacing-unit * 3);
          margin-right: ($spacing-unit * 7);
          max-width: none;
          width: 55%;
        }

        &__numeric {
          float: left;
          margin: 0;
          width: 105px;

          .btn-wrapper {

            &__input {
              @include line-height(35px);
            }

          }

        }

        .btn-add-product {
          float: right;
          margin-left: ($spacing-unit * 3);
          margin-right: ($spacing-unit * 3);
          width: 20%;
        }

      }

    }

  }

}

.isie7 {

  .mod-cart-directorder {

    &__main {

      .holder {

        &__input {
          height: 34px;
          padding: 0;
        }

        &__relative {
          float: left;
          margin-left: ($spacing-unit * 3);
          margin-right: ($spacing-unit * 7);
          max-width: none;
          width: 55%;
        }

        &__numeric {
          float: left;
          margin: 0;
          width: 105px;

          .btn-wrapper {

            &__btn {
              @include line-height(30px);
              width: 32%;
            }

            &__input {
              @include line-height(35px);
            }

          }

        }

      }

    }

  }

}
