@import 'global-utilities';

:host {
  width: 100%;

  .register {
    &__form {
      &__holder {
        &-btn {
          width: 30%;

          .btn {
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }

  .message-error {
    border: 1px solid red;
    background-color: #fdf3f3;
    margin: ($spacing-unit * 2) 0;
    color: red;
    width: 100%;

    .text {
      color: red;
    }

    .ng-fa-icon {
      right: auto;
      left: $spacing-unit * 2;
      @include font-size(20px);
    }
  }

  .message-success {
    border: 1px solid $colour-green;
    color: $colour-green;
    background-color: #f7fcf5;

    .text {
      @include line-height(24px);
      color: #417a29;
      font-weight: $font-weight-medium;
    }

    .p-relative {
      display: flex;
    }

    .ng-fa-icon {
      position: inherit;
      margin-right: 10px;
      top: auto;
      left: 0px;
      width: 25px;
      height: 25px;
      @include font-size(30px);
    }
  }

  .message-error,
  .message-success {
    float: left;
    padding: ($spacing-unit * 2);

    .inner {
      overflow: visible;

      .p-relative {
        text-align: center;

        .text {
          width: 90%;
          float: right;
          text-align: left;
          @include font-size(14px);
          @include line-height(21px);
          padding-left: ($spacing-unit * 2);
          margin-bottom: 0;

          a {
            color: $colour-link;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
