@font-face {
  font-family: "Myriad Pro";
  src: url($path-fonts + 'myriadpro-regular.otf') format('opentype');
  src: url($path-fonts + 'myriadpro-regular.ttf') format('truetype');
  src: url($path-fonts + 'myriadpro-regular.eot') format('eot');
  src: url($path-fonts + 'myriadpro-regular.woff') format('woff');
  src: url($path-fonts + 'myriadpro-regular.woff2') format('woff2');
}

@font-face {
  font-family: "Myriad Pro Semi";
  src: url($path-fonts + 'myriadpro-semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url($path-fonts + 'Montserrat-Bold.eot');
  src: url($path-fonts + 'Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  src: url($path-fonts + 'Montserrat-Bold.ttf') format('truetype'),
  url($path-fonts + 'Montserrat-Bold.woff2') format('woff2'),
  url($path-fonts + 'Montserrat-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url($path-fonts + 'Montserrat-Regular.eot');
  src: url($path-fonts + 'Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  src: url($path-fonts + 'Montserrat-Regular.ttf') format('truetype'),
  url($path-fonts + 'Montserrat-Regular.woff2') format('woff2'),
  url($path-fonts + 'Montserrat-Regular.woff') format('woff');
  font-weight: normal;

}

@font-face {
  font-family: 'Montserrat';
  src: url($path-fonts + 'Montserrat-Medium.eot');
  src: url($path-fonts + 'Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  src: url($path-fonts + 'Montserrat-Medium.ttf') format('truetype'),
  url($path-fonts + 'Montserrat-Medium.woff2') format('woff2'),
  url($path-fonts + 'Montserrat-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "Roboto Regular";
  src: url($path-fonts + 'Roboto-Regular.ttf') format('truetype');
}
