.octagon {
  height: 27px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 27px;

  &__inner {
    background: transparent;
    border: 2px solid $border-icon-octagon;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0.1s;
    top: 0;

    &:before {
      border: inherit;
      bottom: -2px;
      content: '';
      left: -2px;
      position: absolute;
      right: -2px;
      top: -2px;
      transform: rotate(45deg);
    }

    i,
    svg {
      @include font-size(14px);
      @include line-height(24px);
      color: $colour-white;
      float: none;
      margin: 0;
      transform: rotate(45deg);
    }

    &:hover {
      background: $colour-dist-carmine;
      border-color: $colour-dist-carmine;
    }

  }

}

.img-fluid {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
