input {

  &.border-red {
    border-color: $colour-dist-red;
  }

}

.mat-checkbox {
  background: $colour-white;
  border: 1px solid $colour-light-grey;
  display: inline-block;
  height: 13px;
  margin-right: $spacing-unit;
  position: relative;
  width: 13px;

  &:after {
    bottom: 1px;
    border: solid $checkbox-tick-grey;
    border-width: 0 3px 3px 0;
    content: "";
    display: none;
    height: 10px;
    left: 3px;
    position: absolute;
    transform: rotate(45deg);
    width: 5px;

  }

}

.active {

  .mat-checkbox {

    &:after {
      display: inline-block;
    }

  }

}
