$color-category-thumps-grey       : #e4e4e4;
$color-category-dark-grey         : #363636;
$color-category-light-grey        : #f2f2f2;
$checkbox-tick-grey               : #797979;
$colour-forgot-pw-body            : #efefef;
$colour-forgot-pw-box-shadow      : #c8c8c8;
$colour-backorder                 : #f7f9fc;
$colour-ui-datepicker-close       : #333;
$colour-cms-home-categories       : #cecece;
$colour-home-user-bg              : #656666;
$colour-home-user                 : #ebeff6;
$colour-home-border-icon          : #cdcfd3;
$colour-home-welcome-mat-text     : #5b5b5c;
$colour-account-quotes-blue       : #005E80;
$colour-account-quotes-blue-hover : #00435C;
$colour-category-border           : #f7f9fc;
$colour-pfp-links                 : #005E80;
$colour-pfp-hover-links           : #00435C;
