@import 'global-utilities';

.account-information-wrapper {
  h2 {
    @include font-size(28px);
    @include line-height(32px);
    color: $colour-red;
    font-weight: $font-weight-bold;
    margin-bottom: 72px;
    margin-top: 72px;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    width: 100%;
  }

  a {
    color: $colour-red;

    &:hover {
      color: $colour-red;
      text-decoration: none;
    }
  }
}
