<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10">
      <app-my-account-breadcrumb></app-my-account-breadcrumb>
    </div>
  </div>
  <div class="row">
    <div class="account-information-wrapper">
      <div class="row mt-4 mb-4">
        <div class="col-sm-12 col-lg-12 col-md-12 text-center">
          <h2
            id="accountInformation-regret-message"
            [innerHtml]="'system.error.page.myaccount.accessDenied' | cxTranslate: { '0': '/cms/support' }"
          ></h2>
        </div>
      </div>
    </div>
  </div>
</div>
