@import 'global-utilities';

.ui-list-link {
  @include font-size(16px);
  @include line-height(17px);
  display: block;
  color: $colour-dist-mid-grey;
  font-weight: $font-weight-medium;
  line-height: 2rem;
  margin-left: ($spacing-unit + 30);
  text-decoration: none;

  &:hover {
    color: $colour-dist-mid-grey;
  }
}

.active {
  color: $colour-red !important;
}

.accordion {
  margin-top: ($spacing-unit + 117);

  @media print {
    display: none;
  }
}

.card {
  border: none;
  border-bottom: solid 1px $border-dist-grey;
  border-top: solid 1px $border-dist-grey;
  line-height: 1rem;
  border-radius: 0;
}

.card-header {
  background-color: $colour-white;
  padding: 0.25rem 0.25rem;
  border: none;
}

.card-body {
  background-color: $colour-strong-light-grey;
  padding: 0rem;
  padding-bottom: 1rem;
}

.menu-header-bg-light-grey {
  background-color: $colour-strong-light-grey;
}

.menu-header-bg-white {
  background-color: $colour-white;
}

.btn-link {
  color: $colour-black;
  text-decoration: none;
  font-weight: $font-weight-medium;
  text-align: left;
}

button:focus {
  box-shadow: none;
}
