.mod-compare-list-attributes {
  border-bottom: 0;
  border-top: 0;
  display: block;

  @media #{$ipad-landscape} {
    -moz-box-shadow: 0 ($spacing-unit - 2) ($spacing-unit + 2) $colour-attribute-box-shadow;
    -webkit-box-shadow: 0 ($spacing-unit - 2) ($spacing-unit + 2) $colour-attribute-box-shadow;
    box-shadow: 0 ($spacing-unit - 2) ($spacing-unit + 2) $colour-attribute-box-shadow;
    float: left;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  h3 {
    padding: 0;
  }

  .attribute-title {
    display: none;
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      display: inline-block;
    }

    li {
      @include font-size(16px);
      background: $colour-attribute-title;
      border-top: 0;
      box-sizing: border-box;
      float: left;
      padding: ($spacing-unit * 2 + 2) ($spacing-unit * 3);
      top: -1px;
      width: 100%;
    }

  }

  .tableGrid {

    &__feature {
      box-sizing: border-box;
      float: left;
      position: relative;
      top: -1px;
      width: 100%;

      @media print {
        top: 0;
      }

      &__items {

        &__item {
          @include font-size(14px);
          border-bottom: 1px solid $colour-attribute-title;
          min-height: 55px;

          @media print {
            height: 105px;
            overflow: hidden;
          }

          span {
            @include font-size(12px);
            box-sizing: border-box;
            float: left;
            line-height: 22px;
            padding-left: ($spacing-unit * 3);
            padding-right: ($spacing-unit * 3);
            padding-top: ($spacing-unit * 3);
            width: 100%;

            @media print {
              @include line-height(14px);
            }

            @media #{$ipad} {
              @include font-size(14px);
            }

            @media #{$desktop} {
              @include line-height(14px);
            }

          }

          &:last-child {
            border-bottom: 0;
          }

          @media print {

            &:last-child {
              border-bottom: 1px solid $colour-attribute-title;
            }

          }

        }

      }

    }

  }

}