.skin-checkout-address-section-pickup {
  background-color: transparent;
  box-shadow: none;
  margin-top: $spacing-unit * 4;
  padding: 0;

  .box-address {
    padding: 0;
  }

  .mobile-number {
    margin: ($spacing-unit * 4) 0;

    input {
      border-radius: $spacing-unit;
      margin-bottom: $spacing-unit * 4;
      width: 100%;
    }

    &__info  {
      @include font-size(12px);
      color: $colour-mid-grey;
      margin-bottom: $spacing-unit * 2;
      margin-top: $spacing-unit * 2;

      svg,
      i {
        margin-right: $spacing-unit * 2;
      }

      &--ok {
        color: $colour-dist-green;
        clear: both;
        padding-top: $spacing-unit * 4;
        text-align: center;
      }

      &--error,
      &--warning {
        color: $colour-dist-red;
        clear: both;
        padding-top: $spacing-unit * 4;
        text-align: center;
      }

    }

    .mat-button {
      color: $colour-white;
      float: right;
      width: 50%;
    }

  }

}
