.mod-checkout-address-section {
  background-color: $colour-white;
  box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) rgba(0, 0, 0, .15);
  padding: $spacing-unit * 6;

  .billing {

    &__title {
      text-align: center;

      h2 {
        @include font-size(30px);
        @include line-height(38px);
        color: $colour-black;
        margin-bottom: $spacing-unit * 3;

        @media #{$ipad-landscape} {
          @include font-size(32px);
        }

      }

      p {
        @include font-size(16px);
        font-weight: 600;
        margin-bottom: $spacing-unit * 10;
      }


    }

  }

}
