.skin-checkout-address-section-billing-multiple {

  .title {
    margin-bottom: $spacing-unit * 4;

    h1 {
      @include font-size(24px);
      @include line-height(28px);
      border-bottom: 1px solid $colour-mid-grey;
      color: $colour-dark-grey;
      margin-bottom: $spacing-unit * 2;
      padding-bottom: $spacing-unit * 2;
    }

  }

  .billing-multiple-section {

    .box-address {

      &__input {
        display: none;
      }

      &__preview {
        flex: 0 0 100%;
        max-width: 100%;
      }

    }

  }

  .box-address {
    border-bottom: 1px solid $colour-light-grey;
    padding: ($spacing-unit * 2);

    &__preview {
      padding-bottom: $spacing-unit * 6;
    }

    &__edit {

      &--main {
        border-bottom: 1px solid $colour-light-grey;
        padding-bottom: ($spacing-unit * 5 - 1);
        padding-top: ($spacing-unit * 5 - 1);
      }

      &__list {


        &__item {
          @include font-size(14px);
          font-family: $font-stack-alt;

          label {
            @include font-size(14px);
            font-family: $font-stack-alt;
          }

          input {
            padding-top: $spacing-unit - 2;
          }

        }

      }

    }

    &__input {

      .radio-big {
        top: 30px;
      }

    }

    &__btn {
      text-align: right;

      a {
        @include font-size(12px);
        color: $colour-dist-mid-grey;
        font-family: $font-stack-alt;

        &:hover {
          color: $colour-dist-grey;
          text-decoration: underline;
        }

      }

    }

  }

}
