.skin-checkout-address-section-shipping {

  .title {

    h2 {
      @include font-size(24px);
      @include line-height(28px);
      border-bottom: 1px solid $colour-light-grey;
      color: $colour-dark-grey;
      margin-bottom: $spacing-unit * 2;
      padding-bottom: $spacing-unit * 2;
    }

  }

  .box-address {

    &__preview {
      padding-bottom: $spacing-unit * 6;
    }

    &__edit {
      border-bottom: 1px solid $colour-light-grey;
      padding-bottom: $spacing-unit * 5;
      padding-top: $spacing-unit * 3;

      &__list {


        &__item {
          @include font-size(14px);
          font-family: $font-stack-alt;
          margin-bottom: $spacing-unit;

          input {
            padding-top: $spacing-unit - 2;
          }

          label {

            &:before {
              margin-top: $spacing-unit - 2;
              vertical-align: top;
            }

          }

        }

      }

    }

    &__label {
      display: inline-block;
      width: calc(100% - 30px);
    }

  }

  .shipping-add-new {
    @include font-size(14px);
    border-bottom: 1px solid $colour-light-grey;
    color: $link-blue;
    display: block;
    padding: ($spacing-unit * 4) 0;

    &:hover {
      color: $link-dark-blue;

      span {
        text-decoration: underline;
      }
    }

    i {
      padding-bottom: $spacing-unit - 2;
    }
  }

}
