@import 'global-utilities';

.prices {
  color: $ux-text-default;

  &__priceholder {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &__price {
      display: flex;
      flex-direction: row;
      align-items: center;

      &.vat-price {
        @include typography-display-sm();
        font-weight: $font-weight-semiBold;
      }

      &.main-price {
        @include typography-display-xxl();
        font-weight: $font-weight-semiBold;

        align-items: flex-end;
        letter-spacing: -0.32px;

        .vat-text {
          padding-bottom: $spacing-unit + 2;
        }
      }

      .vat-text {
        @include typography-ui-xs();
        color: $colour-redesign-light-grey;
        font-weight: $font-weight-medium;
      }
    }
  }
}
