.mod-checkout-order-summary-info-box {
	margin-bottom: 30px;

	.box {
		padding: 17px 0;
		#border .border-std(0, 0, 1px, 0);
	}
	.head {
		#typo > .section-title();
	}

	// List: info list
	.data-list {
		.entry, .action {
			float: left;
			word-wrap: break-word;
		}
		// Default: 3 cols
		.entry {
			width: 32%;
			#typo > .size-x-c();
			height: 41px;
			padding: 11px 0;
			&:first-child {
				padding-left: 17px;
			}
			&.payment-cost, &.shipping-cost, &.payment-percentage{
				text-align: center;
			}
			.currency{
				#typo > .size-c-a();
			}
		}
		.action {
			width: 25%;
			text-align: center;
		}
	}
	// BUTTON: change
	.btn-change {
		display: block;
		text-align: left;
		width: 150px;
		margin-right: 10px;

		i {
			float: right;
			margin: 3px 0 0 0;
			.s-arrow-right-black();
		}
		&:hover i,
		&:active i,
		&:focus i {
			.s-arrow-right-blue();
		}
	}
}
