@import 'global-utilities';

#modalShoppingList {
  background-color: $colour-strong-light-grey;
  display: block;
  height: auto;
  left: 50%;
  margin-left: -240px;
  outline: none;
  position: fixed;
  top: 10%;
  width: 480px;
  z-index: $zindex-modal;

  .hd,
  .bd,
  .ft {
    margin-bottom: ($spacing-unit * 4);
    padding: 0 ($spacing-unit * 6);
  }

  .hd,
  .bd,
  .left,
  .right {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
  }

  .hd {
    display: table;
    background-color: $colour-redesign-dark-black;
    width: 100%;

    .title {
      @include font-size(22px);
      @include line-height(26px);
      font-weight: $font-weight-light;
      display: inline-block;
      color: $colour-white;
      margin-top: 0;
      margin-bottom: 0;
    }

    .btn-close {
      color: $colour-white;
    }
  }

  .bd {
    display: table;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ft {
    margin-bottom: ($spacing-unit * 4);
    padding: 0 ($spacing-unit * 6);
    text-align: right;

    .btn-cancel {
      background-color: #cccccc;
      color: $colour-black;
    }

    .btn-primary,
    .btn-cancel {
      border: 0;
      font-weight: $font-weight-normal;
      width: 155px;
    }

    .btn-primary {
      box-shadow: 0 0 0 0;
      margin-left: ($spacing-unit * 3 + 1);
      text-align: center;

      &:active {
        background-color: $colour-red;
        border: ($spacing-unit - 4) solid $colour-red;
      }
    }
  }
}
