.mod-checkout-voucher-box {
  float: left;
  padding: 0 0 ($spacing-unit * 3);
  width: 100%;

  h2 {
    @include font-size(14px);
    color: $link-blue;
    cursor: pointer;
    transition: background-color .2s ease;

    &:hover {
      color: $link-dark-blue;
      text-decoration: underline;
    }

  }

  .form-box {
    display: flex;
    float: left;
    justify-content: space-between;
    padding-top: ($spacing-unit * 2);
    width: 100%;

    &__item {
      flex-grow: 1;
      width: 100%;

      &:last-of-type {
        flex-grow: unset;
        flex-shrink: 0;
        margin-left: ($spacing-unit * 2);
        max-width: unset;
        min-width: 86px;
        width: auto;
      }

    }

    .voucher-code {
      @include font-size(14px);
      border-radius: 2px;
      height: 40px;
      padding: 0 0 0 ($spacing-unit * 2);
      width: 100%;

      &:focus {
        background: transparent;
        border-width: 1px;
      }

      @include placeholder {
        @include font-size(12px);
      }

    }

    .mat-button {
      @include font-size(12px);
      @include line-height(20px);
      color: $colour-black;
      border-radius: 2px;
      font-weight: bold;
      padding: ($spacing-unit * 2) ($spacing-unit);
    }

  }

}

