.mod-shoppinglist-bulk-action {
	float: left;
	margin: 8px 0 0 10px;
	visibility: hidden;

	&.active{
		visibility: visible;
	}

	.selectboxit-container{
		.selectboxit {
			width: 248px;

			.selectboxit-arrow-container {
				right: 0;
				top: 1px;
				#border > .border-std(0, 1px, 0, 1px);
				background: @c-greyB;

				i {
					.s-arrow-down-big-black();
				}

				.selectboxit-arrow {
					top: 43%;
				}
			}

			.selectboxit-text {
				padding-left: 10px;
				color: @c-grey20;
				font-weight: bold;
				#typo > .size-x-c();
				line-height: 34px;
			}

			&:hover {
				.selectboxit-arrow-container {
					background: #AA1936;

					i {
						.s-arrow-down-big-white();
					}
				}
				.selectboxit-text,
				.selectboxit-pretext {
					color: #AA1936;
				}
			}
		}
	}

	.selectboxit-selected {
		a {
			color: @c-black;
			font-weight: bold;
		}
	}

	.selectboxit-option{
		color: #AA1936;
		&.option-cart{
			background-color: @c-red;

			.selectboxit-option-anchor{
				color: @c-white;
				//color: @c-red;
			}
			&:hover {
				background-color: @c-white;

				.selectboxit-option-anchor{
					color: @c-red;
					//color: #AA1936;
				}
			}

		}
	}

	.selectboxit-container{
		.selectboxit-options{
			.selectboxit-option{
				.selectboxit-option-anchor{
					padding-left: 22px;
				}
				&.option-default{
					display: none;
				}
			}
		}
	}

	.selectboxit-option-icon-container{
		padding-left: 8px;
	}

	.option {
		i {
			margin: 0 0 0 2px;
		}
	}

	.option-favorite {
		i {
			.s-favorite-black();
		}

		&:hover i,
		&:focus i {
			.s-favorite-blue();
		}

		&:active i, &.active i {
			.s-favorite-blue()
		}
	}

	.option-compare {
		i {
			.s-compare-mini-black();
		}

		&:hover i,
		&:focus i {
			.s-compare-mini-blue();
		}

		&:active i, &.active i {
			.s-compare-mini-blue()
		}
	}

	.option-shopping {
		i {
			.s-list-black();
		}

		&:hover i,
		&:focus i {
			.s-list-blue();
		}

		&:active i, &.active i {
			.s-list-blue()
		}
	}

	.option-cart {
		i {
			.s-add-to-cart-mini-white();
		}

		&:hover i,
		&:focus i {
			.s-add-to-cart-mini-red();
		}

		&:active i, &.active i {
			.s-add-to-cart-mini-red();
		}
	}

	.option-remove {
		i {
			.s-remove-black();
		}

		&:hover i,
		&:focus i {
			.s-remove-blue();
		}

		&:active i, &.active i {
			.s-remove-blue();
		}
	}

	.borderhelper + .selectboxit-list {
		border-top: 0 none;// workaround double border for default option being rendered although hidden
	}
}
