.mod-checkout-order-budget-approval-bar {
	margin-bottom: 30px;
	#typo > .size-s();

	.data {
		#border .border-std(1px, 0, 1px, 0);
	}

	.title {
		padding-left: 15px;
		margin-bottom: 0;
		padding-bottom: 5px;
	}

	.btn-back {
		text-align: right;
		min-width: 100px;

		i {
			.s-arrow-left-black();
			margin-top: 4px;
			float: left;
		}

		&:hover i {
			.s-arrow-left-blue();
		}
	}

	.entry, .action {
		float: left;
		padding: 10px 5px 10px 2px;
		word-wrap: break-word;
	}
	// Default: 4 cols
	.entry {
		width: 22.5%;

		&:first-child {
			padding-left: 15px;
		}

		// reset
		dl, dd {margin: 0;}

		.label {
			font-weight: bold;
		}
		.value + .label {
			margin-top: 10px;
		}

		.value.nok i {
			.s-no();
		}
		.value.ok i {
			.s-yes();
		}
		.value.neg {
			color: @c-red;
		}
	}
	.action {
		width: 10%;
		text-align: center;

		// Link
		.more {
			display: inline-block;
			width: 36px;
			height: 36px;
			.center();
			margin-top: 20px;

			i {
				.s-polygon-right-big-lightblue();
			}

			&:hover i,
			&:focus i,
			&:active i {
				.s-polygon-right-big-blue();
			}
		}
	}
}
