.skin-checkout-order-budget-approval-bar-admin {
	// Default: 5 cols
	.entry {
		width: 20%;

		&.small {
			width: 17.5%;
		}
	}
	.action {
		text-align: left;

		dl {
			margin-bottom: 10px;
		}

		.btn {
			display: block;
			width: 100%;
			margin: 10px 0;
			text-align: left;
		}

		.btn-approve {

			span {
				.ellipsis();
				max-width:150px;
			}

			i {
				.s-arrow-down-big-white();
				float: right;
				margin-top: 6px;
				margin-right: 0;
			}
			&:hover i {
				.s-arrow-down-big-red();
			}
		}
	}
}
