.mod-article-numbers {
  float: left;
  padding-bottom: ($spacing-unit * 2);
  text-align: center;
  width: 100%;

  @media #{$ipad} {
    padding-bottom: ($spacing-unit * 6);
  }

  @media #{$ipad-landscape} {
    text-align: left;
  }

  .article-tooltip {
    background-color: $colour-dist-grey;
    border-radius: 2px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    display: none;
    left: -80px;
    position: absolute;
    top: -50px;
    width: 200px;
    z-index: 910;

    &__content {
      padding: ($spacing-unit * 2);
      position: relative;
      text-align: center;

      &:after {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 10px solid $colour-dist-grey;
        bottom: -10px;
        content: '';
        left: 40%;
        position: absolute;
      }

    }

    p {
      @include font-size(13px);
      @include line-height(18px);
      color: $colour-white;
    }

    &.active {
      display: block;
    }

  }

  .elem {
    position: relative;

    @media #{$ipad-landscape} {
      display: inline-block;
      padding-left: ($spacing-unit * 4);
    }

    &__holder {
      display: none;
      position: relative;

      @media #{$desktop} {
        display: inline-block;
      }

    }

    &:first-of-type {

      @media #{$ipad-landscape} {
        padding-left: 0;
      }

    }

    i,
    svg {
      color: $link-blue;
      margin-left: ($spacing-unit);
      vertical-align: text-top;

      &.fa-copy {
        cursor: pointer;
      }

      &:hover {
        color: $link-dark-blue;
      }

    }

    a {

      &.brand {
        @include font-size(14px);
        @include line-height(15px);
        color: $link-blue;
        display: inline-block;
        padding-top: 2px;
        border-bottom: solid 2px transparent;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        vertical-align: middle;

        &:hover,
        &:focus {
          color: $link-dark-blue;
          border-color: $link-dark-blue;
        }

      }

    }

    span {
      @include font-size(14px);
      @include line-height(15px);
      color: $colour-mid-grey;
      display: inline-block;
      font-weight: 500;
      vertical-align: middle;

      &.copy-button,
      &.copy-button-1 {
        cursor: pointer;
      }

      &.brand {
        color: $link-blue;
      }

      &.a12 {
        font-weight: bold;
      }

    }

    &--mpn {

      @media #{$ipad-landscape} {
        padding-right: ($spacing-unit * 4);
      }

    }

    &--alias {

      @media #{$ipad-landscape} {
        padding-left: 0;
        padding-right: ($spacing-unit * 4);
      }

    }

    &__alias-item {
      display: inline-block;
      margin-right: $spacing-unit*2;

      .copyTypeNameAlias {
        max-width: 120px;
      }

    }

    &--brand {
      padding-left: 0;
    }

  }

  reevoo-product-badge{
    display: block;
    margin-top: $spacing-unit*4;
  }

}
