.mod-carousel-teaser .carousel-header {
  border-bottom: 0;
  height: 0 !important;
}

.caroufredsel_wrapper {
  background: white;
  display: none;

  @media #{$ipad-landscape} {
    display: block;
  }

}

.skin-carousel-teaser-item-product-horizontal-box  {
  border-right: 1px solid $colour-pale-grey;
  border-bottom: 1px solid $colour-pale-grey;
  border-top: 1px solid $colour-pale-grey;
  height: 160px;
  width: 295px;

  &:first-child {
    border-left: 1px solid $colour-pale-grey;
  }

  .bd {

    .item-image {
      margin-top: 10px;
      height: auto;
    }

  }

  .ft {

    .btn {
      margin-bottom: 10px;
      margin-left: -10px;
    }

    .btn-buy {
      background: #68C143;

      &:hover {
        background: #358E10;
      }

    }

  }

  .ft-description {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: -5px;
  }

  #rightColumn2 {
    margin-right: 7px !important;
  }

  #wrapper2 {
    margin-right: 0 !important;

    .priceTeaserItem {
      @include font-size(13px);
      margin-top: 5px;
      margin-left: ($spacing-unit * 12);
      margin-right: 7px !important;
      padding-left: ($spacing-unit + 2);
      text-align: left;
      width: 150px;
    }

  }

}

.skin-carousel-teaser-feedback {
  margin-bottom: 0 !important;

  @media #{$ipad-landscape} {
    margin-bottom: 20px !important;
    overflow: hidden;
  }

  .carousel-header {
    margin-top: 0 !important;
  }

  .carousel-teaser {
    height: 160px !important;
    max-height: 160px;
  }

  .carousel-nav  {

    a {
      top: -15px;
    }

  }

  .carousel-teaser-container {
    display: none;
    width: 100% !important;

    @media #{$ipad-landscape} {
      display: block;
    }

  }


}
