@import 'global-utilities';

:app-family-detail-top-bar {
  background-color: $colour-white;
  display: flex;
  justify-content: center;
}

app-product-list-pagination {
  background-color: $colour-pale-grey;
}

.family-detail-top-bar {
  background-color: $colour-pale-grey;
  display: flex;
  justify-content: center;

  @include tabletPlus {
    margin-bottom: $ux-spacing-unit * 4;
  }

  .wrapper {
    flex-grow: 1;
  }

  .left-side {
    float: left;
    width: 75%;

    @include tabletDown {
      margin-top: $spacing-unit * 5;
      width: 100%;
    }

    .heading {
      @include font-size(18px);
      color: $colour-black;
      float: left;
    }

    &.top {
      align-items: center;
      display: inline-flex;
      flex-wrap: nowrap;
      float: left;
      margin-top: 0;
      width: 100%;

      @include tabletDown {
        flex-wrap: wrap;
      }

      .manufacturer-image {
        margin-right: $spacing-unit * 6;
      }
    }

    &.description {
      float: left;
      margin-top: $spacing-unit * 5;
      width: 100%;

      &__text {
        @include font-size(14px);
        @include line-height(24px);
        margin: 0;
        padding: 0;
      }
    }

    &.jump-to {
      float: left;
      margin-top: $spacing-unit * 5;
      @include font-size(14px);
      @include line-height(12px);

      @include tabletDown {
        display: flex;
        flex-flow: column;
      }

      &__seperator {
        float: left;
        width: auto;

        @include tabletDown {
          display: none;
        }
      }

      &__text {
        font-weight: $font-weight-semiBold;
        width: auto;
      }

      &__link {
        color: $link-blue;
        cursor: pointer;
        margin-left: $spacing-unit * 2;
        margin-right: $spacing-unit * 2;
        width: auto;

        @include tabletDown {
          margin-left: 0;
          margin-right: 0;
          margin-top: $spacing-unit * 2;
        }

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }
      }
    }

    &.bullet-list {
      float: left;
      margin-top: $spacing-unit * 5;
      width: 100%;

      ul {
        display: table-row;
        float: left;
        margin-top: $spacing-unit * 3;
        width: 100%;

        @include tabletDown {
          display: inline-block;
        }

        li {
          @include font-size(14px);
          @include line-height(24px);
          display: list-item;
          float: left;
          list-style-position: inside;
          list-style-type: disc;
          margin-bottom: $spacing-unit;
          margin-right: 4%;
          padding-left: 2.14em;
          text-indent: -1.24em;
          width: 40%;

          @include tabletDown {
            width: 100%;
          }
        }
      }
    }

    &.datasheet {
      @include line-height(34px);
      @include font-size(13px);
      background: $bg-button-red;
      box-sizing: border-box;
      color: $colour-white;
      float: left;
      font-weight: $font-weight-semiBold;
      height: 34px;
      margin-top: $spacing-unit * 5;
      margin-left: $spacing-unit * 2;
      padding: 0 $spacing-unit * 4;
      width: auto;

      &:hover {
        text-decoration: none;
      }
    }

    &.additional {
      margin-top: $spacing-unit * 5;
      width: 100%;

      &__container {
        display: flex;
        flex-wrap: wrap;
        float: left;
        margin: ($spacing-unit * 4) 0;
        width: 116%;

        @include tabletDown {
          width: 100%;
        }

        &__media {
          margin-top: $spacing-unit * 4;
          width: 100%;

          img {
            max-width: 70%;

            @include tabletDown {
              max-width: 100%;
            }
          }

          img:hover {
            cursor: pointer;
          }
        }

        &__videos {
          margin-top: $spacing-unit * 4;
          width: 100%;
          height: 100%;

          &__wrapper {
            width: 47%;
            margin-right: 20px;

            @include tabletDown {
              position: relative;
              overflow: hidden;
              width: 100%;
              padding-top: 56.25%;
            }

            iframe {
              margin-right: $spacing-unit * 4;
              margin-top: $spacing-unit * 4;
              width: 100%;

              @include tabletDown {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  .listing {
    float: left;
    margin-top: $spacing-unit * 5;
    width: 100%;

    &__text {
      @include font-size(18px);
      color: $colour-black;
      float: left;
    }
  }

  .right-side {
    float: right;
    width: 25%;

    @include tabletDown {
      float: left;
      width: 100%;
    }

    &.img-container {
      display: flex;
      justify-content: center;
      margin-bottom: $spacing-unit * 6;
      overflow: hidden;
      width: 100%;
      img {
        cursor: pointer;
        max-height: 400px;
        max-width: 200px;

        @include tabletDown {
          max-width: 300px;
        }
      }
    }

    &.listing {
      background: $bg-button-green;
      cursor: pointer;
      height: 34px;
      margin-bottom: $spacing-unit * 2;
      text-align: center;
      width: 100%;

      span {
        @include font-size(14px);
        @include line-height(34px);
        color: $colour-white;
        font-weight: $font-weight-semiBold;
      }
    }
  }
}
