@import 'global-utilities';

.wrapper {
  width: 100%;
  background-color: $colour-pale-grey;
}

.newsletter-unsubscribe {
  padding: $spacing-unit * 4;
  margin: ($spacing-unit * 4) 0 ($spacing-unit * 4);
  background-color: $colour-white;
  box-shadow: 0 0 10px 0 $feedback-shadow;

  @include tablet {
    padding: $spacing-unit * 8;
  }

  &__title,
  &__inner {
    font-weight: $font-weight-medium;
  }

  &__title {
    @include font-size(32px);
    margin: 0 0 ($spacing-unit * 6);
    text-align: center;

    &,
    .fa-check-circle {
      @include line-height(48px);
    }

    .fa-check-circle {
      @include font-size(24px);
      margin-right: $spacing-unit * 3;
      color: $icon-green;
      vertical-align: bottom;
    }
  }

  &__inner {
    @include font-size(14px);
    @include line-height(24px);
    max-width: 360px;
    margin: auto;

    p {
      hyphens: auto;
      margin-bottom: $spacing-unit;
    }

    a {
      color: $link-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    .submit {
      align-items: center;
      border: 1px solid transparent;
      border-radius: 2px;
      background-color: $colour-dark-grey;
      color: $colour-white;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: $spacing-unit * 6;
      padding-right: $spacing-unit * 2;
      padding-left: $spacing-unit * 2;
      font-weight: $font-weight-semiBold;
      width: 100%;

      &:hover {
        color: $colour-white;
      }

      &:disabled {
        background-color: $ux-light-grey;
        cursor: not-allowed;
      }
    }

    .icon-background {
      padding: 0;
      position: relative;
      text-decoration: none;
      color: inherit;

      &:active,
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    .additional-spacing {
      margin-bottom: $spacing-unit * 2;
    }

    fa-icon {
      @include font-size(22px);
      float: left;
    }

    .checkbox {
      display: none;
    }

    label {
      padding-left: $spacing-unit * 3;
      text-align: left;
      max-width: 300px;
      hyphens: auto;
    }
  }

  &__success {
    padding: $spacing-unit * 3;
    color: $colour-redesign-dark-green;
    background-color: $bg-dark-green;
    border: 1px solid $border-dark-green;
    border-radius: 4px;
    text-align: center;
  }

  &__feedback {
    margin: ($spacing-unit * 6) 0 ($spacing-unit * 8);

    .field-msgs {
      .error {
        @include font-size(12px);
        color: $colour-red;
      }
    }
  }

  &__new-email,
  &__other-msg {
    padding-left: $spacing-unit * 7;

    input {
      padding: $spacing-unit;
    }

    input,
    textarea {
      @include font-size(14px);
      border: 1px solid $colour-dark-grey;
      border-radius: 2px;
      width: 100%;

      &.error {
        border-color: $colour-red;
      }

      &:focus {
        background-color: $colour-pale-grey;
        outline: none;
        resize: none;
      }
    }
  }

  &__new-email {
    margin-bottom: $spacing-unit * 3;

    p {
      .is-opt {
        color: $colour-redesign-mid-black;
      }
    }

    input {
      width: 100%;
      height: 40px;
    }
  }

  &__other-msg {
    textarea {
      min-height: 80px;
    }
  }
}
