<div class="add-to-list">
  <app-checkbox
    [checkboxID]="compareListId"
    [checked]="isInCompareList$ | async"
    [primaryLabel]="'plp.facet_buttons_and_headers.compare' | cxTranslate"
    (change)="onCompareClick($event)"
    size="small"
  ></app-checkbox>

  <app-checkbox
    [checkboxID]="shoppingListId"
    [checked]="isInShoppingList$ | async"
    [primaryLabel]="'plp.facet_buttons_and_headers.shopping_list' | cxTranslate"
    (change)="onShoppingListClick($event)"
    size="small"
  ></app-checkbox>
</div>
