@import 'global-utilities';

.container {
  position: relative;
  min-height: 200px;
}

.loadfile {
  &__old-filename {
    word-break: break-all;
  }

  &__edit-icon {
    @include font-size(16px);
    cursor: pointer;
    display: inline-block;
    margin-left: $spacing-unit;
    vertical-align: bottom;

    i {
      background-color: $colour-green;
      border-radius: 50%;
      color: $colour-white;
      padding: $spacing-unit;

      &:hover {
        background-color: $colour-dark-green;
      }
    }
  }

  &__save-item {
    display: table;
    margin-bottom: $spacing-unit * 4;
    width: 100%;

    input,
    button {
      display: table-cell;
      height: 35px;
    }

    input {
      @include font-size(28px);
      border: none;
      border-bottom: 2px solid $colour-mid-grey;
      outline: none;
      padding: 0 ($spacing-unit * 2) 0 0;
      width: 50%;
    }

    button {
      margin-left: $spacing-unit;
      padding: 0 ($spacing-unit * 2);
      width: auto;
    }
  }
}

.product-list {
  margin-bottom: $spacing-unit * 4;

  li {
    border-bottom: 1px solid $colour-light-grey;
  }
}

.success-container {
  padding: ($spacing-unit * 2) ($spacing-unit * 4);
  align-items: center;
  border: 1px solid $colour-green;
  border-radius: $spacing-unit;
  color: $colour-green;
  margin-bottom: $spacing-unit * 2;
  display: flex;
  box-shadow: 0px 0px 4px 0px rgb(0 159 180 / 50%);
  width: 100%;

  .check-circle {
    width: 40px;
    display: inline-block;
    color: $colour-green;
    font-size: $spacing-unit * 4;
  }
}
