.skin-productlist-tools-shopping {
	height: 49px; // needed to keep space when toolsitems are hidden
	margin-top: 25px;

	.mod-toolsitem{
		line-height: 49px;
		height: 49px;

		&.hidden{
			display: none; // to hide toolsitems if e.g. shopping list is empty
		}
		
		i{
			vertical-align: top;
		}
		&.tooltip-hover{
			.popover.top{
				margin-top: -15px;
			}
		}
		&.skin-toolsitem-download{
			.popover.top{
				margin-top: -15px;
			}
		}
	}
}