/* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
@import 'global-utilities';

app-page-cms3 {
  .cms3container {
    padding-top: ($spacing-unit * 6);
  }

  .banner-description {
    @include font-size(15px);
    @include line-height(28px);

    overflow: hidden;
    color: $colour-dark-grey;

    @media #{$ipad} {
      @include font-size(15px);
      @include line-height(24px);
    }
  }

  .right-content {
    margin-top: ($spacing-unit * 4);
    border-top: ($spacing-unit - 4) solid $colour-light-grey;

    @media #{$ipad-landscape} {
      margin-top: 0;
      border: 0;
    }

    .banner-description {
      padding: ($spacing-unit) 0;
      border-bottom: ($spacing-unit - 4) solid $border-dist-grey;

      &.last-item {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  .banner-component {
    margin-top: ($spacing-unit * 4);

    &--box {
      display: flex;
      background-color: $colour-white;
      border: ($spacing-unit - 4) solid $colour-light-grey;
      border-radius: ($spacing-unit - 3);
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);

      .bannner-content {
        padding: ($spacing-unit * 8);

        @media #{$ipad-landscape} {
          order: 0;
        }

        .banner-cta {
          @include font-size(16px);

          display: inline-block;
          padding: ($spacing-unit + 3) ($spacing-unit * 2);
          margin-top: ($spacing-unit * 8);
          font-weight: $font-weight-normal;
          color: $colour-mid-black;
          border: ($spacing-unit - 4) solid #f69f1d;

          fa-icon {
            margin-left: ($spacing-unit * 2);
            font-weight: $font-weight-semiBold;
            color: $colour-black;
          }

          &:hover {
            color: $colour-mid-black;
            text-decoration: none;
          }
        }

        &.right {
          order: 1;
        }

        &.left {
          order: 0;
        }

        .banner-description {
          min-height: 150px;
        }
      }

      .bannner-img-wrapper {
        padding: 0;

        .banner-img {
          position: absolute;
          inset: 0;
          min-height: 300px;
          overflow: hidden;
          background-position: center;
          background-size: cover;
        }
      }
    }

    ol {
      list-style: decimal;
    }

    &--spacer {
      height: 40px;
    }
  }

  p {
    margin-bottom: 0;
  }
}
