.skin-form-request-quotes-cart {
  float: left;
  padding: ($spacing-unit * 2);
  width: 100%;

  @media #{$ipad-landscape} {
    margin-top: ($spacing-unit * 2);
    padding: 0;
  }

  button {
    @include font-size(14px);
    background: transparent;
    color: $link-blue;
    height: auto;
    line-height: normal;
    margin-bottom: ($spacing-unit * 2);
    padding: 0;
    text-align: left;

    @media #{$ipad-landscape} {
      @include font-size(14px);
      margin-bottom: ($spacing-unit);
    }

    &:hover {
      background: transparent;
      color: $link-dark-blue;
      text-decoration: underline !important;
    }

  }

}
