.skin-scaled-prices-single {
  border: 0;
  float: left;
  min-height: auto;
  min-width: 380px;
  padding: ($spacing-unit * 2) 0;
  width: 100%;

  &__holder {
    float: left;
    min-width: 300px;
    width: auto;
  }

  .price-each {
    @include font-size(14px);
    @include line-height(24px);
    color: $colour-dist-grey;
    display: block;
    font-weight: bold;
    padding-bottom: ($spacing-unit - 4);
  }

  .price-per {
    @include font-size(13px);
    @include line-height(23px);
    color: $colour-price-per-x;
    display: inline-block;
    font-weight: 600;
    padding-left: ($spacing-unit - 2);
    text-transform: uppercase;
    vertical-align: text-bottom;
  }
  
  .vat-text {
    @include font-size(14px);
    @include line-height(24px);
    color: $colour-dist-grey;
    display: inline-block;
    font-weight: bold;
    padding-left: ($spacing-unit - 3);
    vertical-align: text-bottom;
  }

  .price {
    display: inline-block;

    .odometer-price {
      @include font-size(20px);
      @include line-height(24px);
      color: $colour-dist-grey;
      display: block;
      font-weight: bold;
      padding-bottom: ($spacing-unit * 2);
    }

  }

  .footer {
    float: left;
    padding-bottom: ($spacing-unit * 2);
    width: 100%;

    .btn-bulk-discount {
      color: $link-blue;
      margin: 0;
      transition: all 0.3s ease-in-out 0.1s;

      &:hover {
        color: $link-dark-blue;

        span {
          text-decoration: underline;
        }
      }

      i {
        background: none;
      }

      i,
      svg {
        margin-right: ($spacing-unit * 2);
        vertical-align: middle;
      }

      span {
        @include font-size(12px);
        @include line-height(20px);
        margin: 0;

        @media #{$ipad-landscape} {
          @include font-size(14px);
          @include line-height(24px);
        }

      }

    }

  }

  .head {

    &.hasCustomPrices {
      display: none;
    }

  }

  .body-holder {
    display: table;
    min-width: 200px;
  }

  .body {
    display: table-row;
    float: none;
    width: 100%;

    .td {
      @include font-size(12px);
      @include line-height(20px);
      color: $colour-dist-grey;
      display: table-cell;
      float: none;
      font-weight: bold;
      padding-left: ($spacing-unit * 2);

      &.savingsCell {
        @include font-size(12px);
        font-weight: normal;
        padding-left: ($spacing-unit - 2);
        vertical-align: top;
      }

      &:first-of-type {
        font-weight: normal;
        padding-left: 0;
      }

    }

    .list-price {
      @include font-size(12px);
      color: $colour-mid-grey;
    }

  }

}

.isie7 {

  .skin-scaled-prices-single {

    .price {
      float: left;
    }

    .footer {

      .btn-bulk-discount {

        i {
          display: none;
        }

      }

    }

    .body {

      .td {
        float: left;
      }

      .nth1 {
        font-weight: normal;
        padding-left: 0;
      }

    }

    .body-holder {
      clear: both;
    }

  }

}
