@import '../../../../global/global.scss';

.quote-details-wrapper {
  h1 {
    @include font-size(28px);
    @include line-height(34px);
    color: $colour-red;
    font-weight: $font-weight-light;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .label-bold {
    font-weight: $font-weight-bold;
  }

  .fw-500 {
    font-weight: $font-weight-medium !important;
  }

  .fs-small {
    font-size: small;
  }

  .fs-e-small {
    font-size: 12px;
  }

  .fs-xsmall {
    font-size: x-small;
    line-height: initial;
  }

  .editLink {
    color: $colour-red;

    :hover {
      text-decoration: underline;
    }
  }

  h2 {
    @include font-size(18px);
    @include line-height(22px);
    color: $colour-red;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  label,
  input,
  select,
  p {
    @include font-size(14px);
    border-radius: 0%;
  }

  small {
    display: block;
    @include font-size(12px);
    font-weight: $font-weight-medium;
    color: #6c757d;

    &.error {
      color: $colour-red;
    }

    &.correct {
      color: $colour-green;
    }
  }

  .border-gray {
    border: solid 1px lightgray;
  }

  .redFont {
    color: $colour-red;
  }

  .btn-gray {
    background-color: $border-dist-grey;
    border-color: $border-dist-grey;
    color: $colour-text-dark;

    &:hover {
      background-color: transparent;
      color: $colour-red;
    }
  }

  .no-border-radius {
    border-radius: 0% !important;
  }

  .form-check-input,
  .form-check-label {
    cursor: pointer;
  }

  .form-control {
    border-radius: 0 !important;
    @include font-size(14px);
  }

  .btn-distrelec {
    font-weight: 100 !important;
    @include font-size(14px);
    max-width: 100% !important;
    width: auto;
    padding: 0px 10px;
  }

  .col-form-label {
    @include font-size(14px);
  }

  .remove-border-top {
    border-top: none !important;
    font-weight: $font-weight-normal !important;
  }

  .mt-exta {
    margin-top: 32px;
  }

  .ng-select {
    @include font-size(12px);
  }

  .myOrders {
    @media print {
      padding: 0;

      header,
      footer {
        display: block;
      }
    }
  }

  .distrelec-tooltip-class {
    .tooltip-inner {
      background-color: $colour-dark-red;
      font-size: 100%;
      padding: 10px;
    }
  }

  .pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .pricing-line-heading {
    display: flex;
    margin-left: 0;
  }

  .pricing-line-value {
    display: flex;
    margin-left: 0;
  }

  .bs-tooltip-top .arrow::before {
    border-top-color: $colour-dark-red;
  }

  .bs-tooltip-end .arrow::before {
    border-right-color: $colour-dark-red;
  }

  .bs-tooltip-start .arrow::before {
    border-left-color: $colour-dark-red;
  }

  .bs-tooltip-top .arrow::before {
    border-top-color: $colour-dark-red;
  }

  .bs-tooltip-bottom .arrow::before {
    border-bottom-color: $colour-dark-red;
  }

  .text-underline {
    text-decoration: underline;
  }

  .ul.pagination {
    float: right;
  }

  .page-item.active .page-link {
    background-color: $colour-red !important;
    border-color: $colour-red !important;
    color: white !important;
  }

  .border-right {
    border-right: 1px solid rgb(198, 207, 240) !important;
  }

  .border-bottom {
    border-bottom: 1px solid rgb(198, 207, 240) !important;
  }

  .border-left {
    border-left: 1px solid rgb(198, 207, 240) !important;
  }

  .border-top {
    border-top: 1px solid rgb(198, 207, 240) !important;
  }

  .page-link {
    color: $colour-dark-red !important;
  }

  .bg-gray {
    background-color: $colour-strong-light-grey;
  }

  .bottom-arrow {
    background-color: $colour-red;
    width: 350px;
    height: 60px;
    padding: 10px;
    color: white;
    position: relative;
    z-index: 9;
    margin-left: -($spacing-unit * 30);
  }

  .bottom-arrow:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    top: 60px;
    border-top: 12px solid $colour-red;
    border-left: 13px solid transparent;
    border-right: 11px solid transparent;
  }
}
