@import 'global-utilities';

// global button style
.btn-distrelec {
  @include font-size(15px);
  @include line-height(37px);
  @include transition(all 0.3s ease-in-out 0.1s);
  background-color: $colour-red;
  border: 1px solid $colour-red;
  border-radius: 2px;
  color: $colour-white;
  font-weight: $font-weight-bold;
  height: 41px;
  max-width: 177px;
  padding: 0;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $colour-white;
    border-color: $border-metahd-item-account-grey;
    color: $colour-red;
  }
}
