@import 'global-utilities';

/*
 * Base, Rich Text Elements
 */

/**
 * Namespace: Base, Rich Text Elements
 */
.base {
  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  &.leadtext p,
  & p.leadtext {
    font-size: 22px;
    @include line-height(26px);
    color: $colour-red;
    font-weight: $font-weight-semiBold;
    @include line-height(32px);
    margin-bottom: 40px;
  }

  hr {
    clear: both;
  }

  table {
    td,
    th {
      padding: 0;
    }
    border-collapse: collapse;
  }

  ////// Images, Figures, Figcaption //////
  img.float-left {
    margin: 0 10px 10px 0;
  }

  img.float-right {
    margin: 0 0 10px 10px;
  }

  ////// Forms and Field Messages //////

  label {
    @include line-height(35px); // frontend review: aligns nicely with a input field & dropown text
  }

  .field {
    width: 300px;
    margin-bottom: (24px / 2);
  }

  .field-msgs {
    // can be error, pw indicator...

    & {
      clear: both; // used for checkbox error msgs
      margin-bottom: 24px;
      font-size: 15px;
      @include line-height(18px);
    }

    > div {
      position: relative;
    }

    i {
      vertical-align: middle;
    }

    .error {
      color: $colour-red;
      margin-left: 30px;

      i {
        background-position: -763px -247px;
        width: 21px;
        height: 17px;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        margin-left: -30px;
      }
    }
  }

  // Prevent Buttons within a .base container from using the link styles above
  .btn:focus,
  .btn:active,
  .btn:hover {
    color: $colour-red;
    text-decoration: none;
  }
}

.base a,
a.base {
  color: #000000;
  font-size: 15px;
  @include line-height(18px);
  font-weight: $font-weight-semiBold;
  text-align: justify;

  &:focus,
  &:active,
  &:hover {
    color: #000000;
  }
}

.base img,
img.base {
  display: inline;
}

.base .bold,
bold.base {
  font-weight: $font-weight-semiBold;
}

.base i,
i.base {
  display: inline-block;
}

////// Block Elements //////
.base h1,
h1.base {
  font-weight: $font-weight-light;
  font-size: 28px;
  @include line-height(34px);
  margin-bottom: 12px;
}

.base h2,
h2.base {
  font-weight: $font-weight-light;
  color: $colour-red;
  font-size: 25px;
  @include line-height(28px);
  margin-top: 25px;
  margin-bottom: 10px;
}

.base h3,
h3.base {
  font-size: 18px;
  @include line-height(22px);
  color: $colour-red;
  margin-top: 23px;
  margin-bottom: 20px;
}
