/*------------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------------*/
// Font weights
.fw-m {
  font-weight: $font-weight-medium !important;
}

.fw-sb {
  font-weight: $font-weight-semiBold !important;
}

/*------------------------------------------------------------------------------------
  Visibility
------------------------------------------------------------------------------------*/
.visible-mobile-plus-up {
  @include mobileOnly {
    display: none;
  }
}
