@import 'global-utilities';

.icon-red {
  color: $colour-red;

  path {
    fill: $colour-red;
  }
}

.icon-green {
  color: $colour-green;

  path {
    fill: $colour-green;
  }
}

.icon-orange {
  color: $colour-dist-marigold;

  path {
    fill: $colour-dist-marigold;
  }
}

.icon-yellow {
  color: $colour-rnd-yellow;

  path {
    fill: $colour-rnd-yellow;
  }
}

.icon-white {
  color: $colour-white;

  path {
    fill: $colour-white;
  }
}

.icon-success {
  color: $icon-success-color;

  path {
    fill: $icon-success-color;
  }
}

.icon-error {
  color: $ux-error;

  path {
    fill: $ux-error;
  }
}
