.link {
  color: $link-blue;
  font-weight: $font-weight-medium;
  text-decoration: underline !important; // Some CMS inline styles override this
  text-underline-offset: 4px;
}

.link-button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;

  color: $link-blue;
  font-weight: $font-weight-medium;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-hover {
  &:hover {
    color: $link-blue;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
