.mat-button {
  @include font-size(15px);
  @include line-height(18px);
  color: $colour-white;
  font-weight: $font-weight-semiBold;
  height: 41px;
  padding: ($spacing-unit * 2);
  position: relative;
  text-align: center;
  text-decoration: none;

  &--red {
    background-color: $colour-red;
    border: ($spacing-unit - 4) solid $colour-red;
  }

  &--white {
    background-color: $colour-white;
  }

  &--green {
    background-color: $colour-green;
    border: ($spacing-unit - 4) solid $colour-green;

    &:hover {
      @include transition(background-color 0.2s ease);
      background-color: $colour-dark-green;
    }
  }

  &:focus {
    box-shadow: none;
    outline: none !important;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
