@import 'src/styles/utilities/vars';

.ng-select {
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        height: 34px;
        padding-bottom: 0;
        padding-top: 0;
        display: flex;
        align-items: center;

        &.ng-option-marked {
          background-color: $ux-hover-state;
          color: $colour-dist-grey;
        }
      }
    }
  }

  &.ng-select-single {
    .ng-select-container {
      border: ($spacing-unit - 4) solid $colour-redesign-light-grey;
      border-radius: $ux-border-radius-default;
      height: $ux-default-select-height;

      .ng-value-container {
        padding-left: ($spacing-unit + 3);
      }
    }
  }

  .ng-arrow-wrapper {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: ($spacing-unit + 3);

    .ng-arrow {
      border: solid $colour-dist-grey;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }
  }

  &.ng-select-opened {
    .ng-select-container {
      .ng-arrow-wrapper {
        .ng-arrow {
          border-color: $colour-dist-grey;
          border-width: 0 2px 2px 0;
          top: 4px;
          transform: rotate(-135deg);
        }
      }
    }
  }

  .ng-clear-wrapper {
    display: none;
  }

  &.ng-select-single {
    .ng-select-container {
      .ng-value-container {
        .ng-input {
          top: 0;
        }
      }
    }
  }

  &.ng-select-focused {
    &:not(.ng-select-opened) {
      & > .ng-select-container {
        border-color: $border-dist-grey;
        box-shadow: none;
      }
    }
  }
}

.account-info {
  .ng-dropdown-panel {
    position: absolute;
  }
}

.sort-by {
  .ng-dropdown-panel {
    border: none;
    border-radius: 4px;
    box-shadow:
      0 4px 4px -2px #18274b14,
      0 2px 4px -2px #18274b;
    top: 45px;
    
    .ng-dropdown-panel-items {
      .ng-option {
        height: 40px;
        padding: 0px ($ux-spacing-unit * 3);

        &.ng-option-selected {
          background-color: $colour-white;

          &:hover {
            background-color: $ux-hover-state;
          }
        }
      }
    }
  } 

  &.ng-select-single {
    .ng-select-container {
      border: 1px solid $ux-input-border-color-light;
      min-width: 192px;
      padding: ($ux-spacing-unit * 3);
      align-items: center;
      gap: 8px;
      border-radius: 4px !important;
      height: 44px;
  
      .ng-value-container {
        padding-left: 0px;
      }
    }
  } 

  .ng-arrow-wrapper {
    margin-right: 0px;
    padding-right: 0px;

    &::after {
      height: 20px;
      content: url('/app/spartacus/assets/media/arrow-down.svg');
    }

    .ng-arrow {
      display: none !important;
    }
  }

  &.ng-select-opened {
    .ng-select-container {
      .ng-arrow-wrapper::after {
        transform: rotate(-180deg);
      }
    }
  }
  
}