// Owl carousel is used for the PDP image gallery.

.owl-nav {
  display: block !important;
  margin: 0;

  .owl-prev,
  .owl-next {
    background: transparent !important;
    margin: 0 !important;
  }

  .owl-prev {
    left: -25px;
    position: absolute;
    top: 0 !important;
  }

  .owl-next {
    bottom: -33px !important;
    position: absolute;
    right: -25px;
  }
}

.owl-carousel {
  transform: rotate(90deg);
  width: 410px;
  display: flex !important;
  justify-content: center;

  .owl-theme {
    display: flex !important;
  }

  .arrow {
    border: solid #777777;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: ($spacing-unit + 1);

    &:hover {
      border: solid $colour-black;
      border-width: 0 3px 3px 0;
    }
  }

  .right {
    transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
  }

  .up {
    transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
  }

  .owl-item {
    cursor: pointer;
    transform: rotate(-90deg);

    img {
      width: auto;
      margin: 0 0;
      border: 1px solid $border-carousel-grey;

      &.active-click {
        border: 1px solid $colour-mid-grey;
      }
    }
  }
}

.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  top: calc(50% - 33px);
}

div.owl-carousel .owl-nav .owl-prev,
div.owl-carousel .owl-nav .owl-next {
  font-size: 36px;
  top: unset;
  bottom: 15px;
}
