@import 'global-utilities';

.popover {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  @include font-size(13px);
  @include line-height(18px);
  background: $colour-red;
  background-clip: padding-box;
  color: $colour-white;
  display: none;
  left: -1px;
  margin-top: ($spacing-unit * 9);
  max-width: 276px;
  padding: ($spacing-unit * 2);
  position: absolute;
  text-align: left;
  top: 8px;
  width: 125px;
  white-space: normal;
  z-index: $zindex-popover;

  @include tabletDown {
    top: 90px;
    left: calc(45% - 115px / 2);
  }

  @include mobilePlusDown {
    top: 90px;
    left: calc(50% - 135px / 2);
  }

  .arrow {
    border-top-width: 0;
    border-bottom-color: $colour-red !important;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    display: block;
    height: 0;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    top: -20px;
    width: 0;
  }

  .popover-content {
    color: $colour-white;

    fa-icon {
      display: inline-block;
      height: 16px;
      position: absolute;
      right: 10px;
      width: 14px;
    }
  }
}
