.dist-label {
  @include typography-text-sm;
  color: $colour-dist-grey;
  font-weight: 400;
  display: block;
  position: relative;
  margin-bottom: ($spacing-unit * 2 + 2);
  cursor: pointer;
  user-select: none;
}

.dist-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: auto;
  width: 100%;
  left: 0;
  top: 22px;
  z-index: $zindex-dropdown;

  &__custom {
    border: ($spacing-unit - 4) solid #777;
    border-radius: 50%;
    display: block;
    float: left;
    height: 20px;
    position: relative;
    width: 20px;

    &:after {
      background: $ux-green;
      border-radius: 50%;
      content: '';
      display: none;
      height: 8px;
      left: 5px;
      position: absolute;
      top: 5px;
      width: 8px;
    }
  }
}

.dist-radio:checked {
  & ~ .dist-radio__custom {
    &:after {
      display: block;
    }
  }
}
