@import 'global-utilities';

:host {
  color: $colour-redesign-light-grey;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

span {
  @include typography-ui-xs();
}

app-icon {
  cursor: pointer;
}
