.skin-cart-pricecalcbox-shopping {
	.calc-box {
	
		&.calc-box-header {
			line-height: 65px;
			color: @c-red;

			.title {
				display: inline-block;
				padding-left: 12px;
				margin: 0; // reset .base margins

				.icon-cart {
					.s-list-red();
					margin-right: 4px;
					vertical-align: -3px;
					margin-bottom: 1px;
				}
			}
		}	
	
	}

}