.skin-cart-pricecalcbox-approval-request {

	//
	// Terms

	.bd-terms-box {
		position: relative;

		#border > .border-std(0, 1px, 1px, 1px);
		margin-top: 20px;
		clear: both;
		float: right;
		input[type="checkbox"].checkbox-big + label, input[type="checkbox"].checkbox-big + input + label {
			padding: 0 0 0 33px;
		}
		label {
			display: block;

			&:before {
				position: absolute;
				left: 25px;
			}

			a {
				text-decoration: underline;
			}
		}
	}

	// Show the Default Checkboxes on IE8
	.lt-ie9 & .bd-terms-box {
		.checkbox {
			position: absolute;
			left: 25px;
			margin-top: 4px;
			clip: auto;
		}


	}

	.terms-row {
		overflow: hidden;
		padding: 15px;
		background: @c-greyC;
		#border > .border-std(1px, 0, 0, 0);
		#typo > .size-x-c();

		h3 {
			font-weight: bold;
			margin-bottom: 15px;
			#typo > .size-s();
		}
	}

	.check-option {
		padding-left: 10px;

		span {
			float: left;
			margin-top: -20px;
			margin-left: 30px;
		}
	}

	.check-option + h3 {
		margin-top: 17px;
	}
}