.skin-cart-pricecalcbox-sticky {

	// Sticky
	&.-stuck {
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: 160px;
		width: 320px;
		z-index: 800;
	}

	@media print {

		#reviewForm { // Terms and Conditions
			.hidden();
		}

		&.-stuck { // Repeat we do not want stickiness in print mode, thankyou  > -(
			position: inherit;
			margin-left: 0;
		}
	}
}