.mod-cart-pricecalcbox {

	.calc-box {
		#border > .border-std(1px, 1px, 0, 1px);
		display: table;
		width: 100%;
		background-color: @c-white; // used if sticky and over other elements

		.lt-ie8 & {
			display: block;
			width: 318px;
		}
		
		&.calc-box-header {
			line-height: 65px;
			color: @c-red;

			.title {
				display: inline-block;
				padding-left: 12px;
				margin: 0; // reset .base margins

				.icon-cart {
					.s-add-to-cart-small-red();
					margin-right: 4px;
					vertical-align: -3px;
				}
			}
		}

		&.calc-box-subtotal {
			font-weight: @font-base-bold;
		}

		&.calc-box-total {
			#border > .border-std(1px, 1px, 1px, 1px);
			color: @c-red;
			font-weight: @font-base-bold;
			background-color: @c-greyC;
		}
	}

	.calc-row {
		display: table-row;

		vertical-align: middle;
	}

	.calc-cell {
		#typo > .size-x-c();
		display: table-cell;
		padding: 0 0 0 12px;
		line-height: 50px;

		.lt-ie8 & {
			display: inline-block;
			.ib();
		}

		&.calc-cell-details {
			line-height: 30px;
		}

		&.nth-1 {
			width: 55%;
			line-height: 18px;
			padding: 6px 5px 6px 12px;

			.lt-ie8 & {
				width: 173px;
			}
		}

		&.nth-2 {
			width: 7%;
			padding: 0 0 0 1px;

			.lt-ie8 & {
				width: 23px;
			}
		}

		&.nth-3 {
			width: 30%;
			text-align: right;
			padding: 0 17px 0 0;
			#typo > .size-c-c();

			.lt-ie8 & {
				width: 87px;
			}
		}
		
		&.nth-4 {
			width: 50%;
			text-align: right;
			padding: 0 17px 0 0;
			#typo > .size-c-c();

			.lt-ie8 & {
				width: 87px;
			}
		}		


	}

	.currency {
		#typo > .size-c-b();
		line-height: 12px;
		.lt-ie8 & {
			line-height: 24px;
		}
	}

	.buttons {
		width: 300px;
		float: right;
		margin-top: 20px;
	}

	.btn-checkout {
		text-align: left;
		margin-top: 23px;
		width: 320px;
		
		.checkout-detail & {
			margin-bottom: 30px;
			position: absolute;
			bottom: 0;
		}


		.lt-ie8 & {
			width: 298px;
			height: 19px;
		}

		.icon-cart {
			.s-go-to-cart-white();
			margin-top: 0;
		}

		&:hover .icon-cart,
		&:focus .icon-cart {
			.s-go-to-cart-red();
		}

		&:active .icon-cart, &.active .icon-cart {
			.s-go-to-cart-red();
		}

		&[disabled] .icon-cart, &.disabled .icon-cart {
			.s-go-to-cart-white();
		}
		&:disabled .icon-cart {// keep this selector separate (unsupported pseudo class ie8)
			.s-go-to-cart-white();
		}

		.icon-arrow {
			float: right;
			margin-top: 4px;
			.s-arrow-right-white();

			.lt-ie8 & {
				margin-top: -14px;
			}
		}

		&:hover .icon-arrow,
		&:focus .icon-arrow {
			.s-arrow-right-red();
		}

		&:active .icon-arrow, &.active .icon-arrow {
			.s-arrow-right-red();
		}

		&[disabled] .icon-arrow, &.disabled .icon-arrow {
			.s-arrow-right-white();
		}
		&:disabled .icon-arrow {// keep this selector separate (unsupported pseudo class ie8)
			.s-arrow-right-white();
		}
	}

	.terms-row {
		.check-option + .check-option {
			margin-top: 15px;
		}
	}
	
	.btn-open-order-close{
		height: 54px;
	}
	
	.plz-add-address {
		margin-top: 15px;
		i {
			.s-elements-base-error();
		}
		div {
			display: inline-block;
			position: absolute;
			width: 299px;
			padding-left: 10px;
			color: @c-red;
		}
	}
}

.row.checkout-address {
	position:relative;
}