.video-attribute-editor {
  .se-media-selector {
    display: flex;
  }

  div[has-selected-option=true] {
    button.fd-button {
      min-height: 190px;

      iframe {
        height: 150px;
      }
    }
  }
}