.skin-productlist-pagination-plp {

  .col {
    float: left;
    width: 50%;
  }

  label {
    @include font-size(14px);
    font-weight: 700;
  }

  .plp-pagination-wrapper {

    &.row {
      margin: 0;
      width: auto !important;
    }

  }

  .pagination-wrapper {

    .pagination {

      li {
        margin: 0;

        &.dots {
          padding-top: $spacing-unit;
          margin: 0;
        }

        a {
          @include font-size(14px);
          border: none;
          color: $color-pagination-count;
          height: 30px;
          padding-top: $spacing-unit+1;
          width: 30px;
          display: block;

          &.active {
            background-color: $color-pagination-count-bg;
            color: $colour-black;
            pointer-events: none;
          }

          &:hover {
            color: $colour-white;
          }

        }

      }

    }

    .btn {
      border: 1px solid $color-pagination-count-bg;
      height: 30px;
      width: 30px;

      &:hover,
      &:visited {
        background: none;
      }

      i {
        background: none;
        height: 30px;
        padding-top: $spacing-unit;
        text-align: center;
        width: 30px;

        &:hover {
          background: none;
        }

      }

    }

  }

}

.isie7,
.isie8 {

  .skin-productlist-pagination-plp {

    .pagination-wrapper {

      .pagination {
        margin: $spacing-unit;
      }

      .btn {
        border: none;
        height: 36px;
        width: 36px;

        i {
          display: none;
        }

      }

      .btn-left {
        background: url('/_ui/all/media/sprites_00a7b3d765.png') no-repeat -668px -426px;
      }

      .btn-right {
        background: url('/_ui/all/media/sprites_00a7b3d765.png') no-repeat -588px -426px;
      }

    }

  }

}

.mod-productlist-pagination .selectboxit-container .selectboxit {
  width: 82px;
}
