.skin-product-manufacturer-compare {
  bottom: auto;
  left: auto;
  position: static;
  right: auto;
  top: auto;

  .manufacturer-logo {
    height: auto;
    padding-right: ($spacing-unit * 3);
  }

  @media #{$ipad-landscape} {
    float: right;
    margin-bottom: ($spacing-unit * 3);
    margin-top: 0;
    width: auto;
  }

}