.newsletter-wrapper {
  -moz-box-shadow: 0 0 ($spacing-unit + 3) 0 $forgot-pw-box-shadow;
  -webkit-box-shadow: 0 0 ($spacing-unit + 3) $forgot-pw-box-shadow;
  background: $colour-white;
  box-shadow: 0 0 ($spacing-unit + 3) 0 $forgot-pw-box-shadow;
  box-sizing: border-box;
  display: block;
  float: none;
  margin: 0 auto ($spacing-unit * 6) auto;
  max-width: 300px;
  padding: ($spacing-unit * 7) ($spacing-unit * 7) ($spacing-unit * 9) ($spacing-unit * 7);
  width: auto;

  @media #{$mobile-landscape} {
      max-width: 450px;
  }

  @media #{$ipad-landscape} {
    margin-bottom: ($spacing-unit * 15);
    margin-top: ($spacing-unit * 15);
    max-width: 700px;
  }

  .page-title {
    @include font-size(24px);
    color: $colour-dark-grey;
    font-weight: 400;
    margin-bottom: ($spacing-unit * 3);
    padding-left: 0;
    padding-right: 0;
  }

  .cc-message {
    margin-bottom: ($spacing-unit * 4);
  }

  .mod-form-newsletter {

      .newsletter-selection {
        margin-top: ($spacing-unit * 2);
        margin-bottom: ($spacing-unit * 4);

        .field-msgs {
          padding-top: ($spacing-unit * 2);
          margin-left: ($spacing-unit * 64);
        }
      }

    .box-newsletter {

      &__form {

        &__row {
          border: 0;

          &__field {

            .field {
              width: 100%;
            }

            .selectboxit-container {
              width: 100%;
            }

              .btn-primary {
                margin: ($spacing-unit * 2) 0;
                width: 100%;

                i {
                  background-size: 792px 642px;
                  background-position: -591px -227px;
                  width: 7px;
                  height: 11px;
                  float: right;
                  margin-top: ($spacing-unit - 2);

                  &:hover, &:focus {
                    background-color: $colour-white;
                    border-color: $border-global-grey;
                    color: $colour-dist-red;
                  }

                  &:active {
                    background-color: $colour-pale-red;
                    border-color: $colour-pale-red;
                    color: $colour-dist-red;
                  }

              }

            }

          }

          &__checkbox {
            margin: ($spacing-unit * 2) 0 ($spacing-unit * 9);
          }

        }

      }

    }

  }

}