.mod-guest-returns-form {
  float: left;
  padding-bottom: ($spacing-unit * 10);
  width: 100%;

  form {
    float: left;
    width: 100%;
    padding-bottom: $spacing-unit * 10;

    .input-holder {
      float: left;
      margin-bottom: ($spacing-unit * 2);
      width: 100%;

      &__error-msg {
        @include font-size(15px);
        @include line-height(18px);
        display: none;
        color: $colour-dist-red;
        float: right;
        padding: ($spacing-unit * 2) 0 0;
        width: 100%;

        @media #{$ipad} {
          width: 70%;
        }
      }

      &.input-holder--subreason {
        > label {
          display: none;

          @media #{$ipad} {
            display: inline-block;
          }
        }
      }

      &--has-counter {
        position: relative;
        margin-bottom: $spacing-unit * 3;
      }

      &__counter {
        @include font-size(12px);
        position: absolute;
        top: 100%;
        right: 0;
      }

      &.has-error {
        .input-holder__error-msg {
          display: block;
        }

        input,
        textarea,
        .selectboxit.selectpicker.selectboxit-btn {
          border: 2px solid $colour-guest-return-warning;
        }
      }

      label {
        @include font-size(14px);
        @include line-height(17px);
        color: $colour-dist-grey;
        display: inline-block;
        margin-bottom: ($spacing-unit * 2);
        width: 100%;
        vertical-align: middle;

        @media #{$ipad} {
          margin-bottom: 0;
          max-width: 180px;
          width: 100%;
        }
      }

      textarea {
        border: 1px solid $colour-light-grey;
        outline: none;
        width: 100%;

        @media #{$ipad} {
          width: 70%;
        }
      }

      .selectboxit-container {
        width: 100%;

        @media #{$ipad} {
          width: 70%;
        }

        .selectboxit {
          width: 100%;

          .selectboxit-text {
            max-width: 100% !important; // Overriding selectboxit plugin inline styles which were added through JS
            padding-right: $spacing-unit * 7;
          }

          &-options {
            max-height: 300px !important;

            .selectboxit-option {
              height: auto;
              line-height: 1;
            }

            .selectboxit-option-anchor {
              @include line-height(20px);
              white-space: normal;
              display: inline-block;
              padding: $spacing-unit ($spacing-unit + 3);

              .selectboxit-option-icon-container {
                display: none;
              }
            }
          }
        }
      }

      input {
        border: 1px solid $colour-light-grey;
        display: inline-block;
        height: 32px;
        outline: none;
        width: 100%;

        @media #{$ipad} {
          width: 70%;
        }
      }

      .warning {
        border: 2px solid $colour-guest-return-warning;
      }
    }

    .btn-holder {
      float: left;
      margin-top: ($spacing-unit * 4);
      width: 100%;

      button {
        @include font-size(15px);
        @include line-height(18px);
        background: $colour-dist-red;
        border: 0;
        color: $colour-white;
        font-weight: bold;
        height: 35px;
        min-width: 134px;
        padding: 0 ($spacing-unit * 2);
        transition: all .2s ease-in-out;
        width: auto;

        &:hover {
          background: $colour-dark-red;
          border-color: $colour-dark-red;
          color: $colour-white;
        }
      }
    }
  }
}
