@import 'global-utilities';

.chip {
  display: inline-flex;
  height: 32px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid $ux-light-grey;
  background: $colour-pale-grey;

  &.round {
    border-radius: 100px;
  }

  &.squared {
    border-radius: 4px;
  }

  .icon-group {
    display: flex;
    align-items: center;
    align-self: end;

    &.clear {
      cursor: pointer;
    }
  }

  .chip-icon {
    color: $ux-text-default;
  }

  .chip-text {
    @include typography-text-xs();
    font-weight: $font-weight-medium;
    color: $ux-text-default;
  }
}
