<div class="chip" [class]="type" [attr.id]="id">
  <ng-container *ngIf="iconLeft">
    <span class="icon-group">
      <app-icon class="chip-icon" [icon]="iconConfirmation" size="sm"></app-icon>
    </span>
  </ng-container>

  <ng-container *ngIf="tooltip; else noTooltip">
    <span class="chip-text" [attr.title]="tooltip" [innerHTML]="text"></span>
  </ng-container>
  <ng-template #noTooltip>
    <span class="chip-text" [innerHTML]="text"></span>
  </ng-template>

  <ng-container *ngIf="iconRight">
    <span class="icon-group clear" (click)="onIconClick()">
      <app-icon class="chip-icon" [icon]="iconClose" size="sm"></app-icon>
    </span>
  </ng-container>
</div>
