.mod-form-seminar-signup {

	.seminar-signup-box{
		padding-bottom: 30px;
	}

	.row-button{
		margin-top: 30px;
	}

	.status{
		margin-bottom: 30px;
	}

	.btn-primary {

		&:hover i,
		&:focus i {
			.s-arrow-right-red();
		}

		&:active i, &.active i {
			.s-arrow-right-red();
		}

		&[disabled], &.disabled {
			i {
				.s-arrow-right-white();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-arrow-right-white();
			}
		}

		width: 100%;
		text-align: left;

		// Icon
		i {
			.s-arrow-right-white();
			margin-top: 3px;
			float: right;
		}
	}

}
