@import 'global-utilities';

.filter-group-list::-webkit-scrollbar {
  display: none;
}

.filter-group-list::-webkit-scrollbar-button {
  display: none !important;
}

.filter-group-list {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 0;
  align-items: stretch;
  gap: 24px;
  border-top: 1px solid $ux-light-grey;
  padding-top: 20px;
}

.filter-group-list-title {
  @include typography-ui-md();
  color: $ux-text-default;
  font-weight: $font-weight-medium;
  margin: 0;
}

.scroll-arrow {
  background-color: $colour-white;
  box-shadow:
    0px 4px 4px -2px rgba(24, 39, 75, 0.08),
    0px 2px 4px -2px rgba(24, 39, 75, 0.12);
  color: $ux-text-default;
  position: absolute;
  cursor: pointer;
  top: 50%;
  z-index: 10;
  border-radius: 100%;
  border: 1px solid $ux-text-default;
  padding: 7px;
  display: flex;

  &-right {
    @extend .scroll-arrow;
    right: 10.5px;
    display: none;

    @include tabletPlus {
      display: flex;
    }
  }

  &-left {
    @extend .scroll-arrow;
    left: 10.5px;
  }
}

.filter-group {
  list-style: none;
  min-width: 287px;
  width: 287px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid $ux-light-grey;

  @include tabletPlusOnly {
    min-width: 271px;
    width: 271px;
  }

  &:last-child {
    margin-right: 20px;
  }
}
