/* Layout */
* {
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

body {
	font-family: 'Myriad Pro Regular',Helvetica, Arial, sans-serif !important;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.maintenance-img {
	margin-bottom: 40px;
}

.maintenance-page {
	background: url("../images/maintenance_page_distrelec.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.maintenance-page:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	opacity: 0.4;
}

.maintenance-page .content {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%,-50%);
}

.maintenance-page .description {
	color: white;
	font-size: 32px;
	margin-top: 50px;
	line-height: 1.2;
}

@media all and (max-width: 992px) {
	.maintenance-page .description {
		font-size: 24px;
		margin-top: 30px;
	}
}

.maintenance-page p {
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

.maintenance-page-wrapper {
	margin: 0 auto;
	overflow: visible;
	max-width: 960px;
}

.maintenance-page-wrapper img {
	max-width: 100%;
}

a:link,a:visited {
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: underline;
	-moz-text-decoration-style: solid;
}

a:focus,a:active,a:hover {
	color: #000000;
}




