@import 'global-utilities';

.success-popup {
  top: 20%;

  @media #{$ipad-landscape} {
    left: 35%;
    width: 25%;
  }

  align-items: center;
  background-color: $colour-white;
  border-radius: 8px;
  border: 1px solid $colour-popup-border;
  box-shadow:
    0px 4px 6px -4px rgba(24, 39, 75, 0.12),
    0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: ($spacing-unit * 1) ($spacing-unit * 1) ($spacing-unit * 1);
  position: fixed;
  z-index: $zindex-modal;
  overflow-y: auto;

  .alert {
    background-color: $ux-banner-danger-bg;
    margin-bottom: ($spacing-unit * 3);

    fa-icon {
      font-size: 2.5em;
      display: inline-block;
      margin: 0 ($spacing-unit * 2) ($spacing-unit * 2) 0;
      color: $colour-red;
    }
    &.alert-info {
      color: $colour-black;
      background-color: $colour-white;
      border: none;
      text-align: left;
      fa-icon {
        color: $colour-red;
      }
    }
    .title {
      display: flex;
      align-items: center;

      h4 {
        font-weight: bold;
      }
    }
  }

  &__text {
    color: $colour-success-text;
    padding: $spacing-unit * 1;
    text-align: center;

    &--title {
      @include font-size(20px);
      @include line-height(24px);
      font-weight: $font-weight-semiBold;
      letter-spacing: -0.01em;
      padding: $spacing-unit 0;
    }

    &--subtitle {
      @include font-size(16px);
      @include line-height(23px);
      font-weight: $font-weight-normal;
      max-height: 500px;
    }
  }

  &__close {
    margin: ($spacing-unit * 2) auto auto;

    .btn {
      @include font-size(14px);
      @include line-height(14px);
      border: 1px solid $colour-popup-button-border;
      box-sizing: border-box;
      border-radius: 2px;
      color: $colour-dark-grey;
      font-weight: $font-weight-semiBold;
      height: 40px;
      width: auto;
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: $zindex-modal-backdrop; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(57, 62, 65, 0.8); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.btn-gray {
  background-color: transparent;
  border-color: $border-dist-grey;
  max-width: 100px;
  color: $colour-text-dark;

  &:hover {
    border-color: $border-dist-grey;
    color: $colour-red;
  }
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
}

.btn-distrelec {
  max-width: 100px;
}
