@import 'global-utilities';

.back-order-holder {
  background: $colour-home-background;
  float: left;
  padding: ($spacing-unit * 4) 0 ($spacing-unit * 44);
  width: 100%;

  @include tabletPlus {
    padding-top: ($spacing-unit * 10);
    padding-bottom: ($spacing-unit * 4);
  }

  header {
    float: left;
    height: 100%;
    min-height: 170px;
    width: 100%;

    @include tabletPlus {
      min-height: unset;
    }

    @media print {
      min-height: 68px;
    }
  }

  &__title {
    float: left;
    padding-bottom: ($spacing-unit * 6);
    width: 100%;

    h1 {
      @include font-size(16px);
      @include line-height(20px);
      font-weight: $font-weight-bold;
      padding-bottom: ($spacing-unit);

      @include tabletPlus {
        @include font-size(28px);
        @include line-height(38px);
        padding-bottom: 0;
      }
    }

    p {
      @include font-size(12px);
      @include line-height(18px);
      padding-top: ($spacing-unit * 2);

      @include tabletPlus {
        @include font-size(15px);
        @include line-height(22px);
      }
    }
  }

  &__content {
    float: left;
    padding-right: ($spacing-unit * 2);
    width: 100%;
  }

  &__side {
    background: $colour-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.149019607843137);
    bottom: 0;
    float: left;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 310;

    @include tabletPlus {
      max-content: 465px;
      height: fit-content;
      padding: ($spacing-unit * 3);
      position: relative;
    }
  }

  .emailSubmitted {
    @include tabletPlus {
      max-height: 199px;
    }
  }
}
