.isie7 {

  .skin-back-order-item-oci {
    padding: 0;
  }

  .mod-back-order-item {

    &__message  {
      display: block;
      float: none;
      margin: ($spacing-unit * 3) auto;
      padding: ($spacing-unit * 2);
      width: 95%;
    }

    &__content {
      display: block;
      float: none;
      margin: 0 auto ($spacing-unit * 3);
      padding: 0;
      width: 95%;

      &__img {
        float: left;
        width: 10%;
      }

      &__btn {
        float: left;
        margin-top: ($spacing-unit * 3);
        max-width: 226px;
        min-width: 160px;
        padding-top: 0;
        width: 100%;

      }

      &__text {
       float: left;
       margin-top: ($spacing-unit * 3);

       .text-item {
         display: inline-block;
         padding-right: ($spacing-unit * 2);
         width: auto;
       }

      }

    }

    &__message {
      @include font-size(13.5px);
      @include line-height(18px);
      text-align: left;

      &__icon {
        display: none;
      }

    }

    &__alternative {

      &--active {

        .card-item {
          display: block;
        }

      }

    }

  }

}

.isie8,
.ie9 {

  .mod-back-order-item {


    &__alternative {

      &--active {

        .card-item {
          display: block;
        }

      }

    }

    &__content {
      width: 100%;

      &__img {
        float: left;
        width: 10%;
      }

      &__btn {
        float: left;
        margin-top: ($spacing-unit * 2);
        max-width: 226px;
        min-width: 160px;
        padding-top: 0;
        width: 100%;

      }

      &__text {
        float: left;
        margin-top: ($spacing-unit * 3);
        max-width: 100%;
        width: 90%;

        .text-item {
          display: inline-block;
          padding-right: ($spacing-unit * 2);
          width: auto;
        }

      }

    }

    &__message {
      @include font-size(13.5px);
      @include line-height(18px);
      text-align: left;
    }

  }

}