.skin-cart-list-cart {

  &__header {
    display: none;
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      display: block;
    }

    .cell {
      display: inline-block;
      float: left;

      &.cell-availability {
        padding-left: ($spacing-unit * 3);
        width: 50%;
      }

      &.cell-numeric {
        padding-left: ($spacing-unit * 3);
        width: 20%;
      }

      &.cell-price {
        padding-left: ($spacing-unit * 3);
        width: 15%;

        &:last-of-type {
          padding: 0 ($spacing-unit * 3) 0 0;
          text-align: right;
        }

      }

      p {
        @include font-size(10px);
        @include line-height(24px);
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;

        @media #{$desktop} {
          @include font-size(12px);
        }

      }

    }

  }

  &__content {
    float: left;
    width: 100%;
  }

}
