.skin-detail-tabs-content-technical-information {
  float: left;
  padding: 0 0 ($spacing-unit * 3);
  width: 100%;

  h2 {
    @include font-size(22px);
    @include line-height(30px);
    color: $colour-dist-grey;
    font-weight: normal;
    letter-spacing: -.6px;
    padding-bottom: ($spacing-unit * 2);

    @media #{$desktop} {
      @include font-size(28px);
      @include line-height(34px);
    }

  }

  p {
    @include font-size(12px);
    @include line-height(22px);
    color: $colour-dist-grey;
    padding-bottom: ($spacing-unit * 2);

    @media #{$desktop} {
      @include font-size(14px);
      @include line-height(25px);
    }

  }

  .validate-holder {
    display: flex;
    flex-direction: column-reverse;

    .searchsimilar {

      &__holder {
        float: left;
        width: 100%;

        .mat-button {
          @include font-size(12px);
          @include line-height(15px);
          background: $colour-dist-red;
          border: 1px solid $colour-dist-red;
          border-radius: 2px;
          color: $colour-white;
          float: left;
          margin-bottom: ($spacing-unit * 3);
          min-width: 193px;
          padding: ($spacing-unit) ($spacing-unit * 2);
          text-align: center;
          width: auto;

          i,
          svg {
            margin-right: ($spacing-unit - 1);
            margin-bottom: ($spacing-unit - 4);
          }

          &:hover {
            color: $colour-dist-red;
            background: $colour-white;
            border-color: $border-button-action-red;
          }

        }

      }

    }

  }

  .validate-checkbox-group {
    float: left;
    width: 100%;

    tr {

      &:nth-of-type(odd) {
        background: $colour-pale-grey;
      }

    }

    td {
      @include font-size(12px);
      @include line-height(22px);
      color: $colour-dist-grey;

      @media #{$desktop} {
        @include font-size(14px);
        @include line-height(25px);
      }

      &:first-child {
        border-left: 4px solid $colour-dist-red;
        width: 40%;

        label {
          font-weight: bold;
          padding-left: ($spacing-unit * 2);
          position: relative;
          width: 106px;
          vertical-align: middle;

          @media #{$mobile-landscape} {
            width: 210px;
          }

          @media #{$ipad} {
            width: 190px;
          }

          @media #{$ipad-landscape} {
            width: 185px;
          }

          @media #{$desktop} {
            max-width: 300px;
            width: 100%;
          }

          &:before {
            background: $colour-white;
            border: 1px solid $border-dist-grey;
            border-radius: 3px;
            color: $colour-white;
            content: "";
            display: inline-block;
            height: 20px;
            transform: rotate(0);
            pointer-events: none;
            text-align: center;
            width: 20px;
            vertical-align: middle;
          }


          &.no-checkbox {
            padding-left: ($spacing-unit * 5.4);
          }

        }

        input[type=checkbox] {

          &:checked + label:before {
            background: $colour-dist-red;
          }

          &:checked + label:after {
            color: $colour-white;
            content: "\2713";
            left: 14px;
            position: absolute;
            top: 1px;
          }

        }

      }

      &:last-of-type {
        font-weight: bold;
        padding-right: ($spacing-unit * 2);
        text-align: right;
        width: 60%;
      }

    }

  }

}
