.skin-detail-tabs-content-download {

  .download-container,
  .cad-container {

    .datasheets-container,
    .cad-container-holder {
      float: left;
      padding-bottom: ($spacing-unit * 2);
      width: 100%;

      .datasheet-title,
      .cad-title,
      .certificate-title,
      .software-title,
      .template-title,
      .brochure-title,
      .manual-title,
      .cad-title {
        @include font-size(15px);
        @include line-height(24px);
        border-bottom: 1px solid $colour-light-grey;
        color: $colour-dist-grey;
        letter-spacing: -.38px;
        margin: 0 0 ($spacing-unit * 3);
        padding-bottom: ($spacing-unit * 2);

      }

      .text-btn {
        @include font-size(12px);
        @include line-height(20px);
        color: $link-blue;
        display: inline-block;
        letter-spacing: -.28px;
        margin-top: ($spacing-unit * 2);
        outline: none;
        transition: all 0.3s ease-in-out 0.1s;

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

        @media #{$ipad-landscape} {
          @include font-size(15px);
          @include line-height(24px);
        }

      }

      .link-download-pdf,
      .cad-holder {
        float: left;
        width: 100%;
      }

      .cad-holder {

        label {
          @include font-size(15px);
          @include line-height(24px);
          color: $colour-dist-grey;
          display: block;
          float: left;
          letter-spacing: -.38px;
          margin-bottom: ($spacing-unit);
          width: 100%;
        }

        select {
          display: block;
          width: 100%;
        }

      }

      .ready-text {
        @include font-size(14px);
        @include line-height(23px);
        color: $colour-dist-grey;
        float: left;
        letter-spacing: -.38px;
        margin-top: ($spacing-unit);
        width: 100%;
      }

      .download-btn {
        @include line-height(31px);
        color: $colour-white;
        float: left;
        margin-top: ($spacing-unit * 3);
        width: 100%;
      }

      .download-element {
        float: left;
        padding-bottom: ($spacing-unit);
        width: 100%;

        .show-more-downloads {
          display: flex;
          flex-direction: column-reverse;
          float: left;
          width: 100%;
        }

        .show-more {

          &__holder {

            .show-more-link {
              display: block;
            }

            .show-less-link {
              display: none;
            }

            &.showless {

              .show-more-link {
                display: none;
              }

              .show-less-link {
                display: block;
              }

            }

          }

        }

        .lang {
          padding-left: ($spacing-unit);

          &:first-of-type {
            padding-left: 0;
          }

        }

        .show-more-link,
        .show-less-link {
          @include font-size(12px);
          @include line-height(20px);
          color: $colour-dist-mid-grey;
          display: inline-block;
          letter-spacing: -.28px;
          margin-top: ($spacing-unit * 2);
          outline: none;
          transition: all 0.3s ease-in-out 0.1s;

          @media #{$ipad-landscape} {
            @include font-size(15px);
            @include line-height(24px);
          }

          svg,
          i {
            margin-left: ($spacing-unit);
            vertical-align: middle;
          }

          &:hover {
            color: $colour-dist-mid-grey;
          }

        }

        &__holder,
        .popover-languages {
          float: left;
          width: 100%;

          a {

            i,
            svg {
              @include font-size(25px);
              margin-right: ($spacing-unit * 3);
              transition: all 0.3s ease-in-out 0.1s;
              vertical-align: super;
            }

            &:hover {

              i,
              svg {
                color: $colour-dist-red;
              }

            }

            p {
              @include font-size(12px);
              @include line-height(18px);
              color: $colour-dist-grey;
              display: inline-block;
              font-weight: bold;

              @media #{$ipad-landscape} {
                @include font-size(13px);
                @include line-height(20px);
              }

              span {
                display: inline-block;
                font-weight: normal;
              }

            }

          }

        }

      }

    }

  }

}
