.skin-detail-tabs-content-product-information {

  .list-holder {

    &__item {
      &--hazardous-list, &--article-list {
        padding-bottom: ($spacing-unit * 4);
      }

      float: left;
      width: 100%;

      &--family-list {
        padding-top: ($spacing-unit * 3);

        p {
          display: inline-block;
        }

        ul {
          float: left;
          padding: ($spacing-unit * 2) 0;
          width: 100%;

          li {
            list-style: disc inside;
            padding-left: ($spacing-unit * 3);
          }

        }

      }

      &--environment-list,
      &--additional-list {

        @media #{$ipad} {
          width: 49%;
        }

      }

      &--environment-list {

        .base {

          svg,
          i {
            @include font-size(15px);
            color: $colour-dist-grey;
            margin-left: ($spacing-unit * 2);
            vertical-align: inherit;
          }

        }

        .holder-content {
          clear: both;

          &.is-battery {
            margin-bottom: $spacing-unit * 3;

            .title {
              width: 100%;
            }
          }

          .title {
            width: 36%;

            @media #{$ipad} {
              min-width: 123px;
              padding-right: ($spacing-unit * 3);
            }

            @media #{$ipad-landscape} {
              min-width: 168px;
            }

            @media #{$desktop} {
              min-width: 210px;
            }

            &__empty {
              display: none;

              @media #{$ipad} {
                display: inline-block;
              }

            }

            &__additional-data {
              float: left;
            }
          }

          .svhc-additional-data {
            float: left;
            width: 100%;

            @media #{$ipad} {
              max-width: 63%;
              width: auto;
            }
          }
        }

        .flex-holder {
          display: flex;
          flex-direction: column;
          margin-bottom: ($spacing-unit * 3);

          @media #{$ipad} {
            flex-direction: row;
            margin-bottom: 0;
          }

          .title {
            flex-shrink: 0;
          }

        }
      }

      &--article-list {

        .holder-content {
          clear: both;
          min-width: 300px;
          width: auto;

          .title {
            width: auto;

            @media #{$ipad} {
              min-width: 170px;
              padding-right: ($spacing-unit * 3);
            }

          }

          ul {
            float: left;
            padding: ($spacing-unit * 2) 0;
            width: 100%;

            li {
              font-weight: normal;
              list-style: disc inside;
              padding-left: ($spacing-unit * 3);
            }

          }

        }
      }

        &--additional-list {

          @media #{$ipad} {
            float: right;
          }
        }
    }
  }

  .base {
    @include font-size(18px);
    @include line-height(20px);
    color: $colour-dist-grey;
    letter-spacing: -.38px;
    margin: 0;
    padding-bottom: ($spacing-unit * 3);

    @media #{$desktop} {
      @include font-size(20px);
      @include line-height(24px);
    }

  }

  .holder-content {
    @include font-size(12px);
    @include line-height(22px);
    float: left;
    width: 100%;
    color: $colour-dist-grey;

    @media #{$desktop} {
      @include font-size(14px);
      @include line-height(22px);
    }

    .link {
      color: $link-blue;

      &:hover {
        color: $link-dark-blue;
        text-decoration: underline;
        transition: .2s ease;
      }
    }

    .bulky-icon {
      background-image: url('/_ui/all/media/sprites_00a7b3d765.png');
      background-repeat: no-repeat;
      -webkit-background-size: 792px 642px;
      -moz-background-size: 792px 642px;
      background-size: 792px 642px;
      background-position: -752px -544px;
      width: 22px;
      height: 22px;
    }

    .dangerous-icon {
      background-image: url('/_ui/all/media/sprites_00a7b3d765.png');
      background-repeat: no-repeat;
      -webkit-background-size: 792px 642px;
      -moz-background-size: 792px 642px;
      background-size: 792px 642px;
      background-position: -724px -542px;
      width: 22px;
      height: 22px;
    }

    .bulky-icon,
    .dangerous-icon {
      margin-right: ($spacing-unit);
    }

    .warntext {
      color: $colour-dist-red;
      display: block;
      padding-top: ($spacing-unit * 3);

      svg {
        margin-right: ($spacing-unit);
      }

      @media #{$ipad-landscape} {
        @include font-size(14px);
        @include line-height(20px);
      }

    }

    .title {
      font-weight: bold;

      @media #{$ipad} {
        display: inline-block;
        width: 60%;
      }

    }

    .link {
      color: $link-blue;
      display: inline-block;
      max-width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;

      &:hover {
        color: $link-dark-blue;
        text-decoration: underline;
      }
    }

    &--ghs {
      margin: ($spacing-unit * 4) 0 0;
    }

    &--signal-word,
    &--haz-stat,
    &--sup-haz-info {
      margin-top: ($spacing-unit * 4);

      ul {
        padding-left: ($spacing-unit * 5);

        li {
          list-style-type: disc;
        }
      }
    }

    .hazardous-content {
      display: inline-flex;

      .description {
        padding-left: ($spacing-unit);
      }
    }
  }
}
