.mod-lightbox-shipment-tracking {

    .modal {
        #obj > .modal;
        width: 485px;

		&.current {
			display: block;
		}
        
        & .hd,
		& .bd,
		& .ft {
        	padding: 0 20px;
        }

		.cell-header-collapse {
			border-bottom: 1px solid #cacaca;
			float: left;
			margin-bottom: 10px;
			padding-bottom: 5px;
			width: 100%;

			&.current {


				.toggle {


					.fa-angle-up {
						display: block;
					}

					.fa-angle-down {
						display: none;
					}

				}

			}

			&__id {
				cursor: pointer;
				display: inline-block;
				font-size: 14px;

				.toggle {
					display: inline-block;
					padding-left: 10px;

					.fa-angle-down {
						display: block;
					}

					.fa-angle-up {
						display: none;
					}

				}

			}

		}

	    .hd {
	    	color: @c-white;
	    	background-color: @c-black;
	    	padding-top: 10px;
	    	margin: 0;

		    .title {
		    	font-weight: 400;

				a.tracking-id {
					font-size: 24px;
					pointer-events: none;
				}

				.n {
					color: @c-greyD;
				}

		    }

		    .btn-close {
		    	float: right;
				margin-right: -6px;
				margin-top: 4px;
		    }

		    p {
				font-size: 12px;
		    	font-weight: 200;
				padding: 10px 0;
		    }

	    }

        .bd {
			background-color: @c-white;
			margin: 0;
        	max-height: 300px;
			overflow-y: scroll;
			padding: 20px;

        	h3 {
        		font-size: 16px;
        		color: @c-red;
        		width: 440px;

        		a {
	        		color: @c-red;
        		}

        	}

        	.gu-4 {
				border-bottom: 1px solid #ccc;
        		padding: 12px 0;
        		width: 100%;

        		&:last-child {
        			border-bottom: 0;
        		}
        	}

			.cell-body-content {
				display: none;
				float: left;
				padding-bottom: 15px;
				width: 100%;

				&.current {
					display: block;
				}

			}

        	.cell-info-cell {
				float: left;
        		font-size: 13px;
				line-height: 18px;
				width: 25%;

        		.hd {
					padding: 0;
			    	color: @c-black;
			    	background-color: @c-white;
			    	font-weight: 600
        		}

        		.bd {
					height: auto;
					overflow: inherit;
					max-width: inherit;
					padding: 0;

					&.ellipsis {
						overflow: hidden;
						padding-right: 1px;
						width: 100px;
					}

				}

        	}

        }

        .ft {
        	background-color: @c-greyB;
			float: left;
			margin: 10px 0 0;
        	text-align: center;
			width: 100%;

        	a {
        		display: block;
				font-size: 14px;
				outline: none;
        		padding: 5px 10px;
        	}
         }
    }

}

