.mod-metahd-suggest {
  width: 100%;

  &.gu-12 {
    max-width: 960px;
  }

  .container-suggest {
    bottom: 0;
    margin-left: 0;
    overflow: visible;
    position: fixed;
    top: 165px;
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 1100;

    @media #{$ipad-landscape} {
      margin-left: 213px;
      left: 29%;
      transform: translateX(-50%);
      top: 68px;
      width: 900px;
    }

    @media #{$desktop} {
      left: auto;
      margin-left: ($spacing-unit * 45);
      transform: none;
    }

    &.row {
      background: transparent !important;
    }

    &:before {
      border-color: transparent transparent $colour-dist-red transparent;
      border-style: solid;
      border-width: 0 9px 10px;
      content: " ";
      display: block;
      height: 0;
      position: relative;
      left: 185px;
      width: 0;

      @media #{$ipad-landscape} {
        left: 285px;
      }

      @media #{$desktop} {
        left: 185px;
      }

    }

    .content {
      background: $colour-white;
      border-top: 4px solid $colour-dist-red;
      display: block;
      float: left;
      width: 100% !important;

      @media #{$ipad-landscape} {
        display: table;
        float: none;
      }

      .lt-ie8 & {
        display: block;
      }

      .left {
        background: $mod-suggest-grey;
        border-right: 1px solid #ccc;
        display: none;
        width: 400px;
        vertical-align: top;

        @media #{$ipad-landscape} {
          display: table-cell;
        }

        .lt-ie8 & {
          display: block;
          float: left;
        }

      }

      .right {
        display: block;
        position: inherit;

        .lt-ie8 & {
          display: block;
          width: 555px;
        }

      }

      .suggest-section {
        float: left;
        padding: ($spacing-unit * 2 + 3) ($spacing-unit * 4) 0 ($spacing-unit * 4);
        width: 100%;

        &__text {
          @include font-size(11px);
          @include line-height(19px);
          color: $colour-mid-grey;
          display: inline-block;
          padding-left: ($spacing-unit * 3);
          vertical-align: middle;

          .suggest-category-text {
            display: inline-block;
            padding-left: ($spacing-unit - 2);
          }

        }

        &.mans {
          padding-top: 15px;
        }

        &.prods {
          padding: ($spacing-unit * 2 + 3) 0 0 0;

          h3 {
            border: 0;
            color: $colour-dist-grey;
            padding-bottom: 0;
          }

        }

        &.cats, &.mans {

          .svg-inline--fa {
            margin-left: $spacing-unit;
          }

        }

        &:last-child {
          border: 0;

          ul {
            margin-bottom: ($spacing-unit * 4);
          }

        }

        h3 {
          @include font-size(18px);
          @include line-height(19px);
          -webkit-font-smoothing: antialiased;
          color: $mod-suggest-font-grey;
          border-bottom: 1px solid #979797;
          margin-bottom: 15px;
          padding-bottom: 15px;
        }

        .js-results {
          background-color: $colour-white;
          bottom: 0;
          left: 0;
          overflow: scroll;
          position: absolute;
          right: 0;
          top: $spacing-unit*12;
          margin-top: ($spacing-unit * 2);

          @media #{$ipad} {
            overflow: hidden;
            background-color: transparent;
            position: relative;
            top: 0;
          }

        }

        ul {
          margin: 10px -20px 0 -20px;

          li {

            a {
              display: block;
              float: left;
              height: auto;
              max-width: 398px;
              padding: 0 ($spacing-unit * 4);
              width: 100%;

              &:hover {
                background: $colour-dist-red;

                .suggestion {
                  color: $colour-white;

                  .manufacturer-name {
                    color: $colour-white;
                  }

                }

              }

              .suggestion {
                @include font-size(13px);
                @include line-height(32px);
                -webkit-font-smoothing: antialiased;
                color: $mod-suggest-font-grey;
                display: block;
                float: left;
                padding: 0;
                width: 100%;

                i {
                  @include font-size(15px);
                  display: inline-block;
                  float: right;
                  padding-top: ($spacing-unit + 3);
                }

                .manufacturer-name {
                  display: inline-block;
                  float: left;
                  max-width: 240px;

                  i {
                    display: inline-block;
                    float: right;
                    font-size: 15px;
                    padding-left: 15px;
                    padding-top: 8px;
                  }

                }


                img {
                  display: inline-block;
                  float: right;
                  height: 23px;
                }

              }
              .search-suggestion {
                @include font-size(13px);
                @include line-height(32px);
                -webkit-font-smoothing: antialiased;
                color: $mod-suggest-font-grey;
                display: flex;
                float: left;
                padding: 0;
                width: 100%;

                i {
                  @include font-size(15px);
                  display: inline-block;
                  padding-top: ($spacing-unit + 3);
                  margin-left: auto;
                  order: 2;
                }

              }

            }

          }

        }

      }

    }

  }

  .prods {

    h3 {
      border: 0;
      color: $colour-dist-grey;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    a {
      border-bottom: 0;
      display: block;
      float: left;
      padding: 0 20px;
      width: 100%;
      position: relative;
      outline: none;

      &:last-child {
        margin-bottom: 20px;
      }

      &:hover {

        .title-text {
          text-decoration: underline;
        }

      }

      .product-wrapper {
        border-top: 1px solid #979797;
        float: left;
        padding: 18px 0;
        width: 100%;
      }

      .product-image {
        background-color: $colour-white;
        border: 0;
        float: left;
        min-height: 130px;
        min-width: 60px;
        text-align: center;

        @media #{$mobile} {
          min-height: auto;
        }

        @media #{$ipad} {
          min-width: 82px;
        }

        .lt-ie8 & {
          height: 59px;
        }

        img {
          display: inline-block;
          max-height: $mod-cart-directorder-dropdown-image-height;
          max-width: $mod-cart-directorder-dropdown-image-width;
        }

      }

      .product-row {
        height: 30px;
        margin-left: 0;

        @media #{$ipad-landscape} {
          margin-left: $spacing-unit * 20 - 1;
        }

        .title-text {
          @include font-size(15px);
          @include line-height(18px);
          -webkit-font-smoothing: antialiased;
          color: $colour-dist-grey;
          font-weight: 600;
          max-width: 190px;
          width: 100%;

          @media #{$ipad-landscape} {
            max-width: unset;
            width: 230px;
          }

        }

        &:last-child {
          border: 0;
          height: auto;
          margin-top: ($spacing-unit + 2);
        }

        .lt-ie9 & {

          &.last {
            border: 0;
            height: auto;
            margin-top: ($spacing-unit + 2);
          }

        }

      }

      .product-name,
      .product-details {
        display: block;
        float: left;
        width: 190px;

        @media #{$mobile} {
          float: none;
          width: 170px;
        }

        @media #{$ipad} {
          float: left;
        }

        span {
          @include font-size(12px);
          @include line-height(18px);
          -webkit-font-smoothing: antialiased;
          display: block;
          color: $colour-dist-grey;

          .bold {
            display: inline-block;
            font-weight: bold;
          }

        }

      }

      .product-name {
        margin-top: 4px;
      }

      .product-details {
        font-weight: 500;
      }

      .product-price {
        @include font-size(20px);
        display: block;
        float: left;
        font-weight: 500;
        margin: 0 0 ($spacing-unit * 2) 0;
        min-width: 130px;

        @media #{$mobile} {
          float: right;
          min-width: auto;
        }

        @media #{$mobile-landscape} {
          margin-top: -($spacing-unit*5);
        }

        @media #{$ipad} {
          margin: 0;
        }

      }

    }

  }

  .text-highlight {
    color: $border-mod-suggest-not-found-grey-secondary;
  }

  .numeric {
    margin: 0;

    .lt-ie8 & {
      margin-left: 0;
      margin-right: 0;

      &.numeric-error,
      &.numeric-warning {

        .ipt {
          height: 33px;
          width: 58px;
        }

      }

    }

    .ipt {
      @include line-height(27px);
      border: ($spacing-unit - 3) solid $colour-light-grey;
      height: 30px;
      margin: 0 ($spacing-unit + 3) 0 ($spacing-unit + 3);
      padding: 0 ($spacing-unit * 2 + 1);
      width: 60px;
      vertical-align: bottom;

      .lt-ie8 & {
        float: left;
        margin: 0;
      }

      &:hover {
        outline: none;
      }

    }

    .btn {
      top: 0;

      i {
        margin-top: 0;
      }

      .lt-ie8 & {
        float: left;
        left: 0;
        position: relative;
      }

    }
    .numeric-popover {

      &.popover {
        bottom: 38px;
        left: -79px;
        top: auto;
        width: 234px;
      }

      .popover-content{
        padding: ($spacing-unit - 2);
      }
      
    }

  }

  .hook-cart-add {
    float: left;
    height: 30px;
    margin-left: ($spacing-unit * 2);
    width: 30px;

    i {
      @include font-size(13px);
      @include line-height(32px);
      background: $colour-dist-green;
      border-radius: 100%;
      display: block;
      height: 30px;
      margin: 0;
      text-align: center;
      width: 30px;

      &:before {
        color: $colour-white;
        margin-right: ($spacing-unit - 4);
      }

    }

    &:hover {

      i {
        background: $colour-dark-green;
      }

    }

    &:focus {
      border: 0;
      outline: 0;
    }

  }

  .hook-cart-decrease, .hook-cart-increase {
    @include line-height(30px);
    border: ($spacing-unit - 3) solid $colour-light-grey;
    border-radius: 100%;
    height: 30px;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 30px;

    i {
      @include line-height(27px);
      background-image: none !important;
      color: $colour-mid-grey;
      display: block;
    }

    &.active {

      i {
        background-image: none;
      }

    &:hover {

      i {
        background-image: none;
      }

      }

    }

  }

  .ico-cart-decrease,
  .ico-cart-increase,
  .ico-cart-add {

    i {
      margin-top: 0;
    }

  }

  .add-cart-content {
    float: left;
    margin-top: ($spacing-unit);

    @media #{$mobile} {
      float: right;
      margin-top: 0;
    }

    @media #{$mobile-landscape} {
      bottom: 15px;
      position: absolute;
      right: $spacing-unit * 4;
    }


    .lt-ie8 & {
      float: none;
      height: 44px;
      padding-left: ($spacing-unit);
      padding-top: ($spacing-unit);
    }
    
  }

  input {
    padding: 0 11px;
  }


  // Sticky
  &.-stuck {
    background-color: $colour-white;
    position: fixed;
    top: 0;
    z-index: 1200;

    // Show "To Top" Link if HD Sticky
    .skin-metahd-item-totop {
      display: block;
    }

  }

  .energy-label {
    position: relative;
  }

  .energy-label-popover {
    margin-left: $spacing-unit * 20;
    margin-top: -$spacing-unit * 20;
  }

}
