@import 'global-utilities';

:host,
.selector {
  position: relative;
}

.selector {
  width: 100%;
}

.quantity-wrapper {
  position: relative;
  width: 100%;
}

.total-added {
  @include font-size(14px);
  @include line-height(18px);
  vertical-align: middle;
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  padding: 6px 8px;
  height: 38px;
  width: 48px;
  border: 1px solid $border-dist-grey;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.min-quantity-tooltip,
.maximum-quantity-tooltip {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 60px;
  transform: translateX(-50%);
  min-width: 155px;
  word-wrap: break-word;
  text-align: center;
}
