.mod-cart-emptied {
  background: $colour-white;
  border: 1px solid $cart-emptied-border-grey;
  border-radius: 2px;
  float: left;
  margin-bottom: ($spacing-unit * 4);
  width: 100%;

  &__holder {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding: ($spacing-unit * 3) ($spacing-unit * 4);
    width: 100%;

    &__image {
      max-width: 24px;

      i {
        @include font-size(14px);
        @include line-height(24px);
        background: $colour-dist-red;
        border-radius: 50%;
        color: $colour-white;
        height: 24px;
        text-align: center;
        width: 24px;
      }

    }

    &__content {
      @include font-size(14px);
      @include line-height(20px);
      padding-left: ($spacing-unit * 2);

      span {
        color: $colour-dist-red;
        cursor: pointer;
        padding-left: ($spacing-unit);

        &:hover,
        &:focus {
          text-decoration: underline;
        }

      }

    }

  }

}
