.skin-survey-form {
	.intro {
		margin-bottom: 40px;
	}

	.row-checkbox {
		margin-bottom: 45px;
	}

	.btn-back {
		text-align: right;
		min-width: 100px;

		i {
			.s-arrow-left-black();
			margin-top: 4px;
			float: left;
		}

		&:hover i {
			.s-arrow-left-blue();
		}
	}

	input.checkbox-big[type="checkbox"] + label,
	input.checkbox-big[type="checkbox"] + input + label {
		padding: 8px 0;
	}

	.popover-variation(@c-white, @c-red, 'top');
	.popover {
		&.top {
			margin-top: -16px;// overwrite popover in order to move it down a bit
		}
	}

	.field-wrapper{
		position: relative;
		.btn-info{
			margin-left: 3px;
		}
		.skin-toolsitem-information{
			position: absolute;
			right: 270px; 
			top: 2px;
			.popover-title{
				text-align: left;
			}
		}
	}
	
	.type-of-customer{
		margin-bottom: 10px;
	}
	
	.warning-message-export-shop {
		padding:10px;
		margin-bottom:15px;
		border:1px solid #F59B28;
		font-size:14px;
		color: #F59B28;
		text-align: center;  
		background: lightyellow;
	}
}