.mod-survey {

	.form-box {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.form-box-equal {
		padding: 20px 0;
	}
	
	.btn-survey {
		width: 100%;
	}
	.btn-primary {
		width: 100%;
		text-align: left;

		i {
			.s-arrow-right-white();
			margin-top: 4px;
			margin-right: 5px;
			float: right;
		}

		&:hover i,
		&:focus i {
			.s-arrow-right-red();
		}

		&:active i, &.active i {
			.s-arrow-right-red();
		}

		&[disabled], &.disabled {
			i {
				.s-arrow-right-white();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-arrow-right-white();
			}
		}
	}
	
}