@import 'global-utilities';

.set-password {
  background: $colour-pale-grey;

  &__card {
    max-width: 448px;
    margin: ($spacing-unit * 14) auto ($spacing-unit * 27);

    &__title {
      @include font-size(24px);
      @include line-height(28px);
      float: none;
      margin-bottom: $spacing-unit * 4;
      font-weight: $font-weight-normal;
      text-align: center;
    }
  }

  &__form {
    .form-group {
      margin-bottom: $spacing-unit * 4;

      &__info {
        display: block;

        &,
        &.is-error {
          @include font-size(12px);
          @include line-height(12px);
        }

        &.is-error {
          padding: $spacing-unit - 1;
          border-radius: 4px;
          margin-top: $spacing-unit + 3;
          background-color: $ux-red-danger-bg;
        }
      }

      .control-label,
      .form-control {
        margin-bottom: $spacing-unit + 3;
      }

      .control-label {
        @include font-size(14px);
        @include line-height(14px);
        font-weight: $font-weight-medium;
      }

      .form-control {
        height: $ux-default-input-height;
        padding-right: $spacing-unit * 7;
        border-color: $colour-redesign-light-grey;
        margin-bottom: $spacing-unit;

        &.is-valid {
          border-color: $border-correct-input-green;
        }

        &.is-invalid {
          border-color: $border-error-input-red;
          color: $border-error-input-red;
        }

        &.is-valid,
        &.is-invalid {
          background-image: none;
        }
      }

      .pwd-icon-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 ($spacing-unit + 3);

        &:focus {
          outline: none;
        }

        app-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__email {
    @include font-size(14px);
    @include line-height(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $ux-default-input-height;
  }

  &__email-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
