<div class="set-password">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="set-password__card">
          <app-dist-card id="setPasswordCard">
            <h2 class="set-password__card__title" id="setPasswordTitle">
              {{ pageTitle$ | async }}
            </h2>

            <form class="set-password__form" [formGroup]="setPasswordForm">
              <div *ngIf="isEmailIncludedAsParam" class="form-group">
                <label class="control-label" id="setPasswordEmailLabel">{{ 'form.email' | cxTranslate }}</label>

                <div class="set-password__email">
                  <span class="set-password__email-text" id="setPasswordEmail">{{ email }}</span>

                  <app-icon class="icon-success ml-1" [icon]="successTick" iconType="svg" width="16"></app-icon>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" id="setPasswordLabel" for="setPasswordInput">
                  {{ 'form.password' | cxTranslate }}
                </label>

                <div class="p-relative">
                  <input
                    class="form-control"
                    id="setPasswordInput"
                    [type]="passwordVisible ? 'text' : 'password'"
                    [class.is-valid]="setPasswordForm.get('password')?.valid"
                    [class.is-invalid]="
                      setPasswordForm.get('password').errors && setPasswordForm.get('password').touched
                    "
                    formControlName="password"
                  />

                  <button
                    class="btn pwd-icon-btn"
                    id="setPasswordVisibilityToggle"
                    (click)="passwordVisible = !passwordVisible"
                    tabindex="-1"
                  >
                    <ng-container *ngIf="passwordVisible; else passwordNotVisible">
                      <app-icon id="setPasswordEyeSlashPwd" iconName="eye" iconType="svg"></app-icon>
                    </ng-container>

                    <ng-template #passwordNotVisible>
                      <app-icon id="setPasswordEyePwd" iconName="eye-slash" iconType="svg"></app-icon>
                    </ng-template>
                  </button>
                </div>

                <small
                  *ngIf="
                    (setPasswordForm.get('password').hasError('required') ||
                      setPasswordForm.get('password').hasError('minlength')) &&
                    setPasswordForm.get('password').touched
                  "
                  class="form-group__info is-error"
                  id="setPasswordRequiredError"
                >
                  <div class="d-flex align-items-center">
                    <span class="mr-1">
                      <app-icon
                        class="icon-error"
                        id="setPasswordRequiredWarningIcon"
                        [icon]="warningIcon"
                        width="16"
                        height="16"
                      ></app-icon>
                    </span>
                    {{ 'validations.pwd_error_required' | cxTranslate }}
                  </div>
                </small>
              </div>

              <div class="form-group">
                <label class="control-label" id="setPasswordConfirmLabel" for="setPasswordConfirmInput">
                  {{ 'form.confirm_pwd' | cxTranslate }}
                </label>

                <div class="p-relative">
                  <input
                    class="form-control"
                    id="setPasswordConfirmInput"
                    [type]="confirmPasswordVisible ? 'text' : 'password'"
                    [class.is-valid]="setPasswordForm.get('confirmPassword')?.valid"
                    [class.is-invalid]="
                      setPasswordForm.get('confirmPassword').errors && setPasswordForm.get('confirmPassword').touched
                    "
                    formControlName="confirmPassword"
                  />

                  <button
                    class="btn pwd-icon-btn"
                    id="setPasswordConfirmVisibilityToggle"
                    (click)="confirmPasswordVisible = !confirmPasswordVisible"
                    tabindex="-1"
                  >
                    <ng-container *ngIf="confirmPasswordVisible; else confirmPasswordNotVisible">
                      <app-icon id="setPasswordConfirmEyeSlashPwd" iconName="eye" iconType="svg"></app-icon>
                    </ng-container>

                    <ng-template #confirmPasswordNotVisible>
                      <app-icon id="setPasswordConfirmEyePwd" iconName="eye-slash" iconType="svg"></app-icon>
                    </ng-template>
                  </button>
                </div>

                <small
                  *ngIf="
                    (setPasswordForm.get('confirmPassword').hasError('required') ||
                      setPasswordForm.get('confirmPassword').hasError('minlength')) &&
                    setPasswordForm.get('confirmPassword').touched
                  "
                  class="form-group__info is-error"
                  id="setPasswordConfirmRequiredError"
                >
                  <div class="d-flex align-items-center">
                    <span class="mr-1">
                      <app-icon
                        class="icon-error"
                        id="setPasswordConfirmRequiredWarningIcon"
                        [icon]="warningIcon"
                        width="16"
                        height="16"
                      ></app-icon>
                    </span>
                    {{ 'validations.pwd_error_required' | cxTranslate }}
                  </div>
                </small>

                <small
                  *ngIf="
                    setPasswordForm.get('confirmPassword').hasError('noMatch') &&
                    setPasswordForm.get('confirmPassword').touched
                  "
                  class="form-group__info is-error"
                  id="setPasswordConfirmNoMatchError"
                >
                  <div class="d-flex align-items-center">
                    <span class="mr-1">
                      <app-icon
                        class="icon-error"
                        id="setPasswordConfirmNoMatchWarningIcon"
                        [icon]="warningIcon"
                        width="16"
                        height="16"
                      ></app-icon>
                    </span>
                    {{ 'validations.pwd_no_match_error' | cxTranslate }}
                  </div>
                </small>
              </div>

              <app-dist-button
                (click)="onSubmit()"
                buttonId="setPasswordConfirmSubmitButton"
                width="w-fill"
                height="h-large"
              >
                {{ 'updatePwd.submit' | cxTranslate }}
              </app-dist-button>
            </form>
          </app-dist-card>
        </div>
      </div>
    </div>
  </div>
</div>
