<div class="overlay" id="contentPopupMain">
  <div class="success-popup">
    <div class="success-popup__wrapper">
      <div class="success-popup__text">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-right p-0">
              <div class="success-popup__close">
                <app-icon
                  class="right icon-close"
                  id="contentPopupCloseBtn"
                  [icon]="close"
                  (click)="onCloseButton()"
                ></app-icon>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="data.title" class="success-popup__text--title" id="contentPopupTitle">
          {{ data.title | cxTranslate }}
        </div>
        <div
          class="success-popup__text--subtitle"
          id="contentPopupSubtitle"
          [innerHtml]="data.content | cxTranslate"
        ></div>
        <button class="success-popup__button" id="contentPopupFindOutMoreButton">
          <a class="success-popup__button--content" href="/ordering/cms/ordering">
            {{ 'form.lc_popup_button' | cxTranslate }}
          </a>
        </button>
        <div id="contentPopupTandC">
          <button class="success-popup__button-order">
            <a class="success-popup__TandC" href="/terms-and-conditions/cms/agb">
              {{ 'form.lc_popup_T&C' | cxTranslate }}
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
