.skin-productlist-filters {
  float: left;
  padding-bottom: $spacing-unit*2;
  width: 100%;

  > div {
    position: relative;
  }

  .productlistpage {
    margin-top: $spacing-unit*2;

    &__filter-view {
      border-right: 1px solid $plp-facet-border-grey-new;
      padding-bottom: $spacing-unit * 4;
    }

    &__filter-view-search {
      display: flex;
      flex-wrap: wrap;

      &.hide {
        height: 38px;
        overflow: hidden;

        .other-facets {

          .facet-group {
            padding-top: 2px;
          }

        }

      }

    }

    &__filter-search {
      padding-bottom: $spacing-unit*2;
      position: relative;
    }

    &__show-hide-filter {
      background-color: $colour-dark-grey;
      bottom: -($spacing-unit * 10);
      border-radius: $spacing-unit * 4;
      display: none;
      font-family: $font-montserrat;
      font-weight: bold;
      left: 50%;
      padding: ($spacing-unit * 2) ($spacing-unit * 6);
      position: absolute;
      transform: translateX(-50%);
      z-index: 99;

      @media #{$ipad-landscape} {
        display: inline-block;
      }

    }

  }

  .facet-view,
  .facet-value-list-container  {

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $colour-pale-grey;
      border-radius: $spacing-unit*2;
    }

    &::-webkit-scrollbar-thumb {
      background: $plp-facet-sidebar-grey;
      border-radius: $spacing-unit*2;
    }

  }

}

.isie7, .isie8 {

  .skin-productlist-filters {

    .productlistpage {

      &__filter-view-search {
        float: left;
        width: 100%;
      }

      &__filter-search {
        position: static;
        clear: none;
      }

    }

  }

}

.isie7 {

  .skin-productlist-filters {

    .productlistpage {

      &__filter-view-search {
        height: auto;
        float: left;
        width: 100%;
      }

    }

  }

}