.skin-productlist-structure {
  float: left;
  width: 100%;

  .productlistpage {

    &__filter-view-search {
      padding: 0 ($spacing-unit * 4) ($spacing-unit * 4);
    }

    &__filter-view,
    &__filter-search {
      float: left;
      padding: $spacing-unit*2;
    }

    &__filter-view {
      width: 16.66667%;
    }

    &__filter-search {
      position: relative;
      width: 82%;
    }

  }

}