.skin-productlist-products-plp {
  float: left;
  width: 100%;

  .plp-filter-products {
    font-family: Arial;

    &__product {
      border-bottom: 1px solid $colour-light-grey;
      padding: ($spacing-unit * 4) 0;
      position: relative;

      .productlabel-wrap {
        width: max-content;
      }

    }

    &__img {
      display: inline-block;
      width: 100%;
    }

    &__product-link {
      display: inline-block;
      padding: 0 ($spacing-unit*2);
      text-align: center;
      width: 70px;
      height: 85px;
      overflow: hidden;

      &:hover {
        background-color: $colour-white;
        border: 1px solid $colour-light-grey;
        border-radius: $spacing-unit - 3;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
        height: 180px;
        position: absolute;
        transition: none;
        width: 180px;
        z-index: 10;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: auto;
        }

      }

    }

    &__product-actions {
      clear: both;
      padding-top: ($spacing-unit * 2);
      width: 100%;

      &__item {

        display: inline-block;
        width: 50%;

        &--left {
          display: inline-block;
          float: left;
          padding-top: ($spacing-unit * 3.4);
        }

        &--right {
          float: right;
          text-align: right;
        }

        .mod-product-tools,
        .product-family-holder {
          display: inline-block;
          vertical-align: middle;
        }

        .product-family-holder {

          .product-family {
            @include font-size(13px);
            @include line-height(18px);
            display: block;
            color: $colour-dist-carmine;

            &:hover,
            &:focus {
              color: $colour-dist-carmine;
              text-decoration: underline;
            }
          }

        }

        .shipping-info {
          display: inline-block;
          float: none;
          padding-right: ($spacing-unit * 3);
          width: auto;

          .skin-shipping-information-comparelist {
            border: 0;
            float: left;
            height: 45px;
            padding: 0;
            position: relative;
            width: 100%;

            .availability {
              padding: 0;
              width: 100%;

              .row {
                display: block;
                margin: 0;
                padding: 0;
                text-align: right;
                text-indent: -34px;
                width: 100%;
              }

            }

            .info-stock {

              .leadTimeHeader {
                display: block;

                a {
                  bottom: 0;
                  margin: 0;
                  width: 100%;
                }

              }

            }

          }

        }

        .num-stepper {
          display: inline-block;

          .numeric-btn {
            @include font-size(13px);

            &:hover {
              color: $colour-white;
            }

          }

          .ipt {
            @include font-size(13px);
            font-weight: normal;
            width: 40px;
          }

        }

        .button-holder {
          display: inline-block;
          float: none;
          padding-left: ($spacing-unit * 3);
          width: auto;

          .btn-cart {
            float: right;
            height: 34px;
            padding: 0 ($spacing-unit * 6);
            width: auto;

            i {
              display: none;
            }

            .text {
              display: inline-block;
              font-weight: bold;
            }

          }

        }

      }

    }

    &__product-tools {
      display: block;
    }

    &__information {
      float: left;
      padding-right: ($spacing-unit * 3);
      width: 80%;

      .title {
        @include font-size(15px);
        font-weight: 700;
      }

      .label {
        @include font-size(12px);
        color: $plp-info-label;
      }

      .value {
        @include font-size(12px);
        color: $plp-info-value;
        margin-right: $spacing-unit*2;
      }

      .teaser-link {

        .ellipsis {
          @include font-size(15px);
          white-space: nowrap;
        }

      }

      &__data {

        &__item {
          display: inline-block;
        }

        &__main {
          display: none;
          float: left;
          padding-top: ($spacing-unit * 2);
          width: 100%;

          .attributes {
            display: inline-block;
            float: left;
            width: 50%;

            &:nth-of-type(even) {
              padding-right: ($spacing-unit * 3);
            }

            &__row {

              .label,
              .value {
                display: inline-block;
                float: left;
                width: 50%;
              }

              .value {
                margin-right: 0;
                text-align: left;
              }

            }

          }

          &.showdetailview {
            display: block;
          }

        }

      }

    }

    &__price {
      float: right;
      width: 20%;

      .price {
        @include font-size(16px);
        text-align: right;
        font-weight: 700;

        &,
        .old-price,
        .vat-text {
          display: block;
        }

        .old-price,
        .vat-text {
          color: $plp-info-label;
        }

        .old-price {
          text-decoration: line-through;
        }

        .price-save {
          text-transform: capitalize;
          color: $colour-dist-green;
        }

        .price-save,
        .vat-text {
          @include font-size(14px);
        }
      }

    }

    &__scaledprice {
      float: right;
    }

    &__details {
      display: none;
      margin: $spacing-unit*2 0;

      &.showdetailview {
        display: block;
      }

    }

    &__attribute {
      float: left;

      .label {
        @include font-size(12px);
        color: $plp-attribute-label;
        display: inline-block;
      }

      .value {
        @include font-size(12px);
        display: inline-block;
      }

    }

    &__shipping-info {
      display: block;
      position: relative;
    }

  }

  &.standard-view {

    .plp-filter-products {

      &__details {
        display: none;
      }

    }

  }

  .mod-productlist-controllbar {
    padding: ($spacing-unit*4) 0;
  }

  .mod-product-label {
    font-size: .73rem;
    left: $spacing-unit*2;
    letter-spacing: 0px;
    top: 0;

    .bd {
      @include font-size(12px);
      font-weight: 700;
      height: 18px;
      padding: ($spacing-unit - 2) ($spacing-unit * 3);
      line-height: normal;

      &.calibrationService {
        padding: 0;
        width: auto;
        .iso {
          height: auto;
          line-height: normal;
        }

        .calibrated {
          line-height: normal;
          padding: 0 $spacing-unit;
        }

      }

    }

  }

  .mod-energy-efficiency-label {
    bottom: 0;
    left: $spacing-unit*2;
    z-index: 10;

    .energy-label-popover {
      margin-top: -($spacing-unit*24);
      left: $spacing-unit*12;
    }

  }

}

.isie7,
.isie8 {

  .skin-productlist-products-plp {

    .message-wrapper {
      margin: 10% 32%;

      .loading-message {

        &__icon {
          margin-left: 45%;
          width: 50px;
        }

      }

    }

    .plp-filter-products {

      &__product-link {

        &:hover {
          height: 130px;
          width: 130px;

          img {
            left: 5%;
            top: 5%;
          }

        }

      }

    }

  }

}

.isie7 {

  .skin-productlist-products-plp {

    .plp-filter-products {

      &__information {
        width: 70%;
      }

      &__product-actions {

        .btn-cart {
          width: 250px;

          .text {
            display: block;
          }

        }

      }

    }

  }

}
