.mod-popular-categories {

    .home-popular-categories {
  
      &__content {
        margin-bottom: ($spacing-unit * 2);
        padding: 0 ($spacing-unit * 0.5) ($spacing-unit * 0.5) ($spacing-unit * 0.5);
        padding-bottom: 0;

        .bx-wrapper {
          margin-bottom: ($spacing-unit * 3) !important;

          .bx-viewport {
            min-height: 105px;

            .category-parent {

              &__item {
                box-shadow: 0 0 ($spacing-unit + 3) $border-dist-grey;
                min-height: 100px;
                min-width: 1px;
                position: relative;

                .home-popular-categories {

                  &__item {
                    @include line-height(16px);
                    bottom: 10px;
                    left: 10px;
                    position: absolute;
                    width: 80%;
                  }

                }

              }

            }

          }

        }

      }


      &__title {
        @include font-size(20px);
        @include line-height(25px);
        font-weight: 600;
        margin: 0 0 ($spacing-unit * 4) 0;

        @media #{$ipad} {
          @include font-size(21px);
          margin: 0 0 ($spacing-unit * 4 + 2) 0;
        }

        @media #{$desktop} {
          margin: 0 0 ($spacing-unit * 4) 0;
        }

      }

      &__item {

        span {
          color: $colour-cat-parent-border;
          padding-right: ($spacing-unit * 3);
          text-align: right;
        }

        &__see-all  {
          border-top: 1px solid $colour-cat-parent-border;
          color: $colour-dist-red;
          display: none;
          font-weight: 600;
          margin-bottom: ($spacing-unit * 2 + 3);
          outline: none;
          padding-top: ($spacing-unit * 2 + 3);

          @media #{$desktop} {
            display: block;
          }

        }

      }

    }


  .category-parent {

    li {

      &.sliderUnmount {
        width: auto !important;
      }

    }

    &__item {
      background: $colour-white;
      border-radius: ($spacing-unit);
      box-shadow: 0 0 ($spacing-unit * 2) $border-dist-grey;
      cursor: pointer;
      display: inline-block;
      margin-right: 2%;
      padding: ($spacing-unit + 2);
      width: 30%;

      @media #{$desktop} {
        @include line-height(23px);
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        display: block;
        padding: 0 0 ($spacing-unit * 2 + 3) ($spacing-unit);
        margin-right: 0;
        width: auto;
      }

      img {
        display: block;
        height: auto;
        max-width: 80px;

        @media #{$desktop} {
          display: none;
        }

      }

      a {
        @include font-size(13px);
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        outline: none;

        @media #{$desktop} {
          @include font-size(16px);
          border-top: 1px solid $colour-cat-parent-border;
          font-weight: 500;
          padding-top: ($spacing-unit * 2 + 3);
        }

        i {
          @include line-height(23px);
          display: none;
          padding-right: ($spacing-unit * 3);

          @media #{$desktop} {
            color: $colour-point-arrow;
            display: inline-block;
          }

        }

        &.moblink {
          border-top: 0;

          @media #{$desktop} {
            display: none;
          }

        }

      }

      &:hover {
        background: $colour-white;
        width: auto;

        @media #{$desktop} {
          background: $colour-dist-red;
        }

        a {
          color: $colour-black;
          padding-left: 0;

          @media #{$desktop} {
            border-top: 0;
            color: $colour-white;
          }

          i {
            color: $colour-white;
          }

        }

      }

      &__moblink {
        display: block;

        @media #{$desktop} {
          border: 0;
          display: none;
        }

        &.moblink {
          display: block;
        }

      }

    }

    li {

      &.sliderUnmount {
        width: auto !important;
      }

    }

  }

}