.mod-form-feedback {
  margin: ($spacing-unit * 6) 0;

  .feedback-box {
    padding-bottom: $spacing-unit * 6;

    .form-intro {
      margin-top: $spacing-unit * 2;
    }

  }

  .feedback-error-box {
    margin-left: $spacing-unit * 4;
    padding: $spacing-unit * 2;
    text-align: left;
    width: 300px;

    & p,
    & span {
      margin-bottom: 0;
      text-align: left;
    }

  }

  .intro-title {
    margin-bottom: $spacing-unit * 4;
  }

  .btn-primary {
    text-align: left;
    width: 100%;

    &:hover i,
    &:focus i {
      color: $colour-dist-red;
    }

    &:active i,
    &.active i {
      color: $colour-dist-red;
    }

    &[disabled],
    &.disabled {

      i {
        color: $colour-white;
      }

    }

    &:disabled {

      i {
        color: $colour-white;
      }

    }

    i {
      color: $colour-white;
      float: right;
      margin-top: $spacing-unit - 2;
    }

  }

}
