$bg-import-tool-matching-grey: #f7f9fc;
$bg-import-tool-matching-warning: rgba(223,20,23,0.1);
$bg-import-tool-matching-btn-proceed: #68C143;

$border-import-tool-matching-grey: #D8D8D8;
$border-import-tool-matching-select: #979797;
$border-import-tool-matching-sep: #979797;

$colour-import-tool-matching-green: #358E10;
$colour-import-tool-matching-grey: #333333;
$colour-import-tool-matching-red: #AC0000;
