@import 'global-utilities';

.qualityPage {
  margin-bottom: ($spacing-unit * 6);
}

.content-banner {
  background: rgb(171, 26, 56);
  background: linear-gradient(135deg, rgba(171, 26, 56, 1) 75%, rgba($colour-white, 0) 75%);
  padding: 16px;
  margin-bottom: ($spacing-unit * 4);
  h2,
  h1 {
    color: $colour-white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
  }
}

.documentation-download {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: #ab1a38;
  margin-bottom: 20px;

  &::after {
    content: '';
    position: relative;
    display: block;
    height: 2px;
    width: 10%;
    background-color: $colour-orange;
    margin-top: $spacing-unit * 2;
  }
}

.advanced-upload {
  width: 100%;
}

.upload-file {
  background: transparent;
  border: 3px dashed $colour-mid-grey;
  border-radius: 10px;
  display: table;
  height: 170px;
  padding: 0 ($spacing-unit * 4);
  text-align: center;
  text-decoration: none;
  width: 50%;
  margin-bottom: $spacing-unit * 3;

  &__item {
    @include font-size(13px);
    display: table-cell;
    vertical-align: middle;

    .browser-ie {
      display: none;
    }
  }

  &--dragover {
    border: 3px solid $colour-dist-mid-grey;
  }

  i,
  span {
    color: $colour-mid-grey;
  }

  span {
    display: block;
    position: relative;
  }

  .filename {
    color: green;
  }
}
.download {
  margin-bottom: $spacing-unit + 3;
  #download-excel-report,
  #download-pdf-report {
    display: inline;
  }
  &__excel,
  &__PDF {
    color: $link-blue;
    display: inline-block;
    font-weight: 700;
    background: none;
    border: none;
    text-decoration: underline;
    @include font-size(16px);

    i {
      padding-right: 0.5rem;
    }
  }
}

.download-bulk {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid $colour-mid-grey;
  height: auto;
  padding: 0.7rem 1rem;
  color: $colour-mid-grey;

  #qualityPageBulkInput {
    background: transparent;
    border: none;
    text-decoration: none;
    color: grey;
    font-weight: $font-weight-bold;
  }
}
.divider {
  border: none;
  border-bottom: 0.5px solid $colour-redesign-dark-black;
  border-top: 0.5px solid $colour-redesign-dark-black;
  clear: both;
  height: 0;
  width: 50%;
  opacity: 0.3;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 3;
}
.disabled {
  pointer-events: none;
  border-color: $colour-light-grey;
  color: $colour-mid-grey;
  opacity: 0.4;

  span,
  input {
    color: $colour-mid-grey;
  }
}
.errors {
  border: 1px solid $colour-dark-red;
  background-color: $colour-error-bg;
  color: $colour-dark-red;
  display: flex;
  font-size: 0.875rem;
  font-weight: $font-weight-bold;
  padding: 10px;
  margin-top: $spacing-unit * 2;
  margin-bottom: 25px;

  &__icon {
    padding: 0 1rem;
    align-items: center;
    display: flex;
    @include font-size(24px);
  }
}

.warnings {
  border: 1px solid #e9af59;
  background-color: #fff4e5;
  color: #b18644;
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px;
  margin-top: -$spacing-unit * 13;
  margin-bottom: $spacing-unit * 5;
  margin-top: $spacing-unit * 4;
  width: 100%;

  &__icon {
    padding: 0 1rem;
    align-items: center;
    color: $colour-rnd-yellow;
    display: flex;
    .fa-info-circle {
      @include font-size(24px);
    }
  }
}

.download-template {
  @include font-size(16px);
  @include line-height(24px);

  color: $link-blue;

  &:hover {
    color: $link-dark-blue;
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }
}
