.mod-erp-sales-status {

  .erp-sales-status {
    @include font-size(12px);
    @include line-height(15px);
    font-weight: bold;

    &__availabletoorder,
    &__instock,
    &__furtherstock,
    &__40-45,
    &__21 {

      span {
        font-weight: bold;
      }

      .fa-check-circle {
        color: $colour-dist-green;

      }

    }

    &__instock,
    &__40-45-instock,
    &__20,
    &__21 {
      color: $colour-dist-green;

      span {
        font-weight: bold;
      }

    }

    &__40-45-outofstock,
    &__nolongeravailable,
    &__currently-unavailable {
      color: $colour-dist-red;

      span {
        font-weight: bold;
      }

    }

    .leadtime-holder {

      .moreAboutLeadLink {
        @include font-size(13px);
        color: $link-blue;
        font-weight: normal;

        &:hover,
        &:focus {
          color: $link-dark-blue;
          text-decoration: underline;
        }
      }

    }

    .leadTimeFlyout {
      background-color: $colour-white;
      border: 1px solid #d8d8d8;
      border-radius: 2px;
      border-top: 4px solid $colour-black;
      bottom: $spacing-unit*6;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
      margin-left: 0;
      left: 50%;
      padding: ($spacing-unit * 4);
      position: absolute;
      text-align: left;
      top: initial;
      transform: translateX(-50%);
      width: 100%;
      z-index: 800;

      @media #{$ipad-landscape} {
        width: 400px;
      }

      .lead-arrow-down {
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 11px solid $colour-white;
        margin-top: ($spacing-unit * 4);
        margin-left: 0;
        top: initial;

        @media #{$ipad-landscape} {
          margin-left: 50%;
          text-align: right;
        }

      }

      .leadTimeLine {
        @include font-size(14px);
        @include line-height(20px);
        color: $colour-dist-grey;
        margin-bottom: $spacing-unit*2;

        .inStockLong {
          padding-bottom: ($spacing-unit * 2);
        }

      }

      &:after {
        border-top: 4px solid $colour-dist-carmine;
        content: '';
        height: 0;
        left: 33%;
        position: absolute;
        top: -4px;
        width: 33.33%;
        z-index: 1;
      }

      &:before {
        border-top: 4px solid $colour-dist-red;
        content: '';
        height: 0;
        position: absolute;
        top: -4px;
        right: 0;
        width: 34%;
        z-index: 1;
      }

    }

    .lead-arrow-down {
      bottom: -($spacing-unit*2);
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 11px solid $colour-white;
      margin-top: ($spacing-unit * 4);
      margin-left: 0;
      position: absolute;
      top: initial;
      width: 20px;

      @media #{$ipad-landscape} {
        margin-left: 50%;
        text-align: right;
      }

    }

    .lead-closer {
      @include font-size(20px);
      color: $colour-black;
      position: absolute;
      right: $spacing-unit*2;
      top: $spacing-unit*2;

      &:hover {
        color: $colour-dist-red;
      }

    }

  }

}