@import 'global-utilities';

:host {
  &.is-main-price,
  &.is-alt-price {
    .c-single-price {
      margin-top: 0;
    }
  }

  &.is-main-price {
    .c-single-price {
      &__value {
        @include typography-display-md;
        font-weight: $font-weight-semiBold;
      }
    }
  }

  &.is-alt-price {
    .c-single-price {
      &__value {
        font-size: $font-size-text-xs;
        font-weight: $font-weight-medium;
      }
    }
  }
}

.c-single-price {
  display: flex;
  align-items: center;

  &.is-shopping-list__main,
  &.is-shopping-list__alt {
    justify-content: flex-end;

    .c-single-price {
      &__value {
        font-weight: $font-weight-bold;
      }

      &__label {
        @include font-size(12px);
        padding-left: $spacing-unit;
        font-weight: $font-weight-medium;

        @include tabletPlus {
          @include font-size(11px);
        }
      }
    }
  }

  &.is-shopping-list__main {
    .c-single-price {
      &__value {
        @include font-size(16px);

        @include tabletPlus {
          @include font-size(24px);
        }
      }

      &__label {
        padding-top: $spacing-unit;
      }
    }
  }

  &.is-shopping-list__alt {
    .c-single-price {
      &__value {
        @include font-size(14px);
      }
    }
  }

  &__value {
    @include typography-ui-md;
    font-weight: $font-weight-medium;
  }

  &__label {
    @include typography-ui-xs;
    padding-left: $spacing-unit + 3;
    color: $colour-redesign-light-grey;
  }
}
