@import 'global-utilities';

.image-gallery-carousel {
  display: flex;
  justify-content: center !important;
  gap: 14px;

  .item {
    background: $colour-white;
    display: block;
    outline: none;
    text-align: center;
    border: 1px solid $border-carousel-grey;

    img {
      height: 90px;
      width: 90px;
      margin: 0 !important;

      @include mobileOnly() {
        height: 60px;
        width: 60px;
      }
    }

    &.video {
      .video-icon {
        height: 90px;
        width: 90px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobileOnly() {
          height: 60px;
          width: 60px !important;
        }
      }

      &:hover {
        color: $colour-black;
      }
    }
  }
}

.active-click {
  border: 1px solid $colour-mid-grey !important;
}
