@import 'global-utilities';

:host {
  display: flex;
  flex-direction: column;
  gap: $ux-spacing-unit * 5;
  justify-content: center;
  width: 100%;
  margin-bottom: ($spacing-unit - 1);

  .image-labels {
    gap: $ux-spacing-unit * 2;

    .energy-efficiency {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-left: auto;
    }

    // remove default margin from snap-eda
    .snap-eda {
      margin-top: -(($spacing-unit * 2));
      margin-bottom: -(($spacing-unit * 2));
    }

    &--promo-label {
      @include mobile {
        justify-content: flex-end;
      }
    }

    .image-product-labels {
      display: flex;
      gap: $ux-spacing-unit * 2;
    }
  }

  .video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.image-holder-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit * 4;
  align-items: center;
  align-self: stretch;
  justify-content: center;

  @include tabletPlusDown {
    gap: $ux-spacing-unit * 2;
  }

  .image-holder {
    display: flex;
    gap: ($spacing-unit * 4);
    align-items: center;
    width: 100%;

    @include tabletPlusDown {
      gap: ($spacing-unit + 3);
      align-items: center;
    }

    &__frame {
      flex-direction: column;
      flex-grow: 1;
      gap: ($spacing-unit * 2);
      align-items: flex-start;
      aspect-ratio: 1020 / 570;
      border: 2px solid $ux-light-grey;

      @include desktop {
        padding: ($spacing-unit * 4) ($spacing-unit * 7 + 1);
      }

      @include tabletPlusOnly {
        padding: ($spacing-unit * 3 + 1) ($spacing-unit * 5 - 1);
      }

      @include tabletOnly {
        height: auto;
      }

      @include tabletDown {
        height: auto;
      }
    }

    &__image {
      position: relative;
      overflow: hidden;
      min-height: 230px;

      @include desktop {
        display: flex;
        flex-grow: 1;
        height: 378.882px;
      }

      @include tabletPlusOnly {
        height: 300px;
        max-height: 300px;
      }

      @include tabletOnly {
        width: 316px;
        height: 178px;
      }

      img {
        object-fit: contain;
      }

      &--content,
      .video-frame {
        height: 100%;
      }

      &--content {
        max-width: 100%;
      }

      .pz-zoom-button {
        z-index: 500;
      }
    }

    .image-without-chevrons {
      flex-grow: 1;

      @include desktop {
        height: 425px;
      }

      width: auto;
    }
  }

  .ghs-icons {
    .ghs-icon {
      margin-bottom: ($spacing-unit);
    }
  }

  .prev-icon,
  .next-icon {
    display: flex;
    gap: $spacing-unit * 2;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include mobilePlusDown {
      display: none;
    }
  }

  .next-icon {
    right: 0;
  }
}

app-better-world-label {
  cursor: pointer;
}
