<h2 class="card-item__title" id="checkout.confirmation.manage_acc.title">
  {{ 'checkout.confirmation.manage_acc' | cxTranslate }}
</h2>

<p
  class="card-item__txt"
  id="checkout.confirmation.manage_acc.info"
  [innerHTML]="'checkout.confirmation.manage_acc_info' | cxTranslate"
></p>

<div class="pt-1 mt-3">
  <app-dist-button
    (click)="redirectToMyAccount()"
    width="w-fixed"
    type="outlined"
    buttonId="checkout.confirmation.manage_acc.goto_link"
  >
    {{ 'checkout.confirmation.manage_acc_goto_link' | cxTranslate }}
  </app-dist-button>
</div>
