@import 'global-utilities';

.facet-list {
  margin-top: 12px;

  .facet-group {
    @include typography-ui-sm;
    font-weight: $font-weight-medium;
    border-bottom: 1px solid $ux-light-grey;

    &:last-child {
      border-bottom: none;
    }

    .facet-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;

      .icon-arrow {
        color: $ux-text-default;
      }
    }
  }
}
