.skin-servicenav-checkout {
  padding: $spacing-unit 0;

  .line {
    position: relative;
    height: $spacing-unit * 6 + 2;
    float: right;
    border-top: $spacing-unit solid $colour-servicenav-grey;
    margin-top: -$spacing-unit;
  }

  .blue {
    border-top-color: $colour-dark-red;
    width: 50%;
  }

  .red {
    border-top-color: $colour-dist-red;
    width: 50%;
  }

}
