.mod-bom-no-matches {

  .no-match-holder {
    float: left;
    width: 100%;

    .head {
      border: 0;
      float: left;
      padding: 0;
      width: 100%;

      h2 {
        @include font-size(28px);
        @include line-height(32px);
        color: $colour-bom-no-matches-grey;
      }

      p {
        @include font-size(15px);
        @include line-height(24px);
        color: $colour-bom-no-matches-red;
        width: 100%;
      }

    }

    .table {
      float: left;
      width: 100%;

      .table-header {
        background: $bg-bom-no-matches-header;
        border: 1px solid $border-bom-no-matches-header;
        display: none;
        float: left;
        width: 100%;

        @media #{$ipad} {
          display: table;
        }

        &__item {
          @include font-size(13px);
          @include line-height(18px);
          float: left;
          font-weight: bold;
          padding: ($spacing-unit * 2);
          width: 100%;

          @media #{$ipad} {
            @include font-size(14px);
            @include line-height(17px);
            border-right: 1px solid $border-bom-no-matches-header;
            display: table-cell;
            padding: ($spacing-unit * 3) ($spacing-unit * 2);
            text-align: center;
            vertical-align: middle;
            width: 25%;
          }

        }

        .manu {

          @media #{$ipad} {
            border: 0;
          }

        }

      }

      .mobile-header {
        background: $bg-bom-no-matches-header;
        float: left;
        width: 40%;

        @media #{$ipad} {
          display: none;
        }

        &__item {
          @include font-size(12px);
          @include line-height(23px);
          float: left;
          padding: ($spacing-unit * 2);
          width: 100%;
        }

      }

      .table-body {
        float: left;
        width: 100%;

        .item-holder {
          float: left;
          width: 60%;

          @media #{$ipad} {
            border-bottom: 1px solid $border-bom-no-matches-header;
            display: table;
            width: 100%;
          }

        }

        &__item {
          @include font-size(12px);
          @include line-height(23px);
          border-bottom: 1px solid $border-bom-no-matches-header;
          float: left;
          min-height: 40px;
          padding: ($spacing-unit * 2);
          width: 100%;

          @media #{$ipad} {
            border: 0;
            display: table-cell;
            min-height: auto;
            padding: ($spacing-unit) ($spacing-unit * 2);
            text-align: center;
            width: 25%;
          }

        }

      }

    }

  }

}

