@import 'global-utilities';

:host {
  position: relative;
}

.input-popover {
  @include font-size(13px);
  @include line-height(18px);
  width: 200px;
  top: auto;
  bottom: calc(100% + 10px);
  max-width: 276px;
  padding: ($spacing-unit * 2);
  z-index: $zindex-dropdown;
  position: absolute;
  background-color: $colour-red;
  background-clip: padding-box;
  color: $colour-white;
  text-align: center;
  white-space: normal;

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  &.p-right {
    transform: translateX(33%) translateY(100%);
    .arrow {
      transform: rotate(90deg) translateX(-35px) translateY(138px);
    }
  }
}

.content {
  color: $colour-white;
  line-height: 1.2;
  padding: ($spacing-unit - 2);
}

.arrow {
  display: block;
  position: absolute;
  bottom: -20px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px !important;
  border-top-color: $colour-red !important;
  left: 50%;
  transform: translateX(-50%);
}
