@import 'global-utilities';

.consent-capture {
  &__form {
    &-info {
      .success-info,
      .error-info {
        @include font-size(14px);
        padding-bottom: $spacing-unit * 2 + 2;
        font-weight: $font-weight-medium;
      }

      .success-info {
        color: $colour-dark-green;
      }

      .error-info {
        color: $colour-alert-label;
      }

      .privacy {
        @include font-size(12px);
        @include line-height(16px);
        font-weight: $font-weight-normal;

        .link {
          color: inherit;
        }
      }
    }

    .form-group {
      display: flex;
      align-items: center;
    }

    .form-control {
      @include font-size(14px);
      width: 100%;
      border: 1px solid $colour-redesign-light-grey;
      border-radius: 4px;
      margin: 0;
      background-color: $colour-white;
      font-weight: $font-weight-normal;

      @include tabletPlus {
        width: 240px;
      }
    }

    app-dist-button {
      .submit {
        fa-icon {
          display: inline-block;
        }

        span {
          display: none;
        }

        @include mobilePlus {
          fa-icon {
            display: none;
          }

          span {
            display: inline-block;
          }
        }
      }
    }
  }
}
