<div class="ch__component__summary-terms">
  <ng-container *ngIf="currentSiteId === 'distrelec_IT'; else notItalyCountry">
    <p id="TandCforIT">
      <span [innerHTML]="'checkout.payment.t_and_c' | cxTranslate"></span>
      <ng-container *ngIf="customerType === 'B2C'">
        &nbsp;
        <span id="TandCforIT_txt" [innerHTML]="'checkout.payment.t_and_c_IT_b2c' | cxTranslate"></span>
      </ng-container>
    </p>
  </ng-container>

  <ng-template #notItalyCountry>
    <p id="TandCText"><span id="TandCText_txt" [innerHTML]="'checkout.payment.t_and_c' | cxTranslate"></span></p>
  </ng-template>
</div>
