@import 'global-utilities';

app-terms-and-conditions {
  .ch__component__summary-terms {
    @include font-size(12px);
    @include line-height(20px);
    margin-top: $spacing-unit * 4;
    font-weight: $font-weight-medium;

    a {
      color: $link-blue;
      text-decoration: underline;

      &:hover {
        color: $link-dark-blue;
      }
    }
  }
}
