.mod-category-thumbs {

    .categories {
      display: inline-block;
      width: 100%;

      &__category {
        @include font-size(13px);
        background-color: $colour-white;
        border: 1px solid $color-category-thumps-grey;
        height: $spacing-unit*10;
        float: left;
        text-align: center;

        &:hover {
          box-shadow: 0 2px 4px 0 $color-category-thumps-shadow;
        }

        .thumb-link {
          display: block;
          height: 100%;
          outline: none;
        }

        @media #{$ipad} {
          height: 161px;
        }

      }

      &__image {
        display: none;
        height: 60px;
        margin: ($spacing-unit*4) 0 ($spacing-unit*2) 0;
        overflow: hidden;

        @media #{$ipad} {
          display: block;
        }

        @media #{$desktop} {
          height: 70px;
        }

        img {
          max-height: 70px;
          margin: 0 auto;
        }

      }

      &__name {
        display: block;
        text-align: left;

        @media #{$ipad} {
          text-align: center;
        }

      }

      &__title {
        color: $color-category-dark-grey;
        display: block;
        padding: $spacing-unit*3 0;
        overflow: hidden;

        @media #{$ipad} {
          height: 60px;
          padding: 0;
        }

      }

      &__arrow {
        bottom: 0;
        position: absolute;
        right: 15px;
        top: 0;
        width: 20px;
        z-index: 9;

        @media #{$ipad} {
          display: none;
        }

        .angle-right {
          border: solid $color-category-thumps-grey2;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }

      }

    }



  .sub-category {
    margin-top: $spacing-unit*8;

    &__content {
      clear: both;

      li {
        float: left;
        margin-bottom: $spacing-unit*4;
      }

      &-tile {
        background-color: $colour-white;
        border: 1px solid $color-category-thumps-grey;
        height: 100%;
        overflow: hidden;
        padding: $spacing-unit*2;

        &__title {
          display: block;
          height: 60px;
          margin-bottom: $spacing-unit*4;
          overflow: hidden;
          position: relative;

          .title-image {
            display: inline-block;
            left: 0;
            max-height: 40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: auto;
          }

          .title-name {
            @include font-size(16px);
            color: $color-category-dark-grey;
            display: inline-block;
            hyphens: auto;
            margin-left: $spacing-unit*8;
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            width: calc(100% - 40px);
            word-break: break-word;

            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;

            &:hover {
              color: $colour-dist-mid-grey;
            }

          }

        }

        &__links {

          height: 250px;
          overflow: auto;

          a {
            @include font-size(13px);
            display: block;
            margin-bottom: $spacing-unit*2;
            color: $link-blue;

            &:hover {
              color: $link-dark-blue;
              text-decoration: underline;
            }

            .title-name {
              @include font-size(13px);
              hyphens: auto;
              word-break: break-word;
              -ms-hyphens: auto;
              -moz-hyphens: auto;
              -webkit-hyphens: auto;
            }

          }

        }


      }

    }

  }

  .accordion {

    &__trigger {
      border-top: 1px solid $color-category-thumps-grey;

      .mat-button {
        @include font-size(15px);
        border-radius: 40px;
        float: none;
        margin: (-$spacing-unit*4) auto ($spacing-unit*3) auto;
        overflow: visible;
        padding: ($spacing-unit+3) 0;

        &:before {
          left: -($spacing-unit*4);
        }

        &:after {
          right: -20px;
        }

        .fa-angle-down {
          margin-left: $spacing-unit*2;
          transition: all 300ms ease-in 0s;
        }


        &.open {

          .fa-angle-down {
            transform: rotate(180deg);
          }

        }

      }

    }

    &__content {
      overflow: hidden;
      padding: 0;
      position: relative;
      transition: all 0.3s ease;

      @media #{$ipad} {
        max-height: 0;
        opacity: 0;
      }

      &.content-open {
        min-height: 100px;
        max-height: none;
        opacity: 1;
        padding: ($spacing-unit+3) 0;
        transition: all 0.3s ease-out;
      }

      #spinnerWrapper {
        background: rgba(216, 216, 216, .2);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        img {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 50px;
        }

      }

    }

  }

  .row {
    margin: 0 (-($spacing-unit*2));
  }

  .col-lg-2 {
    padding: 0 ($spacing-unit*2);
    width: 16.66667%;
  }

  .col-lg-3 {
    padding: 0 ($spacing-unit*2);
    width: 25%;
  }

}
