.mod-buying-section {
  float: left;
  min-width: 400px;
  width: auto;

  .elem {
    float: left;
    width: 100%;

    &__content {
      float: left;
      width: 100%;

      &--first {
        text-align: center;
        width: 33%;
      }

      &--second {
        position: relative;
        margin-left: ($spacing-unit * 4);
        width: 62%;
      }

    }

  }

  .numeric {
    float: left;
    margin: 0;
    width: 100%;

    .popover {
      left: -75px;
      top: -60px;
    }

    .btn-wrapper {
      border: 1px solid $border-dist-grey;
      float: left;
      width: 100%;

      input {
        @include line-height(30px);
        border-bottom: 0;
        border-top: 0;
        float: left;
        height: 30px;
        padding: 0;
        width: 70px;
      }

      .btn {
        background: $colour-pale-grey;
        display: inline-block;
        float: left;
        height: 30px;
        margin: 0;
        position: relative;
        text-align: center;
        top: 0;
        width: 30px;

        &.numeric-btn-up {
          right: 0;
        }

        &.numeric-btn-down {
          left: 0;
        }

      }

    }

    .btn-text {
      @include font-size(13px);
      @include line-height(15px);
      color: $colour-mid-grey;
      display: block;
      float: left;
      padding-top: ($spacing-unit * 2);
      position: relative;
      text-align: center;
      width: 132px;
      vertical-align: sub;
    }

  }

  .mat-button {
    float: left;
    margin-top: 0;
    width: 100%;

    &:hover {
      background: $colour-dark-green;
    }

    .ellipsis {
      margin:  0 auto;
      max-width: 200px;
    }

    svg,
    i {
      margin-right: ($spacing-unit);
      vertical-align: top;
    }

  }

  .btn-added-to-cart {
    border-radius: $spacing-unit - 3;
    color: $colour-black;
    display: none;
    height: 40px;
    overflow: hidden;
    padding: $spacing-unit ($spacing-unit * 2);
    position: relative;
    right: 0;
    z-index: 0;

    @media #{$ipad} {
      position: absolute;
      width: 70%;
    }

    @media #{$ipad-landscape} {
      position: relative;
      width: 100%;
    }

    @media #{$desktop} {
      position: absolute;
      width: 70%;
    }


    &:hover,
    &:focus {
      border-color: $colour-dist-marigold;
      color: $colour-mid-black;
    }

    &--added,
    &--checkout {
      @include font-size(15px);
      display: block;
      font-weight: 700;
      height: 40px;
      left: 0;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
    }

    &--added {

      .fa-check-circle {
        @include font-size(22px);
        margin: 0 ($spacing-unit * 2) 0 0  ;
      }

    }

    &--checkout {
      top: 40px;

      .fa-angle-right {
        margin: 0 0 ($spacing-unit - 2) ($spacing-unit * 2);
      }

    }

    &.show {
      display: block;
      float: left;
      margin-top: $spacing-unit*4;
      width: 100%;

      @media #{$ipad} {
        animation: show-added-to-cart 2s 1;
        margin-top: 0;
        right: -73%;
        width: 70%;
      }

      @media #{$ipad-landscape} {
        animation: none;
        margin-top: $spacing-unit*4;
        right: 0;
        width: 100%;
      }

      @media #{$desktop} {
        animation: show-added-to-cart 2s 1;
        margin-top: 0;
        right: -73%;
        width: 70%;
      }

      .btn-added-to-cart {

        &--added {
          display: none;

          &.show {
            background-color: $colour-dist-marigold;
            color: $colour-black;
            display: block;
          }

        }

        &--checkout {
          display: none;
          top: 0;

          &.show {
            display: block;
            animation: show-added-to-cart-checkout 0.5s 1;
          }

        }

      }

    }

  }

}

.isie7 {

  .mod-buying-section {

    .mat-button {

      i {
        display: none;
      }

      span {
        display: block;
      }

    }

  }

}
