@import 'global-utilities';

.profile-information {
  &__form {
    max-width: 346px;

    .form-control {
      background-color: $ux-input-default-bg;
      cursor: pointer;

      &.is-correct {
        background-color: $colour-white;
      }
    }

    app-dist-button {
      .ng-fa-icon {
        @include font-size(16px);
        margin-left: $spacing-unit;

        .fa-check {
          color: $colour-white !important;
        }
      }
    }
  }
}
