.mod-metadata-content {

	margin-bottom: 40px;

	h1.base {
		margin-top: 20px;
		margin-bottom: 16px;
	}

	.innerBox {

		#border > .border-std(0px,0px,0px,0px,c-grey80);
		padding: 10px 0 10px 1px;  
	}


		
		.innerBox{
			.metaData-content{
				float: left;
			    margin-top: -15px;
			    display: inline-block;
			    margin-left: -10px;

			    h3{
			    	margin-left: 10px;
			    }
			    
			    p{
			    	font-size: 13px;
			    }
			}
		}

		a {
			color: #AA1936;
		}
		a:visited {
			color: #AA1936;
		}
		em {
			font-style: normal;
		}
		#header h2 {
			color: white;
			background-color: #00A1E6;
			margin:0px;
			padding: 5px;
		}
		.comment {
			width: 1280px;
			text-align: justify;
			a {
				color: #333;
				font-weight: bold;
			}
		}
		a.morelink {
			text-decoration:none;
			outline: none;
			color: #AA1936;
		}
		.morecontent span {
			display: none;
		
		}
		
		.btn-primary{
			color: white !important;
			
			&:hover{
				color: #de1417 !important;
			}
		}

		.icon-arrow {
			float: right;
			margin-top: 7px;
			margin-left: 20px;
			.s-arrow-down-white();

			.lt-ie8 & {
				margin-top: -14px;
			}
			
			&:hover{
				.s-arrow-down-red();
			}			
			
		}

}
