@import 'global-utilities';

.price-and-stock {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 0;

  @include desktop {
    max-width: 414px;
  }

  @include tabletOnly {
    max-width: 276px;
  }
  .ghs-icons {
    gap: 8px;
  }

  .ghs-icon img {
    width: 60px;
    height: 60px;
  }
  // override the MOQ popup on pdp only
  .app-min-order-quantity-popup-container {
    position: relative;

    & .numeric-popover {
      width: 205px !important;
      text-align: center !important;
      transform: translateX(-17%) !important;
      position: absolute !important;
      bottom: ($spacing-unit * 10) + 2 !important;
    }
  }
  .pdp-add-cart-content {
    display: flex;

    app-add-to-cart {
      width: 100%;

      .add-to-cart__button {
        flex-basis: auto !important;
        width: 100% !important;
      }
    }
  }
}
