.mod-password-strength {
  float: left;
  margin-bottom: ($spacing-unit);
  width: 100%;

  .meter-holder {
    background: $bg-password-strength-meter;
    height: 8px;
    position: relative;
    width: 100%;

    .meter-text {
      @include font-size(12px);
      @include line-height(18px);
      color: $colour-white;
      display: block;

      &--0 {
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
      }

    }

    #password-meter-strength {
      display: block;
      height: 8px;
      left: 0;
      position: absolute;
      text-align: center;
      transition: width .6s ease;

      &.meter-0 {
        background: $bg-meter-red;
        width: 1%;
      }

      &.meter-1 {
        background: $bg-meter-red;
        width: 20%;
      }

      &.meter-2 {
        background: $bg-meter-orange;
        width: 40%;
      }

      &.meter-3 {
        background: $bg-meter-orange;
        width: 80%;
      }

      &.meter-4 {
        background: $bg-meter-green;
        width: 100%;
      }

    }

  }

}
