.mod-bom-tool-review {

  .import-success,
  .import-red,
  .import-info {

    i {
      margin-right: $spacing-unit;
      vertical-align: initial;
    }

  }

  .loadfile {

    &__old-filename {
      word-break: break-all;
    }

    &__edit-icon {
      @include font-size(16px);
      cursor: pointer;
      display: inline-block;
      margin-left: $spacing-unit;
      vertical-align: bottom;

      i {
        background-color: $colour-dist-green;
        border-radius: 50%;
        color: $colour-white;
        padding: $spacing-unit;

        &:hover {
          background-color: $colour-dark-green;
        }

      }

    }

    &__save-item {
      display: table;
      margin-bottom: $spacing-unit*4;
      width: 100%;

      input,
      button {
        display: table-cell;
        height: 35px;
      }

      input {
        @include font-size(28px);
        border: none;
        border-bottom: 2px solid $colour-mid-grey;
        outline: none;
        padding: 0 ($spacing-unit*2) 0 0;
        width: 50%;
      }

      button {
        margin-left: $spacing-unit;
        padding: 0 ($spacing-unit*2);
        width: auto;
      }

    }

  }

  .showhidetoggle {

    &__header {
      display: inline-block;
      color: $colour-dark-grey;

      i {
        color: $colour-dist-red;
      }
    }

    &__label {
      @include font-size(12px);
    }

    &__header-link {
      color: $link-blue;
      cursor: pointer;
      float: right;
      margin-left: $spacing-unit;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $link-dark-blue;
        text-decoration: underline;
      }


      .hide {
        display: none;
      }

      &.active {

        .show {
          display: none;
        }

        .hide {
          display: block;
        }

      }

    }

    &__content {
      border: 2px solid $colour-dist-red;
      border-radius: ($spacing-unit - 3);
      color: $colour-dist-grey;
      display: none;
      margin: $spacing-unit 0 ($spacing-unit*2) ($spacing-unit*4);
      padding: $spacing-unit*2;

      &.active {
        display: block;
      }

    }

    &__content-list {

      li {
        margin-left: $spacing-unit*4;
        list-style-type: initial;
      }

    }

    &__content-link {
      color: $colour-dist-mid-grey;
      margin-right: $spacing-unit*2;

      &:hover,
      &:focus {
        color: $colour-dist-grey;
        text-decoration: underline;
      }
    }

  }

}