
#breadcrumb {
	.spacer {
		min-height: 13px;
	}
}

.mod-breadcrumb {

	.bd {
		margin: 25px 0 18px 0px;
	}

	.bc-link {

		&--nohover {

			&:hover {
				color: #000 !important;
				cursor: default;

				span {
					color: #000 !important;
				}

			}

		}

	}

	ul.bc-list {

		display: inline-block;
		min-height: 20px; // prevent jumping when breadcrum is hidden (while generating it)

		li {
			float: left;
			position: relative;

			a {
				#typo > .size-s();

				&:hover{
					color: #00435C;
					text-decoration: underline;
				}
			}

			span {
				padding: 0 3px;
				#typo > .size-s();
			}

			&:first-child {
				a {
					span {
						padding-left: 0;
					}
				}
			}

			&.breadcrumb-expand {
				a {
					cursor: pointer;
				}
			}
			
			

		}
	}

	.no-js &	ul.bc-list li {
		display: inline-block;
	}

	.return {
		a {
			span {
				font-size: 13px;
				color: @c-red;
				&:hover{
					color: #00435C;
					text-decoration: underline;
				}
				&:before {
					.s-arrow-left-red();
					content: "";
					position: relative;
					top: 1px;
					display: inline-block;
					margin-right: 6px;
				}
				&:hover:before {
					.s-arrow-left-blue();
				}
			}
		}
	}
	
	.special-h1{
		font-size: 13px;
		margin-left: 15px;
    	margin-top: -18px;
	}

}
