.mod-error-feedback {
	float: right;
	margin-top: -8px;

	.error-link {
		color: #545A5E;
		font-size: 13px;
		&:hover {
			color: #393E41;
			text-decoration: underline;
		}
		@media print {
			.hidden();
		}
	}
	.error-report {
		background-color: @c-white;
		font-size: 13px;
		line-height: 16px;
		color: @c-grey20;
		padding: 8px 8px 12px 8px;
		position: absolute;
		left: 1005px;
		width: 300px;
		margin-top: -80px;
		margin-left: -6px;
		#border > .border-std();
		box-shadow: 0 0 10px #ccc;
		z-index: 9999;

		h3.base {
			margin: 0;
			width: 100%;
			
			i {
				float:right;
				.s-remove-black();
				
				&:hover {
					.s-remove-blue();
					cursor: pointer;
				}
			}
			&:before {
				content:"";
				.s-grab();
				width:5px;
				margin-right: 6px;
				height: 14px;
				display: inline-block;
				position: relative;
				top: 1px;
			}
		}

		label {
			font-size: 12px;
			color: @c-black;
			&:before {
				position: relative;
				top: 2px;
				margin-right: 8px;
			}
		}

		input[type='text'], textarea {
			width: 100%;
			margin-top: 5px;
			font-size: 14px;
			padding: 4px;
		}

		textarea {
			height: 120px;
		}
		
		.error-intro span {
			display: inline-block;
			font-weight: 600;
			color: #666;
		}
		
		.error-reason, .error-contact {
			margin-top: 10px;
		}
		
		.error-submit {
			text-align: right;
			padding-top: 10px;
			.button {
				color: @c-white;
				background-color: @c-red;
				padding: 2px 8px;
				border: 1px solid @c-red;
				&:hover {
					color: @c-red;
					background-color: @c-white;
					border-color: @c-grey80;
				}
			}
		}
		
		.error-sent {
			margin-top: 10px;
			
			div {
				padding: 2px;
			}
			
			a.closer {
				float: right;
				padding: 2px 8px;
				color: @c-red;
				background-color: @c-white;
				border: 1px solid @c-grey80;

				&:hover {
					color: @c-white;
					background-color: @c-red;
					border-color: @c-red;
				}
			}
			
			&.fail {
				color: @c-red;
			}
		}
		
		.error-contact .i {
			float: left;
			padding: 0 4px 2px;
			margin-right: 8px;
			margin-bottom: 5px;
			font-size: 18px;
			color: @c-white;
			background-color: @c-red;
			border-radius: 25%;
		}
		
		div.error {
			color:@c-red;
		}

		&.ui-draggable {
			cursor: move;
		}
	}
}

.inter {

	.mod-error-feedback {

		.error-link:hover,
		.error-link:focus {
			color: @c-red;
		}

	}

}
