@import 'global-utilities';

app-dist-sticky-add-to-cart {
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 72px;

  @include tablet {
    height: 80px;
  }
  @include tabletPlus {
    height: 88px;
  }
  @include desktop {
    height: 96px;
  }
  @include desktopPlus {
    height: 104px;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: ($spacing-unit * 5 - 1);
  padding-top: ($spacing-unit * 5 - 1);
  overflow: hidden;

  @include tabletPlusDown {
    gap: ($spacing-unit * 4);
    padding-top: ($spacing-unit * 4);
  }

  @include mobileOnly {
    padding: ($spacing-unit * 4) ($spacing-unit * 2) 0;
  }

  .view-alternative {
    color: $link-blue;
  }

  .alert-text {
    @include typography-text-sm;
    font-weight: $font-weight-medium;
  }
}

.image-row {
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: ($spacing-unit * 5 - 1);
}

.product-details-row {
  @include mobileOnly {
    margin-right: 0;
    margin-left: 0;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: ($spacing-unit * 4);
  flex: 1 0 0;
  padding: 0;

  .image-reference {
    @include typography-ui-xs();
    text-align: center;
  }

  @include desktop {
    max-width: 857px;
  }

  @include tabletOnly {
    max-width: 396px;
  }
}

.item__link {
  display: none;

  @media #{$ipad-landscape} {
    display: block;
  }
}

.content-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .email-share {
    @include typography-text-sm();
    font-weight: $font-weight-medium;
    text-decoration: underline;
    color: $link-blue;
    letter-spacing: -0.28px;
    align-self: center;

    app-icon {
      display: inline-block;
    }

    span {
      margin-left: ($spacing-unit + 3);
    }
  }

  .error-link {
    @include typography-text-sm();
    font-weight: $font-weight-medium;
    text-decoration: underline;
    color: $link-blue;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    align-self: center;

    app-icon {
      display: inline-block;
    }

    span {
      margin-left: ($spacing-unit + 3);
    }
  }

  .sep {
    @include typography-text-xs();
    @include transition(all 0.3s ease-in-out 0.1s);
    color: $colour-mid-grey;
    display: none;
    letter-spacing: -0.28px;
    padding: 0 ($spacing-unit);
  }
}

.product-spec-row {
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: ($spacing-unit * 5 - 1);
  align-self: stretch;
}

.product-spec-col {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: ($spacing-unit * 5);
}

.has-downloads {
  flex: 1 0 0;

  @include tabletOnly {
    max-width: 396px;
  }
}

.downloads-col {
  padding: 0;
  @include desktop {
    max-width: 414px;
  }

  @include tabletOnly {
    max-width: 276px;
  }
}

@include mobilePlusDown {
  .product-spec-row {
    .product-spec-col {
      order: 1;
    }

    .content-holder-col {
      order: 2;
    }

    .downloads-col {
      order: 3;
    }

    .content-holder {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include tabletPlusDown {
        margin-top: ($spacing-unit - 1);
      }
    }

    .email-share {
      margin-bottom: ($spacing-unit * 4);
      align-self: baseline;
    }

    .error-link {
      padding-left: 0;
      align-self: baseline;
    }
  }
}

.add-to-list {
  padding: ($spacing-unit + 3) 0;
  background-color: $colour-pale-grey;
  border-radius: $ux-border-radius-default;

  .primary-label {
    margin-bottom: 0;
  }
}

.has-not-carousel {
  margin-top: -($spacing-unit * 3 + 1);
}
