<div
  class="o-skeleton-loader"
  [class.is-loading]="isSkeletonLoading"
  [class.is-cart-page]="pageName === 'cart'"
  [class.is-checkout-page]="pageName === 'checkout-delivery' || pageName === 'checkout-review-pay'"
  [class.is-plp-page]="pageName === 'plp'"
>
  <app-skeleton-loader-cart *ngIf="pageName === 'cart'"></app-skeleton-loader-cart>
  <app-skeleton-loader-checkout-delivery
    *ngIf="pageName === 'checkout-delivery'"
  ></app-skeleton-loader-checkout-delivery>
  <app-skeleton-loader-checkout-review-pay
    *ngIf="pageName === 'checkout-review-pay'"
  ></app-skeleton-loader-checkout-review-pay>
  <app-skeleton-loader-plp *ngIf="pageName === 'plp'"></app-skeleton-loader-plp>
</div>
