.mod-product-label {
  @include line-height(18px);
  color: $colour-white;
  float: right;
  font-size: .73rem !important;
  letter-spacing: 0 !important;
  min-width: 60px;
  position: relative;
  text-align: center;
  vertical-align: top;
  z-index: 9;// below controls (see carpet-item)

  .bd {
    @include line-height(27px);
    background: $colour-dist-marigold;
    border-radius: 2px;
    display: inline-block;
    font-weight: 600;
    height: 27px;
    letter-spacing: .4px;
    padding: 0 ($spacing-unit * 4 - 2);
    text-transform: uppercase;
    white-space: nowrap;
  }

  .hotOffer {
    background: $colour-dist-red;
  }

  .top {
    background: $colour-dist-grey;
  }

  .hit {
    background: $colour-dist-grey;
    padding: 0 8px !important;
  }

  .used {
    background: $colour-dist-dark-green;
  }

  .offer {
    background: $colour-dist-red;
  }

  .bestseller {
    background: $colour-dist-marigold;
    color: $colour-black;
  }

  .new {
    background: $colour-dist-marigold;
    color: $colour-black;
  }

  .noMover {
    background: $colour-dist-dark-green;
  }

  .calibrationService {
    background: transparent;
    border: 2px solid $colour-black;
    border-radius: 0;
    padding: 0;
    width: 95px;

    .iso {
      @include font-size(13px);
      @include line-height(23px);
      background: $colour-black;
      color: $colour-white;
      display: inline-block;
      float: left;
      height: 25px;
      width: 28px;
    }

    .calibrated{
      @include font-size(11px);
      @include line-height(23px);
      background: $colour-white;
      color: $colour-black;
      float: left;
      padding-left: ($spacing-unit - 3);
      text-align: left;
      text-transform: none;
    }

  }

}

.product__tile {

  &__item {

    &__promo-label {

      .mod-product-label {

        .bd {
          @include font-size(12px);
          @include line-height(24px);
          border-radius: 0 ($spacing-unit * 4) ($spacing-unit * 4) 0;
          color: $colour-white;
          font-family: $font-montserrat;
          height: 30px;
          min-width: 80px;
          padding: ($spacing-unit - 1) ($spacing-unit * 3);
          text-align: center;
          text-transform: uppercase;
        }

      }

    }

  }

}