@import 'global-utilities';

.card {
  border: none;
  border-radius: 4px;
  background-color: $colour-white;
  box-shadow: $colour-box-shadow-100;

  &-body {
    padding: ($spacing-unit * 6 + 2) ($spacing-unit * 4);

    @include tablet {
      padding: ($spacing-unit * 12) ($spacing-unit * 8);
    }
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: $spacing-unit * 4;
      border-bottom: 1px solid $ux-light-grey;
      padding-bottom: $spacing-unit * 4;
    }

    &__title {
      @include typography-display-xl();
      margin-bottom: $spacing-unit + 3;
      font-weight: $font-weight-normal;
    }

    &__txt {
      @include typography-text-sm();
      font-weight: $font-weight-normal;

      strong {
        font-weight: $font-weight-semiBold;
      }
    }
  }
}
