@import 'global-utilities';

.article-tooltip {
  background-color: $colour-dark-grey;
  border-radius: 2px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -12px;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -100%);
  z-index: 910;

  &__content {
    padding: ($spacing-unit * 2);
    position: relative;
    text-align: center;

    &:after {
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 10px solid $colour-dark-grey;
      bottom: -10px;
      content: '';
      left: 40%;
      position: absolute;
    }
  }

  p {
    @include font-size(13px);
    @include line-height(18px);
    color: $colour-white;
  }

  &.active {
    display: block;
  }
}
