<ng-container *ngFor="let attribute of attributes; index as attributeIndex">
  <div class="product-attributes">
    <ng-container *ngIf="attributesByCode[attribute?.code]?.featureValues">
      <span [innerHTML]="attributesByCode[attribute?.code].featureValues[0]?.value"></span>
      <span [innerHTML]="attributesByCode[attribute?.code].featureUnit?.symbol"></span>
    </ng-container>
    <ng-container *ngIf="!attributesByCode[attribute?.code]?.featureValues">
      <span>-</span>
    </ng-container>
  </div>
</ng-container>
