body {

  .bx-wrapper {
    background: transparent !important;;
    border: 0 !important;;
    box-shadow: 0 0 0 0 !important;;
    float: left;
    margin: 0;
    max-width: 100% !important;
  }

}
