@import 'global-utilities';

app-shopping-list-sort-by {
  .is-shopping-list {
    .ng-value-container {
      cursor: pointer;
      font-weight: $font-weight-bold;

      &:hover {
        color: $colour-red;
      }
    }
  }

  ng-select {
    float: right;
    margin-right: ($spacing-unit * 2);
    width: 225px;

    .ng-dropdown-panel-items {
      &.scroll-host {
        max-height: 100% !important;
        overflow: visible !important;
      }
    }
  }

  .ng-option-label {
    font-size: 14px !important;
    font-weight: $font-weight-medium !important;
  }

  .sort-by-option {
    @include font-size(13px);
    position: relative;
    top: 5px;

    .sort-by-name {
      @include font-size(14px);
      font-weight: $font-weight-semiBold;
    }
  }

  .ng-option {
    @include font-size(14px);
    border-bottom: ($spacing-unit - 4) solid $border-dist-grey;

    .sort-by-name {
      font-weight: $font-weight-semiBold;
    }
  }
}
