<ng-select
  class="account-info is-shopping-list"
  id="shopping-list-sort"
  [(ngModel)]="selectModelValue"
  [searchable]="false"
  (change)="onChange($event)"
  name="selectModelValue"
>
  <ng-option [value]="0" [id]="0">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_date_asc">
        {{ 'shoppingList.shoppinglist_sort_DateAddedAsc' | cxTranslate }}
      </label>
    </span>
  </ng-option>
  <ng-option [value]="1" [id]="1" selected="true">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_date_desc">
        {{ 'shoppingList.shoppinglist_sort_DateAddedDesc' | cxTranslate }}
      </label>
    </span>
  </ng-option>
  <ng-option [value]="2" [id]="2">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_name_asc">{{ 'shoppingList.shoppinglist_sort_NameAsc' | cxTranslate }}</label>
    </span>
  </ng-option>
  <ng-option [value]="3" [id]="3">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_name_desc">{{ 'shoppingList.shoppinglist_sort_NameDesc' | cxTranslate }}</label>
    </span>
  </ng-option>
  <ng-option [value]="4" [id]="4">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_artNr_asc">{{ 'shoppingList.shoppinglist_sort_ArtNrAsc' | cxTranslate }}</label>
    </span>
  </ng-option>
  <ng-option [value]="5" [id]="5">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_artNr_desc">
        {{ 'shoppingList.shoppinglist_sort_ArtNrDesc' | cxTranslate }}
      </label>
    </span>
  </ng-option>
  <ng-option [value]="6" [id]="6">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_price_asc">{{ 'shoppingList.shoppinglist_sort_PriceAsc' | cxTranslate }}</label>
    </span>
  </ng-option>
  <ng-option [value]="7" [id]="7">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_price_desc">
        {{ 'shoppingList.shoppinglist_sort_PriceDesc' | cxTranslate }}
      </label>
    </span>
  </ng-option>
  <ng-option [value]="8" [id]="8">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_manufacturer_asc">
        {{ 'shoppingList.shoppinglist_sort_ManufacturerAsc' | cxTranslate }}
      </label>
    </span>
  </ng-option>
  <ng-option [value]="9" [id]="9">
    <span class="sort-by-option">
      <label id="shoppingList_order_by_manufacturer_desc">
        {{ 'shoppingList.shoppinglist_sort_ManufacturerDesc' | cxTranslate }}
      </label>
    </span>
  </ng-option>
</ng-select>
