@shopping-list-item-height: 26px; 															// Review: KR: Further elements implied
@shopping-list-items-min: 6;																// Review: KR:
@shopping-list-padding-width: 10px;															// Review: KR:
@shopping-list-border-width: 1px;															// Review: KR:
@shopping-list-max-Height: ((@shopping-list-items-min - 1) * @shopping-list-item-height)
							+ (2 * @shopping-list-padding-width)
							+ (2 * @shopping-list-border-width);							// Review: KR:

.mod-lightbox-shoppinglist {

	i {
		vertical-align: baseline;
	}
    .modal {
        #obj > .modal;

	    .hd {
		    .title {
				margin-top: 0px; // Review: KR: Vertical alignment
		    }
	    }

        .bd {
			.form-row {
				.popover-variation(@c-white, @c-red, 'top');
				.popover {
					top:-23px;
				}

				&.popover-error-checkboxgroup {
					right:0;
				}
			}

			.new-shopping-list-input {
				display: block;
			}

	        .checkbox-group {
		        margin-bottom: 10px;
	        }
        }

        .ft {
            .-left {
                width: auto;
                float: left;

                .link {
                    text-decoration: underline;
                    #typo > .size-s;
                    float: left;
                    line-height: 1;
                    font-weight: bold;
                }
            }
        }
    }

    .error-box, .receive-box {
        display:none;
        #obj > .errorBox;
    }

    .required-text {
        width:100%;
        text-align: right;
    }

    .box {

        & {
            border: @shopping-list-border-width solid @c-border; 	// Review: KR: Further elements implied
            padding: @shopping-list-padding-width; 					// Review: KR:
            background: @c-white;
            max-height: @shopping-list-max-Height; 					// Review: KR:
            overflow: auto;
        }

        li {
			margin: 0;
			padding-bottom: 3px;
			list-style: none;

            label {
	            #typo > .size-x-c();
                line-height: 1.5;
	            max-width: 390px;
	            display: inline-block;

                &:before {
                    margin-right: 9px;
                }
            }

            i {
                .s-list-small-black();
                margin:0 5px -1px 6px;
            }

            span {
                color:#AA1936B;
                #typo > .size-xs;
	            display: inline-block;
	            padding-left: 3px;
            }

			.lt-ie9 & input[type=checkbox] {
				margin-top: -14px;
				margin-right: 6px;
			}
        }
    }

    .row-new-shopping-list {

        .newShoppingList {
            #typo > .size-x-c();
	        line-height: 35px;
        }
    }
}

