@import 'global-utilities';

:host {
  background: $colour-pale-grey;
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.container-fluid {
  .border-bottom-gray {
    border-bottom: 1px solid #d2e1e5;
  }

  .border-top-gray {
    border-top: 1px solid #d2e1e5;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 249, 252);
  }

  .chosen-filter {
    background-color: #f2f2f2;
  }

  .position-sticky {
    background-color: $colour-white;
    bottom: 0;
  }

  .apply-filters {
    background-color: $colour-green;
    color: $colour-white;

    &:disabled {
      opacity: 0.4;
    }
  }

  ul {
    list-style-type: none;
  }
}

.filters-list {
  height: 100%;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
}
