.skin-toolsitem-fblike {
    position:relative;

	.lt-ie8 & {
		padding-top: 22px;
		height: 38px;
	}

  iframe {
    height: 23px !important;
	max-width:140px; // review jw to adjust distance to other toolsitems
    vertical-align: middle;
  }
}
