.skin-toolsitem-gallery-loupe {
	display: none;
	float: none;
	margin: 0;
	margin-top: 10px;
	height: auto;
	line-height: normal;

	&:first-child {
		margin-top: 0;
	}

	&.active {
		display: inline-block;
	}

	.ico-gallery-loupe {
		i {
			.s-polygon-loupe-white();
		}

		&:hover i,
		&:focus i {
			.s-polygon-loupe-blue();
		}

		&:active i, &.active i {
			.s-polygon-loupe-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-loupe-white();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-loupe-white();
			}
		}
	}
}
