.mod-toolsitem {

    display: inline-block;
	float: left;
	margin-right: 8px;

	vertical-align: middle;
	height: 60px;
	line-height: 60px;

    a {
    	display: inline-block;
        cursor: pointer;
    }

    .popover-variation(@c-white, #AA1936, 'top');

    .popover {
	    &.top {
		    margin-top: -5px;
	    }
        .popover-title {
            white-space: nowrap;
            text-align: center;
        }
        
        .arrow{
        	margin-bottom: 1px;
        }
    }

    .ico-save-search {
        i {
            .s-polygon-search-big-grey();
        }

        &:hover i,
        &:focus i {
            .s-polygon-search-big-blue();
        }

        &:active i, &.active i {
            .s-polygon-search-big-blue();
        }

		&[disabled], &.disabled {
			i {
				.s-polygon-search-big-grey();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-search-big-grey();
			}
		}
    }

    .ico-add-note {
        i {
            .s-polygon-message-big-grey();
        }

        &:hover i,
        &:focus i {
            .s-polygon-message-big-blue();
        }

        &:active i, &.active i {
            .s-polygon-message-big-blue();
        }

		&[disabled], &.disabled {
			i {
				.s-polygon-message-big-grey();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-message-big-grey();
			}
		}
    }

    .ico-upload {
        i {
            .s-polygon-upload-big-grey();
        }

        &:hover i,
        &:focus i {
            .s-polygon-upload-big-blue();
        }

        &:active i, &.active i {
            .s-polygon-upload-big-blue();
        }

		&[disabled], &.disabled {
			i {
				.s-polygon-upload-big-grey();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-upload-big-grey();
			}
		}
    }

    .ico-reorder {
        i {
            .s-polygon-cart-red();
        }

        &:hover i,
        &:focus i {
            .s-polygon-cart-white();
        }

        &:active i, &.active i {
            .s-polygon-cart-white();
        }

		&[disabled], &.disabled {
			i {
				.s-polygon-cart-red();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-cart-red();
			}
		}
    }

    .social-bar {
        padding-top: 9px;
    }

    &.tooltip-hover {
        .popover {
            visibility: hidden;
        }
        &:hover, &.hover {
            .popover {
                visibility: visible;
            }
        }
    }
}