.skin-toolsitem-with-label {

    span, div {
        #typo .size-s();
        padding:0 10px;
	    display: inline-block;
        vertical-align: middle;
		.ellipsis();
		width: 150px; // needed for ie
		max-width: 150px;
    }
}
