.skin-toolsitem-download {
    .popover-title {
        display:none;
    }

    .download-bar {
        padding:5px 0;
        li {
            line-height: 1;
        }
        a {
            #typo .size-s();
            color:@c-white;
            line-height: 1.5;
	        text-decoration: underline;
        }
    }

	.ico-download {
		i {
			.s-polygon-download-grey();
		}

		&:hover i,
		&:focus i {
			.s-polygon-download-blue();
		}

		&:active i, &.active i {
			.s-polygon-download-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-download-grey();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-download-grey();
			}
		}
	}
}
