.skin-toolsitem-compare-remove-all {
	float: none;
	height: 0;
	line-height: 0;
	display: block;

	.ico-remove {
		display: none;// only visible on hover
		position: absolute;
		z-index: 20;
		right: 10px;
		top: 235px;
		font-size: 14px;

		i {
			.s-polygon-remove-big-white();
		}

		&:hover i,
		&:focus i {
			.s-polygon-remove-big-blue();
		}

		&:active i, &.active i {
			.s-polygon-remove-big-black()
		}
	}
}
