.skin-toolsitem-information {
	display: none;
	float: none;
	margin: 0;
	height: auto;
	line-height: normal;

	&:first-child {
		margin-top: 0;
	}

	&.active {
		display: inline-block;
	}

	.ico-information {
		i {
			.s-polygon-info-grey();
		}

		&:hover i,
		&:focus i {
			.s-polygon-info-blue();
		}

		&:active i, &.active i {
			.s-polygon-info-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-info-grey();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-info-grey();
			}
		}
	}

	&.big .ico-information{
		i {
			.s-polygon-info-big-grey();
		}

		&:hover i,
		&:focus i {
			.s-polygon-info-big-blue();
		}

		&:active i, &.active i {
			.s-polygon-info-big-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-polygon-info-big-grey();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-info-big-grey();
			}
		}
	}

	.popover {
        width: 300px;
        &.top{
        	margin-top: -22px;
        }
    }
}
