@import 'global-utilities';

:host {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: calc(100vh - #{$ux-header-sm-height});

  @include tabletPlus {
    height: calc(100vh - #{$ux-header-xxl-height});
  }

  .error-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $ux-text-default;
    text-align: center;

    .not-found {
      @include typography-display-xxxl;

      margin-bottom: ($ux-spacing-unit * 2);
      font-weight: $font-weight-semiBold;
      color: $ux-text-default;
    }

    .not-found-subtitle {
      @include typography-display-xxl;

      font-weight: $font-weight-medium;
      color: $ux-text-default;
    }

    .emoji {
      width: 100%;
      height: 47px;
    }
  }
}
