
.mod-footer-links {
  margin-top: $spacing-unit * 5;
  width: 100%;

  .nav-footer-section {
    width: 100%;

    @media #{$ipad-landscape} {
      width: 20%;
    }

    &--manufacturer-stores,
    &--most-searched {
      display: none;

      @media #{$ipad} {
        display: block;
      }

    }

  }

  .nav-title {
    @include font-size(24px);
    @include line-height(30px);
    color: $colour-light-grey;
    display: block;
    font-family: $font-montserrat;
    letter-spacing: -0.2px;
    margin: ($spacing-unit * 2) 0 ($spacing-unit * 4) 0;

  }

  .nav-footer-list {
    margin-top: 17px;

    a {
      @include font-size(14px);
      @include line-height(24px);
      font-family: $font-montserrat;
      font-weight: 500;
      letter-spacing: -0.28px;
    }

  }

  .nav-title,  li {
    padding-left: 10px;
  }

  .link-showAll {
    text-decoration: underline;
  }

  .link-more {

    i {
      margin-right: 8px;
      //.s-more-black();
      display: inline-block;
    }

    &:hover {

      i {
        //.s-more-lightblue();
      }

    }

    &:active {
      i {
        //.s-more-blue();
      }

    }

  }

}
