@import 'global-utilities';

.app-disruption-message {
  display: block;
  float: none;
  width: 100%;

  .warning-fw {
    display: flex;
    float: none;
    margin-bottom: 0;
    margin-top: ($spacing-unit * 4);
    width: 100%;

    @media #{$ipad-landscape} {
      margin-top: ($spacing-unit * 20);
    }

    &.WARNING {
      background-color: $colour-warning-text-bg;
      border: ($spacing-unit - 4) solid $colour-warning-text-bg;
      color: $colour-warning-text;
    }

    &.SUCCESS {
      background-color: $colour-pale-green;
      border: ($spacing-unit - 4) solid $colour-green;
      color: $colour-green;
    }

    &.ERROR {
      background-color: #fdf3f3;
      border: ($spacing-unit - 4) solid #f7a9a9;
      color: $colour-error-text;
    }

    @media #{$ipad-landscape} {
      display: flex;
      float: none;
      margin: ($spacing-unit * 4) 0;
    }

    .ct {
      padding: ($spacing-unit * 3) 0;
      width: 100%;

      .c-center {
        text-align: center;

        .c-center-content {
          display: table;
          margin-right: auto;
          margin-left: auto;

          .inner {
            display: table-cell;
            padding: 0 ($spacing-unit * 6);
            vertical-align: middle;

            .warning-text {
              @include font-size(14px);
              font-weight: $font-weight-bold;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
