<div *rxLet="bannerComponent$; let bannerComponent" class="app-disruption-message">
  <div class="container">
    <div [ngClass]="'col-12 warning-fw ' + bannerComponent?.warningType">
      <div class="ct">
        <div class="c-center">
          <div class="c-center-content">
            <div class="inner">
              <p class="warning-text" [innerHTML]="bannerComponent?.body | parseHtml: bannerComponent?.body"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
