@import 'global-utilities';

.footer-newsletter-bg {
  background-image: url('/app/spartacus/assets/media/signup-bg.jpeg');
  background-color: $colour-pale-grey;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  content-visibility: auto;
  padding: 0 ($spacing-unit * 2);
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.newsletter-content {
  content-visibility: auto;
  display: table;
  height: auto;
  margin: 0 auto;
  padding: ($spacing-unit * 4) 0;
  text-align: center;
  width: 100%;

  @media #{$ipad} {
    height: 250px;
  }

  @media #{$ipad-landscape} {
    max-width: 100%;
    flex: 0 0 62%;
  }

  &__holder {
    display: table;
    margin-top: 0;
    vertical-align: middle;

    @media #{$ipad} {
      margin-top: ($spacing-unit * 6);
    }

    .newsletter-teaser {
      @include font-size(28px);
      @include line-height(34px);
      color: $colour-white;
      font-weight: $font-weight-medium;
      letter-spacing: -0.6px;
      margin-bottom: $spacing-unit * 4;
      text-align: center;
    }

    .success-message {
      @include font-size(20px);
      font-weight: $font-weight-normal;
      color: $colour-white;
      margin-top: $spacing-unit * 3;
      padding: 0 ($spacing-unit * 2);
    }
  }

  &__form {
    .info-message {
      @include font-size(14px);
      color: $colour-white;
      padding: 0 ($spacing-unit * 3);
      text-align: left;

      @media #{$ipad} {
        padding: 0 ($spacing-unit * 2);
      }
    }

    &__wrapper {
      display: block;
      width: 100%;

      @media #{$ipad} {
        display: flex;
      }

      &--col {
        display: inline-block;
        padding: 0 ($spacing-unit * 3);

        @media #{$ipad-landscape} {
          padding: 0 ($spacing-unit * 2);
        }

        .btn-signup {
          @include font-size(15px);
          @include line-height(17px);
          background-color: #f69f1d;
          border: 0;
          border-radius: ($spacing-unit - 3);
          color: $colour-black;
          font-weight: $font-weight-bold;
          height: 38px;
          outline: 0;
          text-align: center;

          @media #{$ipad} {
            height: 41px;
            margin: 0 auto;
          }

          @media #{$ipad-landscape} {
            margin: 0;
          }

          fa-icon {
            @include font-size(18px);
            margin: (-$spacing-unit - 3) ($spacing-unit * 2) 0 0;
            vertical-align: text-top;
          }
        }

        .input-wrapper {
          input {
            @include font-size(15px);
            border: 1px solid $colour-mid-grey;
            border-radius: ($spacing-unit - 3);
            color: $colour-dark-grey;
            display: inline-block;
            float: left;
            height: 38px;
            margin-bottom: ($spacing-unit * 2);
            padding: ($spacing-unit + 1) ($spacing-unit + 3);
            vertical-align: middle;
            width: 100%;

            @media #{$ipad} {
              float: none;
              height: 41px;
              margin-bottom: ($spacing-unit * 4);
            }

            @media #{$ipad-landscape} {
              float: left;
              margin-bottom: 0;
            }
          }
          app-input-tooltip-popup {
            position: absolute;
            left: 50%;
          }
        }
      }
    }
  }
}

input.ng-dirty.ng-invalid {
  border-color: red;
}
