@import 'global-utilities';

:host {
  float: left;
  margin-top: ($spacing-unit * 2);
  position: sticky;
  width: 100%;

  @include tablet {
    margin-top: ($spacing-unit);
    width: auto;
  }
}

.add-cart-content {
  display: flex;
  align-items: center;
}

.numeric {
  display: flex;
  align-items: center;
  margin-right: ($spacing-unit + 3);
}

.btn-wrap {
  flex: 1;

  @include tablet {
    flex: 0;
  }
}

.numeric-btn {
  @include line-height(40px);
  border: ($spacing-unit - 4) solid $ux-light-grey;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  width: 40px;

  fa-icon {
    @include typography-display-sm;
    font-weight: $font-weight-normal;
    color: $colour-dist-grey;
    display: block;

    svg {
      display: block;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 1;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    border: ($spacing-unit - 3) solid $ux-input-border-color-light;
  }

  &.hook-cart-increase {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      border-left: ($spacing-unit - 3) solid $ux-input-border-color-light;
    }
  }

  &.qty {
    border-radius: 0;
  }

  &.hook-cart-decrease {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
      border-right: ($spacing-unit - 3) solid $ux-input-border-color-light;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
