.mod-maincategorynav {
  background-color: $colour-pale-grey;
  display: none;
  left: 0;
  margin-top: 55px;
  position: relative;
  width: 300px;

  &:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid $colour-black;
    content: '';
    height: 0;
    left: 80px;
    position: absolute;
    top: -10px;
    width: 0;
  }

  &:after {
    border-top: 4px solid $colour-black;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.mobile-active {
    display: block;
    height: calc(100% - 182px);
    left: 0;
    margin-top: 0;
    overflow: scroll;
    padding-bottom: $spacing-unit * 10;
    position: fixed;
    top: 182px;
    width: 100%;
    z-index: 900;
  }

  .wrapper {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);
    float: left;
    position: relative;
    width: 100%;
  }

  .main_li {
    float: left;
    width: 100%;

    .activator {

      .level_1 {

        .level2-toggle {
          @include line-height(31px);
          display: none;
          float: right;
          padding-top: ($spacing-unit + 2);
          text-align: center;
          width: 10%;

          &.active {
            background: $colour-dist-red;
            color: $colour-white;
          }

          .svg-inline--fa {
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
          }

        }

        .link_l1 {
          display: block;
          padding: 0 ($spacing-unit * 3);
          float: left;
          width: 100%;

          .text {
            display: inline-block;
            float: left;
            max-width: 240px;
          }

          .level1titleClass {
            @include font-size(13px);
            @include line-height(27px);
            -webkit-font-smoothing: antialiased;
            color: $maincategorynav-c-dark-grey;
            display: block;

            .svg-inline--fa {
              display: inline-block;
              float: right;
              font-size: 18px;
              font-weight: bold;
              margin-top: 6px;
            }

          }

        }

      }

    }

    .content-l1 {
      background-color: $maincategorynav-c-dark-grey;
      background-image: url('/_ui/all/media/distrelec-logo.png');
      background-position: 317px 451px;
      background-repeat: no-repeat;
      background-size: 100%;
      border-left: 1px solid $colour-black;
      border-radius: 0 2px 2px 0;
      box-shadow: 3px 11px 20px 0 rgba(0, 0, 0, .25);
      display: none;
      float: left;
      min-height: 100%;
      left: 300px;
      position: absolute;
      top: 0;
      width: 600px;

      &.active {
        display: none;
      }

      .wrapper-l2 {
        float: left;
        padding-top: 3px;
        width: 100%;
      }

      .title-l2 {
        padding: ($spacing-unit * 3 - 1) ($spacing-unit * 3);

        &__text {
          @include font-size(16px);
          @include line-height(19px);
          -webkit-font-smoothing: antialiased;
          border-bottom: 1px solid #979797;
          color: $maincategorynav-c-grey;
          display: block;
          padding-bottom: ($spacing-unit * 3);
          width: 100%;

          .svg-inline--fa {
            margin-left: 10px;
          }

        }

      }

      .content-l2 {
        float: left;
        width: 100%;

        .ellipsis-nav {
          float: left;
          width: 100%;

          a {
            @include font-size(12px);
            @include line-height(25px);
            -webkit-font-smoothing: antialiased;
            color: $maincategorynav-c-grey;
            display: block;
            padding: 0 ($spacing-unit * 3);
          }

        }

        &:hover {

          .ellipsis-nav {
            background: $colour-dist-red;

            a {
              color: $colour-white;
            }

          }

        }

      }

    }

    &:first-of-type {

      .level_1 {

        .link_l1 {
          padding-top: 10px;

          .level1titleClass {
            color: $maincategorynav-c-gold;
            font-weight: bold;
          }

        }

      }


      &:hover {

        .level_1 {

          .link_l1 {
            background: $maincategorynav-c-gold;

            .level1titleClass {
              color: $colour-white;
            }

          }

        }

      }

    }

    &:last-of-type {

      .level_1 {

        .link_l1 {

          .level1titleClass {
            color: $colour-dist-red;
            font-weight: bold;
          }

        }

      }


      &:hover {

        .level_1 {

          .link_l1 {
            background: $colour-dist-red;

            .level1titleClass {
              color: $colour-white;
            }

          }

        }

      }

    }

    &:hover {

      .content-l1 {
        display: block;
      }

      .activator {

        .level_1 {

          .link_l1 {
            background: $colour-dist-red;

            span {
              color: $colour-white;
            }

          }

        }

      }

    }

  }

}

