$plp-facet-light-grey   : #F1F2F1;
$plp-facet-mid-grey     : #D8D8D8;
$plp-facet-mid-blue     : #169BD5;
$plp-facet-mid-black    : #474747;
$plp-facet-grey         : #eeeeee;
$plp-facet-bg-opacity-grey: rgba(241, 241, 241, 1);
$plp-facet-border-grey  : #d2e1e5;
$plp-facet-tick-grey    : #797979;

