@import 'global-utilities';

.Logo {
  background: $colour-white;
  display: flex;
  padding-bottom: 0;
  width: 100%;

  @media #{$ipad-landscape} {
    padding-bottom: ($spacing-unit * 4);
  }

  app-logo {
    text-align: center;
    width: 100%;

    .logo-link {
      display: inline-block;
      line-height: 1;
      margin: 0 auto;
      max-width: 200px;
      padding-left: 0;
      position: relative;

      img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
