@import 'global-utilities';

.shopping-list-row {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;

  @media #{$ipad} {
    display: flex;
    float: none;
  }

  &__form-checkbox {
    float: left;
    width: 10%;
    display: inline-block;

    input {
      cursor: pointer;
    }

    @media #{$ipad} {
      display: flex;
      align-items: flex-start;
      padding: 0;
      width: 100%;
    }
  }

  &__image-container {
    display: inline-block;
    float: left;
    max-width: 33%;
    padding: 0 ($spacing-unit + 2);

    @include tablet {
      padding: 0 ($spacing-unit + 2) 0 0;
    }

    .img-holder {
      width: 120px;

      img {
        max-width: 100%;

        @include tablet {
          width: 100%;
        }
      }
    }

    @include print {
      max-width: 150px;
    }

    .product-label-wrap {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: table;
      width: 106px;

      .top-label {
        line-height: 18px;
        color: $colour-white;
        @include font-size(12px);
        letter-spacing: 0;
        min-width: 60px;
        position: relative;
        text-align: center;
        vertical-align: top;
        z-index: 9;

        .top-label-name {
          line-height: 27px;
          line-height: 1.6875rem;
          background: $colour-dist-marigold;
          border-radius: 2px;
          display: inline-block;
          font-weight: $font-weight-semiBold;
          height: 27px;
          letter-spacing: 0.4px;
          padding: 0 ($spacing-unit * 3 + 3);
          text-transform: uppercase;
          white-space: nowrap;

          &.new-label {
            background: $colour-dist-grey;
          }
        }

        .bundle {
          background-color: $colour-dist-dark-green;
          color: $colour-white;
        }

        .new,
        .bestseller {
          background: $colour-dist-marigold;
          color: $colour-black;
        }

        .offer {
          background-color: $colour-red;
          color: $colour-white;
        }
      }
    }
  }

  &__title {
    @include font-size(13px);
    color: $colour-black;
    float: left;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    white-space: normal;
    width: auto;

    @include tablet {
      @include font-size(15px);
      margin-bottom: ($spacing-unit + 3);
    }
  }

  .remove-link {
    @include font-size(12px);
    color: $colour-red;
    float: left;
    width: 100%;

    @include tablet {
      @include font-size(13px);
      width: auto;
    }

    &:hover {
      color: $colour-black;
    }
  }

  .productlist-container {
    float: left;
    width: 100%;

    &__data {
      float: left;
      width: 100%;

      @include tabletPlus {
        display: inline-block;
        float: none;
        width: auto;
      }

      .label {
        @include font-size(12px);
        color: #ababab;
        font-weight: $font-weight-bold;
        padding-right: ($spacing-unit - 1);
      }

      .value {
        @include font-size(12px);
        color: #191919;
        font-weight: $font-weight-medium;
        margin-right: ($spacing-unit * 2);
      }
    }
  }

  .list-attribs {
    float: left;
    width: 100%;

    @include tablet {
      width: 52%;
    }

    .cart-wrap {
      display: inline;
      float: left;
      margin-top: ($spacing-unit * 2);
      width: 100%;

      @include tablet {
        margin-top: ($spacing-unit * 8);
        font-weight: $font-weight-medium;
      }

      app-entry-qty {
        display: inline;
        float: left;
        margin-left: 0;
        margin-top: ($spacing-unit * 2);
        position: static;

        @include tablet {
          margin-left: ($spacing-unit * 3);
          margin-top: 0;
        }
      }

      app-numeric-stepper {
        bottom: 7px;
        left: 10px;
        display: flex;
      }
    }
  }

  .pull-right {
    display: block;
    float: left;
    margin: 0;
    margin-top: $spacing-unit * 4;
    padding: ($spacing-unit) 0 0 ($spacing-unit);
    width: 56%;

    @include tablet {
      display: flex;
      padding: 0;
      width: 100%;
    }
  }

  .spinner-wrapper {
    width: 100%;
  }

  .spinner-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba($colour-white, 0.85);
  }
}
