.mod-bom-data-import {
  margin-bottom: $spacing-unit*6;
  position: relative;

  .lt-ie10 & {
    .ie-alt {
      margin-top: 30px;
    }

    input[type=file] {
      margin-top: 10px;
    }

    .btn-select {
      display: none;
    }

  }

  .errors {
    border: 1px solid $colour-dark-red;
    background-color: $colour-warning-red-bg;
    color: $colour-dark-red;
    padding: 10px;
    margin-top: -65px;
    margin-bottom: 25px;
  }

  .introduction-text {
    float: left;
    margin-bottom: ($spacing-unit * 4);
    width: 100%;

    p {
      @include font-size(15px);
      @include line-height(24px);

      b {
        display: block;
      }

    }

  }

  .row-holder {
    border: 2px solid $colour-mid-grey;
    border-radius: 5px;
    margin: 0;
    padding: ($spacing-unit * 4) ($spacing-unit * 3);
    position: relative;

    &__item-partition {
      background-color: $colour-mid-grey;
      display: none;
      height: 90%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      width: 2px;

      @media #{$ipad} {
        display: block;
      }

      span {
        @include font-size(25px);
        background-color: $colour-white;
        left: 50%;
        padding: ($spacing-unit*6) 0;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
      }

    }

    &__item {
      float: left;
      margin-bottom: ($spacing-unit * 3);
      width: 100%;

      &:first-child {
        padding-right: $spacing-unit*6;
      }

      &:last-child {
        padding-left: $spacing-unit*6;
      }

      &:last-of-type {
        display: none;

        @media #{$ipad} {
          display: block;
        }

      }

      .content {
        float: left;
        width: 100%;

        .head {
          @include font-size(18px);
          @include line-height(26px);
          border: 0;
          height: auto;
          margin-bottom: $spacing-unit*2;
          padding: 0;

          @media #{$ipad-landscape} {
            @include font-size(25px);
            @include line-height(32px);
          }

        }

        &__item {
          float: left;
          width: 100%;

          &:first-of-type {
            height: 185px;

            @media #{$desktop} {
              min-height: 120px;
            }

          }

          &--CZ {

            &:first-of-type {
              height: 185px;

              @media #{$desktop} {
                min-height: 140px;
              }

            }
          }

          textarea {
            @include font-size(14px);
            @include line-height(21px);
            border: 1px solid $colour-black;
            border-radius: 2px;
            color: $text-boom-data-grey;
            height: 170px;
            overflow-y: auto;
            width: 100%;
          }

          p {
            @include font-size(14px);
            margin: 0 0 ($spacing-unit * 2);
            min-height: auto;

            &.filename {
              border: 0;
            }

          }

          .errors {
            float: left;
            margin-top: 0;
            width: 100%;
          }

          .download-example {
            border: 0;
            float: left;
            height: auto;
            width: 100%;

            span {
              background: transparent;
              display: inline-block;
              position: relative;
              width: auto;
            }

            i,
            .right,
            svg {
              @include font-size(14px);
              @include line-height(22px);
              color: $link-blue;
            }

            i,
            svg {
              @include font-size(18px);
              display: none;
              margin-right: ($spacing-unit + 3);

              @media #{$ipad} {
                display: inline-block;
              }

            }

            .right {
              display: inline;
            }

            &:hover {

              i,
              svg,
              .right {
                background: transparent;
                color: $link-dark-blue;
                text-decoration: underline;
              }

            }

          }

          .advanced-upload {
            float: left;
            width: 100%;
          }

          .upload-file {
            background: transparent;
            border: 3px dashed $border-bom-data-upload;
            border-radius: 10px;
            display: table;
            height: 170px;
            padding: 0 ($spacing-unit*4);
            text-align: center;
            width: 100%;

            &__item {
              @include font-size(13px);
              display: table-cell;
              vertical-align: middle;

              .browser-ie {
                display: none;
              }

            }

            &--dragover {
              border: 3px solid $colour-dist-mid-grey;
            }


            i,
            span {
              color: $colour-bom-data-grey;
            }

            span {
              display: block;
              position: relative;
            }

            .filename {
              color: $colour-dist-green;
            }

          }

        }

      }

      .btn-holder {
        float: left;
        margin-top: $spacing-unit*4;
        width: 100%;

        button {
          @include font-size(15px);
          @include line-height(17px);
          background: $bg-bom-data-proceed;
          border-color: $bg-bom-data-proceed;
          border-radius: 2px;
          color: $colour-white;
          font-weight: bold;
          height: 41px;
          min-width: 150px;
          outline: none;
          text-align: center;

          @media #{$ipad} {
            float: right;
          }

          i,
          svg {
            @include font-size(14px);
            background-image: none;
            display: inline-block;
            float: none;
            height: auto;
            margin: 0;
            margin-left: ($spacing-unit * 2);
          }

          &:disabled {
            background: $bg-dom-data-btn-disabled;
            border-color: $bg-dom-data-btn-disabled;
            color: $colour-bom-data-grey;

            i,
            svg {
              display: none;
            }

          }

        }

      }

    }

  }

  .bom-need-help {

    &--link {
      border-bottom: solid 2px transparent;
      color: $link-blue;
      position: absolute;
      right: 0;
      top: $spacing-unit * 6;

      &:hover,
      &:focus {
        color: $link-dark-blue;
        border-color: $link-dark-blue;
      }

    }

    &--info-content {
      @include font-size(14px);
      @include line-height(20px);
      margin-top: -($spacing-unit*14);
      padding-top: $spacing-unit*15;
    }

    &--info {
      border: 2px solid $colour-mid-grey;
      border-radius: 5px;
      margin-top: $spacing-unit*4;
      padding: $spacing-unit*3;

    }

  }

}

[data-magic-ua=ie]  {

  .upload-file {
    border: none !important;
    height: auto !important;
    margin-top: 65px;

    &__item {

      .icon,
      .browser-other {
        display: none !important;
      }

      .browser-ie {
        display: block !important;
      }

    }

  }

}


