@import 'global-utilities';

:host {
  background: $colour-pale-grey;
  display: block;
}

app-product-list-title {
  .plp-title {
    .container {
      background: $colour-white;
    }

    .title {
      @include typography-display-lg;
      background-color: $colour-white;
      color: $ux-text-default;

      @include tabletDown {
        padding-left: 2.5rem;
        position: relative;
        padding-top: $ux-spacing-unit * 2;
        padding-bottom: $ux-spacing-unit * 2;
      }
    }

    fa-icon {
      display: none;

      @include mobileOnly {
        display: inline-block;
        position: absolute;
        margin-left: -30px;
        top: 30%;
      }
    }

    .normalize-font-size {
      @include font-size(22px);
    }

    .results {
      flex-basis: 100%;
      font-size: 0.75rem;

      @include tabletPlus {
        display: none;
      }
    }

    @media screen and (min-width: 992px) {
      .title {
        background-color: unset;
      }
    }

    .showing-results {
      @include typography-display-lg;
      font-weight: $font-weight-normal;
      margin-bottom: 0;

      .search-term {
        @include typography-display-lg;
        font-weight: $font-weight-semiBold;
      }
    }
  }
}

.product-family-title {
  @include typography-display-lg;
  display: flex;
  font-weight: $font-weight-semiBold;
  color: $ux-text-default;
  padding: ($ux-spacing-unit * 5) 0;

  @include tabletPlus {
    padding-bottom: 0;
    padding-top: 0;
  }
}
