<ng-container *ngIf="isPlpActive$ | async">
  <div *ngIf="title$ | async as title" class="plp-title" id="plp-title">
    <div class="row mx-0 align-items-center title">
      <a class="page-title-back-navigation" (click)="navigateBack($event)">
        <fa-icon class="arrow-left fa-lg" [icon]="faArrowLeft"></fa-icon>
      </a>
      <h3
        class="showing-results"
        [innerHTML]="'plp.facet_buttons_and_headers.showing_results_for' | cxTranslate: { '0': title }"
      ></h3>
      <div *ngIf="results$ | async as results" class="font-weight-bold results">
        <app-pagination-label [paginationResults]="results"></app-pagination-label>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="isProductFamilyPage">
  <span class="product-family-title">{{ 'product.family.listing' | cxTranslate }}</span>
</div>
