.skin-nextprevproductdetail-compare {

  @media print {
    display: none;
  }

  a {

    &:hover {
      transition: none;
    }

  }

  .arrow_prev-compare {
    margin-top: -95px;

    a {

      &.btn {
        left: -30px;

        @media #{$desktop} {
          left: -62px;
        }

      }

    }

  }

  .arrow_next-compare {
    margin-top: -95px;

    a {

      &.btn {
        right: 55px;

        @media #{$desktop} {
          right: -26px;
        }

      }

    }

  }

}