@import 'global-utilities';

.container-pagination {
  @include typography-text-sm();
  border-bottom: 1px solid $ux-light-grey;
  color: $ux-text-default;
  font-weight: $font-weight-medium;
  padding-bottom: ($ux-spacing-unit * 5);

  .change-view {
    gap: 8px;
  }

  .sort-option {
    color: $ux-text-default;
    font-weight: $font-weight-medium;
  }
}

