// Media Queries

$mobile: 'only screen and (min-width: 480px)';
$mobile-landscape: 'only screen and (min-width: 568px)';

$mobile-iphone6: 'only screen and (min-width: 375px)';
$mobile-iphone6-landscape: 'only screen and (min-width: 667px)';

$ipad: 'only screen and (min-width: 768px)';
$ipad-landscape: 'only screen and (min-width: 992px)';

$desktop: 'only screen and (min-width: 1200px)';

$homepage-container: 'only screen and (min-width: 1400px)';

$firefox: 'url-prefix()';
