.mod-checkout-order-summary-note-box {

	margin-top: 30px;

	.form-box, .box {
		margin-bottom: 30px;
		padding: 0 10px 15px; // Review: KR: Alignment left
		#border .border-std(0, 0, 1px, 0);
	}
	.head {
		#typo > .section-title();
		margin-bottom: 20px;
	}
	textarea {
		width: 100%;
		min-height: 100px;
		margin-bottom: 5px;
		resize:vertical;
		#typo > .size-x-c();
	}

	@media print {

		.hidden();
	}
}
