@import 'global-utilities';

.btn {
  &.extend-codice {
    padding: 0;
  }

  .extend-codice--label {
    padding-left: $spacing-unit * 2;
  }
}

.ch__component__details {
  input:disabled {
    opacity: 1;
    color: black;
  }

  &.subtitle {
    margin-bottom: $spacing-unit * 4;
  }

  .error-text {
    color: $colour-red;
  }
}

.ux-link {
  display: inline-block;
  padding-top: $spacing-unit * 2;
  text-decoration: none !important;
}
