.skin-cart-toolbar-cart {
  float: left;
  width: 100%;

  &__holder {
    float: left;
    padding: 0 ($spacing-unit * 3);
    width: 100%;

    &__left {
      float: left;
      width: 40%;
    }

    &__right {
      float: right;
      text-align: right;
      width: 60%;
    }

  }

  .mod-toolsitem {
    @include line-height(17px);
    height: auto;
    float: none;
    margin-right: ($spacing-unit * 3);

    &:last-of-type {
      margin-right: 0;
    }

    span {
      max-width: unset;
      padding: 0;
      width: auto;
    }

  }

}

.isie7,
.isie8 {

  .skin-cart-toolbar-cart {
    padding-top: ($spacing-unit * 4);

    &__holder {

      &__left {

        .mod-toolsitem {
          float: left;
        }

      }

      &__right {

        .mod-toolsitem {
          float: right;
        }

      }

    }

  }

}
