<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="o-skeleton-loader__block is-clean">
        <div class="o-skeleton-loader__item is-w50"></div>
        <div class="o-skeleton-loader__item is-w30"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item is-text"></div>
      </div>

      <div class="o-skeleton-loader__spacer"></div>

      <div class="o-skeleton-loader__block">
        <div class="o-skeleton-loader__item is-text"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="d-flex">
          <div>
            <div class="o-skeleton-loader__item is-product-image"></div>
          </div>

          <div class="flex-grow-1">
            <div class="o-skeleton-loader__item is-text"></div>
            <div class="o-skeleton-loader__item is-text is-w40"></div>
            <div class="o-skeleton-loader__item is-text is-w30"></div>
            <div class="o-skeleton-loader__item is-text is-w30"></div>
          </div>
        </div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item"></div>
      </div>

      <div class="o-skeleton-loader__block">
        <div class="o-skeleton-loader__item is-text"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="d-flex">
          <div>
            <div class="o-skeleton-loader__item is-product-image"></div>
          </div>

          <div class="flex-grow-1">
            <div class="o-skeleton-loader__item is-text"></div>
            <div class="o-skeleton-loader__item is-text is-w40"></div>
            <div class="o-skeleton-loader__item is-text is-w30"></div>
            <div class="o-skeleton-loader__item is-text is-w30"></div>
          </div>
        </div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item"></div>
      </div>

      <div class="o-skeleton-loader__block">
        <div class="o-skeleton-loader__item is-text"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="d-flex">
          <div>
            <div class="o-skeleton-loader__item is-product-image"></div>
          </div>

          <div class="flex-grow-1">
            <div class="o-skeleton-loader__item is-text"></div>
            <div class="o-skeleton-loader__item is-text is-w40"></div>
            <div class="o-skeleton-loader__item is-text is-w30"></div>
            <div class="o-skeleton-loader__item is-text is-w30"></div>
          </div>
        </div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item"></div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="o-skeleton-loader__spacer"></div>
      <div class="o-skeleton-loader__spacer"></div>
      <div class="o-skeleton-loader__spacer"></div>
      <div class="o-skeleton-loader__spacer"></div>

      <div class="o-skeleton-loader__block">
        <div class="o-skeleton-loader__item is-text"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item is-text"></div>
        <div class="o-skeleton-loader__item is-text is-w50"></div>
        <div class="o-skeleton-loader__item is-text"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item is-text"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item is-text"></div>
        <div class="o-skeleton-loader__item is-text"></div>
        <div class="o-skeleton-loader__item is-text"></div>
        <div class="o-skeleton-loader__item is-text"></div>

        <div class="o-skeleton-loader__item is-text is-h45px"></div>
        <div class="o-skeleton-loader__item is-text"></div>
      </div>
    </div>
  </div>
</div>
