.ct__menu {
  .mod-mainnav {
    $height: 17px;
    $z-index: 1050;
    $_l1-padding-v: 10px;
    $_l1-padding-h: 10px;
    $_flyoutWidth: 300px;
    $bg-mainnav: rgb(51, 51, 51);

    .import-tool-link {
      display: none;
      position: relative;
      text-align: right;
      padding: (($spacing-unit * 2) + 0.4) ($spacing-unit * 3);
      margin-left: auto;
      flex-shrink: 0;

      @media #{$ipad-landscape} {
        display: block;
      }

      a {
        @include font-size(13px);
        @include line-height(36px);
        -webkit-font-smoothing: antialiased;
        color: $border-dist-grey;
        display: table-cell;
        font-weight: 500;
        padding-top: 0;
        vertical-align: middle;

        &:hover {
          color: $colour-white;
        }

        i {
          font-size: 12px;
          padding-right: 5px;
          vertical-align: baseline;
        }
      }
    }

    .user-channel-toggle {
      display: none;
      position: relative;
      text-align: right;
      padding: 10.4px $spacing-unit;
      margin-left: auto;
      flex-shrink: 0;

      @media #{$ipad-landscape} {
        display: block;
      }
    }


    & {
      background: transparent;
      display: flex;
      flex-grow: 1;
      margin: 0;
      max-height: 100%;
      position: relative;
      width: auto;
      z-index: auto;

      @media #{$ipad} {
        background: $colour-dark-grey;
      }

      @media #{$ipad-landscape} {
        min-height: 57px;
        padding: 0 ($spacing-unit * 3) 0 0;
      }
    }

    .l1 {
      float: left;
      font-size: 0;
      padding-bottom: 0;

      .lt-ie8 & {
        display: block;
      }
    }

    .e1 {
      background: transparent;
      border: 0;
      display: table-cell;
      font-size: 14px;
      padding-bottom: $spacing-unit - 2;
      pointer-events: all;
      vertical-align: middle;

      .lt-ie8 & {
        display: inline-block;
        float: left;
      }

      .holder {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
        float: left;
        width: 100%;

        &__item {
          float: left;
          width: 100%;
        }
      }

      & {
        .l2 {
          background: transparent;
          border: 0;
          left: 20px;
          margin-left: -7px;
          margin-top: -7px !important;
          padding: ($spacing-unit * 4 + 2) 0 0;
          width: $_flyoutWidth;

          .l2-holder {
            background: $colour-dist-grey;
            border: 0;
            float: left;
            left: 0;
            margin-top: 0;
            position: relative;
            width: 100%;
          }

          &:before {
            border-bottom: 10px solid $colour-vivid-red;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            height: 0;
            margin-left: ($spacing-unit * 3);
            margin-top: -($spacing-unit * 2);
            width: 0;
          }

          &--active {
            display: block !important;
            top: 60px;
            visibility: inherit;
          }
        }

        .mrk1 {
          display: none;
        }

        .a1 i {
          display: inline-block !important;
          margin-bottom: 2px;
          vertical-align: middle;

          font {
            vertical-align: bottom !important;
          }
        }
      }
    }

    .count_e1_2 {
      .l2 {
        left: 20px;
        position: absolute;
      }
    }

    .count_e1_4 {
      .l2 {
        right: unset !important;
      }
    }

    .a1 {
      @include font-size(13px);
      @include line-height(36px);
      -webkit-font-smoothing: antialiased;
      color: $border-dist-grey !important;
      display: inline;
      font-weight: 500;
      height: auto;
      margin: 0;
      outline: none;
      padding-top: 0;
      position: relative;
      width: 100%;

      &:hover,
      &:focus {
        color: $colour-white !important;
      }

      .lt-ie8 & {
        padding: $_l1-padding-v $_l1-padding-h;
      }
    }

    .e1 {
      border-right: 0;
      display: none;
      float: left;
      height: auto;
      padding: 10.4px ($spacing-unit * 3);
      position: relative;
      width: 100%;

      @media #{$ipad-landscape} {
        display: block;
        width: auto;
      }


      &:last-of-type {
        border: 0;
      }

    }

    .a1__title {
      float: left;
      min-width: 100px;
      width: 90%;
    }

    .a1__icon {
      float: right;
      margin-top: 2px;
    }

    .l2 {
      & {
        margin: ($spacing-unit * 4) 0 0 0;
        position: absolute;
        text-align: left;
        z-index: $z-index;
      }

      .lt-ie8 & {
        text-align: left;
      }

      .no-js & {
        background-color: $colour-dist-grey;
        margin-left: -($spacing-unit * 4);
        padding-left: ($spacing-unit * 4);
        width: 960px;
      }

      &__border {
        background: $colour-vivid-red;
        height: 4px;
        margin: 0;
      }

      li {
        &:nth-of-type(3) {
          .a2 {
            padding-top: ($spacing-unit * 3);
          }
        }
      }
    }

    .e2 {
      background: $colour-dist-grey;
      float: left;
      position: relative;
      width: 100%;
    }

    .a2 {
      color: $colour-white;
      display: block;
      font-size: 14px;
      -webkit-font-smoothing: antialiased;
      line-height: 17px;
      margin: 0;
      padding: ($spacing-unit * 2) ($spacing-unit * 3);

      &:hover {
        background: $colour-vivid-red;
        color: $colour-white;
      }
    }

    .active > a {
      color: $colour-dist-red;
    }

    li a:hover {
      color: $colour-dist-red;
    }

    li a:active {
      color: $colour-dist-red;
    }

    .e1 > a {
      &:hover {
        color: $colour-white;
      }

      &:active {
        color: $colour-white;
      }
    }

    @media print {
      display: none;
    }
  }

  .count_e1_2 .l2 {
    margin-left: 0;
  }
}

body.l1-flyout {
  #flyout {
    display: block;
  }

  .mod-mainnav {
    .e1 {
      &.hover {
        .l2 {
          margin-left: -($spacing-unit + 2);
          margin-top: $spacing-unit * 5 -1;
          visibility: visible;
          z-index: 910;
        }

        .mrk1 {
          display: block;
          z-index: 210 + 4;
        }

        .a1 i {
          display: block;
          z-index: 210 + 4;
        }
      }
    }
  }
}
