$colour-bom-no-available-red: #AC0000;
$colour-bom-no-available-grey: #333333;

$bg-bom-no-available-header: #f7f9fc;

$border-bom-no-available-header: #D8D8D8;
$bom-modal-border: #e2e2e2;

$bom-product-info-label                     : #A8A8A8;
$bom-product-info-value                     : #191919;
