@import 'global-utilities';

.data-response-holder {
  float: left;
  text-align: center;
  width: 100%;

  &__success {
    @include font-size(14px);
    @include line-height(16px);
    background-color: rgba(104, 193, 67, 0.1);
    border: 1px solid $bg-dist-green;
    border-radius: 2px;
    color: $bg-dist-green;
    margin-bottom: ($spacing-unit * 4);
    padding: ($spacing-unit * 4);
  }

  &__fail {
    @include font-size(14px);
    @include line-height(16px);
    background-color: $colour-pale-red;
    border: 1px solid $colour-red;
    border-radius: 2px;
    color: $colour-red;
    margin-bottom: ($spacing-unit * 4);
    padding: ($spacing-unit * 4);
  }
}

form {
  float: left;
  width: 100%;
  padding-bottom: $spacing-unit * 10;

  .input-holder {
    float: left;
    margin-bottom: ($spacing-unit * 2);
    width: 100%;
    display: block;
    .input-wrapper {
      display: flex;
    }

    .dropdown {
      width: 70%;
      display: inline-block;
      @include font-size(12px);
    }

    &__error-msg {
      @include font-size(15px);
      @include line-height(18px);
      display: none;
      color: $colour-red;
      float: right;
      padding: ($spacing-unit * 2) 0 0;
      width: 100%;
      padding-left: 25px;

      @media #{$ipad} {
        width: 70%;
      }
    }

    &.input-holder--subreason {
      > label {
        display: none;

        @media #{$ipad} {
          display: inline-block;
        }
      }
    }

    &--has-counter {
      position: relative;
      margin-bottom: $spacing-unit * 3;
    }

    &__counter {
      @include font-size(12px);
      position: absolute;
      top: 100%;
      right: 0;
    }

    &.has-error {
      .input-holder__error-msg {
        display: block;
      }

      input,
      textarea,
      .selectboxit.selectpicker.selectboxit-btn {
        border: 2px solid $border-input-warning;
      }
    }

    label {
      @include font-size(14px);
      @include line-height(17px);
      color: $colour-dark-grey;
      display: inline-block;
      margin-bottom: ($spacing-unit * 2);
      width: 100%;
      vertical-align: middle;

      @media #{$ipad} {
        margin-bottom: 0;
        max-width: 180px;
        width: 100%;
      }
    }

    textarea {
      border: 1px solid $colour-light-grey;
      outline: none;
      width: 100% !important;

      @media #{$ipad} {
        width: 70%;
      }
    }

    .selectboxit-container {
      width: 100%;

      @media #{$ipad} {
        width: 70%;
      }

      .selectboxit {
        width: 100%;

        .selectboxit-text {
          max-width: 100% !important;
          padding-right: $spacing-unit * 7;
        }

        &-options {
          max-height: 300px !important;

          .selectboxit-option {
            height: auto;
            line-height: 1;
          }

          .selectboxit-option-anchor {
            @include line-height(20px);
            white-space: normal;
            display: inline-block;
            padding: $spacing-unit ($spacing-unit + 3);

            .selectboxit-option-icon-container {
              display: none;
            }
          }
        }
      }
    }

    .dropdown {
      width: 100% !important;
    }

    input {
      border: 1px solid $colour-light-grey;
      display: inline-block;
      height: 32px;
      outline: none;
      width: 100% !important;

      @media #{$ipad} {
        width: 70%;
      }
    }

    .warning {
      border: 2px solid $border-input-warning;
    }
  }

  .btn-holder {
    float: left;
    margin-top: ($spacing-unit * 4);
    width: 100%;
  }
}

.button-right-float {
  float: right;
}
