@import 'global-utilities';

// prevent autofill styles in chrome, temporary fix until this is a storybook component
input:-webkit-autofill {
  -webkit-text-fill-color: $colour-dist-grey !important;
  background-color: $colour-white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.flyout {
  width: 100%;

  .flyout-body {
    .bd {
      border-bottom: ($spacing-unit - 3) solid $ux-light-grey;
      padding-top: ($spacing-unit * 4);

      .bd-title {
        @include typography-display-xl();
        color: $colour-dark-grey;
        font-weight: $font-weight-normal;
        margin: 0 0 ($spacing-unit * 4);
        padding: 0;
      }

      .bd-row {
        height: 69px;
        margin: 0 1px 12px 1px;

        .input-label {
          @include typography-text-sm();
          font-weight: $font-weight-medium;
          width: 400px;
        }

        .ng-fa-icon {
          @include typography-text-md();
          color: $colour-dark-grey;
          position: relative;
        }

        .valid-check {
          position: relative;
          bottom: 33px;
          color: $ux-green;
          left: 92%;
        }

        button {
          &.pwd-icon-btn {
            border: none;
            bottom: 33px;
            left: 90%;
            padding: 0px;
            position: relative;
          }
        }
      }

      .email {
        margin-bottom: ($spacing-unit * 4);
      }

      .input-email,
      .input-password {
        @include typography-text-sm();
        align-items: center;
        background-color: $colour-white;
        border-color: transparent;
        outline: 1px solid $colour-redesign-light-grey;
        border-radius: 4px;
        color: $colour-dist-grey;
        display: flex;
        flex-direction: row;
        height: 40px;
        padding: (($spacing-unit * 2) + 2) ($spacing-unit + 3);
        width: 98%;

        &:hover {
          outline: 2px solid $colour-redesign-light-grey;
          box-shadow: none;
        }

        &:focus {
          outline: 1px solid $colour-redesign-light-grey;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        &.has-icon {
          padding-right: (($spacing-unit * 6) + 3);
        }
      }

      .is-correct {
        outline-color: $ux-green;
        padding-right: (($spacing-unit * 5) + 3);
      }

      .is-invalid {
        outline-color: $colour-red;
        background-image: url('/app/spartacus/assets/media/login-invalid.svg');
        background-size: 6%;
      }

      .signin_btn {
        margin: ($spacing-unit * 4) 0px;
      }

      .actions-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__remember {
          width: 232px;

          &-label {
            display: flex;
            @include typography-text-sm;
            color: $colour-dark-grey;
            font-weight: $font-weight-medium;
          }

          input {
            appearance: none;
            background-color: $colour-white;
            margin-right: ($spacing-unit + 3);
            width: 20px;
            height: 20px;
            border: 1px solid $colour-dist-grey;
            border-radius: $spacing-unit - 3;

            &:checked {
              background-image: url('/app/spartacus/assets/media/check.svg');
              background-size: 99%;
            }
          }
        }

        .forgetpass {
          @include typography-text-sm();
          align-items: center;
          color: $link-blue;
          float: right;
          font-weight: $font-weight-medium;
          text-align: right;
          text-decoration-line: underline;
          width: 158px;
        }
      }
    }

    .fd-white {
      padding: ($spacing-unit * 4) 0px;
    }

    .fd-white-border {
      padding: 0 ($spacing-unit * 3) ($spacing-unit * 3) 0px;
      border-bottom: ($spacing-unit - 4) solid $ux-light-grey;
      margin-bottom: ($spacing-unit * 4);
    }

    .fd,
    .fd-white,
    .fd-white-border {
      float: left;
      width: 100%;

      .fd-new {
        float: left;
        margin-bottom: ($spacing-unit * 5);
        padding-bottom: ($spacing-unit * 6);
        width: 100%;

        .fd-title {
          @include typography-text-sm();
          color: $colour-dark-grey;
          font-weight: $font-weight-medium;
          margin: ($spacing-unit * 4) 0px;
        }
      }

      .ui-list {
        .compare-products {
          .ui-list-link {
            @include typography-text-sm();
            display: block;
            color: $colour-dist-mid-grey;
            font-weight: $font-weight-medium;

            fa-icon {
              color: $colour-dist-mid-grey;
              width: 7%;
              padding: $spacing-unit 0;
            }
          }
        }

        &__container,
        &__container-border {
          .ui-list-link {
            @include typography-text-sm;
            display: flex;
            font-weight: $font-weight-medium;
            transition:
              background-color $ux-transition-time-default,
              padding $ux-transition-time-default;
            width: 100%;

            &__text {
              color: $colour-dist-grey;
              padding: (($spacing-unit * 2) + 2) 0;
            }

            .number-of-products {
              display: inline-block;
              padding-left: 0;
            }

            &:hover {
              text-decoration: none;
              padding-left: $spacing-unit + 3;
              background-color: $ux-hover-state;
            }
          }
        }

        &__container-border {
          padding-bottom: $spacing-unit * 4;
          border-bottom: 1px solid $ux-light-grey;
        }
      }
    }
  }
}
