@import 'global-utilities';

:host {
  margin: 0 ($ux-spacing-unit * 6);
  padding: 0;

  @include tablet {
    position: relative;
    border: none;
    width: auto;
  }

  .menuitem-wrapper {
    align-items: center;
    height: 100%;
    position: static;

    @media #{$ipad-landscape} {
      position: relative;
    }

    .menuitem {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      vertical-align: middle;

      .label {
        @include typography-text-xs();
        color: $colour-redesign-dark-black;
        display: inline-block;
        float: none;
        margin-top: 0;
        margin-left: 0;
        max-width: 100%;
        padding-left: 0;
        font-weight: $font-weight-normal;
        width: 100%;
        vertical-align: middle;

        @include tablet {
          color: $colour-white;
          width: auto;
        }

        .desktop-holder {
          .icon-label {
            @include tabletDown {
              @include sr-only;
            }

            @include tabletPlus {
              @include typography-text-xs();
              color: $colour-white;
              display: table-header-group;
              font-weight: $font-weight-normal;
              width: max-content;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          a {
            color: $colour-dist-mid-grey;
            display: inline-block;
            font-family: Montserrat, Helvetica, Arial, sans-serif;
            font-weight: $font-weight-medium;
          }
          .btn {
            display: block;
            width: 100%;
            height: $size-mobile-nav-height;
            padding: 0;

            @include tablet {
              color: $colour-white;
            }
          }
        }
      }
    }
  }
}
