@import 'global-utilities';

:host {
  width: 100%;

  label {
    @include typography-text-sm();
    font-weight: $font-weight-medium;
    width: 100%;
  }

  input {
    @include typography-text-sm();
    background-color: $colour-white;
    border-color: transparent;
    border-radius: $ux-spacing-unit;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $colour-dist-grey;
    height: 40px;
    outline: 1px solid $colour-redesign-light-grey;
    padding: ($ux-spacing-unit * 3) ($ux-spacing-unit * 2);
    width: 100%;

    &.secure {
      padding-right: (($ux-spacing-unit * 7) + 1);
    }

    &:hover {
      outline: 2px solid $colour-redesign-light-grey;
    }

    &:focus {
      outline: 1px solid $colour-redesign-light-grey;
    }
  }

  .is-valid {
    outline-color: $ux-green;
    padding-right: ($ux-spacing-unit * 6);
  }

  .is-invalid {
    padding-right: ($ux-spacing-unit * 6);
    outline-color: $colour-red;
  }

  .icon {
    bottom: 33px;
    position: relative;
    float: right;
    right: 10px;
    background-color: unset;

    &.valid-check {
      color: $ux-green;
    }

    &.invalid-cross {
      color: $colour-red;
    }

    &.secure {
      border: none;
      padding: 0px;
    }
  }
}
