@import 'global-utilities';

:host {
  $button-height-large: 48px;
  $button-width-small: 75px;
  $button-default-height: 40px;
  $button-height-small: 32px;

  button {
    align-items: center;
    border-radius: 4px;
    border-width: 0;
    color: $colour-white;
    display: flex;
    flex-direction: row;
    font-weight: $font-weight-semiBold;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.25s linear;
    white-space: nowrap;
    @include typography-ui-sm();

    &.has-icon {
      .btn-text {
        display: none;

        @include desktop {
          display: block;
        }
      }

      .btn-text-ipad {
        display: none;

        @include tabletOnly {
          display: block;
        }

        @include tabletPlusOnly {
          display: block;
        }
      }

      img {
        display: block;

        @include tablet {
          display: none;
        }
      }
    }
  }

  .h-small {
    height: $button-height-small;
  }

  .h-default {
    height: $button-default-height;
  }

  .h-large {
    height: $button-height-large;
  }

  .w-fill {
    padding: 0 16px 0 16px;
    width: 100%;
  }

  .w-fixed {
    padding: 0 16px 0 16px;
    width: inherit;
  }

  .w-large {
    padding: 0 20px 0 20px;
    width: 91px;
  }

  .w-medium {
    padding: 0 16px 0 16px;
    width: 83px;
  }

  .w-small {
    padding: 0 12px 0 12px;
    width: $button-width-small;
  }

  :disabled {
    background-color: $ux-button-disabled !important;
    border-width: 0 !important;
    color: $ux-button-text-disabled !important;
    cursor: not-allowed;
  }

  .primary {
    background-color: $ux-green;

    &:focus {
      background-color: $ux-green-focus;
    }

    &:hover {
      background-color: $ux-green-hover;
    }
  }

  .secondary {
    background-color: $ux-red;

    &:focus {
      background-color: $ux-red-focus;
    }

    &:hover {
      background-color: $ux-red-hover;
    }
  }

  .outlined {
    background-color: inherit;
    border: 1px solid $ux-outline;
    color: $ux-outline-text;

    &:focus {
      border-color: $ux-outline-focus;
    }

    &:hover {
      border-color: $ux-outline-hover;
    }

    &.small {
      padding: 0 11px 0 11px;
    }

    &.medium,
    &.fill,
    &.fixed {
      padding: 0 15px 0 15px;
    }

    &.large {
      padding: 0 19px 0 19px;
    }
  }

  &.lock-focus {
    button {
      background-color: $ux-green-focus;
    }
  }

  // TODO: Once new design will be applied to all buttons on site, we can remove this modifier class
  .is-buy-now {
    @include font-size(12px);
    height: 27px;
    width: auto;
    padding: 0 $spacing-unit;
    border: 0;
    border-radius: 2px;
    margin-top: $spacing-unit;
    background: $colour-green;
    font-weight: $font-weight-bold;
  }
}
