@import 'global-utilities';

.reevoo-container {
  margin-top: $spacing-unit * 2;
  order: 5;

  @include tabletPlusDown {
    margin-bottom: $spacing-unit * 4;
    margin-top: 0;
    padding-right: $spacing-unit * 3;
  }

  .reevoo-checkbox-container {
    display: inline-block;
    height: 20px;
    margin-top: $spacing-unit * 9;
    width: 10%;

    @include tabletPlusDown {
      padding-left: $spacing-unit * 3;
    }
  }

  .reevoo-checkbox {
    cursor: pointer;
    height: 12px;
    position: relative;
    top: -45px;
    width: 12px;
  }

  .reevoo-label-container {
    display: inline-block;
    @include font-size(12px);
    @include line-height(14px);
    width: 90%;

    .reevoo-label {
      cursor: default;
    }

    button {
      background: transparent;
      border: transparent;
      margin-left: -($spacing-unit * 2);
    }
  }

  .info-circle {
    color: $colour-blue;
    cursor: pointer;
    @include font-size(14px);
    padding-left: $spacing-unit - 3;

    @include tabletPlusDown {
      padding-left: $spacing-unit - 1;
    }
  }
}

.reevoo-content {
  background-color: $colour-white;
  color: $colour-paragraph-grey;
  font-family: $font-montserrat;
  font-weight: $font-weight-normal;
  @include font-size(12px);
  white-space: normal;
}

.reevoo-tooltip {
  opacity: 1 !important;

  .tooltip-inner {
    background-color: $colour-white;
    border: 1px solid $border-global-grey;
    max-width: 250px;
    text-align: left;
  }
}
