@import 'global-utilities';

.add-to-cart {
  display: flex;
  gap: 8px;
  width: 100%;

  @media #{$ipad} {
    display: inline-flex;
  }

  &__calculation {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: min-content;

    &--container {
      text-align: center;
    }

    &--min-order {
      @include typography-ui-xs();
      color: $ux-text-default;
      @include line-height(12px);
      display: inline-block;
    }
  }

  &__button {
    @include mobilePlusDown {
      width: 100%;
    }

    @include tablet {
      flex-basis: min-content;
      width: 60%;
    }
  }
}

.cart-icon {
  font-size: 1.25rem;
}
