<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="o-skeleton-loader__block is-clean">
        <div class="o-skeleton-loader__spacer"></div>
        <div class="o-skeleton-loader__item is-h100px is-skeleton-bg-c"></div>

        <div class="o-skeleton-loader__spacer"></div>
        <div class="o-skeleton-loader__spacer"></div>

        <div class="d-flex justify-content-between mb-1">
          <div class="o-skeleton-loader__item is-w60 is-h40px"></div>
          <div class="o-skeleton-loader__item is-w20 is-h40px"></div>
        </div>

        <div class="o-skeleton-loader__item is-w70 is-h24px"></div>

        <ng-container *ngFor="let item of arrayOf4">
          <div class="o-skeleton-loader__spacer"></div>
        </ng-container>

        <div class="o-skeleton-loader__item is-h75px is-skeleton-bg-c mb-2"></div>

        <div class="row">
          <div class="col-lg-6 is-mb-10px">
            <div class="o-skeleton-loader__item h-100 is-skeleton-bg-c"></div>
            <div class="d-flex">
              <div class="o-skeleton-loader__item is-w30 is-h24px mr-4"></div>
              <div class="o-skeleton-loader__item is-w30 is-h24px"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="o-skeleton-loader__block px-3">
              <div class="o-skeleton-loader__item is-60 is-h24px"></div>

              <div class="o-skeleton-loader__item is-w95 is-h16px"></div>

              <div class="o-skeleton-loader__item is-w95 is-h16px"></div>

              <div class="o-skeleton-loader__spacer is-thin-separator"></div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="o-skeleton-loader__spacer"></div>

                  <div class="o-skeleton-loader__item is-h16px"></div>

                  <div class="o-skeleton-loader__spacer"></div>

                  <div class="o-skeleton-loader__item is-w65 is-h16px"></div>

                  <div class="o-skeleton-loader__spacer"></div>

                  <div class="o-skeleton-loader__item is-w85 is-h24px"></div>

                  <div class="o-skeleton-loader__spacer"></div>
                  <div class="o-skeleton-loader__spacer"></div>

                  <div class="o-skeleton-loader__item is-w65 is-h16px"></div>

                  <div class="o-skeleton-loader__spacer"></div>

                  <div class="o-skeleton-loader__item is-h40px"></div>

                  <div class="o-skeleton-loader__spacer"></div>

                  <div class="o-skeleton-loader__item is-w65 is-h16px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngFor="let item of arrayOf8">
          <div class="o-skeleton-loader__spacer"></div>
        </ng-container>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="o-skeleton-loader__block is-clean">
        <div class="o-skeleton-loader__item is-w50 is-h40px"></div>

        <div class="o-skeleton-loader__spacer"></div>
        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item is-w50 is-h16px mb-4"></div>

        <div class="o-skeleton-loader__spacer is-thin-separator"></div>

        <div *ngFor="let item of arrayOf3; let currentElementIndex = index">
          <div class="d-flex">
            <div>
              <div class="o-skeleton-loader__item is-w30px is-h45px is-mr-15px"></div>
            </div>

            <div class="flex-grow-1">
              <div class="o-skeleton-loader__item is-w85 is-h24px"></div>
              <div class="o-skeleton-loader__item is-w40 is-h16px"></div>
            </div>
          </div>

          <div class="o-skeleton-loader__spacer"></div>
          <div class="o-skeleton-loader__spacer"></div>

          <ng-container *ngIf="currentElementIndex < 2">
            <div class="o-skeleton-loader__item is-w25 is-h16px mb-4"></div>

            <div class="o-skeleton-loader__spacer is-thin-separator"></div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="o-skeleton-loader__block is-clean">
        <div class="o-skeleton-loader__item is-w50 is-h40px"></div>

        <div class="o-skeleton-loader__spacer"></div>
        <div class="o-skeleton-loader__spacer"></div>

        <div class="o-skeleton-loader__item is-w90 is-h16px mb-2"></div>

        <div class="o-skeleton-loader__item is-w25 is-h40px"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <div *ngFor="let item of arrayOf11" class="d-flex justify-content-between align-items-center pl-4">
          <div class="o-skeleton-loader__item is-checkbox"></div>
          <div class="o-skeleton-loader__item is-w95 is-h16px"></div>
        </div>

        <div class="d-flex align-items-end flex-column pl-4">
          <ng-container *ngFor="let item of arrayOf8">
            <div class="o-skeleton-loader__item is-w30 is-h16px"></div>
          </ng-container>
        </div>

        <div class="d-flex justify-content-between align-items-center pl-4">
          <div class="o-skeleton-loader__item is-checkbox"></div>
          <div class="o-skeleton-loader__item is-w95 is-h16px"></div>
        </div>

        <div class="d-flex align-items-end flex-column pl-4">
          <ng-container *ngFor="let item of arrayOf3">
            <div class="o-skeleton-loader__item is-w30 is-h16px"></div>
          </ng-container>
        </div>

        <div *ngFor="let item of arrayOf5" class="d-flex justify-content-between align-items-center pl-4">
          <div class="o-skeleton-loader__item is-checkbox"></div>
          <div class="o-skeleton-loader__item is-w95 is-h16px"></div>
        </div>

        <ng-container *ngFor="let item of arrayOf4">
          <div class="o-skeleton-loader__spacer"></div>
        </ng-container>

        <div class="d-flex justify-content-between">
          <div class="o-skeleton-loader__item is-w50 is-h24px"></div>
          <div class="o-skeleton-loader__item is-w25 is-h24px"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="o-skeleton-loader__spacer is-thin-separator"></div>

      <div class="o-skeleton-loader__spacer"></div>

      <div class="row">
        <div class="col-lg-6">
          <div class="o-skeleton-loader__block is-clean">
            <div class="o-skeleton-loader__item is-w50 is-h40px"></div>

            <div class="o-skeleton-loader__spacer"></div>
            <div class="o-skeleton-loader__spacer"></div>

            <div class="o-skeleton-loader__item is-w30 is-h24px"></div>

            <div class="o-skeleton-loader__spacer"></div>
            <div class="o-skeleton-loader__spacer"></div>

            <ng-container *ngFor="let item of arrayOf4">
              <div class="o-skeleton-loader__item is-h16px mb-2"></div>
            </ng-container>

            <div class="o-skeleton-loader__spacer"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="o-skeleton-loader__spacer h-100"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="o-skeleton-loader__block is-clean">
        <div class="o-skeleton-loader__item is-w50 is-h24px"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <ng-container *ngFor="let item of arrayOf4">
          <div class="o-skeleton-loader__item is-w60 is-h16px mb-2"></div>
        </ng-container>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="o-skeleton-loader__block is-clean">
        <div class="o-skeleton-loader__item is-w50 is-h24px"></div>

        <div class="o-skeleton-loader__spacer"></div>

        <ng-container *ngFor="let item of arrayOf7">
          <div class="o-skeleton-loader__item is-h16px mb-2"></div>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let item of arrayOf8">
    <div class="o-skeleton-loader__spacer"></div>
  </ng-container>

  <div class="col-lg-12">
    <div class="o-skeleton-loader__spacer is-thin-separator"></div>

    <div class="d-flex o-skeleton-loader__block is-clean">
      <div class="o-skeleton-loader__item is-w35 is-h40px"></div>
    </div>

    <div class="o-skeleton-loader__spacer"></div>

    <div class="d-flex featured-products-container mb-2">
      <ng-container *ngFor="let item of arrayOf8">
        <div class="d-flex o-skeleton-loader__block">
          <div>
            <div class="o-skeleton-loader__item is-product-image"></div>
          </div>
          <div class="flex-grow-1">
            <div class="o-skeleton-loader__item is-h16px mb-2"></div>
            <div class="o-skeleton-loader__item is-h16px mb-2"></div>
            <div class="o-skeleton-loader__item is-h16px mb-2"></div>

            <div class="o-skeleton-loader__item is-w60 is-h24px mb-2"></div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="d-flex o-skeleton-loader__block is-clean">
      <div class="o-skeleton-loader__item is-w35 is-h40px m-auto"></div>
    </div>
  </div>
</div>
