.mod-compare-list-item {
  white-space: normal;

  .download-constrain {
    box-sizing: border-box;
    height: auto;
    float: left;
    min-height: auto;
    padding: ($spacing-unit * 2);
    width: 100%;

    @media #{$ipad-landscape} {
      border-right: 1px solid $colour-compare-title-tabs;
      border-top: 1px solid $colour-compare-title-tabs;
      min-height: 79px;
      padding: ($spacing-unit * 2 + 4) ($spacing-unit * 5) 0 ($spacing-unit * 5);
    }

    @media print {
      min-height: 100px;
      padding: ($spacing-unit * 2 + 4) ($spacing-unit * 5) 0 ($spacing-unit * 5);
    }

    &__title {
      @include font-size(14px);
      display: inline-block;
      float: left;
      margin-top: ($spacing-unit + 2);
      width: auto;

      @media #{$ipad-landscape} {
        display: none;
      }

    }

    &__main {
      display: inline-block;
      float: right;
      padding: 0;
      width: 60%;

      @media #{$ipad-landscape} {
        float: left;
        width: 100%;
      }

      a {
        float: right;
        padding-left: ($spacing-unit * 9);
        width: auto;

        @media #{$ipad-landscape} {
          float: left;
          width: 100%;
        }

        .filename {
          color: $colour-compare-link;
          text-align: right;
          text-transform: uppercase;
          width: 120px;

          @media #{$ipad} {
            width: auto;
          }

          @media #{$ipad-landscape} {
            margin-bottom: ($spacing-unit - 1);
            text-align: left;
          }

        }

        span {
          width: auto;
        }

      }

    }

  }

  .compare-title {

    &__seperator {
      @include font-size(15px);
      background: $colour-compare-title-tabs;
      box-sizing: border-box;
      float: left;
      padding: ($spacing-unit * 2 + 2) ($spacing-unit * 2);
      width: 100%;

      @media #{$ipad-landscape} {
        display: inline-block;
        font-size: 0;
        min-height: 45px;
        padding-left: ($spacing-unit * 3);
        padding-right: ($spacing-unit * 3);
        position: relative;
        top: 1px;
      }

      &__show {

        @media #{$ipad-landscape} {
          @include font-size(16px);
        }

      }

    }

  }

}

.tableGrid {

  &__product {
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      padding-left: ($spacing-unit * 3);
      padding-right: ($spacing-unit * 3);
    }

    &__title {
      float: left;
      margin-bottom: ($spacing-unit + 2);
      width: 100%;

      @media #{$ipad-landscape} {
        height: auto;
        min-height: 65px;
        padding-left: ($spacing-unit * 3);
      }

      @media print {
        height: auto;
        margin-bottom: 0;
        min-height: 65px;
        padding: ($spacing-unit * 2);
      }

      @media #{$desktop} {
        width: 77%;
      }

      .title {
        @include font-size(14px);
        color: $colour-black;
        height: auto;
        line-height: 16px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

    }

    &__sidebar {
      display: none;

      @media #{$ipad-landscape} {
        display: inline-block;
        float: left;
        margin-left: ($spacing-unit * 6);
        width: 18%;
      }

      @media #{$desktop} {
        margin-left: 0;
      }

      &__additional {
        float: left;
        width: 100%;

        ul {
          box-shadow: 0 0 7px $colour-compare-box-shadow;
          float: left;
          position: relative;
          width: 100%;
          z-index: 99;

          li {

            &.blank {
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              display: block;
              height: 376px;
              width: 100%;

              @media #{$desktop} {
                height: 281px;
              }

            }

            &.items {
              @include font-size(13px);
              border-bottom: 1px solid $colour-compare-title-tabs;
              float: left;
              min-height: 81px;
              padding-left: ($spacing-unit * 3);
              padding-right: ($spacing-unit * 3);
              padding-top: ($spacing-unit * 3);
              width: 100%;


              &__stock {
                min-height: 110px;
              }

              &__price {

                @media #{$ipad-landscape} {
                  min-height: 120px;
                }

              }

              &:last-child {

                @media #{$ipad-landscape} {
                  border-bottom: 0;
                }

              }

            }

          }

        }

      }

    }

    &__info {

      @media #{$ipad-landscape} {
        float: left;
        min-height: 62px;
        padding-left: ($spacing-unit * 3);
        width: 100%;
      }

      @media #{$desktop} {
        min-height: auto;
        padding-left: ($spacing-unit * 13.4);
        width: 100%;
      }

      @media print {
        float: left;
        min-height: 62px;
        padding: ($spacing-unit * 2);
        width: 100%;
      }

      &__items {
        display: inline-block;
        float: left;
        width: 100%;

        &__item {
          @include font-size(14px);
          display: inline-block;
          float: left;
          width: auto;

          @media print {
            @include font-size(12px);
          }

          &.ellipsis {
            max-width: 40px;
          }

          &--typename {

            &.ellipsis {
              max-width: 100px;
            }

          }

          &:first-child {
            font-weight: 600;
            margin-right: ($spacing-unit - 2);
          }

        }

      }

    }

    &__image {
      display: inline-block;
      float: left;
      margin-bottom: ($spacing-unit * 3);

      @media #{$ipad-landscape} {
        box-sizing: border-box;
        margin-bottom: 0;
        padding-left: ($spacing-unit * 3);
        padding-right: ($spacing-unit * 3);
        width: auto;
      }

      @media print {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
      }

      @media #{$desktop} {
        padding-left: 0;
        padding-right: 0;
        width: 23%;
      }

      img {
        display: inline-block;
        float: left;
        height: auto;
        width: auto;

        @media print {
          float: none;
          margin: 0 auto;
        }

        @media #{$ipad-landscape} {
          width: 100%;
        }

      }

    }

    &__btn {
      border-bottom: 1px solid $colour-compare-title-tabs;
      float: left;
      margin-bottom: ($spacing-unit * 3);
      margin-top: ($spacing-unit * 3);
      padding-bottom: ($spacing-unit * 3);
      width: 100%;

      @media print {
        display: none;
      }

      @media #{$ipad-landscape} {
        border-left: 1px solid $colour-compare-title-tabs;
        border-right: 1px solid $colour-compare-title-tabs;
        box-sizing: border-box;
        margin-bottom: 0;
        margin-top: 0;
        padding: ($spacing-unit * 3) ($spacing-unit * 5);
      }

      a {
        @include font-size(14px);
        background: $colour-compare-btn;
        border-radius: 2px;
        color: $colour-white;
        cursor: pointer;
        float: left;
        font-weight: 500;
        padding-bottom: ($spacing-unit * 2);
        padding-top: ($spacing-unit * 2);
        text-align: center;
        width: 100%;

        &.disabled {
          pointer-events: none;
        }

        &.disabled-cart {
          opacity: 0.4;
          pointer-events: none;
        }

      }

      &.disabled-cart {
        pointer-events: none;
      }

    }

    &-main {

      @media #{$ipad-landscape} {
        display: flex;
        float: left;
        width: 70%;
      }

      @media #{$desktop} {
        width: 82%;
      }

      ul {

        &.scrollable {

          @media #{$ipad-landscape} {
            display: flex;
            float: left;
            max-width: 800px;
            overflow: hidden;
            width: 1064px;
          }

          @media #{$desktop} {
            max-width: 963px;
            width: 1250px;
          }

        }

      }

    }

  }

  &__mobile {
    float: left;
    width: 50%;

    @media #{$ipad-landscape} {
      display: none;
    }

  }

}
