.mod-amount-products-found {
  @include font-size(18px);
  clear: both;
  margin: 25px 0;

  .count {
    display: block;
    width: 100%;

    .nr {
      display: inline-block;
      font-weight: bold;
      padding-right: 5px;
    }

    .nr-service-plus {
      display: inline-block;
      font-weight: bold;
    }

  }

  .text-red {
    font-weight: bold;
  }

  .view-all {

    a {
      color: $link-blue;
      margin-left: ($spacing-unit * 4);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $link-dark-blue;
      }
    }

  }

}
