@import 'global-utilities';

:host {
  display: none;

  @media #{$ipad} {
    display: inherit;
  }
}

.linkcursor {
  cursor: pointer !important;
}

.defaultcursor {
  cursor: default;
}

.breadcrumb {
  background: none;
  font-size: 0.8em;
  margin: 0;
  a,
  span {
    color: darkgrey;
  }
  a:hover,
  span:hover {
    color: dimgrey;
    text-decoration: none;
  }
  li {
    list-style: none;
    float: left;
  }
  li:last-child {
    margin-right: ($spacing-unit * 4);
  }
}
