.mod-standalone-register-select {
  float: left;
  width: 100%;

  .main-radio-options {

    .form-check-inline {
      input {
        & + label:before {
          position: absolute;
          top: 17px;
          left: 15px;
          height: 21px;
          width: 21px;
          background-color: white;
          border-radius: 50%;
          border: 2px solid $colour-redesign-light-grey;
          background-image: none !important;
        }

        &:checked {
          & + label {
            border: 2px solid $colour-dist-grey;

            &:before {
              position: absolute;
              top: 17px;
              left: 15px;
              height: 21px;
              width: 21px;
              background-color: white;
              border-radius: 50%;
              border: 2px solid $colour-dist-grey;
              background-image: none !important;
            }

            &:after {
              top: 22px;
              padding: ($spacing-unit - 4) ($spacing-unit - 2) ($spacing-unit * 2) ($spacing-unit + 3);
              left: 20px !important;
              height: 10px;
              border-radius: 50%;
              background: $colour-dist-grey;
              content: ' ';
              position: absolute;
            }
          }

        }

      }

      label {
        @include font-size(14px);
        @include line-height(24px);
        font-weight: 500;
        border: 1px solid lighten($colour-mid-black, 30%);
        border-radius: $spacing-unit - 3;
        color: lighten($colour-black, 30%);
        display: block;
        margin-bottom: ($spacing-unit * 3);
        padding: ($spacing-unit * 3) 0 ($spacing-unit * 3) ($spacing-unit * 10);
        position: relative;

        @media #{$ipad-landscape} {
          margin-bottom: 0;
        }
      }

      &:last-of-type {
        padding-left: 0;
      }

    }
  }
}
