.mod-linked-image {
	margin-bottom: 20px;

	figcaption {
		#typo > .size-s();
	}

	img,
	.img-ct,
	.base {
		display: table-cell;
		vertical-align: top;
	}

	.base {
		padding-left: 23px;
	}

	// In oneThird and IE8, the Text must be below the image DISTRELEC-2920

	.oneThird,
	.lt-ie9 & {

		img,
		.img-ct,
		.base {
			display: block;
		}

		.base {
			diplay:block;
			padding-top: 10px;
			padding-left: 0;
		}
	}
}
