.skin-cart-list-item-order-detail {
	.cell-info {
		.cell-info-cell {
			width: 93px;
		}
	}
	.link-return {
		text-decoration: underline;
		#typo > .size-s();
	}
	p.qty {
		display: inline-block;
		cursor: default;
		padding: 5px 10px;
	}
	.shipment-est {
		margin-top: 10px;
		#typo > .size-s();
	}
	.reference {
		#typo > .size-s();
		margin-top: 10px;
		color: @c-grey20;
	}
}