// this skin and functionality is currently not used

.skin-cart-list-item-remove {

    .item {
        display:none;
    }
    .item-remove {
        display:block;
        padding: 20px;
        width:100%;
    }
}
