.skin-cart-list-item-order-detail {
	.cell-info {
		a h3 {
			width: 390px;
		}

		.cell-info-cell {
			width: 93px;
		}
	}
	.cell-numeric {
		p.qty{
			display: inline-block;
			cursor: default;
			margin-top: 0;
			padding: 2px 10px 9px 10px;
		}
		p.date {
		    padding-top: 2px;
		    padding-bottom: 9px;
		    font-size: 15px;
		    cursor: default;
		}
		p.estimated {
		    color: @c-red;
		    padding-left: 7px;
		}
		p.date.estimated:after {
		    content: "*";
		}
	}
	.link-return {
		text-decoration: underline;
		#typo > .size-s();
	}
	.shipment-est {
		margin-top: 10px;
		#typo > .size-s();
	}
	.reference { 
		#typo > .size-s();
		margin-top: 10px;
		color: @c-grey20;
	}
	
	.productName{
		width: 320px !important;
	}
		
}