.skin-cart-list-item-quote-detail {
	
	.cell-availability {
		width:120px;
	}
	.gu-1-5 {
		width: 150px;
		.numeric {
			float: right;
		}
	}
	.gu-2 {
		&.cell-price {
			width: 145px;
			.price-box.left {
				padding-left: 30px;
			}
		}
	}
	.quotes-detail-availability {
		.row {
			width: 120px;
		}
	}
		
	.leadtime-quotes {
		width: 120px;
	}
	
	.info-pickup-quotes {
		.head {
			width: 120px;
		}
		.pickup {
			width: 120px;
			.right {
				float: right;
			}
		}
	}

	.numeric-small {
		min-width: 68px;
	}

	&.mod-cart-list-item {
		.cell-note {
			.cell-info {
				width: 591px;
			}
		}
	}
	
}
