.skin-cart-list-item-return-items {
	.cell-info {
		a h3 {
			width: 390px;
		}

		.cell-info-cell {
			width: 93px;
		}
	}
	.cell-numeric {
		p.qty{
			display: inline-block;
			cursor: default;
			margin-top: 0;
			padding: 30px 10px 9px 10px;
		}
	}

	
	
	.wrap-reason { 
		width: 641px;
		width: 639px;
		font-size: 14px;
		padding-left: 141px;
		padding-right: 93px;
		padding-bottom: 20px;
		border-right: 1px solid #cccccc;	
	}
	
	.div-select-item-checkbox {
		width:26px;
		margin-top: 61px;
	}
	
	.select-item-label {
		font-size:14px;
		margin-left: 5px;
	}
	
	.quantity-div {
		width: 132px;
	}
	
	.class-reason-box {
		background: red;
		border:1px solid #cccccc;
		width: 565px;
		margin-left: 76px; 
		background: #c0c0c0;
	}
	
	.table-fields {
		width:100%; 
		font-size:14px;
	}
	
	.returnreason {
		width:200px; 
	}

}