@import 'global-utilities';

:host {
  position: relative;
  display: block;
}

.custom-scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: $ux-light-grey;
  border-radius: 14px;

  .thumb {
    height: 40px;
    cursor: pointer;
    background: $colour-redesign-light-grey;
    border-radius: 14px;
  }

  &.horizontal {
    top: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 16px;
    height: 4px;

    .thumb {
      height: 4px;
    }
  }
}

.scroll-wrapper {
  position: relative;
}
