$toolsitem-compare-bg-blue        : #f0f5fd;
$toolsitem-shopping-bg-grey       : #f7f9fc;
$toolsitem-compare-grey           : #8a96ae;
$toolsitem-compare-bg             : #F1F5FD;
$toolsitem-compare-bg-active      : #e5ebf6;
$toolsitem-compare-reset-border   : #888888;
$toolsitem-compare-reset-bg       : #6C6C6C;
$toolsitem-compare-added-item-bg  : #68C143;
$toolsitem-compare-header-bg      : #009fb4;
$toolsitem-compare-tick-grey      : #797979;






