.mod-logo {
  display: inline-block;
  float: left;
  position: relative;
  text-align: left;
  top: 20px;
  width: 15%;

  a {
    padding-left: 0;

    img {
      width: 170px;
    }

  }

  .bannner-normal {
    margin-bottom: 0;
  }

}
