.skin-cart-pricecalcbox-cart-page {
  display: flex;
  flex-wrap: wrap;
  float: left;
  padding: ($spacing-unit * 2) ($spacing-unit * 3);
  width: 100%;

  @media #{$ipad-landscape} {
    padding: 0;
  }

  .voucher-holder {
    display: none;
    order: 3;
    width: 100%;

    &.active {
      display: block;
    }

    @media #{$ipad-landscape} {
      display: block;
      order: 4;
    }

  }

  .calc-box {
    border: 0;

    &.calc-box-total {
      background: transparent;
      border: 0;
      color: $colour-black;
      display: flex;
      flex-wrap: wrap;
      order: 4;

      @media #{$ipad-landscape} {
        border-top: 1px solid $cart-pricecalbox-cart-page-border-grey;
        display: table;
        order: 3;
      }

      .calc-row {
        flex-shrink: 0;
        display: inline-block;

        @media #{$ipad-landscape} {
          display: table-row;
        }

        .calc-cell {
          display: inline-block;

          @media #{$ipad-landscape} {
            display: table-cell;
          }

          &.nth-1 {
            width: auto;

            @media #{$ipad-landscape} {
              width: 55%;
            }

          }

          &.nth-2 {
            @include line-height(14px);
            width: auto;

            @media #{$ipad-landscape} {
              @include line-height(50px);
              @include font-size(12px);
              width: 10%;
            }

            .currency {
              @include font-size(15px);
              font-weight: normal;

              @media #{$ipad-landscape} {
                @include font-size(12px);
                font-weight: bold;
              }

            }

          }

          &.nth-3 {
            font-weight: normal;
            width: auto;

            @media #{$ipad-landscape} {
              font-weight: bold;
              width: 30%;
            }

          }

        }

      }

      .calc-box-total-btn {
        flex-grow: 1;
        text-align: right;

        @media #{$ipad-landscape} {
          display: none;
        }

        .btn-holder {
          @include font-size(15px);
          @include line-height(29px);

          .hide-btn {
            display: none;
          }

          .show-btn {
            display: inline-block;
          }

          &.active {

            .hide-btn {
              display: inline-block;
            }

            .show-btn {
              display: none;
            }

          }

        }

      }

    }

    &.calc-box-subtotal {
      display: none;
      font-weight: normal;

      &.active {
        display: table;
      }

      @media #{$ipad-landscape} {
        display: table;
      }

    }

    &.calc-box-details {
      display: none;

      &.active {
        display: table;
      }

      @media #{$ipad-landscape} {
        display: table;
      }

      .calc-cell {

        &.nth-1 {
          @include line-height(17px);
          padding-bottom: ($spacing-unit * 3);

          span {
            @include font-size(12px);
            display: block;

            @media #{$ipad-landscape} {
              @include font-size(10px);
              padding-right: ($spacing-unit * 2);
            }

            @media #{$desktop} {
              @include font-size(12px);
            }

          }

        }

      }

    }

    .calc-cell {
      @include font-size(15px);

      @media #{$ipad-landscape} {
        @include font-size(12px);
      }

      @media #{$desktop} {
        @include font-size(15px);
      }

      &.nth-1 {
        padding: 0;
      }

      &.nth-2 {
        @include font-size(12px);
        width: 10%;
      }

      &.nth-3 {
        padding-right: 0;
      }

    }

  }

}

.isie7,
.isie8 {

  .skin-cart-pricecalcbox-cart-page {

    .voucher-holder {
      display: block;

      .form-box {

        &__item {
          float: left;
          width: 56%;

          &--second {
            padding-left: ($spacing-unit * 2);
            width: 40%;
          }

        }

        .voucher-code {
          padding: 0;
        }

        .mat-button {
          height: 24px;
          padding: ($spacing-unit * 2) 0;
        }

      }

    }

  }

}

.isie8 {

  .skin-cart-pricecalcbox-cart-page {
    padding: 0;

    .calc-box {

      &.calc-box-total {
        border-top: 1px solid $cart-pricecalbox-cart-page-border-grey;
        display: table;
        width: 100%;

        .calc-row {
          display: table-row;

          .calc-cell {
            display: table-cell;

            &.nth-1 {
              width: 55%;
            }

            &.nth-2 {
              @include line-height(50px);
              @include font-size(12px);
              width: 10%;

              .currency {
                @include font-size(12px);
                font-weight: bold;
              }

            }

            &.nth-3 {
              font-weight: bold;
              width: 30%;
            }

          }

        }

        .calc-box-total-btn {
          display: none;
        }

      }

      &.calc-box-subtotal {
        display: table;
        font-weight: normal;
      }

      &.calc-box-details {
        display: table;

        .calc-cell {

          &.nth-1 {
            @include line-height(17px);
            padding-bottom: ($spacing-unit * 3);

            span {
              @include font-size(10px);
              display: block;
              padding-right: ($spacing-unit * 2);
            }

          }

        }

        .calc-cell {
          @include font-size(15px);
        }

      }

      .calc-cell {
        float: left;

        &.nth-1 {
          width: 55%;
        }

        &.nth-2 {
          width: 10%;
        }

        &.nth-3 {
          width: 30%;
        }

      }

    }

    .voucher-holder {

      .form-box {

        .mat-button {
          height: 41px;
        }

      }

    }

  }

}

.isie7 {

  .skin-cart-pricecalcbox-cart-page {
    padding: 0;

    .calc-box {

      &.calc-box-total {
        border-top: 1px solid $cart-pricecalbox-cart-page-border-grey;
        display: block;
        padding-top: ($spacing-unit * 2);
        width: 100%;

        .calc-row {
          display: table-row;

          .calc-cell {
            display: table-cell;

            &.nth-1 {
              width: 55%;
            }

            &.nth-2 {
              @include line-height(50px);
              @include font-size(12px);
              width: 10%;

              .currency {
                @include font-size(12px);
                font-weight: bold;
              }

            }

            &.nth-3 {
              font-weight: bold;
              width: 30%;
            }

          }

        }

        .calc-box-total-btn {
          display: none;
        }

      }

      &.calc-box-subtotal {
        display: block;
        font-weight: normal;
        width: 100%;
      }

      &.calc-box-details {
        display: block;
        width: 100%;

        .calc-cell {

          &.nth-1 {
            @include line-height(17px);
            padding-bottom: ($spacing-unit * 3);

            span {
              @include font-size(10px);
              display: block;
              padding-right: ($spacing-unit * 2);
            }

          }

        }

        .calc-cell {
          @include font-size(15px);
        }

      }

      .calc-cell {
        float: left;

        &.nth-1 {
          width: 55%;
        }

        &.nth-2 {
          width: 10%;
        }

        &.nth-3 {
          width: 30%;
        }

      }

    }

  }

}
