.mod-servicenav {
  $_border-width: 5px;
  $_height: 6 + 24 + 6 - $_border-width + 1;
  $_padding-h: 16px;
  $_padding-top: 4px;
  $_padding-bottom: 6px;
  $mod-servicenav-grey: #333;

  border: 0;
  border-left: 1px solid $colour-black;
  display: none;
  flex-grow: 0;
  height: auto;
  padding: ($spacing-unit * 2) 0 ($spacing-unit * 3) ($spacing-unit * 3);
  width: auto;

  @media #{$ipad-landscape} {
    display: inline-block;
    float: right;
  }

  .border-name {
    @include font-size(13px);
    margin-right: 9px;
    margin-top: 17px;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }

  a {
    @include font-size(13px);
    @include line-height(32px);
    -webkit-font-smoothing: antialiased;
    border: 0;
    color: rgb(204, 204, 204);
    display: block;
    font-family: $font-montserrat;
    font-weight: 500;
    margin: 0;
    outline: none;

    &:first-child {
      border: 0;
      margin: 0;
      padding: 0;
    }

    &.settings {
      @include line-height(30px);
      margin: ($spacing-unit - 4) 0 0;
    }

    i {
      @include font-size(13px);
      background: none;
      height: auto;
      margin: ($spacing-unit - 4) 0 0;
      padding: 0 ($spacing-unit * 2) 0 0;
      vertical-align: middle;
      width: auto;
    }

    &:hover {
      color: $colour-white;
    }

    strong {
      font-weight: 500;
    }

    strong,
    span {
      display: inline-block;
      vertical-align: middle;

      font {
        vertical-align: bottom !important;
      }
    }
  }

  .paper-plane {
    margin-left: -8px;
    margin-right: 6px;
  }

  .flag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 15px;
    margin: 0 0 0 10px;
    position: relative;
    transition: all 0.5s;
    width: 23px;

    &--AT {
      background: linear-gradient(
        180deg,
        #ed2939 0,
        #ed2939 33%,
        $colour-white 33%,
        $colour-white 67%,
        #ed2939 67%,
        #ed2939 100%
      );
    }

    &--BE {
      background: linear-gradient(
        90deg,
        black 33.3%,
        yellow 33.3%,
        yellow 66.6%,
        red 66.6%
      );
    }

    &--BG {
      background: linear-gradient(
        180deg,
        $colour-white 0,
        $colour-white 33%,
        #00966e 33%,
        #00966e 67%,
        #d62612 67%,
        #d62612 100%
      );
    }

    &--CH {
      background: linear-gradient(
          #ec1922 20%,
          transparent 20%,
          transparent 80%,
          #ec1922 80%
        ),
        linear-gradient(
          90deg,
          #ec1922 20%,
          transparent 20%,
          transparent 40%,
          $colour-white 40%,
          $colour-white 55%,
          transparent 55%,
          transparent 74%,
          #ec1922 74%
        ),
        linear-gradient(
          #ec1922 42%,
          $colour-white 42%,
          $colour-white 58%,
          #ec1922 58%
        );
      height: 23px;
      width: 23px;
    }

    &--CY {
      background-image: url("/_ui/all/media/flags/flag_cyprus.svg");
    }

    &--CZ {
      background-image: linear-gradient(
        180deg,
        $colour-white 0,
        $colour-white 50%,
        #e4002b 50%,
        #e4002b 100%
      );
      position: relative;

      &:before {
        background-color: #004b87;
        -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        content: "";
        display: block;
        height: 15px;
        left: -0.5px;
        position: absolute;
        top: 0;
        width: 14px;
      }
    }

    &--DK {
      background: linear-gradient(
          90deg,
          transparent 28%,
          white 28%,
          white 34%,
          transparent 34%
        ),
        linear-gradient(
          transparent 42%,
          red 42%,
          red 46%,
          white 46%,
          white 58%,
          red 58%,
          red 62%,
          transparent 62%
        ),
        linear-gradient(
          90deg,
          red 25%,
          red 25%,
          red 28%,
          white 28%,
          white 34%,
          red 34%,
          red 37%,
          red 37%
        );
    }

    &--EE {
      background: linear-gradient(
        -180deg,
        royalblue 33.3%,
        #132c76 33.3%,
        #132c76 66.6%,
        white 66.6%
      );
    }

    &--FI {
      background: linear-gradient(
          90deg,
          transparent 28%,
          blue 28%,
          blue 34%,
          transparent 34%
        ),
        linear-gradient(
          transparent 42%,
          blue 42%,
          blue 46%,
          blue 46%,
          blue 58%,
          blue 58%,
          blue 62%,
          transparent 62%
        ),
        linear-gradient(
          90deg,
          white 25%,
          blue 25%,
          blue 28%,
          blue 28%,
          blue 34%,
          blue 34%,
          blue 37%,
          white 37%
        );
    }

    &--DE {
      background: linear-gradient(
        -180deg,
        black 33.3%,
        red 33.3%,
        red 66.6%,
        gold 66.6%
      );
    }

    &--ES {
      background-image: url("/_ui/all/media/flags/flag_spain.svg");
    }

    &--FR {
      background: linear-gradient(
        90deg,
        #002395 0,
        #002395 33%,
        $colour-white 33%,
        $colour-white 67%,
        #ed2939 67%,
        #ed2939 100%
      );
    }

    &--GB {
      background-image: url("/_ui/all/media/flags/flag_united_kingdom.svg");
    }

    &--GR {
      background: linear-gradient(
        180deg,
        #0033a0 0,
        #0033a0 11%,
        $colour-white 11%,
        $colour-white 22%,
        #0033a0 22%,
        #0033a0 33%,
        $colour-white 33%,
        $colour-white 44%,
        #0033a0 44%,
        #0033a0 56%,
        $colour-white 56%,
        $colour-white 67%,
        #0033a0 67%,
        #0033a0 78%,
        $colour-white 78%,
        $colour-white 89%,
        #0033a0 89%,
        #0033a0 100%
      );

      &:before {
        background-color: #0033a0;
        background-image: linear-gradient(
            180deg,
            transparent,
            transparent 42%,
            $colour-white 40%,
            $colour-white 60%,
            transparent 48%,
            transparent 100%
          ),
          linear-gradient(
            90deg,
            transparent,
            transparent 42%,
            $colour-white 33%,
            $colour-white 60%,
            transparent 55%,
            transparent 100%
          );
        content: "";
        display: block;
        height: 54%;
        left: 0;
        position: absolute;
        top: 0;
        width: 45%;
      }
    }

    &--HR {
      background-image: url("/_ui/all/media/flags/flag_croatia.svg");
    }

    &--HU {
      background: linear-gradient(
        -180deg,
        red 33.3%,
        white 33.3%,
        white 66.6%,
        green 66.6%
      );
    }

    &--IE {
      background-image: linear-gradient(
        90deg,
        #009b48 0,
        #009b48 33%,
        $colour-white 33%,
        $colour-white 67%,
        #ff7900 67%,
        #ff7900 100%
      );
    }

    &--IT {
      background: linear-gradient(
        90deg,
        #00ae00 33.3%,
        white 33.3%,
        white 66.6%,
        red 66.6%
      );
    }

    &--LV {
      background: linear-gradient(
        180deg,
        #9e1b34 0,
        #9e1b34 40%,
        $colour-white 40%,
        $colour-white 60%,
        #9e1b34 60%,
        #9e1b34 100%
      );
    }

    &--LT {
      background: linear-gradient(
        -180deg,
        gold 33.3%,
        green 33.3%,
        green 66.6%,
        red 66.6%
      );
    }

    &--LU {
      background-image: linear-gradient(
        180deg,
        #ed2939 0,
        #ed2939 33%,
        $colour-white 33%,
        $colour-white 67%,
        #00a1de 67%,
        #00a1de 100%
      );
    }

    &--NL {
      background: linear-gradient(
        -180deg,
        red 33.3%,
        white 33.3%,
        white 66.6%,
        mediumblue 66.6%
      );
    }

    &--NO {
      background-image: url("/_ui/all/media/flags/flag_norway.svg");
    }

    &--PL {
      background: linear-gradient(-180deg, white 50%, red 50%);
    }

    &--RO {
      background: linear-gradient(
        90deg,
        mediumblue 33.3%,
        yellow 33.3%,
        yellow 66.6%,
        red 66.6%
      );
    }

    &--SE {
      background: linear-gradient(
          90deg,
          transparent 28%,
          yellow 28%,
          yellow 34%,
          transparent 34%
        ),
        linear-gradient(
          transparent 42%,
          yellow 42%,
          yellow 46%,
          yellow 46%,
          yellow 58%,
          yellow 58%,
          yellow 62%,
          transparent 62%
        ),
        linear-gradient(
          90deg,
          mediumblue 25%,
          yellow 25%,
          yellow 28%,
          yellow 28%,
          yellow 34%,
          yellow 34%,
          yellow 37%,
          mediumblue 37%
        );
    }

    &--SI,
    &--SK {
      background-image: url("/_ui/all/media/flags/flag-slovakia.png");
    }

    &--SM {
      background-image: url("/_ui/all/media/flags/flag-san-marino.png");
    }

    &--LI {
      background-image: url("/_ui/all/media/flags/liechtensteiner-flag-small.png");
    }

    &--MT {
      background-image: url("/_ui/all/media/flags/flag_malta.svg");
    }

    &--PT {
      background-image: url("/_ui/all/media/flags/flag_portugal.svg");
    }

    &--TR {
      background-image: url("/_ui/all/media/flags/flag-turkey.svg");
    }

    &--XI {
      background-image: url("/_ui/all/media/flags/flag_united_kingdom.svg");
    }

    &--VA {
      background-image: url("/_ui/all/media/flags/flag-vatican-city-state.png");
    }

    &--EX {
      display: none;
    }

    &--otherCountries {
      display: none;
    }
  }

  .settings {
    &--HU,
    &--CZ {
      @include font-size(13px);
    }

    &--LI {
      @include font-size(14px);
    }
  }

  .telephone {
    color: $colour-dist-grey;
    cursor: default;
    font-weight: 600;
  }

  .seperator {
    @include font-size(15px);
    @include line-height(12px);
    padding: 0 ($spacing-unit);
    vertical-align: unset;
  }

  ul {
    float: right;
    margin: 0;
    width: 100%;

    li {
      border: 0;
      float: left;
      width: 100%;

      &.red {
        border: 0;
      }
    }
  }

  .euroconverter {
    .container {
      border: 1px solid $colour-dark-grey;
      border-top: $_border-width solid $colour-dark-grey;
      position: fixed;
      top: 0;
      width: 320px;
      z-index: 1500;

      .hd,
      .bd,
      .ft {
        margin-bottom: 20px;
        padding: 0 30px;
      }

      .hd {
        background-color: $colour-dark-grey;
        width: 100%;

        .-right {
          text-align: right;
        }

        .title {
          color: $colour-white;
          display: inline-block;
          margin-bottom: 0;
          margin-top: 0;
        }
      }

      .calculator {
        padding-left: 40px;
      }

      .btn-convert {
        background-color: #525252;
        border-color: #525252;
        padding: 10px;
        text-align: center;

        &:hover {
          background-color: #009fb4;
          border-color: #009fb4;
          color: $colour-white;
        }
      }

      .amount {
        color: #aaa;
        width: 99px;
      }

      .wrong-format {
        border: 1px solid $colour-dist-red;
      }

      .euro-ltl-conversion-note {
        @include font-size(13px);
        margin-bottom: 9px;
        margin-top: 7px;
        text-align: left;
      }

      .border-right {
        border-right: 1px solid #cccccc;
        display: table-cell;
      }
    }
  }

  .fsettingsContainer {
    float: right;
    width: 100%;
  }

  .flyout-settings {
    margin-top: 50px;
    position: absolute;
    right: 0;
    width: 376px;
    z-index: 920;

    &.hidden {
      z-index: 0;
    }

    // Arrow Indicator
    &:before {
      border-color: transparent transparent $colour-dist-red transparent;
      border-style: solid;
      border-width: 0 9px 10px;
      content: " ";
      display: block;
      height: 0;
      left: 220px;
      position: relative;
      width: 0;
    }

    label {
      @include font-size(13px);
      @include line-height(10px);
      color: $colour-dist-grey;
      display: block;
      margin-bottom: 6px;
      margin-top: 10px;
    }

    .ft-holder {
      display: none;

      .infotext {
        @include font-size(12px);
        @include line-height(15px);
        color: $mod-servicenav-grey;
        display: block;
        margin-bottom: ($spacing-unit * 2 - 2);
        text-align: left;

        a {
          text-decoration: underline;
        }
      }

      &.show {
        display: block;
      }
    }

    select {
      width: 320px;
    }

    .selectpicker {
      &--language {
        visibility: hidden;

        @media #{$ipad-landscape} {
          visibility: visible;
        }
      }

      &--channel {
        display: none;
      }
    }

    .selectboxit-options {
      position: unset;
      width: 100px !important;
    }

    .selectboxit-container {
      width: 100%;

      .selectboxit-options {
        max-height: 215px;

        .selectboxit-option {
          @include line-height(29px);
          border: 0;
          height: 30px;
          width: 100%;

          a,
          span {
            @include font-size(12px);
            @include line-height(29px);
            font-weight: 500;
          }

          &:hover {
            background: $colour-dist-red;

            a,
            span {
              color: $colour-white;
            }
          }
        }
      }

      .selectboxit {
        width: 100%;
      }

      .selectboxit-text {
        @include font-size(12px);
        max-width: 99% !important;
        color: $colour-dist-grey;

        &[data-val="EX"] {
          max-width: 90% !important;
        }
      }

      .selectboxit-arrow-container {
        background-color: #eee;
        border: 1px solid #cccccc;
        height: 36px;
        top: 0;
      }

      .selectboxit-option-icon-container {
        display: none;
      }

      &:hover {
        .selectboxit-text {
          color: $colour-black;
        }

        .selectboxit-arrow-container {
          background-color: $colour-dist-red;
        }
      }

      &:focus {
        .selectboxit-arrow-container {
          background-color: $colour-dist-red;
        }
      }
    }

    #select-languageSelectBoxItContainer,
    #select-channelSelectBoxItContainer {
      .selectboxit {
        display: none;
      }

      .selectboxit-options {
        border: 0;
        display: block !important;
        min-height: 30px;
        outline: none;
        padding: ($spacing-unit * 2) 0 0;
        position: relative;
        z-index: 700;

        .selectboxit-option {
          background: transparent;
          border: 0;
          display: inline-block;
          height: auto !important;
          margin-bottom: 5px;
          margin-right: 5%;
          padding: 0;
          width: 45%;

          .selectboxit-option-anchor {
            @include line-height(18px);
            color: $mod-servicenav-grey;
            display: block;
            overflow: hidden;
            padding: 0;
            text-overflow: ellipsis;

            .selectboxit-option-icon-container {
              border: 1px solid #777777;
              border-radius: 50%;
              display: block;
              height: 17px;
              margin-right: 10px;
              position: relative;
              width: 17px;

              i {
                display: none;
              }
            }
          }

          &.selectboxit-selected {
            .selectboxit-option-anchor {
              color: $mod-servicenav-grey;

              .selectboxit-option-icon-container {
                border: 1px solid #777777;

                &:before {
                  background: $colour-dist-red;
                  border-radius: 50%;
                  content: "";
                  height: 11px;
                  left: 2px;
                  position: absolute;
                  top: 2px;
                  width: 11px;
                }
              }
            }
          }
        }
      }
    }

    #select-countrySelectBoxItContainer {
      .selectboxit {
        padding-left: ($spacing-unit * 2);

        .selectboxit-text {
          padding: 0;
        }
      }

      .selectboxit-option-icon-container {
        display: inline-block;
        min-width: 1px;

        .flag {
          &.icon-country {
            box-shadow: 0 0 ($spacing-unit * 3) $colour-light-grey;
            margin: 0 ($spacing-unit * 2) 0 0;
            transition: none;
            width: 25px;
          }
        }
      }
    }

    .selectboxit-option-last {
      height: 31px !important;
    }

    .btn {
      margin-bottom: 10px;
      text-align: center;
    }

    &__holder {
      border-radius: 0 0 2px 2px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
      float: left;
      width: 100%;
    }

    .hd {
      background-color: $bg-servicenav-white;
      border-bottom: 1px solid $border-servicenav-grey;
      border-top: 5px solid $colour-dist-red;
      float: left;
      min-height: 3px;
      padding: 20px 15px;
      width: 100%;

      h3 {
        @include font-size(16px);
        @include line-height(21px);
        color: $mod-servicenav-grey;
        display: inline-block;
        float: left;
        font-weight: 500;
      }

      .flyout-close {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: ($spacing-unit * 2) ($spacing-unit * 4);
        position: absolute;
        right: 0;
        top: ($spacing-unit * 5);

        @media #{$desktop} {
          padding: 0;
          position: relative;
          top: 0;
        }

        i {
          @include font-size(18px);
          color: #979797;
        }
      }
    }

    .bd {
      background: $colour-white;
      float: left;
      padding: 5px 15px 15px;
      width: 100%;

      &__item {
        border-bottom: 1px solid $border-servicenav-grey;
        float: left;
        padding-bottom: ($spacing-unit * 3);
        width: 100%;

        &:last-of-type {
          border-bottom: 0;
        }

        &__channel, &__country {
          display: none;
        }

      }

      label {
        color: $mod-servicenav-grey;
        font-weight: 500;
        margin: 0;
        padding: $spacing-unit * 4 0 $spacing-unit * 2 0;
      }
    }

    .ft {
      background: $bg-servicenav-white;
      border-radius: 0 0 2px 2px;
      border-top: 1px solid $border-servicenav-grey;
      float: left;
      padding: 20px 15px;
      text-align: left;
      width: 100%;

      input {
        background: transparent;
        border: 0;
        color: $mod-servicenav-grey;
        display: inline-block;
        margin: 0;
        outline: none;

        &.btn-cancel {
          &:hover {
            color: $colour-dist-carmine;
          }
        }

        &.btn-save {
          background: $colour-dist-red;
          border: 1px solid $colour-dist-red;
          border-radius: 2px;
          color: $colour-white;
          font-weight: bold;
          margin-left: 0;
          outline: none;
          padding: 0;
          width: 155px;

          &:hover {
            background: $colour-white;
            border: 1px solid $colour-white;
            color: $colour-dist-red;
          }
        }
      }
    }
  }

  .shopsetings-popup {
    &.transparent {
      visibility: hidden;

      .flyout-settings {
        height: 0;
        overflow: hidden;
        z-index: 0;
      }
    }
  }
}

.skin-servicenav-checkout {
  .sticky-level-3 {
    margin-bottom: $spacing-unit * 4;
    width: 100%;
  }
}

.isie7,
.isie8 {
  .mod-servicenav {
    display: inline-block;
    float: right;

    .flyout-settings {
      margin-top: 15px;

      .selectpicker {
        &--language {
          visibility: visible;
        }
      }

      .flyout-close {
        padding: 0;
        position: relative;
        top: 0;
      }
    }
  }
}
