@import 'global-utilities';

:host {
  display: block;
  background-color: $colour-white;
}

#no-search-results {
  background: $colour-white;
  padding-bottom: ($spacing-unit * 20);
  padding-top: ($spacing-unit * 4);
  width: 100%;

  .feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 640px;

    .counter {
      text-align: end;

      &.error {
        color: #de1417;
      }
    }

    .error-icon {
      width: 20px;
    }

    .error-msg {
      @include font-size(15px);
      @include line-height(18px);
      color: #de1417;
      margin: ($spacing-unit * 2) 0;
    }

    .form-label {
      cursor: pointer;
      display: block;
      font-weight: $font-weight-light;
      margin-bottom: ($spacing-unit * 2);
      margin-top: ($spacing-unit * 3);
    }

    .input-field {
      @include font-size(14px);
      @include line-height(18px);
      border: 1px solid $border-dist-grey;
      border-radius: 2px;
      display: block;
      padding: ($spacing-unit) ($spacing-unit * 2);
      vertical-align: middle;
      width: 100%;

      &:last-of-type {
        margin-bottom: ($spacing-unit * 3);
        resize: none;
      }

      &.error {
        border: 2px solid $border-input-warning;
      }
    }

    .row {
      justify-content: space-between;
      margin: 0;
    }

    .select-manufacture {
      @include font-size(14px);
      @include line-height(27px);
      border: 1px solid $border-dist-grey;
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      padding: ($spacing-unit) ($spacing-unit * 2);
      vertical-align: middle;
      width: 100%;

      &:active {
        color: $colour-redesign-dark-black;
      }

      &.error {
        border: 2px solid $border-input-warning;
      }
    }

    .submit-button {
      background-color: #de1417;
      border-color: #de1417;
      border-radius: 0;
      color: $colour-white;
      height: auto;
      max-width: 75%;
      width: auto;

      &:hover {
        background-color: $colour-white;
        border-color: $border-dist-grey;
        color: #de1417;
      }
    }
  }

  .feedback-form-question {
    @include font-size(24px);
    font-weight: $font-weight-light;
    margin-bottom: ($spacing-unit * 3);
    margin-top: ($spacing-unit * 20);
  }

  .feedback-link {
    @include font-size(14px);
    border-bottom: 1px solid $border-dist-grey;
    color: $link-blue;
    display: block;
    margin-top: ($spacing-unit * 6);
    padding-bottom: ($spacing-unit * 10);
    text-decoration: underline;
  }

  .instruction {
    @include font-size(18px);
    font-weight: $font-weight-light;
    margin-bottom: ($spacing-unit * 8);
  }

  .list-of-tips {
    li {
      margin-bottom: ($spacing-unit * 2);
    }
  }

  .no-results-title {
    @include font-size(28px);
    @include line-height(34px);
    font-weight: $font-weight-light;
    margin-bottom: ($spacing-unit * 5);

    .bold {
      font-weight: $font-weight-bold;
    }
  }

  .search-term-subtitle {
    @include font-size(16px);
    font-weight: $font-weight-semiBold;
    margin-bottom: ($spacing-unit * 5);
    margin-top: ($spacing-unit * 3);

    .search-term {
      color: $colour-red;
    }
  }

  .search-tips {
    @include font-size(19px);
    font-weight: $font-weight-bold;
    margin-bottom: ($spacing-unit * 8);
  }

  .subtitle-question {
    @include font-size(24px);
    font-weight: $font-weight-light;
    margin-bottom: ($spacing-unit * 6);
  }
}
