.mod-hero-teaser {
	.teaser-thumbnails {
		border-bottom: 1px solid @c-grey80;
		padding: 0 80px 0 80px;
		position: relative;
		height: 77px; // to prevent jumping of content until carousel is loaded
		overflow: hidden;
		.thumbnail{
			border: 4px solid transparent;
			display: block;
			float: left;
			img{
				margin: 0 auto;
			}
			&.current{
				border: 4px solid @c-grey80;
			}
			&:hover{
				border: 4px solid #AA1936;
			}
		}
		&.fullWidth{
			width: 960px;
			.lt-ie8 & {
				width: 800px;
			}
			.thumbnail{
				width: 114px;
				height: 76px;
				.lt-ie8 & {
					height: 68px;
					width: 106px;
				}
				img{
					width: 82px;
					height: 68px;// landscape_small with 1.20 relation
				}
			}
		}
		&.twoThird{
			width: 640px;
			.lt-ie8 & {
				width: 480px;
			}
			.thumbnail{
				width: 96px;
				height: 76px;
				.lt-ie8 & {
					height: 68px;
					width: 88px;
				}
				img{
					width: 82px;
					height: 68px;// landscape_small with 1.20 relation
				}
			}
		}
	}
	.teaser-content{
		overflow: hidden;
		height: 372px;
		&.twoThird{
			width: 640px;
		}
		&.fullWidth{
			width: 960px;
		}
	}

	.btn-next,
	.btn-prev{
		position: absolute;
		top: 0;
		height: 100%;
		width: 80px;
		height: 100%;
		display: block;
		outline: 0;
	}
	.btn-next {
		right: 0;
		i {
			.s-polygon-right-big-lightblue();
			margin-left: 22px;
			margin-top: 20px;
		}

		&:hover i,
		&:focus i {
			.s-polygon-right-big-blue();
		}

		&:active i,
		&.active i {
			.s-polygon-right-big-blue();
		}

		&[disabled],
		&.disabled {
			i {
				.s-polygon-right-big-lightblue();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-right-big-lightblue();
			}
		}
	}

	.btn-prev {
		left: 0;
		i {
			.s-polygon-left-big-lightblue();
			margin-left: 22px;
			margin-top: 20px;
		}

		&:hover i,
		&:focus i {
			.s-polygon-left-big-blue();
		}

		&:active i,
		&.active i {
			.s-polygon-left-big-blue();
		}

		&[disabled],
		&.disabled {
			i {
				.s-polygon-left-big-lightblue();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-polygon-left-big-lightblue();
			}
		}
	}
}
