$cart-directorder-border-grey: rgba(219, 219, 216, 1);
$cart-directorder-bg-grey: #eeeeee;
$cart-directorder-component-grey: #ccc;
$colour-cart-directorder-action: #ebecef;
$colour-cart-directorder-art-no: #39b4cb;