$colour-warning-red-border: #F7A9A9;
$colour-warning-red-bg: #FDF3F3;
$colour-warning-red-text: #F74747;

$colour-warning-amber-border: #FFEEBA;
$colour-warning-amber-bg: #FFF3CD;
$colour-warning-amber-text: #856404;

