.mod-shoppinglist-select-all {
	float: left;
	width: 115px;

	.select-all-label {
		font-weight: @font-base-bold;
		#typo > .size-x-c();
		line-height: 35px;
		width: 100%;
	}

	@media print {
		.hidden();
	}
}
