.skin-detail-accordion-content-technical-information {
	table {
		width: 100%;

		td {
			#border .border-std(0, 0, 1px, 0);
			padding: 12px 20px;
			#typo > .size-s();
			width: 25%;
		}

		.td1 {
			padding-left: 42px;// approximation to align checkboxes with icons, constrain: .no-checkbox (same spacing w/ and w/o checkbox)
			font-weight: @font-base-bold;

			label {
				margin-left: -26px;

				.lt-ie8 & {
					margin-left: -15px;
				}
				
				&.no-checkbox {
					margin-left: 0;
				}
			}

		}
		
	}

	.row-search {
		#border .border-std(0, 0, 1px, 0);
	}

	.row-hidden {
		display: none;
	}

	.btn-search {
		margin: 20px 0;
		float: right;
		#typo > .size-s();
		background-color: @c-greyB;
		border-color: @c-greyB;

		.lt-ie8 & {
			height: 19px;
		}

		i {
			margin-top: 0;
			.s-loupe-black();
		}

		&:hover i,
		&:focus i {
			.s-loupe-blue();
		}

		&:active i, &.active i {
			.s-loupe-blue();
		}

		&[disabled], &.disabled {
			i {
				.s-loupe-black();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-loupe-black();
			}
		}

		&:hover {
			background-color: transparent;
		}
	}

	.no-checkbox {
		& {
			margin-left: 0;// constrain: .td1 padding (same spacing w/ and w/o checkbox)
			cursor: default;
		}
	}

	.checkbox-label {
		width: 11px;
		height: 11px;
		#border > .border-std();

		i {
			height: 5px;
			width: 5px;
			margin: 2px;
			display: block;
		}

		&.active {
			i {
				background-color: #AA1936;
			}
		}
	}

	.popover-variation(@c-white, @c-red, 'top');
}
