.skin-detail-accordion-content-download {
    width:310px;
    position:relative;
    float:left;
    margin-right: 5px;

    h4 {
        #typo .heading-page();
        #typo .size-m();
        margin-top: 15px;
        padding:0 10px;
        font-weight: normal;
    }

    .hidden {
        display:none;
    }

    p {
        padding:0 10px;
        #typo .size-s();
    }

    .link-download-pdf {

        & {
            padding:20px 0 10px 0;
        }

        a {
            position: relative;
            #typo .size-s();
            font-weight: @font-base-bold;
            height:38px;
            line-height: 1.2;
            margin-left: 10px;
            padding:5px 45px 0 45px;
            float: left;
            margin-bottom: 10px;

            i {
                .s-polygon-pdf-big-grey-bg();
                position: absolute;
                left: 0px;
                top: 0px;
            }

            &:hover {
                i {
                    .s-polygon-pdf-big-blue();
                }
            }

            span {
                display:block;
                width:100%;
                font-weight: normal;
            }
        }
    }

     .popover-variation(@c-grey80, @c-white, 'bottom');
	// custom variation with grey border (arrow as well), white background
	.popover.bottom .arrow {
		border:1px solid @c-border;
		.rotate(45deg);
		width:20px;
		height:20px;
		top:-10px;
		border-right: 0;
		border-bottom: 0;
		background:@c-white;
	}

	.popover {
		border: 1px solid @c-grey80;
		padding:0;
	}

    .popover-content {

        & {
            min-width: 155px;
            text-align: center;
            padding: 0;
            z-index: 10;
            background: #fff;
            position: relative;
        }

		li {
			border-top: 1px solid @c-grey80;

			a {
				display: inline-block;
				padding: 0 10px;
				#typo .size-s();
				line-height: 35px;

				&:hover {
					color:#AA1936;
				}
			}

			&:first-child {
				border-top: none;
			}
		}
    }
}
