.skin-detail-accordion-content-product-information {

    ul {
        li {
            & {
                border-bottom: 1px solid @c-border;
                padding:20px 10px 10px 10px;
            }

            ul {

                li {
                    padding:0;
                    border:0;
                    font-size: 14px;
                    list-style-type: disc;
                    list-style-position: inside;

                    a {
                        font-weight: bold;
                    }
                }
            }
            
            p {
            	margin-bottom: 10px;
            }
        }

    }

    table {
        td {
            font-size: 14px;
            padding-right: 10px;
        }

        td:first-child {
            font-weight: bold;
        }
    }

    h3 {
        margin-top: 0;
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}
