.mod-checkout-proceed {
  border-top: 1px solid $checkout-proceed-border-grey;
  box-shadow: 0 0 6px rgba(54, 54, 54, 0.0784314);
  float: left;
  padding: ($spacing-unit * 2);
  width: 100%;

  @media print {
    display: none;
  }

  @media #{$ipad-landscape} {
    border: 0;
    box-shadow: none;
    padding: 0;
  }

  .mat-button {

    &.btn-checkout {
      @include font-size(18px);
      @include line-height(0px);
      color: $colour-white;
      padding: ($spacing-unit * 6) ($spacing-unit * 2);
      text-align: center;

      @media #{$ipad-landscape} {
        @include font-size(15px);
        @include line-height(37px);
        padding: 0;
      }

    }

    &.disabled {
      @include font-size(13px);
      @include line-height(16px);
      background: $checkout-proceed-bg-disabled-grey;
      border-radius: 2px;
      color: $colour-dist-mid-grey;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      opacity: 1;
      padding: ($spacing-unit * 2) ($spacing-unit * 7);
      pointer-events: none;
      vertical-align: middle;
    }

  }

}
