.mod-lightbox-status {

  .modal {
    background-color: #f6f6f6;
    left: 0;
    max-width: 480px;
    outline: none;
    width: 100%;

    @media only screen and (min-width: 667px) {
      left: 20%;
    }

    @media only screen and (min-width: 1024px) {
      left: 25%;
    }

    @media only screen and (min-width: 1200px) {
      left: 38%;
    }

    .hd,
    .bd,
    .ft {
      padding: 0 30px;
      margin-bottom: 20px;
    }

    .hd {
      .vertical-align-parent();
      background-color: @c-grey20;
      padding: 20px;
      width:100%;

      .title {
        #typo > .size-x-b();
        font-weight: @font-base-light;
        display: inline-block;
        color: @c-white;
        margin: 0 auto;

        & small {
          #typo > .size-x-c();
          color: @c-grey80;
          padding-left: 8px;
          padding-right: 8px;
        }

      }

      .btn-close {
        #obj > .close-button();
      }

      .-left {
        float: left;
      }

      .-right {
        float: right;
      }

    }

    .bd {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .ft {
      margin-bottom: 20px;
      text-align: right;

      .btn {
        width: 155px;
        margin-left: 16px;
        text-align: center;
      }

    }

  }

  .error-box {
    #obj > .errorBox();
  }

  .success-box {
    #obj > .successBox();
  }

  .warning-box {
    #obj > .warningBox();
  }

  .info-box {
    #obj > .infoBox();
  }

  .btn-confirm {
    text-align: center;
  }

}