@import 'global-utilities';

.guest-registration {
  @include tablet {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;

    @include tablet {
      width: 50%;
    }

    &:nth-child(1) {
      margin-bottom: $spacing-unit * 4;

      @include tablet {
        padding-right: $spacing-unit * 4;
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {
      @include tablet {
        padding-left: $spacing-unit * 4;
      }
    }

    &-inner {
      height: 100%;
      padding-bottom: $spacing-unit * 12;
    }

    &-title {
      @include font-size(20px);
      @include line-height(24px);
      font-weight: $font-weight-normal;
    }

    .form-group {
      margin-bottom: $spacing-unit * 4;

      &__info {
        @include font-size(12px);
        @include line-height(12px);

        &.is-error {
          color: $colour-red;
        }
      }

      .control-label {
        @include font-size(14px);
        @include line-height(14px);
        font-weight: $font-weight-medium;
        margin-bottom: $spacing-unit + 3;
      }

      .form-control {
        padding-right: $spacing-unit * 7;
        border-color: $colour-redesign-light-grey;

        &.is-valid {
          border-color: #28a745;
        }

        &.is-invalid {
          border-color: #dc3545;
        }

        &.is-valid,
        &.is-invalid {
          & ~ .pwd-icon-btn {
            right: 25px;
          }
        }
      }

      .pwd-icon-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 ($spacing-unit + 3);

        app-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__form {
    app-password-strength-bar {
      display: block;
      margin-top: $spacing-unit * (-2);

      .strength {
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 0;
      }
    }
  }

  &__benefits {
    &-title {
      @include font-size(18px);
      @include line-height(21px);
      margin-bottom: $spacing-unit * 4;
      font-weight: $font-weight-normal;
    }

    &-list {
      &__item {
        @include font-size(16px);
        @include line-height(24px);
        display: flex;

        &:not(:last-child) {
          margin-bottom: $spacing-unit + 3;
        }

        app-icon {
          margin-right: $spacing-unit * 2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
