.mod-shoppinglist-title {
  padding-left: 0;
  padding-right: 0;

  .shopping-page-title {
    float: left;
    margin-bottom: 0;
    margin-top: ($spacing-unit * 4);
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @media #{$ipad} {
      margin-top: 0;
    }

  }

}