.mod-checkout-delivery-date {
  background-color: $colour-white;
  box-shadow: 0 ($spacing-unit - 3) ($spacing-unit - 1) rgba(0, 0, 0, .15);
  padding: $spacing-unit * 6;

  .title {

    h2 {
      @include font-size(24px);
      @include line-height(28px);
      border-bottom: 1px solid $colour-light-grey;
      color: $colour-dark-grey;
      margin-bottom: $spacing-unit * 2;
      padding-bottom: $spacing-unit * 2;
    }

    p {
      @include font-size(15px);
      border-bottom: 1px solid $colour-light-grey;
      color: $colour-dark-grey;
      font-family: $font-stack-alt;
      margin: ($spacing-unit * 5) 0;
      padding-bottom: $spacing-unit * 5;
    }

  }


  .form {
    position: relative;

    i,
    svg {
      bottom: 0;
      margin: ($spacing-unit * 2 + 2);
      pointer-events: none;
      position: absolute;
      right: 0;
    }

    label {
      display: block;
      margin-bottom: $spacing-unit * 2;
      width: 100%;
    }

    input {
      padding: $spacing-unit * 2;
      width: 100%;
    }

  }

}
