@import 'global-utilities';

.report-error {
  border: 1px solid $colour-dark-grey;
  padding: ($spacing-unit + 3) ($spacing-unit + 3) ($spacing-unit * 2 + 2) ($spacing-unit + 3);
  width: 300px;
  position: absolute;
  bottom: 60px;
  top: auto !important;
  right: 0;
  z-index: 800;
  background-color: $colour-white;
  box-shadow: 0 0 10px $colour-dark-grey;
  @include font-size(13px);

  @include mobilePlusDown {
    bottom: $spacing-unit * 16;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__title {
    @include font-size(18px);
    @include line-height(22px);
    color: $colour-red;
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: space-between;
    padding-bottom: $spacing-unit * 2;

    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      color: $colour-black;
      margin-top: -($spacing-unit + 2);
    }
  }

  &__subtitle {
    @include line-height(16px);
  }

  &__form {
    .form {
      &__inputslist {
        display: flex;
        flex-direction: column;
        margin: ($spacing-unit * 2) 0;

        &-holder {
          display: flex;
          align-content: center;
          margin: ($spacing-unit - 3) 0;

          label {
            margin: 0 $spacing-unit;
            width: 90%;
            @include line-height(16px);
          }
        }
      }

      &__textarea {
        &-box {
          width: 280px;
          height: 100px;
        }
      }

      &__contact {
        &--text {
          @include line-height(16px);
          margin: ($spacing-unit * 2) 0 ($spacing-unit * 2) 0;
        }

        &--inputs {
          &-name,
          &-email {
            .input {
              width: 280px;
              font-size: 14px;
              height: 32px;
              margin: ($spacing-unit) 0;
            }
          }
        }
      }

      &__submit {
        @include font-size(13px);
        @include line-height(16px);
        color: $colour-white;
        background-color: $colour-red;
        border: 1px solid $colour-red;
        float: right;

        &:hover {
          color: $colour-red;
          background-color: $colour-white;
        }
      }

      &__close {
        @include font-size(13px);
        @include line-height(16px);
        color: $colour-red;
        background-color: $colour-white;
        border: 1px solid $colour-red;
        float: right;

        &:hover {
          color: $colour-white;
          background-color: $colour-red;
        }
      }

      &__footer {
        display: flex;
        align-content: center;
        justify-content: flex-end;

        &__error-response {
          padding: 3px 16px;
        }
      }
    }
  }
}
