@import 'global-utilities';

.product-availability-container {
  display: flex;
  align-items: center;
  height: 20px; // Match line-height of the price

  app-icon {
    display: flex;
  }

  .tick-cancel-circle-grey {
    color: $ux-outline;
  }

  .clock-icon {
    color: $colour-rnd-yellow;
  }

  .check-icon {
    color: $ux-green;
  }
}

.product-availability {
  @include typography-ui-xs;

  margin-left: 4px;
  font-weight: $font-weight-medium;
}

.progress-spinner-icon {
  display: flex;
  align-items: center;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
