.mod-lightbox-double-optin-reminder {
  .modal {
    @include font-size(14px);
    background: white;
    top: 30%;
    left: 50%;
    margin: 0;
    max-width: 400px;
    padding: ($spacing-unit*5) ($spacing-unit*4);
    outline: none;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    max-height: 85%;
    overflow: scroll;

    h2 {
      margin: 0 0 ($spacing-unit*4);
    }

    p {
      margin-top: ($spacing-unit*2);
      word-break: break-word;
    }

    button {
      margin-top: ($spacing-unit*3);
      min-width: 100px;

      &.btn.btn-primary {
        justify-content: center;
        background: $colour-dist-red;
        color: $colour-white;
      }
    }

    .info-icon {
      width: 30px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: $colour-dist-red;
      color: white;
      font-family: monospace;
      border-radius: 15px;
      margin-right: ($spacing-unit*2);
    }
  }
}
