@import 'global-utilities';

.success-popup {
  top: 33%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  background-color: $colour-white;
  border-radius: 8px;
  border: 1px solid $colour-popup-border;
  box-shadow:
    0px 4px 6px -4px rgba(24, 39, 75, 0.12),
    0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: ($spacing-unit * 5) ($spacing-unit * 5) ($spacing-unit * 3);
  position: fixed;
  z-index: $zindex-modal;

  @include tablet {
    width: 40%;
  }

  @include desktop {
    width: 28%;
  }

  &__text {
    background: $colour-success-bg;
    border: 1px solid $colour-success-border;
    box-sizing: border-box;
    border-radius: 4px;
    color: $colour-success-text;
    padding: $spacing-unit * 3;
    text-align: center;
    width: 100%;

    &--title {
      @include font-size(20px);
      @include line-height(24px);
      font-weight: $font-weight-semiBold;
      letter-spacing: -0.01em;
      padding: $spacing-unit 0;
    }

    &--subtitle {
      @include font-size(14px);
      @include line-height(21px);
      font-weight: $font-weight-normal;
    }
  }

  &__close {
    margin: ($spacing-unit * 2) auto auto;

    .btn {
      @include font-size(14px);
      @include line-height(14px);
      border: 1px solid $colour-popup-button-border;
      box-sizing: border-box;
      border-radius: 2px;
      color: $colour-dark-grey;
      font-weight: $font-weight-semiBold;
      height: 40px;
      width: auto;
    }
  }
}

.marLeft {
  margin-left: ($spacing-unit * 2);
  @include font-size(12px);
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: $zindex-modal-backdrop;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba($colour-black, 0.8);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */

  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
