<div class="overlay">
  <div class="success-popup">
    <div class="success-popup__text">
      <div class="success-popup__text--icon">
        <img id="successPopupCheckIcon" src="app/spartacus/assets/media/success/Vector.svg" />
      </div>
      <div class="success-popup__text--title" id="successPopupTitle">
        {{ data.title | cxTranslate }}
      </div>
      <div class="success-popup__text--subtitle" id="successPopupSubtitle">
        {{ data.subtitle | cxTranslate }}
      </div>
    </div>
    <div *ngIf="data?.extraDetails" class="mt-3 mb-3 marLeft">
      {{ data?.extraDetails?.receiverMessage }}
      <br />
      {{ 'form.sent_to' | cxTranslate }} {{ data?.extraDetails?.receiverEmail }}
    </div>
    <div class="success-popup__close">
      <button class="btn" id="successPopupCloseBtn" (click)="onCloseButton()">{{ 'form.close' | cxTranslate }}</button>
    </div>
  </div>
</div>
