.mod-metahd {
  background: $colour-white;
  display: inline-block;
  float: left;
  height: auto;
  margin-top: 14px;
  position: relative;
  width: 85%;


  .item-list {
    border: 0;
    display: block;
    float: left;
    width: 100%;
  }

}

.lt-ie8 {

  .mod-metahd {

    .mod-metahd-item {
      float: none;
    }

  }

}

