<div class="calibrated-banner">
  <app-alert-banner bannerType="general" alertType="regular-alert">
    <div class="calibrated">
      <div class="calibrated__text" [id]="isCalibrated ? 'pdp_calibrated_title' : 'pdp_uncalibrated_title'">
        {{ productCalibratedLabel | cxTranslate }}
        <a id="pdp_calibrated_text_learn_more_link" [routerLink]="'product.calibrated_url' | cxTranslate">
          {{ 'product.calibrated_button' | cxTranslate }}
        </a>
        &nbsp;
        <span [innerHTML]="'product.calibrated_text' | cxTranslate"></span>
        &nbsp;
      </div>
      <div class="calibrated__view">
        <div class="calibrated-item" [attr.data-product-id]="calibratedProductCode">
          <div class="center">
            <a
              [id]="isCalibrated ? 'pdp_uncalibrated_view_link' : 'pdp_calibrated_view_link'"
              [routerLink]="'/p/' + calibratedProductCode"
            >
              {{ productCalibratedView | cxTranslate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </app-alert-banner>
</div>
