@import 'global-utilities';

.calibrated-banner {
  @include tabletDown {
    margin-bottom: ($spacing-unit * 4);
  }

  .calibrated {
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;

    @media #{$ipad-landscape} {
      display: inline-flex;
    }

    a {
      @include transition(all 0.3s ease-in-out 0.1s);
      color: $colour-link;
      display: inline-block;
      text-decoration-line: underline;
    }
  }
}
