@import 'global-utilities';

.checkout-login {
  width: 100%;
  display: flex;
  justify-content: center;

  &__inner {
    max-width: 940px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    display: grid;
    grid-gap: 20px;

    @include mobileOnly {
      grid-template-columns: auto;
    }
  }

  &__title {
    @include font-size(24px);
    @include line-height(40px);
    margin: 1em 0;
    color: $colour-black;

    @include tablet {
      @include font-size(32px);
    }
  }

  .ch__component {
    margin-top: 0;
    margin-bottom: 0;

    &.guest {
      position: relative;
    }

    &-title {
      &.login-title {
        margin-top: $spacing-unit * 10;
      }
    }
  }

  .p-relative {
    .ng-fa-icon {
      right: 15px;
      top: 9px;
      position: absolute;

      &.is-faXmark {
        top: 12px;
      }
    }
  }

  .error {
    border: 1px solid #f7a9a9;
    background-color: #fdf3f3;
    color: $colour-error-text;
    float: left;
    margin: ($spacing-unit * 4) 0;
    width: 100%;

    .inner {
      margin: 0 auto;
      overflow: visible;
      padding: ($spacing-unit * 3) 0;
      width: 100%;

      @media #{$ipad-landscape} {
        width: 960px;
      }

      .center {
        text-align: center;

        .text {
          @include font-size(14px);
          color: $colour-error-text;
          font-weight: $font-weight-bold;
          margin-bottom: 0;

          a {
            color: $colour-black;

            &:hover {
              color: $colour-error-text;
            }
          }
        }
      }
    }
  }

  .login {
    &__existing,
    &__new {
      height: fit-content;
      padding: 0;
      height: 100%;
      margin: 0;
    }
  }

  &__back-button {
    @include mobileOnly {
      order: 4;
    }
  }
}
