@import 'global-utilities';

.price-per-quantity {
  @include typography-text-xs();
  @include line-height(24px);
  color: $ux-text-medium-gray;
  font-weight: $font-weight-semiBold;
  padding-left: ($spacing-unit - 2);
  text-transform: uppercase;
  vertical-align: text-bottom;
}
