.skin-layout-shopping-list {

  .skin-scaled-prices-product-list {
    border: none;
    padding: 0;
    width: 120px;
  }

  .body-container {

    .category-nav {
      display: none;
    }

  }

  @media print {

    .mod-logo {
      padding-left: 310px;
    }

  }

}