.mod-layout {

  &--checkout {

    #main {
      width: 100%;
    }

    .checkout-register-holder {
      float: left;
      margin: ($spacing-unit * 6) 0;
      width: 100%;

      .p-unset {
        position: static;
      }

      .p-relative {
        position: relative;
      }

      .bd {

        &.error {
          margin: 0 0 ($spacing-unit * 4);

          p {
            margin-bottom: 0;
          }

        }

      }

      form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      .return-btn {
        @include font-size(14px);
        @include line-height(21px);
        color: $colour-dist-mid-grey;
        margin-top: $spacing-unit * 5;

        i,
        svg {
          margin-right: ($spacing-unit);
        }

        &:hover {
          color: $colour-dist-grey;
          transition: .2s ease;
        }

      }

      .mat-button {
        @include font-size(16px);
        @include line-height(43px);
        color: $colour-white;
        margin: ($spacing-unit * 3) 0;

        @media #{$ipad} {
          margin: 0;
        }

      }

      .card-wrapper {
        background-color: $colour-white;
        box-shadow: 0 ($spacing-unit - 2) ($spacing-unit - 1) rgba(0, 0, 0, .15);
        float: left;
        margin-bottom: ($spacing-unit * 6);
        padding: 0 ($spacing-unit * 6) ($spacing-unit * 6);
        width: 100%;

        .my-4 {
          border-top: 1px solid rgba(0,0,0,.1);
          margin: ($spacing-unit * 6) 0;

          &--second {
            margin: ($spacing-unit * 3) 0;
          }

        }

        p {
          @include font-size(14px);
          @include line-height(21px);
          margin-bottom: ($spacing-unit * 3);
        }

        small {
          @include font-size(12px);
          @include line-height(18px);
          color: #6c757d;
          font-weight: 500;
          padding: 0;
        }

        .mt-2 {
          float: left;
          margin-bottom: ($spacing-unit * 4);
          width: 100%;
        }

        .mb-4 {
          @include font-size(16px);
          @include line-height(28.8px);
          border-bottom: 1px solid rgba(0,0,0,.1);
          font-weight: 500;
          margin-bottom: ($spacing-unit * 5);
          padding-bottom: ($spacing-unit * 3);

          @media #{$ipad-landscape} {
            @include font-size(24px);
          }

        }

        .field-msgs,
        .field-msgs-title,
        .field-msgs-fe {

          .error-already-existing,
          .error {
            float: left;
            margin: ($spacing-unit * 2) 0;
            width: 100%;

            span {
              @include font-size(15px);
              @include line-height(18px);
              color: $colour-dist-red;
            }

          }

        }

        &--nm {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
          margin-bottom: 0;
          padding: ($spacing-unit * 6) ($spacing-unit * 6) 0;
        }

      }

      .terms-holder {
        float: left;
        width: 100%;

        &--second {
          display: none;

          &.active {
            display: block;
          }

        }

        .form-check {
          float: left;
          width: 100%;

          &.mb-2 {
            margin-bottom: ($spacing-unit);

            @media #{$ipad} {
              margin-top: ($spacing-unit * 6);
            }

          }

          input {
            display: inline-block;
            height: 30px;
            margin: 0;
            position: relative;
            vertical-align: bottom;
            width: 5%;
          }

          .privacy {
            @include font-size(12px);
            @include line-height(21px);
            display: block;
            float: right;
            margin-top: ($spacing-unit * 6);
            width: 93%;

            i,
            svg {
              @include font-size(12px);
              margin-right: ($spacing-unit);
              vertical-align: text-top;
            }

            a {
              color: $link-blue;

              &:hover {
                color: $link-dark-blue;
                text-decoration: underline;
                transition: .2s ease;
              }

            }

          }

          label {
            @include font-size(12px);
            @include line-height(21px);
            display: inline-block;
            float: right;
            padding-left: ($spacing-unit);
            width: 93%;
            vertical-align: top;

            small {
              @include font-size(12px);
              @include line-height(21px);
            }

            a {
              color: $link-blue;

              &:hover {
                color: $link-dark-blue;
                text-decoration: underline;
                transition: .2s ease;
              }

            }

            &:before {
              content: none;
            }

          }

          &--second {
            margin-bottom: ($spacing-unit * 2);
            padding-left: ($spacing-unit * 2);
          }

        }

        .error {
          border: 2px solid $border-input-warning;
          float: left;
          margin: ($spacing-unit * 2) 0;
          padding: $spacing-unit * 2;
          width: 100%;

          span {
            @include font-size(15px);
            @include line-height(18px);
            color: $colour-dist-red;
          }

        }

      }

      &--second {

        .gu-4,
        .gu-8 {
          width: 100%;
        }

        .form-group {
          clear: both;
          margin-bottom: ($spacing-unit * 2);

          &.organizational {
            height: 90px;

            .field-wrapper {
              position: relative;
            }

            .mod-toolsitem {
              margin-left: ($spacing-unit + 4);
            }

          }

        }

      }

      &--success {

        .card-wrapper {
          padding: ($spacing-unit * 10) ($spacing-unit * 6);
          text-align: center;

          i,
          svg {
            @include font-size(120px);
            color: $colour-dist-carmine;
          }

          .mb-4 {
            border: 0;
            margin: 0;
            padding: 0 0 ($spacing-unit * 2);
          }

          p {
            @include line-height(18px);

            &.small {

              br {
                display: block;
              }

            }

          }


          &__text {
            margin: ($spacing-unit * 2) auto 0;
            max-width: 630px;

            p {
              @include line-height(20px);
            }

          }

        }

      }

    }

    #ui-datepicker-div {
      box-sizing: border-box;
      left: 0 !important;
      margin: 0;
      padding-left: ($spacing-unit * 3);
      padding-right: ($spacing-unit * 3);
      width: 100%;

      @media #{$ipad} {
        left: 28% !important;
        margin: ($spacing-unit * 2) 0 0 (-$spacing-unit * 20);
        padding-left: 0;
        padding-right: 0;
        width: 240px;
      }

      @media #{$desktop} {
        margin: ($spacing-unit * 2) 0 0 (-$spacing-unit * 20);
      }

      .ui-datepicker-header {

        &:after {
          content: none;
        }

      }

      .ui-datepicker-calendar {

        tbody {

          tr {

            td {

              span, a {
                width: 100%;

                @media #{$ipad} {
                  width: 28px;
                }

              }

            }

          }

        }

      }

      .ui-datepicker-buttonpane {
        float: left;
        width: 100%;

        button {
          @include font-size(15px);
          @include line-height(34px);
          background: $colour-ui-datepicker-close;
          border-radius: ($spacing-unit - 1);
          color: $colour-white;
          height: 32px;
          margin: 0 ($spacing-unit + 3) ($spacing-unit * 2) 0;
          padding: 0 ($spacing-unit + 3);
        }

      }

    }

  }

}
