$category-bg: #f2f2f2;

.skin-layout-category {
  .row {
    &__col-2 {
      float: left;
      width: 100%;

      @media #{$ipad-landscape} {
        width: 25%;
      }
    }

    &__col-8 {
      float: left;
      width: 100%;

      @media #{$ipad-landscape} {
        width: 75%;
      }
    }
  }

  &.category-page {
    background-color: $category-bg;

    .gu-12 {
      width: 100%;
    }

    .page-wrapper {
      clear: both;
    }

    .mod-breadcrumb {
      display: none;

      @media #{$ipad} {
        display: block;
      }

      .ct {
        margin: 0;
      }
    }

    .offers-and-promotions {
      .container {
        padding: 0;
      }

      .heading {
        @include font-size(20px);
        font-family: $font-montserrat;
        margin-bottom: $spacing-unit * 2;
      }

      .simple-banner {
        margin-bottom: $spacing-unit * 4;
      }
    }

    .page-title {
      @include font-size(28px);
      @include line-height(24px);
      color: $color-category-dark-grey;
      font-family: $font-montserrat;
      padding: 0 ($spacing-unit * 4);

      @media #{$ipad} {
        padding: 0;
      }
    }
  }

  .page {
    &__title {
      position: relative;

      &.row {
        background-color: $colour-white;
        border-bottom: 1px solid $color-category-thumps-grey;
        margin-bottom: $spacing-unit * 3;

        @media #{$ipad} {
          background-color: transparent;
          border: none;
        }
      }

      &--heading {
        @include font-size(18px);
        @include line-height(24px);
        color: $color-category-dark-grey;
        float: right;
        font-family: $font-montserrat;
        margin: 0;
        padding: ($spacing-unit * 3) ($spacing-unit * 2);
        text-align: center;
        width: 100%;

        @media #{$ipad} {
          @include font-size(28px);
          padding: 0;
          text-align: left;
        }

        .matched-products-count {
          @include font-size(13px);
          @include line-height(18px);
          display: block;

          @media #{$ipad-landscape} {
            @include font-size(18px);
            display: inline-block;
            margin-left: ($spacing-unit * 3);
          }

          b {
            display: none;
            font-weight: normal;

            @media #{$ipad-landscape} {
              display: inline-block;
            }
          }

          &__text {
            margin-left: $spacing-unit;
          }
        }
      }
    }
  }

  .top-brands {
    background-color: $colour-white;
    border: 1px solid $color-category-thumps-grey;
    margin: ($spacing-unit * 10) 0;
    padding: ($spacing-unit * 4) ($spacing-unit * 2) 0 ($spacing-unit * 2);

    .divider {
      display: none;
    }

    .heading {
      @include font-size(20px);
      font-family: $font-montserrat;
      left: -($spacing-unit * 2);
      position: absolute;
      top: -($spacing-unit * 18);
    }

    div {
      &.col-md-2 {
        width: 50%;
      }
    }
  }
}
