// print pdp page
@media print {

  .skin-layout-product {
    margin: 0 !important;

    .md-content {

      .container {
        margin: 0 !important;
        width: 900px;
      }

    }

    header,
    footer,
    .breadcrumb-section,
    .bottom-section-holder,
    .mod-print-footer,
    .stock-notification {
      display: none;
    }

  }

}
