$cart-body-grey: #f7f9fc;
$cart-side-border-grey: #eaeaea;

.skin-layout-cart {
  -webkit-font-smoothing: antialiased;
  background: $cart-body-grey;

  header {
    float: left;
    height: 100%;
    min-height: 170px;
    width: 100%;

    @media #{$ipad-landscape} {
      min-height: unset;
    }

    @media print {
      min-height: 68px;
    }

  }

  .mod-warning-component {

    @media #{$ipad-landscape} {
      min-height: $spacing-unit*4;
    }

  }

  .md-content {
    float: left;
    width: 100%;

    .container {
      position: relative;

      @media print {
        margin: 0;
        max-width: 900px;
        width: 100%;
      }

      .mod-global-messages {
        width: 100%;
      }

    }

    .col-lg-9 {

      @media print {
        float: left;
        width: 100%;
      }

    }

    .col-lg-3 {

      @media print {
        float: left;
        width: 100%;
      }

    }

  }

  .cart-holder {
    float: left;
    padding: ($spacing-unit * 5) 0 ($spacing-unit * 36);
    width: 100%;

    @media #{$ipad-landscape} {
      padding: ($spacing-unit * 5) 0;
    }

    &__title {
      float: left;
      padding-bottom: ($spacing-unit * 8);
      width: 100%;

      @media #{$ipad} {
        padding-bottom: ($spacing-unit * 4);
      }

      h1 {
        @include font-size(24px);
        @include line-height(28px);
        color: $colour-black;
        font-family: $font-montserrat;
        font-weight: 500;
        margin: 0;
      }

      .cart-total {
        @include font-size(13px);
        @include line-height(17px);
        font-weight: 500;
        margin-bottom: 0;
      }

      .base {
        float: left;
        text-align: center;
        width: 100%;

        @media #{$ipad} {
          text-align: left;
        }

        h2 {
          @include font-size(24px);
          color: $colour-black;
          font-family: $font-stack-dist;
          margin: 0;
          padding: 0;
        }

        p {
          @include font-size(13px);
          @include line-height(17px);
          display: none;
          margin-bottom: 0;

          @media #{$ipad-landscape} {
            display: block;
            padding-top: ($spacing-unit);
          }

        }

      }

      &--full {
        padding-bottom: ($spacing-unit * 4);

        .base {
          text-align: left;
        }

      }

      &__btn {
        float: left;
        margin-top: ($spacing-unit * 3);
        text-align: center;
        width: 100%;

        @media #{$ipad-landscape} {
          display: none;
        }

        .mat-button {
          @include font-size(15px);
          @include line-height(20px);
          border-radius: 2px;
          color: $colour-white;
          display: inline;
          padding: ($spacing-unit * 2) ($spacing-unit * 8);
          width: auto;
        }

      }

    }

    &__recommendations {
      display: none;
      float: left;
      width: 100%;

      @media #{$ipad-landscape} {
        display: block;
      }

    }

    &__tabs {
      display: none;
      float: left;
      width: 100%;

      @media #{$ipad} {
        display: block;
      }

    }

    &__cta {
      float: left;
      margin-bottom: ($spacing-unit * 4);
      width: 100%;

      .cta {

        .img-fluid {
          display: inline-block;
          height: auto;
          max-width: 100%;
        }

        &--half {
          float: left;
          width: 48.9%;

          @media #{$desktop} {
            width: 49%;
          }

          &:last-of-type {
            float: right;
            margin-left: ($spacing-unit * 3);
          }

        }

      }

    }

    &__toolbar {
      display: none;
      float: left;
      width: 100%;

      @media #{$ipad} {
        display: block;
        margin-top: ($spacing-unit * 3);
      }

    }

    .cart-side-sticky {

      &--stuck {

        @media #{$desktop} {
          position: absolute;
          right: 0;
        }

      }

    }

    &__side {
      background: $colour-white;
      border-top: 1px solid $cart-side-border-grey;
      bottom: 0;
      box-shadow: 0 0 6px rgba(54, 54, 54, 0.0784313725490196);
      display: block;
      float: left;
      left: 0;
      position: fixed;
      width: 100%;
      z-index: 310;

      @media print {
        bottom: unset;
        position: relative;
      }

      @media #{$ipad-landscape} {
        border-top: 0;
        display: block;
        padding: ($spacing-unit * 3);
        position: relative;
      }

      &--freight {
        display: none;
        margin-top: ($spacing-unit * 3);

        @media #{$ipad-landscape} {
          display: block;
        }

      }

      &__delivery-mode {
        @include font-size(12px);
        @include line-height(18px);
        float: left;
        width: 100%;
        padding: 0 ($spacing-unit * 3);
        margin-bottom: $spacing-unit * 4;
        color: $ux-txt-grey;

        @media #{$ipad-landscape} {
          padding: 0;
        }
      }
    }

  }

  footer {
    display: none;

    @media #{$ipad-landscape} {
      display: block;
    }

  }

}

