.mod-layout {
  -webkit-font-smoothing: antialiased;
  font-family: $font-montserrat;

  &.menu-active {
    overflow: hidden !important;
  }

  #main {
    width: 100%;

    @media #{$ipad-landscape} {
      width: 960px;
    }

  }

  .footer {
    margin-left: 0;
  }

  .md-system {

    .container {
      clear: both;
    }

    .row {

      &:after {
        display: none;
      }

    }

  }

}

.skin-layout-product,
.skin-layout-account,
.skin-layout-category,
.skin-layout-shopping-list,
.skin-layout-favorite-list,
.skin-layout-store,
.skin-layout-search,
.skin-layout-manufacturer,
.skin-layout-cart {

  .body-container {
    overflow: visible;
  }

}

.inter {

  h1, h2 {
    font-family: $font-stack-d4 !important;
  }

}

.ux-page-bg {
  background-color: $ux-page-bg;
}
