.skin-layout-quotes-form {

  .body-container {

    #main {
      float: none;
      margin-right: auto;

      .breadcrumb {

        .mod-breadcrumb {

          .ct {

            .bd {

              .bc-list {
                float: left;
                margin-bottom: ($spacing-unit * 2);
                width: 100%;
              }

            }

          }

        }

      }

    }

  }

  .page-title {
    font-weight: 600;
  }

  .page-subtitle {
    @include font-size(14px);
  }

  .quote-form {
    border-top: ($spacing-unit - 4 solid $colour-dark-grey);
    margin-top: ($spacing-unit * 5);
    overflow: scroll;
    padding-top: ($spacing-unit * 5);

    @media #{$ipad-landscape} {
      overflow: auto;
    }

    &__customer {
      border-bottom: ($spacing-unit - 4 solid $colour-dark-grey);
      float: left;
      margin-bottom: ($spacing-unit * 5);
      padding-bottom: ($spacing-unit * 5);
      width: 100%;

      .helper-label {
        @include font-size(14px);
        @include line-height(13px);
        float: left;
        padding-right: ($spacing-unit * 2);
        width: 35%;

        @media #{$ipad-landscape} {
          padding-right: ($spacing-unit * 4);
          width: 30%;
        }

      }

      input {
        @include font-size(14px);
      }

      &--left, &--right {
        display: inline-block;
        width: 100%;

        @media #{$ipad-landscape} {
          width: 48%;
        }

        .grouper {
          float: left;
          width: 100%;

          label {
            @include font-size(14px);
            @include line-height(13px);
            float: left;
            width: 30%;
          }

          input {
            @include font-size(14px);
            @include line-height(13px);
            float: right;
            height: 26px;
            width: 65%;

            @media #{$ipad-landscape} {
              width: 70%;
            }

            &.error {
              border: ($spacing-unit - 3) solid $colour-dist-red;
            }

            &.disabled {
              pointer-events: none;
            }

          }

          &__name {
            float: left;
            margin-bottom: ($spacing-unit * 3);
            width: 100%;

            label {
              @include font-size(14px);
              @include line-height(13px);
            }

            input {
              @include line-height(13px);
              height: 26px;
            }

            &__grouped {
              display: inline-block;
              float: left;
              width: 65%;

              @media #{$ipad-landscape} {
                align-items: center;
                display: inline-flex;
                justify-content: space-between;
                width: 70%;
              }

              input {
                display: inline-block;
                float: left;
                width: 100%;

                &.error {
                  border: ($spacing-unit - 3) solid $colour-dist-red;
                }

                @media #{$ipad-landscape} {
                  width: 39%;
                }

                &#firstName {
                  margin-left: 0;
                }

                &#lastName {
                  margin-top: ($spacing-unit * 3);

                  @media #{$ipad-landscape} {
                    margin-top: 0;
                  }

                }

              }

            }

            select {
              @include font-size(14px);
              @include line-height(13px);
              float: left;
              height: 26px;
              margin-bottom: ($spacing-unit * 3);
              padding: 0;

              @media #{$ipad-landscape} {
                margin-bottom: 0;
              }

            }

          }

        }

      }

      &--left {
        float: left;

        .grouper {

          &__tel {
            margin-bottom: ($spacing-unit * 3);
            margin-top: ($spacing-unit * 3);

            @media #{$ipad-landscape} {
              margin-bottom: 0;
            }

          }

        }

      }

      &--right {
        float: right;

        .grouper {

          &.company {
            margin-bottom: ($spacing-unit * 3);
          }

        }

      }

      .error-message, .error-message-customer {
        float: left;
        width: 100%;

        p {
          @include font-size(14px);
          color: $colour-dist-red;
          font-weight: 600;
          margin-top: ($spacing-unit * 4);
          text-align: left
        }

      }

    }

    &__requirements-list {
      overflow: scroll;
      width: 1000px;

      @media #{$ipad-landscape} {
        overflow: auto;
        width: 100%;
      }

    }

    &__requirements {
      border-bottom: ($spacing-unit - 4) solid $colour-dark-grey;
      float: left;
      margin-bottom: ($spacing-unit * 5);
      overflow: scroll;
      padding-bottom: ($spacing-unit * 5);
      width: 100%;

      @media #{$ipad-landscape} {
        overflow: auto;
        width: 100%;
      }

      &__row {
        float: left;
        margin-top: ($spacing-unit * 2);
        width: 100%;

        .grouped {
          width: 100%;

          &__rowxxs {
            cursor: pointer;
            text-align: center;
            width: 2%;

            &:before {
              cursor: pointer;
            }

            &.disabled {
              opacity: 0.25;
              cursor: not-allowed;

              &:before {
                cursor: not-allowed;
              }

            }

          }

          &__rowxs {
            padding: 0;
            text-align: center;
            width: 3%;
          }

          &__rowsm {
            width: 10%;
          }

          &__rowmd {
            width: 20%;
          }

          &__rowl {
            width: 25%;
          }

          input {
            @include font-size(14px);
            @include line-height(13px);
            height: 26px;
            margin-right: ($spacing-unit * 3 + 1);

            &.disabled {
              opacity: 0.7;
              pointer-events: none;
            }

            &.error {
              border: ($spacing-unit - 3) solid $colour-dist-red;
            }

          }

        }

      }

      .title-list {
        align-items: center;
        display: inline-flex;
        float: left;
        overflow: scroll;
        justify-content: left;
        width: 1000px;

        @media #{$ipad-landscape} {
          overflow: auto;
          width: 100%;
        }

        li {
          @include font-size(14px);
          margin-right: ($spacing-unit * 3 + 1.66);
        }

        &__xs {
          width: 3%;
        }

        &__sm {
          width: 10%;
        }

        &__md {
          width: 20%;
        }

        &__l {
          width: 25%;
        }

      }

      .error-message {
        float: left;
        width: 100%;

        @media #{$ipad-landscape} {
          width: 70%;
        }

        p {
          @include font-size(14px);
          color: $colour-dist-red;
          font-weight: 600;
          margin-top: ($spacing-unit * 4);
          text-align: left;

          @media #{$ipad-landscape} {
            margin: ($spacing-unit * 4) 0 0 ($spacing-unit * 9);
          }

        }

      }

      .add-row {
        float: right;
        margin-top: ($spacing-unit * 4);
        width: 100%;

        @media #{$ipad-landscape} {
          width: 30%;
        }

        a {
          @include font-size(14px);
          background: $colour-dist-red;
          border-radius: ($spacing-unit);
          box-sizing: border-box;
          color: $colour-white;
          float: left;
          font-weight: 600;
          padding: ($spacing-unit - 2) ($spacing-unit * 5);

          @media #{$ipad-landscape} {
            float: right;
          }

        }

      }

      &__title {
        @include font-size(20px);
        @include line-height(20px);
        color: $colour-dist-red;
        font-weight: 600;
        margin-bottom: ($spacing-unit * 5);
        width: 100%;
      }

    }

    &__comments {
      border-bottom: ($spacing-unit - 4) solid $colour-dark-grey;
      float: left;
      margin-bottom: ($spacing-unit * 5);
      padding-bottom: ($spacing-unit * 5);
      width: 100%;

      .grouper {
        display: inline-block;
        margin-bottom: ($spacing-unit * 3);
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }

        @media #{$ipad-landscape} {
          margin-bottom: 0;
          width: 33%;
        }

        label {
          @include font-size(14px);
          float: left;
          margin-bottom: ($spacing-unit + 2);
          width: 100%;

          @media #{$ipad-landscape} {
            width: auto;
          }

        }

        textarea {
          height: 55px;
          width: 92%;
        }

        &__grouped {
          float: left;
          position: relative;
          top: 15px;
          width: 33%;

          label {

            &:before {
              margin-right: ($spacing-unit);
              position: relative;
              top: 2px;
            }

          }

        }

      }

    }

    &__submit {
      float: left;
      margin-bottom: ($spacing-unit * 5);
      width: auto;

      @media #{$ipad-landscape} {
        float: right;
      }

      button {
        @include font-size(14px);
        border-radius: ($spacing-unit + 2);
        font-weight: 500;
        padding-left: ($spacing-unit * 3);
        padding-right: ($spacing-unit * 3);
      }

    }

  }

}