.skin-layout-compare {

  .md-content {

    @media print {
      float: left;
      padding-top: 0;
      width: 100%;
    }

    .ct {

      @media print {
        margin: 0 ($spacing-unit * 65);
        max-width: 900px;
        width: 100%;
      }

      &__compare {
        padding-bottom: $spacing-unit*10;
        padding-top: $spacing-unit*4;

        .page-title {
          @include font-size(30px);
          color: $colour-dark-grey;
          float: none;
          font-weight: 400;
          margin-bottom: ($spacing-unit * 4);
          text-align: left;
          width: 100%;

          @media #{$ipad-landscape} {
            margin-bottom: ($spacing-unit * 8);
          }

        }

        .row {

          @media print {
            display: block;
            float: left;
            margin: 0;
            width: 100%;
          }

          .col-sm-12 {

            @media print {
              display: block;
              flex: none;
              float: left;
              width: 100%;
            }

          }

        }

      }

    }

  }

  .mod-breadcrumb {

    @media print {
      display: none;
    }

  }

  .mod-print-footer {

    @media print {
      display: none;
    }

  }

}