.skin-layout-account-detail {
  -webkit-font-smoothing: antialiased;

  header,
  .orderdetail-toolbar {

    @media print {
      display: none;
    }

  }

  #main {
    width: 100%;
  }

  .modal-backdrop {

    @media print {
      background: $colour-white;
    }

  }

  .order-detail-my-account-holder {

    &__content {

      @media print {
        flex: none !important;
        max-width: 900px !important;
        width: 900px !important;
      }

    }

  }

  .order-detail-my-account-holder,
  .return-items-my-account-holder {
    float: left;
    width: 100%;

    .bs-o1 {
      order: 2;

      @media #{$ipad-landscape} {
        order: 0;
      }

    }

    .bs-o2 {
      order: 1;

      @media #{$ipad-landscape} {
        order: 0;
      }

    }

  }

  .return-items-my-account-holder {
    padding-bottom: ($spacing-unit * 4);
  }

  .orderdetail-toolbar {
    float: left;
    padding-bottom: ($spacing-unit * 4);
    width: 100%;

    .btn-back {
      @include font-size(15px);
      color: $colour-paragraph-grey;
      font-weight: bold !important;
      height: 35px;
      line-height: 32px !important;
      margin-top: ($spacing-unit + 2);
      min-width: 103px;
      padding: 0;
    }

  }

  .returns-item-title {
    display: block;

    @media #{$ipad-landscape} {
      display: inline-block;
    }

  }

  .returns-contact {
    @include font-size(15px);
    @include line-height(50px);
    display: block;
    margin-top: ($spacing-unit * 2);

    @media #{$ipad-landscape} {
      display: inline-block;
      float: right;
      margin-top: 0;
    }

    .returns-contact-link {
      color: $link-blue;
      padding-left: ($spacing-unit);

      &:hover {
        color: $link-dark-blue;
        text-decoration: underline;
      }

    }

  }

  .orderdetail-total {
    float: left;
    padding-bottom: ($spacing-unit * 5);
    width: 100%;

    @media #{$desktop} {
      float: right;
      max-width: 307px;
    }

    &__item {
      float: left;
      width: 100%;

      .estimated-date-info {
        border: 1px solid $border-global-grey;
        border-top: 0;

        p {
          @include font-size(14px);
          @include line-height(20px);
          color: $colour-paragraph-grey;
          padding: ($spacing-unit * 2) ($spacing-unit * 3);
          text-indent: 0;
        }

      }

      .calc-cell {
        @include font-size(14px);
        @include line-height(24px);
        color: $colour-paragraph-grey;
      }

      .calc-box-subtotal {
        border-top: 0;
      }

      .calc-box-total {

        .calc-cell {
          color: $colour-dist-red;
        }

      }

    }

  }

}
