$bg-product-card-shadow:  0 2px 4px 0 rgba(0,0,0,0.15);
$border-sap-recommendation-grey: #D8D8D8;
$text-carousel-standard-grey: #212529;

.cms-recommendation-holder {
  float: left;
  width: 100%;
}

.carousel {

  &__component {

    &--carousel {

      &.slick-slider {
        margin-bottom: ($spacing-unit * 10);
        padding-top: ($spacing-unit * 2);
      }

    }

  }

}

.carousel-component {

  &__headline {
    @include font-size(28px);
    @include line-height(34px);
    border-top: 2px solid $colour-dist-grey;
    clear: both;
    color: $colour-dist-grey;
    letter-spacing: -.6px;
    padding: ($spacing-unit * 5) 0;
  }

  .carousel-grid {

    .card-item-anchor {
      display: inline-block;
      width: 100%;
    }

    .card-item {
      border: 1px solid #D8D8D8;
      box-shadow: $bg-product-card-shadow;
      display: table;
      height: 100%;
      margin-bottom: ($spacing-unit * 3);
      min-height: 122px;
      width: 100%;

      &__image {
        display: table-cell;
        padding-left: ($spacing-unit * 2);
        width: 20%;
        vertical-align: middle;

        img {
          display: inline-block;
          height: auto;
          max-width: 100%;
        }

      }

      &__content {
        display: table-cell;
        padding: ($spacing-unit * 2) ($spacing-unit * 3);
        width: 80%;
        vertical-align: middle;

        #wrapper3 {
          float: left;
          padding-bottom: ($spacing-unit);
          width: 100%;

          p {
            @include font-size(12px);
            @include line-height(20px);
            color: $colour-dist-green;
            font-weight: bold;

            .holder-s {
              padding-left: ($spacing-unit);
            }

          }

        }

        h3 {
          @include font-size(12px);
          @include line-height(20px);
          color: $colour-dist-grey;
          float: left;
          font-weight: 600;
          letter-spacing: -.18px;
          height: 40px;
          margin-bottom: ($spacing-unit);
          overflow: hidden;
          width: 100%;
        }

        .price {
          @include font-size(16px);
          @include line-height(22px);
          color: $colour-dist-grey;
          font-weight: 600;
          letter-spacing: -.3px;
        }

      }

    }

  }

  .carousel-standard {

    &__item {
      margin: 0 auto ($spacing-unit * 4) auto;
      padding: 0 ($spacing-unit * 2);
      position: relative;
      width: 50%;

      &__anchor {
        background: $colour-white;
        border: 1px solid $border-sap-recommendation-grey;
        border-radius: 2px;
        box-shadow: $bg-product-card-shadow;
        float: left;
        min-height: 288px;
        overflow: hidden;
        width: 100%;
      }

      &__thumb {
        float: left;
        width: 100%;

        img {
          display: block;
          height: auto;
          margin: 0 auto;
          max-width: 100%;
          padding: ($spacing-unit * 6) 0 ($spacing-unit * 2);
        }

      }

      &__name {
        @include font-size(12px);
        @include line-height(17px);
        color: $text-carousel-standard-grey;
        font-family: $font-montserrat;
        font-weight: 600;
        float: left;
        height: 45px;
        letter-spacing: -.3px;
        padding: 0 ($spacing-unit * 2);
        width: 100%;

        @media #{$ipad-landscape}{
          @include font-size(16px);
          @include line-height(22px);
        }

      }

      &__price {
        @include font-size(16px);
        @include line-height(22px);
        float: left;
        font-family: $font-montserrat;
        font-weight: 600;
        margin-top: ($spacing-unit * 2);
        padding: 0 ($spacing-unit * 2);
        width: 100%;
      }

      &__btn {
        float: left;
        padding: 0 ($spacing-unit * 2);
        width: 100%;

        .btn {
          @include font-size(12px);
          @include line-height(14px);
          height: auto;
          margin: ($spacing-unit * 2) 0;

          i {
            margin: 0 0 0 $spacing-unit;
          }

        }

      }

      &__stock {
        @include font-size(12px);
        @include line-height(20px);
        color: $colour-dist-green;
        float: left;
        margin-top: ($spacing-unit * 2);
        padding: 0 ($spacing-unit * 2);
        width: 100%;

        @media #{$ipad-landscape}{
          @include font-size(14px);
        }

      }

      @media #{$ipad}{
        margin: 0 0 ($spacing-unit * 5) 0;
        width: 33.33%;
      }

      @media #{$ipad-landscape}{
        width: 20%;
      }

    }

  }

}
