.skin-layout-account {

  h1 {
    @include font-size(28px);
    margin-bottom: $spacing-unit * 6;
  }

  .order-history-my-account-holder {
    float: left;
    width: 100%;

    .bs-o1 {
      order: 2;

      @media #{$ipad-landscape} {
        order: 0;
      }

    }

    .bs-o2 {
      order: 1;

      @media #{$ipad-landscape} {
        order: 0;
      }

    }

  }

  header {

    @media print {
      display: none;
    }

  }

  .body-container {

    &--full {

        #main {
          margin-right: 0;
          width: 100%;

          @media #{$ipad} {
            padding: 0 ($spacing-unit * 3);
          }

          .ct {
            width: 100%;
          }

          .gu-4 {
            float: left;
            width: 100%;

            @media #{$ipad-landscape} {
              float: right;
              width: 30%;
            }

          }

          .gu-8 {
            float: left;
            width: 100%;

            @media #{$ipad-landscape} {
              width: 70%;
            }

          }

        }

      }

    }

	.footer {

    &__newsletter {
      display: none;
    }

  }

}
