.gu-6 {
  width: 100%;

  @media #{$ipad-landscape} {
    width: 480px;
  }

}

.gu-8 {
  max-width: 100%;
}

.gu-12 {
  width: 100%;

  @media #{$ipad-landscape} {
    width: 960px;
  }

}

.gu-16 {
  width: 100%;

  @media #{$ipad-landscape} {
    width: 960px;
  }

  @media #{$desktop} {
    width: 1280px;
  }

}
