.mod-layout {

  &--standalone {
    background-color: $colour-pale-grey;

    header {
      float: left;
      width: 100%;
    }

    .body {
      background-color: $colour-pale-grey;
      padding: ($spacing-unit * 8) ($spacing-unit * 2);
    }

    .standalone-register-holder {
      font-family: $font-montserrat;
      float: left;
      margin-bottom: ($spacing-unit * 6);
      width: 100%;

      @media #{$ipad-landscape} {
        margin: ($spacing-unit * 6) 0;
      }

      h1,
      h2,
      h3,
      h4 {
        font-family: $font-montserrat;
        font-weight: bold;
      }

      .p-unset {
        position: static;
      }

      .p-relative {
        position: relative;
      }

      .bd {

        &.error {
          margin: 0 0 ($spacing-unit * 4);

          p {
            margin-bottom: 0;
          }

        }

      }

      &__title {
        margin-bottom: ($spacing-unit * 5);

        @media #{$ipad-landscape} {
          margin: ($spacing-unit * 5) 0;
        }

        h1 {
          @include font-size(24px);
          margin-bottom: $spacing-unit * 3;
        }

      }

      form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      .return-btn {
        @include font-size(14px);
        @include line-height(21px);
        display: inline-block;
        margin-top: $spacing-unit * 5;
        margin-bottom: $spacing-unit * 30;
        color: $colour-mid-black;

        i,
        svg {
          margin-right: ($spacing-unit);
          margin-bottom: $spacing-unit - 3;
        }

        &:hover {
          color: $colour-black;
          transition: .2s ease;
        }

      }

      .mat-button {
        @include font-size(16px);
        @include line-height(43px);
        color: $colour-white;
        margin: ($spacing-unit * 3) 0;
        width: 150px;

        @media #{$ipad} {
          margin: 0;
        }

      }

      .card-wrapper {
        background-color: $colour-white;
        box-shadow: 0 ($spacing-unit - 2) ($spacing-unit - 1) rgba(0, 0, 0, .15);
        float: left;
        margin-bottom: $spacing-unit * 6;
        padding-bottom: $spacing-unit * 6;
        width: 100%;

        h3 {
          @include font-size(24px);
          @include line-height(32px);
          padding: ($spacing-unit * 4 ) ($spacing-unit * 4 ) 0;
          font-weight: 500 !important;

          &.active {
            border-bottom: 1px solid $colour-light-grey;
          }

        }

        p {
          @include font-size(14px);
          @include line-height(21px);
          margin-bottom: ($spacing-unit * 3);
        }

        small {
          @include font-size(12px);
          @include line-height(18px);
          color: #6c757d;
          font-weight: 500;
          padding: 0;
        }

        .field-msgs,
        .field-msgs-title,
        .field-msgs-fe {

          .error-already-existing,
          .error, .error-invalid-phone {
            float: left;
            margin: -$spacing-unit 0 ($spacing-unit * 3);
            width: 100%;

            span {
              @include font-size(12px);
              @include line-height(20px);
              font-weight: 500;
              color: $colour-dist-red;
            }

          }

        }

      }

      .terms-holder {
        float: left;
        width: 100%;

        &--second {
          display: none;

          &.active {
            display: block;
          }

        }

        .form-check {
          float: left;
          width: 100%;

          &.mb-2 {
            margin-bottom: ($spacing-unit);

            @media #{$ipad} {
              margin-top: ($spacing-unit * 6);
            }

          }

          input {
            display: inline-block;
            height: 30px;
            margin: 0;
            position: relative;
            vertical-align: bottom;
            width: 5%;
          }

          .privacy {
            @include font-size(12px);
            @include line-height(21px);
            display: block;
            float: right;
            margin-top: ($spacing-unit * 6);
            width: 93%;

            i,
            svg {
              @include font-size(12px);
              margin-right: ($spacing-unit);
              vertical-align: text-top;
            }

            a {
              color: $link-blue;

              &:hover {
                color: $link-dark-blue;
                text-decoration: underline;
                transition: .2s ease;
              }

            }

          }

          label {
            @include font-size(12px);
            @include line-height(21px);
            display: inline-block;
            float: right;
            padding-left: ($spacing-unit);
            width: 93%;
            vertical-align: top;

            small {
              @include font-size(12px);
              @include line-height(21px);
            }

            a {
              color: $link-blue;

              &:hover {
                color: $link-dark-blue;
                text-decoration: underline;
                transition: .2s ease;
              }

            }

            &:before {
              content: none;
            }

          }

          &--second {
            margin-bottom: ($spacing-unit * 2);
            padding-left: ($spacing-unit * 2);
          }

        }

        .error {
          border: 2px solid $border-input-warning;
          float: left;
          margin: ($spacing-unit * 2) 0;
          padding: $spacing-unit * 2;
          width: 100%;

          span {
            @include font-size(15px);
            @include line-height(18px);
            color: $colour-dist-red;
          }

        }

      }

      &--success {

        .card-wrapper {
          padding: ($spacing-unit * 10) ($spacing-unit * 6);
          text-align: center;

          i,
          svg {
            @include font-size(120px);
            color: $colour-dist-carmine;
          }

          .mb-4 {
            border: 0;
            margin: 0;
            padding: 0 0 ($spacing-unit * 2);
          }

          p {
            @include line-height(18px);

            &.small {

              br {
                display: block;
              }

            }

          }


          &__text {
            margin: ($spacing-unit * 2) auto 0;
            max-width: 630px;

            p {
              @include line-height(20px);
            }

          }

        }

      }

      &__steps {
        display: none;
        position: relative;
        z-index: -1;

        @media #{$ipad-landscape} {
          display: inherit;
        }

        &__items {
          display: flex;
          flex-direction: column;
          padding: $spacing-unit * 2;
          position: fixed;

          &__item {
            display: flex;
            margin-bottom: $spacing-unit * 2;

            .number {
              background-color: $colour-white;
              font-weight: 600;
              color: $ux-txt-grey;
              border: 1px solid $colour-light-grey;
              border-radius: 50%;
              box-shadow: 0 ($spacing-unit - 2) ($spacing-unit - 1) rgba(0, 0, 0, .15);
              height: 40px;
              padding: ($spacing-unit + 3) ($spacing-unit * 3);
              width: 40px;

              &--active {
                background-color: $colour-dist-green;
                box-shadow: none;
                color: $colour-white;
              }

            }

            .text {
              @include font-size(18px);
              @include line-height(20px);
              font-weight: 500;
              padding: $spacing-unit * 2 + 1;
            }

          }

        }

      }

    }

  }

}



