.skin-layout-password {

  .md-content {
    background: $colour-forgot-pw-body;
    float: left;
    width: 100%;
  }

  .box-wrapper {
    -moz-box-shadow: 0 0 ($spacing-unit + 3) 0 $colour-forgot-pw-box-shadow;
    -webkit-box-shadow: 0 0 ($spacing-unit + 3) $colour-forgot-pw-box-shadow;
    background: $colour-white;
    box-shadow: 0 0 ($spacing-unit + 3) 0 $colour-forgot-pw-box-shadow;
    box-sizing: border-box;
    display: block;
    float: none;
    margin: 0 auto ($spacing-unit * 6) auto;
    max-width: 300px;
    padding: ($spacing-unit * 7) ($spacing-unit * 7) ($spacing-unit * 9) ($spacing-unit * 7);
    width: auto;

    @media #{$ipad-landscape} {
      margin-bottom: ($spacing-unit * 60);
      margin-top: ($spacing-unit * 15);
      max-width: 375px;
    }

    &__title {
      @include font-size(24px);
      color: $colour-dark-grey;
      font-weight: 300;
      margin-bottom: ($spacing-unit * 3);
      padding-left: 0;
      padding-right: 0;
    }

  }

}