.skin-layout-account-quotation-detail {

  .breadcrumb {
    float: left;
    width: 100%;
  }

  .quote-detail-content {
    float: left;
    width: 100%;

    .bottom-holder {
      float: left;
      padding-bottom: ($spacing-unit * 10);
      width: 100%;

      &.active {
        padding-bottom: 0;
      }

      .row {
        margin: 0;
      }

      .skin-cart-toolbar-quote-detail,
      .skin-cart-pricecalcbox-quote {
        width: 100%;
      }

      .skin-cart-toolbar-quote-detail {

        .bd {
          width: 100%;
        }

        ._left {
          width: 100px;

          .tools-bar {

            .quote-item {
              @include line-height(48px);
              display: inline-block;
              height: auto;

              a {
                @include line-height(30px);
                display: inline-block;
                height: 30px;
                width: 30px;

                i {
                  @include font-size(28px);
                  @include line-height(30px);
                  display: inline-block;
                  text-align: center;
                  width: 100%;
                }

              }

            }

          }

        }

        ._right {
          width: 84%;
        }

      }

      .gu-8-1 {
        width: 70%;
      }

      .gu-4-1 {
        width: 30%;
      }

    }

    .mod-order-overview-box {

      .data-list {
        float: left;
        width: 100%;

        .row {
          margin: 0;
        }

        .base {

          &.title {
            float: left;
            padding-left: 0;
            width: 100%;
          }

        }

        .quotes-overview {
          float: left;
          width: 100%;

          .entry_admin {
            padding: ($spacing-unit * 2) ($spacing-unit * 3) ($spacing-unit * 2) 0;
            width: 17%;

            &.button-cart {
              width: 15%;

              dl {

                dd {

                  .resubmit {
                    @include font-size(14px);
                    color: $colour-account-quotes-blue;
                    float: left;
                    font-weight: 600;
                    margin-left: ($spacing-unit);
                    width: 100%;

                    &:hover {
                      color: $colour-account-quotes-blue-hover;
                      text-decoration: underline;
                    }

                    &.active {
                      color: $colour-black;
                      cursor: default;

                      &:hover {
                        color: $colour-black;
                        text-decoration: none;
                      }

                    }

                    &--label {
                      @include font-size(13px);
                      float: left;
                      font-weight: 500;
                      margin-left: ($spacing-unit);
                      width: 100%;
                    }
                    &--childQuote {
                      @include font-size(14px);
                      color: $link-blue;
                      float: left;
                      font-weight: 500;
                      margin-left: ($spacing-unit);
                      width: 100%;

                      &:hover {
                        colour: $link-dark-blue;
                      }

                    }

                  }

                  .pdf-quotes {
                    display: inline-block;
                    height: 30px;
                    width: 30px;

                    i {
                      @include font-size(28px);
                      @include line-height(30px);
                      display: inline-block;
                      text-align: center;
                      width: 100%;
                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}

