.skin-layout-return-or-repair {
  float: left;
  padding-bottom: ($spacing-unit * 12);
  width: 100%;

  .row {
    width: auto;
  }

  .md-system {
    float: left;
    width: 100%;

    .category-nav {
      width: 100%;

      .home-left-banner {
        margin-top: ($spacing-unit * 4);
        width: 100%;

        img {
          display: inline-block;
          height: auto;
          max-width: 100%;
        }

      }

    }

  }

  .data-response-holder {
    float: left;
    text-align: center;
    width: 100%;

    &__success {
      @include font-size(14px);
      @include line-height(16px);
      background-color: rgba(104,193,67,0.1);
      border: 1px solid $bg-dist-green;
      border-radius: 2px;
      color: $bg-dist-green;
      margin-bottom: ($spacing-unit * 4);
      padding: ($spacing-unit * 4);
    }

    &__fail {
      @include font-size(14px);
      @include line-height(16px);
      background-color: #FCE7E7;
      border: 1px solid #DF1417;
      border-radius: 2px;
      color: $colour-dist-red;
      margin-bottom: ($spacing-unit * 4);
      padding: ($spacing-unit * 4);
    }

  }

  .md-content {
    float: left;
    margin-bottom: ($spacing-unit * 8);
    padding-top: ($spacing-unit * 2 - 1);
    width: 100%;

    &__holder {
      float: left;
      width: 100%;

      h2 {
        @include font-size(18px);
        @include line-height(22px);
        color: $colour-dist-red;
        margin: ($spacing-unit * 4 + 3) 0 ($spacing-unit * 4);
      }

      p {
        @include font-size(16px);
        @include line-height(24px);
        color: $colour-dist-grey;
        margin-bottom: ($spacing-unit * 4);
      }

      .list-items {
        list-style-position: inside;
        list-style-type: disc;

        li {
          @include font-size(16px);
          @include line-height(24px);
          color: $colour-dist-grey;
          list-style-type: decimal;
        }

      }

    }

  }

}
