.skin-layout-sitemap {

  .sitemap-page {
    padding-top: $spacing-unit*6;


    &__left-content {
      width: 100%;
      float: left;

      @media #{$ipad-landscape} {
        width: 70%;
      }

      .cat-list {
        columns: 2;
      }

    }

    &__left-content-col1 {

      @media #{$ipad-landscape} {
        width: 50%;
      }

    }

    &__left-content-col2 {

      @media #{$ipad-landscape} {
        width: 50%;
      }

    }

    &__category-holder {
      display: inline-block;
      margin-bottom: $spacing-unit*4;
      min-width: 100%;

      &--block {
        display: block;
      }

    }

    &__right-content {
      width: 100%;
      float: left;

      @media #{$ipad-landscape} {
        width: 30%;
      }

    }



    &__category {
      @include font-size(15px);
      @include line-height(17px);
      color: $bg-button-red;
      display: block;
      font-weight: bold;
      margin-bottom: $spacing-unit*3;

      &:hover {
        color: $colour-dist-red;
        text-decoration: underline;
      }

    }

    &__right-side-cms-links {

      a {
        @include font-size(15px);
        @include line-height(17px);
        color: $bg-button-red;
        display: block;
        font-weight: bold;
        margin-bottom: $spacing-unit*3;

        &:hover {
          color: $colour-dist-red;
        }

      }

    }

    &__sub-category {
      @include font-size(15px);
      @include line-height(24px);
      color: $colour-dist-mid-grey;
      display: block;
      font-family: $font-arial;
      letter-spacing: -0.28px;
      margin-left: $spacing-unit * 4;
      transition: all .2s ease;

      &:hover {
        color: $colour-dist-grey;
        text-decoration: underline;
      }

    }

  }

}