$colour-warning-red-border: #F7A9A9;
$colour-warning-red-bg: #FDF3F3;
$colour-warning-red-text: #F74747;

.skin-layout-return-success {

  .modal-backdrop {

    @media print {
      background: $colour-white;
    }

  }

  .breadcrumb {

    .mod-breadcrumb {
      float: left;
      padding: ($spacing-unit * 3) 0;
      width: 100%;

      .ct {
        float: left;
        width: 100%;
      }

    }

  }

  .md-system {
    float: left;
    width: 100%;
  }

  .return-request-page-holder {
    float: left;
    width: 100%;

    .customer-assistance-section {
      border: 1px solid $colour-dist-green;
      background-color: $colour-pale-green;
      float: left;
      margin-bottom: ($spacing-unit * 3);
      padding: ($spacing-unit * 3);
      text-align: center;
      width: 100%;

      p {
        @include font-size(12px);
        @include line-height(22px);
        color: $colour-dist-green;
        font-weight: bold;
        letter-spacing: .4px;
      }

      &--false {
        border: 1px solid $colour-warning-red-border;
        background-color: $colour-warning-red-bg;

        p {
          color: $colour-warning-red-text;
        }

      }

    }

  }

  .item-holder {
    float: left;
    width: 100%;

    &__item {
      float: left;
      width: 100%;

      h1,
      h2 {
        @include font-size(28px);
        @include line-height(32px);
        color: $colour-dist-red;
        font-weight: normal;
        margin-bottom: ($spacing-unit * 5);
      }

      p {
        @include font-size(14px);
        @include line-height(22px);
        color: $colour-paragraph-grey;
        margin-bottom: ($spacing-unit * 4);

        .click-here-btn {
          color: $link-blue;

          &:hover {
            color: $link-dark-blue;
            text-decoration: underline;
          }

        }

      }

      &:last-of-type {
        padding-top: ($spacing-unit * 6);
      }

    }

    &__link {
      &:hover {
        text-decoration: underline;
      }
    }

  }

}
