.skin-layout-product-list {
  font-family: $font-montserrat;

  header {
    float: left;
    height: 100%;
    min-height: 170px;
    width: 100%;

    @media #{$ipad-landscape} {
      min-height: unset;
    }

    @media print {
      min-height: 68px;
    }

  }

  .md-system {
    float: left;
    width: 100%;
  }

  .plp-content {
    background-color: $colour-pale-grey;
    float: left;
    width: 100%;

    &__top {

      &__container {

        h1 {
          @include font-size(22px);
          float: left;
          font-family: $font-montserrat;
          font-weight: 500;
          margin: 0;
          padding: 0;

          @media #{$ipad-landscape} {
            float: none;
            margin: ($spacing-unit * 4) 0;
          }

          .search-term {
            font-family: $font-montserrat;
            font-weight: bold;
          }

        }

      }

    }

    &__filters {
      background-color: $colour-white;
      border: 1px solid $colour-pale-grey;
      border-radius: 0 0 ($spacing-unit) ($spacing-unit);
      border-top: none;
      clear: both;
      float: left;
      padding: 0 ($spacing-unit * 2) ($spacing-unit * 4) ($spacing-unit * 2);
      width: 100%;

      @media #{$ipad-landscape} {
        padding-top: ($spacing-unit * 4);
      }

    }

    &__filters-content {
      border: 1px solid $colour-light-grey;
    }

    &__filter-mobile-switch {
      float: left;
      width: 100%;
    }

    &__top {
      float: left;
      text-align: center;
      width: 100%;

      @media #{$ipad-landscape} {
        border-bottom: 0;
        text-align: left;
      }

    }

    &__categorynav-facets {
      background-color: $colour-white;
      border: 1px solid $colour-pale-grey;
      clear: both;
      float: left;
      padding: ($spacing-unit * 4) ($spacing-unit * 6);
      width: 100%;

      @media #{$ipad-landscape} {
        border-radius: ($spacing-unit) ($spacing-unit) 0 0;
      }

    }

    &__nav-filters {
      float: left;
      position: relative;
      width: 100%;
    }

    .mod-global-messages {

      @media #{$ipad-landscape} {
        width: 100%;
      }

    }

  }

  .skin-campaign-feedback {
    margin-bottom: ($spacing-unit * 4);
    padding-bottom: ($spacing-unit * 4);

    .feedback-top {
      width: 100% !important;

      #zero-category-search {
        width: 100% !important;
      }

    }

  }

  &.mobile-category-filter {
    overflow: hidden !important;
  }

  .specific-prices {
    float: left;
    padding: 0 ($spacing-unit * 4);
    width: 100%;

    .customer-specific-prices {
      float: left;
    }

  }

  .body-container {
    padding: 0;
  }

  .footer {

    &__feedback {
      display: none;

      @media #{$ipad-landscape} {
        display: block;
      }

    }

  }

  .productlistpage {

    &__filter-search {

      &--mobile {
        position: unset;

        @media #{$ipad-landscape} {
          position: relative;
        }

      }

    }

  }

}
