// print cart page: Your Shopping Cart
@media print {

  .skin-layout-cart {
    margin-left: 0 !important;

    .ct-nonavigation {
      margin-left: 0 !important;
    }

    .gu-2 {
      width: 130px !important;
    }

    .gu-4 {
      width: 240px !important;
    }

    .gu-8 {
      width: 450px !important;
    }

    .pricecalcbox {
      float: left;
      width: 260px !important;
    }

    .cell,
    .image-wrap {
      height: auto !important;
      vertical-align: top !important;

    }

    .image-wrap {
      overflow: hidden;
      padding-top: $spacing-unit*2 !important;
      z-index: -1;
    }

    .cell-list {
      float: none !important;
      position: absolute;
    }

    .cell-info {
      padding-top: $spacing-unit*22;

      .productName {

        &.ellipsis {
          width: 220px !important;
        }

      }

    }

    .price-box {

      &.left {
        padding-left: $spacing-unit*3 !important;
      }

      &.left,
      &.right {
        height: 295px !important;
      }

    }

    .leadTimeHeader {
      position: relative !important;
    }

    .cart-list {

      li {
        page-break-inside: avoid;
      }

    }

    .margin-bottom-400 {
      margin-bottom: $spacing-unit*4 !important;
    }

    .mod-print-footer {
      clear: both;
      padding-top: $spacing-unit*4;
    }

    .skin-cart-list-item-cart {
      margin-bottom: ($spacing-unit * 5);

      &__holder {

        &__availability {
          order: 3;
          padding: 0;
          width: 25%;

          .row {
            text-indent: unset;
          }

        }

        &__price {
          border: none;
          margin: 0;
          padding: 0;
          width: 10%;

          span {

            &.price,
            &.price-currency {
              @include font-size(12px);
              @include line-height(18px);
              font-weight: bold;

            }

          }

        }

        &__numeric {

          .numeric {
            bottom: 0;
            padding: 0;
            position: absolute;
            right: 0;

            .btn-wrapper {
              width: 100px;
            }

          }

        }

        &__content {
          width: 35%;

          .cell-info-table {

            .cell-info-cell {

              .hd {
                min-width: 35%;
                width: auto;
              }

              .bd {
                padding-left: $spacing-unit*2;
              }

            }

          }

        }

      }

      .info-stock {

        .instock,
        .inStockText {
          @include font-size(12px ) ;
          @include line-height(18px);
        }

        .pickup,
        .further {
          display: none;
        }
      }

      label {

        &.availability {
          @include font-size(12px);
          @include line-height(18px);
          display: block;
          font-weight: bold;
        }

      }

    }

    .calc-box-total-btn {
      display: none;
    }

    .calc-row-total {
      bottom: -($spacing-unit*8);
      position: absolute;
      right: ($spacing-unit*3);
    }

    .calc-cell {

      &.nth-1 {
        width: 80%;
      }

      &.nth-2,
      &.nth-3 {
        width: 10%;
      }

    }

  }

}
