.skin-layout-product {
  -webkit-font-smoothing: antialiased;

  header {
    float: left;
    width: 100%;

    @media #{$ipad} {
      padding-bottom: 0;
    }

  }

  .product-family-holder {
    float: left;

    @media #{$ipad-landscape} {
      float: right;
    }

    a {
      @include font-size(12px);
      @include line-height(14px);
      color: $link-blue;
      font-weight: bold;
      border-bottom: solid 2px transparent;
      text-transform: capitalize;
      transition: all .2s ease;

      &:hover,
      &:focus {
        color: $link-dark-blue;
        border-color: $link-dark-blue;
      }

      i {
        @include font-size(14px);
        margin-left: ($spacing-unit);
        vertical-align: text-bottom;
      }

    }

  }

  .md-content {
    float: left;
    padding-top: ($spacing-unit + 4);
    width: 100%;
  }

  .msg-section {
    float: left;
    width: 100%;

    .mod-global-messages {
      float: left;
      width: 100%;

      .bd {
        margin: 0 0 ($spacing-unit * 4);
      }

    }

  }

  .bottom-consistentWith {
    width: 100%;
  }

  .bottom-section-holder {
    float: left;
    width: 100%;

    .card {

      &__item {
        margin-bottom: 0;
      }

    }

    .heading {
      @include font-size(28px);
      @include line-height(34px);
      color: $colour-dist-grey;
      float: left;
      letter-spacing: -.6px;
      padding: ($spacing-unit * 3) 0;
      width: 100%;

      &__link {
        @include font-size(15px);
        @include line-height(24px);
        color: $link-blue;
        display: block;
        letter-spacing: -.28px;
        transition: all .2s ease;
        vertical-align: bottom;

        &:hover,
        &:focus {
          color: $link-dark-blue;
          text-decoration: underline;
        }

        @media #{$ipad-landscape} {
          display: inline-block;
          padding-left: ($spacing-unit * 3);
        }

      }

    }

    hr {

      &.divider {
        border-color: $colour-dist-grey;
      }

    }

    .col-md-2 {

      @media print {
        display: inline-block;
        float: left;
        width: 16.66667%;
      }

    }

    .col-md-4 {

      @media print {
        display: inline-block;
        float: left;
        width: 33.33333%;
      }

    }

  }

  .breadcrumb-section {
    float: left;
    margin-bottom: ($spacing-unit * 2);
    width: 100%;
  }

  .brand-proposition {
    margin-bottom: 0px;

    img {
      display: inline-block;
    }

  }

  .meshlink-section {
    float: left;
    width: 100%;
  }

  .print-product-name {
    position: relative;
  }

  .manufacturer-wrap {
    float: left;
    margin-bottom: $spacing-unit*4;
    text-align: center;
    width: 100%;

    @media #{$ipad-landscape} {
      float: right;
      margin-bottom: 0;
      position: absolute;
      right: 15px;
      text-align: right;
      top: 5px;
      width: 15%;
    }

  }

  .mod-error-feedback {
    margin-top: 0;
    position: relative;

    .error-link {

      i,
      svg {
        margin-right: ($spacing-unit);
      }

    }

    .error-report {

      &.pdp-report {
        bottom: 30px;
        left: -188px !important;
        right: 0;
        top: auto !important;
        z-index: 800;
      }

    }

  }

  .mod-energy-efficiency-label {

    .energy-label-popover {
      z-index: 800;

      .energy-label-big {
        z-index: 850;
      }

    }

  }

  .replacementProducts {
    border-top: 2px solid $colour-dist-grey;
    float: left;
    margin-bottom: ($spacing-unit * 6);
    width: 100%;
  }

  .recommendations {
    float: left;
    margin-top: ($spacing-unit * 2);
    width: 100%;

    .bottom-alsobought {
      float: left;
      width: 100%;
    }

  }

  .product-section {
    float: left;
    width: 100%;

    &__wrapper {
      float: left;
      width: 100%;
    }

    &__price-match-section {
      background-color: $colour-white;
      border: 1px solid $colour-light-grey;
      border-radius: 6px;
      box-shadow: 0 20px 75px rgba(0,0,0,.5);
      padding: $spacing-unit*4;
      position: fixed;
      top: 270px;
      width: 350px;
      z-index: 305;

      .title {
        @include font-size(28px);
        @include line-height(27px);
        font-weight: 700;
        margin-bottom: $spacing-unit*4;
      }

      .description {
        @include font-size(14px);
        margin-bottom: $spacing-unit*4;
      }

    }

    &__price-match-cta {
      padding: ($spacing-unit*2) + 2;

      &:link,
      &:visited {
        color: $colour-white;
      }
    }

    .skin-scaled-prices-single {
      border: none;
    }

    .manufacturer-wrap,
    .brand-proposition {
      display: none;

      @media #{$ipad} {
        display: block;
      }

    }

  }
  
  .mod-buying-section {

    .numeric {

      .btn-wrapper {
        position: relative;
      }

      .popover {
        bottom: 40px;
        height: auto;
        min-height: 30px;
        top: inherit;
        text-align: center;
        width: 200px;
      }

    }

  }

  #reevoo_tabbed{
    border-top: 2px solid black;
    padding-top: 10px;
    top: -100px;

    select {
      &:focus {
        background-color: $colour-white;
      }
    }
  
    option {
      background-color: white;
    }

    optgroup {
      font-weight: bold;
    }

    .s_aC{
      display: flex;
    }
  
    .s_aL{
      top: 20%;
    }
  
  }



}

