.skin-layout-purchase {

  .mod-checkout-progressbar {

    &__indicator {

      &__percentage {
        width: 100%;
      }

    }

  }

  .checkout-confirmation-holder {
    float: left;
    margin: ($spacing-unit * 6) 0;
    width: 100%;

    .return-btn {
      color: $link-blue;
      display: inline-block;
      margin-bottom: ($spacing-unit * 12);
      margin-top: ($spacing-unit * 4);
      transition: all 0.2s ease-in-out;

      @media #{$ipad} {
        margin-top: 0;
      }

      i,
      svg {
        margin-right: ($spacing-unit);
      }

      &:hover {
        color: $link-dark-blue;
        text-decoration: underline;
      }

    }

    .did-you {
      float: left;
      width: 100%;

      .btn-my-account {
        @include font-size(16px);
        @include line-height(40px);
        color: $colour-white;
      }

      h3 {
        @include font-size(24px);
        @include line-height(28.8px);
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: ($spacing-unit * 2 - 2);
        padding-bottom: ($spacing-unit * 2);
      }

      p {
        @include font-size(14px);
        @include line-height(18px);
        margin-bottom: ($spacing-unit * 6);

        a {
          color: $link-blue;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $link-dark-blue;
            text-decoration: underline;
          }

        }

      }

      a {
        color: $link-blue;
        font-weight: bold;

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }
      }

    }

  }

}
