.skin-layout-category-index {
  -webkit-font-smoothing: antialiased;

  header {
    float: left;
    padding-bottom: ($spacing-unit * 16.8);
    width: 100%;

    @media #{$ipad} {
      padding-bottom: 0;
    }

  }

  .mod-breadcrumb {

    .ct {
      width: 100%;
    }

  }

  .category-index-holder {

    &__item {
      border: 1px solid $colour-pale-grey;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
      float: left;
      margin-bottom: ($spacing-unit * 4);
      padding: ($spacing-unit * 4);
      width: 100%;
    }

    .main-holder {
      border-bottom: 1px solid #ccc;
      float: left;
      margin-bottom: ($spacing-unit * 3);
      padding-bottom: ($spacing-unit * 3);
      width: 100%;

      h1 {
        @include font-size(18px);
        @include line-height(24px);
        display: inline-block;
        margin: 0;
        transition: all 0.3s ease-in-out 0.1s;

        &:hover {
          color: $colour-dark-red;
        }

      }

    }

    &__sub {
      float: left;
      width: 100%;

      a {

        h3 {
          @include font-size(13px);
          @include line-height(24px);
          color: $colour-dist-grey;
          display: inline-block;
          margin: 0;
          transition: all 0.3s ease-in-out 0.1s;

          &:hover {
            color: $link-dark-blue;
          }

        }

      }

    }

  }

  .md-content {
    float: left;
    padding-top: ($spacing-unit + 4);
    width: 100%;
  }

}
