
.cmscontentpage {

  .breadcrumb {

    .ct {
      margin: 0;
    }

  }

  section {
    clear: both;
  }

  .parallax {
    width: 100%;

    &.top-brands {
      display: none;

      @media #{$ipad} {
        display: block;
      }

    }

    &.we-make-it-happen {
      display: none;
    }

  }

  .top-brands-container {
    padding: ($spacing-unit * 2);

    @media #{$ipad-landscape} {
      padding: ($spacing-unit * 2) ($spacing-unit * 4);
    }

    &__row {
      background: transparent;
      border-radius: 0;
      box-shadow: 0 0 0;
      box-sizing: border-box;
      padding: 0;

      @media #{$ipad-landscape} {
        background: $colour-white;
        border-radius: ($spacing-unit - 1);
        box-shadow: 0 0 ($spacing-unit * 2) $border-global-grey;
        padding: ($spacing-unit * 4) ($spacing-unit * 4) 0 ($spacing-unit * 4);
      }

    }

    &__col {

      .mod-banner {

        .banner-normal {
          background: none;
          border: 0;
          box-shadow: 0 0 0 0;
        }

      }

    }

  }

  .heading {
    @include font-size(20px);
    @include line-height(34px);
    color: $colour-dark-grey;
    font-weight: bold;
    margin: ($spacing-unit * 3) 0 ($spacing-unit * 2) 0;

    &__logo {
      display: inline-block;
      width: 220px;

      img {
        width: 100%;
      }

    }

    &__subtitle {
      @include font-size(15px);
      @include line-height(24px);
      color: $colour-dist-grey;
      display: inline-block;
      font-weight: 500;
      letter-spacing: -0.28px;
    }

    &__link {
      @include font-size(17px);
      @include line-height(24px);
      border-bottom: solid 2px transparent;
      color: $link-blue;
      font-weight: 500;
      letter-spacing: -0.28px;
      margin-left: $spacing-unit * 3;
      padding-top: 2px;
      transition: all .2s ease;

      &:hover,
      &:focus {
        border-color: $link-dark-blue;
        color: $link-dark-blue;
      }

    }

    @media #{$ipad} {
      @include font-size(28px);
      @include line-height(34px);
      margin: ($spacing-unit * 5) 0;
    }

  }

  .parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {

      &__border {
        line-height: 0;
      }

    }

    &.current-by-distrelec {
      margin-bottom: $spacing-unit * 8;

      .divider {
        display: none;
      }

      .parallax {

        &__content{
          background-color: rgba(0, 0, 0, 0.5);

        }

      }

      .heading {

        &__subtitle {
          color: $colour-white;
        }

      }

    }

    &.robotics-hub {

      .divider {
        display: none;
      }

    }

  }

  .divider {
    background-color: $colour-dark-grey;
    border-top: 2px solid $colour-dark-grey;
    margin: 0;
    padding: 0;
  }

  .heading {
    &__subtitle {

      @media #{$ipad} {
        float: right;
      }

    }
  }

  .bottom__link {
    margin: 0 0 ($spacing-unit * 6) 0;
    transition: all .2s ease;

    @media #{$ipad} {
      text-align: center;
      margin: ($spacing-unit * 6) 0;
    }

  }

  &__with-navigation {

    .page-wrapper {
      clear: both;
    }

    .container {

      @media #{$ipad-landscape} {
        padding: 0;
      }

    }

    .left-content {
      order: 1;

      @media #{$ipad-landscape} {
        order: initial;
        margin-top: 0;
      }

    }

  }

  &__wo-navigation {

    .page-wrapper {
      clear: both;
      padding-top: $spacing-unit * 29;

      @media #{$ipad-landscape} {
        padding-top: $spacing-unit * 5;
      }

    }

    .mod-banner {
      @media #{$ipad-landscape} {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 $spacing-unit*2;
      }
    }

    .top-brands {

      .mod-banner {
        @media #{$ipad-landscape} {
          padding: 0;
        }
      }

    }

  }

  .footer {
    margin-top: $spacing-unit * 3;
  }

  .robotics-hub {

    .container {
      padding: 0 $spacing-unit*2;
    }

  }

}