.skin-layout-wide {

  .ct {
    width: 100%;

    @media #{$ipad-landscape} {
      width: 960px;
    }

  }

  #header {

    .ct {
      width: 100%;

      &__menu {
        display: block;
        float: left;
        position: relative;
        width: 100%;

        @media #{$ipad-landscape} {
          display: flex;
        }

      }

    }

  }

  .main-content-right {
    margin-right: 0;

    @media #{$ipad-landscape} {
      margin-right: 0;
    }

  }

  .sevenval-textblock {

    #shippingCostsTable {

      thead {

        td {
          @include font-size(14px);
          @include line-height(26px);
          color: $colour-dist-red;
          font-weight: bold;
        }

      }

      th {

        &.tdline {
          color: $colour-dist-red;
        }

      }

      .tdline {
        @include font-size(12px);
        @include line-height(26px);
        color: $colour-black;
      }

    }

    .shipping-cost-table-two {

      tbody {

        td {

          &:nth-of-type(2) {
            width: 170px;
          }

          &:last-of-type {
            width: 132px;
          }

        }

      }

    }

  }

  .body-container {
    padding: 0 ($spacing-unit * 3);
    width: 100%;

    @media #{$ipad} {
      width: 750px;
    }

    @media #{$ipad-landscape} {
      padding: 0;
      width: 970px;
    }

    @media #{$desktop} {
      width: 1290px;
    }

  }

  .footer {

    .ct {
      width: 100%;

      @media #{$ipad-landscape} {
        width: 960px;
      }

      @media #{$desktop} {
        width: 1280px;
      }

    }

  }

}
