.skin-layout-import-tool {

  .import-success,
  .import-red,
  .import-info {
    @include font-size(15px);
    @include line-height(24px);
  }

  .import-total {
    @include font-size(15px);
    @include line-height(24px);
  }

  .import-success {
    color: $colour-dist-green;
  }

  .import-red {
    color: $colour-dist-warning-red;
  }

  .import-info {

    i {
      color: $colour-dist-marigold;
    }

  }

  .mod-bom-toolbar {
    padding-bottom: ($spacing-unit * 6);
  }

  .page-title {
    float: left;
    margin-top: $spacing-unit*4;
    width: 100%;
  }

}
