.skin-layout-home {

  input {
    border-radius: $spacing-unit - 3;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  header {
    float: left;
    width: 100%;
  }

  .page-wrapper {
    background: $colour-pale-grey;
    clear: both;
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      padding-top: $spacing-unit * 4;
    }

  }

  .bottom__link {
    @include font-size(15px);
    @include line-height(24px);
    border-bottom: solid 2px transparent;
    color: $link-blue;
    display: inline-block;
    font-weight: 500;
    padding-top: 2px;
    text-align: center;
    transition: all .2s ease;

    &:hover,
    &:focus {
      border-color: $link-dark-blue;
      color: $link-dark-blue;
    }

    &-container {
      text-align: center;
    }
  }

  .home-register-component {
    font-family: $font-montserrat;
    margin-bottom: 20px;
    order: 2;

    @media #{$desktop} {
      margin-bottom: 0;
      order: 0;
    }

  }

  .home-container {
    padding: ($spacing-unit * 2);

    @media #{$desktop} {
      padding: ($spacing-unit * 2) ($spacing-unit * 4);
    }

    &__row {
      background: transparent;
      border-radius: 0;
      box-shadow: 0 0 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      padding: 0;

      @media #{$desktop} {
        background: $colour-white;
        border-radius: ($spacing-unit - 1);
        box-shadow: 0 0 ($spacing-unit * 2) $border-global-grey;
        padding: ($spacing-unit * 4);
      }

    }

    &__extra-banners {
      align-items: flex-start;
      order: 4;
      padding-top: $spacing-unit * 4;

      @media #{$desktop} {
        padding-top: 0px;
        order: 2;
      }
    }

    .sub-banner {
      width: 100%;
      
      .upper {
        padding-bottom: $spacing-unit * 2;
      }
    }

    &__banner {
      margin: ($spacing-unit * 2) 0 0 0;
      order: 3;
      padding: 0 ($spacing-unit * 2);
      width: 100%;

      @media #{$desktop} {
        order: 1;
        margin: 0;
        max-width: 41%;
        padding: 0;
        width: auto;
      }

      .mod-banner {

        .bannner-normal {
          margin-bottom: 0;

            img {
              border-radius: ($spacing-unit + 2);

              @media #{$desktop} {
                border-radius: 0;
              }

          }

        }

      }

      &__slot {
        float: left;
        margin-top: ($spacing-unit * 3);
        width: 100%;

        a {
          color: $link-blue;
          display: block;
          float: left;
          font-weight: 600;
          margin-top: ($spacing-unit * 3);
          width: 100%;

          &:hover,
          &:focus {
            color: $link-dark-blue;
            text-decoration: underline;
          }
        }

      }

    }

    &__cats {
      order: 1;
    }

    &__rnl {
      display: block;
      order: 2;

      @media #{$desktop} {
        padding-right: 0;
      }

      .mod-register {
        display: none;

        @media #{$desktop} {
          display: block;
        }

      }

      .state {

        &__logout {
          padding: 0;
        }

      }

      .welcome {
        background: $colour-white;
        border-top-left-radius: ($spacing-unit);
        border-top-right-radius: ($spacing-unit);
        padding-top: ($spacing-unit * 3);

        @media #{$ipad-landscape} {
          padding-top: 0;
        }

        i {
          align-items: center;
          display: none;
          justify-content: center;
          margin-bottom: ($spacing-unit - 1);

          &:before {
            @include font-size(36px);
            align-items: center;
            background: $colour-home-user-bg;
            border-radius: 100%;
            color: $colour-home-user;
            display: flex;
            height: 50px;
            justify-content: center;
            width: 50px;
          }

          @media #{$desktop} {
            background: transparent;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            display: flex;
            order: 3;
            padding-top: 0;
          }

        }

        p {
          @include font-size(18px);
          color: $colour-black;
          font-weight: bold;
          text-align: center;
        }

        &__action {
          display: flex;
          justify-content: center;
          margin-top: ($spacing-unit * 2);

          @media #{$desktop} {
            justify-content: center;
          }

          a {
            @include font-size(13px);
            align-items: center;
            border-radius: ($spacing-unit);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            padding: ($spacing-unit + 4) ($spacing-unit * 2);
            text-align: center;
            width: 40%;

            @media #{$desktop} {
              @include font-size(15px);
              padding-left: ($spacing-unit * 5);
              padding-right: ($spacing-unit * 5);
              width: auto;
            }

            &:nth-child(1) {
              background: $colour-dist-red;
              color: $colour-white;
              margin-right: ($spacing-unit);

            }

            &:nth-child(2) {
              background: $colour-home-user;
              margin-left: ($spacing-unit);
            }

          }

        }

      }

    }

  }

  .home-slider {
    border-left: ($spacing-unit * 2 + 4) $colour-dist-red;

    a {
      background: $colour-dist-red;
      border-radius: ($spacing-unit + 2);
      font-weight: 500;
      left: 7%;
    }

    .mod-banner {

      img {
        height: auto;
        width: 100%;
      }

    }

  }

  .what-looking-today {
    font-family: $font-arial;
    margin: ($spacing-unit * 2) 0 ;

    .divider {
      background-color: $colour-dark-grey;
      border-top-color: $colour-dark-grey;
    }

    .categories__list {

      &__item {
        display: inline;
        float: left;
        width: 50%;

        @media #{$ipad} {
          float: none;
          width: auto;
        }

        &__link {
          @include font-size(12px);
          @include line-height(15px);
          border-radius: $spacing-unit * 2;
          font-weight: bold;
          display: inline-block;
          margin-bottom: $spacing-unit * 4;
          padding: ($spacing-unit * 2) ($spacing-unit * 3);
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 96%;


          @media #{$ipad} {
            @include font-size(15px);
            @include line-height(17px);
            margin: 0 ($spacing-unit * 4) ($spacing-unit * 4) 0;
            width: auto;
          }
          

        }

        &__link-more {
          border: none;

          svg {
            margin-left: $spacing-unit * 3;
          }

        }

        .mat-button {
          transition: all 0.2s ease-in-out;
        }

      }

    }


    .more-link {
      background-color: transparent;
      color: $link-blue;
      min-width: 100px;
      padding: ($spacing-unit * 2) ($spacing-unit * 4);

      &:hover,
      &:focus {
        color: $link-dark-blue;
        text-decoration: underline;
      }
    }

  }

  .home-quickorder {
    background: $colour-white;
    border-bottom-left-radius: ($spacing-unit);
    border-bottom-right-radius: ($spacing-unit);
    box-sizing: border-box;
    float: left;
    margin-bottom: ($spacing-unit * 6);
    margin-top: 0;
    padding: 0 ($spacing-unit * 3);
    width: 100%;

    @media #{$desktop} {
      background: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: ($spacing-unit * 6);
      padding: ($spacing-unit * 2) 0;
    }

    .divider {
      background-color: $border-global-grey;
      border-top: ($spacing-unit - 4) solid $border-global-grey;
      display: none;
      margin-top: ($spacing-unit * 3);

      @media #{$desktop} {
        display: block;
      }

    }

    h2 {
      @include font-size(20px);
      font-weight: bold;
      margin: ($spacing-unit) 0;
    }

  }

  .home-offers {
    color: $colour-white;
    margin-bottom: $spacing-unit * 4;

    @media #{$ipad} {
      margin-bottom: $spacing-unit * 14;
    }

    .offers {
      margin-bottom: $spacing-unit * 4;

      &__item {

        &__image {
          width: 100%;
        }

        &__info {
          position: absolute;
          top: 0;
          bottom: 0;
          padding: 0 20px;

          &__title {
            @include font-size(20px);
            @include line-height(24px);
            font-weight: 600;
            letter-spacing: -0.45px;
            margin-top: 15%;

            @media #{$desktop} {
              @include font-size(23px);
              @include line-height(29px);
              margin-top: $spacing-unit * 10;
            }

          }

          &__description {
            @include font-size(15px);
            @include line-height(24px);
            letter-spacing: -0.28px;
            margin-top: 10px;
          }

          &__cta {
            @include font-size(14px);
            color: $colour-white;
            display: inline-block;
            font-weight: bold;
            margin: ($spacing-unit * 4) 0;
            min-width: 100px;
            padding: 5px;
          }

        }

      }

      &__article {
        margin-bottom: 10px;
      }
      &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0 20px;
      }

    }

  }

  .home-featured-products {

    .product {

      &__tile {

        &:last-child {
          display: block;
        }

      }

    }

    .filter-featured {
      display: none;
      flex-wrap: wrap;
      margin-bottom: ($spacing-unit * 5);

      li {
        display: flex;
        font-weight: 600;
        margin: 0 ($spacing-unit * 4) ($spacing-unit * 3) 0;

        @media #{$ipad-landscape} {
          margin: 0 ($spacing-unit * 4) 0 0;
        }

        &.active {

          a {
            background: $colour-home-btns-blue;
            color: $colour-white;
          }

        }

        a {
          @include font-size(13px);
          background: $colour-white;
          border-radius: ($spacing-unit * 6);
          box-shadow: 0 0 ($spacing-unit - 1) $border-global-grey;
          box-sizing: border-box;
          color: $colour-black;
          font-weight: 600;
          padding: ($spacing-unit * 3) ($spacing-unit * 6);

          @media #{$ipad-landscape} {
            @include font-size(16px);
          }

        }

      }

      @media #{$ipad} {
        display: flex;
      }

    }

  }

  .container {

    @media #{$desktop} {
      max-width: 1400px;
    }

  }

  #breadcrumb {
    display: none;
  }

  .welcome-mat {
    margin-bottom: ($spacing-unit);

    &__row {

      .yCmsContentSlot {
        width: 100%;
      }

        .parallax {
          background-image: none !important; //override inline cms

          &__content {

            .welcome-mat {

              &__heading {
                display: none;
              }

              &__grouped {

                @media #{$ipad} {
                  margin-top: ($spacing-unit * 4);
                }

                @media #{$ipad-landscape} {
                  margin-top: 0;
                }

                &__row {

                  .welcome-mat-container {

                    &__row {

                      &__grouped {
                        display: none;
                        padding: 0 ($spacing-unit * 2);
                        width: 33.33%;

                        @media #{$ipad} {
                          display: flex;
                        }

                        .yCmsComponent {
                          display: flex;
                          width: 100%;
                        }

                          .welcome-mat-points {
                            background-color: $colour-home-user;
                            border-radius: ($spacing-unit);
                            padding: ($spacing-unit + 3) ($spacing-unit * 2);
                            vertical-align: middle;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            &__row {

                              &__icon {
                                @include line-height(30px);
                                align-items: center;
                                border-right: 1px solid $colour-home-border-icon;
                                display: flex;
                                justify-content: flex-end;

                                img {
                                  border: 0;
                                  display: block;
                                  max-width: 35px;
                                  width: 100%;
                                }

                              }

                              &__text {
                                align-items: center;
                                display: flex;
                                justify-content: left;

                                p {
                                  @include font-size(12px);
                                  @include line-height(15px);
                                  color: $colour-home-welcome-mat-text;
                                  font-weight: 500;

                                  @media #{$ipad} {
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                  }

                                  @media #{$ipad-landscape} {
                                    -webkit-line-clamp: 3;
                                  }

                                }

                              }

                            }

                          }

                        &:last-child {

                          .welcome-mat-points {

                            @-moz-document url-prefix() {
                              padding-right: ($spacing-unit * 3);
                            }

                          }

                        }

                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }
