@import 'global-utilities';

.alert {
  @include font-size(14px);
  border: 1px solid;
  border-radius: 0;
  font-weight: $font-weight-bold;
  text-align: center;

  &-danger {
    color: $colour-error-text;
    background-color: #fdf3f3;
    border-color: #f7a9a9;
  }
}

.alert-heading {
  @include font-size(16px);
}
