.mod-account-order {

	.selectboxit {

		.selectboxit-arrow-container {
			left: 1px;
			top: 1px;
			right: auto;
			#border .border-std(0, 1px, 0, 0);
			background: @c-greyB;

			i {
				.s-arrow-down-big-black();
				width: 12px;
			}

			.selectboxit-arrow {
				top:43%;
			}
		}

		.selectboxit-text {
			padding-left: 40px;
			color:@c-grey20;
			font-weight: bold;
		}

		.selectboxit-pretext {
			position: absolute;
			left: 0;
			top: 9px;
			padding: 0 0 0 45px;
			color:@c-grey20;
		}

		&:hover {
			.selectboxit-arrow-container {
				background: @c-red;

				i {
					.s-arrow-down-big-white();
				}
			}
			.selectboxit-text,
			.selectboxit-pretext {
				color: @c-red;
			}
		}


	}

	.selectboxit-selected {
		a {
			color:@c-black;
			font-weight: bold;
		}
	}

	@media print {
		.selectboxit-arrow-container {
			.hidden();
		}

		padding-bottom: 45px;
	}
}