.skin-metahd-item-account {


	// Popover styling

	.popover-variation(@c-white, @c-grey20, 'bottom');

	.ico-compare-popover {

		i {
			.s-compare-white();
		}

	}

	.ico-favorite-popover {

		i {
			.s-favorite-white();
		}

	}

	.ico-list-popover {

		i {
			.s-list-white();
		}

	}

	// state INITIAL
	.menuitem {

		.icon-lock {
			float: left;

			i {
				.s-metahd-account-lock-black();
			}

		}

		.icon-unlock {
			float: left;

			i {
				.s-metahd-account-unlock-black();
			}

		}

		.label-name {
			#typo > .size-x-c();
		}

	}

	 .flyout {


		 .bd {

			 .ui-list {

				 li {

					 &.order-manager,
					 &.quote-manager,
					 &.invoice-manager {

						 a:hover {

							 .badge {

								 i {
									 .s-polygon-red-bg();
								 }

							 }

						 }

						 .badge {

							 i {
								 .s-polygon-red-bg();
								 #typo > .size-xs();
							 }
						 }

					 }

				 }

			 }

		 }

	 }

	.badge {

		i {
			.s-polygon-red-bg();
			#typo > .size-xs();
		}

	}

 }