.skin-metahd-item-categories {

	@_height:           @mod-metahd-height;
	@_flyout_width:     215px;
	@_flyout_offset:    -81px;
	@_arrow_offset:     40px;

	width: 160px;
	margin-left: 0;
	border-left: 0;

	&.hover, &.on-hover {
		border-left: 1px solid @c-black;
		margin-left: -1px;
	}

	.menuitem-wrapper {
		background-color: @c-greyB;
		text-align: center;

		.menuitem {
			position: relative;
			padding-top: 7px;
			text-align: left;
		}

		.label {
			display: block;
			max-width: 115px;
			margin-left: 3px;
			font-weight: normal;
			color: #a9a9a9;
			&.all {
				font-size: 14px;
				line-height: 18px;
			}
			&.selected {
				#typo > .size-s();
				margin-top: 0px;
				margin-bottom: 4px;
			}
			&.selected-categories {
				#typo > .size-s();
				color: #AA1936;
			}
		}
		.icon-dropdown {
			position: absolute;
			top: 15px;
			right: 10px;

			i {
				margin-top: -4px;
				margin-left: 3px;
				margin-right: 0;
				.s-arrow-down-big-black();
			}
		}
	}

	//
	// The Flyout
	.mod-metahd-item > .flyout-mixin(@_flyout_width, @_flyout_offset, @_arrow_offset);

	.flyout {
		text-align: left;
		margin-top:-10px;
		.bd {
			padding: 15px 20px;
			label {
				#typo > .size-s();
				display: block;
				margin-bottom: 5px;
				&:before {
					margin-right: 8px;
				}
			}
		}
	}
}
