.skin-metahd-item-totop {

	display: none;
	width: 52px;

	.lt-ie8 & {
		display: none;
	}

	// state INITIAL
	.menuitem {
		i {
			margin-left: 11px;
			.s-back-to-top-black();
		}
	}

	// state HOVER, ACTIVE
	&.hover,
	&:hover,
	&.active,
	&:active,
	a:focus {
		i {
			.s-back-to-top-black();
		}
	}

	// state DISABLED
	&[disabled],
	&.disabled {
		i {
			.s-back-to-top-black();
		}
	}
	&:disabled {// keep this selector separate (unsupported pseudo class ie8)
		i {
			.s-back-to-top-black();
		}
	}
}
