.skin-metahd-item-cart {
  @_flyout_width: 376px;
  @_flyout_offset:   0;
  @_arrow_offset: 	190px;

  .lt-ie8 & {
    width: 118px;
  }

  &.active,
  &:active {
    background-color: @c-white;
    color: @c-grey20;
  }

  // state INITIAL
  .menuitem {

    .icon-dropdown {

      i {
        .s-arrow-down-big-black();
      }

    }

  }

  &.hover,
  &.active,
  &:active {
    background: #df1417;
    border: 0;

    .icon-cart {

      i {
        color: #fff;
      }

    }

    .label {
      color: #fff;

      span {
        color: #fff;
      }

    }

  }

  // state DISABLED
  &[disabled],
  &.disabled {
    .icon-cart {
      i {
        .s-add-to-cart-red();
      }
    }

    .icon-dropdown {
      i {
        .s-arrow-down-red();
      }
    }
  }

  &:disabled {

    .icon-cart {
      i {
        .s-add-to-cart-red();
      }
    }

    .icon-dropdown {
      i {
        .s-arrow-down-red();
      }
    }
  }

  .label {
    #typo > .size-x-c();
  }

  .is-empty-text {
    display: block;
    padding: 20px 0;
    border-top: 1px solid @c-grey80;
    color: @c-grey20;
  }

  .mod-metahd-item > .flyout-mixin(@_flyout_width, @_flyout_offset, @_arrow_offset);


  .product-wrapper {
    .cf();
  }


  .popover-variation(@c-white, @c-red, 'bottom');

  .popover {
    z-index: 1160;
  }

  .sign {
    font-weight: @font-base-bold;
    margin-right: 4px;
  }

  .ico-cart-popover {
    float: right;

    i {
      .s-add-to-cart-white();
      position: absolute;
      right: 10px;

      .lt-ie8 & {
        top: 10px;
      }
    }

    &:hover i,
    &:focus i {
      .s-add-to-cart-white();
    }

    &:active i,
    &.active i {
      .s-add-to-cart-white();
    }

    &[disabled],
    &.disabled {

      i {
        .s-add-to-cart-white();
      }
    }

    &:disabled {

      i {
        .s-add-to-cart-white();
      }
    }
  }

  &.skin-metahd-item-cart-is-empty {

    .flyout {
      display: none;
    }

  }

  &.skin-metahd-item-cart-is-empty .btn-one-click-buy {
    display: none;
  }

}
