@import 'global-utilities';

:host {
  display: inline-flex;
  margin-right: $spacing-unit * 4;
}

.ico {
  color: $colour-mid-grey;
  display: flex;
  align-items: center;

  .icon-holder {
    @include font-size(24px);
    color: $colour-light-grey;
    margin-right: $spacing-unit * 2;
  }

  .text-holder {
    @include font-size(12px);
    display: inline-block;
    white-space: nowrap;
  }

  &:hover {
    text-decoration: none;

    .icon-holder {
      color: $colour-dist-marigold;
    }

    .text-holder {
      color: $colour-dist-mid-grey;
    }
  }

  &.remove {
    &:hover {
      text-decoration: underline;
    }

    .text-holder {
      color: $colour-dark-red;
    }
  }
}
