.mod-cart-tabs {

  .tabs-holder {
    float: left;
    margin-bottom: ($spacing-unit * 4);
    width: 100%;

    &__header {
      bottom: -1px;
      float: left;
      position: relative;
      width: 100%;

      &__item {
        @include font-size(13px);
        @include line-height(21px);
        background: $cart-tabs-bg-grey;
        border: 1px solid $cart-tabs-border-grey;
        border-bottom: 0;
        color: $colour-white;
        cursor: pointer;
        display: inline-block;
        float: left;
        margin-right: ($spacing-unit);
        padding: ($spacing-unit * 2) ($spacing-unit * 6);
        position: relative;
        text-align: center;

        &--active {
          background: $colour-white;
          color: $colour-black;
        }

      }

    }

    &__content {
      background: $colour-white;
      border: 1px solid $cart-tabs-border-grey;
      float: left;
      padding: ($spacing-unit * 3);
      width: 100%;

      &__item {
        display: none;

        &--active {
          display: block;
        }

        &--select {

          .mat-button {
            @include font-size(13px);
            @include line-height(16px);
            border-radius: 2px;
            color: $colour-white;
            display: inline-block;
            font-weight: normal;
            padding: ($spacing-unit * 2) ($spacing-unit * 7);
            width: auto;
            vertical-align: middle;

            &.disabled {
              background: $cart-tabs-bg-disabled-grey;
              border-color: $cart-tabs-bg-disabled-grey;
              color: $colour-dist-mid-grey;
              cursor: pointer;
              opacity: 1;
              pointer-events: none;
            }

          }

          p {
            @include font-size(14px);
            @include line-height(24px);
            display: inline-block;
            padding-left: ($spacing-unit * 2);

            a {
              color: $colour-dist-mid-grey;
              padding-left: ($spacing-unit);
              text-decoration: underline;

              &:hover {
                color: $colour-dist-grey;
              }
            }

          }

        }

      }

    }

  }

}


.isie7,
.isie8 {

  .mod-cart-tabs {

    .tabs-holder {

      &__content {
        padding: 0;
      }

    }

  }

}

