.skin-checkout-order-budget-approval-bar-checkout {
  border-bottom: 1px solid $colour-light-grey;
  border-top: 1px solid $colour-light-grey;
  margin-bottom: 0;
  padding: ($spacing-unit * 3) 0 ($spacing-unit * 4);

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-unit;
    padding-left: $spacing-unit * 2;
    width: 100%;

    h4 {
      @include font-size(14px);
      font-family: $font-stack-alt;
      font-weight: 700;
    }

    &__edit {

      a {
        @include font-size(14px);
        color: $colour-dist-mid-grey;

        &:hover,
        &:focus {
          color: $colour-dist-grey;
          text-decoration: underline;
        }
      }

    }

  }

  .method {
    @include font-size(12px);
    font-family: $font-stack-alt;
    font-weight: 400;
    padding-top: $spacing-unit * 2;

    strong {
      text-transform: capitalize;
    }

    &__button {

      a {
        color: $colour-white;
        padding: $spacing-unit * 2;
        text-transform: capitalize;

        &:hover {
          border: 1px solid $colour-dist-red;
          color: $colour-dist-red;
        }

      }

    }

    &--status {

      i,
      svg {
        color: $colour-dist-red;
      }

    }

    &--submit {
      padding-top: $spacing-unit * 4;
    }

  }

}
