.skin-checkout-order-budget-approval-bar-user {

  .entry {
    width: 18%;
  }

  .action {
    width: 10%;

    .popover {

      .popover-title {
        white-space: normal;
      }

    }

  }

}

