@import 'global-utilities';

:host {
  z-index: 800;

  .animate-compare-left {
    float: left;
    right: 15px;
    margin-left: -($spacing-unit * 5);

    @media #{$mobile-only} {
      right: 10px;
      margin-left: ($spacing-unit * 3);
    }
  }

  .animate-compare-right {
    float: right;
    left: ($spacing-unit * 5);

    @media #{$mobile-only} {
      left: 10px;
      margin-right: ($spacing-unit * 3);
    }
  }

  .animate-compare-left,
  .animate-compare-right {
    @include font-size(25px);
    position: relative;
    top: 200px;
  }

  .compare-page {
    margin-bottom: $spacing-unit * 8;
  }

  .compare-title {
    @include font-size(30px);
    color: $colour-dark-grey;
    float: none;
    font-weight: $font-weight-normal;
    text-align: left;
    width: 100%;
    margin-top: $spacing-unit * 6;

    &.add-margin {
      margin-bottom: $spacing-unit * 8;
      padding-left: $spacing-unit * 9;
    }
  }

  .tableGrid {
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      padding-left: $spacing-unit * 9;
      padding-right: 0;
    }

    @media print {
      padding: 0;
    }
  }

  .errors {
    border: 1px solid $colour-dark-red;
    background-color: $colour-error-bg;
    color: $colour-dark-red;
    display: flex;
    font-size: 0.875rem;
    font-weight: $font-weight-bold;
    padding: 10px;
    margin-top: $spacing-unit * 2;
    margin-bottom: 25px;

    &__icon {
      padding: 0 1rem;
      align-items: center;
      display: flex;
      .fa-exclamation-triangle {
        @include font-size(24px);
      }
    }
  }
}
