.skin-logo-checkout {
  margin-top: 0;
  width: 100%;

  @media #{$ipad-down} {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-unit * 3;
  }

  a {
    position: relative;
    top: auto;
    padding: 0;
    margin: 0;
    transform: none;

    &,
    img {
      display: block;
    }

    img {}
  }
}
