.mod-logo {
  margin-top: ($spacing-unit * 4 - 1);
  position: relative;
  text-align: center;
  width: 100%;

  .bannner-normal {
    background: transparent;
    border: 0;
    border-radius: unset;
    box-shadow: none;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    line-height: 1;
    margin: 0 auto;
    max-width: 200px;
    padding-left: 0;
    position: relative;

    @media #{$ipad-landscape} {
      position: absolute;
      padding-right: $spacing-unit*2;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
    }

    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
      width: 100%;
    }

  }

  @media #{$ipad-landscape} {
    text-align: left;
    width: 18%;
  }

}
