@import 'global-utilities';

.showhidetoggle {
  &__header {
    display: inline-block;
    color: $colour-dark-grey;
  }

  &__label {
    @include font-size(12px);
  }

  &__header-link {
    color: $link-blue;
    cursor: pointer;
    float: right;
    margin-left: $spacing-unit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $link-dark-blue;
      text-decoration: underline;
    }
  }

  &__content {
    border: 2px solid $colour-red;
    border-radius: ($spacing-unit - 3);
    color: $colour-dark-grey;
    margin: $spacing-unit 0 ($spacing-unit * 2) ($spacing-unit * 4);
    padding: $spacing-unit * 2;
  }

  &__content-list {
    li {
      margin-left: $spacing-unit * 4;
      list-style-type: initial;
    }
  }

  &__content-link {
    color: $colour-dist-mid-grey;
    margin-right: $spacing-unit * 2;

    &:hover,
    &:focus {
      color: $colour-dark-grey;
      text-decoration: underline;
    }
  }
}

.import-success,
.import-red,
.import-info {
  @include font-size(15px);
  @include line-height(24px);
}

.import-total {
  @include font-size(15px);
  @include line-height(24px);

  font-weight: $font-weight-bold;
}

.import-success {
  color: $colour-green;
}

.import-red {
  color: $colour-dark-red;
}
