.mod-form-support-callmeback {
	.form-box {
		padding-bottom: 20px;
	}
	
	.row-radio {
		margin-bottom: 10px;
	}

	.btn-primary {
		width: 100%;
		text-align: left;

		i {
			.s-arrow-right-white();
			float: right;
			margin: 3px 0 0 0;
			width: 7px;
			height: 11px;
		}

		&:hover i,
		&:focus i {
			.s-arrow-right-red();
		}

		&:active i, &.active i {
			.s-arrow-right-red();
		}

		&[disabled], &.disabled {
			i {
				.s-arrow-right-white();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-arrow-right-white();
			}
		}
	}
}
