@import 'global-utilities';

.register__form {
  &__have-account {
    padding-bottom: $spacing-unit * 4;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    width: 100%;

    &.company-exist {
      .register__form__holder__have-account--custNo {
        width: 100%;
        margin-right: 20px;
      }
    }
  }

  &__holder {
    &__have-account {
      &--custNo {
        padding-bottom: 0;
        width: 100%;
      }
    }
  }
}

.message-error {
  border: 1px solid red;
  background-color: #fdf3f3;
  color: red;
  float: left;
  margin: ($spacing-unit * 2) 0;
  padding: ($spacing-unit * 4) ($spacing-unit * 2);
  width: 100%;

  .inner {
    overflow: visible;

    .p-relative {
      text-align: center;

      .ng-fa-icon {
        right: auto;
        left: $spacing-unit * 2;
        @include font-size(20px);
      }

      .text {
        width: 90%;
        float: right;
        text-align: left;
        @include font-size(14px);
        @include line-height(21px);
        padding-left: ($spacing-unit * 2);
        color: red;
        margin-bottom: 0;

        a {
          color: $colour-link;
          text-decoration: underline;
        }
      }
    }
  }
}
