@import 'global-utilities';

app-disruption-message {
  min-height: 165px;

  @include mobilePlus {
    min-height: 120px;
  }
}

.container {
  padding: ($spacing-unit * 2);
}

span {
  overflow-wrap: break-word;
}
