/* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
@import 'global-utilities';

app-with-navigation {
  h3 {
    font-weight: 700;
  }

  .cms-custom-container {
    z-index: 1;
    width: 100%;
    padding: 0 ($spacing-unit * 3);
    margin: 0 auto;
    overflow: visible;

    @media #{$ipad-landscape} {
      width: 960px;
      padding: 0;
    }

    @media #{$ipad-landscape-down} {
      display: flex;
      flex-direction: column-reverse;
    }

    [class*='gu-'] {
      float: left;
      padding-left: 0;
    }

    .gu-4 {
      width: 320px;

      &.nav-align-right {
        margin-right: 0;
      }
    }

    .gu-8 {
      width: 640px;
      max-width: 100%;
    }

    ul {
      padding-left: ($spacing-unit * 4);
    }
  }

  .list-title {
    padding: 33px 39px 4px 43px;
    color: #de1417;

    @include font-size(18px);

    @media #{$ipad-landscape-down} {
      padding-left: 30px;
    }
  }

  .nav-content {
    width: 100%;
    min-height: 1px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0;

    @media #{$ipad} {
      padding-right: ($spacing-unit * 4);
      margin-left: ($spacing-unit * 4);
    }

    .sidebar-title {
      @include font-size(18px);

      padding: 5px 39px 4px 25px;
      font-weight: $font-weight-bold;
      color: $colour-red;
    }

    .nav {
      display: block;
      width: 100%;
      margin-top: ($spacing-unit * 2);
      margin-bottom: ($spacing-unit * 6);

      .nav-item {
        position: relative;
        border-color: #ccc;
        border-style: solid;
        border-width: 0;
        border-right-width: 0;
        border-bottom-width: 1px;
        border-left-width: 0;

        &.is-expanded {
          background-color: $colour-strong-light-grey;
        }

        &:first-child {
          border-color: #ccc;
          border-style: solid;
          border-width: 0;
          border-width: 1px 0;
        }

        .nav-link {
          @include font-size(16px);
          @include line-height(47px);

          display: inline;
          width: 100%;
          padding: unset;
          font-weight: unset;
          outline: none;

          .arrow {
            @include font-size(15px);

            position: absolute;
            top: 0;
            right: ($spacing-unit * 5);
          }

          &:hover {
            color: $colour-black;
            text-decoration: none;
          }
        }

        .subnodes {
          display: none;
          padding-bottom: ($spacing-unit * 2);

          .item-link {
            @include font-size(14px);
            @include line-height(18px);

            position: relative;
            display: inline-block;
            width: 100%;
            margin-bottom: ($spacing-unit + 3);
            margin-left: ($spacing-unit * 10);
            font-weight: $font-weight-medium;

            &.active {
              color: $colour-red;
            }
          }

          .nav {
            margin: 0;

            .nav-item {
              border: 0;
            }
          }
        }
      }
    }

    ul,
    li {
      list-style: none;
    }
  }
}
