<div class="container content-page">
  <div class="cms-custom-container">
    <div class="gu-8">
      <cx-page-slot position="Content"></cx-page-slot>
    </div>
    <div class="gu-4 nav-align-right">
      <div *ngIf="dataAvailable" class="nav-content">
        <h3 class="sidebar-title">{{ teaserContentHeader }}</h3>
        <cx-page-slot position="TeaserContent"></cx-page-slot>

        <ul class="nav">
          <li *ngFor="let item of navSideBarData" class="nav-item">
            <a class="nav-link" [routerLink]="configureUrl(item)">
              {{ item?.linkName }}
              <div class="arrow">
                <fa-icon [icon]="faAngleRight"></fa-icon>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
