@mod-cart-directorder-dropdown-image-width: 82px;
@mod-cart-directorder-dropdown-image-height: 82px;
@mod-suggest-grey: #333333;
@mod-suggest-font-grey: #d8d8d8;

.mod-metahd-suggest {

	.container-suggest {

		.content {

			.suggest-section {

				ul {

					li {
						#typo > .size-x-c();
					}
				}
			}
		}
	}

	.prods {

		a {

			.product-row {
				#typo > .size-x-c();
			}

		}

	}

	.text-highlight {
		#typo > .size-x-a();
	}

	.numeric {

		.lt-ie8 & {
			.cf();
		}

		.ipt {

			&:hover {
				outline: 2px solid @c-border;
			}

		}

	}


	.ico-cart-add {

		i {
			.s-polygon-cart-red();
		}

		&:hover i,
		&:focus i {
			.s-polygon-cart-white();
		}

		&:active i,
		&.active i {
			.s-polygon-cart-white();
		}

		&[disabled],
		&.disabled {

			i {
				.s-polygon-cart-red();
			}
		}

		&:disabled {// keep this selector separate (unsupported pseudo class ie8)

			i {
				.s-polygon-cart-red();
			}

		}

	}


	.popover-variation(@c-white, @c-red, 'top');



	// Sticky
	&.-stuck {
		width: @grid-width + 74px;
	}


}
