.skin-cart-list-review {
  width: 100%;

  .cart-header {
    display: none;

    @media #{$ipad-landscape} {
      display: flex;
    }

    &__item {
      @include font-size(11px);
      font-family: $font-stack-alt;
      font-weight: 700;
    }

  }

}
