.skin-cart-list-return-items {

  .border-bottom-grey {
    border: 0;
    width: 100%;
  }

  .error-message,
  .error-qty {
    float: left;
    text-align: center;
    width: 100%;
  }

  .error-qty {
    @include font-size(13px);
    color: $colour-dist-red;
  }

  .return-items-buttons {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    &--second {
      margin-bottom: ($spacing-unit * 6);
    }

    .buttonCancel {
      font-size: 15px !important;
      font-weight: bold !important;
      line-height: 33px !important;
      height: 35px;
      min-width: 200px;
      padding: 0 ($spacing-unit * 2);
      width: 100%;

      svg {
        margin-right: ($spacing-unit);
      }

      @media #{$ipad} {
        width: auto;
      }

    }

    .btn-return-items {
      font-size: 15px !important;
      font-weight: bold !important;
      line-height: 33px !important;
      height: 35px;
      min-width: 150px;
      padding: 0;
      width: 100%;

      @media #{$ipad} {
        width: auto;
      }

    }

    i,
    svg {
      float: none;
      vertical-align: text-bottom;

      &.fa-angle-right {
        margin-right: 0;
        margin-left: ($spacing-unit * 2 + 2);
      }

    }

    .gu-3 {
      float: left;
      margin-bottom: ($spacing-unit * 2);
      width: 100%;

      @media #{$ipad} {
        margin-bottom: 0;
        width: 40%;
      }

      @media #{$desktop} {
        width: 30%;
      }

    }

    .gu-9 {
      float: left;
      width: 100%;

      @media #{$ipad} {
        float: right;
        width: 60%;
      }

      @media #{$desktop} {
        width: 70%;
      }

    }

  }

}
