.skin-cart-list-quote-detail {
  float: left;
  width: 100%;

  .row {
    margin: 0;
  }

  .cart-list-header {

    .gu-5 {
      width: 40%;
    }

    .gu-2,
    .gu-1 {
      width: 15%;
    }

    .cell-date {
      padding-left: ($spacing-unit * 3 - 2) !important;

      p {
        text-align: left;
      }

    }

    .cell-price {

      .padding-left {
        text-align: left;
      }

    }


  }

  .cart-list {

    .gu-1 {
      width: 10%;

      &.cell-availability {

        &.compare-list {
          width: 100%;
        }

      }

    }

    .cell-info {
      width: 30%;
    }

    .gu-2 {
      width: 15%;
    }

    .gu-1-5 {
      width: 15%;

      .numeric {
        float: none;
        margin: 0 auto;
      }

    }

    .gu-8 {

      &.cell-info {
        margin: 0;
        width: 60.14%;
      }

    }

    .gu-12 {
      width: 100%;
    }

  }

}