@import 'global-utilities';

app-feedback-campaign-text {
  img {
    padding-bottom: ($ux-spacing-unit * 5);
    width: 100%;
  }
}

.relevancy-banner {
  background-color: $colour-warning-text-bg;
  color: $colour-warning-text;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
