.mod-productlist-pagination {
	width: 100%;

	.gu-3 {

		&--PL,
		&--SK {
			width: 320px;
		}

	}

	.pagination-numbers{
		float: left;
	}

	.pagination-wrapper {
		float:right;

		.pagination {
			float: left;
			li {
				float: left;
				margin-right: 5px;

				a {
					display: block;
					width: 36px;
					height: 36px;
					border: 1px solid @c-border;

					#typo .size-s();
					text-align: center;
					padding-top: 8px;

					&:hover {
						background: #AA1936;
					}
					&.active {
						background: @c-greyB;
					}
				}

				&.dots {
					padding-top: 15px;
				}
			}
		}

		.btn {
			float: left;

			i {
				margin-top: 0;
			}
		}

		.btn-left {

			i {
				.s-polygon-left-big-lightblue();
			}

			&:hover i,
			&:focus i {
				.s-polygon-left-big-blue();
			}

			&:active i, &.active i {
				.s-polygon-left-big-blue();
			}

			&[disabled], &.disabled {
				i {
					.s-polygon-left-big-lightblue();
				}
			}
			&:disabled {// keep this selector separate (unsupported pseudo class ie8)
				i {
					.s-polygon-left-big-lightblue();
				}
			}
		}

		.btn-right {
			i {
				.s-polygon-right-big-lightblue();
			}

			&:hover i,
			&:focus i {
				.s-polygon-right-big-blue();
			}

			&:active i, &.active i {
				.s-polygon-right-big-blue();
			}

			&[disabled], &.disabled {
				i {
					.s-polygon-right-big-lightblue();
				}
			}
			&:disabled {// keep this selector separate (unsupported pseudo class ie8)
				i {
					.s-polygon-right-big-lightblue();
				}
			}
		}

	}

	label {
		display: inline-block;
		padding-top: 8px;
		padding-right: 5px;
		#typo .size-s();
	}

}