.skin-productlist-pagination-my-account {
	margin-left: 0;
	.gu-4 {
		width: 45%;
		padding-left: 2px;
		.pagination-wrapper {
			float: none;
			a.js-page-link.active {
				cursor: default;
			}
		}
	}
}