@import 'global-utilities';

app-product-list-empty-products {
  .zero-results {
    border-bottom: 1px solid $border-dist-grey;
    padding: ($spacing-unit * 10) 0;

    &-products {
      display: flex;
      flex-wrap: nowrap;

      @media #{$mobile-only} {
        flex-wrap: wrap;
      }
    }
  }

  .search-results {
    &-link {
      @include font-size(14px);
      color: $link-blue;
      display: inline-block;
      margin-left: ($spacing-unit * 2);
      text-decoration: underline;

      &:hover {
        color: $link-dark-blue;
        text-decoration: underline;
      }
    }

    &-count {
      font-weight: $font-weight-semiBold;
    }
  }

  .search-term {
    color: $colour-red;
    font-weight: $font-weight-semiBold;
  }

  a {
    &:hover {
      color: $colour-black;
      text-decoration: none;
    }
  }

  .title {
    @include font-size(24px);
    @include line-height(29px);
    display: inline-block;
    font-weight: $font-weight-light;
    margin: ($spacing-unit * 5 - 1) 0;
  }

  .product {
    @include font-size(13px);
    padding: ($spacing-unit * 8) ($spacing-unit * 4);
    text-align: center;
    width: 25%;

    &:first-of-type {
      padding-left: 0;
    }

    @media #{$mobile-only} {
      padding: ($spacing-unit * 4) ($spacing-unit * 2);
      text-align: center;
      width: 50%;
    }

    &-name {
      @include font-size(13px);
      font-weight: $font-weight-bold;
      min-height: 80px;
      padding-bottom: ($spacing-unit * 4);
    }

    &-price {
      font-weight: $font-weight-semiBold;
    }
  }

  .show-all-results {
    @include font-size(15px);
    background-color: $colour-red;
    border: none;
    color: $colour-white;
    height: 41px;
    font-weight: $font-weight-normal;
    padding: ($spacing-unit * 2) ($spacing-unit * 4);

    fa-icon {
      @include font-size(14px);
      margin-left: $spacing-unit;
      margin-top: 0;
    }
  }
}
