.mod-buying-section {
  float: left;
  width: 100%;

  @media #{$ipad} {
    min-width: 400px;
    width: auto;
  }

  .elem {
    float: left;
    width: 100%;

    &__content {
      float: left;
      width: 100%;

      &:first-of-type {

        @media #{$ipad} {
          text-align: center;
          width: 35%;
        }

      }

      &:last-of-type {

        @media #{$ipad} {
          margin-left: ($spacing-unit * 4);
          width: 60%;
        }

      }

      &--first {
        max-width: 132px;
      }

      &--second {
        position: relative;

        .btn-cart {
          z-index: 1;
        }

      }

    }

  }

  .btn-text {
    @include font-size(12px);
    @include line-height(15px);
    color: $colour-mid-grey;
    display: inline-block;
    font-weight: 500;
    max-width: 132px;
    text-align: center;
    width: 100%;
    vertical-align: sub;

    @media #{$ipad} {
      float: left;
      padding-top: ($spacing-unit * 2);
    }

    position: absolute;
    width: 100%;
    top: 10px;

    @media #{$ipad} {
      padding-top: 0;
      position: relative;
    }

  }

  .numeric {
    float: left;
    margin: 0;

    .popover {
      bottom: 45px;
      left: 50%;
      padding: $spacing-unit;
      top: auto;
      transform: translateX(-50%);
      width: 100%;

      @media #{$ipad} {
        bottom: 70px;
        width: 140%;
      }

      @media #{$ipad-landscape} {
        height: 100%;
        min-height: 50px;
        top: -45px;
        width: 300px;
      }

      .popover-content {
        padding: $spacing-unit;
      }

    }


    .btn-wrapper {
      border: 1px solid $border-dist-grey;
      float: left;

      input {
        border-bottom: 0;
        border-top: 0;
        float: left;
        height: 30px;
        width: 70px;
      }

      .btn {
        background: $colour-pale-grey;
        display: inline-block;
        float: left;
        height: 30px;
        margin: 0;
        position: relative;
        text-align: center;
        top: 0;
        width: 30px;

        &.numeric-btn-up {
          right: 0;
        }

        &.numeric-btn-down {
          left: 0;
        }

      }

    }

    &.disabled-btn {
      opacity: 0.4;
      pointer-events: none;
    }

  }

  .mat-button {
    float: left;
    margin-top: ($spacing-unit * 3);
    width: 100%;

    @media #{$ipad} {
      margin-top: 0;
    }

    &:hover {
      background: $colour-dark-green;
    }

    .ellipsis {
      max-width: 200px;
      vertical-align: middle;
    }

    svg,
    i {
      margin: 0 ($spacing-unit) 0 0;
      vertical-align: middle;
    }

  }

  .btn-added-to-cart {
    border: 1px solid $colour-dist-marigold;
    border-radius: $spacing-unit - 3;
    color: $colour-black;
    display: none;
    height: 40px;
    overflow: hidden;
    padding: $spacing-unit ($spacing-unit * 2);
    position: relative;
    right: 0;
    z-index: 0;

    @media #{$ipad} {
      position: absolute;
      width: 70%;
    }

    @media #{$ipad-landscape} {
      position: relative;
      width: 100%;
    }

    @media #{$desktop} {
      position: absolute;
      width: 70%;
    }

    &:hover,
    &:focus {
      border-color: $colour-dist-marigold;
      color: $colour-mid-black;
    }

    &--added,
    &--checkout {
      @include font-size(15px);
      display: block;
      font-weight: 700;
      height: 40px;
      left: 0;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
    }

    &--added {

      .fa-check-circle {
        @include font-size(22px);
        margin: 0 ($spacing-unit * 2) 0 0  ;
      }

    }

    &--checkout {
      top: 40px;

      .fa-angle-right {
        margin: 0 0 ($spacing-unit - 2) ($spacing-unit * 2);
      }

    }

    &.show {
      display: block;
      float: left;
      margin-top: $spacing-unit*4;
      width: 100%;

      @media #{$ipad} {
        animation: show-added-to-cart 0.2s 1;
        margin-top: 0;
        right: -56%;
        width: 70%;
      }

      @media #{$ipad-landscape} {
        animation: none;
        margin-top: $spacing-unit*4;
        right: 0;
        width: 100%;
      }

      @media #{$desktop} {
        animation: show-added-to-cart 0.2s 1;
        margin-top: 0;
        right: -56%;
        width: 70%;
      }

      .btn-added-to-cart {

        &--added {
          display: none;
          line-height: normal;

          &.show {
            background-color: $colour-dist-marigold;
            color: $colour-black;
            display: block;
          }

        }

        &--checkout {
          display: none;
          top: 0;
          line-height: normal;

          &.show {
            display: block;
            animation: show-added-to-cart-checkout 0.5s 1;
          }

        }

      }

    }

  }
}

@keyframes show-added-to-cart {

  0%   {
    right: 0;
    display: none
  }

  100% {
    right: -56%;
    display: block;
  }

}

@keyframes show-added-to-cart-checkout {
  0%   {top: 40px;}
  100% {top: 0;}
}
