.skin-productlist-order-plp {
  display: none;
  float: right;

  @media #{$ipad-landscape} {
    display: inline-block;
  }

  .selectboxit-container {

    .selectboxit {
      width: 180px;

      .selectboxit-text {
        font-weight: normal;
      }

    }

  }

}