.skin-productlist-order-shopping {
  float: right;
  margin: 0 ($spacing-unit * 2) 0 0;

  .orderlist-select-holder {

    &--PL,
    &--SK {
      margin-left: 0;
    }

  }

  .selectpicker {
    width: auto;
  }

  .selectboxit-container  {
    width: 100%;

    .selectboxit{
      width: 100%;

      &-pretext {
        top: 7px;
      }
    }

    .selectboxit-text{
      width: 248px;
      max-width: 248px;
      padding-right: 34px;
    }

    .selectboxit-options{
      width: 100%;
    }

    .selectboxit-option-anchor{
      padding-right: 8px;
      width: 100%;
    }
  }

  @media print {

    #select-productlist-orderSelectBoxIt {
      border-width: 0;
    }

    #select-productlist-orderSelectBoxItArrowContainer {
      display: none;
      visibility: hidden;
    }

  }

}