.skin-productlist-order-plp-mobile {
  background: $colour-white;
  display: block;
  height: 100%;
  left: -100%;
  overflow: scroll;
  position: fixed;
  transition: left 1s ease;
  top: 0;
  width: 100%;
  z-index: 1000;

  @media #{$ipad-landscape} {
    display: none;
  }

  &.mobile {
    left: 0;
  }

  .orderlist-select-holder {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;

    &__header {
      border-bottom: 1px solid $productlist-order-plp-border-grey;
      float: left;
      padding: ($spacing-unit * 3);
      text-align: center;
      width: 100%;

      &__text {

        span {
          @include font-size(12px);
          @include line-height(17px);

          &.matched-products-count {
            font-weight: bold;
          }

        }

      }

      &__close {
        position: absolute;
        right: ($spacing-unit * 3);
        top: ($spacing-unit * 3);
        z-index: 10;

        span {
          @include font-size(14px);
          @include line-height(19px);
        }

      }

    }

    &__content {
      float: left;
      padding: ($spacing-unit * 3) ($spacing-unit * 6);
      width: 100%;

      span {
        @include font-size(13px);
        @include line-height(33px);
        color: $colour-black;
        display: block;
        padding-left: ($spacing-unit);

        &.selected {
          color: $colour-dist-carmine;

          &:before {
            color: $productlist-order-plp-tick-grey;
            content: '\f00c';
            font-family: $fontAwesome;
            left: ($spacing-unit * 3);
            position: absolute;
          }

        }

      }

    }

    &__footer {
      border-top: 1px solid $productlist-order-plp-border-grey;
      bottom: 0;
      float: left;
      padding: ($spacing-unit * 2);
      position: absolute;
      width: 100%;

      .mat-button {
        @include font-size(14px);
        @include line-height(41px);
        font-weight: bold;
        text-transform: capitalize;
      }

    }

  }

}
