@import 'global-utilities';

.quick-order-row {
  display: flex;
  width: 100%;
}

.field {
  @include font-size(15px);
  @include line-height(18px);
  border: 1px solid $border-dist-grey;
  border-radius: ($spacing-unit);
  display: inline-block;
  height: 40px;
  margin-bottom: ($spacing-unit * 2 + 2);
  padding: ($spacing-unit + 1) ($spacing-unit + 3);
  vertical-align: middle;

  @include tabletOnly {
    padding: ($spacing-unit);
  }

  &.highlight {
    border: ($spacing-unit - 4) solid $colour-red;
  }

  &.empty-order {
    border: 1px solid $colour-red;
  }
}

.product-results {
  border-bottom: ($spacing-unit - 4) solid $border-dist-grey;
  display: block;
  position: absolute;
  left: -142px;
  margin: 0;
  padding: 0;
  top: 41px;
  transform: scale(0.8);
  transform-origin: left top;
  z-index: 9;

  @include mobilePlusDown {
    left: 0;
  }
}

.h-60px {
  height: 60px;
}
.h-90px {
  height: 90px;
}

.product-item {
  background: $colour-white;
  border: ($spacing-unit - 4) solid $border-dist-grey;
  border-bottom: 0;
  margin: 0;
  position: relative;
  padding: 0;
  list-style-type: none;
  width: 600px;
  display: flex;
  cursor: pointer;

  @include mobilePlusDown {
    width: 100%;
  }

  .product-image {
    float: left;
    height: 65px;
    position: relative;
    width: 64px;

    .image-wrap {
      display: table-cell;
      height: 65px;
      position: relative;
      text-align: center;
      width: 64px;
      vertical-align: middle;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .product-info {
    float: left;
    height: auto;
    margin-left: 5px;
    width: auto;
    max-width: 350px;
    position: relative;
    text-align: left;

    @include mobilePlusDown {
      width: 270px;
    }

    h3 {
      @include font-size(14px);
      @include line-height(18px);
      color: $colour-red;
      display: inline-block;
      font-weight: $font-weight-semiBold;
      margin: ($spacing-unit * 2 + 2) ($spacing-unit * 2) 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 350px;
      white-space: nowrap;

      @include mobilePlusDown {
        @include font-size(16px);
        width: 250px;
      }
    }

    .article-number {
      @include font-size(13px);
      @include line-height(18px);
      font-weight: $font-weight-semiBold;
      margin: 0;
      padding: 0;
    }
  }

  .product-currency {
    @include line-height(12px);
    float: right;
    height: auto;
    margin-left: 0;
    padding-right: 0;
    position: relative;
    width: 52%;

    @include tabletOnly {
      float: left;
      height: 65px;
      line-height: normal;
      margin-left: ($spacing-unit * 2);
      width: 40%;
    }

    .qty {
      @include font-size(13px);
      @include line-height(18px);
      font-weight: $font-weight-semiBold;
      margin: 0;
      padding: ($spacing-unit * 2 + 1) 0 ($spacing-unit);
      text-align: left;

      @include tabletOnly {
        padding: ($spacing-unit * 2 + 1) ($spacing-unit * 2) ($spacing-unit) 0;
        text-align: center;
      }
    }

    sub {
      float: left;
      font-weight: $font-weight-semiBold;
      margin-top: ($spacing-unit * 2);
      text-align: center;

      @include tabletOnly {
        float: none;
        margin-top: ($spacing-unit);
        text-align: unset;
      }
    }
  }

  .product-price {
    @include font-size(15px);
    float: right;
    font-weight: $font-weight-semiBold;
    height: auto;
    margin-top: ($spacing-unit * 2);
    padding: 0 ($spacing-unit * 4) 0 ($spacing-unit * 2);
    position: relative;
    text-align: center;
    width: 30%;

    @include tabletOnly {
      @include font-size(16px);
      float: left;
      height: 65px;
      margin-top: 0;
      padding: ($spacing-unit * 4) 0 0;
      text-align: unset;
      width: 80px;
    }
  }
}

.dropdown-qty {
  padding: ($spacing-unit * 2) ($spacing-unit * 2) ($spacing-unit) 0;
  text-align: center;
  @include font-size(13px);
  @include line-height(18px);
  font-weight: $font-weight-semiBold;
  margin: 0;
}

.qty {
  @include font-size(15px);
  @include line-height(18px);
  border: 1px solid $border-dist-grey;
  border-radius: ($spacing-unit);
  display: inline-block;
  height: 40px;
  margin-bottom: ($spacing-unit * 2 + 2);
  padding: ($spacing-unit + 1) ($spacing-unit + 3) ($spacing-unit + 1) $spacing-unit;
  vertical-align: middle;

  @include tabletOnly {
    padding: ($spacing-unit);
  }

  &.highlight {
    border: ($spacing-unit - 4) solid $colour-red;
  }

  &.empty-order {
    border: 1px solid $colour-red;
  }
}

.numeric-popover {
  background-color: $colour-red;
  bottom: 70px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  min-width: 200px;
  max-width: 300px;
  width: auto;

  @include tabletOnly {
    left: 50%;
    transform: translateX(-50%);
  }

  .arrow-ff {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid $colour-red;
    bottom: -11px;
    left: 50%;
    position: absolute;
  }

  .popover-content {
    @include font-size(13px);
    color: $colour-white;
    padding: ($spacing-unit * 2);
  }
}

.quickorder {
  &__quantity {
    padding-left: 0;
  }
}

app-min-order-quantity-popup {
  position: absolute;
  right: 145px;
}
