.skin-product-card-product-recommendations-cart {
  display: none;
  float: left;
  margin: ($spacing-unit * 6) 0;
  padding: 0;
  width: 100%;

  @media #{$ipad-landscape} {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14902);
    background: $colour-white;
    display: block;
    overflow-y: hidden;
    padding: ($spacing-unit * 3) ($spacing-unit * 5);
  }

  h3 {
    @include font-size(20px);
    @include line-height(24px);
    color: $colour-black;
    font-family: $font-stack-dist;
  }

  .recommendations-holder {
    position: relative;

    .caroufredsel_wrapper {
      margin: 0 !important;
    }

    &__prev,
    &__next {
      @include font-size(30px);
      outline: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      i {
        color: $colour-mid-grey;
      }

      &:hover i {
        color: $colour-dist-mid-grey;
      }
    }

    &__prev {
      left: -($spacing-unit*4);
    }

    &__next {
      right: -($spacing-unit*4);
    }

  }

  .recommendations-item {
    float: left;
    padding: $spacing-unit*2;
    width: 100%;

    @media #{$ipad-landscape} {
      width: 25%;
    }

  }

  .card-item {
    border: 1px solid #dbdbd8;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14902);
    float: left;
    margin-bottom: ($spacing-unit * 3);
    padding: ($spacing-unit * 2);
    width: 100%;

    @media #{$ipad-landscape} {
      background: transparent;
      border: 0;
      box-shadow: none;
      padding: 0;
      margin: 0;
    }


    &__image {
      float: left;
      height: 86px;
      overflow: hidden;
      text-align: left;
      width: 100%;

      img {
        display: inline-block;
        height: auto;
        max-width: 100%;
      }

    }

    &__content {
      float: left;
      width: 100%;

      h3 {
        @include font-size(13px);
        @include line-height(16px);
        font-weight: bold;

        @media #{$ipad-landscape} {
          @include font-size(12px);
          @include line-height(18px);
          overflow: hidden;
        }

        @media #{$desktop} {
          @include font-size(13px);
        }

      }

      #wrapper3 {

        p {
          @include font-size(12px);

          span {
            padding-left: ($spacing-unit - 3);
          }

        }

      }

      .btn-buy {
        @include font-size(12px);
        @include line-height(14px);
        height: auto;
        margin-top: ($spacing-unit - 3);
        padding: ($spacing-unit) ($spacing-unit * 3 + 2);
        text-align: center;
        width: auto;
      }

      .price {
        @include font-size(12px);
        font-weight: bold;

        span {
          padding-left: ($spacing-unit - 3);
        }

      }

    }

  }

}
