.skin-product-card-product-consistentwith {

  .consistentwith {
    float: left;
    width: 100%;

    button {
      @include font-size(13px);
      margin: 0 auto;
      width: 93%;

      @media #{$ipad-landscape} {
        width: 20%;
      }

    }

  }

}
