.mod-product-card {

  .card-product-holder {
    border-top: 2px solid $colour-dist-grey;
    float: left;
    width: 100%;
  }

  .base {
    @include font-size(28px);
    @include line-height(34px);
    color: $colour-dist-grey;
    letter-spacing: -.6px;
  }

}