.skin-product-card-product-alternatives {
  border-top: 2px solid $colour-dist-grey;
  float: left;
  margin-top: ($spacing-unit * 5);
  width: 100%;

  &.product-alternatives-list,
  &.product-alternatives-list-carousel {

    .product-alternatives-vm {

      &__list {
        margin-left: -($spacing-unit*2);
        margin-right: -($spacing-unit*2);
      }

    }

  }

  &.product-alternatives-list {

    .alternatives-holder {

      .card-item {
        margin-bottom: ($spacing-unit * 4);
      }

    }

    .product-alternatives-vm {

      &__list-item {
        float: left;
        padding: 0 ($spacing-unit*2);
        width: 100%;

        @media #{$mobile-landscape}{
          width: 50%;
        }

        @media #{$ipad-landscape}{
          width: 25%;
        }

      }

    }

  }

  &.product-alternatives-list-carousel {
    height: 240px;
    overflow: hidden;

    .alternatives-holder {

      &__heading {
        @include font-size(20px);
        margin: ($spacing-unit*2) 0;
      }

    }

    .product-alternatives-vm {

      &__list-item {
        padding: 0 ($spacing-unit*2);
        width: 100%;
      }

    }

  }

  button {
    @include font-size(13px);
    margin: 0 auto;
    width: 93%;

    @media #{$ipad-landscape} {
      width: 20%;
    }

  }

}

.skin-product-card-product-alternatives,
.slick-slider {

  .alternatives-holder {

    &__all-alternatives {
      @include font-size(15px);
      border: none;
      display: inline-block;
      font-weight: bold;
      padding: 0;
      margin: ($spacing-unit*2) 0;

      .fa-angle-right {
        margin: 0 0 0 $spacing-unit;
      }

    }

    .card-item {
      border: 1px solid #D8D8D8;
      box-shadow: $bg-product-card-shadow;

      &__image {
        display: table-cell;
        padding-left: ($spacing-unit * 2);
        width: 20%;
        vertical-align: middle;

        img {
          display: inline-block;
          height: auto;
          max-width: 100%;
          overflow: hidden;
        }

      }

      &__content {
        display: table-cell;
        padding: ($spacing-unit * 2) ($spacing-unit * 3);
        width: 80%;
        vertical-align: middle;

        #wrapper3 {
          float: left;
          padding-bottom: ($spacing-unit);
          width: 100%;

          .stockvalue {
            @include font-size(12px);
            @include line-height(20px);
            color: $colour-dist-green;
            font-weight: bold;

            .holder-s {
              padding-left: ($spacing-unit);
            }

          }

        }

        h3 {
          @include font-size(12px);
          @include line-height(20px);
          color: $colour-dist-grey;
          float: left;
          font-weight: 600;
          letter-spacing: -.18px;
          height: 40px;
          margin-bottom: ($spacing-unit);
          overflow: hidden;
          width: 100%;
        }

        .price {
          @include font-size(16px);
          @include line-height(22px);
          color: $colour-dist-grey;
          font-weight: 600;
          letter-spacing: -.3px;
        }

      }

      .itempimalternatecategory {
        @include font-size(12px);
        background-color: $colour-dist-marigold;
        border-radius: 0 10px 10px 0;
        color: $colour-black;
        display: inline-block;
        font-weight: bold;
        margin: ($spacing-unit) 0;
        max-width: 90%;
        padding: 0 ($spacing-unit*2);
        word-break: break-all;
      }

    }

  }

  .slick-arrow {
    @include font-size(20px);
    border: 1px solid $colour-light-grey;
    box-shadow: $bg-product-card-shadow;
    border-radius: $spacing-unit;
    color: $colour-dark-grey;
    text-align: center;
    top: -($spacing-unit*4);
    height: 30px;
    width: auto;

    i {
      position: absolute;
      top: ($spacing-unit);
    }

    &.slick-prev {
      left: auto;
      right: 50px;

      i {
        left: ($spacing-unit + 3);
      }

    }

    &.slick-next {
      right: 10px;

      i {
        right: ($spacing-unit);
      }

    }

  }

  .stockvalue {
    @include font-size(12px);
    @include line-height(20px);
    color: $colour-dist-green;
    font-weight: bold;

    .holder-s {
      padding-left: ($spacing-unit);
    }

  }

}

.skin-product-card-product-carousel {
  float: left;
  margin-top: ($spacing-unit * 5);
  width: 100%;


  .newClass {



      .product-alternatives-vm {

          &__list {
            margin-left: -($spacing-unit*2);
            margin-right: -($spacing-unit*2);
          }
    
        }

  }


   

  

  &.product-alternatives-list {

    .alternatives-holder {

      .card-item {
        margin-bottom: ($spacing-unit * 4);
      }

    }

    .product-alternatives-vm {

      &__list-item slick-slider{
        float: left;
        padding: 0 ($spacing-unit*2);
        width: 100%;

        @media #{$mobile-landscape}{
          width: 50%;
        }

        @media #{$ipad-landscape}{
          width: 25%;
        }

      }

    }

  }

  &.product-alternatives-list-carousel, &.skin-product-card-product-carousel {
    height: 240px;
    overflow: hidden;

    .alternatives-holder {

      &__heading {
        @include font-size(20px);
        margin: ($spacing-unit*2) 0;
      }

    }

    .product-alternatives-vm {

      &__list-item {
        padding: 0 ($spacing-unit*2);
        width: 100%;
      }

    }

  }

  &.product-card-product-carousel{
    height: 245px;
    overflow: hidden;

    .alternatives-holder {

      &__heading {
        @include font-size(20px);
        margin: ($spacing-unit*2) 0;
      }

    }

    .product-alternatives-vm {

      &__list-item {
        padding: 0 ($spacing-unit*2);
        width: 100%;
      }

    }

  }

}

.skin-product-card-product-carousel,
.slick-slider {

  .alternatives-holder {

    &__all-alternatives {
      @include font-size(15px);
      border: none;
      display: inline-block;
      font-weight: bold;
      padding: 0;

      .fa-angle-right {
        margin: 0 0 0 $spacing-unit;
      }

    }

    .card-item {
      border: 1px solid #D8D8D8;
      box-shadow: $bg-product-card-shadow;

      &__image {
        display: table-cell;
        padding-left: ($spacing-unit * 2);
        width: 20%;
        vertical-align: middle;

        img {
          display: inline-block;
          height: auto;
          max-width: 100%;
          overflow: hidden;
        }

      }

      &__content {
        display: table-cell;
        padding: ($spacing-unit * 2) ($spacing-unit * 3);
        width: 80%;
        vertical-align: middle;

        #wrapper3 {
          float: left;
          padding-bottom: ($spacing-unit);
          width: 100%;

          .stockvalue {
            @include font-size(12px);
            @include line-height(20px);
            color: $colour-dist-green;
            font-weight: bold;

            .holder-s {
              padding-left: ($spacing-unit);
            }

          }

        }

        h3 {
          @include font-size(12px);
          @include line-height(20px);
          color: $colour-dist-grey;
          float: left;
          font-weight: 600;
          letter-spacing: -.18px;
          height: 40px;
          margin-bottom: ($spacing-unit);
          overflow: hidden;
          width: 100%;
        }

        .price {
          @include font-size(16px);
          @include line-height(22px);
          color: $colour-dist-grey;
          font-weight: 600;
          letter-spacing: -.3px;
        }

      }

      .itempimalternatecategory {
        @include font-size(12px);
        background-color: $colour-dist-marigold;
        border-radius: 0 10px 10px 0;
        color: $colour-black;
        display: inline-block;
        font-weight: bold;
        margin: ($spacing-unit) 0;
        max-width: 90%;
        padding: 0 ($spacing-unit*2);
        word-break: break-all;
      }

    }

  }

  .slick-arrow {
    @include font-size(20px);
    border: 1px solid $colour-light-grey;
    box-shadow: $bg-product-card-shadow;
    border-radius: $spacing-unit;
    color: $colour-dark-grey;
    text-align: center;
    top: -($spacing-unit*4);
    height: 30px;
    padding: 0 ($spacing-unit + 2);

    i {
      position: absolute;
      top: ($spacing-unit);
    }

    &.slick-prev {
      left: auto;
      right: 110px;

      i {
        left: ($spacing-unit - 3);
      }

    }

    &.slick-next {
      right: 10px;

      i {
        right: ($spacing-unit - 3);
      }

    }

  }

  .stockvalue {
    @include font-size(12px);
    @include line-height(20px);
    color: $colour-dist-green;
    font-weight: bold;

    .holder-s {
      padding-left: ($spacing-unit);
    }

  }

}
