@import '../../../../global/global.scss';

.add-new-employee-wrapper {
  h1 {
    @include font-size(28px);
    @include line-height(34px);
    color: $colour-red;
    font-weight: $font-weight-light;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .limit-width {
    max-width: 5px;
  }

  .editLink {
    color: $colour-red;

    :hover {
      text-decoration: underline;
    }
  }

  h2 {
    @include font-size(18px);
    @include line-height(22px);
    color: $colour-red;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  label,
  input,
  select,
  p {
    @include font-size(14px);
    border-radius: 0%;
  }

  small {
    display: block;
    @include font-size(12px);
    font-weight: $font-weight-medium;
    color: #6c757d;

    &.error {
      color: $colour-red;
    }

    &.correct {
      color: $colour-green;
    }
  }

  .border-gray {
    border: solid 1px lightgray;
  }

  .redFont {
    color: $colour-red;
  }

  .btn-gray {
    background-color: $border-dist-grey;
    border-color: $border-dist-grey;
    color: $colour-text-dark;

    &:hover {
      background-color: transparent;
      color: $colour-red;
    }
  }

  .form-check-input,
  .form-check-label {
    cursor: pointer;
  }

  .form-control {
    border-radius: 0 !important;
    @include font-size(14px);
  }

  .btn-distrelec {
    font-weight: 100 !important;
    @include font-size(14px);
    max-width: 100% !important;
  }

  .col-form-label {
    @include font-size(14px);
  }

  .btn-view-details {
    @include transition(all 0.3s ease-in-out 0.1s);
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 37px;
    line-height: 2.3125rem;
    background-color: $colour-red;
    border: 1px solid $colour-red;
    border-radius: 2px;
    color: $colour-white;
    font-weight: $font-weight-bold;
    height: 41px;
    max-width: 177px;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .remove-border-top {
    border-top: none !important;
    font-weight: $font-weight-normal !important;
  }

  .mt-exta {
    margin-top: 32px;
  }

  .colorGreen {
    color: $colour-green;
  }

  .ng-select {
    @include font-size(12px);
  }

  .myOrders {
    @media print {
      padding: 0;

      header,
      footer {
        display: block;
      }
    }
  }

  .distrelec-tooltip-class {
    .tooltip-inner {
      background-color: $colour-dark-red;
      font-size: 100%;
      padding: 10px;
    }
  }

  .bs-tooltip-top .arrow::before {
    border-top-color: $colour-dark-red;
  }

  .bs-tooltip-end .arrow::before {
    border-right-color: $colour-dark-red;
  }

  .bs-tooltip-start .arrow::before {
    border-left-color: $colour-dark-red;
  }

  .bs-tooltip-top .arrow::before {
    border-top-color: $colour-dark-red;
  }

  .bs-tooltip-bottom .arrow::before {
    border-bottom-color: $colour-dark-red;
  }

  .text-underline {
    text-decoration: underline;
  }

  .ul.pagination {
    float: right;
  }

  .page-item.active .page-link {
    background-color: $colour-red !important;
    border-color: $colour-red !important;
    color: white !important;
  }

  .page-link {
    color: $colour-dark-red !important;
  }
}
