@import 'global-utilities';

.sticky {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: fixed;
  background: $colour-white;
  box-shadow: $colour-box-shadow-800;

  @include mobileOnly {
    padding: ($spacing-unit * 3+1) 0 ($spacing-unit * 3+1) 0;
  }
  @include mobilePlusOnly {
    padding: ($spacing-unit * 4) 0 ($spacing-unit * 4) 0;
  }
  @include tablet {
    padding: ($spacing-unit * 4) 0 ($spacing-unit * 5+1) 0;
  }

  @include desktopPlus {
    padding: ($spacing-unit * 5-1) 0 ($spacing-unit * 8) 0;
  }

  .sticky-basket {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    @include mobileOnly {
      justify-content: center;
    }

    .titles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      flex: 1 0 0;

      .product-title {
        @include typography-display-md;
        font-weight: 600;
      }
      .manufacturer {
        font-size: 12px;
      }
    }

    .prices {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      @include tabletDown {
        flex: 1;
      }
    }
    .buttons {
      display: flex;
      align-items: flex-start;
      flex-flow: row wrap;
      column-gap: 8px;

      &__atc {
        min-width: 120px;

        @include tablet {
          min-width: 100px;
        }
      }
    }
  }
}
