.skin-scaled-prices-single-tabular {
  border: none;
  height: auto;
  min-height: inherit;
  position: relative;

  .price-table {
    float: left;
    width: 100%;

    &.price-table-overlay {
      background: $colour-white;
      border: 0;
      left: 50px;
      max-width: 166px;
      position: relative;
      top: -46px;
    }

    &__item {
      float: left;
      padding-top: ($spacing-unit);
      width: 100%;

      .nth1,
      .nth2 {
        @include  font-size(12px);
        @include line-height(18px);
        display: inline-block;
        float: left;
        width: 50%;
      }

      .nth1 {
        color: $colour-paragraph-grey;
        font-weight: 700;
        text-align: right;
      }

      .nth2 {
        font-weight: 500;
      }

    }

  }

  .entry-key {
    @include font-size(12px);
    display: inline-block;
    font-weight: 700;
  }

  .entry-value {
    @include font-size(12px);
    display: inline-block;
  }

}