.skin-scaled-prices-product-shopping {
  border: 0;
  float: left;
  margin-top: 0;
  min-height: auto;
  padding: 0;
  width: 100%;

  @media #{$ipad-landscape} {
    float: right;
    margin: 0 0 ($spacing-unit * 2) 0;
    text-align: right;
    width: 100%;
  }

  .shoppinglist {

    &__row {
      float: left;
      width: 100%;

      .label {
        @include font-size(12px);
        font-weight: 600;
      }

      .value {
        @include font-size(12px);
        font-weight: 600;
        vertical-align: middle;
      }

    }

  }

  .product-family-holder {
    display: none;
  }

  .skin-scaled-prices-single {

    &__holder {
      width: 150%;
      min-width: 0;
      margin-left: -50%;

      @media #{$ipad} {
        width: 100%;
        margin-left: 0;
      }

      .body {
        display: flex;
        justify-content: flex-start;

        @media #{$ipad} {
          justify-content: flex-end;
        }

        &-holder {
          display: inline-block;
          width: 100%;
          min-width: 0;
          margin-left: auto;
        }

        .td {
          @include font-size(10px);
          @include line-height(22px);
          padding-left: $spacing-unit;
          color: $colour-black;

          @media #{$mobile} {
            @include font-size(12px);
          }

          @media #{$ipad} {
            white-space: nowrap;
          }

          &:first-child {
            padding-left: 0;

            @media #{$ipad} {
              padding-left: $spacing-unit;
            }
          }

          &:first-of-type {
            font-weight: 600;
          }
        }

        .list-price {
          color: $colour-mid-grey;
        }
      }

      .price-each {
        @include font-size(12px);
        font-weight: 500;
        text-align: left;

        @media #{$ipad} {
          text-align: right;
        }
      }

      .price-each,
      .odometer-price {
        color: $colour-black;
      }

      .prices-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: $spacing-unit * 2;

        @media #{$ipad} {
          align-items: flex-end;
          margin-bottom: $spacing-unit * 4;
        }

        .price-wrapper {
          justify-content: flex-end;
          align-items: baseline;

          .price {
            .odometer-price {
              @include font-size(20px);

              @media #{$desktop} {
                @include font-size(24px);
              }

              &.small-price {
                @include font-size(14px);
              }
            }
          }

          .vat-text {
            @include font-size(12px);
            padding-left: $spacing-unit;
            font-weight: 500;
            color: $colour-redesign-light-grey;
          }
        }
      }
    }
  }
}