@import 'global-utilities';

$colour-bom-no-available-red: $colour-dark-red;
$colour-bom-no-available-grey: $colour-redesign-dark-black;

$bg-bom-no-available-header: $colour-pale-grey;

$border-bom-no-available-header: $colour-light-grey;
$bom-modal-border: #e2e2e2;

$bom-product-info-label: #a8a8a8;
$bom-product-info-value: #191919;
$bom-mpn-bg-color: #e2edeb;

.modal {
  &__close {
    position: absolute;
    right: 0;
    top: -35px;
  }

  &__title {
    @include font-size(24px);
    @include line-height(34px);
    float: left;
    margin-bottom: ($spacing-unit * 3);
    text-align: center;
    width: 100%;
  }

  &__product-brand {
    float: left;
    margin-top: ($spacing-unit * 6);
    width: 100%;

    img {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }

  &__product-image {
    float: left;
    margin-top: ($spacing-unit * 4);
    width: 100%;

    img {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }

  &__illustrate-text {
    @include font-size(11px);
    float: left;
    padding-top: ($spacing-unit * 7);
    text-align: center;
    width: 100%;
  }

  &__download-title {
    @include font-size(23px);
    color: $colour-black;
    float: left;
    font-weight: $font-weight-normal;
    text-align: left;
    width: 100%;
  }

  &__download {
    border-top: ($spacing-unit - 3) solid $colour-black;
    float: left;
    margin-top: ($spacing-unit * 8);
    padding-top: ($spacing-unit * 4);
    width: 100%;

    &__subtitle {
      @include font-size(15px);
      border-bottom: ($spacing-unit - 4) solid $bom-modal-border;
      float: left;
      margin-bottom: ($spacing-unit * 2 + 2);
      margin-top: ($spacing-unit * 4);
      padding-bottom: ($spacing-unit * 2);
      width: 100%;
    }

    .downloads-body {
      float: left;
      width: 100%;

      &__title {
        @include font-size(15px);
        border-bottom: ($spacing-unit - 4) solid $bom-modal-border;
        float: left;
        margin-bottom: ($spacing-unit * 2 + 2);
        margin-top: ($spacing-unit * 4);
        padding-bottom: ($spacing-unit * 2);
        width: 100%;
      }

      &__content {
        float: left;
        margin-top: ($spacing-unit * 2);
        width: 100%;
      }

      .downloadlink {
        display: block;
        float: left;
        color: $colour-black;
        padding: 0;
        width: 100%;
      }

      .content-holder {
        float: left;
        width: 100%;

        &__image {
          @include font-size(24px);
          float: left;
          padding-right: ($spacing-unit * 2 + 2);
          vertical-align: top;
        }

        &__content {
          @include font-size(13px);
          @include line-height(14px);
          float: left;
          width: auto;

          .downloadName {
            display: block;
            text-align: left;
          }

          .downloadwrap {
            display: block;
            font-weight: $font-weight-normal;
            padding-top: ($spacing-unit - 2);
            text-align: left;

            &__type,
            &__lang {
              display: inline-block;
              font-weight: $font-weight-normal;
            }

            &__lang {
              padding-left: ($spacing-unit - 2);

              &:first-of-type {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }

  &__product-information {
    float: left;
    width: 100%;

    p {
      @include font-size(14px);
      float: left;
      text-align: center;
      width: 100%;

      a {
        @include font-size(14px);
        padding: 0;
        vertical-align: baseline;
      }
    }
  }

  &__body {
    padding: ($spacing-unit * 6) ($spacing-unit * 13);
  }

  a {
    @include font-size(12px);
    box-sizing: border-box;
    color: $colour-dist-mid-grey;
    display: inline-block;
    font-weight: $font-weight-semiBold;
    padding: ($spacing-unit - 4) ($spacing-unit + 3);
    text-align: center;
    vertical-align: text-top;

    &:hover,
    &:focus {
      color: $colour-dark-grey;
      text-decoration: underline;
    }
  }
}

.modal-content {
  &__classifications {
    &__title {
      margin-bottom: ($spacing-unit * 3);
    }

    &__item {
      border-left: 4px solid $colour-dist-carmine;
      float: left;
      padding: ($spacing-unit - 3) ($spacing-unit * 3);
      width: 100%;

      .title,
      .value {
        @include font-size(13px);
        @include line-height(26px);
        display: inline-block;
      }

      .title {
        font-weight: $font-weight-bold;
      }

      .value {
        float: right;
      }
    }
  }
}

.modalDownload {
  &__title {
    @include font-size(23px);
    color: $colour-black;
    float: left;
    font-weight: $font-weight-normal;
    text-align: left;
    width: 100%;
  }

  &__subtitle {
    @include font-size(18px);
    color: $colour-black;
    float: left;
    font-weight: $font-weight-normal;
    margin: ($spacing-unit * 3) 0;
    width: 100%;
  }

  &__lists {
    float: left;
    list-style-position: inside;
    list-style-type: disc;
    width: 100%;

    &__item {
      @include font-size(13.5px);
      list-style-type: disc;
    }

    &__paper {
      @include font-size(13.5px);

      .type {
        padding-left: ($spacing-unit);
      }
    }
  }

  &__para {
    float: left;
    width: 100%;

    &__item {
      @include font-size(13.5px);
      color: $colour-black;
      margin-bottom: ($spacing-unit * 2);
      text-align: left;
    }
  }

  &__list {
    box-sizing: border-box;
    float: left;
    list-style-type: disc;
    margin-bottom: ($spacing-unit * 7);
    padding-left: ($spacing-unit * 6);
    width: 100%;

    li {
      @include font-size(13.5px);
      float: left;
      list-style-type: disc;
      width: 100%;
    }

    &__title {
      @include font-size(13.5px);
      float: left;
      font-weight: $font-weight-semiBold;
      margin-bottom: ($spacing-unit * 3);
      width: 100%;
    }

    &__subTitle {
      @include font-size(12px);
      display: block;
      font-weight: $font-weight-bold;
      padding-bottom: ($spacing-unit);
    }
  }

  &__unlist {
    float: left;
    margin-bottom: ($spacing-unit * 5);
    width: 100%;

    li {
      @include font-size(13.5px);
      @include line-height(21px);
      float: left;
      width: 100%;
    }
  }
}
