.mod-register {

	.form-box {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.form-box-equal {
		padding: 20px 0;
	}

	.btn-primary {
		width: 100%;
		text-align: left;

		i {
			.s-arrow-right-white();
			margin: 0;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translate(0, -50%);

		}

		&:hover i,
		&:focus i {
			.s-arrow-right-red();
			position: absolute;
			width: 8px;
		}

		&:active i, &.active i {
			.s-arrow-right-red();
		}

		&[disabled], &.disabled {
			i {
				.s-arrow-right-white();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-arrow-right-white();
			}
		}
	}
	
}