.skin-register-select-type {

	.btn-register, .btn-register-b2b {
		height: inherit;
		padding-right: 20px;
	}

	.inner {
		display: inline-block;
		padding-bottom: 40px;
	}

	.pictogram {
		text-align: center;
		margin-bottom: 33px;
		padding-top: 33px;
		a{
			display: block;
		}
	}

	.info-text {
		margin-bottom: 40px;
		#typo > .size-x-c();
	}
	
	.btn-register div{
		width: 265px;
	}
	.register-option .intro-title {
		height: 20px;
	}

	.register-option:last-child .intro-title {
		margin-right: -20px;
	}

	//
	// Styles for the Select Type Checkout Template only (can't assign multiple skins to the Module)

	.xmod-select-type-checkout {

		.section-title {
			#typo > .section-title();
		}

		&.-guest {
	
			h1 {
				border-top: none;
			}

			.pictogram {
				margin-bottom: 0;
			}

			.btn-register,
			.btn-register-b2b,
			.info-text {
				margin-top: 80px;
				text-align: left;
			}
		}
	}

}

.locale {
	&__CH {
		&__fr {
			.btn-register, .btn-register-b2b {
				font-size: 14px !important;
			}
		}
	}

	&__SK {
		&__sk {
			.btn-register, .btn-register-b2b {
				font-size: 14px !important;
			}
		}
	}
}
