$bg-metahd-item-grey: #f7f9fc;
$bg-metahd-item-cart-btn-red: rgb(223, 20, 23);
$bg-metahd-item-account-green: #68C143;
$bg-metahd-item-search-yellow: #FFFF00;
$bg-metahd-item-search-grey: #f6f6f6;
$bg-metahd-item-cart-grey: #f7f9fc;

$border-metahd-item-grey: #f7f9fc;
$border-metahd-item-account-grey: #ccc;
$border-metahd-item-search-grey: #d3d2d3;
$border-metahd-item-cart-grey: #ccc;

$text-metahd-item-grey: #666;
$text-metahd-item-account-grey: #979797;
$text-metahd-item-cart-grey: #979797;
