.mod-checkout-consent {
  .card-wrapper {
    clear: both;
    border-top: 5px solid $colour-dist-orange;
    background: $colour-white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin-bottom: ($spacing-unit * 6);
    padding: ($spacing-unit * 6);


    h2 {
      font-size: 20px;
    }

    p {
      margin-bottom: ($spacing-unit * 4);
    }

    a {
      color: $link-blue;
      font-weight: bold;

      &:hover {
        color: $link-dark-blue;
        text-decoration: underline;
      }
    }

    .small-note {
      @include font-size(14px);
    }

    .checkout-consent-form {
      margin-bottom: ($spacing-unit * 4);
    }

    .success-message {
      font-weight: bold;
      color: $colour-dark-green;
      font-size: 14px;
      margin-top: ($spacing-unit*2);
    }

    .checkbox-group {
      margin-bottom: ($spacing-unit*2);
    }

    .inline-form-group {
      display: flex;
      flex-direction: column;

      @media #{$ipad} {
        flex-direction: row
      }

      input {
        height: 41px;
        width: 200px;
        margin-right: ($spacing-unit * 2);
        margin-bottom: ($spacing-unit * 2);

        @media #{$ipad} {
          margin-bottom: 0;
          width: 400px;
        }
      }

      button {
        width: 130px;
      }
    }
  }

}
