@import 'global-utilities';

:host {
  background: $colour-pale-grey;
  display: block;
}

#plp-main {
  border-radius: 5px;
  position: relative;

  .product-availability {
    @include font-size(13px);
    font-weight: $font-weight-semiBold;
    vertical-align: bottom;
  }

  .list-anchor {
    position: relative;
    top: -250px;
    visibility: hidden;
  }

  .top-divider {
    border-top: 1px solid $ux-light-grey;
    padding-top: 20px;
  }
}

.pagination {
  padding-top: $ux-spacing-unit * 4;
  padding-bottom: $ux-spacing-unit * 4;
  @include mobileOnly {
    padding-right: 0px;
  }
}

.content-container {
  flex-grow: 1;
}

.box {
  width: 100%;
}
