@import 'global-utilities';

.warning-popup {
  top: 33%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 95%;

  @include mobilePlus {
    width: 363px;
  }

  align-items: center;
  background-color: $colour-white;
  border-radius: 8px;
  border: 1px solid $colour-popup-border;
  box-shadow:
    0px 4px 6px -4px rgba(24, 39, 75, 0.12),
    0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: ($ux-spacing-unit * 3) ($ux-spacing-unit * 3) ($ux-spacing-unit * 3);
  position: fixed;
  z-index: $zindex-modal;

  @include mobilePlus {
    padding: ($ux-spacing-unit * 5) ($ux-spacing-unit * 5) ($ux-spacing-unit * 3);
  }

  &__text {
    background: $ux-banner-warning-bg;
    display: flex;
    gap: 8px;
    border-radius: 4px;

    &--subtitle {
      @include typography-text-sm();
      font-weight: $font-weight-medium;
      width: 270px;

      @include mobileOnly {
        width: auto;
      }
    }
  }

  &__close {
    margin: ($ux-spacing-unit * 3) auto auto;

    .btn {
      @include typography-text-sm();
      border: 1px solid $colour-popup-button-border;
      box-sizing: border-box;
      border-radius: 2px;
      color: $colour-dark-grey;
      font-weight: $font-weight-semiBold;
      height: 40px;
      width: 83px;
    }
  }
}

.warning-popup {
  .warning-popup__text {
    background: $ux-banner-warning-bg;
    padding: ($ux-spacing-unit * 3);
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: $zindex-modal-backdrop;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(57, 62, 65, 0.8);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */

  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
