<div class="overlay">
  <div [class]="data.type + '-popup'">
    <div class="warning-popup__text">
      <app-icon iconName="exclamation" iconType="svg" iconAltText="Warning icon"></app-icon>
      <div
        class="warning-popup__text--subtitle"
        id="shoppingWarningPopupSubtitle"
        [innerHTML]="data.subtitle | cxTranslate: { '0': data.subtitleArgument }"
      ></div>
    </div>
    <div class="warning-popup__close">
      <button class="btn" id="shoppingWarningPopupCloseBtn" (click)="onCloseButton()">
        {{ 'form.ok' | cxTranslate }}
      </button>
    </div>
  </div>
</div>
