.footer {
  float: left;
  margin-left: 0 !important;
  width: 100%;

  .container {
    margin: 0 auto;
    width: 1200px;
  }

}

.mod-footer {
  background-color: $colour-dark-grey;
  font-family: $font-montserrat;
  float: left;
  width: 100%;

  .footer {
    float: left;
    width: 100%;

    &__newsletter {
      background-color: $colour-pale-grey;
      background-image: url("/_ui/all/media/footer_bg.jpg");
      background-repeat: no-repeat;
      background-position: top center;
      padding: 0 ($spacing-unit * 2);
      position: relative;

    }

    &__main-content {
      float: left;
      width: 100%;
    }

  }

  .mod-footer-payment-methods {
    display: none;
  }

  .cross-website-links {
    text-align: center;
    padding-bottom: $spacing-unit * 10;

    &__link {

      @include font-size(12px);
      @include line-height(20px);
      color: $colour-light-grey;
      display: inline-block;
      font-weight: 500;

      &:after {
        content: " | ";
        padding: 0 5px;
      }

      &:last-child {
          &:after {
            content: '';
            padding: 0;
          }
      }

    }

  }

  a {
    color: $colour-light-grey;

    &:hover,
    &:focus {
      color: $colour-white;
      text-decoration: underline;

      &:after {
        color: $colour-light-grey;
      }

    }

  }

}

#___ratingbadge_0 {
  display: none !important;
}
