@import 'global-utilities';

.divider {
  padding-bottom: ($spacing-unit * 3);
}

.address-form {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: ($spacing-unit * 2);

    &__label {
      padding-top: $spacing-unit;
      width: 300px;
    }

    &__input-wrapper {
      margin-bottom: (($spacing-unit * 2) + 2);
      max-width: 300px;

      .select,
      .input {
        width: 300px;
        @include font-size(14px);
        @include line-height(18px);
        padding: ($spacing-unit + 1) ($spacing-unit + 3);
        border: 1px solid $border-global-grey;
        resize: none;

        &:focus {
          border: 2px solid $border-global-grey;
          background-color: $colour-strong-light-grey;
          outline: none;
        }

        &.error {
          border: 2px solid $border-input-warning;
        }
      }
    }

    &__button {
      display: flex;
      justify-content: right;
      margin-bottom: ($spacing-unit * 8);
      padding: ($spacing-unit * 3) ($spacing-unit * 6) 0 0;

      .button {
        background-color: $bg-button-red;
        border: 1px solid $bg-button-red;
        color: $colour-white;
        width: 300px;
        text-align: left;
        @include line-height(18px);
        @include font-size(15px);
        font-weight: $font-weight-normal;
        padding: $spacing-unit * 2;
        display: flex;
        justify-content: space-between;

        &:hover {
          background-color: $colour-white;
          color: $bg-button-red;
        }
      }
      .disabled {
        opacity: $disabled-opacity;
      }
    }
  }
}
