.skin-metahd-item-cart {
  background: $bg-metahd-item-cart-btn-red;
  border: 0;
  border-radius: 2px;
  float: right!important;
  margin-left: ($spacing-unit * 3);
  min-width: 144px;
  width: auto;

  &.skin-metahd-item-cart-is-empty {
    width: auto;
  }



  &.hover {
    background: $bg-metahd-item-cart-btn-red;
    border: 0;

    .flyout {
      margin-top: -11px !important;
    }


    .label {
      color: $colour-white;

      span {
        color: $colour-white;
      }

    }

  }

  .menuitem-wrapper {
    position: relative;
  }

  .flyout {
    margin-top: -10px;
    padding-top: ($spacing-unit * 3);
    right: -1px;
    left: auto;
    width: 376px;

    &:before {
      content: '';
      left: 320px;
    }

    .flyout-body {
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
    }

    .hd {
      background-color: $bg-metahd-item-cart-grey;
      border-bottom: 1px solid $border-metahd-item-cart-grey;
      padding: ($spacing-unit * 4);

      span {

        &.bold {
          font-weight: bold;
        }

      }

      .cart-buttons {
        float: left;
        width: 100%;

        a {
          font-weight: 600;
          text-align: center;
        }

      }

    }

    &__fade {
      background: linear-gradient(180deg, rgba(238,238,238,0) 0%, $colour-white 80%);
      bottom: 0;
      height: 190px;
      position: absolute;
      width: 100%;

      .cart-buttons {
        bottom: -130px;
        float: left;
        padding: 0 ($spacing-unit * 8);
        position: relative;
        text-align: center;
        width: 100%;
      }

    }

  }

  .bd,
  .ft {
    border: 1px solid $border-metahd-item-cart-grey;
    border-top: none;
  }

  .bd {
    background-color: $colour-white;
    border: none;
    color: $colour-dist-grey !important;
  }

  .ft {
    padding: 0 ($spacing-unit * 4) ($spacing-unit * 4) ($spacing-unit * 4);
  }

  .product-wrapper {
    margin: 0 ($spacing-unit * 4);
    padding: ($spacing-unit * 4) 0;
    border-bottom: 1px solid $border-metahd-item-cart-grey;
    overflow: hidden;

    .product-image {
      float: left;
      max-width: 82px;
      vertical-align: top;
    }

    p {
      @include font-size(13px);
      @include line-height(16px);
      margin-left: 103px;

      .qty {
        @include font-size(12px);
        color: $text-metahd-item-cart-grey;
        display: block;
        padding-top: ($spacing-unit * 4);
        width: 100%;
      }

    }

  }

  .btn-go-to-cart {
    border-radius: 2px;
    line-height: 37px !important;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;

    i,
    svg {
      @include font-size(15px);
      float: none;
      margin-left: ($spacing-unit * 2);
      vertical-align: text-bottom;
    }

    .lt-ie8 & {
      height: 19px;
      width: 196px;
    }

  }

  .product-row {
    display: block;

    &:first-child {
      margin-top: 10px;
    }

    &:nth-of-type(4) {
      padding-bottom: 34px;
    }

    &:last-of-type {

      .product-wrapper {
        border-bottom: none;
      }

    }

  }
  
  .menuitem {
    height: 43px;
    padding: ($spacing-unit * 2);
    text-align: center;

    i {
      margin-top: ($spacing-unit - 3);
    }

    .icon-cart {
      display: none;
      float: left;
      vertical-align: bottom;

      i {
        @include font-size(18px);
        color: $colour-white;
        margin-left: 0;

        font {
          vertical-align: bottom !important;
        }

      }

    }

    .label {
      float: none;
      margin-left: 0;
    }

    .icon-dropdown {
      float: right;

      i {
        margin-top: 3px;
        margin-left: 0;
        margin-right: 0;
      }

    }

  }

  .label {
    @include font-size(15px);
    @include line-height(21px);
    color: $colour-white;
    display: inline-block;
    float: left;
    font-weight: normal;
    margin-top: 2px;


    span {
      @include font-size(15px);
      @include line-height(21px);
      color: $colour-white;
    }

    &__text {
      display: inline-block;
    }

    .product-count {
      display: inline-block;
      max-width: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom; // For alignment with metahd arrows
    }

  }

}

.isie7 {

  .skin-metahd-item-cart {

    .menuitem {

      .label {
        @include line-height(29px);
      }

    }

  }

}
