.skin-metahd-item-nav-button {
  border: 0;
  display: none !important;
  float: left;
  margin-left: 0;
  text-align: center;
  width: 33%;

  .nav-button-holder {
    @include font-size(15px);
    @include line-height(21px);

    &.active {
      background: $bg-metahd-item-grey;
    }

    .icon {
      color: $colour-dist-grey;
      display: block;
      padding: ($spacing-unit * 2 + 1) 0;
    }

  }

}