.mod-checkout-complete-delivery-checkbox {

  .col-c {

    .checkbox-big {

      &__delivery {
        clip: auto;
        height: auto;
        margin-top: 0;
        position: absolute;
        top: 0;
        vertical-align: top;
        visibility: hidden;
        width: auto;

        & + input {

          & + label {
            float: left;
            padding-bottom: 0;
            padding-top: 0;
            width: auto;
          }

        }

        span {
          margin-left: ($spacing-unit * 2);
        }

      }

    }

    label {
      float: left;
      padding-bottom: 0;
      padding-top: 0;
      width: auto;
    }

  }

}
