@import 'global-utilities';

.page-title {
  display: flex;

  &__heading {
    @include typography-display-lg;

    margin-bottom: 0;
    margin-left: ($ux-spacing-unit * 3);
    font-weight: $font-weight-normal;

    @include tablet {
      @include typography-display-xxl;

      margin-left: 0;
      font-weight: $font-weight-medium;
    }
  }

  &__back-navigation {
    display: flex;

    @include tablet {
      display: none;
      align-items: center;
    }
  }
}
