@import 'global-utilities';

.energy-efficiency-label {
  position: relative;
  display: flex;

  &.search-popup {
    display: inline-block;
  }
}

.quick-order {
  background: $colour-white;
  border-right: ($spacing-unit - 4) solid $border-dist-grey;
  border-left: ($spacing-unit - 4) solid $border-dist-grey;
  cursor: pointer;
}

.energy-efficiency-image {
  cursor: pointer;
  height: auto;
  width: 55px;
}

.energy-efficiency-image-small {
  cursor: pointer;
  height: 24px;
  width: auto;
}

.energy-efficiency {
  position: absolute;

  &.pop-over {
    position: absolute;
    margin-top: $spacing-unit * 2;
    z-index: $zindex-popover;

    &.search-popup {
      position: fixed;
      left: 210px;
      top: 115px;
    }
  }

  &.label {
    bottom: 2px;

    &__big {
      color: $colour-black;
    }
  }
}

.image-regular {
  overflow: visible;
}

.image-small {
  overflow: visible;
  height: 200px; // hack, so that this image does not go "under the footer" on PLP
}

.hidden {
  display: none;
}
