.mod-lightbox-open-order {
	// the modal window
	.modal {
		#obj > .modal();
		.bd{
			overflow: visible;
		}
	}

	label {
		width: 100%;
		display: block;
		#typo > .size-x-c();
		line-height: 35px;
	}

	.dropdown-wrapper{
		margin-top: @spc-v;
	}

	.dropdown-wrapper, .checkbox-wrapper{
		margin-bottom: 10px;
	}

	.base .field {
		width: 100%;
		margin-bottom: 6px; // review JW
		&.quantity{
			width: 50px;
		}
	}

	.selectboxit-container  {
		width: 100%;
		.selectboxit{
			width: 100%;
		}
		.selectboxit-text{
			width: 360px;
			max-width: 360px !important;
		}
		.selectboxit-options{
			width: 100%;
		}

		.selectboxit-option-anchor{
			padding-right: 8px;
			width: 100%;

		}
	}
	.field + .selectboxit-container .selectboxit-options {
		margin-top: 0;
	}
}
