.mod-lightbox-order-reference {
	// the modal window
	.modal {
		#obj > .modal();
		.bd{
			overflow: visible;
		}
	}

	label {
		width: 100%;
		display: block;
		#typo > .size-x-c();
		line-height: 35px;
	}


	.base .field {
		width: 100%;
		margin-bottom: 6px;
	}

}
