.mod-account-company-information {
	margin-top: 23px;
	
	.subtitle {
		#typo > .heading-content();
	}

	.company-data {
		#border .border-std(1px, 0, 1px, 0);
		#typo > .size-s();

		.entry {
			float: left;
			width: 25%;
			padding: @spc-v/2;
			word-break: break-all;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}

			// reset
			dl, dd {margin: 0;}

			.label {
				font-weight: bold;
			}
		}
	}
}
