@import 'global-utilities';

.energy-efficiency-holder {
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  background-color: $colour-white;
  border-radius: 8px;
  border: 1px solid $colour-popup-border;
  box-shadow: $colour-box-shadow-200;

  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 ($spacing-unit * 4) ($spacing-unit * 9 + 1) ($spacing-unit * 4);
  position: fixed;
  z-index: $zindex-modal;

  top: 15%;
  width: 300px;

  @include tablet {
    top: 20%;
  }

  .close-btn {
    position: relative;
    left: 45%;
  }

  .eel-image {
    width: 295px;
  }
}
