@import 'global-utilities';

.CartPageTemplate {
  .app-disruption-message,
  .app-global-message {
    background: $colour-pale-grey;
  }

  main {
    position: relative;
  }

  header {
    display: flex;
  }

  .cart-mobile {
    display: block;
    margin-top: $spacing-unit * 24;
  }

  .main-footer {
    @include tabletDown {
      display: none;
    }
  }
}
