/* stylelint-disable selector-class-pattern */
@import 'global-utilities';

.SearchResultsListPageTemplate,
.CategoryPageTemplate,
.ProductFamilyPageTemplate {
  display: block;
  background-color: $colour-pale-grey;

  main {
    background-color: $colour-pale-grey;
    margin-top: 0;
  }

  .breadcrumb {
    background-color: $colour-pale-grey;

    @include mobileOnly {
      display: none;
    }
  }

  .showing-results-labels {
    @include mobilePlus {
      margin-bottom: ($ux-spacing-unit * 4);
    }

    @include tabletPlus {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    app-product-list-pagination {
      .container {
        padding-right: 0;
      }
    }
  }
}
