.CompareListPageTemplate {
  .main-footer {
    @media print {
      display: none;
    }
  }

  .breadcumbs {
    @media print {
      display: none;
    }
  }

  .Logo {
    .mod-metahd {
      @media print {
        display: none;
      }
    }
  }
}
