@import 'global-utilities';

.LoginPageTemplate {
  .app-disruption-message,
  .app-global-message {
    background: $colour-pale-grey;
  }
  app-breadcrumb {
    background: $colour-pale-grey;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}
