/* stylelint-disable selector-class-pattern */
.ManufacturerStoreDetailPageTemplate {
  background: $colour-pale-grey;
  display: block;

  .showing-results-labels {
    @include mobilePlus {
      margin-bottom: ($ux-spacing-unit * 4);
    }

    @include tabletPlus {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .page-title__heading {
      @include typography-display-lg;
      font-weight: $font-weight-semiBold;
      margin-bottom: 0px;
    }

    app-manufacturer-detail-top-bar {
      .container {
        padding: 0px;
      }
    }

    app-product-list-pagination {
      .container {
        padding-right: 0;
      }
    }
  }
}

.xtra-h {
  height: auto !important;
}
