.ProductDetailsPageTemplate {
  position: relative;

  app-dist-banner {
    display: none;

    @include desktop {
      margin-top: ($ux-spacing-unit * 6);
    }

    @include tabletPlusDown {
      margin-top: ($ux-spacing-unit * 5);
    }

    @include tablet {
      display: block;
    }
  }

  app-banner {
    display: none;

    @media #{$ipad} {
      display: block;
      float: left;
      margin-top: ($spacing-unit * 4);
      width: 100%;
    }

    @media #{$ipad-landscape} {
      margin-top: 0;
    }
  }

  .breadcrumb {
    display: block;
    margin-top: ($ux-spacing-unit * 4);
  }
}
