@import 'global-utilities';

app-page-layout.SearchFeedbackSentPageTemplate {
  @extend .container;

  display: block;
  padding-bottom: 50px;

  cx-page-slot[position='Content'] {
    h1 {
      margin: 30px 0 15px;
      color: $colour-red;
      font-weight: 300;
      font-size: 28px;
      line-height: 34px;
    }
  }
}
