@media print {
  .ShoppingListPageTemplate {
    app-breadcrumb,
    #shoppingList_add_to_cart_btn,
    .select-all-wrapper,
    .toolbar-section,
    .sidebar-shopping-list {
      display: none;
    }

    .sidebar-shopping-list {
      .add-new-list {
        display: none;
      }
    }

    .shopping-page-title {
      margin-bottom: ($spacing-unit * 4);
    }

    .shopping-list-main {
      margin-top: ($spacing-unit * 6);
    }
  }
}
