/* stylelint-disable selector-class-pattern */
@import 'global-utilities';

.StorePageTemplate {
  background: $colour-pale-grey;
  display: block;

  app-breadcrumb-wrapper,
  app-product-list-pagination,
  app-dist-component-group,
  app-store-page-content {
    background: $colour-pale-grey;
  }

  app-dist-component-group,
  app-breadcrumb-wrapper {
    display: flex;
    justify-content: center;
  }

  app-store-page-content {
    display: flex;
    flex-direction: column;
  }

  .app-dist-component-group {
    .parallax {
      margin: 0px;

      .heading {
        h2 {
          margin: 0px;
        }
      }
    }
  }

  .pagination {
    @include mobilePlus {
      margin-bottom: ($ux-spacing-unit * 4);
    }
  }
}
