.mod-lightbox-login-required-import-tool, .mod-lightbox-login-favorites {

  .import-tool-modal, .favorites-modal {
    background: $colour-white;
    left: 40%;
    width: 400px;

    &.current {
      display: block;
    }

    .error-box {
      display: none;
    }

    .hd {
      background: $bg-light-box-import-tool-header;
      display: table;
      float: left;
      height: 100%;
      padding: ($spacing-unit * 5);
      text-align: center;
      width: 100%;

      &__left {
        display: table-cell;
        vertical-align: middle;
      }

      &__right {
        display: table-cell;
        vertical-align: middle;
      }

      .title {
        @include font-size(20px);
        @include line-height(26px);
        color: $colour-white;
        font-weight: normal;
        margin: 0;
      }

    }

    .bd {
      float: left;
      padding: ($spacing-unit * 5) ($spacing-unit * 5) 0;
      width: 100%;

      .form-row {
        float: left;
        width: 100%;

        .field {
          float: left;
          width: 100%;
        }

        .fields {
          @include font-size(14px);
          height: 36px;
          padding: 0 0 0 ($spacing-unit * 3);
          width: 100%;
        }

        &.password {
          margin-top: ($spacing-unit);

          > label {
            display: none;
          }

        }

      }

    }

    .ft {
      float: left;
      padding: 0 ($spacing-unit * 5) ($spacing-unit * 5);
      width: 100%;

      .left {
        float: left;
        width: 100%;

        .link {
          @include font-size(13px);
          @include line-height(15px);
          color: $colour-dist-mid-grey;
          display: block;
          float: right;
          font-weight: normal;
          text-decoration: none;

          &:hover {
            color: $colour-dist-grey;
            text-decoration: underline;
          }

        }

        .remember-btn-holder {
          float: left;
          padding-bottom: ($spacing-unit * 3);
          width: 100%;
        }

      }

      .or {
        @include font-size(18px);
        @include line-height(21px);
        display: block;
        padding: ($spacing-unit * 4) 0;
      }

      .mat-button {

        &--action-red {
          min-width: 186px;
          width: auto;
        }

        &--action-green {
          @include line-height(39px);
          color: $colour-white;
          display: block;
          text-decoration: none;
        }

      }

    }

  }

  .favorites-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;

    @media #{$ipad-landscape} {
      top: 30%;
      width: 400px;
    }

    .hd {

      &__right {

        .btn-close {

          .octagon {

            &__inner {

              i {
                margin: 0;
              }

            }

          }

        }

      }

    }

  }

}
