@import 'global-utilities';

.cms-custom-container {
  display: block;
  padding: $spacing-unit * 4 0;

  @include tablet {
    display: inline-flex;
  }

  .sitemap {
    &__left {
      width: 100%;

      @include tablet {
        width: 70%;
      }
    }

    &__right {
      float: left;
      width: 100%;

      @include tablet {
        width: 25%;
      }
    }
  }

  .categories-list {
    columns: 2;
  }

  .heading {
    margin-bottom: $spacing-unit * 3;
    font-weight: $font-weight-bold;
    color: $ux-red;

    @include typography-text-sm;
  }

  .sub-cat {
    margin-left: $spacing-unit * 4;
    font-weight: $font-weight-normal;
    overflow-wrap: break-word;

    @include typography-text-sm;

    &:hover {
      color: $colour-dist-mid-grey;
    }
  }

  .item-holder {
    display: inline-block;
    break-inside: avoid-column;
    width: 100%;
    margin-bottom: $spacing-unit * 4;
  }

  a {
    display: block;
  }
}
