.mod-mov-pop-up {
  display: none;

  &--show {
    display: block;
  }

  .mov-pop-up {
    background-color: $colour-white;
    border: 2px solid $colour-dark-grey;
    height: auto;
    left: 0;
    padding: $spacing-unit * 4;
    position: fixed; 
    top: 33%;
    width: 100%;
    z-index: 2001;

    @media #{$mobile-landscape} {
      left: 23%;
      width: 50%;
    }

    @media #{$ipad-landscape} {
      left: 36%;
      width: 25%;
    }

    &__text {
      color: $colour-black;

      p {
        margin-bottom: $spacing-unit * 4;
        text-align: center;
      }

    }

    &__button {

      button {
        margin: 0 auto;
        text-transform: uppercase;
        width: 50%;
      }

    }

    &-background {
      background-color: rgba(255, 255, 255, .7);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2000;
    }

  }

}
