.skin-metahd-item-nav-button {
  border: 0;
  display: inline-block;
  float: left;
  margin-left: 0;
  text-align: center;
  width: 33%;

  @media #{$ipad-landscape} {
    display: none;
  }

  .nav-button-holder {
    @include font-size(15px);
    @include line-height(21px);

    &.active {
      background: $bg-metahd-item-grey;
    }

    .icon {
      color: $colour-dark-grey;
      display: block;
      padding: ($spacing-unit * 2 + 1) 0;
    }

  }

}