.skin-metahd-item-cart {
  border: 0;
  border-left: 1px solid $border-metahd-item-grey;
  float: left;
  margin-left: 0;
  width: 33%;

  @media #{$ipad-landscape} {
    background: $bg-metahd-item-cart-btn-red;
    border: 0;
    border-radius: 2px;
    flex-shrink: 0;
    float: none;
    margin-left: ($spacing-unit * 3);
    min-width: 120px;
    width: auto;
    order: 3;
  }

  &.skin-metahd-item-cart-is-empty {

    @media #{$ipad-landscape} {
      width: auto;
    }

  }


  &.hover {
    background: transparent;
    border-left: 1px solid $border-metahd-item-grey;

    .flyout {
      display: none;
      margin-top: 0 !important;

      @media #{$ipad-landscape} {
        display: block;
        margin-top: -11px !important;
      }

    }

    @media #{$ipad-landscape} {
      border: 0;
    }

    .label {
      color: $colour-black;

      @media #{$ipad-landscape} {
        color: $colour-white;
      }

      span {
        color: $colour-black;

        @media #{$ipad-landscape} {
          color: $colour-white;
        }

      }

    }

    @media #{$ipad-landscape} {
      background: $bg-metahd-item-cart-btn-red;
    }

  }

  .menuitem-wrapper {
    position: unset;
    
    @media #{$ipad-landscape} {
      height: 100%;
      position: relative;
    }
    
  }

  .flyout {
    margin-top: -10px;
    padding-top: 0;
    right: -1px;
    left: 0;
    width: 100%;

    @media #{$ipad-landscape} {
      padding-top: ($spacing-unit * 3);
      left: auto;
      width: 376px;
    }

    &:before {
      content: none;
      left: 320px;

      @media #{$ipad-landscape} {
        content: '';
      }

    }

    .flyout-body {
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);

      .container-four {

        a {

          &:last-child {

            .product-wrapper {
              margin-bottom: ($spacing-unit * 4);
            }

          }

        }

      }

    }

    .hd {
      background-color: $bg-metahd-item-cart-grey;
      border-bottom: 1px solid $border-metahd-item-cart-grey;
      padding: ($spacing-unit * 4);

      span {
        @include font-size(14px);
        @include line-height(20px);
        font-weight: 500;

        &.bold {
          @include font-size(16px);
          font-weight: bold;
        }

      }

      .cart-buttons {
        float: left;
        width: 100%;

        a {
          font-weight: 500;
          text-align: center;
        }

      }

    }

    &__fade {
      background: $colour-white;
      padding-bottom: ($spacing-unit * 3);

      &.four-plus {
        background: linear-gradient(180deg, rgba(238,238,238,0) 0%, $colour-white 80%);
        bottom: 0;
        height: 190px;
        position: absolute;
        width: 100%;

        .cart-buttons {
          bottom: -130px;
        }

      }

      .cart-buttons {
        bottom: 45px;
        float: left;
        padding: 0 ($spacing-unit * 8);
        position: relative;
        text-align: center;
        width: 100%;
      }

    }

  }

  .bd,
  .ft {
    border: 1px solid $border-metahd-item-cart-grey;
    border-top: none;
  }

  .bd {
    background-color: $colour-white;
    border: none;
    color: $colour-dist-grey !important;
  }

  .ft {
    padding: 0 ($spacing-unit * 4) ($spacing-unit * 4) ($spacing-unit * 4);
  }

  .product-wrapper {
    margin: 0 ($spacing-unit * 4);
    padding: ($spacing-unit * 4) 0;
    border-bottom: 1px solid $border-metahd-item-cart-grey;
    overflow: hidden;

    .product-image {
      float: left;
      max-width: 82px;
      vertical-align: top;
    }

    p {
      @include font-size(13px);
      @include line-height(16px);
      margin-left: 103px;

      .qty {
        @include font-size(12px);
        color: $text-metahd-item-cart-grey;
        display: block;
        font-weight: 500;
        padding-top: ($spacing-unit * 4);
        width: 100%;
      }

    }

  }

  .btn-go-to-cart {
    @include font-size-important(13px);
    border-radius: 2px;
    font-weight: bold !important;
    line-height: 41px !important;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;

    i,
    svg {
      @include font-size(15px);
      float: none;
      margin-left: ($spacing-unit * 2);
      vertical-align: text-bottom;
    }

    .lt-ie8 & {
      height: 19px;
      width: 196px;
    }

  }

  .product-row {
    display: block;

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {

      .product-wrapper {
        margin-bottom: ($spacing-unit * 8);
      }

    }

    &:nth-of-type(4) {
      padding-bottom: 34px;
    }

    &:last-of-type {

      .product-wrapper {
        border-bottom: none;
      }

    }

  }
  
  .menuitem {
    height: 43px;
    padding: ($spacing-unit * 2) 0;
    text-align: center;

    @media #{$ipad-landscape} {
      padding: ($spacing-unit * 2);
    }

    i {
      margin-top: ($spacing-unit - 3);
    }

    .icon-cart {
      display: inline-block;
      float: none;
      vertical-align: text-bottom;

      i {
        @include font-size(15px);
        color: $colour-black;
        margin-left: 0;
        padding-right: ($spacing-unit - 3);

        @media #{$ipad-landscape} {
          color: $colour-white;
          margin-top: 0;
        }

      }

    }

    .label {
      float: none;
      margin-left: 0;
    }

    .icon-dropdown {
      float: right;

      i {
        margin-top: 3px;
        margin-left: 0;
        margin-right: 0;
      }

    }

  }

  .label {
    @include font-size(15px);
    @include line-height(21px);
    color: $colour-black;
    display: inline-block;
    float: left;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-top: 2px;

    @media #{$ipad-landscape} {
      color: $colour-white;
    }

    span {
      @include font-size(15px);
      @include line-height(21px);
      color: $colour-black;
      font-family: $font-montserrat;
      font-weight: 500;

      @media #{$ipad-landscape} {
        color: $colour-white;
      }

    }

    &__text {
      display: none;

      @media #{$ipad-landscape} {
        display: inline-block;
      }

    }

    .product-count {
      display: inline-block;
      max-width: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom; // For alignment with metahd arrows
    }

  }

}