.skin-metahd-item-account {
  border: 0;
  border-left: 1px solid $border-metahd-item-grey;
  float: left;
  margin-left: 0;
  width: 33%;

  @media #{$ipad-landscape} {
    border: 0;
    float: left;
    flex-shrink: 0;
    margin-left: ($spacing-unit * 3);
    max-width: 222px;
    min-width: 123px;
    order: 2;
    width: auto;
  }

  &:hover {
    border: 0;
  }

  &.hover {
    border-left: 1px solid $border-metahd-item-grey;

    @media #{$ipad-landscape} {
      border: 0;
    }

    .flyout {
      display: none;
      margin-top: 0 !important;

      @media #{$ipad-landscape} {
        display: block;
        left: 124px;
        margin-top: 0 !important;
      }

    }

  }

  // Popover styling
  .popover {
    background: $colour-dist-red;
    z-index: 1060;

    &.bottom {
      margin-top: 65px;

      .arrow {
        border-bottom-color: $colour-dist-red;
      }

    }

  }

  .ico-compare-popover {
    position: absolute;
    right: 10px;
    top: 8px;
  }

  .ico-favorite-popover,
  .ico-list-popover {

    i {
      display: inline-block;
      position: absolute;
      right: 10px;
    }

  }

  .ico-favorite-popover {

    i {
      margin-top: 3px;
    }

  }

  .menuitem-wrapper {
    height: 100%;
    position: static;
    width: 100%;

    @media #{$ipad-landscape} {
      padding-top: ($spacing-unit);
      position: relative;
    }

    &.is-guest-checkout {
      padding-top: 0;
    }
  }

  // state INITIAL
  .menuitem {
    display: block;
    height: 100%;
    padding: 0;
    width: 100%;
    vertical-align: middle;

    &.is-guest-checkout {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: auto;

      @media #{$ipad-landscape} {
        justify-content: flex-start;
        text-align: left;
      }

      .ux-link {
        font-weight: 500;
      }

      .label-welcome {
        padding-top: $spacing-unit;
      }
    }

    .icon-lock {
      float: left;
    }

    .icon-unlock {
      float: left;

    }

    .label {
      @include font-size(13px);
      @include line-height(21px);
      color: $text-metahd-item-grey;
      display: inline-block;
      float: none;
      margin-top: 0;
      margin-left: 0;
      max-width: 100%;
      padding-left: 0;
      font-weight: normal;
      width: 100%;
      vertical-align: middle;

      @media #{$ipad-landscape} {
        margin-top: -5px;
        width: auto;
      }

      .desktop-holder {
        display: none;

        @media #{$ipad-landscape} {
          display: block;
        }

      }

      .mobile-holder {
        float: left;
        text-align: center;
        width: 100%;

        @media #{$ipad-landscape} {
          display: none;
        }

        &.active {
          background: $bg-metahd-item-grey;
        }

        span {
          color: $colour-dark-grey;
          display: block;
          padding: ($spacing-unit * 2 + 1) 0;
        }

      }

      a {
        color: $colour-dist-mid-grey;
        display: inline-block;
        font-family: $font-montserrat;
        font-weight: 500;

        &:hover {
          color: $colour-dist-grey;
          text-decoration: underline;
        }

      }

    }

    .eproc-label {
      color: $text-metahd-item-grey;
      margin-top: 5px;
    }

    .label-welcome {
      @include font-size(11px);
      @include line-height(10px);
      color: $text-metahd-item-grey;
      display: block;
      font-family: $font-montserrat;
      font-weight: 500;
      overflow: hidden;
      padding-top: 10px;

      .label-name {
        @include font-size(11px);
        @include line-height(11px);

        a {
          color: $text-metahd-item-grey;
        }

      }

    }

    .label-name {
      max-width: 110px;
      display: inline-block;
      float: left;
      font-weight: normal;
      width: 100%;

      a {
        color: $colour-dist-mid-grey;

        &:hover {
          color: $colour-dist-grey;
        }

      }

    }

    .label-account {
      float: left;
      font-weight: 500;
      width: 100%;
    }


    .dropdown-icon {
      display: none;
      float: none;
      line-height: 0;
      margin-top: 15px;
      vertical-align: middle;

      i {
        @include font-size(16px);
        color: $text-metahd-item-grey;
      }

      @media #{$ipad-landscape} {
        display: inline-block;
      }

    }


  }

  .flyout {
    display: none;
    margin-left: -258px;
    margin-top: -170px;
    padding-top: 5px;
    position: absolute;
    width: 376px;
    z-index: 1150;

    &.active {
      overflow-x: hidden;
      overflow-y: auto;
      display: block;
      left: 0;
      margin: 0;
      top: 39px;
      width: 100%;
    }

    &__holder {
      @media #{$ipad-landscape} {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);
      }

    }

    .hd {
      background: $bg-metahd-item-grey;
      border-top: 0;
      padding: 20px 15px;

      @media #{$ipad-landscape} {
        border-top: 3px solid $colour-dark-grey;
      }

      h3 {
        @include font-size(18px);
        @include line-height(21px);
        border: 0;
        color: $colour-dark-grey;
        display: inline-block;
        float: left;
        font-weight: 500;
        height: auto;
        padding: 0;
      }

      .flyout-close {
        cursor: pointer;
        display: none;
        float: right;

        @media #{$ipad-landscape} {
          display: inline-block;
        }

        i {
          @include font-size(20px);
          color: $text-metahd-item-account-grey;
        }

      }


    }

    .bd {
      background: $colour-white;
      border: 1px solid $border-metahd-item-account-grey;
      border-left: 0;
      border-right: 0;
      padding: 20px 15px;

      h3 {
        @include font-size(13px);
        @include line-height(15px);
        color: $colour-dark-grey;
        font-weight: 500;
        margin: 0 0 15px;
        padding: 0;
      }

      .forgetpass {
        @include font-size(13px);
        @include line-height(15px);
        color: $colour-dist-mid-grey;
        float: right;
        font-weight: 500;
        text-align: right;
        transition: all .3s ease-in-out .1s;

        &:hover {
          color: $colour-dist-grey;
          text-decoration: underline;
        }

      }

      .actions-holder {
        margin-bottom: 10px;
        width: 100%;

        &__remember {
          float: left;
          margin-bottom: 5px;
          width: 100%;

          label {
            @include font-size(13px);
            @include line-height(21px);
            color: $colour-dark-grey;
            font-weight: 500;
          }

        }

      }

      .btn-primary {
        border-radius: 2px;
        font-weight: bold;
        height: 41px;
        max-width: 160px;
        outline: none;
        padding: 0;
        transition: all .3s ease-in-out .1s;
        width: 100%;

        &:hover {
          background-color: $colour-white;
          border-color: #cccccc;
          color: $colour-dist-red;
        }

      }

      input {
        @include font-size(13px);
        background-color: $colour-white;
        border: 1px solid $border-metahd-item-account-grey;
        color: $colour-black;
        height: 36px;
        margin-bottom: 15px;
        width: 100%;
      }

      .input-label {
        display: none;
      }

      .ui-list {
        float: left;
        width: 100%;

        &:last-of-type {
          border-top: 1px solid $border-metahd-item-account-grey;
          margin-top: 15px;
          padding-top: 20px;
        }

        li {
          float: left;
          font-weight: 500;
          margin-bottom: 10px;
          width: 100%;

          &.order-manager,
          &.quote-manager,
          &.invoice-manager {

            .badge {

              i {
                @include line-height(22px);
                color: $colour-white;
                position: relative;
                right: -5px;
                text-align: center;
                top: -2px;
                vertical-align: middle;
              }
            }

          }

        }

        a {
          @include font-size(14px);
          @include line-height(17px);
          color: $colour-dist-mid-grey;
          display: block;
          transition: all .3s ease-in-out .1s;

          &:hover {
            color: $colour-dist-grey;
            text-decoration: underline;
          }

          i {
            margin-right: 10px;
            text-align: center;
            width: 15px;
            vertical-align: baseline;
          }

          .number-of-products {
            display: inline-block;
            padding-left: 0;
          }

        }

      }

    }

    .fd {
      background: $bg-metahd-item-grey;
      float: left;
      padding: 20px 15px;
      width: 100%;

      &__new {
        border-bottom: 1px solid #D8D8D8;
        float: left;
        margin-bottom: 25px;
        padding-bottom: 30px;
        width: 100%;

        h3 {
          @include font-size(13px);
          @include line-height(15px);
          color: $colour-dark-grey;
          font-weight: 500;
          margin: 0;
          padding: 0;
        }

        .newcustomer {
          @include font-size(15px);
          @include line-height(38px);
          background-color: $bg-metahd-item-account-green;
          border-radius: 2px;
          color: $colour-white;
          display: block;
          font-weight: bold;
          height: 41px;
          margin-top: 15px;
          text-align: center;
          width: 100%;

          @media #{$ipad-landscape} {
            width: 337px;
          }

        }

      }

      .ui-list {
        float: left;
        width: 100%;

        a {
          @include font-size(14px);
          @include line-height(16px);
          color: $colour-dark-grey;
          display: inline-block;

          .number-of-products {
            display: inline-block;
            padding-left: 0;
          }

          i {
            margin-right: 10px;
          }

        }

      }

      .btn-logout {
        @include font-size(15px);
        display: inline-block !important;
        background-color: $colour-dist-red;
        border: 1px solid $colour-dist-red;
        border-radius: 2px;
        color: $colour-white;
        font-weight: bold !important;
        line-height: 37px !important;
        height: 41px;
        max-width: 177px;
        padding: 0;
        text-align: center;
        transition: all .3s ease-in-out .1s;
        width: 100%;

        &:hover {
          background-color: $colour-white;
          border-color: $border-metahd-item-account-grey;
          color: $colour-dist-red;
        }

      }

    }

    &:before {

      @media #{$ipad-landscape} {
        content: " ";
        display: block;
        position: relative;
        left: 184px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 10px;
        border-color: transparent transparent $colour-dark-grey transparent;
      }

    }

  }

  .badge {

    i {
      @include line-height(22px);
      color: $colour-white;
      position: absolute;
      right: -11px;
      text-align: center;
      top: -11px;
      vertical-align: middle;
    }

  }

}