.skin-metahd-item-search {

  &.search-404 {
    border: 0;
    float: none;
    margin: 0 auto;
    width: 612px;

    &.activeSuggest {

      .searchForm {
        border: 0;
        border-radius: 0;
        position: relative;
        top: 0;
        width: auto;
        z-index: 10;
      }

    }

    .searchForm {

      .input-wrapper {
        border: 1px solid $colour-black;
        border-radius: 2px 0 0 2px;
        border-right: 0;
        height: 43px;

        .select-holder {

          &:after {
            top: -9px;
          }

        }

        .input-search {
          background: $colour-white;
          font-size: 15px;
          line-height: 17px;
          height: 43px;
        }

      }

    }

    .btn-search {
      background: $colour-dist-red;
      border-radius: 0 2px 2px 0;
      color: $colour-white;
      font: inherit;
      height: 43px;
      width: 50px;

      i {
        background: none;
        color: $colour-white;
        font-size: 26px;
        line-height: 20px;
        height: auto;
        margin: 0;
        width: auto;
      }

      svg {
        background: none;
        color: $colour-white;
        font-size: 26px;
        line-height: 20px;
        margin: 0;
      }

    }

  }

}
