.skin-metahd-item-cart-checkout {
  border: 0 !important;
  display: none;

  @media #{$ipad} {
    display: inherit;
  }

  .minicart {
    font-family: 'Helvetica Neue', Arial, sans-serif;

    &__items {

      &__count {
        font-weight: 600;
        margin-bottom: $spacing-unit;
      }

    }

    &__price {
      margin-bottom: $spacing-unit;
    }

    &__link {
      color: $text-metahd-item-cart-link;

      &:hover {
        color: darken($text-metahd-item-cart-link, 20%);
        transition: color .2s ease;
      }

    }
    
  }

}
