// Default Button Styles For Matterhorn Design System

.mat-button {
  border-radius: 2px;
  color: $colour-white;
  cursor: pointer;
  display: block;
  outline: none;
  overflow: hidden;
  text-align: center;
  transition: all 0.2s ease-in-out;

  &--matterhorn {
    @include font-size(14px);
    background-color: $colour-dist-red;
    border-radius: ($spacing-unit - 3);
    text-align: center;
    width: 100%;
  }

  &--action-green {
    @include font-size(15px);
    @include line-height(17px);
    background: $bg-button-green;
    border: 0;
    border-radius: ($spacing-unit - 3);
    font-weight: bold;
    height: 41px;
    text-align: center;
    width: 100%;

    &:hover {
      background: darken($bg-button-green, 20%);
      transition: background-color .2s ease;
    }

  }

  &--action-red {
    @include font-size(15px);
    @include line-height(17px);
    background: $bg-button-red;
    border: 1px solid $bg-button-red;
    border-radius: ($spacing-unit - 3);
    font-weight: bold;
    height: 41px;
    text-align: center;
    width: 100%;

    &:hover {
      background: $colour-white;
      border-color: $border-button-action-red;
      color: $colour-dist-red;
    }

  }

  &--action-red-full {
    @include font-size(15px);
    @include line-height(17px);
    background: $bg-button-red;
    border: 1px solid $bg-button-red;
    border-radius: 0;
    font-weight: bold;
    height: 41px;
    padding: 0 ($spacing-unit * 2);
    text-align: left;
    width: 100%;

    i {
      float: right;
      vertical-align: text-bottom;
    }

    &:hover {
      background: $colour-white;
      border-color: $border-button-action-red;
      color: $colour-dist-red;
    }

  }

  &--action-blue {
    @include font-size(15px);
    @include line-height(17px);
    background: $colour-dist-marigold;
    border-radius: ($spacing-unit - 1);
    color: $colour-black;
    font-weight: bold;
    padding: $spacing-unit ($spacing-unit * 2);
    text-align: center;
    width: 100%;

    &:hover {
      background: $colour-dark-orange;
      transition: background-color .2s ease;
    }

  }
  
  &--action-grey {
    @include font-size(14px);
    @include line-height(17px);
    background-color: $colour-pale-grey;
    border: 1px solid $colour-mid-grey;
    color: $colour-black;
    display: inline-block;
    font-weight: bold;
    padding: $spacing-unit ($spacing-unit * 2);
    text-align: center;

    &:hover {
      background-color: $colour-light-grey;
      transition: background-color .2s ease;
    }

  }

  &__normal {

    &--action-red {
      border: 1px solid $colour-dist-red;
      color: $colour-dist-red;
      padding: $spacing-unit ($spacing-unit * 2);

      &:link,
      &:visited {
        color: $colour-dist-red;
      }

      &:hover {
        border-color: $colour-dark-red;
        color: $colour-dark-red;
      }

    }

    &--action-dark-grey {
      border: 2px solid $colour-dark-grey;
      color: $colour-dark-grey;
      padding: $spacing-unit ($spacing-unit * 2);

      &:link,
      &:visited {
        color: $colour-dark-grey;
      }

      &:hover {
        border-color: $colour-dark-grey;
        color: $colour-dark-grey;
      }

      i {
        color: $colour-dist-mid-grey;
      }

    }

    &--action-blue {
      border: 1px solid $colour-dist-marigold;
      color: $colour-mid-black;
      padding: $spacing-unit ($spacing-unit * 2);

      &:link,
      &:visited {
        color: $colour-mid-black;
      }

      &:hover {
        border-color: $colour-dist-marigold;
        color: $colour-black;
      }

    }

    &--action-green {
      background-color: $colour-dist-green;
      border: 1px solid $colour-dist-green;
      color: $colour-white;
      padding: $spacing-unit ($spacing-unit * 2);

      &:link,
      &:visited {
        color: $colour-white;
      }

      &:hover {
        border-color: $colour-dark-green;
        background-color: $colour-dark-green;
      }

    }

  }

  &__solid {

    &--action-blue {
      background-color: $colour-dist-marigold;
      color: $colour-black;
      padding: $spacing-unit ($spacing-unit * 2);

      &:link,
      &:visited {
        color: $colour-white;
      }

      &:hover {
        background-color: $colour-dark-orange;
      }

    }

    &--action-green {
      background-color: $colour-dist-green;
      color: $colour-white;
      font-weight: bold;
      padding: $spacing-unit ($spacing-unit * 2);

      &:link,
      &:visited {
        color: $colour-white;
      }

      &:hover {
        background-color: $colour-dark-green;
      }

    }

    &--action-orange {
      background-color: $colour-dist-orange;
      color: $colour-white;
      padding: $spacing-unit ($spacing-unit * 2);

      &:link,
      &:visited {
        color: $colour-white;
      }

      &:hover {
        background-color: $colour-dark-orange;
      }

    }

  }

}

a {

  &:hover {
    transition: .2s ease;
  }

}

.btn,
.mat-button {

  &.disabled,
  &[disabled='disabled'] {
    pointer-events: none;
  }

}

/***********************************/
/******** New UX changes ***********/
/***********************************/
.ux-btn {
  @include font-size($ux-form-el-fsize);
  width: 100%;
  height: $ux-form-el-height;
  display: block;
  border: 1px solid transparent;
  border-radius: $ux-form-el-border-radius;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;
  color: $colour-black;
  text-align: center;
  font-weight: 600;
  transition: .3s ease background-color;

  @media #{$ipad-landscape} {
    padding-right: $spacing-unit * 3;
    padding-left: $spacing-unit * 3;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  &.w-auto {
    width: auto;
  }

  &--brand-yellow {
    background: $colour-dist-marigold;

    &:hover {
      background-color: darken($colour-dist-marigold, 5%);
    }
  }

  &--brand-green {
    background-color: $ux-green;
    color: $colour-white;

    &:hover {
      background-color: darken($ux-green, 5%);
    }
  }

  &--white {
    border-width: 2px;
    border-color: $colour-black;
    background-color: $colour-white;

    &:hover {
      background-color: darken($colour-white, 5%);
    }

    &-light {
      border-width: 2px;
      border-color: $ux-input-border-color-light;
      background-color: $colour-white;

      &:hover {
        background-color: darken($colour-white, 5%);
      }
    }
  }

  &--red {
    background-color: $bg-button-red !important;
    color: $colour-white !important;

    &:hover {
      background-color: darken($bg-button-red, 5%) !important;
    }
  }

  &--brand-green,
  &--red {
    &.is-grey-when-disabled {
      &.disabled,
      &[disabled] {
        background-color: $ux-light-grey;
        color: #393E41;
        opacity: 1;
      }
    }
  }

  &--submit {
    background-color: $ux-submit-button;
    color: $colour-white;

    &.disabled,
    &[disabled] {
      background-color: $ux-submit-button-disabled;
      cursor: not-allowed;
    }
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
