@font-face {
  font-family: "Myriad Pro";
  src: url($path-fonts + 'myriadpro-regular.woff') format('woff'),
  url($path-fonts + 'myriadpro-regular.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+0600-06FF,U+1D400-1D7FF,U+0590-05FF,U+4E00-9FFF,U+3400-4DBF,U+20000-2A6DF,
  U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+F900-FAFF,U+2F800-2FA1F,U+0370-03FF,U+1D300-1D35F
  U+0700-074F,U+0F00-0FFF,U+1000-109F,U+1200-137F,U+1100-11FF,U+A500-A63F;
}

@font-face {
  font-family: "Myriad Pro Semi";
  src: url($path-fonts + 'myriadpro-semibold.otf') format('opentype');
  font-display: swap;
  unicode-range: U+0600-06FF,U+1D400-1D7FF,U+0590-05FF,U+4E00-9FFF,U+3400-4DBF,U+20000-2A6DF,
  U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+F900-FAFF,U+2F800-2FA1F,U+0370-03FF,U+1D300-1D35F
  U+0700-074F,U+0F00-0FFF,U+1000-109F,U+1200-137F,U+1100-11FF,U+A500-A63F;
}

@font-face {
  font-family: 'Montserrat';
  src: url($path-fonts + 'Montserrat-Bold.woff2') format('woff2'),
  url($path-fonts + 'Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
  unicode-range: U+0600-06FF,U+1D400-1D7FF,U+0590-05FF,U+4E00-9FFF,U+3400-4DBF,U+20000-2A6DF,
  U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+F900-FAFF,U+2F800-2FA1F,U+0370-03FF,U+1D300-1D35F
  U+0700-074F,U+0F00-0FFF,U+1000-109F,U+1200-137F,U+1100-11FF,U+A500-A63F;
}

@font-face {
  font-family: 'Montserrat';
  src: url($path-fonts + 'Montserrat-SemiBold.woff2') format('woff2'),
  url($path-fonts + 'Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0600-06FF,U+1D400-1D7FF,U+0590-05FF,U+4E00-9FFF,U+3400-4DBF,U+20000-2A6DF,
  U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+F900-FAFF,U+2F800-2FA1F,U+0370-03FF,U+1D300-1D35F
  U+0700-074F,U+0F00-0FFF,U+1000-109F,U+1200-137F,U+1100-11FF,U+A500-A63F;
}

@font-face {
  font-family: 'Montserrat';
  src: url($path-fonts + 'Montserrat-Regular.woff2') format('woff2'),
  url($path-fonts + 'Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0600-06FF,U+1D400-1D7FF,U+0590-05FF,U+4E00-9FFF,U+3400-4DBF,U+20000-2A6DF,
  U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+F900-FAFF,U+2F800-2FA1F,U+0370-03FF,U+1D300-1D35F
  U+0700-074F,U+0F00-0FFF,U+1000-109F,U+1200-137F,U+1100-11FF,U+A500-A63F;
}

@font-face {
  font-family: 'Montserrat';
  src: url($path-fonts + 'Montserrat-Medium.woff2') format('woff2'),
  url($path-fonts + 'Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0600-06FF,U+1D400-1D7FF,U+0590-05FF,U+4E00-9FFF,U+3400-4DBF,U+20000-2A6DF,
  U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+F900-FAFF,U+2F800-2FA1F,U+0370-03FF,U+1D300-1D35F
  U+0700-074F,U+0F00-0FFF,U+1000-109F,U+1200-137F,U+1100-11FF,U+A500-A63F;
}

@font-face {
  font-family: "Roboto Regular";
  src: url($path-fonts + 'Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  unicode-range: U+0600-06FF,U+1D400-1D7FF,U+0590-05FF,U+4E00-9FFF,U+3400-4DBF,U+20000-2A6DF,
  U+2A700-2B73F,U+2B740-2B81F,U+2B820-2CEAF,U+F900-FAFF,U+2F800-2FA1F,U+0370-03FF,U+1D300-1D35F
  U+0700-074F,U+0F00-0FFF,U+1000-109F,U+1200-137F,U+1100-11FF,U+A500-A63F;
}
