.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-md-right {
  @media #{$ipad} {
    text-align: right;
  }
}

.fw-b {
  font-weight: bold !important;
}

.fw-m {
  font-weight: 500 !important;
}

.fw-r {
  font-weight: 400 !important;
}

.p-relative {
  position: relative !important;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

// Hide elements from MD down (MD is visible)
.hidden-md-down {
  @media #{$ipad-down} {
    display: none !important;
  }
}

// Hide elements from MD up (MD is visible)
.hidden-md-up {
  @media #{$ipad} {
    display: none !important;
  }
}

.bg-pale-grey {
  background-color: $colour-pale-grey;
}

ul.ul-list {

  > li {
    position: relative;
    padding-left: $spacing-unit * 3;
    margin-top: $spacing-unit * 3;

    &:before {
      content: '•';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.5em;
    }
  }
}
