select {
  // New selectpicker which contain dropdown "fa-angle-down" icon
  &.ux-selectpicker {
    padding-right: 30px !important;

    &.error,
    &.success {
      + .ux-selectpicker__angle-down {
        right: 48px;
      }
    }

    &::-ms-expand {
      display: none;
    }
  }
}

.ux-selectpicker {
  &__angle-down {
    @include font-size(18px);
    position: absolute;
    top: 24px;
    right: 15px;
    color: $ux-selectpicker-dropdown-color;
    pointer-events: none;
  }
}
