<div class="register__form__holder" [formGroup]="generalRegForm">
  <div class="register__form__holder--full">
    <label class="register__form__holder--title" id="registration.general.country">
      {{ 'registration.general.country' | cxTranslate }}
    </label>

    <small *ngIf="isExportShop" id="registration.general.country_help_t">
      {{ 'registration.general.country_help_t' | cxTranslate }}
    </small>

    <div class="p-relative">
      <select
        class="register__form__holder--input js-validate"
        [id]="'countryCode_' + registrationType"
        [class.is-correct]="generalRegForm.get('countryCodeOther')?.valid"
        [class.is-invalid]="
          generalRegForm.get('countryCodeOther')?.errors && generalRegForm.get('countryCodeOther')?.touched
        "
        (blur)="onEventTrigger('blur')"
        (click)="onEventTrigger('click')"
        (change)="onEventTrigger('change')"
        aria-placeholder="Please select"
        type="text"
        formControlName="countryCodeOther"
      >
        <option id="registration.general.select" value="" disabled selected>
          {{ 'registration.general.select' | cxTranslate }}
        </option>

        <ng-container *ngIf="countryList">
          <ng-container *ngFor="let country of countryList">
            <option [value]="country.isocode" [id]="'countryCode_' + country.isocode">
              {{ country.name }}
            </option>
          </ng-container>
        </ng-container>
      </select>

      <fa-icon
        id="faAngleDownCountryCode"
        [icon]="faAngleDown"
        [class.left]="
          (generalRegForm.get('countryCodeOther')?.errors && generalRegForm.get('countryCodeOther')?.touched) ||
          generalRegForm.get('countryCodeOther')?.valid
        "
      ></fa-icon>

      <fa-icon
        *ngIf="generalRegForm.get('countryCodeOther')?.errors && generalRegForm.get('countryCodeOther')?.touched"
        id="faTimesCountryCode"
        [icon]="faTimes"
      ></fa-icon>

      <fa-icon
        *ngIf="!generalRegForm.get('countryCodeOther')?.errors && isValidNumberForRegion"
        id="faCheckCountryCode"
        [icon]="faCheck"
      ></fa-icon>

      <small
        *ngIf="generalRegForm.get('countryCodeOther')?.errors && generalRegForm.get('countryCodeOther')?.touched"
        class="error"
        id="validations.enter_valid_field"
      >
        {{ 'validations.enter_valid_field' | cxTranslate }}
      </small>
    </div>
  </div>
</div>
