
@font-face {
  font-family: $font-myriad-pro;
  src: url($path-fonts + 'myriadpro-regular.otf') format('opentype');
  src: url($path-fonts + 'myriadpro-regular.ttf') format('truetype'),
        url($path-fonts + 'myriadpro-regular.eot') format('eot'),
        url($path-fonts + 'myriadpro-regular.eot?#iefix') format('eot'),
        url($path-fonts + 'myriadpro-regular.woff') format('woff'),
        url($path-fonts + 'myriadpro-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
