.skin-layout-product {
  -webkit-font-smoothing: antialiased;

  header {
    float: left;
    width: 100%;
  }

  .product-family-holder {
    float: right;

    a {
      @include font-size(12px);
      @include line-height(14px);
      color: $link-blue;
      border: solid 2px transparent;
      font-weight: bold;
      text-transform: capitalize;
      transition: all .2s ease;

      &:hover {
        color: $link-dark-blue;
        border-color: $link-dark-blue;
      }

      i {
        @include font-size(14px);
        margin-left: ($spacing-unit);
        vertical-align: text-bottom;
      }

    }

  }

  .meshlink-section {
    float: left;
    width: 100%;

    .mod-related-pages {
      margin: ($spacing-unit * 2) 0;
    }

  }

  .md-content {
    float: left;
    padding-top: ($spacing-unit + 4);
    width: 100%;
  }

  .mod-error-feedback {
    margin-top: 0;
    position: relative;

    .error-link {

      i,
      svg {
        margin-right: ($spacing-unit);
      }

    }

    .error-report {

      &.pdp-report {
        bottom: 30px;
        left: -220px !important;
        right: 0;
        top: auto !important;
        z-index: 800;
      }

    }

  }

  .msg-section {
    float: left;
    width: 100%;

    .mod-global-messages {
      float: left;
      width: 100%;

      .bd {
        margin: 0 0 ($spacing-unit * 4);
      }

    }

  }

  .bottom-consistentWith {
    width: 100%;
  }

  .bottom-section-holder {
    float: left;
    width: 100%;

    .card {

      &__item {
        margin-bottom: 0;
      }

    }

    .heading {
      @include font-size(28px);
      @include line-height(34px);
      color: $colour-dist-grey;
      float: left;
      letter-spacing: -.6px;
      padding: ($spacing-unit * 3) 0;
      width: 100%;

      &__link {
        @include font-size(15px);
        @include line-height(24px);
        color: $colour-dist-carmine;
        display: inline-block;
        letter-spacing: -.28px;
        padding-left: ($spacing-unit * 3);
        transition: all .2s ease;
        vertical-align: bottom;

        &:hover {
          color: $colour-dist-carmine;
        }

      }

    }

    hr {

      &.divider {
        border-color: $colour-dist-grey;
      }

    }

  }

  .breadcrumb-section {
    float: left;
    margin-bottom: ($spacing-unit * 4);
    width: 100%;

    @media print {
      display: none;
    }

  }

  .manufacturer-wrap {
    float: right;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 5px;
    width: 15%;
  }

  .md-system {

    .container {
      margin: 0 auto;
      width: 1200px;

      .content-holder {
        float: left;
        width: 100%;
      }

      .col-12 {
        float: left;
        padding: 0 ($spacing-unit * 2);
        width: 100%;
      }

      .col-lg-4,
      .col-md-4 {
        display: inline-block;
        float: left;
        padding: 0 ($spacing-unit * 2);
        width: 33.33333%;
      }

      .col-md-2 {
        display: inline-block;
        float: left;
        padding: 0 ($spacing-unit * 2);
        width: 16.66667%;
      }

      .col-lg-8 {
        display: inline-block;
        float: left;
        padding: 0 ($spacing-unit * 2);
        width: 66.66667%;
      }

      .col-lg-6 {
        display: inline-block;
        float: left;
        padding: 0 ($spacing-unit * 2);
        width: 50%;
      }

    }

    .product-section {
      float: left;
      width: 100%;
    }

  }

}

.isie7 {

  .skin-layout-product {

    header {
      padding-bottom: ($spacing-unit * 14);
    }

    .md-system {

      .container {

        .col-lg-4 {
          width: 32%;
        }

        .col-md-4 {
          width: 31.7%;
        }

        .col-md-2 {
          width: 15%;
        }

        .col-lg-8 {
          width: 64.7%;
        }

        .col-lg-6 {
          width: 48%;
        }

      }

    }

  }

}
