// print pdp page
@media print {

  .skin-layout-product {
    margin: 0 !important;

    .md-content {
      overflow: hidden !important;

      .container {
        margin: 0 !important;
        width: 710px !important;
      }

    }

    header,
    footer,
    .breadcrumb-section,
    .bottom-section-holder,
    .meshlink-section,
    .tab-content__holder,
    .mod-print-footer {
      display: none;
    }

    .col-12,
    .col-lg-6 {
      width: 100% !important;
    }



  }

}
