.skin-layout-full-width {

  .mod-product-tools {
    display: none;
  }

}

.isie7 {

  .skin-layout-full-width {
    overflow: visible !important;

    .gu-70 {
      margin-left: ($spacing-unit * 4);
    }

    .btn-switch-technical {
      display: none;
    }

    .mod-product-tools {
      display: none;
    }

    .mod-product {
      @include line-height(20px);
      @include font-size(16px);
    }

    .skin-productlist-search-tabular {

      .headcol {

        .availability {
          width: 143px;
        }

      }

      .divScrollTable {
        margin-left: 0;

        .tr_content {
          position: relative;
        }

      }

      .skin-scaled-prices-single-tabular {

        .row {

          .nth2 {
            width: 73px;
          }

        }

      }

      .divScrollTable-s {

        &.divScrollTable {
          margin-left: 0;
        }

      }

    }

    .skin-scaled-prices-product-list-technical {
      bottom: 0;
      left: 0;
    }

    .mod-numeric-stepper {

      .cell-numeric-tabular {
        height: 0;
      }

    }

    .mod-facets {

      .xmod-facets {

        .show-more-link {

          i {
            margin-top: -23px;
          }

        }

      }

    }

    .cell-numeric-tabular {

      .numeric {

        .ipt {
          width: 48px;
        }

      }

    }

    .skin-product-technical {

      .main {

        &__image {
          width: 144px;
        }

        &__content {
          width: 485px;
        }

        &__actions {
          width: 200px;
        }

      }

    }

  }

}
