.skin-layout-responsive {

  .body-container {
    padding: 0;

    .main-content-right {
      padding: 0;
    }

  }

  .page-title {
    position: relative;

    &__back-navigation {
      display: none;
    }

    &--with-count {
      @include font-size(18px);
      @include font-size(28px);
      color: $colour-dist-grey;
      float: left;
      margin: ($spacing-unit * 4) 0 ($spacing-unit * 3) 0;
      width: 100%;

      .for-mobile {
        display: none;
      }

      .matched-products-count {
        @include font-size(18px);
        display: inline-block;
        margin-left: ($spacing-unit * 3);

        b {
          display: inline-block;
          font-weight: normal;
        }

        &__text {
          margin-left: $spacing-unit;
        }
      }

    }

  }

  .productlistpage {

    &__filter-product-list {

      .ajax-product-loader {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;

        .background-overlay {
          bottom: 0;
          left: 0;
          position: fixed;
          right: 0;
          top: 0;
        }

        .message-wrapper {

          .loading-message {
            bottom: initial;
            left: 50%;
            margin: 0;
            position: fixed;
            transform: translate(-50%,-50%);
            top: 50%;

            &__icon {
              display: inline-block;
              width: 32px;
            }

          }

        }

      }

    }

  }

  .container {
    clear: both;
    margin: 0 auto;
    max-width: 1200px;
  }

  .col-md-1,
  .col-lg-2,
  .col-lg-10,
  .col-md-11 {
    float: left;
    padding: 0 $spacing-unit*2;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .pull-right {
    float: right;
  }

}

.isie7 {

  .skin-layout-responsive {

    .col-md-11 {
      width: 85%;
    }

  }

}