.skin-layout-category {


  &.category-page {

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .page {

      &__title {
        margin-bottom: $spacing-unit*6;
      }

    }

    .mod-breadcrumb {
      margin: 0;

      .ct {
        width: 100%;
      }

    }

    .page-wrapper {
      clear: both;
      padding: ($spacing-unit) 0 ($spacing-unit*4) 0;
    }

    .mod-warning-component {
      clear: both;
      margin-top: $spacing-unit*3;
    }

    .offers-and-promotions {
      display: none;

      .divider {
        display: none;
      }

      .container {
        padding: 0;
      }

      .heading {
        @include font-size(20px);
        font-family: $font-montserrat;
        margin: ($spacing-unit*5) 0 $spacing-unit*2 0 ;
      }

    }

    .page-title {
      @include font-size(28px);
      @include line-height(24px);
      color: $color-category-dark-grey;
      font-family: $font-montserrat;
    }

  }

  .top-brands {
    background-color: $colour-white;
    border: 1px solid $color-category-thumps-grey;
    margin: ($spacing-unit*10) 0;
    padding: ($spacing-unit*4) ($spacing-unit*2) 0 ($spacing-unit*2);

    .divider {
      display: none;
    }

    .heading {
      @include font-size(20px);
      font-family: $font-montserrat;
      left: -($spacing-unit*2);
      position: absolute;
      top: -($spacing-unit*11);

    }

  }

  .md-system {

    .container {
      position: relative;
    }

    .row {
      margin-right: -10px;
      margin-left: -10px;
    }

    .col,
    .col-12,
    .col-md-2,
    .col-md-4 {
      float: left;
      padding: 0 ($spacing-unit*2);
    }

    .col-md-4 {
      width: 33.33333%;
    }

    .col-md-2,
    .col-lg-2 {
      width: 16.6%;
    }

  }

}