.skin-layout-nonavigation {

  .main-content-right {
    width: 100% !important;

    @media #{$ipad-landscape} {
      width: 960px !important;
    }

    @media #{$desktop} {
      width: 1280px !important;
    }

  }

  .mod-global-messages {
    width: 100%;

    @media #{$desktop} {
      width: 1280px;
    }

  }

  .content-wrapper {
    width: 100%;

    @media #{$ipad-landscape} {
      width: 960px;
    }

    @media #{$desktop} {
      width: 1280px;
    }

  }

}
