
.cmscontentpage {

  .breadcrumb {

    .ct {
      margin: 0;
    }

  }

  section {
    clear: both;
  }

  .parallax {
    width: 100%;
  }

  .heading {
    @include font-size(28px);
    @include line-height(34px);
    color: $colour-dark-grey;
    font-family: $font-montserrat;
    margin: ($spacing-unit * 5) 0;
    letter-spacing: -0.6px;

    &__logo {
      display: inline-block;
      width: 220px;

      img {
        width: 100%;
      }

    }

    &__subtitle {
      @include font-size(15px);
      @include line-height(24px);
      color: $colour-dist-grey;
      display: inline-block;
      font-family: $font-arial;
      letter-spacing: -0.28px;
    }

    &__link {
      @include font-size(15px);
      @include line-height(24px);
      color: $colour-dist-carmine;
      font-family: $font-arial;
      letter-spacing: -0.28px;
      margin-left: $spacing-unit * 4;
      transition: all .2s ease;

      &:hover {
        color: $colour-dist-carmine;
      }

    }

  }

  .parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {

      &__border {
        line-height: 0;
      }

    }

    &.current-by-distrelec {
      margin-bottom: $spacing-unit * 8;

      .divider {
        display: none;
      }

      .parallax {

        &__content{
          background-color: rgba(0, 0, 0, 0.5);

        }

      }

      .heading {

        &__subtitle {
          color: $colour-white;
        }

      }

    }

    &.robotics-hub {
      background-image: linear-gradient(0deg, #FFFFFF 50%, $colour-pale-grey 100%) !important;

      .divider {
        display: none;
      }

      .parallax {

        &__content{

          &__border {
            border-top: 4px solid $colour-dist-carmine;
            position: relative;

            &:before {
              border-top: 4px solid $colour-black;
              content: "";
              position: absolute;
              top: -4px;
              width: 20%;
            }

            &:after {
              border-top: 4px solid $colour-dist-red;
              content: "";
              position: absolute;
              right: 0;
              top: -4px;
              width: 10%;
            }

          }

        }

      }

    }

  }

  .divider {
    background-color: $colour-dark-grey;
    border-top: 2px solid $colour-dark-grey;
    margin: 0;
    padding: 0;
  }

  .heading {

    &__subtitle {
      float: right;
    }

  }

  .bottom__link {
    margin: ($spacing-unit * 6) 0;
    text-align: center;
    transition: all .2s ease;
  }

  &__with-navigation {

    .page-wrapper {
      clear: both;
      padding-top: $spacing-unit * 2;
    }

    .container {
      padding: 0;
    }

    .left-content {
      order: initial;
      margin-top: 0;
    }

  }

  &__wo-navigation {

    .page-wrapper {
      clear: both;
      padding-top: $spacing-unit * 5;
    }

    .mod-banner {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 $spacing-unit*2;
    }

    .top-brands {

      .mod-banner {
        padding: 0;
      }

    }

  }

  .footer {
    margin-top: $spacing-unit * 3;
  }

  .robotics-hub {

    .container {
      padding: 0 $spacing-unit*2;
    }

  }

}
