.mod-layout {

  &.menu-active {
    overflow: hidden !important;
  }

  #main {
    width: 100%;

    @media #{$ipad-landscape} {
      width: 950px;
    }

  }

  .footer {
    margin-left: 0;
  }

}


.skin-layout-product, .skin-layout-account {

  .body-container {
    overflow: visible;
  }

}
