.skin-layout-product-family {

  .body-container {
    width: 100%;

    #main {
      float: none;
      margin: 0 auto;
      padding: 0 ($spacing-unit * 2);
      width: 100%;

      #breadcrumb {
        float: none;
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;

        @media #{$ipad} {
          max-width: 720px;
        }

        @media #{$ipad-landscape} {
          max-width: 960px;
        }

        @media #{$desktop} {
          max-width: 1200px;
        }

        .mod-breadcrumb {

          .ct {
            float: left;
          }

        }

      }

      .mod-product {
        border: 0;
      }

      .product-family {
        float: left;
        width: 100%;

        &--oci-wrap {
          float: none;
          margin: 0 auto;
          max-width: 1200px;
          width: 100%;

          @media #{$ipad} {
            max-width: 720px;
          }

          @media #{$ipad-landscape} {
            max-width: 960px;
          }

          @media #{$desktop} {
            max-width: 1200px;
          }

        }

        a {

          &.product-family {
            display: none;
          }

        }

        &__main {
          box-sizing: border-box;
          float: left;
          width: 100%;

          @media #{$ipad-landscape} {
            padding-right: ($spacing-unit * 10);
            width: 75%;
          }

          &--header {
            align-items: center;
            display: inline-flex;
            flex-wrap: wrap;
            float: left;
            margin-top: ($spacing-unit * 5);
            width: 100%;

            @media #{$ipad-landscape} {
              flex-wrap: nowrap;
              margin-top: 0;
            }

            .img-wrap {
              width: 100%;

              @media #{$ipad-landscape} {
                margin-bottom: 0;
                width: auto;
              }

              img {
                display: inline-block;
                float: left;
                max-width: 100%;
              }

            }

            .title-wrap {
              flex: 1 1 100%;
              margin-bottom: ($spacing-unit * 5);
              text-align: left;

              @media #{$ipad-landscape} {
                margin-bottom: 0;
                padding-left: ($spacing-unit * 6);
              }

              span {
                @include font-size(18px);
                flex: 1;
                line-height: normal;
                text-align: left;
                width: 100%;

                @media #{$ipad-landscape} {
                  @include font-size(24px);
                  max-width: 90%;
                  text-align: left;
                  width: auto;
                }

                @media #{$desktop} {
                  max-width: 100%;
                }

              }

            }

          }

          &--intro-text {
            @include font-size(14px);
            float: left;
            margin-top: ($spacing-unit * 5);
            width: 100%;

            @media #{$ipad-landscape} {
              margin: ($spacing-unit * 8) 0 ($spacing-unit * 2) 0;
            }

            ul {
              display: list-item;
              float: left;
              list-style: disc;
              margin: ($spacing-unit * 3) 0 0 0;
              width: 100%;

              @media #{$ipad} {
                display: table-row;
              }

              li {
                display: list-item;
                list-style-type: disc;
                list-style-position: inside;
                margin-bottom: ($spacing-unit);
                width: 100%;

                &:last-child {
                  margin-bottom: 0;
                }

                @media #{$ipad} {
                  float: left;
                  margin-right: 4%;
                  padding-left: 2.14em;
                  text-indent: -1.24em;
                  width: 46%;

                  @-moz-document url-prefix() {
                    padding-left: 1.8em;
                    text-indent: -0.8em;
                  }

                  &:last-child {
                    margin-bottom: ($spacing-unit);
                  }

                }

                span {
                  @include font-size(14px);
                  display: list-item;
                }

              }

            }

          }

          &--features {
            float: left;
            margin-top: ($spacing-unit * 5);
            width: 100%;

            @media #{$ipad-landscape} {
              margin-top: ($spacing-unit * 4);
            }

            .title {
              @include font-size(18px);
              border: 0;
              color: $colour-black;
              float: left;
              margin: 0;
              width: 75%;
            }

            a {
              @include line-height(34px);
              @include font-size(13px);
              background: $colour-dist-red;
              box-sizing: border-box;
              color: $colour-white;
              float: left;
              font-weight: 600;
              height: 34px;
              margin-top: ($spacing-unit * 4);
              padding: 0 ($spacing-unit * 4);
              width: auto;

              @media #{$ipad} {
                margin-left: ($spacing-unit * 3);
              }

            }

            ul {
              display: inline-block;
              float: left;
              list-style: disc;
              margin: ($spacing-unit * 3) 0 0 0;
              width: 100%;

              @media #{$ipad} {
                display: table-row;
              }

              li {
                display: inline-block;
                list-style: disc;
                list-style-position: inside;
                margin-bottom: ($spacing-unit);
                width: 100%;

                &:last-child {
                  margin-bottom: 0;
                }

                @media #{$ipad} {
                  display: table-cell;
                  float: left;
                  list-style-type: disc;
                  list-style-position: inside;
                  margin-right: 4%;
                  padding-left: 2.14em;
                  text-indent: -1.24em;
                  width: 46%;

                  @-moz-document url-prefix() {
                    padding-left: 1.8em;
                    text-indent: -0.8em;
                  }

                  &:last-child {
                    margin-bottom: ($spacing-unit);
                  }

                }

                span {
                  @include font-size(14px);
                  display: list-item;
                }

              }

            }

            img {
              float: left;
              margin: ($spacing-unit * 4) 0 ($spacing-unit * 6) 0;
              max-width: 100%;

              @media #{$ipad-landscape} {
                max-width: 70%;
              }

            }

            .video-container {
              float: left;
              margin: ($spacing-unit * 4) 0;
              width: 100%;

              .mod-video {

                .wrapper-container {

                  iframe {
                    width: 100%;

                    @media #{$ipad} {
                      width: 480px;
                    }

                  }

                }

              }

            }

          }

          &--productlist {
            float: left;
            margin-bottom: ($spacing-unit * 6);
            width: 100%;

            .title {
              @include font-size(15px);
              border: 0;
              color: $colour-black;
              float: left;
              height: auto;
              line-height: normal;
              margin: 0;
              width: auto;

              span {
                width: 100%;
              }

            }

            .skin-productlist-products-plp {

              .plp-filter-products {

                &__product {

                  &__left {

                    .mod-product-tools {

                      ul {

                        li {

                          a {
                            visibility: visible;
                          }

                        }

                      }

                    }

                  }

                  &__info {

                    &__compact {

                      &__product-quantity {

                        .button-holder {
                          float: right;

                          .btn-cart {
                            max-width: 144px;
                          }

                        }

                      }

                      &__product-info {

                        &__image-wrapper {

                          @media #{$ipad-landscape} {
                            height: 85px;
                          }

                        }

                        &__title {
                          display: inline-block;
                          width: 100%;

                          @media #{$ipad} {
                            width: 75%;
                          }

                        }

                      }

                    }

                  }

                }

              }

            }

            .plp-content {
              background-color: transparent;

              .skin-productlist-structure {

                .productlistpage {

                  .productlistpage {

                    &__filter-view-search {
                      padding: 0;
                    }

                    &__filter-view {
                      width: 16.6667%;
                    }

                    &__filter-search {
                      width: 82%;
                    }

                    &__filter-mobile {
                      width: 100%;
                    }

                    &__filter-mobile-switch {
                      width: 100%;
                    }

                  }

                }

              }

              &__filters {
                border-top: 1px solid $colour-category-border;
                border-top-right-radius: ($spacing-unit);
                border-top-left-radius: ($spacing-unit);

                .productlistpage {

                  &__filter-view {

                    .skin-facets-plp-filter-view {

                      .facet-view {

                        &__more-scroll-link {

                          .title {
                            @include font-size(12px);
                            @include line-height(20px);
                            color: $colour-dist-grey;
                            float: left;
                            text-align: center;
                            width: 100%;
                          }

                        }

                      }

                    }

                  }

                  &__filter-search {

                    .skin-facets-plp-filter-search {

                      .xmod-facets {

                        &__more-scroll-wrapper {

                          a {

                            .title {
                              @include font-size(12px);
                              @include line-height(20px);
                              color: $colour-dist-grey;
                              float: left;
                              text-align: center;
                              width: 100%;
                            }

                          }

                        }

                      }

                    }

                  }

                }

              }

            }

          }

          &--productlist {

            .title-listing {
              @include font-size(18px);
              border: 0;
              color: $colour-black;
              display: block;
              float: none;
              margin: ($spacing-unit * 6) auto;
              max-width: 1200px;
              width: 100%;

              @media #{$ipad} {
                max-width: 720px;
              }

              @media #{$ipad-landscape} {
                max-width: 960px;
              }

              @media #{$desktop} {
                max-width: 1200px;
              }

            }

          }

          .jump-to {
            float: left;
            margin-top: ($spacing-unit * 5);
            width: 100%;

            span {
              @include font-size(15px);
              font-weight: 600;

              &:after {
                content: ":";
                display: inline-block;
                width: auto;
              }

            }

            ul {
              display: block;
              margin-top: ($spacing-unit * 2);

              @media #{$ipad} {
                display: inline-block;
                margin-top: 0;
              }

              li {
                @include font-size(14px);
                @include line-height(12px);
                color: $colour-pfp-links;
                cursor: pointer;
                margin-bottom: ($spacing-unit * 2);
                width: 100%;

                &:last-child {
                  border-right: 0;
                }

                @media #{$ipad} {
                  border-right: 1px solid $colour-black;
                  display: inline-block;
                  margin-bottom: 0;
                  padding: 0 ($spacing-unit + 3);
                  width: auto;
                }

                &:hover {
                  color: $colour-pfp-hover-links;
                  text-decoration: underline;
                }

              }

            }

          }

        }

        &__aside {
          float: left;
          width: 100%;

          @media #{$ipad-landscape} {
            float: right;
            width: 25%;
          }

          img {
            float: none;
            margin: 0 auto ($spacing-unit * 4) auto;
            max-width: 100%;

            &.family-image-large {
              max-width: 50%;

              @media #{$ipad-landscape} {
                max-width: 200px !important;
              }

            }

          }

          .product-family__aside {

            &--product, &--brand {
              @include font-size(13px);
              @include line-height(34px);
              color: $colour-white;
              float: left;
              font-weight: 600;
              height: 34px;
              margin-bottom: ($spacing-unit * 2);
              text-align: center;
              width: 100%;

              @media #{$ipad-landscape} {
                @include font-size(14px);
              }
            }

          }

          &--product {
            background: $colour-dist-green;
          }

          &--brand {
            background: $colour-dist-green;
          }

          .product-zoom-wrapper {
            margin-bottom: ($spacing-unit * 6);
          }

        }

      }

    }

  }

  .skin-toolsitem-compare-popup-plp {

    .plp-compare {

      &__content {

        .skin-toolsitem-compare-remove-all-plp {

          a {
            padding-left: ($spacing-unit * 2 + 2);
          }

        }

      }

    }

  }

  #plp-filter-product-list {
    padding: 0;
  }

}

.isie7, .isie8 {

  .skin-layout-product-family {

    .body-container {

      #main {

        .breadcrumb {
          float: left;
          width: 100%;
        }

        .mod-product {
          font-size: 16px;
          line-height: normal;
        }

        .product-family {
          float: none;
          margin: 0 auto;
          width: 100%;

          &__aside {
            float: right;
            margin-top: ($spacing-unit * 3);
            width: 25%;
          }

          &__main {
            float: left;
            width: 75%;

            .jump-to {

              ul {
                float: left;
                display: inline-block;
                margin-top: 0;
                width: auto;


                li {
                  @include font-size(14px);
                  @include line-height(12px);
                  border-right: 1px solid $colour-black;
                  color: $colour-pfp-links;
                  cursor: pointer;
                  display: inline-block;
                  float: left;
                  margin-bottom: 0;
                  padding: 0 ($spacing-unit + 3);
                  width: auto;

                  &:last-child {
                    border-right: 0;
                  }

                  &:hover {
                    color: $colour-pfp-hover-links;
                    text-decoration: underline;
                  }

                }

              }

              span {
                display: inline-block;
                float: left;
                width: auto;
              }

            }

            &--header {

              .img-wrap {
                width: auto;
              }

            }

            &--productlist {
              float: left;
              margin: 0 auto;
              width: 100%;

              .plp-content {

                .skin-productlist-structure {

                  .productlistpage {

                    .productlistpage {

                      &__filter-product-list {

                        .skin-productlist-plp-new {

                          .productlist {

                            .skin-productlist-products-plp {

                              .plp-filter-products {

                                &__product {

                                  .row {

                                    .pull-right {

                                      .plp-filter-products {

                                        &__information {

                                          &__data {
                                            display: inline-block;
                                            float: left;
                                            width: 100%;

                                            &__item {
                                              display: inline-block;
                                              float: left;
                                              width: auto;
                                            }

                                          }

                                        }

                                      }

                                    }

                                  }

                                }

                              }

                            }

                          }

                        }

                      }

                      &__filter-search {
                        width: 83%;
                      }

                      &__filter-action-bar {

                        .skin-facets-plp-filter-controllbar {

                          .plp-filter-controllbar {

                            .col-lg-10 {
                              float: right;
                              width: auto;

                              .row {

                                .plp-filter-controllbar {

                                  &__applied-filter-block {
                                    width: auto;
                                  }

                                }

                              }

                            }

                          }

                        }

                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

  .skin-facets-plp-filter-controllbar {

    .plp-filter-controllbar {
      
      .col-lg-10 {
        width: auto;
      }

      &__applied-filter-block {
        width: auto;
      }

    }

  }

  .video-container {
    display: none;
  }

}

.isie7 {

  .skin-layout-product-family {

    .body-container {

      #main {

        .product-family {

          &__main {

            &--features {

              ul {

                li {

                  span {
                    display: inline-block;
                  }

                }

              }

            }

            .jump-to {

              ul {
                margin-top: ($spacing-unit - 2);
              }

            }

            &--productlist {

              .plp-content {

                .skin-productlist-structure {

                  .productlistpage {

                    .productlistpage {

                      &__filter-search {
                        width: 80%;
                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}