$colour-backorder             : #f7f9fc;

.skin-layout-back-order {
  background: $colour-backorder;

  header {
    float: left;
    height: 100%;
    min-height: 130px;
    width: 100%;

    @media #{$ipad-landscape} {
      min-height: 141px;
    }

  }

  .back-order-holder {
    float: left;
    padding: ($spacing-unit * 4) 0;
    width: 100%;

    &__title {
      float: left;
      padding-bottom: ($spacing-unit * 6);
      width: 100%;

      h1 {
        @include font-size(16px);
        @include line-height(20px);
        padding-bottom: ($spacing-unit);

        @media #{$ipad-landscape} {
          @include font-size(28px);
          @include line-height(38px);
          padding-bottom: 0;
        }

      }

      p {
        @include font-size(12px);
        @include line-height(18px);
        padding-top: ($spacing-unit * 2);

        @media #{$ipad-landscape} {
          @include font-size(15px);
          @include line-height(22px);
        }

      }

    }

    &__content {
      float: left;
      width: 100%;
    }

    &__side {
      background: $colour-white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.149019607843137);
      float: left;
      padding: ($spacing-unit * 3);
      text-align: center;
      width: 100%;
    }

  }

  .modal-backdrop {
    background: rgba(0,0,0,0.65);
  }

}


.isie7 {

  .skin-layout-back-order {

    header {
      min-height: 170px;
    }

  }

}
