<div class="ch__component__summary-terms has-checkbox">
  <div class="ch__component__summary-terms__checkbox">
    <label
      class="ch__component__summary-terms__checkbox-label"
      id="termsAndConditionsAcceptanceCheckboxLabel"
      [class.is-highlighted]="highlightTermsAndConditions"
      (change)="summaryTermsChange(summaryTermsInput.checked)"
      for="termsAndConditionsAcceptanceCheckbox"
    >
      <input
        #summaryTermsInput
        id="termsAndConditionsAcceptanceCheckbox"
        [checked]="summaryTermsTickChecked"
        type="checkbox"
      />

      <fa-icon class="is-square" id="faSquareLaterDelivery" [icon]="faSquare"></fa-icon>
      <fa-icon class="is-check" id="faSquareCheckLaterDelivery" [icon]="faSquareCheck"></fa-icon>

      <span class="is-text" id="TandCText" [innerHTML]="'checkout.payment.t_and_c' | cxTranslate"></span>
    </label>
  </div>
</div>
