@import 'global-utilities';

app-terms-and-conditions-acceptance {
  .ch__component__summary-terms {
    @include font-size(12px);
    @include line-height(20px);
    margin-top: $spacing-unit * 4;
    font-weight: $font-weight-medium;

    &.has-checkbox {
      margin-top: $spacing-unit * 3;
      margin-bottom: $spacing-unit * 4;
    }

    &__checkbox {
      &-label {
        display: flex;
        cursor: pointer;
        padding: ($spacing-unit + 3) ($spacing-unit * 2 + 2);

        input {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          pointer-events: none;

          ~ .ng-fa-icon {
            @include font-size(20px);
            margin-right: $spacing-unit * 3;

            &.is-square {
              display: block;
            }

            &.is-check {
              display: none;
            }
          }

          &:checked ~ .ng-fa-icon {
            &.is-square {
              display: none;
            }

            &.is-check {
              display: block;
            }
          }
        }

        .is-text {
          margin-top: -$spacing-unit + 4;
        }

        &.is-highlighted {
          background: rgba($ux-green, 0.2);
        }
      }
    }

    a {
      color: $link-blue;
      text-decoration: underline;

      &:hover {
        color: $link-dark-blue;
      }
    }
  }
}
