@import 'global-utilities';

.back-order-item {
  background: $colour-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.149019607843137);
  margin-bottom: ($spacing-unit * 3);
  padding: ($spacing-unit * 3) ($spacing-unit * 4);
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: ($spacing-unit * 2);
    width: 100%;

    &__img {
      float: left;
      margin: 0;
      max-width: 100%;
      width: 100%;

      @include tablet {
        max-width: 47px;
      }
    }

    &__text {
      width: 90%;

      @include tabletPlus {
        flex-grow: 1;
        padding-left: ($spacing-unit * 2);
        width: 92%;
      }

      @include desktop {
        width: 94%;
      }

      h3 {
        @include font-size(14px);
        display: block;
        font-weight: $font-weight-bold;
      }

      .text-item {
        display: block;
        float: left;
        width: 100%;

        &:first-of-type {
          @include tablet {
            width: 100%;
          }

          @include tabletPlus {
            width: auto;
          }
        }

        @include tablet {
          width: 33.33%;
        }

        @include tabletPlus {
          display: inline-block;
          padding-right: ($spacing-unit * 2 - 1);
          width: auto;
        }

        @include desktop {
          padding-right: ($spacing-unit * 3);
        }

        &__title,
        &__attr {
          @include font-size(12px);
        }

        &__title {
          font-weight: $font-weight-bold;
        }

        &:last-of-type {
          @include tabletPlus {
            padding-right: 0;
          }
        }
      }
    }

    &__btn {
      padding-top: ($spacing-unit * 2);
      width: 100%;

      @include tablet {
        margin-left: ($spacing-unit * 13.2);
        padding-top: ($spacing-unit);
      }

      @include tabletPlus {
        float: left;
        margin-left: ($spacing-unit * 11);
        max-width: 226px;
        min-width: 160px;
        padding-top: ($spacing-unit * 2);
        width: 100%;
      }

      .action-button {
        @include font-size(12px);
        @include line-height(19px);
        background-color: $colour-dist-marigold;
        border-radius: 2px;
        color: $colour-white;
        display: block;
        font-weight: $font-weight-bold;
        padding: ($spacing-unit) ($spacing-unit * 3);
        text-align: center;
        text-decoration: none;
        width: 100%;

        @include tablet {
          display: inline;
        }

        @include tabletPlus {
          display: block;
        }

        &:hover {
          @include transition(background-color 0.2s ease);
          background-color: $colour-dark-orange;
        }
      }
    }
  }

  &__message {
    @include font-size(12px);
    border: 1px solid $colour-dist-marigold;
    border-radius: ($spacing-unit - 3);
    box-sizing: border-box;
    float: left;
    font-weight: $font-weight-semiBold;
    margin-bottom: ($spacing-unit * 2);
    padding: ($spacing-unit * 2) ($spacing-unit * 3);
    text-align: center;
    width: 100%;

    &__icon,
    &__text {
      display: inline-block;
    }

    &__icon {
      float: left;
      padding-top: ($spacing-unit - 3);
      width: 20px;
    }

    &__text {
      padding-left: ($spacing-unit * 2);
      text-align: left;
      vertical-align: middle;
      width: calc(100% - 20px);
    }

    @include tablet {
      @include font-size(13.5px);
      @include line-height(18px);
      text-align: left;
    }

    fa-icon {
      @include font-size(20px);
      color: $colour-dist-marigold;
      float: none;
      vertical-align: middle;
    }
  }

  &__alternative {
    width: 100%;
    padding: ($spacing-unit * 4) 0;
    border-top: 1px solid $colour-light-grey;
    margin-top: $spacing-unit * 2;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    .spinner-wrapper {
      padding: ($spacing-unit * 2);
    }
  }
}
