@import 'global-utilities';

.attribute-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 12px;
}

.attribute {
  @include typography-ui-xs;

  position: relative;
  display: flex;
  font-weight: $font-weight-normal;
  color: $ux-grey;

  fa-icon {
    margin-right: 4px;
  }
}

.has-action {
  cursor: pointer;
}

.space {
  flex-basis: 100%;
  margin-top: 4px;
}

@include mobilePlusDown {
  .attribute-list {
    flex-direction: column;
  }

  .attribute-descriptions,
  .tooltip-container {
    display: none;
  }

  .mpn-number {
    margin-top: $ux-spacing-unit;
  }
}
