.mod-lightbox-yes-no {
    .modal {
        #obj > .modal;

        .bd {
            .form-row  .popover {
                top:-23px;

                &.popover-error-checkboxgroup {
                    right:0;
                }
            }
        }

        .ft {
	        margin-top: 40px;
	        margin-bottom: 25px;

            .-left {
                width: auto;
                float: left;

                .link {
                    text-decoration: underline;
                    #typo > .size-s;
                    float: left;
                    line-height: 1;
                    font-weight: bold;
                }
            }
        }
    }

    .error-box, .receive-box {
        display:none;
        #obj > .errorBox;
    }

    .required-text {
        width:100%;
        text-align: right;
    }

    .box {

        & {
            border:1px solid @c-border;
            padding: 10px 10px 8px 10px;
            background:@c-white;
            max-height:225px;
            overflow:auto;
        }

        li {
            & {
                padding-bottom: 3px;
                margin: 0;
            }

            label {
                #typo > .size-s;
                line-height: 1.5;

                &:before {
                    margin-right: 9px;
                }
            }

            i {
                .s-list-small-black();
                margin:0 5px -2px 0;
            }

            span {
                color:#AA1936B;
                #typo > .size-xs;
            }
        }
    }

    .row-new-shopping-list {
        padding:10px;

        label {
            #typo > .size-s;
        }
    }

    .aim-new-list {
        .field {
            margin-bottom: 0;
        }
    }
}

