.mod-productlist-controllbar {
	position: relative;

	.frame {
		border: 1px solid @c-grey80;
		height: 55px;
		border-right: 0;
		border-left: 0;
		position: relative;

		.switch-instructions{
			font-size: 14px;
    		margin-top: 17px;
		}

		.printIcon{
			position: relative;
		    float: right;
		    margin-right: 125px;
		    margin-top: -4px;
		}

		.printIconCategory{
			position: relative;
		    float: right;
		    margin-top: -4px;
			margin-right: -144px;
		}
	}

	.row {
		width: 100%;
	}

	.ajax-action-overlay{
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		.background-overlay{
			background: none repeat scroll 0 0 #D3D3D3;
			opacity: 0.5;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			.lt-ie9 & {
				filter: alpha(opacity=50);        // IE6, IE7
				-ms-filter: "alpha(opacity=50)"; // IE8
			}
		}
	}

    .popover {
        .popover-content {
            padding-bottom: 7px;
        }
        font-weight: @font-base-light;
        .row {
            padding:0 3px;
            width:180px;
        }
        h2 {
            font-weight: @font-base-light;
            padding: 5px 3px 9px 3px;
        }
        .left, .right {
            padding: 0 3px 0 3px;
            line-height: 1;
            float:left;
            margin-bottom: 10px;
        }
        .left {
            width:135px;

        }
        .right {
            float: right;
        }
    }

    .arrow-down {
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 15px solid #AA1936;
	}

	.message-temp{
	    margin-top: -41px;
	    font-size: 14px;
	    float: right;
	    background: #AA1936;
	    color: @c-white;
	    padding: 4px;
	}

	.arrow-info-message{
	    float: right;
	    margin-top: -18px;
	    margin-right: 16px;
	}

	.forCategories{
		margin-top: -35px;
	}

}