
.mod-social-media {

  .social-media {
    margin-top: $spacing-unit * 4;
    text-align: center;

    @media #{$ipad} {
      margin-top: $spacing-unit * 6;
    }

    &__item {
      display: inline-block;
      margin: 0 0 ($spacing-unit * 4) ($spacing-unit * 4);

      &:first-child {

        @media #{$ipad-landscape} {
          margin-left: 0;
        }

      }

      .icon {
        background-color: $colour-white;
        border-radius: 100%;
        display: block;
        height: 50px;
        position: relative;
        transition: all 0.5s ease;
        width: 50px;

        i {
          @include font-size(32px);
          @include line-height(33px);
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
        }

        &--youtube {
          background-color: $color-social-youtube;
          color: $colour-white;

          &:hover {
            background-color: $colour-white;
            color: $color-social-youtube;
          }

        }

        &--facebook {
          background-color: $color-social-facebook;
          color: $colour-white;

          &:hover {
            background-color: $colour-white;
            color: $color-social-facebook;
          }

        }

        &--googlelus {
          background-color: $color-social-googleplus;
          color: $colour-white;

          &:hover {
            background-color: $colour-white;
            color: $color-social-googleplus;
          }

        }

        &--linkedin {
          background-color: $color-social-linkedin;
          color: $colour-white;

          &:hover {
            background-color: $colour-white;
            color: $color-social-linkedin;
          }

        }

        &--twitter {
          background-color: $color-social-twitter;
          color: $colour-white;

          &:hover {
            background-color: $colour-white;
            color: $color-social-twitter;
          }

        }






      }

      &:last-child {
        margin-right: 0;
      }

    }

  }

}
