.skin-checkout-title-review {
	h1.page-title {
		margin-bottom: 35px;
	}

    .btn-checkout, .btn-down {
		text-align: left;
		width: 100%;

		.icon-cart{
			margin-top: 0;
			.s-go-to-cart-black();
		}

		&:hover .icon-cart,
		&:focus .icon-cart {
			.s-go-to-cart-blue();
		}

		&:active .icon-cart, &.active .icon-cart{
			.s-go-to-cart-blue();
		}

		&[disabled] .icon-cart, &.disabled .icon-cart{
			.s-go-to-cart-black();
		}
		&:disabled .icon-cart{// keep this selector separate (unsupported pseudo class ie8)
			.s-go-to-cart-black();
		}

	}

	.btn-down {

		.icon-arrow {
			.s-arrow-down-big-black();
		}
		&:hover .icon-arrow,
		&:focus .icon-arrow {
			.s-arrow-down-big-blue();
		}

		&:active .icon-arrow, &.active .icon-arrow{
			.s-arrow-down-big-blue();
		}

		&[disabled] .icon-arrow, &.disabled .icon-arrow {
			.s-arrow-down-big-black();
		}
		&:disabled .icon-arrow {// keep this selector separate (unsupported pseudo class ie8)
			.s-arrow-down-big-black();
		}
	}
}
