.mod-lightbox-marketing-email-example {

  .modal {
    @include font-size(14px);
    background: white;
    left: 50%;
    margin: 0;
    max-width: 760px;
    outline: none;
    transform: translateX(-50%);
    width: calc(100% - 20px);

    .btn {
      position: absolute;
      right: ($spacing-unit * 2);
      top: ($spacing-unit * 2);
    }

    .image-container {
      max-height: 600px;
      overflow: scroll;

      img {
        width: 100%;
      }
    }
  }

}
