.mod-hero-teaser-pure {

	margin-top: -12px;

	h2 {
		margin-top: 0;
	}

	.teaser-dots {
		height: 20px; // to prevent jumping of content until carousel is loaded
		text-align: center;

		.teaser-dot-wrapper {
			display: inline-block;
		}
		.dot{
			float: left;
			outline: none;

			span{
				width: 10px;
				height: 10px;
				margin: 10px 3px 0 3px;
				background: #e6e6e6;
				display: block;
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
			}
			&.current{
				span {
					background: #979797;
				}
			}
			&:hover{
				span {
					background: #979797;
				}
			}
		}
		&.fullWidth{
			width: 940px;
			.lt-ie8 & {
				width: 800px;
			}
		}
		&.twoThird{
			width: 640px;
			.lt-ie8 & {
				width: 480px;
			}
		}
	}
	.teaser-content{
		overflow: hidden;
		height: 302px;
		
		border-style:solid;
		border-width: 1px 0 1px 0;
		border-color: @c-grey80 ;
		
		
		&.height150{
			height: 150px;
		}		
		
		&.height200{
			height: 200px;
		}
		
		&.height300{
			height: 294px;
		}		
		
		&.twoThird{
			width: 640px;
		}
		
		&.threeQuarters{
			width: 715px;
		}		
		
		&.fullWidth{
			width: 940px;
		}
		
		.teaser-item {
			position: relative;
			float: left;
			

			&.video{
				width: 940px; // fix width needed for correct initialisation of hero teaser, when video is on first slide
			}

			.item-image {
				max-height: 300px;
				

			}
			
			.fullWidth{
				width: 940px;
				height: 294px;
			}			

			// side image used for video teaser item
			.image-side-link{
				display: block;
				position: absolute;
				right: 0;
				top: 0;
			}

		}
	}
	

	
	.arrow{
		top: -108px;
	}
	
    .btn {
        position:relative;
        top:0px;
        display:none;
        z-index: 900; // keep it on top, even on ipad
    }
    .active {
        .btn {
            display:block;
        }
    }	
	
	
	.direction-arrows{
	    margin-top: -178px; 
	    
	    &.height200{
	    	margin-top: -130px;
	    }
	    
	    &.height300{
	    	margin-top: -179px;
	    }	    
	}
	
	
    .arrow_prev-teaser {
    
    	visibility: hidden;
    	position: relative;
    	width: 1px;
    	
        .btn {
            .s-flaps-teaser-prev-white();
            left:0px;
            top: 90px;
            &:hover {
                .s-flaps-teaser-prev-black();
            }
        }
    }

    .arrow_next-teaser {
    
    	visibility: hidden;
    	position: relative;
    	width: 1px;
    	
        .btn {
            .s-flaps-teaser-next-white();
            right: -910px;
            top: 0px;
            
            &:hover {
            
                .s-flaps-teaser-next-black();
            }
        }
        
        .threeQuarters{
       		right: -685px;
        }
    }
    
    .twoThirdArrow{
    	margin-left: -300px;
    }	

}