
.mod-layout {

  &--checkout {

    .mod-lightbox-status {

      .modal {
        bottom: 0;
        left: 50%;
        overflow-y: auto;
        transform: translateX(-50%);

        @media #{$ipad} {
          bottom: auto;
        }

      }

    }

  }

  &.skin-layout-product {

    .mod-lightbox-status {

      .info-box {

        p {
          margin-top: $spacing-unit*2;
        }

      }

    }

  }

}