.mod-productlist {


	// List View
	.productlist {
		.box-sizing();
	}

	.list {
		.box-sizing();
		border-top: 1px solid @c-border;
	}

    .row-show-more {
        height:47px;
	    border-bottom: 1px solid @c-border;
	    border-left: 1px solid @c-border;

        .btn {

            & {
                height: auto;
                padding: 14px 30px 14px 35px;
	            display: block;
                #typo .size-s();
                margin-left:10px;
            }

            i {
                position: absolute;
                left: 0;
                top: 11px;
	            margin-top: 0;
            }
        }

        .btn-down {
	        i {
		        .s-polygon-down-lightblue();
	        }

	        &:hover i,
	        &:focus i {
		        .s-polygon-down-blue();
	        }

	        &:active i, &.active i {
		        .s-polygon-down-blue();
	        }

			&[disabled], &.disabled {
				i {
					.s-polygon-down-lightblue();
				}
			}
			&:disabled {// keep this selector separate (unsupported pseudo class ie8)
				i {
					.s-polygon-down-lightblue();
				}
			}
        }

        .btn-show-more-loader {
            display:none;
            i {
                background-image: url("/_ui/all/media/img/throbber_small_grey_white_matte.gif");
                background-position:0 0;
                width:24px;
                height:24px;

            }
            &:hover {
                color:@c-black;
            }
        }

        &.loading {
            .btn-show-more {
                display:none;
            }
            .btn-show-more-loader {
                display: inline-block;
            }
        }
    }


	.ajax-product-loader{
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		


		.background-overlay{
			background: none repeat scroll 0 0 #D3D3D3;
			opacity: 0.5;
			width: 100%;
			height: 100%;
			position: absolute;
			top: -117px;
			bottom: 0;
			left: 0;
			right: 0;

			.lt-ie9 & {
				filter: alpha(opacity=50);        // IE6, IE7
				-ms-filter: "alpha(opacity=50)"; // IE8
			}
			
			&.apply-facets {
				background: none repeat scroll 0 0 #AA1936;
			}
			
		
		}

		.message-wrapper{
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: relative;
			width: 100%;
		}

		.loading-message{
			z-index: 1060;
			padding: 10px;
			background: white;
			visibility: hidden;
			position: fixed;
			top: 50%;
			margin-left: 105px;
			width: 500px;
			text-align: center;

			i{
				background-image: url("@{path-imgs}/throbber_small_grey_white_matte.gif");
				background-position:0 0;
				width:24px;
				height:24px;
				margin-right: @spc-h;
			}

			&.stickToTop {
				position: absolute;
				top: 60px;
			}

			&.apply-facets {
				background: #AA1936;

				a {
					display: block;
					color: @c-white;
				}
				
			}
		}
		
		.reload-message:hover{
		    background: @c-white;
		    border: 1px solid #AA1936;
		    
		    a{
		    	color: #AA1936;
		    }
		}		

		
		
		
	}
	
	
	.ajax-product-loader-simple{
		width: 961px !important;
	}
		
	
	
}
