.skin-productlist-detail-page {

	.cf();

	.list{
		border-right: 0;
	}
	.paged{
		display: none;
	}
	.mod-product{
		border-left: 0;
	}
	.row-show-more{
		border-left: 0;
		border-right: 0;
	}
	.btn-product-family{
		margin-top: 20px;
		float: right;
	}
}
