.skin-productlist-bom {
	margin-bottom: 30px;
	margin-left: 0;
		
	.gu-120 {
		width: 120px;
	}
	
	.gu-175 {
		width: 175px;
	}
	
	.gu-320 {
		width: 320px;
	}

	
	.productlist {
		.mod-product {
			#border .border-std(0,1px,1px,1px);
			article > div {
				#border .border-std(0,0,0,1px);
				&:first-child {
					border-left: 0;
					text-align: center;
				}
			}
			&:nth-child(even) {
				background-color: @c-greyB;
			}
		}
	}
	
}
