.skin-productlist-search-tabular {

	div.search-results {
		margin-left: 0;
		overflow-y: visible;
		padding-bottom: 1px;
	}


	.tabular-search-table  {
		border-collapse: collapse;
		border-top: 1px solid #ccc;
		font-size: 14px;
		margin-top: -0.5px;

		tr:nth-child(odd){
			background-color: #fff;
		}

		tr:nth-child(even){
			background-color: #fff;
		}
		.skin-shipping-information-comparelist{
			position: inherit;
		}

	}

	.whiteBg {
		background-color: #fff;

		&.price-table-overlay {
			background-color: #fff;
		}

	}

	.ctrls {
		float: left;
		padding: 0 0 10px 10px;
		position: relative;
		top: 35px;
		width: 100%;

		.mod-product-tools {

			.tabular {
				margin: 0 5px 0 0;
			}

		}

	}


	td {
		border: 1px solid #ccc;
		border-bottom: 0;
		height: 189px;

		&.long {
			width: 155px;
		}

	}

	.alt {
		background-color: #eee;
	}

	.headcol {
		box-shadow: 5px 0 5px 0 rgba(0,0,0,0.15);
		left: 0;
		margin-top: 0;
		position: absolute;
		top: auto;
		width: 745px;

		&.headcol-s {
			border-right: 0;
			width: 810px;

			.image-and-description {
				width: 319px;
			}

			.image-cell {
				background: #FFF;
				border-bottom: 1px solid #ccc;

				.productlabel-wrap {
					position: absolute;
					width: 115px;
				}
			}

			.product-image-header{
				width: 120px;
				margin-left: -2px;
			}
		}

		.product-detail-header,
		.price-header,
		.availability-header,
		.product-image-header {
			border-left: 1px solid #ccc;
			float: left;
			height: 35px;
			padding-left: 10px;
			padding-top: 5px;

			.label {
				float: left;
				width: 70%;
			}

			.sorting-arrows {
				display: inline-block;
				margin: 0;
			}

		}

		.product-image-header {
			border-left: 0;
			width: 120px;
		}


		.product-detail-header {
			margin-left: -4px;
			width: 321px;
		}

		.price-header {
			width: 150px;
		}

		.availability-header {
			width: 150px;
		}


	}

	.wrapperScrollTop, .wrapperScrollTable{
		float: left;
		border: none;
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
	}

	.greyBg {
		background: #fff;
	}

	.wrapperScrollTop {
		background-color: @c-white;
		height: 20px;
		z-index: 50;

		&.-stuck {
			border: 1px solid transparent;
			position: fixed;
			top: 97px;
		}

	}

	.wrapperScrollTable{
		width: 100%;

		&.stuck {

			.tabular-search-table-hide-area {
				position: absolute;
				height: 100%;
				top: -50px;
				background: white;
				z-index: 9999;
			}

			.tr_content:nth-child(2) {
				height: 164px;

				td {

					&.long {
						vertical-align: bottom;
						padding-bottom: 6px;
					}

				}

			}

		}

	}

	.wrapperScrollTableShort{
		&.stuck {

			.divScrollTable {
				width: 620px;
			}

		}

	}

	.divScrollTop {
		height: 20px;
	}

	.divScrollTable {

		&.divScrollTable-s {
			margin-left: 810px;

			.product-detail-header {
				width: 320px;
			}

			.title-container{
				width: 300px;
			}

			.pickupQuantity{
				margin-left: 89px !important;
			}

			.availability-header .sorting-arrows{
				margin-right: -15px;
			}

		}

		.tr_header {

			font-size: 14px;
			font-weight: 600;

			td{
				height: 36px;
				margin-top: -0.5px;
				background: #eee;
				border-top: 1px solid #ccc;
				min-width: 150px;
			}

			.header-attribute-label{
				min-width: 100px;
				max-width: 135px;
				margin-left: 8px;
				white-space: nowrap;

				.label {
					float: left;
					width: 70%;
				}

				.sorting-arrows {
					display: inline-block;
				}

			}

			&.-stuck {

				td {
					box-shadow: 0 4px 2px -2px grey;
					position:fixed;
					top: 78px;
					z-index: 50;

					&.headcol {
						left: 340px;
						z-index: 60;
					}

					&.long {

						.header-attribute-label {
							padding-top: 9px;
						}

					}

					.scrolly& {
						top: 96px;
					}

				}

			}

			&.-unstuck {

				td {
					position: absolute;
				}

			}

		}

		.tr_content {
			width: 60%;

			.tabularAttributeValue {
				font-size: 12px;
				height: 118px;
				line-height: 23px;
				min-width: 150px;
				overflow-y: auto;
				overflow-x: hidden;
				padding: 0 6px;
				word-break: break-all;
			}

			&:last-child {

				td {
					border-bottom: 1px solid #ccc;

					&.headcol {
						min-height: 154px
					}

				}

			}


		}

	}

	.headcol {

		.image-and-description {
			float: left;
			min-height: 154px;
			padding: 15px 0 15px 15px;
			width: 320px;

			.button-holder {
				float: left;
				width: 50%;

				.btn-primary {
					float: left;
					height: 32px;
					margin: 0;
					max-width: 70px;
					outline: none;
					width: 100%;
				}

			}

		}

		.image-cell {
			border-bottom: 1px solid #ccc;
			float: left;
			height: 129px;
			min-height: 154px;
			width:117px;
		}

		.image-cell-l {
			float: left;
			min-height: 152px;
			width: 117px;
		}

		.price-and-stepper {
			float: left;
			min-height: 154px;
			padding-top: 15px;
			width: 150px;

			.ctrls {
				margin-top: -14px;
				position: absolute;
			}

		}

		.availability {
			float: left;
			padding-top: 10px;
			width: 150px;
		}

		&:last-child {
			border-bottom: 1px solid #ccc;
		}

	}

	.productlabel-wrap {
		left: 0;
		position: absolute;
		top: 10px;
		width: 115px;

		.mod-product-label {
			float: left;
		}

	}

	.image-container{
		margin: 22px 7px 0;
		overflow: hidden;
		display: inline-block;

		img{
			max-width: 100px;
		}
	}

	.title-container {
		font-weight: 700;
		float: left;
		width: 100%;

		a {
			display: block;

			&:hover {
				color: #AA1936;
			}

		}

		.ellipsis {
			width: 100%;
		}


	}



	@media print {

		.btn-cart {
			.hidden();
		}

	}

	.sorting-arrows{
		margin-right: 5px;
		margin-top: -2px;
	}

	.arrow-up {
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid black;
		float: right;
		margin-left: 5px;
		cursor: pointer;

		&:focus,
		&:hover {
			border-bottom: 7px solid #009fb4;
		}

	}

	.arrow-down {
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid black;
		float: right;
		cursor: pointer;

		&:focus,
		&:hover {
			border-top: 7px solid #009fb4;
		}
	}




	.frame {
		border: 1px solid #000;
		height: 3em;
		line-height: 0.5em;
		overflow-y: auto;
		width: 10em;
	}

	.frame {

		&::-webkit-scrollbar {
			-webkit-appearance: none;

			&:vertical {
				width: 11px;
			}

			&:horizontal {
				height: 5px;
			}

		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, .5);
			border: 2px solid white;
			border-radius: 12px;
		}

	}

	.frame::-webkit-scrollbar:vertical {
		width: 11px;
	}

	.frame::-webkit-scrollbar:horizontal {
		height: 5px;
	}

	.frame::-webkit-scrollbar-thumb {
		border-radius: 12px;
		border: 2px solid white; /* should match background, can't be transparent */
		background-color: rgba(0, 0, 0, .5);
	}

	.arrow-up-selected{
		border-bottom: 7px solid #009fb4;
	}

	.arrow-down-selected{
		border-top: 7px solid #009fb4;
	}

	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
		height: 12px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 7px;
		background-color: #888;
		-webkit-box-shadow: 0 2px 2px #888;
	}

	.skin-scaled-prices-single-tabular .row {
		padding-top: 8px;
		margin-top: -5px;

		&.price-table-overlay {
			background: #fff;
			border: 0;
			margin-top: 0;
			padding-top: 0;
			position: relative;
			top: -60px;
			width: 100% !important;
			z-index: 9;


			&.expander {
				bottom: -14px;
			}

			.td {
				font-size: 12px;
				line-height: 18px;
			}

			.nth1 {
				width: 50px;
			}

			.nth2 {
				width: 80px;
			}

		}

		&.expander {
			bottom: -14px;
		}

		.td {
			font-size: 12px;
			line-height: 18px;
		}

		.nth1{
			width: 50px;
		}

		.nth2{
			width: 80px;
		}
	}

	.ajax-product-loader{
		margin-top: 153px;
	}

	.background-overlay.apply-facets {
		background: none repeat scroll 0 0 white !important;
	}

	.tabularViewExpanded{
		.furtherStockText{
			width: 110px;
		}

		.leadTimeFlyout{
			margin-left: 150px;
		}

	}

	.moreStockAvailableText{
		font-size: 12px;
		padding-right: 10px;
	}

}
