.skin-productlist-favorite {

	margin-left: 0px;
	width: auto;
	
	.empty-list{
		display: none;
		margin-top: 20px;
		&.active{
			display: block;
		}
	}
	.paged{
		display: none;
	}
	.row-show-more {
		border-left: none;
	}
}
