.mod-compare-list {

  .tableGrid {
    float: left;
    width: 100%;

    @media #{$ipad-landscape} {
      padding-left: 0;
      padding-right: 0;
    }

    @media print {
      padding: 0;
    }

    .scrollable {

      @media print {
        display: table;
        width: 100%;
      }

    }

    .hover-target {

      @media #{$ipad-landscape} {
        float: left;
        width: 100%;
      }

      @media print {
        float: left;
        width: 100%;
      }

      .skin-product-compare {

        @media #{$ipad-landscape} {
          border-right: 1px solid $colour-attr-border;
          border-top: 1px solid $colour-attr-border;
          box-sizing: border-box;
          height: auto;
          float: left;
          min-height: 281px;
          padding: ($spacing-unit * 2) 0 0;
          width: 100%;
        }

        @media print {
          border-right: 1px solid $colour-attr-border;
          border-top: 1px solid $colour-attr-border;
          box-sizing: border-box;
          height: auto;
          float: left;
          min-height: 281px;
          padding: ($spacing-unit * 2) 0 0;
          width: 100%;
        }

      }

    }

    &__items {
      float: left;
      width: 50%;

      @media #{$ipad-landscape} {
        width: 100%;
      }

      &__item {
        -ms-flex: 1 0 auto;
        float: left;
        width: 100%;

        @media print {
          display: table-cell;
          padding-bottom: ($spacing-unit * 4);
          width: 25%;
        }

        @media #{$ipad-landscape} {
          width: 33.33%;
        }

        @media #{$desktop} {
          width: 25%;
        }

        &__attr {
            align-items: center;
            border: 1px solid $colour-attr-border;
            border-bottom: 1px solid $colour-attr-border;
            border-top: 0;
            box-sizing: border-box;
            display: flex;
            float: left;
            line-height: 55px;
            min-height: 55px;
            padding: ($spacing-unit * 3) 0 0 ($spacing-unit * 4);
            width: 100%;

            @media #{$ipad-landscape} {
              display: inline-block;
            }

            @media print {
              display: inline-block;
              height: 105px;
              overflow: hidden;
            }

            &:last-child {
              border-bottom: 0;
            }

          @media print {

            &:last-child {
              border-bottom: 1px solid $colour-attr-border;
            }

          }

          @media #{$ipad-landscape} {

            &:last-child {
              border-bottom: 1px solid $colour-attr-border;
            }

          }

          span {
              box-sizing: border-box;
              display: inline-block;
              float: left;
              height: auto;
              line-height: normal;
              min-height: auto;
              padding-top: 0;
              width: auto;

              @media print {
                @include line-height(14px);
                padding-top: ($spacing-unit * 2);
              }

              @media #{$ipad-landscape} {
                height: 54px;
                line-height: 54px;
              }

          }

        }

      }

    }

  }

  .compare-list {

    &__grid {
      overflow: hidden;
      vertical-align: middle;
      width: auto;
      white-space: nowrap;
    }

    &__grid-item {
      border: 1px solid $colour-attr-border;
      display: inline-block;
      margin-right: -($spacing-unit);
      vertical-align: top;
      width: 25%;

      .expired {
        padding: 0;
      }

    }

  }

  .skin-toolsitem-compare-remove {
    position: absolute;
    right: 0;
    top: 0;
  }

}