.mod-form-catalog-order {

	margin-top: 50px;

	.catalog-order-box{
		padding-bottom: 30px;
	}

	.row-button{
		margin-top: 30px;
	}

	.row-checkbox {
		margin-bottom: 10px;
	}
	.checkboxes {
		position: relative;
		clear: both;
		float: right;

		input[type="checkbox"].checkbox-big + label,
		input[type="checkbox"].checkbox-big + input + label {
			padding: 8px 0 8px 34px;
		}
		label {
			display: block;

			&:before {
				position: absolute;
				left: 0px;
			}

			a {
				text-decoration: underline;
			}
		}
	}
	// Show the Default Checkboxes on IE8
	.lt-ie9 & .checkboxes {
		padding-top: 8px;

		.checkbox {
			position: absolute;
			left: 0;
			margin-top: 4px;
			clip: auto;
		}
		input[type="checkbox"].checkbox-big + label,
		input[type="checkbox"].checkbox-big + input + label {
			padding-top: 0;
		}
	}

	.status{
		margin-bottom: 30px;
	}

	.btn-primary {

		&:hover i,
		&:focus i {
			.s-arrow-right-red();
		}

		&:active i, &.active i {
			.s-arrow-right-red();
		}

		&[disabled], &.disabled {
			i {
				.s-arrow-right-white();
			}
		}
		&:disabled {// keep this selector separate (unsupported pseudo class ie8)
			i {
				.s-arrow-right-white();
			}
		}

		width: 100%;
		text-align: left;

		// Icon
		i {
			.s-arrow-right-white();
			margin-top: 3px;
			float: right;
		}
	}

}
