<div class="register__form">
  <h3 class="register__form--secondary-title" id="registration.comm_pref.title">
    {{ 'registration.comm_pref.title' | cxTranslate }}
  </h3>

  <form [formGroup]="generalRegForm">
    <!-- marketingConsent -->
    <div class="register__form__holder">
      <div class="register__form__holder--half">
        <label class="register__form__checkbox" for="marketingConsentInput">
          <span class="btn register__form__checkbox-input" id="triggerMarkConstBtn">
            <fa-icon
              *ngIf="!generalRegForm.get('marketingConsent').value"
              id="faSquareMarkConsent"
              [icon]="faSquare"
            ></fa-icon>
            <fa-icon
              *ngIf="generalRegForm.get('marketingConsent').value"
              id="faCheckSquareMarkConsent"
              [icon]="faCheckSquare"
            ></fa-icon>

            <input
              class="custom-control-input"
              id="marketingConsentInput"
              (change)="triggerConsent('marketingConsent')"
              type="checkbox"
              formControlName="marketingConsent"
            />
          </span>

          <span class="register__form__checkbox-label" id="registration.comm_pref.receive_email">
            {{ 'registration.comm_pref.receive_email' | cxTranslate }}
          </span>
        </label>
      </div>

      <div class="register__form__holder--half">
        <div class="register__form__checkbox-description" id="registration.comm_pref.receive_email_descr">
          {{ 'registration.comm_pref.receive_email_descr' | cxTranslate }}
        </div>
      </div>
    </div>

    <!-- smsConsent, phoneConsent, postConsent -->
    <div class="register__form__holder">
      <!-- smsConsent -->
      <div class="register__form__holder--half">
        <label class="register__form__checkbox" for="smsConsentInput">
          <span class="btn register__form__checkbox-input" id="triggerSmsConsentBtn">
            <fa-icon
              *ngIf="!generalRegForm.get('smsConsent').value"
              id="faSquareSmsConsent"
              [icon]="faSquare"
            ></fa-icon>
            <fa-icon
              *ngIf="generalRegForm.get('smsConsent').value"
              id="faCheckSquareSmsConsent"
              [icon]="faCheckSquare"
            ></fa-icon>

            <input
              class="custom-control-input"
              id="smsConsentInput"
              (change)="triggerConsent('smsConsent')"
              type="checkbox"
              formControlName="smsConsent"
            />
          </span>

          <span class="register__form__checkbox-label" id="registration.comm_pref.receive_sms">
            {{ 'registration.comm_pref.receive_sms' | cxTranslate }}
          </span>
        </label>

        <!-- phoneConsent -->
        <label class="register__form__checkbox" for="phoneConsentInput">
          <span class="btn register__form__checkbox-input" id="triggerPhoneConsent">
            <fa-icon
              *ngIf="!generalRegForm.get('phoneConsent').value"
              id="faSquarePhoneConsent"
              [icon]="faSquare"
            ></fa-icon>
            <fa-icon
              *ngIf="generalRegForm.get('phoneConsent').value"
              id="faCheckSquarePhoneConsent"
              [icon]="faCheckSquare"
            ></fa-icon>

            <input
              class="custom-control-input"
              id="phoneConsentInput"
              (change)="triggerConsent('phoneConsent')"
              type="checkbox"
              formControlName="phoneConsent"
            />
          </span>

          <span class="register__form__checkbox-label" id="registration.comm_pref.receive_phone">
            {{ 'registration.comm_pref.receive_phone' | cxTranslate }}
          </span>
        </label>

        <!-- postConsent -->
        <label class="register__form__checkbox" for="postConsentInput">
          <span class="btn register__form__checkbox-input" id="postConsentBtn">
            <fa-icon
              *ngIf="!generalRegForm.get('postConsent').value"
              id="faSquarePostConsent"
              [icon]="faSquare"
            ></fa-icon>
            <fa-icon
              *ngIf="generalRegForm.get('postConsent').value"
              id="faCheckSquarePostConsent"
              [icon]="faCheckSquare"
            ></fa-icon>

            <input
              class="custom-control-input"
              id="postConsentInput"
              (change)="triggerConsent('postConsent')"
              type="checkbox"
              formControlName="postConsent"
            />
          </span>

          <span class="register__form__checkbox-label" id="registration.comm_pref.receive_post">
            {{ 'registration.comm_pref.receive_post' | cxTranslate }}
          </span>
        </label>
      </div>

      <div class="register__form__holder--half">
        <div class="register__form__checkbox-description" id="registration.comm_pref.receive_marketing_descr">
          {{ 'registration.comm_pref.receive_marketing_descr' | cxTranslate }}
        </div>
      </div>
    </div>

    <!-- personalisationConsent -->
    <div class="register__form__holder">
      <div class="register__form__holder--half">
        <label class="register__form__checkbox" for="personalisationConsentInput">
          <span class="btn register__form__checkbox-input" id="persConsentBtn">
            <fa-icon
              *ngIf="!generalRegForm.get('personalisationConsent').value"
              id="faSquarePersConsent"
              [icon]="faSquare"
            ></fa-icon>
            <fa-icon
              *ngIf="generalRegForm.get('personalisationConsent').value"
              id="faCheckSquarePersConsent"
              [icon]="faCheckSquare"
            ></fa-icon>

            <input
              class="custom-control-input"
              id="personalisationConsentInput"
              (change)="triggerConsent('personalisationConsent')"
              type="checkbox"
              formControlName="personalisationConsent"
            />
          </span>

          <span class="register__form__checkbox-label" id="registration.comm_pref.receive_person_comm">
            {{ 'registration.comm_pref.receive_person_comm' | cxTranslate }}
          </span>
        </label>
      </div>

      <div class="register__form__holder--half">
        <div class="register__form__checkbox-description" id="registration.comm_pref.receive_person_comm_descr">
          {{ 'registration.comm_pref.receive_person_comm_descr' | cxTranslate }}
        </div>
      </div>
    </div>

    <!-- profilingConsent -->
    <div class="register__form__holder">
      <div class="register__form__holder--half">
        <label class="register__form__checkbox" for="profilingConsentInput">
          <span class="btn register__form__checkbox-input" id="profConsentBtn">
            <fa-icon
              *ngIf="!generalRegForm.get('profilingConsent').value"
              id="faSquareProfConsent"
              [icon]="faSquare"
            ></fa-icon>
            <fa-icon
              *ngIf="generalRegForm.get('profilingConsent').value"
              id="faCheckSquareProfConsent"
              [icon]="faCheckSquare"
            ></fa-icon>

            <input
              class="custom-control-input"
              id="profilingConsentInput"
              (change)="triggerConsent('profilingConsent')"
              type="checkbox"
              formControlName="profilingConsent"
            />
          </span>

          <span class="register__form__checkbox-label" id="registration.comm_pref.receive_profiling">
            {{ 'registration.comm_pref.receive_profiling' | cxTranslate }}
          </span>
        </label>
      </div>

      <div class="register__form__holder--half">
        <div
          class="register__form__checkbox-description"
          id="registration.comm_pref.receive_profiling_descr"
          [innerHTML]="'registration.comm_pref.receive_profiling_descr' | cxTranslate"
        ></div>
      </div>
    </div>

    <div class="register__form__holder">
      <p class="register__form__holder--full divider" id="registration.comm_pref.change_pref_help_t">
        {{ 'registration.comm_pref.change_pref_help_t' | cxTranslate }}
      </p>
    </div>

    <!-- termsOfUseOption -->
    <div class="register__form__holder register__form__holder--narrow">
      <div class="register__form__holder--full">
        <label class="register__form__checkbox" for="termsOfUseOptionInput">
          <span class="btn register__form__checkbox-input" id="termsConsentBtn">
            <fa-icon
              *ngIf="!generalRegForm.get('termsOfUseOption').value"
              id="faSquareTerms"
              [icon]="faSquare"
            ></fa-icon>
            <fa-icon
              *ngIf="generalRegForm.get('termsOfUseOption').value"
              id="faCheckSquareTerms"
              [icon]="faCheckSquare"
            ></fa-icon>

            <input
              class="custom-control-input"
              id="termsOfUseOptionInput"
              (change)="triggerConsent('termsOfUseOption')"
              type="checkbox"
              formControlName="termsOfUseOption"
            />
          </span>

          <span
            class="register__form__checkbox-label"
            id="registration.comm_pref.accept_t_and_c"
            [innerHTML]="'registration.comm_pref.accept_t_and_c' | cxTranslate"
          ></span>
        </label>
      </div>
    </div>

    <div class="register__form__holder">
      <p
        class="register__form__holder--title register__form__holder--terms-title"
        id="registration.comm_pref.t_and_c_help_t"
      >
        {{ 'registration.comm_pref.t_and_c_help_t' | cxTranslate }}
      </p>
    </div>

    <div class="register__form__holder">
      <button
        class="btn register__submit"
        id="createAccountButton"
        [class.disable-captcha]="isCaptchaDisabled_ | async"
        [disabled]="!generalRegForm.valid || isEmailExist$.value.isEmailExist"
        (click)="onSubmit()"
        type="submit"
      >
        {{ 'registration.create_account' | cxTranslate }}
      </button>
    </div>
  </form>

  <re-captcha #captchaRef="reCaptcha" (resolved)="$event && registerAccount()" size="invisible"></re-captcha>
</div>

<div class="register__form privacy-text">
  <div class="register__form__holder">
    <div class="register__form__holder--full">
      <h2 class="register__title" id="registration.comm_pref.data_title">
        {{ 'registration.comm_pref.data_title' | cxTranslate }}
      </h2>

      <p
        class="privacy-text__text"
        id="registration.comm_pref.data_par_1"
        [innerHTML]="'registration.comm_pref.data_par_1' | cxTranslate"
      ></p>
      <p
        class="privacy-text__text"
        id="registration.comm_pref.data_par_2"
        [innerHTML]="'registration.comm_pref.data_par_2' | cxTranslate"
      ></p>
      <p
        class="privacy-text__text"
        id="registration.comm_pref.data_par_3"
        [innerHTML]="'registration.comm_pref.data_par_3' | cxTranslate"
      ></p>
      <div
        class="register__form__holder--title"
        id="registration.comm_pref.data_par_4"
        [innerHTML]="'registration.comm_pref.data_par_4' | cxTranslate"
      ></div>
      <p
        class="privacy-text__text"
        id="registration.comm_pref.data_par_5"
        [innerHTML]="'registration.comm_pref.data_par_5' | cxTranslate"
      ></p>
    </div>
  </div>
</div>
