@import 'global-utilities';

.register__form {
  &.privacy-text {
    padding-bottom: 0 !important;

    .register__form__holder {
      padding: 0 ($spacing-unit * 4) 0 !important;
    }

    .privacy-text__text {
      margin-bottom: $spacing-unit * 3;
    }
  }

  &__holder {
    padding: 0 ($spacing-unit * 4) ($spacing-unit * 4) !important;
    margin: 0 !important;

    &--narrow {
      padding-bottom: ($spacing-unit * 2) !important;
    }

    .divider {
      padding-bottom: $spacing-unit * 3;
      border-bottom: 1px solid $colour-light-grey;
      margin: 0;
    }
  }

  &__checkbox {
    display: flex;
    cursor: pointer;

    &-input {
      position: relative;
      height: 24px;
    }

    &-label {
      @include font-size(14px);
      @include line-height(24px);
      font-weight: $font-weight-medium;
      text-align: left;
      margin-left: $spacing-unit;
    }

    &-description {
      @include font-size(12px);
      @include line-height(20px);
      font-weight: $font-weight-medium;
      color: $colour-text-grey;
    }

    .ng-fa-icon {
      left: 0;
      top: 0 !important;
      right: 0 !important;
    }
  }
}
