.mod-order-detail-section {
	padding-top: 20px;

	.head {
		#typo > .section-title();
	}

	.mod-address {
		margin-bottom: 30px;
		margin-top: 0;
	}

	.btn-back {
		margin-top: 20px;
		text-align: right;
		min-width: 100px;

		i {
			.s-arrow-left-black();
			margin-top: 4px;
			float: left;
		}

		&:hover i {
			.s-arrow-left-blue();
		}
	}
}