.skin-cart-directorder-component {

  .quickorder {
    position: relative;

    .heading {
      padding: ($spacing-unit * 2) 0;
    }

    &--field {
      height: 0;
      opacity: 0;
    }

    &__article {

      @media #{$ipad-landscape} {
        flex: 0 0 68%;
        max-width: 68%;
      }

      @media #{$desktop} {
        flex: 0 0 75%;
        max-width: 75%;
      }

    }

    &__numeric {

      @media #{$ipad-landscape} {
        flex: 0 0 32%;
        max-width: 32%;
        padding: 0;
      }

      @media #{$desktop} {
        flex: 0 0 25%;
        max-width: 25%;
      }

    }

    &__fieldWrapper {
      min-height: $spacing-unit * 10;

      .quickorder--field {
        height: auto;
        opacity: 1;
      }

      .numeric-popover {
        background-color: $colour-dist-red;
        bottom: $spacing-unit*14;
        border-radius: $spacing-unit - 3;
        position: absolute;
        right: $spacing-unit*2;
        min-width: 200px;
        max-width: 300px;
        width: auto;

        @media #{$ipad} {
          left: 50%;
          transform: translateX(-50%);
        }


        .arrow {
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 15px solid $colour-dist-red;
          bottom: -11px;
          left: 50%;
          position: absolute;
        }

        .popover-content {
          @include font-size(13px);
          color: $colour-white;
          padding: $spacing-unit*2;
        }

      }

    }

    .direct-prods {
      border-bottom: 1px solid $cart-directorder-component-grey;
      display: none;
      position: absolute;
      left: 10px;
      margin: 0;
      padding: 0;
      top: 72px;
      z-index: 1000;

      @media #{$ipad-landscape} {
        left: -255px;
      }

      @media #{$desktop} {
        left: -175px;
      }

      .direct-prod {
        background: $colour-white;
        border: 1px solid $cart-directorder-component-grey;
        border-bottom: 0;
        height: 90px;
        margin: 0;
        position: relative;
        padding: 0;
        list-style-type: none;
        width: 337px;

        @media #{$ipad} {
          width: 600px;
        }

        @media #{$ipad-landscape} {
          height: 66px;
        }

        .direct-prod-image {
          float: left;
          height: 65px;
          position: relative;
          width: 64px;

          .image-wrap {
            display: table-cell;
            height: 65px;
            position: relative;
            text-align: center;
            width: 64px;
            vertical-align: middle;

            img {
              max-height: 100%;
              max-width: 100%;
            }

          }

        }

        .direct-prod-info {
          float: left;
          height: auto;
          margin-left: ($spacing-unit);
          width: 150px;
          position: relative;
          text-align: left;

          @media #{$ipad-landscape} {
            width: 310px;
          }

          h3 {
            @include font-size(14px);
            @include line-height(18px);
            color: $colour-dist-red;
            margin: ($spacing-unit * 2 + 2) ($spacing-unit * 2) 0 0;
            width: 150px;

            @media #{$ipad-landscape} {
              @include font-size(16px);
              width: 310px;
            }

          }

          p {
            @include font-size(13px);
            @include line-height(18px);
            margin: 0;
            padding: 0;
          }

        }

        .direct-prod-currency {
          @include line-height(12px);
          float: right;
          height: auto;
          margin-left: 0;
          padding-right: 0;
          position: relative;
          width: 30%;

          @media #{$ipad-landscape} {
            float: left;
            height: 65px;
            line-height: normal;
            margin-left: ($spacing-unit * 2);
            width: 110px;
          }

          p {
            @include font-size(13px);
            @include line-height(18px);
            font-weight: 600;
            margin: 0;
            padding: ($spacing-unit * 2 + 1) 0 ($spacing-unit) 0;
            text-align: left;

            @media #{$ipad-landscape} {
              padding: ($spacing-unit * 2 + 1) ($spacing-unit * 2) ($spacing-unit) 0;
              text-align: unset;
            }

          }

          sub {
            float: left;
            margin-top: ($spacing-unit * 2);
            text-align: left;

            @media #{$ipad-landscape} {
              float: none;
              margin-top: 0;
              text-align: unset;
            }

          }

        }

        .direct-prod-price {
          @include font-size(15px);
          float: right;
          height: auto;
          margin-top: ($spacing-unit * 2);
          padding: 0 ($spacing-unit * 4) 0 0;
          position: relative;
          text-align: left;
          width: 30%;

          @media #{$ipad-landscape} {
            @include font-size(16px);
            float: left;
            height: 65px;
            margin-top: 0;
            padding: ($spacing-unit * 4) 0 0;
            text-align: unset;
            width: 80px;
          }

        }

        .direct-prod-click {
          bottom: 0;
          cursor: pointer;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }

      }

    }

    &--component {

      .direct-prods {
        top: $spacing-unit*8 + 1;
        transform: scale(0.8);
        transform-origin: left top;
        z-index: 9;
      }

      ul {
        display: flex;
        margin-bottom: ($spacing-unit * 2 + 2);

        li {
          @include font-size(16px);
          background: $colour-cart-directorder-action;
          border: ($spacing-unit - 4) solid $border-dist-grey;
          box-sizing: border-box;
          font-weight: 600;
          padding: ($spacing-unit - 2) ($spacing-unit);
          text-align: center;

          &:nth-child(1) {
            background: transparent;
            border: ($spacing-unit - 4) solid $colour-dist-red;
            border-top-left-radius: ($spacing-unit);
            border-bottom-left-radius: ($spacing-unit);

            a {
              color: $colour-dist-red;
            }

          }

          &:nth-child(3) {
            border-left: 0;
            border-bottom-right-radius: ($spacing-unit);
            border-top-right-radius: ($spacing-unit);
          }

          a {
            @include font-size(13px);
            color: $colour-dark-grey;
          }

          @media #{$desktop} {
            padding: ($spacing-unit) ($spacing-unit);
          }

        }

      }

    }

    &__form {
      position: relative;
    }

    &__aticle-number,
    &__quantity {
      @include font-size(15px);
      border-radius: ($spacing-unit);
      height: 40px;
      margin-bottom: ($spacing-unit * 2 + 2);
    }

    &__quantity {
      padding: ($spacing-unit + 1) ($spacing-unit + 3);

      @media #{$ipad-landscape} {
        padding: ($spacing-unit);
      }

    }

    &__quantity {

      &.disabled {
        border-color: $colour-light-grey;
        opacity: 0.4;
        pointer-events: none;

        &::placeholder {
          color: $colour-light-grey;
        }

      }

    }

    &__cta {

      &--add-to-cart {
        @include font-size(15px);
        @include line-height(17px);
        font-weight: bold;
        height: 40px;
        margin-bottom: $spacing-unit * 4;
        margin-top: $spacing-unit * 4;

        @media #{$ipad} {
          margin-bottom: $spacing-unit * -1;
          margin-top: 0;
        }

      }

      &--floating-add-to-cart {

        button {
          @include line-height(35px);
          background: transparent;
          border: ($spacing-unit - 4) solid $colour-dist-red;
          box-sizing: border-box;
          color: $colour-dist-red;
          font-weight: 600;
          height: 38px;
          margin-top: 0;
          padding: 0 ($spacing-unit * 4);
          width: auto;

          @media #{$ipad} {
            margin-bottom: ($spacing-unit * 2);
          }

          @media #{$desktop} {
            margin: 0;
          }

        }

      }

      &--add-product, &--import-tool {
        @include font-size(13px);
        @include line-height(14px);
        border: 0;
        float: right;
        font-weight: bold;
        height: auto;

        i {
          @include font-size(10px);
          margin: 0 ($spacing-unit) 0 0;
          vertical-align: baseline;
        }

      }

      &--add-product {
        @include font-size(14px);
        color: $colour-dist-red;
        float: left;
        margin: ($spacing-unit - 3) 0  ($spacing-unit * 3) 0;
        padding: 0;
        text-align: left;
        width: 100%;

      }

      &--import-tool {
        border: none;
        padding: ($spacing-unit + 3) 0;
      }

    }

    .border {

      &--red {
        border-color: $colour-dist-red;
      }

    }

  }

}

