.mod-cart-directorder {

  &__main {
    float: left;
    width: 100%;

    .holder {
      display: flex;
      justify-content: space-between;
      position: relative;

      &__input {
        @include font-size(14px);
        border: 1px solid $cart-directorder-border-grey;
        border-radius: 2px;
        display: unset;
        height: 37px;
        padding: 0 0 0 ($spacing-unit * 3);
        width: 100%;

        &:focus {
          background-color: transparent;
          border-width: 1px;
        }

        @include placeholder {
          @include font-size(12px);
        }

      }

      &__numeric {
        border: 1px solid $cart-directorder-border-grey;
        border-radius: 2px;
        display: unset;
        flex-shrink: 0;
        float: none;
        height: auto;
        margin: 0 0 0 ($spacing-unit * 3);
        max-width: 105px;
        width: 100%;

        .btn-wrapper {

          &__btn,
          &__input {
            display: inline-block;
            float: left;
            left: auto;
            margin: 0;
            position: relative;
            right: auto;
            top: auto;
            width: 33.33%;
          }

          &__btn {
            @include line-height(35px);
            background: $cart-directorder-bg-grey;
            height: auto;
            text-align: center;
          }

          &__input {
            border-bottom: 0;
            border-top: 0;
            height: 35px;
            padding: 0;
          }

        }

      }

      .btn-add-product {
        @include font-size(13px);
        @include line-height(14px);
        color: $colour-white;
        display: inline-block;
        padding: ($spacing-unit * 2) $spacing-unit;
        margin-left: ($spacing-unit * 3);
        min-width: 141px;
        width: auto;
        vertical-align: middle;
        height: auto;

        &:hover {
          color: $colour-dist-red;
        }

        @media #{$ipad-landscape} {
          max-width: 150px;
        }

        @media #{$desktop} {
          max-width: unset;
        }

      }

      &__relative {
        flex-grow: 1;
        max-width: 582px;
        position: relative;
        width: 100%;

        .direct-prods {
          background: $colour-white;
          border: 1px solid $cart-directorder-border-grey;
          display: none;
          left: 0;
          position: absolute;
          top: 35px;
          width: 100%;
          z-index: 10;

          .direct-prod {
            align-items: center;
            border-bottom: 1px solid $cart-directorder-border-grey;
            display: flex;
            flex-wrap: wrap;
            float: left;
            justify-content: space-between;
            padding: ($spacing-unit * 3);
            width: 100%;

            @media #{$desktop} {
              flex-wrap: unset;
            }

            &:last-of-type {
              border-bottom: 0;
            }

            &__content {
              flex-grow: 1;
              max-width: 307px;
              padding-right: ($spacing-unit * 2);
              width: 100%;

              @media #{$ipad-landscape} {
                max-width: 275px;
              }

              @media #{$desktop} {
                max-width: 384px;
                padding-right: ($spacing-unit);
              }

              .direct-prod-image {
                display: block;
                float: left;
                height: 51px;
                width: 40px;

                @media #{$desktop} {
                  width: 57px;
                }

                img {
                  display: inline-block;
                  height: 51px;
                  max-width: 100%;
                }

              }

              .direct-prod-info {
                display: inline-block;
                float: none;
                height: auto;
                margin-left: ($spacing-unit * 3);
                width: 81%;

                @media #{$ipad-landscape} {
                  margin-left: ($spacing-unit * 2);
                }

                @media #{$desktop} {
                  margin-left: ($spacing-unit * 3);
                }

                h3 {
                  @include font-size(14px);
                  @include line-height(18px);
                  color: $colour-black;
                  margin: 0;
                  width: 100%;

                  @media #{$ipad-landscape} {
                    @include font-size(12px);
                  }

                  @media #{$desktop} {
                    @include font-size(14px);
                  }

                }

              }

              .direct-prod-art {
                float: left;
                margin-left: ($spacing-unit * 3);

                @media #{$ipad-landscape} {
                  margin-left: ($spacing-unit * 2);
                }

                @media #{$desktop} {
                  margin-left: ($spacing-unit * 3);
                }

                p {
                  @include font-size(12px);
                  @include line-height(24px);
                  color: $colour-black;
                  margin: 0;

                  @media #{$ipad-landscape} {
                    @include font-size(10px);
                  }

                  @media #{$desktop} {
                    @include font-size(12px);
                  }

                }

              }

              .direct-prod-price {
                @include font-size(12px);
                @include line-height(24px);
                float: right;
                height: auto;
                padding: 0 0 0 ($spacing-unit * 2);
                width: auto;

                @media #{$ipad-landscape} {
                  @include font-size(10px);
                }

                @media #{$desktop} {
                  @include font-size(12px);
                }

              }

              .direct-prod-currency {
                float: right;
                height: auto;
                margin: 0;
                padding: 0;

                p,
                sub {
                  @include font-size(12px);
                  display: inline-block;
                  margin-bottom: 0;
                  padding: 0;
                  top: 0;

                  @media #{$ipad-landscape} {
                    @include font-size(10px);
                  }

                  @media #{$desktop} {
                    @include font-size(12px);
                  }

                }

                sub {
                  padding-left: ($spacing-unit * 3);
                }

              }

            }

            &__btn {
              flex-shrink: 0;
              min-width: 72px;


              span {
                @include font-size(12px);
                height: auto;
                padding: ($spacing-unit - 2) 0;
              }

            }

          }

        }

      }

    }

  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

}
