.mod-account-list-filter {
	.form-box {
		position: relative;
		padding: 15px 15px 5px;
		margin-bottom: 20px;
		#border > .border-std(1px, 1px, 1px, 1px);

		.btn {
			float: left;
		}

		/* Inline Fields */
		.inline-fields {
			#typo > .size-s(); // todo: @dmo so lassen?
		}
		.inline-fields * {
			display: inline-block;
			margin-right: 4px;
		}
		.inline-fields .field {
			width: 80px;
		}
		.inline-fields .from {
			min-width: 30px;
		}
		.inline-fields .to {
			text-align: right;
			min-width: 25px;// approximation to align inputs
		}

		/* Date Fields */
		.date-fields .field {
			width: 115px;
		}
		.date-fields .calendar {
			pointer-events: none;
			cursor: pointer;
			margin-left: -25px;
			margin-right: 0;
			width: 22px;
			min-width: 0;
			position: absolute;
			margin-top: 7px;
			

			i {
				.s-calendar-black();
			}
		}
		
		/* Range fields */
		.range-fields .field {
			width: 115px;
		}
		
		.oneLine{
			margin-top: 6px;
		}
		
		.twoLines{
			margin-top: -3px;
		}

		
		
		.label_filter_reference{
			line-height: 0px;
		}
		
		.base label {
		    font-size: 14px;
		}

		// ACTIONS
		.actions {
			position: absolute;
			width: 120px;
			bottom: 15px;
			right: 20px;

			// BUTTON reset
			.btn-reset {
				padding-top: 0;
				padding-bottom: 0;
				height: 34px;
				width: 100%;
				text-align: left;
				margin-bottom: 10px;

				i {
					display: none;
				}
			}

			// BUTTON search
			.btn-search {
				padding-top: 0;
				padding-bottom: 0;
				height: 36px;
				display: block;
				text-align: left;
				width: 100%;

				i {
					float: right;
					margin: 3px 0 0 0;
					.s-arrow-right-white();
				}
				&:hover i,
				&:active i,
				&:focus i {
					.s-arrow-right-red();
				}
			}
		}
	}

	@media print {

		.btn {
			.hidden();
		}

		.calendar {
			.hidden();
		}

		#statusSelectBoxItArrowContainer {
			.hidden();
		}
	}
}
