.mod-nav-content {

  .accordion-item-title {
    @include font-size(16px);
    @include line-height(47px);
    display: inline-block;
    line-height: 47px;
    font-weight: 500;
    margin-left: 50px;
    outline: none;
  }

  .spring {

    display: none;
    padding-bottom: 5px;

    a {
      @include font-size(14px);
      @include line-height(18px);
      display: inline-block;
      font-weight: 500;
      margin-bottom: 8px;
      margin-left: 50px;
      position: relative;

      // To be used when menu option selected :-)
      &.active {
        color: $colour-dist-red;
      }

    }

    .badge {
      display: none;
    }
  }

}