.skin-nav-content-myaccount {
  margin: 0;
  padding: 0;

  .accordion-item-title {

    @media #{$ipad-landscape} {
      @include line-height(23px);
    }

    @media #{$desktop} {
      @include line-height(47px);
    }

  }

  @media print {
    display: none;
  }

}
