.mod-account-user-detail-form {

	.form-box {

		h2.form-title {
			#typo > .heading-content();

			+ .row {
				margin-top: 10px;
			}
		}

		padding: 20px 0 15px 0;
		#border .border-std(0, 0, 1px, 0);

		// PARAGRAPH
		.value {
			line-height: 34px;
			margin: 0;

			&.neg {
				color: @c-red;
			}
		}
	}

	// FORM BOX approved budget
	.form-approved-budget {
		.gu-1{
			width: 50px;
		}
		.gu-7{
			width: 510px;
		}
		.currency {
			display: inline-block;
			width: 50px;
			line-height: 36px;
		}
		.field {
			display: inline-block;
			width: 250px;
		}
		input[type=hidden]{
			position: absolute;
		}
	}

	// FORM BOX allowed permissions
	.form-allowed-permissions {
		label {
			display: inline-block;
			margin-right: 20px;
		}
	}

	// BUTTON change
	.btn-primary {
		#typo > .size-s();
		float: left;
		text-align: left;
		width: 300px;


		i {
			float: right;
			margin: 3px 0 0 0;
			.s-arrow-right-white();
		}
		&:hover i,
		&:active i,
		&:focus i {
			.s-arrow-right-red();
		}
	}

	.btn-cancel {
		float: left;

		i {
			float: left;
			.s-arrow-left-black();
		}

		&:focus i,
		&:hover i {
			.s-arrow-left-blue();
		}
	}

	.btn-deactivate-user {
		float: left;
		margin-left: 20px;
	}
	
	.btn-delete-user {
		float: left;
		margin-left: 20px;
		width: 160px;
	}
}