.mod-detailpage-toolbar {
  float: left;
  width: 100%;

  .social-buttons {
    float: left;
    margin: 0;
    width: 100%;

    .mod-toolsitem {
      float: left;
      height: auto;
      line-height: unset;
      margin: 0 0 ($spacing-unit * 2);
      padding: 0;
      width: 100%;

      @media #{$ipad} {
        margin: 0;
        width: 37.5%;
      }

      @media #{$ipad-landscape} {
        width: 35%;
      }

      @media #{$desktop} {
        width: 37.5%;
      }

      .text-holder {
        @include font-size(12px);
        @include line-height(14px);
        color: $colour-mid-grey;
        display: inline-block;
        font-weight: 500;
        margin: 0;
        padding: ($spacing-unit * 2) 0 0 ($spacing-unit + 2);
        transition: color 0.2s ease-in-out;
        width: 250px;

        @media #{$ipad} {
          width: 150px;
        }

        @media #{$ipad-landscape}{
          width: 100px;
        }

        @media #{$desktop} {
          width: 150px;
        }

      }

      .icon-holder {
        display: inline-block;
        float: left;
        height: 33px;
        text-align: center;
        width: 33px;

        i {
          background: none;
          float: none;
          height: auto;
          margin: 0;
          width: auto;

          &:hover {
            background: none;
          }
          &:before {
            @include font-size(24px);
            @include line-height(24px);
          }

        }

        i {
          background-image: none;
          border: 0;
          color: $colour-light-grey;
          float: none;
          height: auto;
          margin: $spacing-unit 0 0 ($spacing-unit - 4);
          padding: 0;
          width: auto;
          vertical-align: middle;
          font-weight: 600;
          transition: color .2s ease;

          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            vertical-align: top;
          }

          &:hover {
            background: none;
          }

        }

      }

      .ico {
        &:hover {
          i {
            color: $colour-dist-marigold;
          }

          .text-holder {
            color: $colour-dist-mid-grey;
          }

          .icon-holder {
            border-color: $colour-dist-marigold;
          }
        }

        &.active {
          .text-holder {
            color: $colour-dist-mid-grey;
          }

          i,
          svg {
            color: $colour-dist-marigold;
          }

        }
      }

      &:last-of-type {

        @media #{$ipad} {
          width: 25%;
        }

        @media #{$ipad-landscape} {
          width: 30%;
        }

        @media #{$desktop} {
          width: 25%;
        }

        .text-holder {

          @media #{$ipad} {
            width: 102px;
          }

        }

      }

      &.skin-toolsitem-shopping {

        i {
          margin-left: ($spacing-unit - 4);
        }

      }


    }

  }

}
