.skin-numeric-stepper-product-list-shopping {
  float: left;
  display: inline-block;
  width: auto;

  @media #{$ipad} {
    float: right;
  }

  .cell-numeric-tabular {
    .numeric {
      border: 1px solid $numeric-technical-border;
      margin: 0;
      max-width: 112px;
      width: 100%;

      .numeric-popover {
        &.popover {
          bottom: 50px;
          left: -13px;
        }
      }

      .popover {
        &.top {
          .arrow {
            bottom: -10px;
            left: 30%;
          }
        }
      }

      .ipt {
        @include font-size(14px);
        border-bottom: 0;
        border-top: 0;
        color: $numeric-technical-ipt-text;
        display: inline-block;
        float: left;
        font-weight: bold;
        height: 30px;
        margin: 0;
        outline: none;
        width: 50px;
      }

      .numeric-btn {
        @include font-size(26px);
        display: inline-block;
        float: left;
        height: 30px;
        outline: none;
        position: relative;
        width: 30px;

        &.numeric-btn-down {
          border: 0;
          color: $numeric-technical-font-grey;
        }
      }
    }
  }
}
