// Media Queries

$mobile: 'only screen and (min-width: 480px)';
$mobile-only: 'only screen and (max-width: 767px)';
$mobile-landscape: 'only screen and (min-width: 568px)';

$mobile-iphone6: 'only screen and (min-width: 375px)';
$mobile-iphone6-landscape: 'only screen and (min-width: 667px)';

$ipad: 'only screen and (min-width: 768px)';
$ipad-only: 'only screen and (max-width: 1179px)';
$ipad-landscape: 'only screen and (min-width: 992px)';
$ipad-landscape-down: 'only screen and (max-width: 991px)';

$desktop: 'only screen and (min-width: 1200px)';
$desktop-max: 'only screen and (max-width: 1200px)';

$homepage-container: 'only screen and (min-width: 1400px)';

$firefox: 'url-prefix()';
