@use 'sass:math';

@import 'bootstrap/scss/mixins/transition';

@function calculateRem($size) {
  $remSize: math.div($size, 16px);
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font-size-important($size) {
  font-size: $size !important;
  font-size: calculateRem($size) !important;
}

@mixin line-height($size) {
  line-height: $size;
  line-height: calculateRem($size);
}

@mixin line-height-important($size) {
  line-height: $size !important;
  line-height: calculateRem($size);
}

@mixin typography($size, $line-height) {
  @include font-size($size);
  line-height: $line-height;
}

// Mixins for the text variations defined in the design system
// See: https://www.figma.com/file/sTywg49C2f7JlHf6uF1nL1/Build?node-id=1279-19021&t=LJWE7e4ZxBhf1QOC-4

// Headings
@mixin typography-display-xxxl() {
  @include typography($font-size-display-xxxl, $line-height-display);
}

@mixin typography-display-xxl() {
  @include typography($font-size-display-xxl, $line-height-display);
}

@mixin typography-display-xl() {
  @include typography($font-size-display-xl, $line-height-display);
}

@mixin typography-display-lg() {
  @include typography($font-size-display-lg, $line-height-display);
}

@mixin typography-display-md() {
  @include typography($font-size-display-md, $line-height-display);
}

@mixin typography-display-sm() {
  @include typography($font-size-display-sm, $line-height-display);
}

@mixin typography-display-xs() {
  @include typography($font-size-display-xs, $line-height-display);
}

// Body text and content
@mixin typography-text-lg() {
  @include typography($font-size-text-lg, $line-height-text);
}

@mixin typography-text-md() {
  @include typography($font-size-text-md, $line-height-text);
}

@mixin typography-text-sm() {
  @include typography($font-size-text-sm, $line-height-text);
}

@mixin typography-text-xs() {
  @include typography($font-size-text-xs, $line-height-text);
}

// UI elements e.g. buttons, labels
@mixin typography-ui-lg() {
  @include typography($font-size-ui-lg, $line-height-ui);
}

@mixin typography-ui-md() {
  @include typography($font-size-ui-md, $line-height-ui);
}

@mixin typography-ui-sm() {
  @include typography($font-size-ui-sm, $line-height-ui);
}

@mixin typography-ui-xs() {
  @include typography($font-size-ui-xs, $line-height-ui);
}
