/***********************************/
/*********** Colours ***************/
/***********************************/
// General
$colour-white: #fff;
$colour-black: #000;

// RGB
$colour-red: #df1417;
$colour-dark-red: #ac0000;
$colour-pale-red: #fce7e7;
$colour-btn-red-background: #de1417;
$colour-green: #68c143;
$colour-dark-green: #3f7727; // Changed in headless from #358E10
$colour-pale-green: #f0f9ec;
$colour-dist-dark-green: #2f8312;
$colour-dist-grey: #393e41;
$colour-blue: #007bff;
$colour-pale-blue: #e5f5f7;
$colour-info-blue: #f0f5ff;
$colour-info-label: #2f6fed;
$colour-alert-red: #fef1f2;
$colour-alert-label: #e02d3c;
$colour-success-green: #ecfdf8;
$colour-warning-label: #874000;

// Shades
$colour-light-grey: #d8d8d8;
$colour-strong-light-grey: #f6f6f6;
$colour-pale-grey: #f7f9fc;
$colour-dist-mid-grey: #545a5e;
$colour-mid-grey: #979797;
$colour-dark-grey: #393e41;
$colour-mid-black: #212529;
$colour-cart-entry-shadow: rgb(0 0 0 / 15%);
$colour-box-shadow: #18274b;

// Box shadows
$colour-box-shadow-100:
  0 2px 4px -2px rgba($colour-box-shadow, 0.12),
  0 4px 4px -2px rgba($colour-box-shadow, 0.08);
$colour-box-shadow-200:
  0 4px 6px -4px rgba($colour-box-shadow, 0.12),
  0 8px 8px -4px rgba($colour-box-shadow, 0.08);
$colour-box-shadow-300:
  0 6px 8px -6px rgba($colour-box-shadow, 0.12),
  0 8px 16px -6px rgba($colour-box-shadow, 0.08);
$colour-box-shadow-400:
  0 6px 12px -6px rgba($colour-box-shadow, 0.12),
  0 8px 24px -4px rgba($colour-box-shadow, 0.08);
$colour-box-shadow-500:
  0 6px 14px -6px rgba($colour-box-shadow, 0.12),
  0 10px 32px -4px rgba($colour-box-shadow, 0.1);
$colour-box-shadow-600:
  0 8px 18px -6px rgba($colour-box-shadow, 0.12),
  0 12px 42px -4px rgba($colour-box-shadow, 0.12);
$colour-box-shadow-700:
  0 8px 22px -6px rgba($colour-box-shadow, 0.12),
  0 14px 64px -4px rgba($colour-box-shadow, 0.12);
$colour-box-shadow-800:
  0 8px 45px -6px rgba($colour-box-shadow, 0.25),
  0 18px 88px -4px rgba($colour-box-shadow, 0.25);

// Other
$colour-orange: #eaa218;
$colour-dark-orange: #b76f00;
$colour-dist-carmine: #aa1936;
$colour-pale-orange: #fdf6e7;

// Components
$colour-button-light-grey: #eeeeee;
$colour-button-dark-grey: #e1e1e1;
$colour-rnd-orange: #f05e22;
$colour-rnd-yellow: #faad3b;
$colour-rnd-aqua: #00b2af;
$colour-rnd-blue: #5090cc;
$colour-rnd-violet: #858cbd;
$colour-d4-blue: #0043bb;
$colour-vivid-red: #d91317;
$colour-dist-marigold: #f69f1d;
$colour-buttercup: $colour-dist-marigold;
$colour-home-background: $colour-pale-grey;
$colour-home-btns-blue: #39b4cb;
$colour-new-page-bg: $colour-pale-grey;
$plp-facet-sidebar-grey: #8c96a9;
$colour-progress-grey: $colour-dist-mid-grey;
$colour-plp-labels-grey: #a8a8a8;
$colour-backorder-item: #806520;
$colour-disable-button: #7f7f7f;

// Redesign colours and bgs
$colour-redesign-dark-black: #333;
$colour-redesign-mid-black: #797979;
$colour-redesign-dark-green: #066547;
$colour-redesign-light-grey: #81858a;
$bg-redesign-dark-blue: #1b655e;

// Backgrounds
$bg-button-green: $colour-green;
$bg-button-red: $colour-red;
$bg-dist-green: $colour-green;
$bg-dist-light-green: #f7fcf5;
$bg-dist-orange: rgba(234, 162, 24, 0.1);
$bg-dist-modal-grey: $colour-strong-light-grey;
$bg-black: $colour-black;
$bg-info-alert: #e7fffe;
$bg-dark-green: #e9f2ef;
$bg-login-page: #efefef;
$bg-cart-item-footer: #f8f8f8;
$bg-cart-item-add-reference-mobile: #f2f2f2;
$bg-backorder-item: #fefaf3;

// Borders
$border-icon-octagon: #848282;
$border-button-action-red: $bg-button-red;
$border-dist-grey: #ccc;
$border-global-grey: #ccc;
$border-global-grey-light: lighten($border-global-grey, 12%);
$border-ux-grey: #e2e1e2;
$border-global-green: #d5eeca;
$border-input-warning: #f9d0cd;
$border-correct-input-dark: #08875f;
$border-correct-input-green: #097d56;
$border-correct-input-light: #056446;
$border-error-input-red: #e02d3c;
$border-info-alert: #a8eeeb;
$leadTime-border: $colour-pale-grey;
$border-metahd-item-account-grey: #ccc;
$border-dark-green: #c2dcd2;
$border-cart-item: #dbdbd8;
$border-backorder-item: #fce0b4;
$border-carousel-grey: #d5dde5;

// Links
$link-blue: #005e80;
$link-dark-blue: #00435c;
$colour-link-blue: $link-blue;
$colour-link: $link-blue;

// Text
$colour-text-grey: #595959;
$colour-text-dark: #363636;
$colour-paragraph-grey: $colour-dark-grey;

// Icons
$icon-dark-grey: #666666;
$icon-green: #08875f;
$colour-coming-soon-icon: $icon-dark-grey;
$icon-success-color: #097d56;

$color-category-thumps-shadow: rgba(0, 0, 0, 0.15);
$colour-breadcrumb-bg: $colour-pale-grey;

// Icon colours
$colour-icon-grey: $colour-mid-grey;

// Success and Error Messages
$colour-error-text: #f74747;
$colour-error-message: #f7a9a9;
$colour-error-bg: #fdf3f3;

$colour-success-bg: #e3fcec;
$colour-success-border: #a8eec1;
$colour-success-text: #145239;

$colour-popup-border: #d6dfe5;
$colour-popup-button-border: #c0c3c7;

$colour-dangerous-border: #ea933e;
$colour-dangerous-bg: #fffeec;

$colour-warning-text: #856404;
$colour-warning-text-bg: #fff3cd;

// Shadows
$feedback-shadow: rgba(#cccccc, 0.25);

/***********************************/
/*********** Spacing ***************/
/***********************************/
$spacing-unit: 5px;
$spacing-unit-small: 2px;

$size-mobile-nav-height: 45px;

/***********************************/
/********** Typography *************/
/***********************************/
// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

// Font names
$font-myriad-pro: 'Myriad Pro';
$font-myriad-pro-semi: 'Myriad Pro Semi';
$font-arial: 'Arial';
$font-montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$font-roboto: 'Roboto Regular';
$fontAwesome: 'FontAwesome';

$line-height-display: 1.2;
$line-height-text: 1.5;
$line-height-ui: 1;

$font-size-display-xxxl: 40px;
$font-size-display-xxl: 32px;
$font-size-display-xl: 24px;
$font-size-display-lg: 20px;
$font-size-display-md: 18px;
$font-size-display-sm: 16px;
$font-size-display-xs: 14px;

$font-size-text-lg: 18px;
$font-size-text-md: 16px;
$font-size-text-sm: 14px;
$font-size-text-xs: 12px;

$font-size-ui-lg: 18px;
$font-size-ui-md: 16px;
$font-size-ui-sm: 14px;
$font-size-ui-xs: 12px;

/***********************************/
/******** New UX changes ***********/
/***********************************/

//spacing
$ux-spacing-unit: 4px;

// General
$ux-green: #16891f;
$ux-green-hover: #105e16;
$ux-green-focus: #0b3e0f;

$ux-red: #df1417;
$ux-red-hover: #aa1936;
$ux-red-focus: #7c1328;
$ux-error: #e02d3c;
$ux-red-danger-bg: #fef1f2;

$ux-light-grey: #dddfe3;
$ux-grey: #616567;
$ux-mid-grey: #6e7a8a;
$ux-hover-state: #e8edf1;
$ux-border-radius-default: 4px;

$ux-outline: #c0c3c7;
$ux-outline-hover: #81858a;
$ux-outline-focus: #616567;
$ux-outline-text: #616567;

$ux-banner-link:#005E80;

//Text
$ux-text-pipe: #c4c4c4;
$ux-text-default: #393e41;
$ux-label-disabled: #7f7f7f80;
$ux-text-medium-gray: #a2a2a2;

//Button
$ux-button-disabled: #f2f2f2;
$ux-button-text-disabled: #7f7f7f;

// Forms
$ux-input-default-bg: #f7f7f7;
$ux-input-light-bg: #f1f2f2;
$ux-input-border-color: $colour-mid-grey;
$ux-input-border-color-light: #c0c3c7;

// Banners
$ux-banner-info-border: #322fed;
$ux-banner-info-bg: #f0f5ff;
$ux-banner-info-color: #322fed;
$ux-banner-info-icon-color: #322fed;

$ux-banner-success-border: #097d56;
$ux-banner-success-bg: #ecfdf8;
$ux-banner-success-color: #097d56;
$ux-banner-success-icon-color: #097d56;

$ux-banner-warning-border: #874000;
$ux-banner-warning-bg: #fff8eb;
$ux-banner-warning-color: #874000;
$ux-banner-warning-icon-color: #874000;

$ux-banner-danger-border: #e50018;
$ux-banner-danger-bg: #fef5f1;
$ux-banner-danger-color: #e50018;
$ux-banner-danger-icon-color: #e50018;

//alerts
$ux-alerts-info-bg-color: #f0f5ff;
$ux-alerts-info-color: #322fed;
$ux-alerts-warning-bg-color: #fff8eb;
$ux-alerts-warning-color: #b25e09;
$ux-alerts-error-bg-color: #fef1f2;
$ux-alerts-error-color: #e02d3c;
$ux-alerts-success-bg-color: #ecfdf8;
$ux-alerts-success-color: #08875d;

//header
$ux-top-header-color: #f2f6f7;
// Popup
$ux-popup-background: #ffffff;

// Panels
$ux-panel-width: 448px;

// Buttons
$ux-hover-btn-green: #105e16;

// Transition timings
$ux-transition-time-medium: 0.2s;
$ux-transition-time-default: 0.3s;
$ux-transition-time-long: 0.4s;

// Selects
$ux-default-select-height: 40px;
$ux-header-xxl-height: 160px;
$ux-header-sm-height: 102px;
$ux-header-xxl-height-warning-message: 216px;
$ux-header-sm-height-warning-message: 160px;

// Inputs
$ux-default-input-height: 40px;

/***********************************/
/********** Visibility *************/
/***********************************/
// Opacity
$disabled-opacity: 0.4;

// Z-index master list copied from bootstrap
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
$zindex-menu-panel: 1080;

/***********************************/
/*********** Bootstrap *************/
/***********************************/
$enable-prefers-reduced-motion-media-query: true;
$enable-transitions: true;

/***********************************/
/******* Custom components *********/
/***********************************/
// Skeleton loader
$skeleton-bg: $ux-light-grey;
$skeleton-item-bg: $colour-pale-grey;
