.footer.checkout {
  position: relative;
}

.mod-footer {
  .cr-footer {
    @include font-size(14px);
    padding: ($spacing-unit * 5) 0;
    border-top: 1px solid $ux-light-grey;
    background-color: $colour-white;
    color: $colour-redesign-light-grey;
    font-weight: 500;

    &__credit-cards-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @media #{$ipad} {
        justify-content: flex-end;
      }

      &__item {
        margin-top: $spacing-unit;
        margin-right: $spacing-unit * 2;

        img {
          height: 46px;
        }
      }
    }

    &__secure {
      margin-top: $spacing-unit * 2;
      text-align: center;

      @media #{$ipad} {
        margin-top: 0;
        text-align: left;
      }

      .fa-lock {
        margin-right: $spacing-unit;
      }
    }

    &__copy {
      @include font-size(12px);
      padding-top: $spacing-unit * 2;

      @media #{$ipad} {
        padding-top: $spacing-unit * 5;
      }

      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
