@import 'global-utilities';

:host {
  display: flex;
}

.saved-bom-entries {
  .no-files-saved {
    margin-top: $spacing-unit * 3;
  }

  &__body {
    margin: ($spacing-unit * 6) auto;
    min-height: 500px;
  }

  &__item {
    border-bottom: 1px solid $colour-mid-grey;
    min-height: 65px;
    padding: ($spacing-unit * 3);
    position: relative;

    &:first-of-type {
      border-top: 1px solid $colour-mid-grey;
      margin-top: ($spacing-unit * 8);
    }
  }
}
