.mod-track-and-trace {
  border: 0;
  margin: 0;
  padding: 0;

  &__holder {
    border-bottom: 1px $border-track-trace-grey solid;
    float: left;
    margin-bottom: ($spacing-unit * 6);
    padding-bottom: ($spacing-unit * 6);
    width: 100%;

    ul {
      padding-top: 0;
    }

    a {
      @include font-size(14px);
      @include line-height(24px);
      color: $link-blue;

      &:hover,
      &:focus {
        color: $link-dark-blue;
        text-decoration: underline;
      }
    }

    .box {
      padding: 0;

      .small {
        @include font-size(14px);
        @include line-height(24px);
        color: $colour-paragraph-grey;
      }

    }

    .n {
      @include font-size(14px);
      @include line-height(24px);
      padding-left: 10px;
    }

  }

}

