@import 'global-utilities';

:host {
  display: flex;
  align-items: flex-start;
}

.saved-bom-entries {
  &__filename {
    @include font-size(18px);
    flex-grow: 1;
    display: inline-block;
    font-weight: $font-weight-bold;
    padding: $spacing-unit 0;
    word-break: break-all;
  }

  &__save-item {
    display: flex;
    align-items: center;
    flex-grow: 1;

    > * + * {
      margin-left: $spacing-unit;
    }

    input {
      @include font-size(18px);
      height: 35px;
      border: none;
      border-bottom: 2px solid $colour-mid-grey;
      font-weight: $font-weight-bold;
      outline: none;
      padding: 0 ($spacing-unit * 2) 0 0;
      width: 75%;
    }
  }
}

button {
  height: auto;
  outline: none;
  display: inline-block;
  position: relative;
  text-align: left;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.wrapper-dropdown {
  @include font-size(14px);
  background-color: $colour-pale-grey;
  display: inline-flex;
  align-items: center;
  position: relative;

  &__spacer {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: $colour-mid-grey;
    margin: 2px 0;
  }

  &__top-item {
    display: inline-block;
    padding: $spacing-unit ($spacing-unit * 2);

    &:hover {
      color: inherit;
      text-decoration: none;
      background-color: $colour-mid-grey;
    }
  }

  &__menu {
    padding: $spacing-unit ($spacing-unit * 2);

    &.active {
      background-color: $colour-mid-grey;
    }
  }

  .dropdown {
    background-color: $colour-white;
    border: 1px solid $colour-mid-grey;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: $zindex-dropdown;

    li {
      &:hover {
        background-color: $colour-pale-grey;
        color: $colour-white;
      }

      button {
        height: auto;
        min-width: 120px;
        outline: none;
        padding: $spacing-unit * 2;

        i {
          margin: 0;
        }
      }
    }
  }
}
