.mod-lightbox-login-required {

  .modal {
    background: $bg-lightbox-modal;
    left: 50%;
    margin-left: 0;
    outline: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 320px;

    @media #{$ipad-landscape} {
      width: 480px;
    }

    &.current {
      display: block;
    }

    .error-box {
      display: none;
    }

    .hd {
      background: $bg-light-box-header;
      display: table;
      float: left;
      height: 100%;
      padding: 0 ($spacing-unit * 5);
      text-align: center;
      width: 100%;

      .-right {
        line-height: 0;
      }

      .title {
        @include font-size(20px);
        @include line-height(26px);
        color: $colour-white;
        font-weight: normal;
        margin: 0;
      }

    }

    .bd {
      float: left;
      padding: 0 ($spacing-unit * 5) 0;
      width: 100%;

      .form-row {
        float: left;
        width: 100%;

        .field {
          float: left;
          margin-bottom: ($spacing-unit);
          width: 100%;
        }

        .fields {
          @include font-size(14px);
          height: 36px;
          padding: 0 0 0 ($spacing-unit * 3);
          width: 100%;
        }

        &.password {
          margin-top: ($spacing-unit);

          > label {
            display: none;
          }

        }

      }

    }

    .ft {
      float: left;
      padding: 0 ($spacing-unit * 5) ($spacing-unit * 5);
      width: 100%;

      .left {
        float: left;
        width: 100%;

        .link {
          @include font-size(13px);
          @include line-height(15px);
          color: $colour-dist-mid-grey;
          display: block;
          float: right;
          font-weight: normal;
          text-decoration: none;

          &:hover {
            color: $colour-dist-grey;
            text-decoration: underline;
          }

        }

      }



      .btn-primary {
        float: left;
        margin: ($spacing-unit * 2) 0 0 0;
        width: 100%;

        @media #{$ipad} {
          float: none;
          margin: 0 0 0 ($spacing-unit * 3 + 1);
          width: 155px;
        }

      }

    }

  }

}
