@import 'global-utilities';

:host {
  .nav {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: ($ux-spacing-unit * 2);

    &__label {
      font-weight: $font-weight-medium;
      @include typography-text-xs();
    }

    &__pipe {
      background-color: $ux-text-pipe;
      height: 12px;
      width: 1px;
    }

    &__country-wrapper {
      display: inherit;
      align-items: center;
      gap: $ux-spacing-unit;

      &__icon {
        width: 16px;
        height: 12px;
      }
    }
  }

  .sitesettings {
    .item {
      float: left;
      width: 100%;

      &.channel {
        border-bottom: 1px solid $ux-light-grey;
        margin-bottom: ($spacing-unit * 3 + 1);
        padding-bottom: ($spacing-unit - 1);
      }

      select {
        width: 100%;
      }

      .country-name {
        @include typography-text-sm;
        color: $colour-dist-grey;
        font-weight: $font-weight-normal;
        margin-left: ($spacing-unit * 2);
      }

      .btn {
        @include typography-text-sm;
        background-color: $ux-green;
        border-radius: $ux-border-radius-default;
        color: $colour-white;
        display: inline-block;
        font-weight: $font-weight-semiBold;
        height: 48px;
        margin-left: 0;
        outline: 0;
        padding: 0;
        width: 100%;

        &:hover {
          background-color: $ux-hover-btn-green;
        }
      }

      .heading {
        @include typography-text-sm;
        color: $colour-dark-grey;
        display: block;
        font-weight: $font-weight-medium;
        margin-bottom: ($spacing-unit * 3 + 1);
        text-overflow: ellipsis;
        white-space: nowrap;

        &.country {
          margin-bottom: ($spacing-unit + 3);
        }
      }

      .border {
        border-top: ($spacing-unit - 4) solid $ux-light-grey;
        padding: ($spacing-unit * 3 + 1) 0 ($spacing-unit * 3 + 1) 0;
      }
    }

    .infotext {
      @include typography-text-xs;
      color: $ux-grey;
      font-weight: 400;
      margin: ($spacing-unit * 2 - 2) 0 ($spacing-unit * 3 + 1) 0;

      .bold {
        @include typography-text-xs;
        font-weight: $font-weight-semiBold;
      }
    }

    .text-value {
      @include typography-text-sm;
      align-items: center;
      display: flex;
      margin-left: ($spacing-unit + 3);

      .language-text {
        margin-left: ($spacing-unit + 3);
      }
    }

    .country-option {
      align-items: center;
      display: flex;
    }
  }
}
