@import 'global-utilities';

.flag {
  @include transition(all 0.5s ease);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 15px;
  margin-right: ($ux-spacing-unit * 2);
  align-self: center;
  position: relative;
  width: 23px;

  &--AT {
    background-image: url('/app/spartacus/assets/media/flags/austria.svg');
  }

  &--BE {
    background-image: url('/app/spartacus/assets/media/flags/belgium.svg');
  }

  &--BG {
    background-image: url('/app/spartacus/assets/media/flags/bulgaria.svg');
  }

  &--CH {
    background-image: url('/app/spartacus/assets/media/flags/switzerland.svg');
  }

  &--CY {
    background-image: url('/app/spartacus/assets/media/flags/cyprus.svg');
  }

  &--CZ,
  &--CS {
    background-image: url('/app/spartacus/assets/media/flags/czech-republic.svg');
  }

  &--DK,
  &--DA {
    background-image: url('/app/spartacus/assets/media/flags/denmark.svg');
  }

  &--EE,
  &--ET {
    background-image: url('/app/spartacus/assets/media/flags/estonia.svg');
  }

  &--FI {
    background-image: url('/app/spartacus/assets/media/flags/finland.svg');
  }

  &--DE {
    background-image: url('/app/spartacus/assets/media/flags/germany.svg');
  }

  &--ES {
    background-image: url('/app/spartacus/assets/media/flags/spain.svg');
  }

  &--FR {
    background-image: url('/app/spartacus/assets/media/flags/france.svg');
  }

  &--GB,
  &--EN {
    background-image: url('/app/spartacus/assets/media/flags/uk.svg');
  }

  &--GR {
    background-image: url('/app/spartacus/assets/media/flags/greece.svg');
  }

  &--HR {
    background-image: url('/app/spartacus/assets/media/flags/croatia.svg');
  }

  &--HU {
    background-image: url('/app/spartacus/assets/media/flags/hungary.svg');
  }

  &--IE {
    background-image: url('/app/spartacus/assets/media/flags/ireland.svg');
  }

  &--IT {
    background-image: url('/app/spartacus/assets/media/flags/italy.svg');
  }

  &--LV {
    background-image: url('/app/spartacus/assets/media/flags/latvia.svg');
  }

  &--LT {
    background-image: url('/app/spartacus/assets/media/flags/lithuania.svg');
  }

  &--LU {
    background-image: url('/app/spartacus/assets/media/flags/netherlands.svg');
  }

  &--NL {
    background-image: url('/app/spartacus/assets/media/flags/netherlands.svg');
  }

  &--NO {
    background-image: url('/app/spartacus/assets/media/flags/norway.svg');
  }

  &--PL {
    background-image: url('/app/spartacus/assets/media/flags/poland.svg');
  }

  &--RO {
    background-image: url('/app/spartacus/assets/media/flags/romania.svg');
  }

  &--SE,
  &--SV {
    background-image: url('/app/spartacus/assets/media/flags/sweden.svg');
  }

  &--SK {
    background-image: url('/app/spartacus/assets/media/flags/slovakia.svg');
  }

  &--SI {
    background-image: url('/app/spartacus/assets/media/flags/slovenia.svg');
  }

  &--SM {
    background-image: url('/app/spartacus/assets/media/flags/san-marino.svg');
  }

  &--LI {
    background-image: url('/app/spartacus/assets/media/flags/liechtenstein.svg');
  }

  &--MT {
    background-image: url('/app/spartacus/assets/media/flags/malta.svg');
  }

  &--PT {
    background-image: url('/app/spartacus/assets/media/flags/portugal.svg');
  }

  &--TR {
    background-image: url('/app/spartacus/assets/media/flags/turkey.svg');
  }

  &--XI {
    background-image: url('/app/spartacus/assets/media/flags/uk.svg');
  }

  &--VA {
    background-image: url('/app/spartacus/assets/media/flags/vatican.svg');
  }

  &--EX {
    display: none;
  }

  &--otherCountries {
    display: none;
  }

  &--OTHERCOUNTRIES {
    display: none;
  }
}
