// Variables For Matterhorn Design System Theme

// Colours
$colour-white:            #FFF;
$colour-black:            #000;
$colour-dist-red:         #DF1417;
$colour-dist-blue:        #009FB4;
$colour-paragraph-grey:   #393E41;
$colour-dist-green:       #68C143;
$colour-dist-orange:      #EAA218;
$colour-dark-red:         #AC0000;
$colour-dist-carmine:     #AA1936;
$colour-dark-green:       #358E10;
$colour-dark-orange:      #B76F00;
$colour-pale-red:         #FCE7E7;
$colour-pale-blue:        #E5F5F7;
$colour-pale-green:       #F0F9EC;
$colour-pale-orange:      #FDF6E7;
$colour-dark-grey:        #393E41;
$colour-mid-grey:         #979797;
$colour-mid-grey:         #979797;
$colour-light-grey:       #D8D8D8;
$colour-pale-grey:        #F7F9FC;
$colour-rnd-orange:       #F05E22;
$colour-rnd-yellow:       #FAAD3B;
$colour-rnd-aqua:         #00B2AF;
$colour-rnd-blue:         #5090CC;
$colour-rnd-violet:       #858CBD;
$colour-checkout-blue:    #007BFF;
$colour-dist-dark-green:  #2F8312;
$colour-dist-grey:        #393E41;
$colour-dist-mid-grey:    #545A5E;
$colour-dist-warning-red: #AC0000;
$colour-mid-black:        #212529;
$colour-button-light-grey:#EEEEEE;
$colour-button-dark-grey: #E1E1E1;
$colour-d4-blue:          #0043bb;
$colour-vivid-red:        #D91317;
$colour-dist-marigold:    #F69F1D;
$colour-home-background:  #F7F9FC;
$colour-home-btns-blue:   #39b4cb;
$colour-new-page-bg:      #F7F9FC;
$plp-facet-sidebar-grey: #8C96A9;
$colour-progress-grey:    #545A5E;

// Redesign colours and bgs
$colour-redesign-dark-black: #333;
$colour-redesign-dark-green: #066547;
$colour-redesign-pale-red: #FDF3F3;
$colour-redesign-border-red: #FDF3F3;
$colour-redesign-mid-black: #797979;
$colour-redesign-light-grey: #81858A;
$bg-redesign-numeric-btn: #eee;

  // Backgrounds
$bg-button-green:    #68C143;
$bg-button-red:      #df1417;
$bg-dist-green:      #68C143;
$bg-dist-light-green:#F7FCF5;
$bg-dist-orange:     rgba(234,162,24,0.1);
$bg-dist-modal-grey: #F6F6F6;
$bg-black:           #000000;

// Borders
$border-icon-octagon:      #848282;
$border-button-action-red: #CCC;
$border-dist-grey:         #CCC;
$border-global-grey:       #CCC;
$border-global-grey-light: lighten($border-global-grey, 12%);
$border-global-green:      #D5EECA;
$border-input-warning:     #f9D0CD;
$border-correct-input-dark:     #08875F;
$border-correct-input-light:    #056446;

// Links
$link-blue: #005E80;
$link-dark-blue: #00435C;

// Icons
$icon-dark-grey: #666666;
$icon-green: #08875F;

// Spacing Units
$spacing-unit: 5px;

// Font Vars
$font-stack-dist: "Montserrat", Helvetica, Arial, sans-serif;
$font-stack-d4: "Montserrat", Helvetica, Arial, sans-serif;
$font-stack-alt: "Montserrat", Helvetica, Arial, sans-serif;
$fontAwesome: 'FontAwesome';
$fontAwesomeBrands: 'FontAwesomeBrands';
$fontAwesomeRegular: 'Font Awesome 5 Free';

// Import Paths
$path-fonts: '../../../../../_ui/all/fonts/';

// Font Names
$font-myriad-pro: "Myriad Pro";
$font-myriad-pro-semi: "Myriad Pro Semi";
$font-arial: "Arial";
$font-montserrat: "Montserrat", Helvetica, Arial, sans-serif;
$font-roboto: 'Roboto Regular';
$fontAwesome: 'FontAwesome';


/***********************************/
/******** New UX changes ***********/
/***********************************/
// General
$ux-green: #16891F;
$ux-light-grey: #DDDFE3;
$ux-grey: #616567;

// Form elements
$ux-form-el-height: 40px;
$ux-form-el-border-radius: 2px;
$ux-input-border-color: $colour-mid-grey;
$ux-input-border-color-light: #C0C3C7;
$ux-input-success-color: $ux-green;
$ux-input-error-color: $colour-dist-red;
$ux-input-disabled-bg: #F7F7F7;
$ux-input-disabled-color: $colour-mid-grey;
$ux-input-hover-bg: $colour-pale-grey;
$ux-input-hover-border: $colour-black;
$ux-form-el-fsize: 14px;
$ux-selectpicker-dropdown-color: #616567;
$ux-form-checkbox-bg: $colour-dark-grey;
$ux-submit-button: #393E41;
$ux-submit-button-disabled: #81858A;
$rma-form-el-border-color: #C0C3C7;

// Backgrounds
$ux-page-bg: #F6F9FC;

// Text colors
$ux-txt-grey: #616567;
$ux-txt-grey-2: #6c757d;
$ux-txt-green: #417A29;

// Components
$checkout-express-delivery-disclaimer: #285E7D;
$checkout-express-delivery-disclaimer-bg: #F3F8F8;
$checkout-express-delivery-disclaimer-border: #AFC8D3;

$ux-banner-info-border: #A8EEEB;
$ux-banner-info-bg: #E7FFFE;
$ux-banner-info-color: #124544;
$ux-banner-info-icon-color: #1B655E;

$ux-banner-success-border: #A8EEC1;
$ux-banner-success-bg: #E3FCEC;
$ux-banner-success-color: #145239;
$ux-banner-success-icon-color: #197741;

$ux-banner-warning-border: #FAE29F;
$ux-banner-warning-bg: #FDF3D7;
$ux-banner-warning-color: #5C4813;
$ux-banner-warning-icon-color: #8C6D1F;

$ux-banner-danger-border: #F0CECE;
$ux-banner-danger-bg: #FCE8E8;
$ux-banner-danger-color: #611818;
$ux-banner-danger-icon-color: #891B1B;

// Checkout rebuild
$cr-block-boxshadow: 0 0 8px rgba($colour-black, .15);
$cr-inline-datepicker-disabled-bg: #F7F7F7;

// Font awesome codes
$fa-angle-left: "\f104";
$fa-angle-right: "\f105";
$fa-angle-down: "\f107";
