@import 'global-utilities';

.product-intro {
  position: relative;

  &-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &-main {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;

        .title {
          align-self: stretch;

          @include typography-display-xxl();
          font-weight: $font-weight-medium;
          letter-spacing: -0.32px;

          @include mobilePlusDown {
            @include typography-display-sm();
            font-weight: $font-weight-semiBold;
            @include line-height(19.2px);
            letter-spacing: normal;
          }
        }

        .copy-functions {
          display: flex;
          align-items: center;
          gap: 8px;
          align-self: stretch;

          .tooltip-container {
            cursor: pointer;

            @include tabletDown {
              cursor: default;
            }

            &__content {
              display: flex;
              gap: 4px;
              align-items: center;
              flex-direction: row;
            }
          }

          &__info {
            text-align: center;

            @include tabletDown {
              justify-content: center;
            }

            @include tabletPlus {
              flex: none;
              text-align: left;
              width: auto;
            }

            &-title,
            &-number {
              @include typography-ui-xs();
              color: $colour-redesign-light-grey;
              white-space: nowrap;
            }

            &-link {
              @include typography-ui-sm();
              @include transition(all 0.3s ease-in-out 0.1s);
              color: $link-blue;
              margin: 0;
              font-weight: $font-weight-medium;
            }

            &-link:hover {
              color: $link-dark-blue;

              span {
                text-decoration: underline;
              }
            }
          }
          &__copy {
            &-button {
              background-color: transparent;
              border: none;
              padding: 0;

              @include tabletDown {
                cursor: default;
              }
            }

            &-text {
              @include font-size(12px);
              @include transition(all 0.2s ease-in-out);
              font-weight: $font-weight-medium;
              color: $link-blue;
              padding-left: $spacing-unit * 13;

              .visible {
                opacity: 1;
                transform: translateY(1.25rem);
              }
            }
          }
        }
      }
      &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 12px;
        flex-basis: 174px;
      }
    }
  }
}

.product-tooltip {
  position: absolute;
  padding-top: $ux-spacing-unit;
  white-space: nowrap;
  z-index: 1000;
}

.copy-icon {
  display: flex;
  color: $colour-redesign-light-grey;
}

.product-intro__logo__brand-logo {
  width: 122.718px;
  height: 22.138px;
}
