.skin-detail-tabs-content-technical-information {
  float: left;
  padding: 0 0 ($spacing-unit * 3);
  width: 100%;

  h2 {
    @include font-size(22px);
    @include line-height(30px);
    color: $colour-dist-grey;
    font-weight: normal;
    letter-spacing: -.6px;
    padding-bottom: ($spacing-unit * 2);

    @media #{$desktop} {
      @include font-size(28px);
      @include line-height(34px);
    }

  }

  p {
    @include font-size(12px);
    @include line-height(22px);
    color: $colour-dist-grey;
    padding-bottom: ($spacing-unit * 2);

    @media #{$desktop} {
      @include font-size(14px);
      @include line-height(25px);
    }

  }

  .validate-holder {
    display: flex;
    flex-direction: column-reverse;

    .searchsimilar {

      &__holder {
        float: left;
        width: 100%;

        .mat-button {
          @include font-size(12px);
          @include line-height(15px);
          background: $colour-dist-red;
          border: 1px solid $colour-dist-red;
          border-radius: 2px;
          color: $colour-white;
          float: left;
          margin-bottom: ($spacing-unit * 3);
          min-width: 193px;
          padding: ($spacing-unit) ($spacing-unit * 2);
          text-align: center;
          width: auto;

          i,
          svg {
            margin-right: ($spacing-unit - 1);
          }

          &:hover {
            background: $colour-white;
            border-color: $border-button-action-red;
          }

        }

      }

    }

  }

  .validate-checkbox-group {
    float: left;
    width: 100%;

    tr {

      &:nth-of-type(odd) {
        background: $colour-pale-grey;
      }

    }

    td {
      @include font-size(12px);
      @include line-height(22px);
      color: $colour-dist-grey;

      @media #{$desktop} {
        @include font-size(14px);
        @include line-height(25px);
      }

      &:first-child {
        border-left: 4px solid $colour-dist-red;
        width: 30%;


        label {
          font-weight: bold;
          padding-left: ($spacing-unit * 2);
          width: 210px;
          vertical-align: middle;

          &.no-checkbox {
            padding-left: ($spacing-unit * 5.4);
          }

        }

      }

      &:last-of-type {
        font-weight: bold;
        padding-right: ($spacing-unit * 2);
        text-align: right;
        width: 70%;
      }

    }

  }

}
