.mod-productlist-switch {


    .btn-switch {
        width:55px;
        height:55px;
        min-width:0;
        display:block;
        float:left;
        background-color: @c-white;

        &:hover {
            background-color: #AA1936;
        }

        &.active {
            background-color: @c-grey80;
            cursor: default;
            &:hover {
                background-color: @c-grey80;
            }
        }
        
        .mod-productlist-switch_btn_switch_standard();
        .mod-productlist-switch_btn_switch_technical();
        .mod-productlist-switch_btn_switch_icon();
    }
	.mod-toolsitem {
		line-height: 54px;
		height: 54px;
	}

}

/*

    switch_btn_switch_list


*/
.mod-productlist-switch_btn_switch_standard {
    &.btn-switch-standard {
        border-right-color:transparent;
        i {
            .s-productlist-switch-regular-black;
            margin:0px;
        }

        &:hover i {
            .s-productlist-switch-regular-white();
        }

        &.active i {
            .s-productlist-switch-regular-black();
        }
    }
};

/*

    switch_btn_switch_grid


*/
.mod-productlist-switch_btn_switch_technical {
    &.btn-switch-technical {
        i {
            .s-productlist-switch-technical-black();
            margin:0px;
        }

        &:hover i {
            .s-productlist-switch-technical-white();
        }

        &.active i {
            .s-productlist-switch-technical-black();
        }
    }
};

.mod-productlist-switch_btn_switch_icon {
	&.btn-switch-icon{
		border-right-color:transparent;
	 
		i{
			.s-productlist-switch-icon-black();
			margin-left: 6px;
		}
		
		&:hover i {
			.s-productlist-switch-icon-white();
		}
	
		&.active i {
			.s-productlist-switch-icon-black();
		}

	}
};