.mod-checkout-title {
    .bd {
        display:inline-block;
        position:relative;
        width: 100%;

    }

    ._left, ._right {
        position:relative;
        float:left;
    }

    ._right {
        float:right;
        width:310px;
    }
    
    .btn-checkout, .btn-down {
		text-align: left;
		width: 100%;

	    .lt-ie8 & {
		    width: 298px;
		    height: 19px;
	    }

		.icon-cart{
			margin-top: 0;
			.s-go-to-cart-white();
		}

		&:hover .icon-cart,
		&:focus .icon-cart {
			.s-go-to-cart-red();
		}

		&:active .icon-cart, &.active .icon-cart{
			.s-go-to-cart-red();
		}

		&[disabled] .icon-cart, &.disabled .icon-cart{
			.s-go-to-cart-white();
		}
		&:disabled .icon-cart{// keep this selector separate (unsupported pseudo class ie8)
			.s-go-to-cart-white();
		}

		.icon-arrow {
			float: right;
			margin-top: 4px;
			.s-arrow-right-white();
			.lt-ie8 & {
				margin-top: -14px;
			}
		}

		&:hover .icon-arrow,
		&:focus .icon-arrow {
			.s-arrow-right-red();
		}

		&:active .icon-arrow, &.active .icon-arrow{
			.s-arrow-right-red();
		}

		&[disabled] .icon-arrow, &.disabled .icon-arrow {
			.s-arrow-right-white();
		}
		&:disabled .icon-arrow {// keep this selector separate (unsupported pseudo class ie8)
			.s-arrow-right-white();
		}
	}

	.btn-down {

		.icon-arrow {
			.s-arrow-down-white();
		}
		&:hover .icon-arrow,
		&:focus .icon-arrow {
			.s-arrow-down-big-red();
		}

		&:active .icon-arrow, &.active .icon-arrow{
			.s-arrow-down-big-red();
		}

		&[disabled] .icon-arrow, &.disabled .icon-arrow {
			.s-arrow-down-big-white();
		}
		&:disabled .icon-arrow {// keep this selector separate (unsupported pseudo class ie8)
			.s-arrow-down-big-white();
		}
	}

	@media print {

		.btn {
			.hidden();
		}
	}
}
