@import 'global-utilities';

.sidebar-shopping-list {
  margin-bottom: ($spacing-unit * 4);
  padding-left: 0;

  ul {
    li {
      @include font-size(15px);
      @include line-height(18px);
      border-bottom: ($spacing-unit - 4) solid $border-dist-grey;
      color: $colour-dist-mid-grey;
      height: 50px;
      position: relative;

      &:first-child {
        border-top: ($spacing-unit - 4) solid $border-dist-grey;
      }

      .edit-name-list {
        float: left;
        margin-top: ($spacing-unit + 2);
        width: 100%;

        .btn {
          @include font-size(15px);
          @include line-height(18px);
          background: #f69f1d;
          border: solid 2px #f69f1d;
          border-radius: 0;
          box-shadow: 0 0 0 0;
          color: $colour-black;
          height: 35px;
          white-space: nowrap;
          float: right;
          padding: ($spacing-unit + 2) ($spacing-unit * 2) ($spacing-unit + 3);

          &:hover {
            background: $colour-white;
            border-color: #f69f1d;
            color: $colour-black;
          }
        }

        .input-wrapper {
          overflow: hidden;
          padding-right: ($spacing-unit * 2);

          input {
            @include font-size(15px);
            @include line-height(18px);
            background: $colour-strong-light-grey;
            border: 1px solid $border-dist-grey;
            display: inline-block;
            height: 35px;
            margin-bottom: 0;
            padding: ($spacing-unit + 1) ($spacing-unit + 3);
            vertical-align: middle;
            width: 100%;
          }
        }
      }

      .ctrls {
        display: inline;
        position: absolute;
        right: 10px;
        top: 15px;
        visibility: hidden;

        .edit,
        .delete {
          cursor: pointer;
          height: 22px;
        }

        .edit {
          color: $colour-dark-grey;
          padding-right: ($spacing-unit * 2);
        }

        .delete {
          color: $colour-red;
        }
      }

      .shopping-list {
        display: block;
        padding: ($spacing-unit * 3) 0 ($spacing-unit * 2 + 2) ($spacing-unit * 3 + 2);

        fa-icon {
          @include font-size(14px);
          color: $colour-redesign-dark-black;
          display: inline-block;
          padding-right: ($spacing-unit * 2 + 2);
        }

        .list-name {
          @include font-size(13px);
          border-bottom: solid ($spacing-unit - 3) transparent;
          color: $link-blue;
          display: inline-block;
          max-width: 145px;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: top;
          white-space: nowrap;

          @media #{$ipad} {
            @include font-size(15px);
          }

          @media #{$desktop} {
            max-width: 190px;
          }
        }

        .list-item-count {
          @include font-size(10px);
          @include line-height(12px);
          color: $colour-dark-grey;
          padding-left: ($spacing-unit);
        }

        &.active {
          background-color: $colour-strong-light-grey;

          &:hover {
            fa-icon {
              color: $colour-redesign-dark-black;
            }

            .list-name {
              text-decoration: underline;
            }
          }

          fa-icon {
            color: $colour-red;
          }

          .list-name {
            color: $colour-dark-grey;
            font-weight: $font-weight-bold;
          }

          .list-item-count {
            color: $colour-red;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }

      &.add-new-list {
        height: auto;
        padding: ($spacing-unit * 2) 0 ($spacing-unit * 2) ($spacing-unit + 1);

        .add-new-list-button {
          @include font-size(13px);
          @include line-height(18px);
          background: #ccc !important;
          border: solid ($spacing-unit - 3) #ccc !important;
          border-radius: 0;
          box-shadow: none !important;
          color: #333 !important;
          height: 35px;
          float: right;
          padding: ($spacing-unit + 2) ($spacing-unit * 2) ($spacing-unit + 3);
          white-space: nowrap;

          @media #{$ipad} {
            @include font-size(15px);
          }
        }

        .input-wrapper {
          overflow: hidden;
          padding-right: ($spacing-unit * 2);

          .error {
            color: red;
            margin: 10px 0px 0px 10px;
          }

          input {
            @include font-size(13px);
            @include line-height(18px);
            background: $colour-strong-light-grey;
            border: ($spacing-unit - 4) solid $border-dist-grey;
            display: inline-block;
            height: 35px;
            padding: ($spacing-unit + 1) ($spacing-unit + 3);
            vertical-align: middle;
            width: 100%;

            &.ng-invalid.ng-touched {
              border: 1px solid #de141c;
            }

            @media #{$ipad} {
              @include font-size(15px);
            }
          }
        }
      }

      &:hover {
        .ctrls {
          visibility: visible;
        }
      }
    }
  }
}
