@import 'global-utilities';

$password-strength-bar-color-weak: #dc3545;
$password-strength-bar-color-medium: #ffc107;
$password-strength-bar-color-strong: #28a745;

.strength {
  display: flex;
  margin-bottom: $spacing-unit * 3;
  background: $ux-light-grey;

  &__bar {
    @include transition(width 0.3s ease);
    display: inline-block;
    height: 8px;
    background: $password-strength-bar-color-weak;

    &,
    &.has-strength__0 {
      width: 0;
    }

    &.has-strength__1 {
      width: 1%;
    }

    &.has-strength__2 {
      width: 20%;
    }

    &.has-strength__3 {
      width: 40%;
    }

    &.has-strength__4 {
      width: 80%;
    }

    &.has-strength__3,
    &.has-strength__4 {
      background: $password-strength-bar-color-medium;
    }

    &.has-strength__5 {
      width: 100%;
      background: $password-strength-bar-color-strong;
    }
  }
}
