<span class="page-title-container">
  <a class="page-title-back-navigation" (click)="navigateBack($event)">
    <fa-icon class="arrow-left" [icon]="faArrowLeft"></fa-icon>
  </a>
  <h1 *ngIf="title" id="page-title" [class]="getClass()">{{ title }}</h1>
  <h1 *ngIf="titleI18nKey" id="page-title-i18n" [class]="getClass()">{{ titleI18nKey | cxTranslate }}</h1>
  <h1 *ngIf="!titleI18nKey && !title && page$ | async as page" id="page-title-async" [class]="getClass()">
    {{ page.title }}
  </h1>
</span>
