@import 'global-utilities';

.page-title {
  @include typography-display-lg;

  position: relative;
  margin: 0;
  font-weight: $font-weight-semiBold;

  &--red {
    color: $colour-red;
    font-size: 28px;
    font-weight: $font-weight-light;
    margin-bottom: $spacing-unit * 5;
    line-height: 34px;
  }

  @include mobileOnly {
    display: inline-block;
    padding-left: 10px;
    margin: ($ux-spacing-unit * 5) 0 ($ux-spacing-unit * 4) 0;
  }
}

.page-title-container {
  @include mobileOnly {
    display: inline-flex;
  }

  .page-title-back-navigation {
    display: none;
    @include mobileOnly {
      display: inline-block;
      margin-top: 20px;

      &:hover,
      &:visited {
        color: $colour-black;
      }
    }

    .arrow-left {
      font-size: 1.25rem;
    }
  }
}
