.mod-lightbox-quotation {

  .modal {
    background: $bg-dist-modal-grey;
    margin-left: -240px;
    outline: none;
    width: 480px;

    .bd {
      height: 450px;
      overflow-y: auto;
      position: relative;
      width: auto;

      .form-row {
        float: left;
        width: 95%;

        .popover {
          display: none;
          left: 50px;
          padding: 0 $spacing-unit;
          top: -25px;

          .arrow {
            left: 13px;
          }

        }

        .numeric-error .popover {
          display: block;
        }
        .numeric-warning .popover {
          display: block;
        }

      }

      .cell {
        @include font-size(15px);
        @include line-height(15px);
        float: left;

        &.stepper {
          margin: 5px 0;
        }

        &.prices {
          float: left;
          margin-left: 0;
          padding-top: ($spacing-unit * 2);
          width: 100%;
        }

      }

      .ipt {
        @include font-size(15px);
        @include line-height(15px);
        height: 25px;
        margin: 0;
        padding: 2px 4px;
        width: 80px;
      }

      .numeric-btn {
        height: 27px;
        top: 0;

        i {
          margin-top: 0;
        }

      }

      table {

        td:first-child {
          padding-right: 40px;
        }

        .total {
          font-weight: 600;
        }

        .list .currency {
          @include font-size(11px);
          @include line-height(22px);
        }

      }

    }

    .box {
      background: $colour-white;
      border: 1px solid #ccc;
      height: auto;
      margin-top: 3px;
      padding: 5px 10px 10px 10px;
    }

    .textarea {
      height: 120px;
      margin-top: 3px;
      width: 100%;
    }

    .input-bulk{
      width: 100%;
    }

    .oci-ariba-extra-fields {
      margin-top:20px;
    }

  }

}

