.mod-account-list-filter {


  &.order-history {
    float: left;
    margin-bottom: ($spacing-unit * 4);
    width: 100%;

    @media print {
      display: none;
    }

    .form-box {
      border: 0;
      padding: 0;

      &__item {
        float: left;
        width: 100%;

        @media #{$ipad-landscape} {
          width: 49%;
        }

        &--second {

          @media #{$ipad-landscape} {
            float: right;
          }

        }

      }

      .base {
        float: left;
        margin: 0;
        width: 100%;

        .field {
          width: 100%;
        }

        .half {
          margin-right: ($spacing-unit + 3);
        }

        .hasDatepicker,
        .half {
          width: 48.5%;

          @media #{$ipad-landscape} {
            width: 48%;
          }

          @media #{$desktop} {
            width: 48.5%;
          }

          &:last-of-type {
            margin-right: 0;
          }

        }

        .gu-2 {
          width: 100%;

          @media #{$ipad-landscape} {
            width: 38%;
          }

        }

        .gu-6 {
          width: 100%;

          @media #{$ipad-landscape} {
            width: 62%;
          }

        }

        .selectboxit-container {

          .field {
            min-width: 270px;
          }

        }

      }

      .actions {
        bottom: 0;
        float: left;
        position: relative;
        right: 0;
        width: 100%;

        .btn-reset {
          height: 36px;

          @media #{$ipad-landscape} {
            float: right;
            margin-right: ($spacing-unit * 2);
            max-width: 207px;
            min-width: 131px;
            width: auto;
          }

        }

        .btn-search {
          margin-bottom: ($spacing-unit * 2);

          @media #{$ipad-landscape} {
            float: right;
            margin-bottom: 0;
            max-width: 207px;
            min-width: 126px;
            width: auto;
          }

        }

      }

    }

  }

}