@import 'global-utilities';

.home-quickorder {
  background-color: $colour-white;
  border-radius: ($spacing-unit);
  box-sizing: border-box;
  float: left;
  margin-bottom: ($spacing-unit * 4);
  padding: ($spacing-unit * 2) ($spacing-unit * 3);
  width: 100%;
  min-height: 335px;

  @media #{$desktop} {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: ($spacing-unit * 6);
    padding: 0;
  }

  .heading {
    @include font-size(20px);
    font-weight: $font-weight-bold;
    margin: ($spacing-unit) 0;

    @media #{$ipad} {
      @include line-height(34px);
      margin: 0 0 ($spacing-unit * 2) 0;
    }
  }

  .fieldWrapper {
    min-height: 155px;
  }

  .quickorder-list {
    display: flex;
    margin-bottom: ($spacing-unit * 2 + 2);

    .item {
      @include font-size(16px);
      background: #ebecef;
      border: ($spacing-unit - 4) solid $border-dist-grey;
      box-sizing: border-box;
      font-weight: $font-weight-semiBold;
      padding: ($spacing-unit - 2) ($spacing-unit);
      text-align: center;
      width: 100%;

      &:nth-child(1) {
        background: 0 0;
        border: ($spacing-unit - 4) solid $colour-red;
        border-top-left-radius: ($spacing-unit);
        border-bottom-left-radius: ($spacing-unit);
        width: auto;
        white-space: nowrap;
        padding-left: ($spacing-unit * 2);
        padding-right: ($spacing-unit * 2);

        a {
          color: $colour-red;
        }
      }

      &:nth-child(3) {
        border-left: 0;
        border-bottom-right-radius: ($spacing-unit);
        border-top-right-radius: ($spacing-unit);
      }

      .item-link {
        @include font-size(13px);
        color: $colour-dark-grey;
        text-decoration: none;
      }
    }
  }

  .rows-wrapper {
    &--more {
      @include font-size(14px);
      background: transparent;
      border: 0;
      color: $colour-red;
      float: left;
      font-weight: $font-weight-semiBold;
      height: auto;
      margin: ($spacing-unit - 3) 0 ($spacing-unit * 3);
      padding: 0;
      text-align: left;
      width: 100%;

      fa-icon {
        @include font-size(10px);
        margin: 0 ($spacing-unit) 0 0;
        vertical-align: baseline;
      }
    }

    &--btn {
      @include typography-ui-sm;
      @include line-height(35px);
      background: 0 0;
      border: ($spacing-unit - 4) solid $colour-red;
      box-sizing: border-box;
      color: $colour-red;
      font-weight: $font-weight-semiBold;
      height: 38px;
      margin-top: 0;
      padding: 0 ($spacing-unit * 4);
      width: auto;
    }
  }
}

.quickorder-input-wrap.qty {
  padding-left: 0;
}

.quickorder-row {
  width: 100%;
}
