@import 'global-utilities';

.bom-data-import {
  margin-bottom: $spacing-unit * 6;
  position: relative;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.help-link {
  margin-left: auto;
  border-bottom: solid 2px transparent;
  color: $link-blue;

  &:hover,
  &:focus {
    color: $link-dark-blue;
    border-color: $link-dark-blue;
    text-decoration: none;
  }
}

.bom-help {
  @include font-size(14px);
  @include line-height(20px);

  border: 2px solid $colour-mid-grey;
  border-radius: 5px;
  margin-top: $spacing-unit * 4;
  padding: ($spacing-unit * 4) ($spacing-unit * 3);
}
