@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTYxNDM1My1ta3Jpem1hbmljOlhyZmN6dzRvNm5lNnhtTHJMMnpYWEdJTVZSUWx3V3hx
always-auth=true


