@import 'global-utilities';

.filter-group-list-search {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
  height: 40px;
  padding: 0 8px;
  background-color: $ux-input-light-bg;
  border-radius: 4px;

  .btn-search {
    position: absolute;
    right: 0;
    height: 40px;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .icon-search {
      color: $ux-label-disabled;
    }
  }

  .facet-group-input {
    @include typography-ui-sm;

    width: 100%;
    height: 40px;
    font-weight: $font-weight-normal;
    color: $ux-button-text-disabled;
    background-color: $ux-input-light-bg;
    border: 0;
  }
}

.filters-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  margin: 0;

  &.has-min-max {
    height: 35px;
    margin: 8px 0;
  }

  &.sidebar {
    height: auto;
    margin: 0;
  }

  select {
    @include font-size(13px);

    max-width: 60px;
    margin-right: $spacing-unit * 2;
    border: 1px solid $border-dist-grey;

    option {
      @include font-size(14px);
    }
  }

  .facet-reset {
    @include font-size(13px);

    position: relative;
    display: inline-block;
    order: 3;
    height: auto;
    padding: 0;
    color: $colour-link-blue;
    text-align: right;
    text-decoration: none !important;
    background-color: transparent;
    border: unset;

    &.reset-only {
      margin: 8px 0;
    }
  }
}

.filters {
  @include hide-scrollbar;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  max-height: 165px;
  margin-top: 12px;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  transition: max-height 0.3s ease;
}

.no-filters {
  @include typography-ui-sm;

  margin: 8px 0;
  color: $ux-text-default;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  min-width: 270px;
  border-bottom: 0;

  input {
    margin-right: $spacing-unit;
    border-color: $colour-light-grey;
    border-radius: 2px;
  }
}

.filter-name {
  @include font-size(13px);

  display: flex;
  align-items: center;
  margin: 3px 0;
  font-weight: $font-weight-medium;
  cursor: pointer;
  outline: 0;
}

.show-more-less {
  @include font-size(13px);

  display: inline-block;
  margin: 5px 0 10px;
  font-weight: 500;
  color: $link-blue;
  cursor: pointer;
}
