.mod-footer-usp {



	.gu-2{
		padding-right: @spc-h;
	}

	.usp-wrapper{
		#typo > .size-m();
		display: table;
		margin-bottom: 2px;
	}

	.image-wrapper{
		display: table-cell;
		vertical-align: middle;
		padding: 0 4px 0 5px;

		img {
			max-width: 30px;
		}
	}

	.usp-image{
		display: inline-block;
	}

	.value-wrapper{
		display: table-cell;
		vertical-align: middle;
		font-size: 14px;
		line-height: 1;
	}

	.usp-value{
		max-height: 54px; // maximum number of lines = 3
		overflow: hidden;
		display: inline-block;
	}

}
