.skin-footer-usp-added-values {

	& {
		padding-top: 37px;
		float: left;
    	width: 400px;
	}

	.gu-3{
		padding-right: @spc-h;
	}

	.value-title{
		#typo > .size-l();
		margin-bottom: 9px;
	}

	.image-wrapper{
		padding-left: 0;
	}

	.usp-wrapper{
		font-weight: normal;
	}

	.usp-value{
		max-height: 44px; // maximum number of lines = 3
	}

}
