.mod-detail-tabs {
  float: left;
  padding-top: ($spacing-unit * 8);
  width: 100%;

  .tab-content {
    float: left;
    width: 100%;

    &__header {
      float: left;
      padding-bottom: ($spacing-unit * 3);
      width: 100%;

      h2 {
        @include font-size(22px);
        @include line-height(30px);
        color: $colour-dist-grey;
        font-weight: normal;
        letter-spacing: -.6px;
      }

    }

    &__holder {
      float: left;
      width: 100%;

      &--downloads {
        border-top: 2px solid $colour-dist-grey;
        padding: ($spacing-unit * 4) 0;
      }

      &.technical {

        .content-title {
          padding-bottom: ($spacing-unit);
        }

      }

      .content-holder {
        float: left;
        width: 100%;
      }

      .specification-holder {
        border-top: 2px solid $colour-dist-grey;
        float: left;
        padding: ($spacing-unit * 3) 0;
        width: 100%;

        h2 {
          @include font-size(22px);
          @include line-height(30px);
          color: $colour-dist-grey;
          font-weight: normal;
          letter-spacing: -.6px;
          padding-bottom: ($spacing-unit * 2);
        }

        .spec-title {
          display: block;
          float: left;
          width: 100%;
        }

        .content-holder {
          padding-top: ($spacing-unit * 2);
        }

        .item {
          float: left;
          width: 100%;

          &:nth-of-type(odd) {
            background: $colour-pale-grey;
          }

          &__element {
            color: $colour-dist-grey;
            display: inline-block;
            float: left;
            padding: ($spacing-unit - 3) 0;

            br {
              display: none;
            }

            label {
              @include font-size(12px);
              @include line-height(20px);
              width: 100%;
              vertical-align: middle;
            }

            span {
              @include font-size(12px);
              @include line-height(20px);
              display: inline-block;
            }

            &:first-of-type {
              padding-left: ($spacing-unit * 3);
              padding-right: ($spacing-unit * 3);
              width: 30%;
            }

            &:last-of-type {
              font-weight: normal;
              padding-right: ($spacing-unit * 2);
              text-align: right;
              width: 70%;
            }

          }

        }

      }

      .email-share,
      .print-page {
        @include font-size(12px);
        @include line-height(20px);
        color: $link-blue;
        display: inline-block;
        letter-spacing: -.28px;
        transition: all 0.3s ease-in-out 0.1s;

        i,
        svg {
          margin-right: ($spacing-unit);
        }

        &:hover {
          color: $link-dark-blue;
          text-decoration: underline;
        }

      }

      .sep {
        @include font-size(12px);
        @include line-height(20px);
        color: $colour-mid-grey;
        display: inline-block;
        letter-spacing: -.28px;
        padding: 0 ($spacing-unit);
        transition: all 0.3s ease-in-out 0.1s;

      }

      .content-title {
        border-top: 2px solid $colour-dist-grey;
        float: left;
        padding-top: ($spacing-unit * 3);
        width: 100%;

        h2 {
          display: inline-block;
        }

        .product-family {
          @include font-size(12px);
          @include line-height(20px);
          color: $link-blue;
          display: inline-block;
          padding-left: ($spacing-unit * 2);
          letter-spacing: -.28px;
          transition: all 0.3s ease-in-out 0.1s;
          vertical-align: bottom;

          &:hover {
            color: $link-dark-blue;
            text-decoration: underline;
          }

        }

      }

    }

  }

}

