@import 'global-utilities';
.product-status-badge {
  color: $colour-white;
  line-height: 24px;
  font-weight: $font-weight-semiBold;
  @include font-size(12px); //typography will be added once available
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  gap: ($spacing-unit - 2);
  padding: ($spacing-unit - 1) ($spacing-unit * 4) ($spacing-unit - 1) (($spacing-unit * 3)+1);
  text-transform: uppercase;

  &.offer {
    background-color: $ux-red;
  }

  &.new-to-us {
    background-color: $colour-dist-marigold;
  }

  &.new {
    background-color: $ux-text-default;
  }

  &.bundle {
    background-color: $ux-green;
  }
}
