.skin-account-login-data-newsletter {
  clear: both;

  .form-title {
    border-bottom: 1px solid $colour-light-grey;
    margin: 0 0 ($spacing-unit*4) 0;
    padding-bottom: $spacing-unit*2;
  }

  .newsletter-options {
    @include font-size(16px);
    margin-top: 16px;

    label {
      @include line-height(25px);
    }

    > div {
      margin-bottom: $spacing-unit*2;
    }

  }

  .consent-wrapper {
    border: 1px solid $obsolescence-grey;
    clear: both;
    margin-top: $spacing-unit*3;
    padding-top: 0 !important;

    &__heading {
      border-bottom: 1px solid $obsolescence-grey;
      padding: ($spacing-unit*3);
    }

    &__item {
      padding: 0 !important;
    }

    &__item-level-1 {
      padding: ($spacing-unit*3);
    }

    &__item-level-2 {
      border-top: 1px solid $obsolescence-grey;
      padding: ($spacing-unit*3) ($spacing-unit*6);
    }

  }

}