.newsletter-welcome {
  &__heading {
    color: $colour-dist-red;
    margin-bottom: ($spacing-unit*3);
    font-size: 20px;

    @media #{$ipad} {
      margin-bottom: ($spacing-unit*6);
      font-size: 28px;
      text-align: center;
    }
  }

  &__sections {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: ($spacing-unit*10);

    @media #{$ipad} {
      flex-direction: row;
    }

    h2 {
      font-size: 18px;
    }

    p {
      margin-bottom: ($spacing-unit*4);
    }
  }

  &__footer {
    margin-top: auto;
    text-align: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;

    & + & {
      margin-top: ($spacing-unit*4);

      @media #{$ipad} {
        margin-top: 0;
      }
    }

    @media #{$ipad} {
      width: 40%;
    }
  }
}
