.consent-form {
  margin-bottom: ($spacing-unit*4);

  label {
    position: relative;
    display: block;
    padding-left: ($spacing-unit * 5);
  }

  .checkbox + label:before,
  input[type="checkbox"] + input + label:before {
    position: absolute;
    left: 0;
    top: 4px;
  }

}

.consent-section {
  @include font-size(16px);

  a {
    text-decoration: underline;
  }

  &__notice {
    background: #ffffe6;
    padding: ($spacing-unit*2);

    h4 {
      margin: 0 0 ($spacing-unit);
    }

    h4,
    p {
      font-size: 14px;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: ($spacing-unit);
  }

  &__paragraph {
    @include font-size(16px);

    & + & {
      margin-top: ($spacing-unit*3);
    }

    a {
      text-decoration: underline;
    }
  }


  &__description {
    color: $description-grey;
    margin-bottom: ($spacing-unit*5);
  }

  &__checkbox-group {
    position: relative;
    padding: ($spacing-unit*2) 0 0 ($spacing-unit*2);
    margin-bottom: ($spacing-unit*3);

    @media #{$ipad} {
      padding: ($spacing-unit*2) 0 0 ($spacing-unit*4);
    }

    > li {
      margin-bottom: ($spacing-unit);
    }
  }

  &__checkbox-main {
    > label {
      font-weight: bold;
    }

    & + & {
      margin-top: ($spacing-unit*2);
    }
  }

  .connector {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 20px;
    border-left: 1px solid $connector-blue;
    border-bottom: 1px solid $connector-blue;

    @media #{$ipad} {
      left: 5px;
      width: 10px;
    }
  }

  .form-wrapper {
    border: 1px solid $form-wrapper-grey;
    padding: ($spacing-unit*2);
    margin-bottom: ($spacing-unit*4);
  }

  .split-50 {
    max-width: 650px;

    &:after {
      display: table;
      content: '';
      clear: both;
    }

    > li {
      float: left;
      width: 100%;

      @media #{$ipad} {
        width: 50%;
      }
    }
  }

  .view-example-group {
    > * {
      float: left;
    }

    &:after {
      clear: both;
      content: '';
      display: table;
    }
  }

  .view-example-link {
    margin-left: ($spacing-unit*2);
  }

  &__disclaimer {
    color: $description-grey;
    margin: ($spacing-unit*2) 0;
    font-size: 15px;
  }

  &__buttons {
    margin-top: ($spacing-unit*6);
  }
}

.alert-text {
  color: $colour-dist-red;
  border: 1px solid;
  padding: ($spacing-unit*2);
  margin-bottom: ($spacing-unit*2);

  a {
    color: $colour-dist-red;
    font-weight: bold;
  }
}
