.skin-account-login-data-obsole-notify {

  .form-box {
    border: none;
  }

  .obsolescence-notifications {
    @include font-size(16px);
    padding: ($spacing-unit*3) ($spacing-unit*4) 0 0;


    &__title {
      margin-bottom: $spacing-unit*2;
    }

    &__description {
      margin-top: ($spacing-unit*3) + 3;
    }

    &__email-content {
      border: 1px solid $obsolescence-grey;
      clear: both;
      margin-top: $spacing-unit*2;
    }

    &__email-label {
      border-bottom: 1px solid $obsolescence-grey;
      padding: ($spacing-unit*3);
    }

    &__email-checkbox {
      padding: ($spacing-unit*3);

      .arrows {
        float: right;
      }

    }

    &__category-options {
      padding: $spacing-unit*3;
    }

    &__category-option {
      margin-top: $spacing-unit;
    }

    .btn-primary {

      &.btn-change {
        margin: ($spacing-unit*2) 0;
      }

    }

    .form-title {
      margin-bottom: $spacing-unit*4;
    }

    .skin-global-messages-component {
      @include font-size(16px);
      color: $colour-dist-green;

      margin: ($spacing-unit*2) 0;

      .fa-check-circle {
        @include font-size(18px);
        padding: 0;
      }

      .messages-component {

        &__description {
          font-weight: bold;
        }

      }

    }

  }

}