@import '../../../global/global.scss';

h1 {
  @include font-size(28px);
  @include line-height(34px);
  color: $colour-red;
  float: left;
  font-weight: $font-weight-light;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

h2 {
  @include font-size(18px);
  @include line-height(22px);
  color: $colour-red;
  float: left;
  font-weight: $font-weight-bold;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  padding-left: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

label,
input,
select,
ng-select {
  @include font-size(14px);
  border-radius: 0%;
}

.box-option {
  border: 2px solid #6c757d;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
  opacity: 0.7;

  &:hover {
    border: 2px solid $colour-green;
    background: $colour-pale-green;
    opacity: 1;
  }
}

.active {
  border: 2px solid $colour-green;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
}

.disabled {
  border: 2px solid $colour-green;
  border-radius: 4px;
  cursor: default;
  padding: 15px;
  opacity: 0.4;
  pointer-events: none;
}

small {
  display: block;
  @include font-size(12px);
  font-weight: $font-weight-medium;
  color: #6c757d;

  &.error {
    color: $colour-red;
  }

  &.correct {
    color: $colour-green;
  }
}

.colorWhite {
  color: white;
}

.editLink {
  @include font-size(12px);
  color: $colour-red;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.mod-request-invoice {
  background: $colour-pale-orange;
  border: 1px solid $colour-orange;
  border-radius: 2px;
  box-sizing: border-box;
  float: left;
  margin-bottom: ($spacing-unit * 3);
  padding: 12px 10px;
  width: 100%;
}

.shipping-note-express {
  background: $colour-pale-orange;
  border: 1px solid $colour-orange;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: ($spacing-unit * 3);
  margin-left: ($spacing-unit * 2);
  margin-right: ($spacing-unit * 2);
  padding: 12px 10px;
  width: auto;
}

.request-pay-invoice-btn {
  background: $colour-green;
  border-radius: 3px;
  color: $colour-white;
  font-weight: $font-weight-semiBold;
  height: auto;
  margin-top: ($spacing-unit * 4);
  padding: 8px 20px 5px 20px;
  font-size: 0.8rem;
}

.pending-check {
  color: $colour-green;
}

.check-circle-font-size {
  font-size: 2rem;
}

.credit-card-amex {
  width: 47px;
  aspect-ratio: 47/32;
  object-fit: contain;
}
