@import 'global-utilities';

.calibrated-label {
  @include font-size(16px);
  @include line-height(18px);
  color: $colour-white;
  float: right;
  margin-left: ($spacing-unit * 2);
  min-width: 60px;
  position: relative;
  text-align: center;
  vertical-align: top;
  z-index: 9;

  .calibrationService {
    @include line-height(27px);
    background: 0 0;
    border: ($spacing-unit - 3) solid $colour-black;
    border-radius: 0;
    display: block;
    font-weight: $font-weight-semiBold;
    height: 27px;
    letter-spacing: 0.4px;
    padding: 0;
    width: 95px;
    text-transform: uppercase;
    white-space: nowrap;

    &__iso {
      @include font-size(13px);
      @include line-height(23px);
      background: $colour-black;
      color: $colour-white;
      float: left;
      height: 25px;
      width: 28px;
    }

    &__text {
      @include font-size(11px);
      @include line-height(23px);
      background: $colour-white;
      box-sizing: border-box;
      color: $colour-black;
      float: right;
      text-transform: none;
    }
  }
}
