@import 'global-utilities';

.ch__component {
  &__selections {
    &__item {
      .cards {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing-unit * 4;
        margin-bottom: $spacing-unit * 3;
      }

      &--info {
        img {
          max-height: 24px;
        }
      }

      &--paymentdetails {
        margin-left: $spacing-unit-small * 6;
        text-transform: capitalize;
        font-weight: $font-weight-semiBold;
        @include font-size(14px);
        @include line-height(14px);
      }

      &.is-expired {
        background-color: $colour-white;
        cursor: not-allowed !important;
        order: 1;

        &:hover {
          border: 1px solid $ux-hover-state;
          box-shadow: none;
        }

        .is-expired-label {
          @include font-size(14px);
          padding: 0 ($spacing-unit + 3);
          border: 1px solid $ux-banner-danger-border;
          border-radius: 100px;
          background-color: $ux-red-danger-bg;
          color: $ux-banner-danger-color;
          pointer-events: none;
          font-weight: $font-weight-normal;
          margin-left: $spacing-unit * 2 + 2;

          @include tabletDown {
            align-self: flex-start;
            margin-top: $spacing-unit + 3;
            margin-left: 0;
          }
        }

        .ch__component__selections__item--paymentdetails {
          color: $ux-outline-hover;
        }
      }
    }

    &__card {
      @include font-size(14px);
      @include line-height(14px);
      @include transition(border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease);
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: ($spacing-unit * 3 + 1) ($spacing-unit * 4);
      border-radius: 4px;
      border: 1px solid $ux-outline;
      font-weight: $font-weight-semiBold;
      cursor: pointer;
      box-shadow: 0 2px 5px transparent;
      color: $ux-grey;

      &:not(.is-expired):hover {
        border: 1px solid $ux-green;
        background-color: $ux-green;
        box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
        color: $colour-white;
      }
      &:nth-child(n + 2) {
        @include mobileOnly {
          margin-top: $spacing-unit * 2;
        }
      }

      &.is-new-card {
        justify-content: center;
      }

      &.selected {
        background-color: $ux-green;
        box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
        cursor: auto;
        color: $colour-white;

        &,
        &:hover {
          border: 2px solid $ux-green;
        }
      }
    }
  }
}

.o-cr-radio-item__cc__cta {
  margin-left: auto;
  @include line-height(14px);

  button {
    &.ux-link {
      @include transition(opacity 0.3s ease);
      @include font-size(0px);
      position: relative;
      z-index: 4;
      height: auto;
      padding: 0;
      opacity: 1;
      &:hover {
        &,
        a {
          text-decoration: none !important;
        }
      }

      &:before {
        content: '';
        background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM9.17 12.59C8.78 12.2 8.78 11.57 9.17 11.18C9.56 10.79 10.19 10.79 10.58 11.18L12 12.59L13.41 11.18C13.8 10.79 14.43 10.79 14.82 11.18C15.21 11.57 15.21 12.2 14.82 12.59L13.41 14L14.82 15.41C15.21 15.8 15.21 16.43 14.82 16.82C14.43 17.21 13.8 17.21 13.41 16.82L12 15.41L10.59 16.82C10.2 17.21 9.57 17.21 9.18 16.82C8.79 16.43 8.79 15.8 9.18 15.41L10.59 14L9.17 12.59ZM18 4H15.5L14.79 3.29C14.61 3.11 14.35 3 14.09 3H9.91C9.65 3 9.39 3.11 9.21 3.29L8.5 4H6C5.45 4 5 4.45 5 5C5 5.55 5.45 6 6 6H18C18.55 6 19 5.55 19 5C19 4.45 18.55 4 18 4Z" fill="%23393E41"/></svg>');
        width: 24px;
        height: 24px;
        display: inline-block;
      }
    }
  }
}
