@import 'global-utilities';

.voucher-holder {
  display: block;
  float: left;
  padding: 0 !important;
  width: 100%;
  margin: $spacing-unit 0;

  &.extra-m {
    margin-bottom: $spacing-unit * 2;
  }

  &--title {
    @include font-size(14px);
    @include transition(background-color 0.2s ease);
    color: $link-blue;
    cursor: pointer;
    font-weight: $font-weight-bold;
    text-align: left !important;
    padding-left: 0 !important;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-box__voucher {
  @include font-size(14px);
  @include line-height(18px);

  &-code {
    display: inline-block;
    width: 100%;

    .voucher-code {
      position: absolute;
      padding: ($spacing-unit * 2) 0;
    }
  }

  &-info {
    float: left;
    font-weight: $font-weight-bold;
    @include font-size(13px);
    @include line-height(18px);
    margin: $spacing-unit * 2 0px;
    width: 100%;

    .icon-holder {
      max-width: 18px;
      width: 18px;

      .ng-fa-icon {
        color: $colour-green;
        padding-right: $spacing-unit;
        position: absolute;
      }
    }

    .voucher-info {
      padding-left: ($spacing-unit * 4);
    }
  }

  .btn {
    width: 35%;
    float: right !important;
  }
}

.form-box {
  align-items: center;
  display: flex;
  float: left;
  justify-content: space-between;
  width: 100%;
  padding-left: 0 !important;
  margin-bottom: $spacing-unit * 3;

  &__item {
    flex-grow: 1;

    &-input {
      @include font-size(12px);
      @include line-height(12px);

      border-radius: 2px;
      height: 40px;
      padding: 0 0 0 ($spacing-unit * 2);
      width: 100%;
      flex-grow: 1;
      border: 1px solid $border-dist-grey;
      vertical-align: middle;
      display: inline-block;
    }
  }

  &__action {
    flex-grow: unset;
    flex-shrink: 0;
    margin-left: $spacing-unit * 2;
    max-width: unset;
    min-width: 86px;
    width: auto;

    &-btn {
      @include font-size(12px);
      @include line-height(18px);
      color: $colour-black;
      border-radius: 2px;
      font-weight: $font-weight-bold;
      padding: ($spacing-unit * 2) $spacing-unit;
      background: #f69f1d;
      width: 100%;
    }
  }
}
