.mod-warning-component {
  float: left;
  position: relative;
  top: ($spacing-unit + 4);
  width: 100%;

  .md-system {
    float: left;
    width: 100%;

    .mod-global-messages {
      float: left;
      margin: 0 0 ($spacing-unit * 3);
      width: 100%;

      &:first-of-type {
        margin-top: ($spacing-unit * 3);
      }

      .bd {
        margin: 0;
      }

    }

  }

}
