.z-label, .z-radio-content, .z-checkbox-content,
.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox, .z-combobox-input {
    font-size: 8pt;
}

.yw-editor-area-main-content .z-groupbox-header .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .z-caption-content {
    font-size: 14px;
}

.z-listheader-content {
    font-size: 8pt;
}

.z-vfiletree .z-treecell {
    padding-top: 2px;
    padding-bottom: 2px;
}

.yw-coll-browser-container .z-listbox-body .z-listitem .z-listcell-content {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 21px;
}

div.ye-default-reference-editor-listbox span.z-label, div.ye-default-reference-editor-selected-listbox span.z-label {
    font-size: 8pt;
}

.z-combobox-input, .z-bandbox-input,
.z-datebox-input, .z-timebox-input,
.z-spinner-input, .z-doublespinner-input {
    font-size: 8pt;
}

.z-paging-select-input {
    height: 28px;
    width: 50px;
    text-align: center;
}

ul.z-paging-select-content > li {
    background-color: white;
}

ul.z-paging-select-content > li:hover {
    color: black;
}

.yw-modal-occ-coll-container[style] {
    width: 80% !important;
    left: 10% !important;
    height: 600px !important;
}

.ya-create-type-selector-popup {
    max-height: 100vh;
    overflow: auto;
}

.yw-referencesearch-collectionBrowser .yw-com_namics_distrelec_b2b_backoffice_collectionBrowser{
    margin-top: 50px;
}

.z-listbox-header table{
    min-width: 100%;
}

.z-listbox-body table {
    min-width: 100%;
}

div.ye-default-reference-editor-selected-listbox > div.z-listbox-body td.z-listcell:not(.ye-row-status) {
    padding-left: 10px;
    border-right: solid 1px #f2f2f2;
}

.yw-explorerTree-sideNavigation .z-treerow > .z-treecell .z-treecell-content {
    min-height: 28px;
    height: 28px;
    font-size: 12px;
}

.z-listitem-checkbox {
    height: 18px;
    width: 18px;
}

.z-listbox-body>table>colgroup>col:first-child {
    width: 20px;
}

.z-listbox-body>table>colgroup>col:nth-child(2) {
    width: 52px;
}