.mod-bom-saved-entries {

  .saved-bom-entries {

    &__body {
      float: left;
      margin: ($spacing-unit*6) auto;
      min-height: 500px;
      width: 100%;
    }

    &__filename {
      @include font-size(18px);
      display: inline-block;
      font-weight: bold;
      padding: $spacing-unit 0;
      width: calc(100% - 100px);
      word-break: break-all;
    }

    &__item {
      border-bottom: 1px solid $colour-mid-grey;
      clear: both;
      min-height: 65px;
      padding: ($spacing-unit*3);
      position: relative;

      &:first-of-type {
        border-top: 1px solid $colour-mid-grey;
        margin-top: ($spacing-unit*8);
      }

    }

    &__save-item {
      display: table;
      float: left;
      width: 80%;

      input,
      button {
        display: inline-block;
        height: 35px;
      }

      input {
        @include font-size(18px);
        border: none;
        border-bottom: 2px solid $colour-mid-grey;
        font-weight: bold;
        outline: none;
        padding: 0 ($spacing-unit*2) 0 0;
        width: 50%;
      }

      button {
        margin-left: $spacing-unit;
        padding: 0 ($spacing-unit*2);
        width: auto;
      }

    }

    .wrapper-dropdown {
      @include font-size(14px);
      background-color: $colour-pale-grey;
      display: inline-block;
      position: relative;

      &__top-item {
        display: inline-block;
        padding: $spacing-unit ($spacing-unit*2);

        &:hover {
          background-color: $colour-mid-grey;
        }

      }

      &__menu {
        border-left: 2px solid $colour-mid-grey;
        padding: $spacing-unit ($spacing-unit*2);

        .open-icon {
          display: none;
        }

      }

      button {
        height: auto;
        outline: none;

        i {
          margin: 0;
        }

      }

      .dropdown {
        background-color: $colour-white;
        border: 1px solid $colour-mid-grey;
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 9;

        li {

          &:hover {
            background-color: $colour-pale-grey;
            color: $colour-white;
          }

          button {
            height: auto;
            min-width: 120px;
            outline: none;
            padding: $spacing-unit*2;

            i {
              margin: 0;
            }

          }

        }

      }

      &.right {
        position: absolute;
        right: $spacing-unit*3;
      }

      &.active {

        .wrapper-dropdown {

          &__menu {
            background-color: $colour-mid-grey;

            .open-icon {
              display: inline-block;
            }

            .close-icon {
              display: none;
            }

          }

        }

        .dropdown {
          display: inline-block;
        }

      }

    }

  }

  .bs-modal {
    text-align: center;
  }

  .mod-global-messages {

    &.skin-global-messages-component {
      float: left;
      margin: ($spacing-unit*2) 0 ($spacing-unit*4);

      .messages-component {

        &__description {
          @include font-size(15px);
          color: $colour-dist-red;
          font-weight: bold;
          margin-top: $spacing-unit;
        }

      }


    }

  }

  .no-files-saved {
    margin-top: $spacing-unit * 3;
  }

}