@import '../../global/global.scss';

.nps-wrapper {
  .btn-scale {
    min-width: 44px;
    width: 6%;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-left: ($spacing-unit * 2);
    margin-top: ($spacing-unit * 2);
  }

  .btn-scale-asc-1,
  .btn-scale-desc-10 {
    background-color: #33ff00;
  }

  .btn-scale-asc-1:hover,
  .btn-scale-desc-10:hover {
    background-color: #2cde00;
  }

  .btn-scale-asc-2,
  .btn-scale-desc-9 {
    background-color: #66ff00;
  }

  .btn-scale-asc-2:hover,
  .btn-scale-desc-9:hover {
    background-color: #59de00;
  }

  .btn-scale-asc-3,
  .btn-scale-desc-8 {
    background-color: #99ff00;
  }

  .btn-scale-asc-3:hover,
  .btn-scale-desc-8:hover {
    background-color: #85de00;
  }

  .btn-scale-asc-4,
  .btn-scale-desc-7 {
    background-color: #ccff00;
  }

  .btn-scale-asc-4:hover,
  .btn-scale-desc-7:hover {
    background-color: #b1de00;
  }

  .btn-scale-asc-5,
  .btn-scale-desc-6 {
    background-color: #ffff00;
  }

  .btn-scale-asc-5:hover,
  .btn-scale-desc-6:hover {
    background-color: #dede00;
  }

  .btn-scale-asc-6,
  .btn-scale-desc-5 {
    background-color: #ffcc00;
  }

  .btn-scale-asc-6:hover,
  .btn-scale-desc-5:hover {
    background-color: #deb100;
  }

  .btn-scale-asc-7,
  .btn-scale-desc-4 {
    background-color: #ff9900;
  }

  .btn-scale-asc-7:hover,
  .btn-scale-desc-4:hover {
    background-color: #de8500;
  }

  .btn-scale-asc-8,
  .btn-scale-desc-3 {
    background-color: #ff6600;
  }

  .btn-scale-asc-8:hover,
  .btn-scale-desc-3:hover {
    background-color: #de5900;
  }

  .btn-scale-asc-9,
  .btn-scale-desc-2 {
    background-color: #ff3300;
  }

  .btn-scale-asc-9:hover,
  .btn-scale-desc-2:hover {
    background-color: #de2c00;
  }

  .btn-scale-asc-10,
  .btn-scale-desc-1 {
    background-color: #ff0000;
  }

  .btn-scale-asc-10:hover,
  .btn-scale-desc-1:hover {
    background-color: #de0000;
  }

  .btn-distrelec {
    max-width: 220px !important;
  }

  .unlikely {
    color: #de0000;
    font-weight: bold;
    margin-left: ($spacing-unit * 45);
    float: left;
  }

  .likely {
    color: #59de00;
    font-weight: bold;
    margin-right: ($spacing-unit * 40);
  }

  .activeScore {
    background-color: white !important;
    border: 1px solid;
  }
}
