@import 'global-utilities';

.resp-with-out-nav {
  // stylelint-disable-next-line
  input[type='radio'] {
    position: absolute;
    width: 1px;
  }

  .template--section {
    a {
      text-decoration: none;
    }
  }

  .page--template {
    .label-filter {
      margin-bottom: 0;
    }
  }

  .panel-image {
    width: 92% !important;

    ::after {
      background-size: auto !important;
    }
  }
}
