.mod-zeroresults {

  &__container {
    border-bottom: 1px solid $border-zeroresults-grey;
    clear: both;
    float: left;
    padding: ($spacing-unit * 10) 0;
    width: 100%;

    &__term {

      .title {
        @include font-size(24px);
        @include line-height(29px);
        display: inline-block;
        font-weight: 300;

        &--bold {
          font-weight: 600;
        }

        &--red {
          color: $colour-dist-red;
        }

      }

      a {
        @include font-size(14px);
        color: $link-blue;
        display: inline-block;
        margin-left: $spacing-unit * 2;
        text-decoration: underline;

        &:hover,
        &:focus {
          color: $link-dark-blue;
        }
      }

    }

    &__products {
      display: flex;
      flex-wrap: wrap;

      @media #{$ipad} {
        flex-wrap: nowrap;
      }

      .item {
        @include font-size(13px);
        padding: ($spacing-unit * 4) ($spacing-unit * 2);
        text-align: center;
        width: 50%;

        @media #{$ipad} {
          width: 25%;
          padding: ($spacing-unit * 8) ($spacing-unit * 4);
        }

        &__image {
          padding-bottom: ($spacing-unit * 4);

          img {
            margin: 0 auto;
          }

        }

        &__name {
          min-height: 80px;
          padding-bottom: ($spacing-unit * 4);
        }

        &__price {
          font-weight: 600;
        }

        &:first-of-type {
          padding-left: 0;
        }

        &:nth-child(2) {
          padding-right: 0;

          @media #{$ipad} {
            padding-right: $spacing-unit * 4;
          }
        }

        &:nth-child(3) {
          padding-left: 0;

          @media #{$ipad} {
            padding-left: $spacing-unit * 4;
          }
        }

        &:last-of-type {
          padding-right: 0;
        }

      }

    }

    &__button {
      @include font-size(15px);
      background-color: $colour-dist-red;
      color: $colour-white;
      font-weight: 400;
      padding: ($spacing-unit * 2) ($spacing-unit * 4);

      i {
        @include font-size(18px);
        display: inline-block;
        margin-left: ($spacing-unit * 2);
        margin-top: 0;
      }

      &:focus,
      &:hover,
      &:active {
        outline: none;
      }

    }

  }

}
