.mod-nextprev-matching-tool {

    .btn {
        position:absolute;
        top:550px;
        display:none;
        z-index: 900; // keep it on top, even on ipad
    }
    .active {
        .btn { 
            display:block; 
        }
    }


    .arrow_prev {
        .btn {
            .s-flaps-prev-blue();
            left:0;
            &:hover {
                .s-flaps-prev-grey();
            }
        }
    }

    .arrow_next {
        .btn {
            .s-flaps-next-blue();
            right:0;
            &:hover {
                .s-flaps-next-grey();
            }

        }
    }
}
