@import 'global-utilities';

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-content: center;
  align-items: center;
  align-self: stretch;
  min-height: 24px;

  .crumb {
    &-link {
      @include typography-ui-xs;

      margin-right: ($spacing-unit - 1);
      font-weight: $font-weight-medium;
      color: $ux-text-default;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
