<div class="breadcrumbs" [id]="breadcrumbsContainerID">
  <div
    *ngFor="let breadcrumb of breadcrumbsArray; let last = last; let i = index"
    class="crumb d-flex align-items-baseline"
  >
    <a
      class="crumb-link"
      [id]="crumbLinkID + i"
      [absoluteRouterLink]="breadcrumb.url"
      [queryParams]="breadcrumb?.queryParams"
    >
      <span [id]="crumbNameID + i">{{ breadcrumb.name }}</span>
    </a>
    <app-icon [icon]="caretRight" [class.invisible]="last" size="md"></app-icon>
  </div>
</div>
