/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-id-pattern, selector-max-id, no-descending-specificity */
@import 'global-utilities';

.content-page {
  z-index: 1;

  h1 {
    @include font-size(28px);
    @include line-height(34px);

    margin-bottom: ($spacing-unit * 2 + 2);
    font-weight: $font-weight-light;
    color: $colour-red;
  }

  select {
    @include font-size(14px);
    @include line-height(18px);

    display: inline-block;
    padding: ($spacing-unit + 1) ($spacing-unit + 3);
    vertical-align: middle;
    border: 1px solid #ccc;
  }

  .hidden {
    display: none;
  }

  h2 {
    @include font-size(25px);
    @include line-height(28px);

    margin-top: ($spacing-unit * 5);
    margin-bottom: ($spacing-unit * 2);
    font-weight: $font-weight-light;
    color: $colour-red;
  }

  h3 {
    @include font-size(18px);
    @include line-height(22px);

    margin-top: ($spacing-unit * 4 + 3);
    margin-bottom: ($spacing-unit * 4);
    font-weight: $font-weight-semiBold;
    color: $colour-red;
  }

  ol {
    padding-left: ($spacing-unit * 2);
    margin: ($spacing-unit * 4) 0;
  }

  li {
    margin: ($spacing-unit - 3) ($spacing-unit + 1);
  }

  strong {
    font-style: normal;
    font-weight: $font-weight-semiBold;
  }

  table {
    border-collapse: collapse;
  }

  p {
    @include line-height(24px);

    margin: 0 0 ($spacing-unit * 4) 0;
  }

  a {
    @include font-size(15px);
    @include line-height(18px);

    font-weight: $font-weight-semiBold;
    color: $colour-black;
  }

  app-simple-banner {
    width: 100%;

    .simple-banner {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  cx-paragraph {
    p {
      a {
        text-decoration: underline;

        &:hover {
          color: inherit;
          transition: none;
        }
      }
    }
  }

  app-dist-component-group {
    width: 100%;

    .parallax {
      width: 100%;
      margin: ($spacing-unit * 3) 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &__bgr-img {
        &--wrapper {
          background: none;
        }
      }
    }

    .heading-parallax-logo {
      @include font-size(20px);
      @include line-height(34px);

      margin: ($spacing-unit * 3) 0 ($spacing-unit * 2) 0;
      font-weight: $font-weight-bold;
      color: $colour-dark-grey;

      @media #{$ipad} {
        @include font-size(28px);
        @include line-height(34px);

        margin: ($spacing-unit * 5) 0;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .panel--link {
      &:hover {
        color: $colour-black;
      }
    }
  }

  app-dist-banner {
    .banner-normal {
      padding: 0;
    }
  }

  owl-carousel-o {
    position: relative;
    z-index: 1;
  }

  .owl-carousel {
    position: relative;
    left: auto;
    z-index: -1;
    display: block;
    width: 100%;
    margin-top: 0;
    transform: none;

    .owl-nav {
      top: auto;
      bottom: 40px;

      @media #{$ipad-landscape} {
        top: calc(50% - 33px);
        bottom: auto;
      }

      .owl-prev {
        left: 0;

        @media #{$ipad-landscape} {
          left: -25px;
        }
      }

      .owl-next {
        right: 0;

        @media #{$ipad-landscape} {
          right: -25px;
        }
      }
    }

    .owl-item {
      cursor: pointer;
      transform: none;
    }

    .owl-stage-outer {
      transform: translate3d(0, 0, 0);
    }
  }

  app-with-navigation {
    cx-paragraph {
      a {
        &:link,
        &:visited {
          text-decoration: underline;
        }

        &:hover {
          color: inherit;
        }
      }
    }
  }

  .right-nav {
    .mod-nav-content {
      .accordion-item {
        padding: ($spacing-unit * 2) 0;
        margin: 0;
        background-color: $colour-strong-light-grey;
        border-top: $ux-light-grey solid 1px;
        border-bottom: $ux-light-grey solid 1px;

        &:first-child {
          border-bottom: 0;
        }

        &:last-child {
          border-top: 0;
        }

        .title {
          margin: $spacing-unit $spacing-unit ($spacing-unit * 2) ($spacing-unit * 4);
          font-weight: $font-weight-semiBold;
          text-decoration: none;
        }
      }

      .content-nav-ul {
        padding-left: 30px;
      }

      ul,
      li {
        list-style: none;
      }

      li {
        margin-bottom: $spacing-unit;
        margin-left: ($spacing-unit * 4);
      }

      .spring {
        ul {
          padding: 0;
        }

        a {
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }

  #webmerch_manu-grid {
    td {
      padding: 0;
    }
  }
}
