@import 'global-utilities';

.title {
  @include typography-display-xl;
  font-weight: $font-weight-normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $ux-spacing-unit * 8;
  padding-bottom: $ux-spacing-unit * 5;
  
}

.shopping-list-group {
  display: flex;
  align-items: center;
}

.list-label {
  @include  typography-text-sm();
  font-weight: $font-weight-medium;
  margin-bottom: 0;
}

ul {
  display: grid;
  gap: 12px;
}

.button-group {
  display: grid;
  gap: 8px;
}

.new-list {
  padding: $ux-spacing-unit * 5 0 $ux-spacing-unit * 5 0 ;
  margin: 0 2px;
}