<div class="checkout-footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <ul class="checkout-footer__cards-list">
          <ng-container *ngFor="let url of paymentIconUrls | async; let i = index">
            <li class="checkout-footer__cards-list__item">
              <img class="checkout-footer__cards-list__item__img" [id]="'checkoutFooterImg_' + (i + 1)" [src]="url" />
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="checkout-footer__security-note">
          <strong id="checkoutFooterSecureText">
            <app-icon
              class="is-angle-lock"
              [icon]="angleLock"
              iconAltText="angle lock icon"
              width="16px"
              height="21px"
            ></app-icon>
            {{ 'footer.checkout.paymentSecured' | cxTranslate }}
          </strong>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="checkout-footer__help" id="checkoutFooterHelpText">
          {{ 'footer.checkout.helpMessage' | cxTranslate }}
          <a routerLink="/cms/contact">{{ 'footer.checkout.helpLinkTitle' | cxTranslate }}</a>
          {{ 'footer.checkout.copyright' | cxTranslate: { year: currentYear } }}
        </div>
      </div>
    </div>
  </div>
</div>
