@import 'global-utilities';

.checkout-footer {
  padding: ($spacing-unit * 5) 0;
  color: $colour-dist-grey;
  background-color: $colour-white;
  text-align: center;

  @include tablet {
    border-top: 1px solid $ux-light-grey;
  }

  &__security-note {
    @include font-size(14px);

    @include tabletDown {
      margin-top: $spacing-unit;
    }

    @include tablet {
      padding-left: $spacing-unit * 2;
      text-align: left;
    }

    .is-angle-lock {
      display: inline-block;
      margin-right: $spacing-unit * 2;
    }
  }

  &__help {
    @include font-size(12px);
    padding-top: $spacing-unit * 2;
    font-weight: $font-weight-medium;

    @include tablet {
      padding-top: $spacing-unit * 4;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: darken($colour-redesign-light-grey, 10%);
      }
    }
  }

  &__cards-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include tablet {
      justify-content: flex-end;
      padding-right: $spacing-unit;
    }

    &__item {
      &__img {
        height: 46px;
        margin: $spacing-unit;
      }
    }
  }
}
